

.contactMessages{
	background:none;
}

#SetPaidForm{
	margin-top:0;
	margin-bottom:0;}
.quarter-side {
	width:23.5%;
	float:left;
	max-width:352px;
}
.quarter-side {
	margin:0 2% 0 0;
}
.quarter-side.last {
	margin:0;
	float:right
}
.text-center {
	text-align:center;
}
.case-1 {
	margin-bottom:7px;
	width:120px;
}
.half-side {
	width:48%;
}
.half-side.left {
	float:left;
}
.half-side.right {
	float:right;
}
.third-side {
	width:32%;
	/*max-width:352px;*/
	float:left;
}
.third-side.right {
	float:right;
}
.third-side.middle {
	margin:0 2%;
}
.third-quarter-side {
	width:65%;
	float:left;
}
.third-quarter-side.full {
	width:100%
}
.third-quarter-side.right {
	float:right;
}
.imgTable {
	width:100%;
	height:100%;
	display:table;
	text-align:center;
}
.imgCell {
	width:100%;
	height:100%;
	display:table-cell;
	vertical-align:middle;
}
.imgTable img {
	max-width:100%;
	max-height:100%;
}
.keyone-left {
	width:15%;
	float:left;
}
.keyone-right {
	width:83%;
	float:right;
}
.realEstateTabContainer {
	display:none;
}

.tr-sub-table table{
	}
	


/*fieldset {
	background:#eeeeee;
	padding:10px 3% 10px 1%;
}*/

/*fieldset legend {
	padding:0 1%;
	width:98%;
	background:#333333;
	color:#fff;
	margin-top:15px
}*/
ul.realestateTabs li {
	list-style:none;
}
ul.realestateTabs li a {
	width:96%;
	float:left;
	padding:10px 2%;
	border:1px solid #ccc;
}
.realestateTabs{
	margin:0;}
ul.realestateTabs li a:hover,
ul.realestateTabs li a.active {
	background:#d9edf7;
}
a {
	cursor:pointer;
}
.realestate-popup-form {
	width:96%;
	padding:0 2%;
	background:#eeeeee;
}

@media (max-width: 1450px) {
}
@media (max-width: 1300px) {


}
@media (max-width: 1250px) {
}
@media (max-width: 1200px) {
}
 @media (max-width: 1120px) {
}
 @media (max-width: 1024px) {

}
@media (max-width: 960px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 800px) {
.row {
 margin-bottom:20px;
}
}
@media screen and (max-width: 760px) {
 .third-side {
 width:100%;
 margin:5px 0;
}
 .third-side.middle {
 width:100%;
 margin:5px 0;
}
.third-quarter-side {
 width:100%
}
.third-quarter-side.right {
 margin-top:15px;
}
.quarter-side {
 width:48%;
 margin:15px 1% !important;
}
 .half-side {
 width:100%;
}
.quarter-side {
 width:100%;
 float:none !important;
 margin:15px auto !important;
}

/**********************************/
}
@media screen and (max-width: 610px) {

}
@media screen and (max-width: 500px) {

}
@media screen and (max-width: 460px) {

}
@media screen and (max-width: 350px) {
}
