{% import '_macros/__forms.twig' as forms %}

{{ listingFilters.start({
  'FORM_ACTION':  links.messagesListing.URL ~ (debug ? '?debug=1')
}) }}

  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'text',
      'SIZE': 'm',
      'PLACEHOLDER': 'Search by Trade Name',
      'LABEL': 'Trade Name',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true,
      'NAME': 'Search[trading_name]',
      'VALUE': data.filters.current.trading_name
    }) }}
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'text',
      'SIZE': 'm',
      'PLACEHOLDER': 'Search by Contact Person',
      'LABEL': 'Contact Person',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true,
      'NAME': 'Search[name]',
      'VALUE': data.filters.current.name
    }) }}
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'text',
      'SIZE': 'm',
      'PLACEHOLDER': 'Search by Email',
      'LABEL': 'Email',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true,
      'NAME': 'Search[email]',
      'VALUE': data.filters.current.email
    }) }}
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'select',
      'SIZE': 'm',
      'PLACEHOLDER': 'Filter by Brand',
      'LABEL': 'Brand',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true,
      'NAME': 'Search[id_brands]',
      'options': data.filters.possible.brands
    }) }}
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'select',
      'SIZE': 'm',
      'NAME': 'status',
      'PLACEHOLDER': 'Filter by Read/Unread',
      'LABEL': 'Read/Unread',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true,
      'NAME': 'Search[readed]',
      'options': data.filters.possible.status
    }) }}
  </div>

{{ listingFilters.end({
  'actions': {
    'FILTER_BUTTON': true,
    'RESET_HREF': links.messagesListing.URL ~ '?resetFilters=1'
  }
}) }}
