{% extends '_layouts/_default.twig' %}
{% import '_macros/__listing-filters.twig' as listingFilters %}
{% import '_macros/__listing-table.twig' as listingTable %}

{% block content %}
  <div class="container  [ margin-top--20 margin-bottom--30 ]">
    {% include 'messagesListingPage/_filters.twig' %}
  </div>

  <div class="container  margin-top--20">
    {{ listingTable.listingHeader({
      'TABLE_ID': 'listingTable',
      'TITLE': seo.PAGE_TITLE,
      'pagination': pagination
    }) }}
      {{ listingTable.table({
        'TABLE_ID': 'listingTable',
        'structure': [
          { 'HEADER_CONTENT': 'Trade Name' },
          { 'HEADER_CONTENT': 'Contact Person' },
          {
            'TYPE': 'email',
            'HEADER_CONTENT': 'Email'
          },
          { 'HEADER_CONTENT': 'Brand Name' },
          {
            'TYPE': 'datetime',
            'HEADER_CONTENT': 'Date/Time Created'
          },
          {
            'TYPE': 'status-message',
            'HEADER_CONTENT': 'Status'
          },
          {
            'TYPE': 'icon-actions',
            'HEADER_CONTENT': 'Actions',
            'actions': [
              {
                'HREF': '#',
                'LABEL': 'View',
                'iconClasses': [
                  'icon--white',
                  'icon--eye'
                ],
                'classes': [
                  'js-md-open',
                  'js-mark__trigger-read'
                ],
                'data': {
                  'md-id': 'messageView',
                  'md-ac-url': links.messageModal.URL ~ '/${rowId}'
                }
              },
              {
                'classes': [
                  'js-mark__trigger-unread',
                  'js-mark__read',
                  'soft-hide'
                ],
                'HREF': '#',
                'LABEL': 'Mark as unread',
                'iconClasses': [
                  'icon--white',
                  'icon--envelope'
                ]
              },
              {
                'classes': [
                  'js-mark__trigger-read',
                  'js-mark__unread',
                  'soft-hide'
                ],
                'HREF': '#',
                'LABEL': 'Mark as read',
                'iconClasses': [
                  'icon--white',
                  'icon--envelope-open'
                ]
              },
              {
                'classes': [],
                'HREF': links.messageDelete.URL ~ '/${rowId}',
                'LABEL': 'Delete',
                'iconClasses': [
                  'icon--white',
                  'icon--x',
                  'icon--10'
                ],
                'CONFIRM_MSG': 'Are you sure you want to delete this message? This cannot be undone.'
              }
            ]
          }
        ],
        'data': data.info
      }) }}
    {{ listingTable.listingFooter({
      'TABLE_ID': 'listingTable',
      'pagination': pagination
    }) }}
  </div>
{% endblock %}

{% block modals %}
  {{ parent() }}
  {% include '_modals/_message-view.twig' %}
{% endblock %}
