<!-- ########################
# 
# #Block buttons
#
######################### -->
<a name="buttonsBlock" id="buttonsBlock" class="test-anchor"></a>
<p class="text--h3">Block buttons</p>
<p class="margin-top--10">If needed, you can easily convert a button to a `block` element with a <code class="text--nowrap">.btn--block</code> class. Side paddings are set to <code>0</code> when using this class.</p>

<blockquote class="test-code-example">
	<button class="btn btn--l btn--primary btn--block">Block button</button>
</blockquote>

<pre class="test-code-container"><code class="html">
&lt;button class="btn btn--l btn--primary btn--block"&gt;Block button&lt;/button&gt;

</code></pre>
