<!-- ########################
# 
# #Disabled buttons
#
######################### -->
<a name="buttonsDisabled" id="buttonsDisabled" class="test-anchor"></a>
<p class="text--h3">Disabled buttons</p>
<p class="margin-top--10">There are several ways to disable a button:</p>

<blockquote class="test-code-example">
	<button class="btn btn--l btn--primary is-disabled">Disabled button</button>
	<br><br>
	<button class="btn btn--l btn--primary" disabled>Disabled button</button>
	<br><br>
	<div class="has-disabled">
		<button class="btn btn--l btn--primary">Disabled button</button>
	</div>
	<br>
	<div class="is-disabled">
		<button class="btn btn--l btn--primary">Disabled button</button>
	</div>
	<br>
	<fieldset disabled>
		<button class="btn btn--l btn--primary">Disabled button</button>
	</fieldset>
	<br>
	<button class="btn btn--l btn--primary is-disabled">
		<span>Disabled button with an icon</span>
		<span class="icon icon--test icon--white"></span>
	</button>
	<br><br>
	<button class="btn btn--l btn--transparent is-disabled">Transparent disabled button</button>
	<br><br>
	<p>Lorem ipsum dolor <button class="btn btn--link is-disabled">button imitating a link disabled</button> sit amet dolor.</p>
</blockquote>

<pre class="test-code-container"><code class="html">
&lt;button class="btn btn--l btn--primary is-disabled"&gt;Disabled button&lt;/button&gt;

&lt;button class="btn btn--l btn--primary" disabled&gt;Disabled button&lt;/button&gt;

&lt;div class="has-disabled"&gt;
  &lt;button class="btn btn--l btn--primary"&gt;Disabled button&lt;/button&gt;
&lt;/div&gt;

&lt;div class="is-disabled"&gt;
  &lt;button class="btn btn--l btn--primary"&gt;Disabled button&lt;/button&gt;
&lt;/div&gt;

&lt;fieldset disabled&gt;
  &lt;button class="btn btn--l btn--primary"&gt;Disabled button&lt;/button&gt;
&lt;/fieldset&gt;

&lt;button class="btn btn--l btn--primary is-disabled"&gt;
  &lt;span&gt;Disabled button with an icon&lt;/span&gt;
  &lt;span class="icon icon--test icon--white"&gt;&lt;/span&gt;
&lt;/button&gt;

&lt;button class="btn btn--l btn--transparent is-disabled"&gt;Transparent disabled button&lt;/button&gt;

&lt;p&gt;Lorem ipsum dolor &lt;button class="btn btn--link is-disabled"&gt;button imitating a link disabled&lt;/button&gt; sit amet dolor.&lt;/p&gt;

</code></pre>

<div class="alert alert--info">When a button is disabled, all its icons are removed.</div>
