<!-- ########################
# 
# #Icons on buttons
#
######################### -->
<a name="buttonsIcons" id="buttonsIcons" class="test-anchor"></a>
<p class="text--h3">Icons on buttons</p>
<p class="margin-top--10">When adding an icon to the button, wrap the text node in a <code class="text--nowrap">&lt;span&gt;</code> or any other inline tag. For each button size, button's padding as well as icon padding are adjusted to make it all look nice.</p>
<blockquote class="test-code-example">
	<button class="btn btn--primary btn--l">
		<span class="icon icon--test icon--white"></span><span>Large button with icon on the left</span>
	</button>
	<br><br>
	<button class="btn btn--primary btn--l">
		<span>Large button with icon on the right</span><span class="icon icon--test icon--white"></span>
	</button>
	<br><br>
	<button class="btn btn--primary btn--l">
		<span class="icon icon--test icon--white"></span><span>Large button with icons on both sides</span><span class="icon icon--test icon--white"></span>
	</button>
	<br><br>
	<p>Lorem ipsum dolor <button class="btn btn--link"><span>button imitating a link with an icon</span><span class="icon icon--test icon--primary"></span></button> sit amet dolor.</p>

	<br><br>

	<button class="btn btn--primary btn--m">
		<span class="icon icon--test icon--white"></span><span>Medium button with icon on the left</span>
	</button>
	<br><br>
	<button class="btn btn--primary btn--m">
		<span>Medium button with icon on the right</span><span class="icon icon--test icon--white"></span>
	</button>
	<br><br>
	<button class="btn btn--primary btn--m">
		<span class="icon icon--test icon--white"></span><span>Medium button with icons on both sides</span><span class="icon icon--test icon--white"></span>
	</button>

	<br><br>

	<button class="btn btn--primary btn--s">
		<span class="icon icon--test icon--white"></span><span>Small button with icon on the left</span>
	</button>
	<br><br>
	<button class="btn btn--primary btn--s">
		<span>Small button with icon on the right</span><span class="icon icon--test icon--white"></span>
	</button>
	<br><br>
	<button class="btn btn--primary btn--s">
		<span class="icon icon--test icon--white"></span><span>Small button with icons on both sides</span><span class="icon icon--test icon--white"></span>
	</button>
</blockquote>

<div class="alert alert--info">
	<strong>Note:</strong> this arrow: ← indicates that this and prepending lines should be joined in your source code with <strong>no</strong> whitespace between the tags. <strong>E.g.</strong> if you see:
<pre>
&lt;span&gt;line 1&lt;/span&gt;
  ←&lt;span&gt;line 2&lt;/span&gt;
</pre>
	then you should use it in your code like this: <code class="text--nowrap">&lt;span&gt;line 1&lt;/span&gt;&lt;span&gt;line 2&lt;/span&gt;</code><br>Here these lines are broken to increase code readability.
</div>

<pre class="test-code-container"><code class="html">
&lt;button class="btn btn--primary btn--l"&gt;
  &lt;span class="icon icon--test icon--white"&gt;&lt;/span&gt;
  ←&lt;span&gt;Large button with icon on the left&lt;/span&gt;
&lt;/button&gt;

&lt;button class="btn btn--primary btn--l"&gt;
  &lt;span&gt;Large button with icon on the right&lt;/span&gt;
  ←&lt;span class="icon icon--test icon--white"&gt;&lt;/span&gt;
&lt;/button&gt;

&lt;button class="btn btn--primary btn--l"&gt;
  &lt;span class="icon icon--test icon--white"&gt;&lt;/span&gt;
  ←&lt;span&gt;Large button with icons on both sides&lt;/span&gt;
  ←&lt;span class="icon icon--test icon--white"&gt;&lt;/span&gt;
&lt;/button&gt;



&lt;button class="btn btn--primary btn--m"&gt;
  &lt;span class="icon icon--test icon--white"&gt;&lt;/span&gt;
  ←&lt;span&gt;Medium button with icon on the left&lt;/span&gt;
&lt;/button&gt;

&lt;button class="btn btn--primary btn--m"&gt;
  &lt;span&gt;Medium button with icon on the right&lt;/span&gt;
  ←&lt;span class="icon icon--test icon--white"&gt;&lt;/span&gt;
&lt;/button&gt;

&lt;button class="btn btn--primary btn--m"&gt;
  &lt;span class="icon icon--test icon--white"&gt;&lt;/span&gt;
  ←&lt;span&gt;Medium button with icons on both sides&lt;/span&gt;
  ←&lt;span class="icon icon--test icon--white"&gt;&lt;/span&gt;
&lt;/button&gt;



&lt;button class="btn btn--primary btn--s"&gt;
  &lt;span class="icon icon--test icon--white"&gt;&lt;/span&gt;
  ←&lt;span&gt;Small button with icon on the left&lt;/span&gt;
&lt;/button&gt;

&lt;button class="btn btn--primary btn--s"&gt;
  &lt;span&gt;Small button with icon on the right&lt;/span&gt;
  ←&lt;span class="icon icon--test icon--white"&gt;&lt;/span&gt;
&lt;/button&gt;

&lt;button class="btn btn--primary btn--s"&gt;
  &lt;span class="icon icon--test icon--white"&gt;&lt;/span&gt;
  ←&lt;span&gt;Small button with icons on both sides&lt;/span&gt;
  ←&lt;span class="icon icon--test icon--white"&gt;&lt;/span&gt;
&lt;/button&gt;

</code></pre>

<div class="alert alert--warning">The part with arrow signs (← - line join indicator) <strong>is crucial</strong> as long as you use <code class="text--nowrap">text-decoration:underline</code> property for any of the button's states. If you <strong>do not</strong> use <code class="text--nowrap">text-decoration:underline</code> in any of the button's states (excluding the .btn--link variant), you are safe to leave these lines separate.</div>

<div class="alert alert--info">Icons "wrapped" around with text are not supported by default.</div>

<div class="alert alert--info">Icons are used as standard inline-block elements, with only their left/right margins adjusted. You can set any icon size with an <a href="#icons">icon modifier class</a> freely.</div>
