<!-- ########################
# 
# #Loaders on buttons
#
######################### -->
<a name="buttonsLoaders" id="buttonsLoaders" class="test-anchor"></a>
<p class="text--h3">Loaders on buttons</p>
<p class="margin-top--10">Loaders on buttons act the same way as <a href="#buttonsIcons">icons</a>. For reference on loaders usage, please see <a href="#loaders">loaders section</a>.</p>
