<!-- ########################
# 
# #Loading time
#
######################### -->
<a name="buttonsLoading" id="buttonsLoading" class="test-anchor"></a>
<p class="text--h3">Buttons during loading time</p>
<p class="margin-top--10">You can disable button <code class="text--nowrap">pointer-events</code>, but with no visual effect in one of the following ways:</p>

<blockquote class="test-code-example">
	<button class="btn btn--l btn--primary is-loading">Button in `loading` state</button>
	<br><br>
	<div class="has-loading">
		<button class="btn btn--l btn--primary">Button in `loading` state</button>
	</div>
	<br>
	<div class="is-loading">
		<button class="btn btn--l btn--primary">Button in `loading` state</button>
	</div>
	<br>
	<button class="btn btn--l btn--primary is-loading">
		<span>Button in `loading` state with an icon</span><span class="icon icon--test icon--white"></span>
	</button>
</blockquote>

<pre class="test-code-container"><code class="html">
&lt;button class="btn btn--l btn--primary is-loading"&gt;Button in `loading` state&lt;/button&gt;

&lt;div class="has-loading"&gt;
  &lt;button class="btn btn--l btn--primary"&gt;Button in `loading` state&lt;/button&gt;
&lt;/div&gt;

&lt;div class="is-loading"&gt;
  &lt;button class="btn btn--l btn--primary"&gt;Button in `loading` state&lt;/button&gt;
&lt;/div&gt;

&lt;button class="btn btn--l btn--primary is-loading"&gt;
  &lt;span&gt;Button in `loading` state with an icon&lt;/span&gt;
  ←&lt;span class="icon icon--test icon--white"&gt;&lt;/span&gt;
&lt;/button&gt;

</code></pre>
