<!-- ########################
# 
# #Button sizes
#
######################### -->
<a name="buttonsSizes" id="buttonsSizes" class="test-anchor"></a>
<p class="text--h3">Button sizes</p>

<blockquote class="test-code-example">
	<button class="btn btn--primary">Button without a size</button>
	<br><br>
	<button class="btn btn--primary btn--l">Button size `l`</button>
	<br><br>
	<button class="btn btn--primary btn--m">Button size `m`</button>
	<br><br>
	<button class="btn btn--primary btn--s">Button size `s`</button>
</blockquote>

<pre class="test-code-container"><code class="html">
&lt;button class="btn btn--primary"&gt;Button without a size&lt;/button&gt;

&lt;button class="btn btn--primary btn--l"&gt;Button size `l`&lt;/button&gt;

&lt;button class="btn btn--primary btn--m"&gt;Button size `m`&lt;/button&gt;

&lt;button class="btn btn--primary btn--s"&gt;Button size `s`&lt;/button&gt;

</code></pre>

<div class="alert alert--info">Button sizing does not work with <code class="text--nowrap">.btn--link</code> variant.</div>
