<!-- ########################
# 
# #Tags
#
######################### -->
<a name="buttonsTags" id="buttonsTags" class="test-anchor"></a>
<p class="text--h3">Available tags: <code class="text--nowrap">&lt;button&gt;</code> & <code class="text--nowrap">&lt;a&gt;</code></p>
<p class="margin-top--10">You can use both <code class="text--nowrap">&lt;button&gt;</code> & <code class="text--nowrap">&lt;a&gt;</code> tags to construct a button.</p>

<blockquote class="test-code-example">
	<button class="btn btn--l btn--primary">I am a `button`</button>
	<br><br>
	<a href="#" class="btn btn--l btn--primary">I am an `a` tag</a>
</blockquote>

<pre class="test-code-container"><code class="html">
&lt;button class="btn btn--l btn--primary"&gt;I am a `button`&lt;/button&gt;

&lt;a href="#" class="btn btn--l btn--primary"&gt;I am an `a` tag&lt;/a&gt;

</code></pre>
