<!-- ########################
# 
# #Text modifiers
#
######################### -->
<a name="buttonsText" id="buttonsText" class="test-anchor"></a>
<p class="text--h3">Button text modifiers</p>
<p class="margin-top--10">Most of regular text modifiers work for buttons as well. A few examples below.</p>

<blockquote class="test-code-example">
	<button class="[ btn btn--l btn--primary ]  text--uppercase">Uppercase modifier</button>
	<br><br>
	<button class="[ btn btn--l btn--primary ]  text--bold">Bold modifier</button>
	<br><br>
	<button class="[ btn btn--l btn--primary ]"><strong>Bold using &lt;strong&gt; tag</strong></button>
	<br><br>
	<button class="[ btn btn--l btn--primary ]  text--nooverflow">Button with text longer than it's width (check on small viewport)</button>
</blockquote>

<pre class="test-code-container"><code class="html">
&lt;button class="[ btn btn--l btn--primary ]  text--uppercase"&gt;Uppercase modifier&lt;/button&gt;

&lt;button class="[ btn btn--l btn--primary ]  text--bold"&gt;Bold modifier&lt;/button&gt;

&lt;button class="[ btn btn--l btn--primary ]"&gt;&lt;strong&gt;Bold using &amp;lt;strong&amp;gt; tag&lt;/strong&gt;&lt;/button&gt;

&lt;button class="[ btn btn--l btn--primary ]  text--nooverflow"&gt;Button with text longer than it's width (check on small viewport)&lt;/button&gt;

</code></pre>
