<!-- ########################
# 
# #Button variants
#
######################### -->
<a name="buttonsVariants" id="buttonsVariants" class="test-anchor"></a>
<p class="text--h3">Button variants</p>
<p class="margin-top--10">Default <code class="text--nowrap">font-weight</code> for buttons is <code class="text--nowrap">normal</code>. Check how these buttons render with element inspector.</p>

<blockquote class="test-code-example">
	<button class="btn btn--l btn--primary">Button primary</button>
	<br><br>
	<button class="btn btn--l btn--secondary">Button secondary</button>
	<br><br>
	<button class="btn btn--l btn--transparent">Transparent - keeps vertical size</button>
	<br><br>
	<p>Lorem ipsum dolor <button class="btn btn--link">button imitating a link</button> sit amet dolor.</p>
</blockquote>

<pre class="test-code-container"><code class="html">
&lt;button class="btn btn--l btn--primary"&gt;Button primary&lt;/button&gt;

&lt;button class="btn btn--l btn--secondary"&gt;Button secondary&lt;/button&gt;

&lt;button class="btn btn--l btn--transparent"&gt;Transparent - keeps vertical size&lt;/button&gt;

&lt;p&gt;Lorem ipsum dolor &lt;button class="btn btn--link"&gt;button imitating a link&lt;/button&gt; sit amet dolor.&lt;/p&gt;

</code></pre>
