/*

Theme Name: Bridge Child

Theme URI: http://demo.qodeinteractive.com/bridge/

Description: A child theme of Bridge Theme

Author: Qode Interactive

Author URI: http://www.qodethemes.com/

Version: 1.0.0

Template: bridge

*/

@import url("../bridge/style.css");



.blog_holder.masonry article .post_image{

	width:40%;

	max-width:165px;

	display:inline-block;

	vertical-align:top;

	margin-bottom:10px;

}

.blog_holder.masonry article .post_text{

	width:55%;

	width: calc(100% - 170px);

	width: -webkit-calc(100% - 170px);

    width: -moz-calc(100% - 170px);

    width: calccalc(100% - 170px);

	display:inline-block;

	vertical-align:top;

}

.blog_holder.masonry article{

	border-bottom:1px solid #c1c1c1;

}

.blog_holder.masonry article .post_info, .blog_holder.masonry_full_width article .post_info{

	margin:0;

	/*color:#84ddfd;*/
	color:#d11e4d;

}

.blog_holder.masonry article .post_text .post_text_inner, .blog_holder.masonry_full_width article .post_text .post_text_inner{

	padding:0 15px;

}

.blog_holder.masonry article .post_text_inner p{

	line-height:17px;

	text-align:justify;

}

.blog_holder.masonry article .post_text_inner a{

	font-size:13px;

	/*color:#84ddfd !important;*/
	color:#d11e4d !important;

}

.blog_holder.masonry article .post_text_inner a:hover{

	text-decoration:underline;

}

.content .container .container_inner.default_template_holder, .content .container .container_inner.page_container_inner{

	padding-top:40px;

}

.blog_holder h1{

	font-size:18px;

	padding:0;

	margin:0;	

	color: #454545;

	font-weight:600;

	text-transform:uppercase;

}

.blog_holder.blog_single article .post_image{

	margin-top:20px;

}

.middleSide{

	margin-left:0 !important;

}

.footerContent, .footer-blk{

	float:none !important;

}

.footer-blk{

	vertical-align:top;

	font-size:13px !important;

	font-style:normal !important;

}



.centered{

	width:1200px;

}

.footerContent{

	float:none !important;

	margin:0 auto !important;

}

.footer_wrapper{

	line-height: none;

}

.clear_both{

	line-height:0;

	height:0;

	font-size:0;

	clear:both;

}

.mainMenu_mob {

  display: none;

}

.mainMenu_mob {

  background: #ebebeb none repeat scroll 0 0;

  float: left;

  padding: 8px 0;

  width: 100%;

}

#text-7 a img, #text-8 a img{

	width:100%;

	height:auto;

}

.post_info{

	font-size:14px !important;

	font-style:normal !important;

}

.blog_holder.blog_single article .post_info .time{

	color:#84ddfd ;

}

.blog_holder.blog_single article .post_info{

	margin:0;

	color: #454545;

}

.blog_holder.blog_single article .post_info a{

	color: #454545;

}

.content{

	font-style:normal !important;

	line-height:inherit !important;

	margin-top: 0  !important;

}

i.icon {

  display: inline-block !important;

  height: auto !important;

  margin-left: 5px !important;

  vertical-align: middle !important;

  width: auto !important;

}



.post_image a {

	overflow:hidden;

}

.post_image a img {

	transition-delay: 0s;

	transition-duration: 0.4s;

	transition-property: all;

	transition-timing-function: ease;

	

	-webkit-transition-delay: 0s;

	-webkit-transition-duration: 0.4s;

	-webkit-transition-property: all;

	-webkit-transition-timing-function: ease;

	

	-moz-transition-delay: 0s;

	-moz-transition-duration: 0.4s;

	-moz-transition-property: all;

	-moz-transition-timing-function: ease;

	

	-ms-transition-delay: 0s;

	-ms-transition-duration: 0.4s;

	-ms-transition-property: all;

	-ms-transition-timing-function: ease;	

	

	-o-transition-delay: 0s;

	-o-transition-duration: 0.4s;

	-o-transition-property: all;

	-o-transition-timing-function: ease;

}

.post_image a:hover img {

	-webkit-transform: scale(1.1,1.1);

    -moz-transform: scale(1.1,1.1);

    -ms-transform: scale(1.1,1.1);

    -o-transform: scale(1.1,1.1);

    transform: scale(1.1,1.1);

}

.title .title_holder{

	padding-top:20px !important;

	padding-bottom:20px !important;

	background:#efefef  !important;

}

.post_info .back{

	float:right;

	color:#84ddfd;

}

.post_info .back a{

	display:inline-block !important;

	color:#84ddfd !important;

	cursor:pointer !important;

}

.post_info .back a:hover{

	color:#454545 !important;

	text-decoration:underline;

}

.single-post .blog_single p:last-child{

	text-align:justify;

}

.single_tags a{

	margin:3px;

}

a.button-facebook, a.button-googleplus, a.button-twitter, a.button-linkedin, a.button-pinterest, a.button-xing{

	color:#fff !important;

}

a.button-facebook:hover, a.button-googleplus:hover,, a.button-twitter:hover,, a.button-linkedin:hover,, a.button-pinterest:hover,, a.button-xing:hover,{

	text-decoration:underline !important;	

}

.single-post .blog_single p{

	text-align:justify;

}

.video{

	text-align:left !important;

}

.blog_holder.masonry:not(.blog_masonry_date_in_image) h5{

	min-height:56px;

}

.header_bottom{

	padding:0 20px;

}

@media screen and (max-width: 1024px) {

	.blog_holder.masonry article .post_text_inner p{

		min-height:80px;

	}

}

@media screen and (max-width: 1290px) {

	.blog_holder.masonry article .post_text{

		width:100%;

		padding-left:0;

		padding-right:0;

	}

	.blog_holder.masonry article .post_text .post_text_inner{

		padding-left:0;

		padding-right:0;

	}

	.blog_holder.masonry article .post_image{

		width:100%;

		max-width:100%;

	}

	.blog_holder.masonry article .post_image img{

		width:100%;

		height:auto;

	}

}