{% import '_macros/__loader.twig' as loader %}
<div class="[ modal modal--l modal--common-padding ]  js-md" data-md-id="buyerView">
  {# Closing button #}
  <button class="modal__closing-button  js-md-close">
    <span class="icon icon--10 icon--x icon--slate-light"></span>
  </button>

  <div class="modal-async-loader  soft-hide  has-loader  js-md-async-loader">
    {{ loader.create({
      'SIZE': 100,
      'COLOR': 'primary'
    }) }}
  </div>
  <div class="[ alert alert--danger ]  soft-hide  js-md-async-error">Something went wrong while loading buyer details. Please try again or contact support.</div>
  <div class="soft-hide  js-md-async-content"></div>
</div>
