<div class="[ modal modal--s modal--common-padding ]  js-md" data-md-id="soonInfoBrands">
  {# Closing button #}
  <button class="modal__closing-button  js-md-close">
    <span class="icon icon--10 icon--x icon--slate-light"></span>
  </button>

  <div class="margin-top--20">
    Very soon you will be able to schedule and feature your brands from your Dashboard.
  </div>

  <div class="text--center  margin-top--30">
    <button class="[ btn btn--m btn--secondary btn--outline ]  [ text--bold text--uppercase ]  js-md-close"><span class="icon icon--secondary icon--x icon--10"></span><span>Close</span></button>
  </div>
</div>
