{% extends '_layouts/_default.twig' %}
{% import '_macros/__forms.twig' as forms %}
{% import '_macros/__uploader.twig' as uploader %}

{% block content %}
  <div class="container">

    <div class="panel panel--content-padding-big  [ margin-top--20 margin-bottom--30 ]">
      <div class="panel__header">
        <h3 class="panel__title">Add Training</h3>
        <div class="panel__header-actions">
          <a class="[ btn btn--m btn--slate-light ]  [ text--uppercase text--bold ]" href="#"><span>Go to trainings list</span><span class="icon icon--white icon--wedge icon--cw-90"></span></a>
        </div>
      </div>
      <div class="panel__content">
        <fieldset>
          <legend class="bg--white">Training Details</legend>

          <div class="[ edit-layout edit-layout--multi-column edit-layout--image ]  margin-top--20">
            <div class="edit-layout__image-upload">
              {{ uploader.createImageUploader({
                'id': 'photo',
                'INPUT_NAME': 'photo',
                'LABEL': 'Photo',
                'IMG_PATH': 'http://placekitten.com/g/200/200',
                'PLACEHOLDER_LABEL': 'Training photo',
                'BUTTON_LABEL': 'Upload photo',
                'INSTRUCTIONS': 'The photo should be at least 500x500px, max. file weight 2MB. Allowed formats: JPG, PNG.'
              }) }}
            </div>
            <div class="edit-layout__content">

              <div class="row  [ width-lg--75 width-xl--65 ]">
                <div class="col-xs-12">

                  <div class="horizontal-form-group">
                    <label class="horizontal-form-group__label">Training Name:</label>
                    {{ forms.group({
                      'TYPE': 'text',
                      'SIZE': 'm',
                      'GROUP_WRAPPER': 'div',
                      'NAME': '',
                      'VALUE': ''
                    }) }}
                  </div>

                  <div class="horizontal-form-group">
                    <label class="horizontal-form-group__label">Duration:</label>
                    {{ forms.group({
                      'TYPE': 'text',
                      'SIZE': 'm',
                      'GROUP_WRAPPER': 'div',
                      'NAME': '',
                      'VALUE': ''
                    }) }}
                  </div>

                  <div class="horizontal-form-group">
                    <label class="horizontal-form-group__label">Related Product Name:</label>
                    {{ forms.group({
                      'TYPE': 'text',
                      'SIZE': 'm',
                      'GROUP_WRAPPER': 'div',
                      'NAME': '',
                      'VALUE': ''
                    }) }}
                  </div>


                  <div class="horizontal-form-group">
                    <label class="horizontal-form-group__label">Category:</label>
                    {{ forms.group({
                      'TYPE': 'select',
                      'SIZE': 'm',
                      'GROUP_WRAPPER': 'div',
                      'PLACEHOLDER': 'Select',
                      'NAME': '',
                      'options': []
                    }) }}
                  </div>

                  <div class="horizontal-form-group">
                    <label class="horizontal-form-group__label">Training Description:</label>
                    {{ forms.group({
                      'TYPE': 'textarea',
                      'SIZE': 'm',
                      'GROUP_WRAPPER': 'div',
                      'NAME': '',
                      'VALUE': ''
                    }) }}
                  </div>
                </div>
              </div>

            </div><!-- /.edit-layout__content -->
          </div><!-- /.edit-layout -->
        </fieldset>

        <div class="edit-actions">
          <div class="btn-group">
            <button class="[ btn btn--l btn--primary ]  [ text--uppercase text--bold ]"><span class="icon icon--white icon--tick"></span><span>Save changes</span></button>
            <button class="[ btn btn--l btn--secondary ]  [ text--uppercase text--bold ]"><span class="icon icon--white icon--x"></span><span>Cancel</span></button>
          </div>
        </div>

      </div>
    </div>

  </div>
{% endblock %}
