{% extends '_layouts/_default.twig' %}
{% import '_macros/__forms.twig' as forms %}

{% block sidebar %}
{% endblock %}

{% block header %}
{% endblock %}

{% block message %}
{% endblock %}

{% block content %}
  <div class="container  logreg">
    <div class="logreg__logo">
      <img class="logreg__logo-image" src="{{ attribute(BIACONFIG.build.img, 'spamiles-logo-primary.png') }}" alt="Spamiles">
    </div>

    {% include '_partials/_message.twig' %}

    <div class="[ panel panel--content-padding ]  logreg-panel">
      <div class="panel__header"><h3 class="panel__title">Forgotten password</h3></div>
      <div class="panel__content">
        {{ forms.start({
          'METHOD': 'post',
          'ACTION': links.forgottenPasswordView.URL ~ (debug ? '?debug=1')
        }) }}

          {{ forms.group({
            'TYPE': 'email',
            'SIZE': 'm',
            'ICON_LEFT': 'icon--envelope icon--slate-light',
            'PLACEHOLDER': 'Enter your email',
            'LABEL': 'Email',
            'NAME': 'email',
            'VALUE': data.email,
            'STATE': errors.email ? 'danger',
            'MSG': errors.email
          }) }}

          <div class="text--center">
            <button class="[ btn btn--m btn--primary ]  [ text--uppercase text--bold ]" type="submit"><span class="icon icon--white icon--tick"></span><span>Send request</span></button>
          </div>

          <div class="text--center  margin-top--20">
            <a href="/back_office">&laquo; Go back to login page</a>
          </div>
        {{ forms.end({}) }}
      </div>
    </div>
  </div>
{% endblock %}
