{% import '_macros/__menu.twig' as menu %}
<div class="site-wrapper__sidebar  js-site-sidebar  {{ BIACONFIG.state.IS_SITE_SIDEBAR_VISIBLE ? '' : 'is-hidden' }}">
  <div class="site-sidebar {# is-fixed #}">
    {% include '_partials/_profile-widget.twig' %}

    {{ menu.create('sidebar', _context) }}

    <img class="site-sidebar__logo" src="{{ attribute(BIACONFIG.build.img, 'spamiles-logo-white.png') }}" alt="Spamiles">
  </div>
</div>
