{% import '_macros/__menu.twig' as menu %}
<div class="site-header">
  <div class="site-header__group  [ visible-xs-block visible-sm-block ]">
    <img class="site-header__logo" src="{{ attribute(BIACONFIG.build.img, 'spamiles-logo-primary.png') }}" alt="Spamiles">
  </div>
  <div class="site-header__group  [ hidden-xs hidden-sm ]">
    <button class="[ site-sidebar-toggle site-sidebar-toggle--hide ]  [ btn btn--l btn--transparent btn--icon ]  js-tp  js-site-sidebar-toggle  {{ BIACONFIG.state.IS_SITE_SIDEBAR_VISIBLE ? '' : 'is-active' }}" data-tp-addClass="tp-white" data-tp-position="center bottom" data-tp-animation="move" data-tp-maxWidth="300" data-tp-content="Hide sidebar"><span class="icon icon--slate-light icon--outdent icon--25"></span></button>
    <button class="[ site-sidebar-toggle site-sidebar-toggle--show ]  [ btn btn--l btn--transparent btn--icon ]  js-tp  js-site-sidebar-toggle  {{ BIACONFIG.state.IS_SITE_SIDEBAR_VISIBLE ? '' : 'is-active' }}" data-tp-addClass="tp-white" data-tp-position="center bottom" data-tp-animation="move" data-tp-maxWidth="300" data-tp-content="Show sidebar"><span class="icon icon--slate-light icon--indent icon--25"></span></button>

    <a class="[ btn btn--l btn--slate-light btn--outline ]  [ text--uppercase text--bold ]  js-md-open" href="#" data-md-id="soonInfoBrands">Boost your brand</a>
    {# <a class="[ btn btn--l btn--primary btn--outline ]  [ text--uppercase text--bold ]" href="#">Boost your brand</a> #}
  </div>
  <div class="site-header__group">
    <nav class="header-nav  hidden-xs">
      <a class="header-nav__item  [ btn btn--l btn--transparent btn--icon ]  js-tp" data-tp-addClass="tp-white" data-tp-position="center bottom" data-tp-animation="move" data-tp-maxWidth="300" data-tp-content="SpamilesPRO" href="{{ externalLinks.spamilesPro.URL }}" target="_blank"><span class="icon icon--slate-light icon--globe icon--25"></span></a>
      {# <a class="header-nav__item  [ btn btn--l btn--transparent btn--icon ]  js-tp" data-tp-addClass="tp-white" data-tp-position="center bottom" data-tp-animation="move" data-tp-maxWidth="300" data-tp-content="Chat" href="#"><span class="icon icon--slate-light icon--chat icon--25"></span></a> #}
      {# <a class="header-nav__item  [ btn btn--l btn--transparent btn--icon ]  js-tp" data-tp-addClass="tp-white" data-tp-position="center bottom" data-tp-animation="move" data-tp-maxWidth="300" data-tp-content="Bell" href="#"><span class="icon icon--slate-light icon--bell icon--25"></span></a> #}
      <a class="header-nav__item  [ btn btn--l btn--transparent btn--icon btn--relative btn--ov-visible ]  js-tp" data-tp-addClass="tp-white" data-tp-position="center bottom" data-tp-animation="move" data-tp-maxWidth="300" data-tp-content="Messages" href="{{ links.messagesListing.URL }}"><span class="icon icon--slate-light icon--envelope icon--30"></span>{% if BIACONFIG.context.user.UNREAD_MESSAGES %}<span class="badge badge--tr bg--secondary">{{ BIACONFIG.context.user.UNREAD_MESSAGES|raw }}</span>{% endif %}</a>
    </nav>

    <div class="site-header__dropdown  [ dropdown dropdown--l dropdown--right ]  hidden-xs">
      <button class="dropdown__toggle">
        <span class="dropdown__toggle-flex-container">
          <img
            class="dropdown__toggle-avatar"
            src="{{ BIACONFIG.context.user.USER_AVATAR_URL ? BIACONFIG.context.user.USER_AVATAR_URL : attribute(BIACONFIG.build.img, 'user-avatar.svg') }}"
            alt=""
          >
          <span class="dropdown__toggle-text  [ text--slate text--bold text--kerning-wide ]">{{ BIACONFIG.context.user.FIRST_NAME|raw ~ ' ' ~ BIACONFIG.context.user.LAST_NAME|raw }}</span>
          <span class="dropdown__toggle-icon  [ icon icon--slate-light icon--triangle icon--cw-180 ]"></span>
        </span>
      </button>
      <div class="dropdown__items">
        <a class="dropdown__item  text--nowrap" href="{{ links.profileManage.URL }}"><span class="icon icon--slate-light icon--pencil icon--25"></span>Edit profile</a>
        <a class="dropdown__item  text--nowrap" href="{{ links.messagesListing.URL }}"><span class="badge-container"><span class="icon icon--slate-light icon--envelope icon--25"></span>{% if BIACONFIG.context.user.UNREAD_MESSAGES %}<span class="[ badge badge--tl bg--secondary ]  text--white">{{ BIACONFIG.context.user.UNREAD_MESSAGES|raw }}</span>{% endif %}</span>Messages</a>
        <a class="dropdown__item  text--nowrap" href="{{ links.logout.URL }}"><span class="icon icon--slate-light icon--o-logout icon--25"></span>Logout</a>
      </div>
    </div>

    <div class="site-header__dropdown  [ dropdown dropdown--l dropdown--right ]  [ hidden-md hidden-lg ]">
      <button class="dropdown__toggle">
        <span class="dropdown__toggle-flex-container">
          <span class="dropdown__toggle-icon  [ icon icon--slate-light icon--hamburger icon--25 ]"></span>
        </span>
      </button>

      <div class="dropdown__items">
        {# <a class="dropdown__item  text--nowrap  [ hidden-sm hidden-lg ]" href="#"><span class="icon icon--slate-light icon--globe"></span>Globe</a> #}
        {# <a class="dropdown__item  text--nowrap  [ hidden-sm hidden-lg ]" href="#"><span class="icon icon--slate-light icon--chat"></span>Chat</a> #}
        {# <a class="dropdown__item  text--nowrap  [ hidden-sm hidden-lg ]" href="#"><span class="icon icon--slate-light icon--bell"></span>Bell</a> #}
        <a class="dropdown__item  text--nowrap  [ hidden-sm hidden-lg ]" href="{{ links.messagesListing.URL }}"><span class="badge-container"><span class="icon icon--slate-light icon--envelope"></span>{% if BIACONFIG.context.user.UNREAD_MESSAGES %}<span class="[ badge badge--tl bg--secondary ]  text--white">{{ BIACONFIG.context.user.UNREAD_MESSAGES|raw }}</span>{% endif %}</span>Messages</a>
        {{ menu.create('dropdown', _context) }}
        <a class="dropdown__item  text--nowrap  [ hidden-sm visible-xs-block ]" href="{{ links.logout.URL }}"><span class="icon icon--slate-light icon--o-logout icon--25"></span>Logout</a>
      </div>
    </div>
  </div>
</div>
