<!-- ########################
# 
# #Alternative form group container
#
######################### -->
<a name="formsAlternativeContainer" id="formsAlternativeContainer" class="test-anchor"></a>
<p class="text--h3">Alternative form group container</p>
<p class="margin-top--10">If needed, you can render a form control in a <code>&lt;div&gt;</code> container instead of <code>&lt;label&gt;</code> container:</p>

<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text',
		'GROUP_WRAPPER': 'div'
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text',
  'GROUP_WRAPPER': 'div'
}) {{ '}}' }}
</code></pre>
