<!-- ########################
# 
# #Autofocus
#
######################### -->
<a name="formsAutofocus" id="formsAutofocus" class="test-anchor"></a>

<p class="text--h3">Setting form control's <code>autofocus</code> attribute</p>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text',
  'AUTOFOCUS': 'true'
}) {{ '}}' }}
</code></pre>

<div class="alert alert--warning"><strong>Note:</strong> the <code>autofocus</code> attribute <strong>is not supported</strong> in iOS.</div>

<div class="alert alert--info">Remember to use <code>autofocus</code> attribute only on one element visible on the screen.</div>
