<!-- ########################
# 
# #Autocomplete
#
######################### -->
<a name="formsAutocomplete" id="formsAutocomplete" class="test-anchor"></a>

<p class="text--h3">Setting text form control's <code>autocomplete</code> attribute</p>

<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text',
		'AUTOCOMPLETE': 'off'
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text',
  'AUTOCOMPLETE': 'off'
}) {{ '}}' }}

</code></pre>


<div class="alert alert--info">Because of Chrome weird implementation, you need a hack to prevent it from autocompleting form fields. You need to start whole form with an <code>autocomplete</code> attribute set to <code>off</code>. See comments in <code>start</code> macro in <strong>templates/_macros/__forms.twig</strong></div>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.start({
  'AUTOCOMPLETE': 'off'
}) {{ '}}' }}
</code></pre>
