<!-- ########################
# 
# #Setting additional control & form group classes
#
######################### -->
<a name="formsClasses" id="formsClasses" class="test-anchor"></a>

<p class="text--h3">Setting additional control & form group classes</p>
<p class="margin-top--10">You can set additional CSS class names to form control or whole form group container:</p>

<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, custom classes on input',
		'inputClasses': [
			'input-class-1',
			'input-class-2'
		]
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, custom classes on form-group',
		'groupClassess': [
			'group-class-1',
			'group-class-2'
		]
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, custom classes on input',
  'inputClasses': [
    'input-class-1',
    'input-class-2'
  ]
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, custom classes on form-group',
  'groupClassess': [
    'group-class-1',
    'group-class-2'
  ]
}) {{ '}}' }}

</code></pre>
