<!-- ########################
# 
# #Combined input group
#
######################### -->
<a name="formsCombinedInputGroup" id="formsCombinedInputGroup" class="test-anchor"></a>
<p class="text--h3">Combined input group</p>
<p class="margin-top--10">Works well for all text inputs (except for textareas) & select.</p>
<div class="alert alert--warning margin-top--10">Do <strong>not</strong> use labels for inputs grouped in combined group!</div>

<blockquote class="test-code-example">
	<div class="form-combined-group">
		{{ forms.group({
			'TYPE': 'text',
			'PLACEHOLDER': 'Input type=text, large, with combined button'
		}) }}
		<button class="btn btn--primary btn--l">Submit</button>
	</div>

	<div class="form-combined-group">
		{{ forms.group({
			'TYPE': 'text',
			'PLACEHOLDER': 'Input type=text, medium, with combined button',
			'SIZE': 'm'
		}) }}
		<button class="btn btn--primary btn--m">Submit</button>
	</div>

	<div class="form-combined-group">
		{{ forms.group({
			'TYPE': 'text',
			'PLACEHOLDER': 'Input type=text, small, with combined button',
			'SIZE': 's'
		}) }}
		<button class="btn btn--primary btn--s">Submit</button>
	</div>

	<br>

	<div class="form-combined-group">
		{{ forms.group({
			'TYPE': 'select',
			'PLACEHOLDER': 'Select, large, with combined button',
			'options': []
		}) }}
		<button class="btn btn--primary btn--l">Submit</button>
	</div>

	<br>

	<div class="form-combined-group">
		{{ forms.group({
			'TYPE': 'text',
			'PLACEHOLDER': 'Input type=text, large, with combined button, danger, with message',
			'STATE': 'danger',
			'MSG': 'Lorem ipsum dolor sit amet'
		}) }}
		<button class="btn btn--primary btn--l">Submit</button>
	</div>
</blockquote>

<pre class="test-code-container"><code class="twig">
&lt;div class="form-combined-group"&gt;
  {{ '{{' }} forms.group({
    'TYPE': 'text',
    'PLACEHOLDER': 'Input type=text, large, with combined button'
  }) {{ '}}' }}
  &lt;button class="btn btn--primary btn--l"&gt;Submit&lt;/button&gt;
&lt;/div&gt;

&lt;div class="form-combined-group"&gt;
  {{ '{{' }} forms.group({
    'TYPE': 'text',
    'PLACEHOLDER': 'Input type=text, medium, with combined button',
    'SIZE': 'm'
  }) {{ '}}' }}
  &lt;button class="btn btn--primary btn--m"&gt;Submit&lt;/button&gt;
&lt;/div&gt;

&lt;div class="form-combined-group"&gt;
  {{ '{{' }} forms.group({
    'TYPE': 'text',
    'PLACEHOLDER': 'Input type=text, small, with combined button',
    'SIZE': 's'
  }) {{ '}}' }}
  &lt;button class="btn btn--primary btn--s"&gt;Submit&lt;/button&gt;
&lt;/div&gt;


&lt;div class="form-combined-group"&gt;
  {{ '{{' }} forms.group({
    'TYPE': 'select',
    'PLACEHOLDER': 'Select, large, with combined button',
    'options': []
  }) {{ '}}' }}
  &lt;button class="btn btn--primary btn--l"&gt;Submit&lt;/button&gt;
&lt;/div&gt;


&lt;div class="form-combined-group"&gt;
  {{ '{{' }} forms.group({
    'TYPE': 'text',
    'PLACEHOLDER': 'Input type=text, large, with combined button, danger, with message',
    'STATE': 'danger',
    'MSG': 'Lorem ipsum dolor sit amet'
  }) {{ '}}' }}
  &lt;button class="btn btn--primary btn--l"&gt;Submit&lt;/button&gt;
&lt;/div&gt;

</code></pre>
