<!-- ########################
# 
# #Control states
#
######################### -->
<a name="formsControlStates" id="formsControlStates" class="test-anchor"></a>
<p class="text--h3">Control states</p>

<nav class="margin-top--15">
	<p><strong>Subsections:</strong></p>
	<ol>
		<li><a href="#formsControlStates-text">Text inputs & textarea</a></li>
		<li><a href="#formsControlStates-select">Select</a></li>
		<li><a href="#formsControlStates-checkbox">Checkboxes</a></li>
		<li><a href="#formsControlStates-radio">Radiobuttons</a></li>
	</ol>
</nav>


<p class="text--h4 margin-top--30">Text inputs & textarea</p>
<a name="formsControlStates-text" id="formsControlStates-text" class="test-anchor"></a>

<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, required',
		'IS_REQUIRED': true
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with placeholder, readonly',
		'PLACEHOLDER': 'Lorem ipsum dolor',
		'IS_READONLY': true
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with value, readonly',
		'VALUE': 'Hello world!',
		'NAME': 'test',
		'IS_READONLY': true
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with placeholder, disabled',
		'PLACEHOLDER': 'Lorem ipsum dolor',
		'IS_DISABLED': true
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with value, disabled',
		'VALUE': 'Hello world!',
		'NAME': 'test',
		'IS_DISABLED': true
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with placeholder, hover',
		'PLACEHOLDER': 'Lorem ipsum dolor',
		'IS_HOVERED': true
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with value, hover',
		'VALUE': 'Hello world!',
		'IS_HOVERED': true
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with placeholder, focus',
		'PLACEHOLDER': 'Lorem ipsum dolor',
		'HAS_FOCUS': true
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with value, focus',
		'VALUE': 'Hello world!',
		'HAS_FOCUS': true
	}) }}

	<br><br>

	{{ forms.group({
		'TYPE': 'text',
		'VARIANT': 2,
		'LABEL': 'Input type=text, variant 2, required',
		'IS_REQUIRED': true
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'text',
		'VARIANT': 2,
		'LABEL': 'Input type=text, variant 2, with placeholder, readonly',
		'PLACEHOLDER': 'Lorem ipsum dolor',
		'IS_READONLY': true
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'VARIANT': 2,
		'LABEL': 'Input type=text, variant 2, with value, readonly',
		'VALUE': 'Hello world!',
		'NAME': 'test',
		'IS_READONLY': true
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'text',
		'VARIANT': 2,
		'LABEL': 'Input type=text, variant 2, with placeholder, disabled',
		'PLACEHOLDER': 'Lorem ipsum dolor',
		'IS_DISABLED': true
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'VARIANT': 2,
		'LABEL': 'Input type=text, variant 2, with value, disabled',
		'VALUE': 'Hello world!',
		'NAME': 'test',
		'IS_DISABLED': true
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'text',
		'VARIANT': 2,
		'LABEL': 'Input type=text, variant 2, with placeholder, hover',
		'PLACEHOLDER': 'Lorem ipsum dolor',
		'IS_HOVERED': true
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'VARIANT': 2,
		'LABEL': 'Input type=text, variant 2, with value, hover',
		'VALUE': 'Hello world!',
		'IS_HOVERED': true
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'text',
		'VARIANT': 2,
		'LABEL': 'Input type=text, variant 2, with placeholder, focus',
		'PLACEHOLDER': 'Lorem ipsum dolor',
		'HAS_FOCUS': true
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'VARIANT': 2,
		'LABEL': 'Input type=text, variant 2, with value, focus',
		'VALUE': 'Hello world!',
		'HAS_FOCUS': true
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, required',
  'IS_REQUIRED': true
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with placeholder, readonly',
  'PLACEHOLDER': 'Lorem ipsum dolor',
  'IS_READONLY': true
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with value, readonly',
  'VALUE': 'Hello world!',
  'NAME': 'test',
  'IS_READONLY': true
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with placeholder, disabled',
  'PLACEHOLDER': 'Lorem ipsum dolor',
  'IS_DISABLED': true
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with value, disabled',
  'VALUE': 'Hello world!',
  'NAME': 'test',
  'IS_DISABLED': true
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with placeholder, hover',
  'PLACEHOLDER': 'Lorem ipsum dolor',
  'IS_HOVERED': true
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with value, hover',
  'VALUE': 'Hello world!',
  'IS_HOVERED': true
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with placeholder, focus',
  'PLACEHOLDER': 'Lorem ipsum dolor',
  'HAS_FOCUS': true
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with value, focus',
  'VALUE': 'Hello world!',
  'HAS_FOCUS': true
}) {{ '}}' }}



{{ '{{' }} forms.group({
  'TYPE': 'text',
  'VARIANT': 2,
  'LABEL': 'Input type=text, variant 2, required',
  'IS_REQUIRED': true
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'text',
  'VARIANT': 2,
  'LABEL': 'Input type=text, variant 2, with placeholder, readonly',
  'PLACEHOLDER': 'Lorem ipsum dolor',
  'IS_READONLY': true
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'VARIANT': 2,
  'LABEL': 'Input type=text, variant 2, with value, readonly',
  'VALUE': 'Hello world!',
  'NAME': 'test',
  'IS_READONLY': true
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'text',
  'VARIANT': 2,
  'LABEL': 'Input type=text, variant 2, with placeholder, disabled',
  'PLACEHOLDER': 'Lorem ipsum dolor',
  'IS_DISABLED': true
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'VARIANT': 2,
  'LABEL': 'Input type=text, variant 2, with value, disabled',
  'VALUE': 'Hello world!',
  'NAME': 'test',
  'IS_DISABLED': true
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'text',
  'VARIANT': 2,
  'LABEL': 'Input type=text, variant 2, with placeholder, hover',
  'PLACEHOLDER': 'Lorem ipsum dolor',
  'IS_HOVERED': true
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'VARIANT': 2,
  'LABEL': 'Input type=text, variant 2, with value, hover',
  'VALUE': 'Hello world!',
  'IS_HOVERED': true
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'text',
  'VARIANT': 2,
  'LABEL': 'Input type=text, variant 2, with placeholder, focus',
  'PLACEHOLDER': 'Lorem ipsum dolor',
  'HAS_FOCUS': true
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'VARIANT': 2,
  'LABEL': 'Input type=text, variant 2, with value, focus',
  'VALUE': 'Hello world!',
  'HAS_FOCUS': true
}) {{ '}}' }}

</code></pre>


<a name="formsControlStates-select" id="formsControlStates-select" class="test-anchor"></a>
<p class="text--h4">Select</p>

<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'select',
		'LABEL': 'Select, required',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'IS_REQUIRED': true
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'select',
		'LABEL': 'Select, no option selected, disabled',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'IS_DISABLED': true
	}) }}

	{{ forms.group({
		'TYPE': 'select',
		'LABEL': 'Select, an option selected, disabled',
		'PLACEHOLDER': 'Choose',
		'options': [
			{
				'TEXT': 'Option 1',
				'VALUE': 1,
				'IS_SELECTED': true
			}
		],
		'IS_DISABLED': true
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'select',
		'LABEL': 'Select, no option selected, hover',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'IS_HOVERED': true
	}) }}

	{{ forms.group({
		'TYPE': 'select',
		'LABEL': 'Select, an option selected, hover',
		'PLACEHOLDER': 'Choose',
		'options': [
			{
				'TEXT': 'Option 1',
				'VALUE': 1,
				'IS_SELECTED': true
			}
		],
		'IS_HOVERED': true
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'select',
		'LABEL': 'Select, no option selected, focus',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'HAS_FOCUS': true
	}) }}

	{{ forms.group({
		'TYPE': 'select',
		'LABEL': 'Select, an option selected, focus',
		'PLACEHOLDER': 'Choose',
		'options': [
			{
				'TEXT': 'Option 1',
				'VALUE': 1,
				'IS_SELECTED': true
			}
		],
		'HAS_FOCUS': true
	}) }}

	<br><br>

	{{ forms.group({
		'TYPE': 'select',
		'VARIANT': 2,
		'LABEL': 'Select, variant 2, required',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'IS_REQUIRED': true
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'select',
		'VARIANT': 2,
		'LABEL': 'Select, variant 2, no option selected, disabled',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'IS_DISABLED': true
	}) }}

	{{ forms.group({
		'TYPE': 'select',
		'VARIANT': 2,
		'LABEL': 'Select, variant 2, an option selected, disabled',
		'PLACEHOLDER': 'Choose',
		'options': [
			{
				'TEXT': 'Option 1',
				'VALUE': 1,
				'IS_SELECTED': true
			}
		],
		'IS_DISABLED': true
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'select',
		'VARIANT': 2,
		'LABEL': 'Select, variant 2, no option selected, hover',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'IS_HOVERED': true
	}) }}

	{{ forms.group({
		'TYPE': 'select',
		'VARIANT': 2,
		'LABEL': 'Select, variant 2, an option selected, hover',
		'PLACEHOLDER': 'Choose',
		'options': [
			{
				'TEXT': 'Option 1',
				'VALUE': 1,
				'IS_SELECTED': true
			}
		],
		'IS_HOVERED': true
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'select',
		'VARIANT': 2,
		'LABEL': 'Select, variant 2, no option selected, focus',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'HAS_FOCUS': true
	}) }}

	{{ forms.group({
		'TYPE': 'select',
		'VARIANT': 2,
		'LABEL': 'Select, variant 2, an option selected, focus',
		'PLACEHOLDER': 'Choose',
		'options': [
			{
				'TEXT': 'Option 1',
				'VALUE': 1,
				'IS_SELECTED': true
			}
		],
		'HAS_FOCUS': true
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'select',
  'LABEL': 'Select, required',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'IS_REQUIRED': true
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'select',
  'LABEL': 'Select, no option selected, disabled',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'IS_DISABLED': true
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'LABEL': 'Select, an option selected, disabled',
  'PLACEHOLDER': 'Choose',
  'options': [
    {
      'TEXT': 'Option 1',
      'VALUE': 1,
      'IS_SELECTED': true
    }
  ],
  'IS_DISABLED': true
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'select',
  'LABEL': 'Select, no option selected, hover',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'IS_HOVERED': true
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'LABEL': 'Select, an option selected, hover',
  'PLACEHOLDER': 'Choose',
  'options': [
    {
      'TEXT': 'Option 1',
      'VALUE': 1,
      'IS_SELECTED': true
    }
  ],
  'IS_HOVERED': true
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'select',
  'LABEL': 'Select, no option selected, focus',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'HAS_FOCUS': true
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'LABEL': 'Select, an option selected, focus',
  'PLACEHOLDER': 'Choose',
  'options': [
    {
      'TEXT': 'Option 1',
      'VALUE': 1,
      'IS_SELECTED': true
    }
  ],
  'HAS_FOCUS': true
}) {{ '}}' }}



{{ '{{' }} forms.group({
  'TYPE': 'select',
  'VARIANT': 2,
  'LABEL': 'Select, variant 2, required',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'IS_REQUIRED': true
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'select',
  'VARIANT': 2,
  'LABEL': 'Select, variant 2, no option selected, disabled',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'IS_DISABLED': true
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'VARIANT': 2,
  'LABEL': 'Select, variant 2, an option selected, disabled',
  'PLACEHOLDER': 'Choose',
  'options': [
    {
      'TEXT': 'Option 1',
      'VALUE': 1,
      'IS_SELECTED': true
    }
  ],
  'IS_DISABLED': true
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'select',
  'VARIANT': 2,
  'LABEL': 'Select, variant 2, no option selected, hover',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'IS_HOVERED': true
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'VARIANT': 2,
  'LABEL': 'Select, variant 2, an option selected, hover',
  'PLACEHOLDER': 'Choose',
  'options': [
    {
      'TEXT': 'Option 1',
      'VALUE': 1,
      'IS_SELECTED': true
    }
  ],
  'IS_HOVERED': true
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'select',
  'VARIANT': 2,
  'LABEL': 'Select, variant 2, no option selected, focus',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'HAS_FOCUS': true
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'VARIANT': 2,
  'LABEL': 'Select, variant 2, an option selected, focus',
  'PLACEHOLDER': 'Choose',
  'options': [
    {
      'TEXT': 'Option 1',
      'VALUE': 1,
      'IS_SELECTED': true
    }
  ],
  'HAS_FOCUS': true
}) {{ '}}' }}

</code></pre>


<a name="formsControlStates-checkbox" id="formsControlStates-checkbox" class="test-anchor"></a>
<p class="text--h4">Checkboxes</p>

<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'checkbox',
		'LABEL': 'Checkbox, required',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'IS_REQUIRED': true
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'checkbox',
		'LABEL': 'Checkbox, disabled',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'IS_DISABLED': true
	}) }}

	{{ forms.group({
		'TYPE': 'checkbox',
		'LABEL': 'Checkbox, checked, disabled',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'IS_CHECKED': true,
		'IS_DISABLED': true
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'checkbox',
		'LABEL': 'Checkbox, hover',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'IS_HOVERED': true
	}) }}

	{{ forms.group({
		'TYPE': 'checkbox',
		'LABEL': 'Checkbox, checked, hover',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'IS_CHECKED': true,
		'IS_HOVERED': true
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'checkbox',
		'LABEL': 'Checkbox, focus',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'HAS_FOCUS': true
	}) }}

	{{ forms.group({
		'TYPE': 'checkbox',
		'LABEL': 'Checkbox, checked, focus',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'IS_CHECKED': true,
		'HAS_FOCUS': true
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'LABEL': 'Checkbox, required',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'IS_REQUIRED': true
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'LABEL': 'Checkbox, disabled',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'IS_DISABLED': true
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'LABEL': 'Checkbox, checked, disabled',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'IS_CHECKED': true,
  'IS_DISABLED': true
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'LABEL': 'Checkbox, hover',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'IS_HOVERED': true
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'LABEL': 'Checkbox, checked, hover',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'IS_CHECKED': true,
  'IS_HOVERED': true
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'LABEL': 'Checkbox, focus',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'HAS_FOCUS': true
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'LABEL': 'Checkbox, checked, focus',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'IS_CHECKED': true,
  'HAS_FOCUS': true
}) {{ '}}' }}

</code></pre>


<a name="formsControlStates-radio" id="formsControlStates-radio" class="test-anchor"></a>
<p class="text--h4">Radiobuttons</p>

<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'radio',
		'LABEL': 'Radio, required',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'IS_REQUIRED': true
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'radio',
		'LABEL': 'Radio, disabled',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'IS_DISABLED': true
	}) }}

	{{ forms.group({
		'TYPE': 'radio',
		'LABEL': 'Radio, checked, disabled',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'IS_CHECKED': true,
		'IS_DISABLED': true
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'radio',
		'LABEL': 'Radio, hover',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'IS_HOVERED': true
	}) }}

	{{ forms.group({
		'TYPE': 'radio',
		'LABEL': 'Radio, checked, hover',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'IS_CHECKED': true,
		'IS_HOVERED': true
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'radio',
		'LABEL': 'Radio, focus',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'HAS_FOCUS': true
	}) }}

	{{ forms.group({
		'TYPE': 'radio',
		'LABEL': 'Radio, checked, focus',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'IS_CHECKED': true,
		'HAS_FOCUS': true
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'radio',
  'LABEL': 'Radio, required',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'IS_REQUIRED': true
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'radio',
  'LABEL': 'Radio, disabled',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'IS_DISABLED': true
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'radio',
  'LABEL': 'Radio, checked, disabled',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'IS_CHECKED': true,
  'IS_DISABLED': true
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'radio',
  'LABEL': 'Radio, hover',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'IS_HOVERED': true
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'radio',
  'LABEL': 'Radio, checked, hover',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'IS_CHECKED': true,
  'IS_HOVERED': true
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'radio',
  'LABEL': 'Radio, focus',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'HAS_FOCUS': true
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'radio',
  'LABEL': 'Radio, checked, focus',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'IS_CHECKED': true,
  'HAS_FOCUS': true
}) {{ '}}' }}

</code></pre>
