<!-- ########################
# 
# #Control sizes
#
######################### -->
<a name="formsControlSizes" id="formsControlSizes" class="test-anchor"></a>
<p class="text--h3">Control sizes</p>
<p class="margin-top--10">Height of inputs & selects is the same as height of the buttons of the same size so you can align them horizontally.</p>

<nav class="margin-top--15">
	<p><strong>Subsections:</strong></p>
	<ol>
		<li><a href="#formsControlSizes-text">Text inputs & textarea</a></li>
		<li><a href="#formsControlSizes-select">Select</a></li>
		<li><a href="#formsControlSizes-checkbox">Checkboxes</a></li>
		<li><a href="#formsControlSizes-radio">Radiobuttons</a></li>
	</ol>
</nav>

<div class="alert alert--info margin-top--15">Additional colored messages shown below are explained in <a href="#formsValidationStates">form control validation states</a>.</div>


<p class="text--h4">Text inputs & textarea</p>
<a name="formsControlSizes-text" id="formsControlSizes-text" class="test-anchor"></a>
<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with placeholder, large',
		'PLACEHOLDER': 'Lorem ipsum dolor'
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with value, large',
		'VALUE': 'Hello world!'
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, large, danger, message',
		'STATE': 'danger',
		'MSG': 'Lorem ipsum dolor sit amet aliquam erat volutpat'
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'VARIANT': 2,
		'LABEL': 'Input type=text, variant 2, large, danger, message',
		'STATE': 'danger',
		'MSG': 'Lorem ipsum dolor sit amet aliquam erat volutpat'
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with placeholder, medium',
		'PLACEHOLDER': 'Lorem ipsum dolor',
		'SIZE': 'm'
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with value, medium',
		'VALUE': 'Hello world!',
		'SIZE': 'm'
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, medium, danger, message',
		'SIZE': 'm',
		'STATE': 'danger',
		'MSG': 'Lorem ipsum dolor sit amet aliquam erat volutpat'
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'VARIANT': 2,
		'LABEL': 'Input type=text, variant 2, medium, danger, message',
		'SIZE': 'm',
		'STATE': 'danger',
		'MSG': 'Lorem ipsum dolor sit amet aliquam erat volutpat'
	}) }}


	<br>

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with placeholder, small',
		'PLACEHOLDER': 'Lorem ipsum dolor',
		'SIZE': 's'
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with value, small',
		'VALUE': 'Hello world!',
		'SIZE': 's'
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, small, danger, message',
		'SIZE': 's',
		'STATE': 'danger',
		'MSG': 'Lorem ipsum dolor sit amet aliquam erat volutpat'
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'VARIANT': 2,
		'LABEL': 'Input type=text, variant 2, small, danger, message',
		'SIZE': 's',
		'STATE': 'danger',
		'MSG': 'Lorem ipsum dolor sit amet aliquam erat volutpat'
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'textarea',
		'LABEL': 'Textarea, with value, large',
		'VALUE': 'Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est uspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.'
	}) }}

	{{ forms.group({
		'TYPE': 'textarea',
		'LABEL': 'Textarea, large, danger, message',
		'STATE': 'danger',
		'MSG': 'Lorem ipsum dolor sit amet aliquam erat volutpat'
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'textarea',
		'LABEL': 'Textarea, with value, medium',
		'VALUE': 'Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est uspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.',
		'SIZE': 'm'
	}) }}

	{{ forms.group({
		'TYPE': 'textarea',
		'LABEL': 'Textarea, large, danger, message',
		'SIZE': 'm',
		'STATE': 'danger',
		'MSG': 'Lorem ipsum dolor sit amet aliquam erat volutpat'
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'textarea',
		'LABEL': 'Textarea, with value, small',
		'VALUE': 'Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est uspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.',
		'SIZE': 's'
	}) }}

	{{ forms.group({
		'TYPE': 'textarea',
		'LABEL': 'Textarea, large, danger, message',
		'SIZE': 's',
		'STATE': 'danger',
		'MSG': 'Lorem ipsum dolor sit amet aliquam erat volutpat'
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with placeholder, large',
  'PLACEHOLDER': 'Lorem ipsum dolor'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with value, large',
  'VALUE': 'Hello world!'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, large, danger, message',
  'STATE': 'danger',
  'MSG': 'Lorem ipsum dolor sit amet aliquam erat volutpat'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'VARIANT': 2,
  'LABEL': 'Input type=text, variant 2, large, danger, message',
  'STATE': 'danger',
  'MSG': 'Lorem ipsum dolor sit amet aliquam erat volutpat'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with placeholder, medium',
  'PLACEHOLDER': 'Lorem ipsum dolor',
  'SIZE': 'm'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with value, medium',
  'VALUE': 'Hello world!',
  'SIZE': 'm'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, medium, danger, message',
  'SIZE': 'm',
  'STATE': 'danger',
  'MSG': 'Lorem ipsum dolor sit amet aliquam erat volutpat'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'VARIANT': 2,
  'LABEL': 'Input type=text, variant 2, medium, danger, message',
  'SIZE': 'm',
  'STATE': 'danger',
  'MSG': 'Lorem ipsum dolor sit amet aliquam erat volutpat'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with placeholder, small',
  'PLACEHOLDER': 'Lorem ipsum dolor',
  'SIZE': 's'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with value, small',
  'VALUE': 'Hello world!',
  'SIZE': 's'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, small, danger, message',
  'SIZE': 's',
  'STATE': 'danger',
  'MSG': 'Lorem ipsum dolor sit amet aliquam erat volutpat'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'VARIANT': 2,
  'LABEL': 'Input type=text, variant 2, small, danger, message',
  'SIZE': 's',
  'STATE': 'danger',
  'MSG': 'Lorem ipsum dolor sit amet aliquam erat volutpat'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'textarea',
  'LABEL': 'Textarea, with value, large',
  'VALUE': 'Aliquam erat volutpat. (…)'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'textarea',
  'LABEL': 'Textarea, large, danger, message',
  'STATE': 'danger',
  'MSG': 'Lorem ipsum dolor sit amet aliquam erat volutpat'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'textarea',
  'LABEL': 'Textarea, with value, medium',
  'VALUE': 'Aliquam erat volutpat. (…)',
  'SIZE': 'm'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'textarea',
  'LABEL': 'Textarea, large, danger, message',
  'SIZE': 'm',
  'STATE': 'danger',
  'MSG': 'Lorem ipsum dolor sit amet aliquam erat volutpat'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'textarea',
  'LABEL': 'Textarea, with value, small',
  'VALUE': 'Aliquam erat volutpat. (…)',
  'SIZE': 's'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'textarea',
  'LABEL': 'Textarea, large, danger, message',
  'SIZE': 's',
  'STATE': 'danger',
  'MSG': 'Lorem ipsum dolor sit amet aliquam erat volutpat'
}) {{ '}}' }}

</code></pre>


<a name="formsControlSizes-select" id="formsControlSizes-select" class="test-anchor"></a>
<p class="text--h4">Select</p>
<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'select',
		'LABEL': 'Select, large',
		'PLACEHOLDER': 'Choose',
		'options': []
	}) }}

	{{ forms.group({
		'TYPE': 'select',
		'LABEL': 'Select, medium',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'SIZE': 'm'
	}) }}

	{{ forms.group({
		'TYPE': 'select',
		'LABEL': 'Select, small',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'SIZE': 's'
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'select',
		'VARIANT': 2,
		'LABEL': 'Select, large, variant 2',
		'PLACEHOLDER': 'Choose',
		'options': []
	}) }}

	{{ forms.group({
		'TYPE': 'select',
		'VARIANT': 2,
		'LABEL': 'Select, medium, variant 2',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'SIZE': 'm'
	}) }}

	{{ forms.group({
		'TYPE': 'select',
		'VARIANT': 2,
		'LABEL': 'Select, small, variant 2',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'SIZE': 's'
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'select',
  'LABEL': 'Select, large',
  'PLACEHOLDER': 'Choose',
  'options': []
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'LABEL': 'Select, medium',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'SIZE': 'm'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'LABEL': 'Select, small',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'SIZE': 's'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'select',
  'VARIANT': 2,
  'LABEL': 'Select, large, variant 2',
  'PLACEHOLDER': 'Choose',
  'options': []
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'VARIANT': 2,
  'LABEL': 'Select, medium, variant 2',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'SIZE': 'm'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'VARIANT': 2,
  'LABEL': 'Select, small, variant 2',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'SIZE': 's'
}) {{ '}}' }}

</code></pre>


<a name="formsControlSizes-checkbox" id="formsControlSizes-checkbox" class="test-anchor"></a>
<p class="text--h4">Checkboxes</p>
<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'checkbox',
		'LABEL': 'Checkbox, large',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet'
	}) }}

	{{ forms.group({
		'TYPE': 'checkbox',
		'LABEL': 'Checkbox, large, danger, message',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'STATE': 'danger',
		'MSG': 'Lorem ipsum dolor sit amet aliquam erat volutpat'
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'checkbox',
		'LABEL': 'Checkbox, medium',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'SIZE': 'm'
	}) }}

	{{ forms.group({
		'TYPE': 'checkbox',
		'LABEL': 'Checkbox, medium, danger, message',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'SIZE': 'm',
		'STATE': 'danger',
		'MSG': 'Lorem ipsum dolor sit amet aliquam erat volutpat'
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'checkbox',
		'LABEL': 'Checkbox, small',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'SIZE': 's'
	}) }}

	{{ forms.group({
		'TYPE': 'checkbox',
		'LABEL': 'Checkbox, small, danger, message',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'SIZE': 's',
		'STATE': 'danger',
		'MSG': 'Lorem ipsum dolor sit amet aliquam erat volutpat'
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'LABEL': 'Checkbox, large',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'LABEL': 'Checkbox, large, danger, message',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'STATE': 'danger',
  'MSG': 'Lorem ipsum dolor sit amet aliquam erat volutpat'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'LABEL': 'Checkbox, medium',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'SIZE': 'm'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'LABEL': 'Checkbox, medium, danger, message',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'SIZE': 'm',
  'STATE': 'danger',
  'MSG': 'Lorem ipsum dolor sit amet aliquam erat volutpat'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'LABEL': 'Checkbox, small',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'SIZE': 's'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'LABEL': 'Checkbox, small, danger, message',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'SIZE': 's',
  'STATE': 'danger',
  'MSG': 'Lorem ipsum dolor sit amet aliquam erat volutpat'
}) {{ '}}' }}

</code></pre>


<a name="formsControlSizes-radio" id="formsControlSizes-radio" class="test-anchor"></a>
<p class="text--h4">Radiobuttons</p>
<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'radio',
		'LABEL': 'Radio, large',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet'
	}) }}

	{{ forms.group({
		'TYPE': 'radio',
		'LABEL': 'Radio, medium',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'SIZE': 'm'
	}) }}

	{{ forms.group({
		'TYPE': 'radio',
		'LABEL': 'Radio, small',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'SIZE': 's'
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'radio',
  'LABEL': 'Radio, large',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'radio',
  'LABEL': 'Radio, medium',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'SIZE': 'm'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'radio',
  'LABEL': 'Radio, small',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'SIZE': 's'
}) {{ '}}' }}

</code></pre>
