<!-- ########################
# 
# #data- attributes in form controls
#
######################### -->
<a name="formsDataAttributes" id="formsDataAttributes" class="test-anchor"></a>
<p class="text--h3">Usage of <code>data-</code> attributes in form controls</p>
<p class="margin-top--10">For each form element, you can set multiple data- attributes. As long as you don't pass any escaped characters, you can leave the <code>RENDER_UNESCAPED</code> flag set to default.</p>

<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with data- attributes',
		'data': {
			'key1': 'value1',
			'key2': 'value2'
		}
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with data- attributes containing escaped characters',
		'NAME': '<%= name %>',
		'data': {
			'key1': '<%= value1 %>',
			'key2': 'value2'
		},
		'RENDER_UNESCAPED': true
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with data- attributes',
  'data': {
    'key1': 'value1',
    'key2': 'value2'
  }
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with data- attributes containing escaped characters',
  'NAME': '&lt;%= name %&gt;',
  'data': {
    'key1': '&lt;%= value1 %&gt;',
    'key2': 'value2'
  },
  'RENDER_UNESCAPED': true
}) {{ '}}' }}

</code></pre>
