<!-- ########################
# 
# #Starting a form
#
######################### -->
<a name="formsStart" id="formsStart" class="test-anchor"></a>
<p class="text--h3">Starting a form</p>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.start({
  (attributes)
}) {{ '}}' }}

</code></pre>

<p>Available attributes that you can pass to the macro are:</p>
<ul>
	<li><code>{Bool}&nbsp;&nbsp;&nbsp;RENDER_UNESCAPED</code> (opt, default: false), see also: <a href="#formsRenderUnescaped"><code>RENDER_UNESCAPED</code> flag</a></li>
	<li><code>{String} TAG</code> (opt, default: `form`), see also: <a href="#jsforms">JS forms & forms within forms</a></li>
	<li><code>{String} id</code> (opt) - form `id` attribute</li>
	<li><code>{Array}&nbsp;&nbsp;classes</code> (opt), see also: <a href="#formsClasses">setting form control classes</a> & use it similarly here</li>
	<li><code>{Array}&nbsp;&nbsp;data</code> (opt), see also: <a href="#formsDataAttributes">usage of data- attributes in form controls</a></li>
	<li><code>{String} ACTION</code> (opt) - form `action` attribute</li>
	<li><code>{String} METHOD</code> (opt) - form `method` attribute</li>
	<li><code>{String} ENCTYPE</code> (opt) - form `enctype` attribute</li>
	<li><code>{String} TARGET</code> (opt) - form `target` attribute</li>
	<li><code>{String} AUTOCOMPLETE</code> (opt), see also: <a href="#formsAutocomplete">setting control's <code>autocomplete</code> attribute</a>, and also refer to <strong>templates/_macros/__forms.twig</strong> comments for more explanations.</li>
</ul>
