<!-- ########################
# 
# #Ending a form
#
######################### -->
<a name="formsEnd" id="formsEnd" class="test-anchor"></a>
<p class="text--h3">Ending a form</p>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.end({}) {{ '}}' }}

</code></pre>

<p>If you used an alternative tag for form container, you can pass it as a macro parameter:</p>
<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.end({
  'TAG': 'div'
}) {{ '}}' }}

</code></pre>
