<!-- ########################
# 
# #Hidden input
#
######################### -->
<a name="formsInputHidden" id="formsInputHidden" class="test-anchor"></a>

<p class="text--h3">Hidden input</p>
<p class="margin-top-10">To render a hidden input:</p>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.input({
  'TYPE': 'hidden',
  'NAME': 'test_name',
  'VALUE': 'test_value'
}) {{ '}}' }}

</code></pre>

<div class="alert alert--warning">Please note that in case of hidden input we're using <code>forms.input</code> macro instead of <code>forms.group</code> macro.</div>
