<!-- ########################
# 
# #Icons in form controls
#
######################### -->
<a name="formsIcons" id="formsIcons" class="test-anchor"></a>
<p class="text--h3">Icons in form controls</p>

<nav class="margin-top--15">
	<p><strong>Subsections:</strong></p>
	<ol>
		<li><a href="#formsIcons-text">Text inputs & textarea</a></li>
		<li><a href="#formsIcons-select">Select</a></li>
		<li><a href="#formsIcons-checkbox-radio">Checkboxes & radiobuttons</a></li>
	</ol>
</nav>


<p class="text--h4 margin-top--30">Text inputs & textarea</p>
<a name="formsIcons-text" id="formsIcons-text" class="test-anchor"></a>
<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, large, icon on the left',
		'VALUE': 'Lorem ipsum dolor sit amet',
		'ICON_LEFT': 'icon--test icon--gray'
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, large, icon on the left',
		'VALUE': 'Lorem ipsum dolor sit amet',
		'ICON_RIGHT': 'icon--test icon--gray'
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, large, icons on both sides',
		'VALUE': 'Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est uspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.',
		'ICON_LEFT': 'icon--test icon--gray',
		'ICON_RIGHT': 'icon--test icon--gray'
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, medium, icons on both sides',
		'VALUE': 'Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est uspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.',
		'ICON_LEFT': 'icon--test icon--gray',
		'ICON_RIGHT': 'icon--test icon--gray',
		'SIZE': 'm'
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, small, icons on both sides',
		'VALUE': 'Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est uspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.',
		'ICON_LEFT': 'icon--test icon--gray',
		'ICON_RIGHT': 'icon--test icon--gray',
		'SIZE': 's'
	}) }}


	{{ forms.group({
		'TYPE': 'textarea',
		'LABEL': 'Textarea, icons on both sides',
		'VALUE': 'Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est uspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.',
		'ICON_LEFT': 'icon--test icon--gray',
		'ICON_RIGHT': 'icon--test icon--gray'
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, large, icon on the left',
  'VALUE': 'Lorem ipsum dolor sit amet',
  'ICON_LEFT': 'icon--test icon--gray'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, large, icon on the left',
  'VALUE': 'Lorem ipsum dolor sit amet',
  'ICON_RIGHT': 'icon--test icon--gray'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, large, icons on both sides',
  'VALUE': 'Aliquam erat volutpat. (…)',
  'ICON_LEFT': 'icon--test icon--gray',
  'ICON_RIGHT': 'icon--test icon--gray'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, medium, icons on both sides',
  'VALUE': 'Aliquam erat volutpat. (…)',
  'ICON_LEFT': 'icon--test icon--gray',
  'ICON_RIGHT': 'icon--test icon--gray',
  'SIZE': 'm'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, small, icons on both sides',
  'VALUE': 'Aliquam erat volutpat. (…)',
  'ICON_LEFT': 'icon--test icon--gray',
  'ICON_RIGHT': 'icon--test icon--gray',
  'SIZE': 's'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'textarea',
  'LABEL': 'Textarea, icons on both sides',
  'VALUE': 'Aliquam erat volutpat. (…)',
  'ICON_LEFT': 'icon--test icon--gray',
  'ICON_RIGHT': 'icon--test icon--gray'
}) {{ '}}' }}

</code></pre>

<p>When input's state is set to any of validation states (danger, warning, info or success), then the right-hand side icon is removed to make place for the validation icon:</p>

<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, large, icons on both sides, danger',
		'VALUE': 'Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est uspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.',
		'ICON_LEFT': 'icon--test icon--gray',
		'ICON_RIGHT': 'icon--test icon--gray',
		'STATE': 'danger'
	}) }}
</blockquote>


<a name="formsIcons-select" id="formsIcons-select" class="test-anchor"></a>
<p class="text--h4">Select</p>
<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'select',
		'LABEL': 'Select, large, icon on the left',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'ICON_LEFT': 'icon--test icon--gray'
	}) }}

	{{ forms.group({
		'TYPE': 'select',
		'LABEL': 'Select, medium, icon on the left',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'ICON_LEFT': 'icon--test icon--gray',
		'SIZE': 'm'
	}) }}

	{{ forms.group({
		'TYPE': 'select',
		'LABEL': 'Select, small, icon on the left',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'ICON_LEFT': 'icon--test icon--gray',
		'SIZE': 's'
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'select',
		'VARIANT': 2,
		'LABEL': 'Select, variant 2, large, icon on the left',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'ICON_LEFT': 'icon--test icon--gray'
	}) }}

	{{ forms.group({
		'TYPE': 'select',
		'VARIANT': 2,
		'LABEL': 'Select, variant 2, medium, icon on the left',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'ICON_LEFT': 'icon--test icon--gray',
		'SIZE': 'm'
	}) }}

	{{ forms.group({
		'TYPE': 'select',
		'VARIANT': 2,
		'LABEL': 'Select, variant 2, small, icon on the left',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'ICON_LEFT': 'icon--test icon--gray',
		'SIZE': 's'
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'select',
  'LABEL': 'Select, large, icon on the left',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'ICON_LEFT': 'icon--test icon--gray'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'LABEL': 'Select, medium, icon on the left',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'ICON_LEFT': 'icon--test icon--gray',
  'SIZE': 'm'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'LABEL': 'Select, small, icon on the left',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'ICON_LEFT': 'icon--test icon--gray',
  'SIZE': 's'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'select',
  'VARIANT': 2,
  'LABEL': 'Select, variant 2, large, icon on the left',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'ICON_LEFT': 'icon--test icon--gray'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'VARIANT': 2,
  'LABEL': 'Select, variant 2, medium, icon on the left',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'ICON_LEFT': 'icon--test icon--gray',
  'SIZE': 'm'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'VARIANT': 2,
  'LABEL': 'Select, variant 2, small, icon on the left',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'ICON_LEFT': 'icon--test icon--gray',
  'SIZE': 's'
}) {{ '}}' }}


</code></pre>


<a name="formsIcons-checkbox-radio" id="formsIcons-checkbox-radio" class="test-anchor"></a>
<p class="text--h4">Checkboxes & radiobuttons</p>
<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'checkbox',
		'PLACEHOLDER': '<span class="icon icon--test icon--gray"></span> Icon on the left',
	}) }}

	{{ forms.group({
		'TYPE': 'radio',
		'PLACEHOLDER': 'Icon on the right <span class="icon icon--test icon--gray"></span>',
	}) }}

	{{ forms.group({
		'TYPE': 'checkbox',
		'PLACEHOLDER': '<span class="icon icon--test icon--gray"></span> Icon on both sides <span class="icon icon--test icon--gray"></span>',
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'PLACEHOLDER': '&lt;span class="icon icon--test icon--gray"&gt;&lt;/span&gt; Icon on the left',
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'radio',
  'PLACEHOLDER': 'Icon on the right &lt;span class="icon icon--test icon--gray"&gt;&lt;/span&gt;',
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'PLACEHOLDER': '&lt;span class="icon icon--test icon--gray"&gt;&lt;/span&gt;
    ←Icon on both sides &lt;span class="icon icon--test icon--gray"&gt;&lt;/span&gt;',
}) {{ '}}' }}

</code></pre>

<div class="alert alert--info">For checkboxes and radios we use icons as standard inline-block elements - no additional styling is set for them by component context. E.g. you can set any icon size with an <a href="#icons">icon modifier class</a> freely.</div>
