<!-- ########################
# 
# #Setting form control's id
#
######################### -->
<a name="formsId" id="formsId" class="test-anchor"></a>

<p class="text--h3">Setting form control's ID</p>
<p class="margin-top--10">You can set form control's <code>id</code>:</p>

<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text',
		'id': 'yourControlId'
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text',
  'id': 'yourControlId'
}) {{ '}}' }}

</code></pre>
