<!-- ########################
# 
# #Form group vertical align to buttons
#
######################### -->
<a name="formsInlineGroup" id="formsInlineGroup" class="test-anchor"></a>
<p class="text--h3">Inline form group</p>
<p class="margin-top--10">Setting <code>IS_INLINE</code> flag to <code>true</code> you can set <code class="text--nowrap">display:inline-block</code> property on <code class="text--nowrap">.form-group</code> element. This makes its width adaptive to its content, so e.g. when using selects, checkboxes or radiobuttons their container is as long as its label and/or placeholder.</p>

<div class="[ alert alert--warning ]  margin-top--20">Keep in mind that labels' & alerts' width will always make the <code class="text--nowrap">.form-group</code> container stretch to their width as well. This may lead to unexpected behaviour e.g. if a select's placeholder is short, but you want to show an alert with a lot of text. Using with text inputs, while possible, is discouraged.</div>

<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'text',
		'IS_INLINE': true,
		'LABEL': 'Input type="text", with placeholder',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet'
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'select',
		'IS_INLINE': true,
		'LABEL': 'Select, inline, no option selected',
		'PLACEHOLDER': 'Choose',
		'options': [
			{
				'TEXT': 'Option 1',
				'VALUE': 1,
				'IS_SELECTED': false
			},
			{
				'TEXT': 'Option 2',
				'VALUE': 2,
				'IS_SELECTED': false
			}
		]
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'select',
		'IS_INLINE': true,
		'VARIANT': 2,
		'LABEL': 'Select, inline, variant 2, no option selected',
		'PLACEHOLDER': 'Choose',
		'options': [
			{
				'TEXT': 'Option 1',
				'VALUE': 1,
				'IS_SELECTED': false
			},
			{
				'TEXT': 'Option 2',
				'VALUE': 2,
				'IS_SELECTED': false
			}
		]
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'checkbox',
		'IS_INLINE': true,
		'LABEL': 'Checkbox',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet'
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'radio',
		'IS_INLINE': true,
		'LABEL': 'Radio',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet'
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'text',
  'IS_INLINE': true,
  'LABEL': 'Input type="text", with placeholder',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'IS_INLINE': true,
  'LABEL': 'Select, inline, no option selected',
  'PLACEHOLDER': 'Choose',
  'options': [
    {
      'TEXT': 'Option 1',
      'VALUE': 1,
      'IS_SELECTED': false
    },
    {
      'TEXT': 'Option 2',
      'VALUE': 2,
      'IS_SELECTED': false
    }
  ]
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'IS_INLINE': true,
  'VARIANT': 2,
  'LABEL': 'Select, inline, variant 2, no option selected',
  'PLACEHOLDER': 'Choose',
  'options': [
    {
      'TEXT': 'Option 1',
      'VALUE': 1,
      'IS_SELECTED': false
    },
    {
      'TEXT': 'Option 2',
      'VALUE': 2,
      'IS_SELECTED': false
    }
  ]
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'IS_INLINE': true,
  'LABEL': 'Checkbox',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'radio',
  'IS_INLINE': true,
  'LABEL': 'Radio',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

</code></pre>
