<!-- ########################
# 
# #Input types
#
######################### -->
<a name="formsInputTypes" id="formsInputTypes" class="test-anchor"></a>
<p class="text--h3">Input types & variants</p>

<nav class="margin-top--15">
	<p><strong>Subsections:</strong></p>
	<ol>
		<li><a href="#formsInputTypes-text">Text inputs & textarea</a></li>
		<li><a href="#formsInputTypes-select">Select</a></li>
		<li><a href="#formsInputTypes-checkbox">Checkboxes</a></li>
		<li><a href="#formsInputTypes-radio">Radiobuttons</a></li>
	</ol>
</nav>


<p class="text--h4 margin-top--30">Text inputs & textarea</p>
<a name="formsInputTypes-text" id="formsInputTypes-text" class="test-anchor"></a>

<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with placeholder',
		'PLACEHOLDER': 'Lorem ipsum dolor'
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with value',
		'VALUE': 'Hello world!'
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'text',
		'VARIANT': 2,
		'LABEL': 'Input type=text, variant 2, with placeholder',
		'PLACEHOLDER': 'Lorem ipsum dolor'
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'VARIANT': 2,
		'LABEL': 'Input type=text, variant 2, with value',
		'VALUE': 'Hello world!'
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'email',
		'LABEL': 'Input type=email'
	}) }}

	{{ forms.group({
		'TYPE': 'email',
		'LABEL': 'Input type=email, with value',
		'VALUE': 'test@example.com'
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'search',
		'LABEL': 'Input type=search'
	}) }}

	{{ forms.group({
		'TYPE': 'search',
		'LABEL': 'Input type=search, with value',
		'VALUE': 'Hello world!'
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'tel',
		'LABEL': 'Input type=tel'
	}) }}

	{{ forms.group({
		'TYPE': 'url',
		'LABEL': 'Input type=url, with value',
		'VALUE': '111 222 333'
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'url',
		'LABEL': 'Input type=url'
	}) }}

	{{ forms.group({
		'TYPE': 'url',
		'LABEL': 'Input type=url, with value',
		'VALUE': 'http://example.com'
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'password',
		'LABEL': 'Input type=password, with placeholder'
	}) }}

	{{ forms.group({
		'TYPE': 'password',
		'LABEL': 'Input type=password, with value',
		'VALUE': 'qwerty1234567890'
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'number',
		'LABEL': 'Input type=number'
	}) }}

	{{ forms.group({
		'TYPE': 'number',
		'LABEL': 'Input type=number, with value',
		'VALUE': '1234'
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'textarea',
		'LABEL': 'Textarea'
	}) }}

	{{ forms.group({
		'TYPE': 'textarea',
		'LABEL': 'Textarea, with value',
		'VALUE': 'Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est. Suspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.'
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with placeholder',
  'PLACEHOLDER': 'Lorem ipsum dolor'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with value',
  'VALUE': 'Hello world!'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'text',
  'VARIANT': 2,
  'LABEL': 'Input type=text, variant 2, with placeholder',
  'PLACEHOLDER': 'Lorem ipsum dolor'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'VARIANT': 2,
  'LABEL': 'Input type=text, variant 2, with value',
  'VALUE': 'Hello world!'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'email',
  'LABEL': 'Input type=email'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'email',
  'LABEL': 'Input type=email, with value',
  'VALUE': 'test@example.com'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'search',
  'LABEL': 'Input type=search'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'search',
  'LABEL': 'Input type=search, with value',
  'VALUE': 'Hello world!'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'tel',
  'LABEL': 'Input type=tel'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'url',
  'LABEL': 'Input type=url, with value',
  'VALUE': '111 222 333'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'url',
  'LABEL': 'Input type=url'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'url',
  'LABEL': 'Input type=url, with value',
  'VALUE': 'http://example.com'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'password',
  'LABEL': 'Input type=password, with placeholder'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'password',
  'LABEL': 'Input type=password, with value',
  'VALUE': 'qwerty1234567890'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'number',
  'LABEL': 'Input type=number'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'number',
  'LABEL': 'Input type=number, with value',
  'VALUE': '1234'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'textarea',
  'LABEL': 'Textarea'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'textarea',
  'LABEL': 'Textarea, with value',
  'VALUE': 'Aliquam erat volutpat. (…)'
}) {{ '}}' }}

</code></pre>


<p>For text inputs & textarea you can also set a <code>maxlength</code> property:</p>
<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, maxlength',
		'PLACEHOLDER': 'Try to input more than 30 characters',
		'MAXLENGTH': 30
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, maxlength',
  'PLACEHOLDER': 'Try to input more than 30 characters',
  'MAXLENGTH': 30
}) {{ '}}' }}

</code></pre>


<a name="formsInputTypes-select" id="formsInputTypes-select" class="test-anchor"></a>
<p class="text--h4">Select</p>

<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'select',
		'LABEL': 'Select, no option selected',
		'PLACEHOLDER': 'Choose',
		'options': [
			{
				'TEXT': 'Option 1',
				'VALUE': 1,
				'IS_SELECTED': false
			},
			{
				'TEXT': 'Option 2',
				'VALUE': 2,
				'IS_SELECTED': false
			}
		]
	}) }}

	{{ forms.group({
		'TYPE': 'select',
		'LABEL': 'Select, an option selected',
		'PLACEHOLDER': 'Choose',
		'options': [
			{
				'TEXT': 'Option 1 aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est. Suspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.',
				'VALUE': 1,
				'IS_SELECTED': true
			},
			{
				'TEXT': 'Option 2',
				'VALUE': 2,
				'IS_SELECTED': false
			}
		]
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'select',
		'VARIANT': 2,
		'LABEL': 'Select, variant 2, no option selected',
		'PLACEHOLDER': 'Choose',
		'options': [
			{
				'TEXT': 'Option 1',
				'VALUE': 1,
				'IS_SELECTED': false
			},
			{
				'TEXT': 'Option 2',
				'VALUE': 2,
				'IS_SELECTED': false
			}
		]
	}) }}

	{{ forms.group({
		'TYPE': 'select',
		'VARIANT': 2,
		'LABEL': 'Select, variant 2, an option selected',
		'PLACEHOLDER': 'Choose',
		'options': [
			{
				'TEXT': 'Option 1 aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est. Suspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.',
				'VALUE': 1,
				'IS_SELECTED': true
			},
			{
				'TEXT': 'Option 2',
				'VALUE': 2,
				'IS_SELECTED': false
			}
		]
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'select',
  'LABEL': 'Select, no option selected',
  'PLACEHOLDER': 'Choose',
  'options': [
    {
      'TEXT': 'Option 1',
      'VALUE': 1,
      'IS_SELECTED': false
    },
    {
      'TEXT': 'Option 2',
      'VALUE': 2,
      'IS_SELECTED': false
    }
  ]
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'LABEL': 'Select, an option selected',
  'PLACEHOLDER': 'Choose',
  'options': [
    {
      'TEXT': 'Option 1 aliquam erat volutpat. (…)',
      'VALUE': 1,
      'IS_SELECTED': true
    },
    {
      'TEXT': 'Option 2',
      'VALUE': 2,
      'IS_SELECTED': false
    }
  ]
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'VARIANT': 2,
  'LABEL': 'Select, variant 2, no option selected',
  'PLACEHOLDER': 'Choose',
  'options': [
    {
      'TEXT': 'Option 1',
      'VALUE': 1,
      'IS_SELECTED': false
    },
    {
      'TEXT': 'Option 2',
      'VALUE': 2,
      'IS_SELECTED': false
    }
  ]
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'VARIANT': 2,
  'LABEL': 'Select, variant 2, an option selected',
  'PLACEHOLDER': 'Choose',
  'options': [
    {
      'TEXT': 'Option 1 aliquam erat volutpat. (…)',
      'VALUE': 1,
      'IS_SELECTED': true
    },
    {
      'TEXT': 'Option 2',
      'VALUE': 2,
      'IS_SELECTED': false
    }
  ]
}) {{ '}}' }}
</code></pre>


<p>For select, you can also set a <code>GENERATE_OPTION_FROM_PLACEHOLDER</code> flag (it defaults to <code>true</code>):</p>
<ul>
	<li>If <code>true</code>, macro will generate an option with empty value and text given in <code>placeholder</code> attribute.</li>
	<li>If <code>false</code>, placeholder text will be set only initially and chosing any option will replace it. No <code>&lt;option&gt;</code> will be generated.</li>
</ul>

<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'select',
		'LABEL': 'Select, GENERATE_OPTION_FROM_PLACEHOLDER=false',
		'PLACEHOLDER': 'Choose',
		'options': [
			{
				'TEXT': 'Option 1',
				'VALUE': 1,
				'IS_SELECTED': false
			},
			{
				'TEXT': 'Option 2',
				'VALUE': 2,
				'IS_SELECTED': false
			}
		],
		'GENERATE_OPTION_FROM_PLACEHOLDER': false
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'select',
  'LABEL': 'Select, GENERATE_OPTION_FROM_PLACEHOLDER=false',
  'PLACEHOLDER': 'Choose',
  'options': [
    {
      'TEXT': 'Option 1',
      'VALUE': 1,
      'IS_SELECTED': false
    },
    {
      'TEXT': 'Option 2',
      'VALUE': 2,
      'IS_SELECTED': false
    }
  ],
  'GENERATE_OPTION_FROM_PLACEHOLDER': false
}) {{ '}}' }}

</code></pre>


<a name="formsInputTypes-checkbox" id="formsInputTypes-checkbox" class="test-anchor"></a>
<p class="text--h4">Checkboxes</p>

<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'checkbox',
		'LABEL': 'Checkbox',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet'
	}) }}

	{{ forms.group({
		'TYPE': 'checkbox',
		'LABEL': 'Checkbox, long placeholder',
		'PLACEHOLDER': 'Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est uspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.'
	}) }}

	{{ forms.group({
		'TYPE': 'checkbox',
		'LABEL': 'Checkbox, checked',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'IS_CHECKED': true
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'checkbox',
		'VARIANT': 2,
		'LABEL': 'Checkbox, variant 2',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet'
	}) }}

	{{ forms.group({
		'TYPE': 'checkbox',
		'VARIANT': 2,
		'LABEL': 'Checkbox, variant 2, long placeholder',
		'PLACEHOLDER': 'Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est uspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.'
	}) }}

	{{ forms.group({
		'TYPE': 'checkbox',
		'VARIANT': 2,
		'LABEL': 'Checkbox, variant 2, checked',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'IS_CHECKED': true
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'checkbox',
		'LABEL': 'Checkbox, long placeholder, PLACEHOLDER_NOWRAP=true',
		'PLACEHOLDER': 'Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est uspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.',
		'PLACEHOLDER_NOWRAP': true
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'LABEL': 'Checkbox',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'LABEL': 'Checkbox, long placeholder',
  'PLACEHOLDER': 'Aliquam erat volutpat. (…)'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'LABEL': 'Checkbox, checked',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'IS_CHECKED': true
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'VARIANT': 2,
  'LABEL': 'Checkbox, variant 2',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'VARIANT': 2,
  'LABEL': 'Checkbox, variant 2, long placeholder',
  'PLACEHOLDER': 'Aliquam erat volutpat. (…)'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'VARIANT': 2,
  'LABEL': 'Checkbox, variant 2, checked',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'IS_CHECKED': true
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'VARIANT': 2,
  'LABEL': 'Checkbox, long placeholder, PLACEHOLDER_NOWRAP=true',
  'PLACEHOLDER': 'Aliquam erat volutpat. (…)',
  'PLACEHOLDER_NOWRAP': true
}) {{ '}}' }}

</code></pre>


<a name="formsInputTypes-radio" id="formsInputTypes-radio" class="test-anchor"></a>
<p class="text--h4">Radiobuttons</p>

<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'radio',
		'LABEL': 'Radio',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'NAME': 'test_radio1',
		'VALUE': 1
	}) }}

	{{ forms.group({
		'TYPE': 'radio',
		'LABEL': 'Radio, long placeholder',
		'PLACEHOLDER': 'Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est uspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.',
		'NAME': 'test_radio1',
		'VALUE': 2
	}) }}

	{{ forms.group({
		'TYPE': 'radio',
		'LABEL': 'Radio, checked',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'NAME': 'test_radio1',
		'VALUE': 3,
		'IS_CHECKED': true
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'radio',
		'VARIANT': 2,
		'LABEL': 'Radio, variant 2',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'NAME': 'test_radio2',
		'VALUE': 1
	}) }}

	{{ forms.group({
		'TYPE': 'radio',
		'VARIANT': 2,
		'LABEL': 'Radio, variant 2, long placeholder',
		'PLACEHOLDER': 'Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est uspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.',
		'NAME': 'test_radio2',
		'VALUE': 2
	}) }}

	{{ forms.group({
		'TYPE': 'radio',
		'VARIANT': 2,
		'LABEL': 'Radio, variant 2, checked',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'NAME': 'test_radio2',
		'VALUE': 3,
		'IS_CHECKED': true
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'radio',
		'VARIANT': 2,
		'LABEL': 'Radio, long placeholder, PLACEHOLDER_NOWRAP=true',
		'PLACEHOLDER': 'Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est uspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.',
		'PLACEHOLDER_NOWRAP': true,
		'NAME': 'test_radio3',
		'VALUE': 1
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'radio',
  'LABEL': 'Radio',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'NAME': 'test_radio1',
  'VALUE': 1
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'radio',
  'LABEL': 'Radio, long placeholder',
  'PLACEHOLDER': 'Aliquam erat volutpat. (…)',
  'NAME': 'test_radio',
  'VALUE': 2
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'radio',
  'LABEL': 'Radio, checked',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'NAME': 'test_radio1',
  'VALUE': 3,
  'IS_CHECKED': true
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'radio',
  'VARIANT': 2,
  'LABEL': 'Radio, variant 2',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'NAME': 'test_radio2',
  'VALUE': 1
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'radio',
  'VARIANT': 2,
  'LABEL': 'Radio, variant 2, long placeholder',
  'PLACEHOLDER': 'Aliquam erat volutpat. (…)',
  'NAME': 'test_radio2',
  'VALUE': 2
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'radio',
  'VARIANT': 2,
  'LABEL': 'Radio, variant 2, checked',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'NAME': 'test_radio2',
  'VALUE': 3,
  'IS_CHECKED': true
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'radio',
  'VARIANT': 2,
  'LABEL': 'Radio, long placeholder, PLACEHOLDER_NOWRAP=true',
  'PLACEHOLDER': 'Aliquam erat volutpat. (…)',
  'PLACEHOLDER_NOWRAP': true,
  'NAME': 'test_radio3',
  'VALUE': 1
}) {{ '}}' }}

</code></pre>
