<!-- ########################
# 
# #Usage of form controls in JS templates
#
######################### -->
<a name="formsJsTemplates" id="formsJsTemplates" class="test-anchor"></a>
<p class="text--h3">Usage of form controls in JS templates</p>
<p class="margin-top--10">Whenever you need to place a form control in your JS template, the recommended way to do so is to create a template directly in your TWIG template:</p>

<pre class="test-code-container"><code class="html">
&lt;script type="text/template" id="yourTemplateId"&gt;
  {{ '{{' }} forms.group({
    'TYPE': 'text',
    'LABEL': 'Input type=text, with data- attributes containing escaped characters',
    'NAME': '&lt;%= name %&gt;',
    'data': {
      'key1': '&lt;%= value1 %&gt;',
      'key2': 'value2'
    },
    'RENDER_UNESCAPED': true
  }) {{ '}}' }}
&lt;/script&gt;
</code></pre>
