<!-- ########################
# 
# #Manual init
#
######################### -->
<a name="formsControlManualInit" id="formsControlManualInit" class="test-anchor"></a>

<p class="text--h3">Manual init of form control</p>
<p class="margin-top--10">The <code>checkbox</code>, <code>radio</code> & <code>select</code> controls themselves, as well as all form controls' validation require JS control view initialization. By default, all controls rendered with twig macros are initialized onload. Those that are added to the DOM afterward need to be initialized manually. Sometimes you may want to initialize the control manually, so you can keep a reference to it. To do that you need to instruct the scripts to abort initialization for particular control. You can do this by setting the <code>CONTROL_MANUAL_INIT</code> flag to <code>true</code>.</p>

<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'checkbox',
		'LABEL': 'Checkbox, clicking won\'t make any effect',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'CONTROL_MANUAL_INIT': true
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'LABEL': 'Checkbox, clicking won\'t make any effect',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'CONTROL_MANUAL_INIT': true
}) {{ '}}' }}

</code></pre>
