<!-- ########################
# 
# #Number field
#
######################### -->
<a name="formsNumber" id="formsNumber" class="test-anchor"></a>

<p class="text--h3">Setting `number`'s <code>min</code>, <code>max</code> & <code>step</code> attributes</p>
<p class="margin-top--10">For text input of type <code>number</code> you can set <code>min</code>, <code>max</code> & <code>step</code> attributes, however all of them are optional. <code>min</code> defaults to `0`, <code>max</code> & <code>step</code> are not rendered at all.</p>

<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'number',
		'LABEL': 'Input type=number, min=0, max=100, step=1',
		'MIN': 0,
		'MAX': 100,
		'STEP': 1
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'number',
  'LABEL': 'Input type=number, min=0, max=100, step=1',
  'MIN': 0,
  'MAX': 100,
  'STEP': 1
}) {{ '}}' }}
</code></pre>
