<!-- ########################
# 
# #RENDER_UNESCAPED flag
#
######################### -->
<a name="formsRenderUnescaped" id="formsRenderUnescaped" class="test-anchor"></a>
<p class="text--h3"><code>RENDER_UNESCAPED</code> flag</p>
<p class="margin-top--10">When passing any escaped characters as any of the macro parameters, set the <code>RENDER_UNESCAPED</code> flag to <code>true</code> to ensure that the passed strings are not escaped upon render. These parameters: <code>placeholder</code>, <code>label</code> are not escaped by default.</p>
<p class="margin-top--10">See <a href="#formsDataAttributes">setting form controls data- attributes</a> for a practical example of <code>RENDER_UNESCAPED</code> usage.</p>
