<!-- ########################
# 
# #Usage
#
######################### -->
<a name="formsUsage" id="formsUsage" class="test-anchor"></a>

<p class="text--h3">Macros usage</p>
<p class="margin-top-10">In order to use forms macros, you need to include the <strong>_macros/__forms.twig</strong> file and set its content to a variable:</p>

<pre class="test-code-container"><code class="twig">
{{ '{' }}% import '_macros/__forms.twig' as forms %{{ '}' }}

</code></pre>

<div class="alert alert--info margin-top--20">For full reference on macros attributes see <strong>templates/_macros/__forms.twig</strong> file.<br>For full reference on controls styling see <strong>less/bia/forms.less</strong></div>
