<!-- ########################
# 
# #Validation control states & messages
#
######################### -->
<a name="formsValidationStates" id="formsValidationStates" class="test-anchor"></a>
<p class="text--h3">Validation control states & messages</p>
<p class="margin-top--10">Following examples show how to render a form control with a validation state & a validation message. The same visuals apply to JS form validation.</p>

<nav class="margin-top--15">
	<p><strong>Subsections:</strong></p>
	<ol>
		<li><a href="#formsValidationStates-text">Text inputs & textarea</a></li>
		<li><a href="#formsValidationStates-select">Select</a></li>
		<li><a href="#formsValidationStates-checkbox">Checkboxes</a></li>
		<li><a href="#formsValidationStates-radio">Radiobuttons</a></li>
	</ol>
</nav>


<p class="text--h4 margin-top--30">Text inputs & textarea</p>
<a name="formsValidationStates-text" id="formsValidationStates-text" class="test-anchor"></a>
<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with placeholder, success, message',
		'PLACEHOLDER': 'Lorem ipsum dolor',
		'STATE': 'success',
		'MSG': 'Lorem ipsum dolor sit amet. Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est uspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.'
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with value, success, message',
		'VALUE': 'Hello world!',
		'STATE': 'success',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with placeholder, danger, message',
		'PLACEHOLDER': 'Lorem ipsum dolor',
		'STATE': 'danger',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with value, danger, message',
		'VALUE': 'Hello world!',
		'STATE': 'danger',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with placeholder, warning, message',
		'PLACEHOLDER': 'Lorem ipsum dolor',
		'STATE': 'warning',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with value, warning, message',
		'VALUE': 'Hello world!',
		'STATE': 'warning',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with placeholder, info, message',
		'PLACEHOLDER': 'Lorem ipsum dolor',
		'STATE': 'info',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, with value, info, message',
		'VALUE': 'Hello world!',
		'STATE': 'info',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}

	<br><br>

	{{ forms.group({
		'TYPE': 'text',
		'VARIANT': 2,
		'LABEL': 'Input type=text, variant 2, with placeholder, success, message',
		'PLACEHOLDER': 'Lorem ipsum dolor',
		'STATE': 'success',
		'MSG': 'Lorem ipsum dolor sit amet. Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est uspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.'
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'VARIANT': 2,
		'LABEL': 'Input type=text, variant 2, with value, success, message',
		'VALUE': 'Hello world!',
		'STATE': 'success',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'text',
		'VARIANT': 2,
		'LABEL': 'Input type=text, variant 2, with placeholder, danger, message',
		'PLACEHOLDER': 'Lorem ipsum dolor',
		'STATE': 'danger',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'VARIANT': 2,
		'LABEL': 'Input type=text, variant 2, with value, danger, message',
		'VALUE': 'Hello world!',
		'STATE': 'danger',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'text',
		'VARIANT': 2,
		'LABEL': 'Input type=text, variant 2, with placeholder, warning, message',
		'PLACEHOLDER': 'Lorem ipsum dolor',
		'STATE': 'warning',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'VARIANT': 2,
		'LABEL': 'Input type=text, variant 2, with value, warning, message',
		'VALUE': 'Hello world!',
		'STATE': 'warning',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}

	<br>

	{{ forms.group({
		'TYPE': 'text',
		'VARIANT': 2,
		'LABEL': 'Input type=text, variant 2, with placeholder, info, message',
		'PLACEHOLDER': 'Lorem ipsum dolor',
		'STATE': 'info',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'VARIANT': 2,
		'LABEL': 'Input type=text, variant 2, with value, info, message',
		'VALUE': 'Hello world!',
		'STATE': 'info',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with placeholder, success, message',
  'PLACEHOLDER': 'Lorem ipsum dolor',
  'STATE': 'success',
  'MSG': 'Lorem ipsum dolor sit amet. (…)'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with value, success, message',
  'VALUE': 'Hello world!',
  'STATE': 'success',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with placeholder, danger, message',
  'PLACEHOLDER': 'Lorem ipsum dolor',
  'STATE': 'danger',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with value, danger, message',
  'VALUE': 'Hello world!',
  'STATE': 'danger',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with placeholder, warning, message',
  'PLACEHOLDER': 'Lorem ipsum dolor',
  'STATE': 'warning',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with value, warning, message',
  'VALUE': 'Hello world!',
  'STATE': 'warning',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with placeholder, info, message',
  'PLACEHOLDER': 'Lorem ipsum dolor',
  'STATE': 'info',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, with value, info, message',
  'VALUE': 'Hello world!',
  'STATE': 'info',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}



{{ '{{' }} forms.group({
  'TYPE': 'text',
  'VARIANT': 2,
  'LABEL': 'Input type=text, variant 2, with placeholder, success, message',
  'PLACEHOLDER': 'Lorem ipsum dolor',
  'STATE': 'success',
  'MSG': 'Lorem ipsum dolor sit amet. (…)'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'VARIANT': 2,
  'LABEL': 'Input type=text, variant 2, with value, success, message',
  'VALUE': 'Hello world!',
  'STATE': 'success',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'text',
  'VARIANT': 2,
  'LABEL': 'Input type=text, variant 2, with placeholder, danger, message',
  'PLACEHOLDER': 'Lorem ipsum dolor',
  'STATE': 'danger',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'VARIANT': 2,
  'LABEL': 'Input type=text, variant 2, with value, danger, message',
  'VALUE': 'Hello world!',
  'STATE': 'danger',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'text',
  'VARIANT': 2,
  'LABEL': 'Input type=text, variant 2, with placeholder, warning, message',
  'PLACEHOLDER': 'Lorem ipsum dolor',
  'STATE': 'warning',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'VARIANT': 2,
  'LABEL': 'Input type=text, variant 2, with value, warning, message',
  'VALUE': 'Hello world!',
  'STATE': 'warning',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'text',
  'VARIANT': 2,
  'LABEL': 'Input type=text, variant 2, with placeholder, info, message',
  'PLACEHOLDER': 'Lorem ipsum dolor',
  'STATE': 'info',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'VARIANT': 2,
  'LABEL': 'Input type=text, variant 2, with value, info, message',
  'VALUE': 'Hello world!',
  'STATE': 'info',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

</code></pre>


<a name="formsValidationStates-select" id="formsValidationStates-select" class="test-anchor"></a>
<p class="text--h4">Select</p>
<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'select',
		'LABEL': 'Select, with no option selected, success, message',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'STATE': 'success',
		'MSG': 'Lorem ipsum dolor sit amet. Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est uspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.'
	}) }}

	{{ forms.group({
		'TYPE': 'select',
		'LABEL': 'Select, with option selected, success, message',
		'PLACEHOLDER': 'Choose',
		'options': [
			{
				'TEXT': 'Option 1',
				'VALUE': 1,
				'IS_SELECTED': true
			}
		],
		'STATE': 'success',
		'MSG': 'Lorem ipsum dolor sit amet. Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est uspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.'
	}) }}


	{{ forms.group({
		'TYPE': 'select',
		'LABEL': 'Select, with no option selected, danger, message',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'STATE': 'danger',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}

	{{ forms.group({
		'TYPE': 'select',
		'LABEL': 'Select, with option selected, danger, message',
		'PLACEHOLDER': 'Choose',
		'options': [
			{
				'TEXT': 'Option 1',
				'VALUE': 1,
				'IS_SELECTED': true
			}
		],
		'STATE': 'danger',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}


	{{ forms.group({
		'TYPE': 'select',
		'LABEL': 'Select, with no option selected, warning, message',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'STATE': 'warning',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}

	{{ forms.group({
		'TYPE': 'select',
		'LABEL': 'Select, with option selected, warning, message',
		'PLACEHOLDER': 'Choose',
		'options': [
			{
				'TEXT': 'Option 1',
				'VALUE': 1,
				'IS_SELECTED': true
			}
		],
		'STATE': 'warning',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}


	{{ forms.group({
		'TYPE': 'select',
		'LABEL': 'Select, with no option selected, info, message',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'STATE': 'info',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}

	{{ forms.group({
		'TYPE': 'select',
		'LABEL': 'Select, with option selected, info, message',
		'PLACEHOLDER': 'Choose',
		'options': [
			{
				'TEXT': 'Option 1',
				'VALUE': 1,
				'IS_SELECTED': true
			}
		],
		'STATE': 'info',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}

	<br><br>

	{{ forms.group({
		'TYPE': 'select',
		'VARIANT': 2,
		'LABEL': 'Select, variant 2, with no option selected, success, message',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'STATE': 'success',
		'MSG': 'Lorem ipsum dolor sit amet. Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est uspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.'
	}) }}

	{{ forms.group({
		'TYPE': 'select',
		'VARIANT': 2,
		'LABEL': 'Select, variant 2, with option selected, success, message',
		'PLACEHOLDER': 'Choose',
		'options': [
			{
				'TEXT': 'Option 1',
				'VALUE': 1,
				'IS_SELECTED': true
			}
		],
		'STATE': 'success',
		'MSG': 'Lorem ipsum dolor sit amet. Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est uspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.'
	}) }}


	{{ forms.group({
		'TYPE': 'select',
		'VARIANT': 2,
		'LABEL': 'Select, variant 2, with no option selected, danger, message',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'STATE': 'danger',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}

	{{ forms.group({
		'TYPE': 'select',
		'VARIANT': 2,
		'LABEL': 'Select, variant 2, with option selected, danger, message',
		'PLACEHOLDER': 'Choose',
		'options': [
			{
				'TEXT': 'Option 1',
				'VALUE': 1,
				'IS_SELECTED': true
			}
		],
		'STATE': 'danger',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}


	{{ forms.group({
		'TYPE': 'select',
		'VARIANT': 2,
		'LABEL': 'Select, variant 2, with no option selected, warning, message',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'STATE': 'warning',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}

	{{ forms.group({
		'TYPE': 'select',
		'VARIANT': 2,
		'LABEL': 'Select, variant 2, with option selected, warning, message',
		'PLACEHOLDER': 'Choose',
		'options': [
			{
				'TEXT': 'Option 1',
				'VALUE': 1,
				'IS_SELECTED': true
			}
		],
		'STATE': 'warning',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}


	{{ forms.group({
		'TYPE': 'select',
		'VARIANT': 2,
		'LABEL': 'Select, variant 2, with no option selected, info, message',
		'PLACEHOLDER': 'Choose',
		'options': [],
		'STATE': 'info',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}

	{{ forms.group({
		'TYPE': 'select',
		'VARIANT': 2,
		'LABEL': 'Select, variant 2, with option selected, info, message',
		'PLACEHOLDER': 'Choose',
		'options': [
			{
				'TEXT': 'Option 1',
				'VALUE': 1,
				'IS_SELECTED': true
			}
		],
		'STATE': 'info',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'select',
  'LABEL': 'Select, with no option selected, success, message',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'STATE': 'success',
  'MSG': 'Lorem ipsum dolor sit amet. (…)'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'LABEL': 'Select, with option selected, success, message',
  'PLACEHOLDER': 'Choose',
  'options': [
    {
      'TEXT': 'Option 1',
      'VALUE': 1,
      'IS_SELECTED': true
    }
  ],
  'STATE': 'success',
  'MSG': 'Lorem ipsum dolor sit amet. (…)'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'select',
  'LABEL': 'Select, with no option selected, danger, message',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'STATE': 'danger',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'LABEL': 'Select, with option selected, danger, message',
  'PLACEHOLDER': 'Choose',
  'options': [
    {
      'TEXT': 'Option 1',
      'VALUE': 1,
      'IS_SELECTED': true
    }
  ],
  'STATE': 'danger',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'select',
  'LABEL': 'Select, with no option selected, warning, message',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'STATE': 'warning',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'LABEL': 'Select, with option selected, warning, message',
  'PLACEHOLDER': 'Choose',
  'options': [
    {
      'TEXT': 'Option 1',
      'VALUE': 1,
      'IS_SELECTED': true
    }
  ],
  'STATE': 'warning',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'select',
  'LABEL': 'Select, with no option selected, info, message',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'STATE': 'info',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'LABEL': 'Select, with option selected, info, message',
  'PLACEHOLDER': 'Choose',
  'options': [
    {
      'TEXT': 'Option 1',
      'VALUE': 1,
      'IS_SELECTED': true
    }
  ],
  'STATE': 'info',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}



{{ '{{' }} forms.group({
  'TYPE': 'select',
  'VARIANT': 2,
  'LABEL': 'Select, variant 2, with no option selected, success, message',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'STATE': 'success',
  'MSG': 'Lorem ipsum dolor sit amet. (…)'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'VARIANT': 2,
  'LABEL': 'Select, variant 2, with option selected, success, message',
  'PLACEHOLDER': 'Choose',
  'options': [
    {
      'TEXT': 'Option 1',
      'VALUE': 1,
      'IS_SELECTED': true
    }
  ],
  'STATE': 'success',
  'MSG': 'Lorem ipsum dolor sit amet. (…)'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'select',
  'VARIANT': 2,
  'LABEL': 'Select, variant 2, with no option selected, danger, message',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'STATE': 'danger',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'VARIANT': 2,
  'LABEL': 'Select, variant 2, with option selected, danger, message',
  'PLACEHOLDER': 'Choose',
  'options': [
    {
      'TEXT': 'Option 1',
      'VALUE': 1,
      'IS_SELECTED': true
    }
  ],
  'STATE': 'danger',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'select',
  'VARIANT': 2,
  'LABEL': 'Select, variant 2, with no option selected, warning, message',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'STATE': 'warning',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'VARIANT': 2,
  'LABEL': 'Select, variant 2, with option selected, warning, message',
  'PLACEHOLDER': 'Choose',
  'options': [
    {
      'TEXT': 'Option 1',
      'VALUE': 1,
      'IS_SELECTED': true
    }
  ],
  'STATE': 'warning',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}


{{ '{{' }} forms.group({
  'TYPE': 'select',
  'VARIANT': 2,
  'LABEL': 'Select, variant 2, with no option selected, info, message',
  'PLACEHOLDER': 'Choose',
  'options': [],
  'STATE': 'info',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'select',
  'VARIANT': 2,
  'LABEL': 'Select, variant 2, with option selected, info, message',
  'PLACEHOLDER': 'Choose',
  'options': [
    {
      'TEXT': 'Option 1',
      'VALUE': 1,
      'IS_SELECTED': true
    }
  ],
  'STATE': 'info',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

</code></pre>


<a name="formsValidationStates-checkbox" id="formsValidationStates-checkbox" class="test-anchor"></a>
<p class="text--h4">Checkboxes</p>
<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'checkbox',
		'LABEL': 'Checkbox, success, message',
		'PLACEHOLDER': 'Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est uspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.',
		'STATE': 'success',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}

	{{ forms.group({
		'TYPE': 'checkbox',
		'LABEL': 'Checkbox, danger, message',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'STATE': 'danger',
		'MSG': 'Lorem ipsum dolor sit amet. Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est uspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.'
	}) }}

	{{ forms.group({
		'TYPE': 'checkbox',
		'LABEL': 'Checkbox, warning, message',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'STATE': 'warning',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}

	{{ forms.group({
		'TYPE': 'checkbox',
		'LABEL': 'Checkbox, info, message',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'STATE': 'info',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'LABEL': 'Checkbox, success, message',
  'PLACEHOLDER': 'Aliquam erat volutpat. (…)',
  'STATE': 'success',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'LABEL': 'Checkbox, danger, message',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'STATE': 'danger',
  'MSG': 'Lorem ipsum dolor sit amet. Aliquam erat volutpat. (…)'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'LABEL': 'Checkbox, warning, message',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'STATE': 'warning',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'checkbox',
  'LABEL': 'Checkbox, info, message',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'STATE': 'info',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

</code></pre>


<a name="formsValidationStates-radio" id="formsValidationStates-radio" class="test-anchor"></a>
<p class="text--h4">Radiobuttons</p>
<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'radio',
		'LABEL': 'Radio, success, message',
		'PLACEHOLDER': 'Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est uspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.',
		'STATE': 'success',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}

	{{ forms.group({
		'TYPE': 'radio',
		'LABEL': 'Radio, danger, message',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'STATE': 'danger',
		'MSG': 'Lorem ipsum dolor sit amet. Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est uspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.'
	}) }}

	{{ forms.group({
		'TYPE': 'radio',
		'LABEL': 'Radio, warning, message',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'STATE': 'warning',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}

	{{ forms.group({
		'TYPE': 'radio',
		'LABEL': 'Radio, info, message',
		'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
		'STATE': 'info',
		'MSG': 'Lorem ipsum dolor sit amet'
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'radio',
  'LABEL': 'Radio, success, message',
  'PLACEHOLDER': 'Aliquam erat volutpat. (…)',
  'STATE': 'success',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'radio',
  'LABEL': 'Radio, danger, message',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'STATE': 'danger',
  'MSG': 'Lorem ipsum dolor sit amet. Aliquam erat volutpat. (…)'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'radio',
  'LABEL': 'Radio, warning, message',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'STATE': 'warning',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'radio',
  'LABEL': 'Radio, info, message',
  'PLACEHOLDER': 'Lorem ipsum dolor sit amet',
  'STATE': 'info',
  'MSG': 'Lorem ipsum dolor sit amet'
}) {{ '}}' }}

</code></pre>
