<!-- ########################
# 
# #Validation messages with links
#
######################### -->
<a name="formsValidationMessages" id="formsValidationMessages" class="test-anchor"></a>
<p class="text--h3">Rendered validation messages with links</p>
<p class="margin-top--10">Just place a link & set <code>RENDER_UNESCAPED</code> flag to <code>true</code>. See also: <a href="#formsRenderUnescaped"><code>RENDER_UNESCAPED</code> flag</a>.</p>

<blockquote class="test-code-example">
	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, success, message with link',
		'STATE': 'success',
		'MSG': 'Lorem ipsum dolor: <a href="http://example.com" target="_blank">http://example.com</a>',
		'RENDER_UNESCAPED': true
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, danger, message with link',
		'STATE': 'danger',
		'MSG': 'Lorem ipsum dolor: <a href="http://example.com" target="_blank">http://example.com</a>',
		'RENDER_UNESCAPED': true
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, warning, message with link',
		'STATE': 'warning',
		'MSG': 'Lorem ipsum dolor: <a href="http://example.com" target="_blank">http://example.com</a>',
		'RENDER_UNESCAPED': true
	}) }}

	{{ forms.group({
		'TYPE': 'text',
		'LABEL': 'Input type=text, info, message with link',
		'STATE': 'info',
		'MSG': 'Lorem ipsum dolor: <a href="http://example.com" target="_blank">http://example.com</a>',
		'RENDER_UNESCAPED': true
	}) }}
</blockquote>

<pre class="test-code-container"><code class="twig">
{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, success, message with link',
  'STATE': 'success',
  'MSG': 'Lorem ipsum dolor: &lt;a href="http://example.com" target="_blank"&gt;http://example.com&lt;/a&gt;',
  'RENDER_UNESCAPED': true
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, danger, message with link',
  'STATE': 'danger',
  'MSG': 'Lorem ipsum dolor: &lt;a href="http://example.com" target="_blank"&gt;http://example.com&lt;/a&gt;',
  'RENDER_UNESCAPED': true
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, warning, message with link',
  'STATE': 'warning',
  'MSG': 'Lorem ipsum dolor: &lt;a href="http://example.com" target="_blank"&gt;http://example.com&lt;/a&gt;',
  'RENDER_UNESCAPED': true
}) {{ '}}' }}

{{ '{{' }} forms.group({
  'TYPE': 'text',
  'LABEL': 'Input type=text, info, message with link',
  'STATE': 'info',
  'MSG': 'Lorem ipsum dolor: &lt;a href="http://example.com" target="_blank"&gt;http://example.com&lt;/a&gt;',
  'RENDER_UNESCAPED': true
}) {{ '}}' }}

</code></pre>
