<!-- ########################
# 
# #Form group vertical align to buttons
#
######################### -->
<a name="formsVerticalAlign" id="formsVerticalAlign" class="test-anchor"></a>
<p class="text--h3">Form group vertical align to buttons</p>
<p class="margin-top--10">This technique aligns bottomline of the button to the bottomline of the input. Works for all text inputs (except for textareas).</p>

<blockquote class="test-code-example">
	<div>TBU</div>
</blockquote>

<pre class="test-code-container"><code class="twig">

</code></pre>
