{% extends '_layouts/_default.twig' %}
{% import '_macros/__forms.twig' as forms %}

{% block sidebar %}
{% endblock %}

{% block header %}
{% endblock %}

{% block message %}
{% endblock %}

{% block content %}
  <div class="container  logreg">
    <div class="logreg__logo">
      <img class="logreg__logo-image" src="{{ attribute(BIACONFIG.build.img, 'spamiles-logo-primary.png') }}" alt="Spamiles">
    </div>

    {% include '_partials/_message.twig' %}

    <div class="[ panel panel--content-padding ]  logreg-panel">
      <div class="panel__header"><h3 class="panel__title">Set new password</h3></div>
      <div class="panel__content">
        {{ forms.start({
          'METHOD': 'post',
          'ACTION': links.resetPasswordView.URL ~ (debug ? '?debug=1')
        }) }}

          {{ forms.group({
            'TYPE': 'password',
            'SIZE': 'm',
            'ICON_LEFT': 'icon--unlock icon--slate-light',
            'PLACEHOLDER': 'Enter new password',
            'LABEL': 'New password',
            'NAME': 'password',
            'STATE': errors.password ? 'danger',
            'MSG': errors.password
          }) }}
          {{ forms.group({
            'TYPE': 'password',
            'SIZE': 'm',
            'ICON_LEFT': 'icon--unlock icon--slate-light',
            'PLACEHOLDER': 'Confirm new password',
            'LABEL': 'Confirm password',
            'NAME': 'confirm_password',
            'STATE': errors.confirm_password ? 'danger',
            'MSG': errors.confirm_password
          }) }}

          <div class="text--center">
            <button class="[ btn btn--m btn--primary ]  [ text--uppercase text--bold ]" type="submit"><span class="icon icon--white icon--tick"></span><span>Set new password</span></button>
          </div>
        {{ forms.end({}) }}
      </div>
    </div>
  </div>
{% endblock %}
