{% extends '_layouts/_default.twig' %}
{% import '_macros/__listing-filters.twig' as listingFilters %}
{% import '_macros/__listing-table.twig' as listingTable %}

{% block content %}
  <div class="container  [ margin-top--20 margin-bottom--30 ]">
    {% include 'buyersListingPage/_filters.twig' %}
  </div>

  <div class="container  margin-top--20">
    {{ listingTable.listingHeader({
      'TABLE_ID': 'listingTable',
      'TITLE': seo.PAGE_TITLE,
      'pagination': pagination
    }) }}
      {{ listingTable.table({
        'TABLE_ID': 'listingTable',
        'structure': [
          {'HEADER_CONTENT': 'Trade Name'},
          {'HEADER_CONTENT': 'Contact Person'},
          {
            'TYPE': 'email',
            'HEADER_CONTENT': 'Email'
          },
          {'HEADER_CONTENT': 'Country'},
          {'HEADER_CONTENT': 'City'},
          {
            'TYPE': 'datetime',
            'HEADER_CONTENT': 'Created'
          },
          {
            'TYPE': 'icon-actions',
            'HEADER_CONTENT': 'Actions',
            'actions': [
              {
                'HREF': '#',
                'LABEL': 'View',
                'iconClasses': [
                  'icon--white',
                  'icon--eye',
                ],
                'classes': ['js-md-open'],
                'data': {
                  'md-id': 'buyerView',
                  'md-ac-url': links.buyerModal.URL ~ '/${rowId}'
                }
              }
            ]
          }
        ],
        'data': data.info
      }) }}
    {{ listingTable.listingFooter({
      'TABLE_ID': 'listingTable',
      'pagination': pagination
    }) }}
  </div>
{% endblock %}

{% block modals %}
  {{ parent() }}
  {% include '_modals/_buyer-view.twig' %}
{% endblock %}
