.text-center {
  text-align: center;
}

.mrg-top-10 {
  margin-top: 10px !important;
}

.mrg-top-15 {
  margin-top: 15px !important;
}

.mrg-top-25 {
  margin-top: 25px !important;
}

.mrg-top-75 {
  margin-top: 75px !important;
}