#loginAndRegistrationPage {

  h1 {
    @include font-header();
    @include header-size();
    text-align: center;
    color: $black;
    display: block;
    text-transform: none;
  }

  h3 {
    @include font-header();
    font-weight: 400;
    font-size: 30px;
    color: $blue;
    display: block;
    text-align: left;
    text-transform: uppercase;
    clear: both;
  }

  p {
    @include font-text();
    margin: 0;
    color: $grey;
    font-size: 18px;

    &.lead {
      font-size: 24px;
      color: $black;
      text-align: center;
      margin: 0.5em 0 2em;
    }

    &.section-lead {
      color: $grey;
      font-size: 18px;
    }

    &.blue-link {
      color: $blue;
      font-size: 18px;
      margin: 0 0 0.5em;

      a {
        color: $blue;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &.black-link {
      color: $black;
      font-size: 18px;
      margin: 0 0 0.5em;

      a {
        color: $black;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  form {

    width: 100%;

    .narrow {
      max-width: 460px;
    }

    .form-error {
      height: 15px;
      line-height: 15px;
      margin: 0 0 5px;
      float: none;
    }
  }

  input[type=text], input[type=email], input[type=password] {
    @include font-text();
    font-weight: 300;
    width: 100%;
    display: block;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #959595;
    color: $grey;
    font-size: 15px;
    line-height: 15px;
    padding: 18px 10px;

    &.mobile-m {
      padding-left: 50px;
    }
  }

  label {
    @include font-text();
    display: block;
    margin: 0;
    color: $grey;
    font-size: 18px;

    a {
      color: $blue;
    }
  }

  input[type=submit] {
    @include font-header();
    font-weight: 400;
    width: 100%;
    display: block;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    background: $blue;
    color: white;
    font-size: 24px;
    line-height: 24px;
    padding: 16px 0;
    text-transform: uppercase;
  }
}