#afterRegistrationPopup {
  max-width: 600px;
  margin: 10% auto;
  box-sizing: border-box;
  border: 1px solid #959595;
  padding: 25px;
  background: white;
  position: relative;

  .close {
    position: absolute;
    top: -40px;
    left: 0;

    a {
      margin-right: 0 !important;
    }
  }

  .popup-content {
    border: 4px solid $blue;
    padding: 24px;

    h5 {
      @include font-text();
      font-size: 36px;
      font-weight: 300;
      color: $blue;
      text-transform: uppercase;
    }

    p {
      @include font-text();
      font-size: 27px;
      font-weight: 300;
      color: $black;
    }
  }
}