//===============================================
//breakpoints

$xs-min-width: 0;
$xs-max-width: 767px;
$sm-min-width: 768px;
$sm-max-width: 991px;
$md-min-width: 992px;
$md-max-width: 1099px;
$lg-min-width: 1200px;
$lg-max-width: 767px;

//===============================================
//colors

$blue: #25ade3;
$grey: #969696;
$black: #000000;

//===============================================
//fonts

$textfont: 'Roboto', sans-serif;
$headerfont: 'Montserrat', sans-serif;

@mixin font-header() {
  font-family: $headerfont;
  font-weight: 500;
  line-height: 1.5em;
}

@mixin header-size() {
  font-size: 36px;
}

@mixin font-text() {
  font-family: $textfont;
  font-weight: 400;
  line-height: 1.5em;
}

@import '_common';
@import '_popups';
@import '_login_register';