.text-center {
  text-align: center; }

.mrg-top-10 {
  margin-top: 10px !important; }

.mrg-top-15 {
  margin-top: 15px !important; }

.mrg-top-25 {
  margin-top: 25px !important; }

.mrg-top-75 {
  margin-top: 75px !important; }

#afterRegistrationPopup {
  max-width: 600px;
  margin: 10% auto;
  box-sizing: border-box;
  border: 1px solid #959595;
  padding: 25px;
  background: white;
  position: relative; }
  #afterRegistrationPopup .close {
    position: absolute;
    top: -40px;
    left: 0; }
    #afterRegistrationPopup .close a {
      margin-right: 0 !important; }
  #afterRegistrationPopup .popup-content {
    border: 4px solid #25ade3;
    padding: 24px; }
    #afterRegistrationPopup .popup-content h5 {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      line-height: 1.5em;
      font-size: 36px;
      font-weight: 300;
      color: #25ade3;
      text-transform: uppercase; }
    #afterRegistrationPopup .popup-content p {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      line-height: 1.5em;
      font-size: 27px;
      font-weight: 300;
      color: #000000; }

#loginAndRegistrationPage h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.5em;
  font-size: 36px;
  text-align: center;
  color: #000000;
  display: block;
  text-transform: none; }
#loginAndRegistrationPage h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.5em;
  font-weight: 400;
  font-size: 30px;
  color: #25ade3;
  display: block;
  text-align: left;
  text-transform: uppercase;
  clear: both; }
#loginAndRegistrationPage p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0;
  color: #969696;
  font-size: 18px; }
  #loginAndRegistrationPage p.lead {
    font-size: 24px;
    color: #000000;
    text-align: center;
    margin: 0.5em 0 2em; }
  #loginAndRegistrationPage p.section-lead {
    color: #969696;
    font-size: 18px; }
  #loginAndRegistrationPage p.blue-link {
    color: #25ade3;
    font-size: 18px;
    margin: 0 0 0.5em; }
    #loginAndRegistrationPage p.blue-link a {
      color: #25ade3;
      text-decoration: none; }
      #loginAndRegistrationPage p.blue-link a:hover {
        text-decoration: underline; }
  #loginAndRegistrationPage p.black-link {
    color: #000000;
    font-size: 18px;
    margin: 0 0 0.5em; }
    #loginAndRegistrationPage p.black-link a {
      color: #000000;
      text-decoration: underline; }
      #loginAndRegistrationPage p.black-link a:hover {
        text-decoration: none; }
#loginAndRegistrationPage form {
  width: 100%; }
  #loginAndRegistrationPage form .narrow {
    max-width: 460px; }
  #loginAndRegistrationPage form .form-error {
    height: 15px;
    line-height: 15px;
    margin: 0 0 5px;
    float: none; }
#loginAndRegistrationPage input[type=text], #loginAndRegistrationPage input[type=email], #loginAndRegistrationPage input[type=password] {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  font-weight: 300;
  width: 100%;
  display: block;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #959595;
  color: #969696;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 10px; }
  #loginAndRegistrationPage input[type=text].mobile-m, #loginAndRegistrationPage input[type=email].mobile-m, #loginAndRegistrationPage input[type=password].mobile-m {
    padding-left: 50px; }
#loginAndRegistrationPage label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  display: block;
  margin: 0;
  color: #969696;
  font-size: 18px; }
  #loginAndRegistrationPage label a {
    color: #25ade3; }
#loginAndRegistrationPage input[type=submit] {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.5em;
  font-weight: 400;
  width: 100%;
  display: block;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  background: #25ade3;
  color: white;
  font-size: 24px;
  line-height: 24px;
  padding: 16px 0;
  text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */

