{{#WRAPPER}}
<div class="form-group__control__msg  js-form-control-message">
{{/WRAPPER}}
{{#CONTENT}}
	{{#RENDER_UNESCAPED}}
		{{{ MESSAGE }}}
	{{/RENDER_UNESCAPED}}
	{{^RENDER_UNESCAPED}}
		{{ MESSAGE }}
	{{/RENDER_UNESCAPED}}
{{/CONTENT}}
{{#WRAPPER}}
</div>
{{/WRAPPER}}
