<div class="has-loader global-loader js-global-loader">
	<div class="global-loader__loader-container">
		<div class="global-loader__loader-wrapper global-loader__loader-wrapper--{{ SIZE }}">
			<div class="loader loader--primary loader--bg-white loader--{{ SIZE }}"><div class="loader__spinner"></div></div>
		</div>
	</div>
</div>
