<!-- ########################
# 
# #Abbreviations
#
######################### -->
<a name="typographyAbbreviations" id="typographyAbbreviations" class="test-anchor"></a>
<p class="text--h3">Abbreviations</p>
<blockquote class="test-code-example">
<p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
</blockquote>

<pre class="test-code-container"><code class="html">
&lt;p&gt;An abbreviation of the word attribute is &lt;abbr title="attribute"&gt;attr&lt;/abbr&gt;.&lt;/p&gt;

</code></pre>
