<!--
# #Description
-->
<p class="text--h4">Description</p>
<blockquote class="test-code-example">
	<dl>
		<dt>Lorem ipsum</dt>
		<dd>Phasellus orci eros, rutrum eget blandit vitae.</dd>
	</dl>
	<dl>
		<dt>Sit amet</dt>
		<dd>Phasellus orci eros, rutrum eget blandit vitae.</dd>
	</dl>
</blockquote>

<pre class="test-code-container"><code class="html">
&lt;dl&gt;
  &lt;dt&gt;Lorem ipsum&lt;/dt&gt;
  &lt;dd&gt;Phasellus orci eros, rutrum eget blandit vitae.&lt;/dd&gt;
&lt;/dl&gt;
(…)

</code></pre>
