<!-- ########################
# 
# #Font stack
#
######################### -->
<a name="typographyFontStack" id="typographyFontStack" class="test-anchor"></a>
<p class="text--h3">Font stack</p>

<p class="margin-top--25">Primary Font 400/normal: <span class="text--normal">'Quicksand', Arial, Helvetica, sans-serif;</span></p>
<p class="margin-top--10">Primary Font 500/bolder: <span class="text--bolder">'Quicksand', Arial, Helvetica, sans-serif;</span></p>
<p class="margin-top--10">Primary Font 700/bold: <span class="text--bold">'Quicksand', Arial, Helvetica, sans-serif;</span></p>

<p class="alert alert--info">Default font-weight for the website is `normal` (400). See typography modifiers below for more weights.</p>
