<!-- ########################
# 
# #Headers
#
######################### -->
<a name="typographyHeaders" id="typographyHeaders" class="test-anchor"></a>
<p class="text--h3">Headers</p>
<p class="margin-top--10">While developing this website, you should not use any of default header styling. The <code class="text--nowrap">.text--hx</code> CSS classes can be used as helpers in places like this particular styleguide or on a "terms" static website. Everything else is based on BEM-like components, so please style them separately.</p>
<p class="margin-top--10">The h1-h6 tags themselves are reset to inherited styles for easier compliance with looks of the components when it will come to incorporating SEO requirements. E.g. you'll use a <code class="text--nowrap">&lt;span class="search-header"&gt;&lt;/span&gt;</code> element while in development stage and later when SEO requirements come you'll just change it to: <code class="text--nowrap">&lt;h1 class="search-header"&gt;&lt;/h1&gt;</code>.</p>

<blockquote class="test-code-example">
	<p class="text--h1">This is a "h1" header. This is a <a href="#">hyperlink</a>.</p>
	<p class="text--h2">This is a "h2" header. This is a <a href="#">hyperlink</a>.</p>
	<p class="text--h3">This is a "h3" header. This is a <a href="#">hyperlink</a>.</p>
	<p class="text--h4">This is a "h4" header. This is a <a href="#">hyperlink</a>.</p>
	<p class="text--h5">This is a "h5" header. This is a <a href="#">hyperlink</a>.</p>
	<p class="text--h6">This is a "h6" header. This is a <a href="#">hyperlink</a>.</p>

	<h1>This is a "h1" header. This is a <a href="#">hyperlink</a>.</h1>
	<h2>This is a "h2" header. This is a <a href="#">hyperlink</a>.</h2>
	<h3>This is a "h3" header. This is a <a href="#">hyperlink</a>.</h3>
	<h4>This is a "h4" header. This is a <a href="#">hyperlink</a>.</h4>
	<h5>This is a "h5" header. This is a <a href="#">hyperlink</a>.</h5>
	<h6>This is a "h6" header. This is a <a href="#">hyperlink</a>.</h6>
</blockquote>

<pre class="test-code-container"><code class="html">
&lt;p class="text--h1"&gt;This is a "h1" header. This is a &lt;a href="#"&gt;hyperlink&lt;/a&gt;.&lt;/p&gt;
&lt;p class="text--h2"&gt;This is a "h2" header. This is a &lt;a href="#"&gt;hyperlink&lt;/a&gt;.&lt;/p&gt;
&lt;p class="text--h3"&gt;This is a "h3" header. This is a &lt;a href="#"&gt;hyperlink&lt;/a&gt;.&lt;/p&gt;
&lt;p class="text--h4"&gt;This is a "h4" header. This is a &lt;a href="#"&gt;hyperlink&lt;/a&gt;.&lt;/p&gt;
&lt;p class="text--h5"&gt;This is a "h5" header. This is a &lt;a href="#"&gt;hyperlink&lt;/a&gt;.&lt;/p&gt;
&lt;p class="text--h6"&gt;This is a "h6" header. This is a &lt;a href="#"&gt;hyperlink&lt;/a&gt;.&lt;/p&gt;

&lt;h1&gt;This is a "h1" header. This is a &lt;a href="#"&gt;hyperlink&lt;/a&gt;.&lt;/h1&gt;
&lt;h2&gt;This is a "h2" header. This is a &lt;a href="#"&gt;hyperlink&lt;/a&gt;.&lt;/h2&gt;
&lt;h3&gt;This is a "h3" header. This is a &lt;a href="#"&gt;hyperlink&lt;/a&gt;.&lt;/h3&gt;
&lt;h4&gt;This is a "h4" header. This is a &lt;a href="#"&gt;hyperlink&lt;/a&gt;.&lt;/h4&gt;
&lt;h5&gt;This is a "h5" header. This is a &lt;a href="#"&gt;hyperlink&lt;/a&gt;.&lt;/h5&gt;
&lt;h6&gt;This is a "h6" header. This is a &lt;a href="#"&gt;hyperlink&lt;/a&gt;.&lt;/h6&gt;

</code></pre>
