<!-- ########################
# 
# #Lists
#
######################### -->
<a name="typographyLists" id="typographyLists" class="test-anchor"></a>
<p class="text--h3">Lists</p>

<!--
# #Unordered list
-->
<p class="text--h4 margin-top--15">Unordered list</p>

<blockquote class="test-code-example">
	<ul>
		<li>Item 1</li>
		<li>Item 2</li>
		<li>
			Item 3
			<ul>
				<li>Item 3a</li>
				<li>Item 3b</li>
				<li>Item 3c</li>
			</ul>
		</li>
		<li>Item 4</li>
	</ul>
</blockquote>

<pre class="test-code-container"><code class="html">
&lt;ul&gt;
  &lt;li&gt;Item 1&lt;/li&gt;
  &lt;li&gt;Item 2&lt;/li&gt;
  &lt;li&gt;
    Item 3
    &lt;ul&gt;
      &lt;li&gt;Item 3a&lt;/li&gt;
      (…)
    &lt;/ul&gt;
  &lt;/li&gt;
  &lt;li&gt;Item 4&lt;/li&gt;
&lt;/ul&gt;

</code></pre>

<!--
# #Ordered list
-->
<p class="text--h4">Ordered list</p>
<blockquote class="test-code-example">
	<ol>
		<li>Item 1</li>
		<li>Item 2</li>
		<li>Item 3</li>
	</ol>
</blockquote>

<pre class="test-code-container"><code class="html">
&lt;ol&gt;
  &lt;li&gt;Item 1&lt;/li&gt;
  (…)
&lt;/ol&gt;

</code></pre>

<!--
# #Inline list
-->
<p class="text--h4">Inline list</p>
<blockquote class="test-code-example">
	<ul class="list--inline">
		<li>Item 1</li>
		<li>Item 2</li>
		<li>Item 3</li>
	</ul>
</blockquote>

<pre class="test-code-container"><code class="html">
&lt;ul class="list--inline"&gt;
  (…)
&lt;/ul&gt;

</code></pre>

<!--
# #Unstyled list
-->
<p class="text--h4">Unstyled list</p>
<blockquote class="test-code-example">
	<ul class="list--unstyled">
		<li>Item 1</li>
		<li>Item 2</li>
		<li>Item 3</li>
	</ul>
</blockquote>

<pre class="test-code-container"><code class="html">
&lt;ul class="list--unstyled"&gt;
  (…)
&lt;/ul&gt;

</code></pre>
