<!-- ########################
# 
# #Text modifiers
#
######################### -->
<a name="typographyTextModifiers" id="typographyTextModifiers" class="test-anchor"></a>
<p class="text--h3">Text modifiers</p>

<blockquote class="test-code-example">
	<p class="text--nowrap text--nooverflow margin-top--10">This text won't wrap. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus orci eros, rutrum eget blandit vitae, auctor semper ex. Suspendisse potenti. Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel.</p>
	<p class="text--uppercase margin-top--10">This text is uppercased.</p>
	<p class="text--lowercase margin-top--10">This text is lowercased.</p>
	<p class="text--capitalize margin-top--10">This text is capitalized.</p>
	<p class="text--left margin-top--10">This text is aligned to the left.</p>
	<p class="text--center margin-top--10">This text is aligned to the center.</p>
	<p class="text--right margin-top--10">This text is aligned to the right.</p>
	<p class="text--justify margin-top--10">This text is justified. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus orci eros, rutrum eget blandit vitae, auctor semper ex. Suspendisse potenti. Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel.</p>
	<p class="text--kerning-xxwide margin-top--10">This text has xxwide kerning.</p>
	<p class="text--kerning-xwide margin-top--10">This text has xwide kerning.</p>
	<p class="text--kerning-wide margin-top--10">This text has wide kerning.</p>
	<p class="text--kerning-normal margin-top--10">This text has normal kerning.</p>
	<p class="text--kerning-narrow margin-top--10">This text has narrow kerning.</p>
	<p class="text--kerning-xnarrow margin-top--10">This text has xnarrow kerning.</p>
	<p class="text--kerning-xxnarrow margin-top--10">This text has xxnarrow kerning.</p>
	<p class="margin-top--10"><del>Deleted text</del></p>
	<p class="margin-top--10"><mark>Marked text</mark>, <span class="text--mark">also this</span></p>
	<p class="margin-top--10"><ins>Inserted text</ins></p>
	<p class="margin-top--10"><s>Strikethrough text</s></p>
	<p class="margin-top--10"><u>Underlined text</u></p>
	<p class="margin-top--10"><small>Small text</small>, <span class="text--small">also this is small</span></p>
	<p class="margin-top--10"><strong>Bold text</strong>, <b>also this</b>, but use &lt;strong&gt;</p>
	<p class="margin-top--10"><strong><span class="text--normal">Regular text</span></strong></p>
	<p class="margin-top--10"><span class="text--lighter">Lighter text</span></p>
	<p class="margin-top--10"><span class="text--bolder">Bolder text</span></p>
	<p class="margin-top--10"><span class="text--bold">Bold text</span></p>
</blockquote>

<pre class="test-code-container"><code class="html">
&lt;p class="text--nowrap text--nooverflow"&gt;This text won't wrap. Lorem ipsum (…) urna rutrum vel.&lt;/p&gt;

&lt;p class="text--uppercase"&gt;This text is uppercased.&lt;/p&gt;

&lt;p class="text--lowercase"&gt;This text is lowercased.&lt;/p&gt;

&lt;p class="text--capitalize"&gt;This text is capitalized.&lt;/p&gt;

&lt;p class="text--left"&gt;This text is aligned to the left.&lt;/p&gt;

&lt;p class="text--center"&gt;This text is aligned to the center.&lt;/p&gt;

&lt;p class="text--right"&gt;This text is aligned to the right.&lt;/p&gt;

&lt;p class="text--justify"&gt;This text is justified. Lorem ipsum (…) urna rutrum vel.&lt;/p&gt;

&lt;p class="text--kerning-xxwide"&gt;This text has xxwide kerning.&lt;/p&gt;

&lt;p class="text--kerning-xwide"&gt;This text has xwide kerning.&lt;/p&gt;

&lt;p class="text--kerning-wide"&gt;This text has wide kerning.&lt;/p&gt;

&lt;p class="text--kerning-normal"&gt;This text has normal kerning.&lt;/p&gt;

&lt;p class="text--kerning-narrow"&gt;This text has narrow kerning.&lt;/p&gt;

&lt;p class="text--kerning-xnarrow"&gt;This text has xnarrow kerning.&lt;/p&gt;

&lt;p class="text--kerning-xxnarrow"&gt;This text has xxnarrow kerning.&lt;/p&gt;

&lt;p class="text--kerning"&gt;This text has larger kerning.&lt;/p&gt;

&lt;p&gt;&lt;del&gt;Deleted text&lt;/del&gt;&lt;/p&gt;

&lt;p&gt;&lt;mark&gt;Marked text&lt;/mark&gt;, &lt;span class="text--mark"&gt;also this&lt;/span&gt;&lt;/p&gt;

&lt;p&gt;&lt;ins&gt;Inserted text&lt;/ins&gt;&lt;/p&gt;

&lt;p&gt;&lt;s&gt;Strikethrough text&lt;/s&gt;&lt;/p&gt;

&lt;p&gt;&lt;u&gt;Underlined text&lt;/u&gt;&lt;/p&gt;

&lt;p&gt;&lt;small&gt;Small text&lt;/small&gt;, &lt;span class="text--small"&gt;also this is small&lt;/span&gt;&lt;/p&gt;

&lt;p&gt;&lt;em&gt;Italicized text&lt;/em&gt;, &lt;i&gt;also this&lt;/i&gt;, but use &amp;lt;em&amp;gt;lt;/p&gt;

&lt;p&gt;&lt;strong&gt;Bold text&lt;/strong&gt;, &lt;b&gt;also this&lt;/b&gt;, but use &amp;lt;strong&amp;gt;&lt;/p&gt;

&lt;p&gt;&lt;strong&gt;&lt;span class="text--normal"&gt;Regular text&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;

&lt;p&gt;&lt;span class="text--lighter"&gt;Lighter text&lt;/span&gt;&lt;/p&gt;

&lt;p&gt;&lt;span class="text--bold"&gt;Bold text&lt;/span&gt;&lt;/p&gt;

</code></pre>
