<!-- ########################
# 
# #Paragraphs
#
######################### -->
<a name="typographyParagraphs" id="typographyParagraphs" class="test-anchor"></a>
<p class="text--h3">Paragraphs</p>
<blockquote class="test-code-example">
	<p>Lorem ipsum dolor sit amet, <a href="#">this is a hyperlink</a> elit. Phasellus orci eros, rutrum eget blandit vitae, auctor semper ex. Suspendisse potenti. Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est. Suspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.</p>
</blockquote>

<pre class="test-code-container"><code class="html">
&lt;p&gt;Lorem ipsum dolor sit amet, &lt;a href="#"&gt;this is a hyperlink&lt;/a&gt; elit. Phasellus orci eros, rutrum eget blandit vitae, auctor semper ex. Suspendisse potenti. Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel. Phasellus magna risus, fermentum a placerat quis, venenatis in nisi. Donec et lacinia est. Suspendisse sed commodo massa, nec egestas lorem. Etiam faucibus est ipsum, quis rutrum nulla rhoncus eu.&lt;/p&gt;

</code></pre>
