<div class="listing-info">
  <h3 class="listing-info__header">Total</h3>
  <div class="listing-info__item">
    Amount: <span class="listing-info__value">{{ Payment.Amount }}</span>
  </div>
  <div class="listing-info__item">
    Commission: <span class="listing-info__value">{{ Payment.Commission }}</span>
  </div>
</div>
