{% extends '_layouts/_default.twig' %}
{% import '_macros/__forms.twig' as forms %}
{% import '_macros/__uploader.twig' as uploader %}
{% import '_macros/__status-label.twig' as statusLabel %}
{% import '_macros/__product-tab.twig' as productTab %}

{% block scriptsBodyBottom %}
  {{ parent() }}
  <script src="{{ BIACONFIG.app.CKEDITOR_PATH ~ '/ckeditor.js' }}" defer></script>
{% endblock %}

{% block content %}
  {{ forms.start({
    'ACTION': '/back_office/products/save' ~ (debug ? '?debug=1'),
    'METHOD': 'post',
    'ENCTYPE': 'multipart/form-data',
    'AUTOCOMPLETE': 'off'
  }) }}

  {{ forms.group({
      'TYPE': 'hidden',
      'SIZE': 'm',
      'GROUP_WRAPPER': 'div',
      'NAME': 'id_user',
      'VALUE': data.id_user
  }) }}

  {{ forms.group({
      'TYPE': 'hidden',
      'SIZE': 'm',
      'GROUP_WRAPPER': 'div',
      'NAME': 'id_products',
      'VALUE': data.info.id_products
  }) }}

  <div class="container">

    <div class="panel panel--content-padding-big  [ margin-top--20 margin-bottom--30 ]">
      <div class="panel__header">
        <h3 class="panel__title">{{ seo.PAGE_TITLE|raw }}</h3>
        <div class="panel__header-actions">
          {% if data.canAskForReview == true %}
            <a class="[ btn btn--m btn--primary ]  [ text--uppercase text--bold ]" href="{{ links.productSendToReview.URL ~ '/' ~ data.info.id_products }}"><span>Send to review before publish</span><span class="icon icon--white icon--wedge icon--cw-90"></span></a>
          {% endif %}
          <a class="[ btn btn--m btn--slate-light ]  [ text--uppercase text--bold ]" href="{{ links.productsListingLiveOnSite.URL }}"><span>Go to products list</span><span class="icon icon--white icon--wedge icon--cw-90"></span></a>
        </div>
      </div>
      <div class="panel__content">

        <div class="[ edit-layout edit-layout--multi-column edit-layout--gallery ]">
          <div class="edit-layout__content">

            <p class="[ text--danger text--small ]  margin-bottom--20"><span class="icon icon--10 icon--secondary icon--out-i"></span> <span class="valign--middle">Fields marked <strong>*</strong> are required.</span></p>

            <fieldset>
              <legend class="bg--white">Product Details</legend>

              <div class="width-xl--90  margin-top--20">

                <div class="js-calc-length" data-cl-id="productBrief" data-cl-limit="115" data-cl-limit-decorator="text--secondary text--bolder">
                  <div class="horizontal-form-group  has-required">
                    <label class="horizontal-form-group__label">Product Brief:</label>
                    {{ forms.group({
                      'TYPE': 'textarea',
                      'SIZE': 'm',
                      'GROUP_WRAPPER': 'div',
                      'inputClasses': [
                        'js-calc-length__source'
                      ],
                      'IS_AUTOSIZED': true,
                      'MAXLENGTH': 115,
                      'NAME': 'brief',
                      'VALUE': data.info.brief
                    }) }}
                  </div>
                  <div class="[ form-group-info form-group-info--horizontal ]  text--right">
                    <span class="js-calc-length__counter">0</span> / 115 characters
                    <span class="[ icon icon--16 icon--slate-light icon--out-question-mark ]  js-tp"
                      data-tp-maxWidth="300"
                      data-tp-addClass="tp-white"
                      data-tp-animation="move"
                      data-tp-content="Displayed below the product image in the listing"
                    ></span>
                  </div>
                </div>

                <div class="js-calc-length" data-cl-id="productName" data-cl-limit="100" data-cl-limit-decorator="text--secondary text--bolder">
                  <div class="horizontal-form-group  has-required">
                    <label class="horizontal-form-group__label">Product Name:</label>
                    {{ forms.group({
                      'TYPE': 'textarea',
                      'SIZE': 'm',
                      'GROUP_WRAPPER': 'div',
                      'inputClasses': [
                        'js-calc-length__source'
                      ],
                      'IS_AUTOSIZED': true,
                      'MAXLENGTH': 100,
                      'NAME': 'title',
                      'VALUE': data.info.title
                    }) }}
                  </div>
                  <div class="[ form-group-info form-group-info--horizontal ]  text--right">
                    <span class="js-calc-length__counter">0</span> / 100 characters
                    <span class="[ icon icon--16 icon--slate-light icon--out-question-mark ]  js-tp"
                      data-tp-maxWidth="300"
                      data-tp-addClass="tp-white"
                      data-tp-animation="move"
                      data-tp-content="Displayed in Products Details inside page"
                    ></span>
                  </div>
                </div>

                {{ forms.group({
                  'TYPE': 'textarea',
                  'SIZE': 'm',
                  'LABEL': 'Full Description:',
                  'NAME': 'description',
                  'VALUE': data.info.description,
                  'groupClasses': [
                    'js-wysiwyg'
                  ],
                  'inputClasses': [
                    'js-wysiwyg__textarea'
                  ],
                  data: {
                    'ww-id': 'productFullDescription'
                  }
                }) }}
                <div class="form-group-info  text--right">
                  Displayed in Products Details inside page
                </div>

                <div class="horizontal-form-group  has-required">
                  <label class="horizontal-form-group__label">Brand:</label>
                  {{ forms.group({
                    'TYPE': 'select',
                    'SIZE': 'm',
                    'GROUP_WRAPPER': 'div',
                    'PLACEHOLDER': 'Select',
                    'NAME': 'id_brands',
                    'options': data.brandOptions
                  }) }}
                </div>

                <div style="display:none" class="horizontal-form-group categorydiv">
                  <label class="horizontal-form-group__label">Category:</label>
                  {{ forms.group({
                    'TYPE': 'select',
                    'SIZE': 'm',
                    'GROUP_WRAPPER': 'div',
                    'PLACEHOLDER': 'Select',
                    'NAME': 'id_categories',
                    'options': data.categoryOptions
                  }) }}
                </div>

                <div class="horizontal-form-group  has-required">
                  <label class="horizontal-form-group__label">REF / SKU:</label>
                  {{ forms.group({
                    'TYPE': 'text',
                    'SIZE': 'm',
                    'GROUP_WRAPPER': 'div',
                    'NAME': 'sku',
                    'VALUE': data.info.sku
                  }) }}
                </div>

                <div class="horizontal-form-group">
                  <label class="horizontal-form-group__label">Barcode:</label>
                  {{ forms.group({
                    'TYPE': 'number',
                    'SIZE': 'm',
                    'GROUP_WRAPPER': 'div',
                    'NAME': 'barcode',
                    'VALUE': data.info.barcode
                  }) }}
                </div>

                <div class="horizontal-form-group  [ width-xs--50 width-sm--75 width-md--75 width-lg--65 width-xl--65 ]  has-required">
                  <label class="horizontal-form-group__label">Trade Price:<br><small><i>VAT not included*</i><br/>(for spas/salons)</small></label>
                  <div class="form-combined-group">
                    {{ forms.group({
                      'TYPE': 'number',
                      'SIZE': 'm',
                      'GROUP_WRAPPER': 'div',
                      'inputClasses': [
                        'text--right'
                      ],
                      'NAME': 'list_price',
                      'VALUE': data.info.list_price
                    }) }}
                    <div class="form-group-addon form-group-addon--m form-group-addon--right form-group-addon--stylized">
                      AED
                    </div>
                  </div>
                </div>

                <div class="horizontal-form-group  [ width-xs--50 width-sm--75 width-md--75 width-lg--65 width-xl--65 ]">
                  <label class="horizontal-form-group__label">Retail Price:<br><small>(for Consumers)</small></label>
                  <div class="form-combined-group">
                    {{ forms.group({
                      'TYPE': 'number',
                      'SIZE': 'm',
                      'GROUP_WRAPPER': 'div',
                      'inputClasses': [
                        'text--right'
                      ],
                      'NAME': 'retail_price',
                      'VALUE': data.info.retail_price
                    }) }}
                    <div class="form-group-addon form-group-addon--m form-group-addon--right form-group-addon--stylized">
                      AED
                    </div>
                  </div>
                </div>

                {# <div class="horizontal-form-group  [ width-xs--50 width-sm--65 width-md--65 width-lg--50 width-xl--50 ]  has-required">
                  <label class="horizontal-form-group__label">Stock Quantity:</label>
                  {{ forms.group({
                    'TYPE': 'number',
                    'SIZE': 'm',
                    'GROUP_WRAPPER': 'div',
                    'NAME': '',
                    'VALUE': '',
                  }) }}
                </div>

                <div class="horizontal-form-group  [ width-xs--50 width-sm--65 width-md--65 width-lg--50 width-xl--50 ]">
                  <label class="horizontal-form-group__label">Threshold:</label>
                  <div class="horizontal-form-group__form-group-holder  [ form-group-tooltip form-group-tooltip--m form-group-tooltip--right ]">
                    {{ forms.group({
                      'TYPE': 'number',
                      'SIZE': 'm',
                      'GROUP_WRAPPER': 'div',
                      'ICON_RIGHT': 'icon--slate-light icon--out-question-mark',
                      'NAME': '',
                      'VALUE': '',
                    }) }}
                    <div class="form-group-tooltip__tp-placeholder  js-tp"
                      data-tp-maxWidth="300"
                      data-tp-addClass="tp-white"
                      data-tp-animation="move"
                      data-tp-content="Minimum quantity to receive stock notification"
                    ></div>
                  </div>
                </div> #}

              </div>
            </fieldset>

            <fieldset>
              <legend class="bg--white">Product Category & Attributes</legend>

              <div class="width-xl--90  margin-top--20">
                <p class="edit-layout__info">Tell us which categories and attributes are best for this product.</p>

                <div class="horizontal-form-group">
                  <label class="horizontal-form-group__label">Categories:</label>
                  {{ forms.group({
                    'TYPE': 'text',
                    'SIZE': 'm',
                    'GROUP_WRAPPER': 'div',
                    'NAME': 'categories_comments',
                    'VALUE': data.info.categories_comments
                  }) }}
                </div>

                <div class="horizontal-form-group">
                  <label class="horizontal-form-group__label">Attributes:</label>
                  {{ forms.group({
                    'TYPE': 'text',
                    'SIZE': 'm',
                    'GROUP_WRAPPER': 'div',
                    'NAME': 'attributes_comments',
                    'VALUE': data.info.attributes_comments
                  }) }}
                </div>
              </div>
            </fieldset>

            <fieldset>
              <legend class="bg--white">Weight & Size (optional)</legend>

              <div class="width-xl--90  margin-top--20">

                <div class="horizontal-form-group  [ width-xs--50 width-sm--65 width-md--65 width-lg--50 width-xl--50 ]">
                  <label class="horizontal-form-group__label">Weight:</label>
                  <div class="form-combined-group">
                    {{ forms.group({
                      'TYPE': 'number',
                      'SIZE': 'm',
                      'GROUP_WRAPPER': 'div',
                      'inputClasses': [
                        'text--right'
                      ],
                      'NAME': 'weight',
                      'VALUE': data.info.weight
                    }) }}
                    <div class="form-group-addon form-group-addon--m form-group-addon--right form-group-addon--stylized">
                      g
                    </div>
                  </div>
                </div>

                <div class="horizontal-form-group  [ width-xs--50 width-sm--65 width-md--65 width-lg--50 width-xl--50 ]">
                  <label class="horizontal-form-group__label">Length:</label>
                  <div class="form-combined-group">
                    {{ forms.group({
                      'TYPE': 'number',
                      'SIZE': 'm',
                      'GROUP_WRAPPER': 'div',
                      'inputClasses': [
                        'text--right'
                      ],
                      'NAME': 'length',
                      'VALUE': data.info.length
                    }) }}
                    <div class="form-group-addon form-group-addon--m form-group-addon--right form-group-addon--stylized">
                      cm
                    </div>
                  </div>
                </div>

                <div class="horizontal-form-group  [ width-xs--50 width-sm--65 width-md--65 width-lg--50 width-xl--50 ]">
                  <label class="horizontal-form-group__label">Width:</label>
                  <div class="form-combined-group">
                    {{ forms.group({
                      'TYPE': 'number',
                      'SIZE': 'm',
                      'GROUP_WRAPPER': 'div',
                      'inputClasses': [
                        'text--right'
                      ],
                      'NAME': 'width',
                      'VALUE': data.info.width
                    }) }}
                    <div class="form-group-addon form-group-addon--m form-group-addon--right form-group-addon--stylized">
                      cm
                    </div>
                  </div>
                </div>

              </div>
            </fieldset>


            <fieldset>
              <legend class="bg--white">Additional Tabs (optional)</legend>

              <div class="width-xl--90  margin-top--20">

                <div class="product-tabs  js-list" data-list-id="productTabs">

                  <div class="js-list__items-container">
                    {% for tab in data.tabs %}
                      {{ productTab.create({
                        'id': tab.id_product_information,
                        'TAB_TITLE': tab.title,
                        'TAB_DESCRIPTION': tab.description,
                        'tabFile1': {
                          'FILE_NAME': tab.file,
                          'FILE_DOWNLOAD_URL': '/uploads/product_information/' ~ tab.file
                        },
                        'tabFile2': {
                            'FILE_NAME': tab.file2,
                            'FILE_DOWNLOAD_URL': '/uploads/product_information/' ~ tab.file2
                        },
                      }) }}
                    {% endfor %}
                    <div class="product-tabs__actions  js-list__insert-before">
                      <button class="[ btn btn--m btn--primary btn--outline ]  [ text--bold text--uppercase ]  js-list__add-item"><span class="icon icon--primary icon--o-plus"></span><span>Add New Tab</span></button>
                    </div>
                  </div>

                  <script type="text/template" class="js-list__item-template">
                    {{ productTab.create({
                      'TYPE': 'template'
                    }) }}
                  </script>
                </div>

              </div>
            </fieldset>


            <fieldset>
              <legend class="bg--white">Additional fields</legend>

              <div class="width-xl--90  margin-top--20">

                <div class="horizontal-form-group">
                  <label class="horizontal-form-group__label">YouTube Link:</label>
                  {{ forms.group({
                    'TYPE': 'text',
                    'SIZE': 'm',
                    'GROUP_WRAPPER': 'div',
                    'NAME': 'youtube',
                    'VALUE': data.info.youtube
                  }) }}
                </div>

                {% if data.info.datasheet %}
                  <div class="horizontal-form-group horizontal-form-group--static">
                    <label class="horizontal-form-group__label">Printable Datasheet:</label>
                    <div class="horizontal-form-group__item"><a href="{{ '/uploadss/products/' ~ data.info.datasheet }}" target="_blank">{{ data.info.datasheet|raw }}</a></div>
                  </div>
                {% endif %}

                <div class="horizontal-form-group">
                  <div class="horizontal-form-group__label">{{ data.info.datasheet ? 'Replace Printable Datasheet:<br><small>(max 1MB)</small>' : 'Printable Datasheet:<br><small>(max 1MB)</small>' }}</div>
                  {{ uploader.createCombinedGroupUploader({
                    'id': 'datasheet',
                    'INPUT_NAME': 'datasheet',
                    'BUTTON_LABEL': 'Upload file'
                  }) }}
                </div>

                <div class="horizontal-form-group">
                  <label class="horizontal-form-group__label">Catalog Link:</label>
                  {{ forms.group({
                    'TYPE': 'text',
                    'SIZE': 'm',
                    'GROUP_WRAPPER': 'div',
                    'NAME': 'catalog',
                    'VALUE': data.info.catalog,
                  }) }}
                </div>

              </div>
            </fieldset>


            {# <fieldset>
              <legend class="bg--white">Related Products</legend>

              <div class="width-xl--90  margin-top--20  [ related-products js-related-products ]">

                <div class="horizontal-form-group">
                  <label class="horizontal-form-group__label">Find Products:</label>
                  {{ forms.group({
                    'TYPE': 'text',
                    'SIZE': 'm',
                    'GROUP_WRAPPER': 'div',
                    'ICON_LEFT': 'icon--loupe icon--slate-light',
                    'PLACEHOLDER': 'Find by product description or SKU'
                  }) }}
                </div>

                <ul class="related-products__list  js-related-products__list">
                  <li>Aqua Therapy Advanced Mud Mask (SKU: 123456)<button class="btn btn--link btn--icon"><span class="icon icon--x icon--secondary icon--10"></span></button></li>
                  <li>Aqua Therapy Advanced Mud Mask (SKU: 123456)<button class="btn btn--link btn--icon"><span class="icon icon--x icon--secondary icon--10"></span></button></li>
                  <li>Aqua Therapy Advanced Mud Mask (SKU: 123456)<button class="btn btn--link btn--icon"><span class="icon icon--x icon--secondary icon--10"></span></button></li>
                </ul>

              </div>
            </fieldset> #}


            <fieldset class="margin-top--30">
              <legend class="bg--white">Product Properties</legend>

              <div class="width-xl--90  margin-top--20">
                {{ forms.group({
                  'TYPE': 'checkbox',
                  'SIZE': 'm',
                  'PLACEHOLDER': 'Set as PRO (professional use only)',
                  'NAME': 'set_as_pro',
                  'VALUE': 1,
                  'IS_CHECKED': data.info.set_as_pro == 1
                }) }}
                {{ forms.group({
                  'TYPE': 'checkbox',
                  'SIZE': 'm',
                  'PLACEHOLDER': 'Set as Non-Exportable (only delivered in the supplier\'s country)',
                  'NAME': 'set_as_non_exportable',
                  'VALUE': 1,
                  'IS_CHECKED': data.info.set_as_non_exportable == 1
                }) }}
              </div>
            </fieldset>

          {% if MODE == 'edit' %}
            <fieldset>
              <legend class="bg--white">Product Status</legend>
              
              {# Remove this 'set' blocks after integration #}
              {% set productStatus = data.info.status %}
              {% set isPublishAllowed = false %}

              <div class="margin-top--20 margin-bottom--25">
                {{ statusLabel.product({
                  'STATUS_CODE': productStatus
                }) }}

                {% if productStatus == '0' %}
                  {# Only when product is "PUBLISHED" #}
                  <a href="{{ links.productUnpublish.URL ~ '/' ~ data.info.id_products }}" class="[ btn btn--s btn--secondary btn--outline ]  [ text--bold text--uppercase ]  margin-left--20  js-confirm" data-confirm-msg="Are you sure you want to unpublish this product?"><span class="icon icon--10 icon--secondary icon--x"></span><span>Unpublish</span></a>
                {% elseif productStatus == '0' and isPublishAllowed %}
                  {# Only when product is not published & allowed to be published #}
                  <a href="#" class="[ btn btn--s btn--primary btn--outline ]  [ text--bold text--uppercase ]  margin-left--20  js-confirm" data-confirm-msg="Are you sure you want to publish this product?"><span class="icon icon--10 icon--primary icon--refresh"></span><span>Publish</span></a>
                {% endif %}
              </div>
            </fieldset>
          {% endif %}

          </div><!-- /.edit-layout__content -->

          <div class="edit-layout__gallery-management">
            <fieldset>
              <legend class="bg--white">Product Images</legend>

              <div class="gallery-guidelines  margin-top--20">
                <p class="gallery-guidelines__headline">Product image upload guidelines</p>
                <div class="gallery-guidelines__items">
                  <figure class="gallery-guidelines__item">
                    <figcaption class="gallery-guidelines__item-caption">Should be on white background</figcaption>
                    <img class="gallery-guidelines__item-image" src="{{ attribute(BIACONFIG.build.img, 'gallery-guidelines/background.jpg') }}" alt="">
                  </figure>
                  <figure class="gallery-guidelines__item">
                    <figcaption class="gallery-guidelines__item-caption">Should not be blurry</figcaption>
                    <img class="gallery-guidelines__item-image" src="{{ attribute(BIACONFIG.build.img, 'gallery-guidelines/blurry.jpg') }}" alt="">
                  </figure>
                  <figure class="gallery-guidelines__item">
                    <figcaption class="gallery-guidelines__item-caption">Should not have watermark</figcaption>
                    <img class="gallery-guidelines__item-image" src="{{ attribute(BIACONFIG.build.img, 'gallery-guidelines/watermark.jpg') }}" alt="">
                  </figure>
                  <figure class="gallery-guidelines__item">
                    <figcaption class="gallery-guidelines__item-caption">Should be at least 350x410px</figcaption>
                    <img class="gallery-guidelines__item-image" src="{{ attribute(BIACONFIG.build.img, 'gallery-guidelines/size.jpg') }}" alt="">
                  </figure>
                </div>
              </div>

            {% if MODE == 'add' %}
              <div class="[ alert alert--info ]  text--bold  margin-top--20">Product's gallery management will be enabled after you save first version of product's details.</div>
            {% else %}
              <div class="gallery-management  margin-top--20  js-gallery" data-gallery-id="management" data-gallery-add-url="/back_office/products/gallery_new_image/{{ data.info.id_products }}" data-gallery-remove-url="/back_office/products/gallery_delete_image/{{ data.info.id_products }}" data-gallery-setorder-url="/back_office/products/gallery_order_images/{{ data.info.id_products }}">
                <div class="gallery-management__thumbnails-list  dropzone  js-gallery__dropzone js-gallery__thumbnails-list">

                  {# Generated in right order #}
                  {% for image in data.gallery %}
                  <div class="gallery-management__thumbnail-container  js-gallery__thumbnail-container" data-gallery-thumbnail-uuid="{{ image.id_gallery }}">
                    <img src="{{ '/uploads/products/gallery/120x120/' ~ image.image }}" alt="" class="gallery-management__thumbnail">
                    <button class="[ btn btn--s btn--secondary btn--circle btn--icon ]  gallery-management__thumbnail-action  js-gallery__rendered-thumbnail-action"><span class="icon icon--white icon--x icon--10"></span></button>
                  </div>
                  {% endfor %}

                </div>
              </div>
            {% endif %}

            </fieldset>
          </div>
        </div>

        <div class="edit-actions">
          <div class="btn-group">
            <button class="[ btn btn--l btn--primary ]  [ text--uppercase text--bold ]  js-unload-prevention-whitelisted" type="submit"><span class="icon icon--white icon--tick"></span><span>{{ MODE == 'add' ? 'Save and manage gallery' : 'Save changes' }}</span></button>
            <a class="[ btn btn--l btn--secondary ]  [ text--uppercase text--bold ]" href="{{ links.productsListing.URL }}"><span class="icon icon--white icon--x"></span><span>Cancel</span></a>
          </div>
        </div>

      </div>
    </div>

  </div>

  {{ forms.end({}) }}
{% endblock %}
