{% import '_macros/__forms.twig' as forms %}

{% if BIACONFIG.context.id == BIACONFIG.context.contexts.PRODUCTS_LISTING_LIVE_ON_SITE %}
  {% set FORM_ACTION = links.productsListingLiveOnSite.URL %}
{% elseif BIACONFIG.context.id == BIACONFIG.context.contexts.PRODUCTS_LISTING_UNPUBLISHED %}
  {% set FORM_ACTION = links.productsListingUnpublished.URL %}
{% else %}
  {% set FORM_ACTION = links.productsListingSpecials.URL %}
{% endif %}

{{ listingFilters.start({
  'FORM_ACTION':  FORM_ACTION ~ (debug ? '?debug=1')
}) }}

  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'text',
      'SIZE': 'm',
      'PLACEHOLDER': 'Search by Name',
      'LABEL': 'Name',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true,
      'NAME': 'Search[title]',
      'VALUE': data.filters.current.title
    }) }}
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'text',
      'SIZE': 'm',
      'PLACEHOLDER': 'Search by SKU',
      'LABEL': 'SKU',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true,
      'NAME': 'Search[sku]',
      'VALUE': data.filters.current.sku
    }) }}
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'text',
      'SIZE': 'm',
      'PLACEHOLDER': 'Search by Barcode',
      'LABEL': 'Barcode',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true,
      'NAME': 'Search[barcode]',
      'VALUE': data.filters.current.barcode
    }) }}
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'select',
      'SIZE': 'm',
      'PLACEHOLDER': 'Filter by Brand',
      'LABEL': 'Brand',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true,
      'NAME': 'Search[id_brands]',
      'options': data.filters.possible.brands
    }) }}
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'select',
      'SIZE': 'm',
      'PLACEHOLDER': 'Filter by Category',
      'LABEL': 'Category',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true,
      'NAME': 'Search[category]',
      'options': data.filters.possible.categories
    }) }}
  </div>

  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'select',
      'SIZE': 'm',
      'PLACEHOLDER': 'Filter by Properties',
      'LABEL': 'Properties',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true,
      'NAME': 'Search[properties]',
      'options': [
        {
          'TEXT': 'New Arrival',
          'VALUE': 'set_as_new',
          'IS_SELECTED': data.filters.current.properties == 'set_as_new'
        },
        {
          'TEXT': 'Offer',
          'VALUE': 'set_as_special',
          'IS_SELECTED': data.filters.current.properties == 'set_as_special'
        },
        {
          'TEXT': 'Clearance',
          'VALUE': 'set_as_clearance',
          'IS_SELECTED': data.filters.current.properties == 'set_as_clearance'
        },
        {
          'TEXT': 'Soon',
          'VALUE': 'set_as_soon',
          'IS_SELECTED': data.filters.current.properties == 'set_as_soon'
        },
        {
          'TEXT': 'Professional',
          'VALUE': 'set_as_pro',
          'IS_SELECTED': data.filters.current.properties == 'set_as_pro'
        },
        {
          'TEXT': 'Non-Exportable',
          'VALUE': 'set_as_non_exportable',
          'IS_SELECTED': data.filters.current.properties == 'set_as_non_exportable'
        }
      ]
    }) }}
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'select',
      'SIZE': 'm',
      'PLACEHOLDER': 'Filter by Specials',
      'LABEL': 'Specials',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true,
      'NAME': 'Search[specials]',
      'options': [
        {
          'TEXT': 'Discount Offer',
          'VALUE': 'has_discount',
          'IS_SELECTED': data.filters.current.specials == 'has_discount'
        },
        {
          'TEXT': 'Bulk Pricing',
          'VALUE': 'has_bulk',
          'IS_SELECTED': data.filters.current.specials == 'has_bulk'
        }
      ]
    }) }}
  </div>

{% if BIACONFIG.context.id == BIACONFIG.context.contexts.PRODUCTS_LISTING_LIVE_ON_SITE %}
{% set RESET_LINK = links.productsListingLiveOnSite.URL ~ '?resetFilters=1' %}
{% elseif BIACONFIG.context.id == BIACONFIG.context.contexts.PRODUCTS_LISTING_UNPUBLISHED %}
{% set RESET_LINK = links.productsListingUnpublished.URL ~ '?resetFilters=1' %}
{% else %}
{% set RESET_LINK = links.productsListingSpecials.URL ~ '?resetFilters=1' %}
{% endif %}
{{ listingFilters.end({
  'actions': {
    'FILTER_BUTTON': true,
    'RESET_HREF': RESET_LINK,
    'EXPORT_BUTTON': true,
        'IMPORT_BUTTON': true,

  }
}) }}
