{% extends '_layouts/_default.twig' %}
{% import '_macros/__listing-filters.twig' as listingFilters %}
{% import '_macros/__listing-table.twig' as listingTable %}

{% block content %}
  <div class="container  [ margin-top--20 margin-bottom--30 ]">
    {% include 'productsListingPage/_filters.twig' %}
  </div>

  {% include 'productsListingPage/_statistics.twig' %}

  <div class="container  margin-top--20">
    {{ listingTable.listingHeader({
      'TABLE_ID': 'listingTable',
      'TITLE': 'Products list:',
      'tabs': [
        {
          'HREF': links.productsListingLiveOnSite.URL,
          'LABEL': 'Live On Site',
          'IS_ACTIVE': BIACONFIG.context.id == BIACONFIG.context.contexts.PRODUCTS_LISTING_LIVE_ON_SITE
        },
        {
          'HREF': links.productsListingUnpublished.URL,
          'LABEL': 'Unpublished',
          'IS_ACTIVE': BIACONFIG.context.id == BIACONFIG.context.contexts.PRODUCTS_LISTING_UNPUBLISHED
        },
        {
          'HREF': links.productsListingSpecials.URL,
          'LABEL': 'Specials',
          'IS_ACTIVE': BIACONFIG.context.id == BIACONFIG.context.contexts.PRODUCTS_LISTING_SPECIALS
        }
      ],
      'buttons': [
        {
          'HREF': links.productAdd.URL,
          'LABEL': 'Add Product',
          'buttonClasses': [
            'btn--primary',
            'btn--small-padding'
          ],
          'iconClasses': [
            'icon--o-plus',
            'icon--white'
          ]
        }
      ]
    }) }}
      {{ listingTable.table({
        'TABLE_ID': 'listingTable',
        'structure': [
          {
            'TYPE': 'thumbnail',
            'HEADER_CONTENT': 'Image'
          },
          {
            'HEADER_CONTENT': 'SKU',
            'thClasses': ['text--center'],
            'tdClasses': ['text--center']
          },
          {
            'TYPE': 'name',
            'HEADER_CONTENT': 'Product Name'
          },
          {
            'HEADER_CONTENT': 'Trade<br>Price<br>(AED)',
            'thClasses': ['text--center'],
            'tdClasses': ['text--center']
          },
          {
            'HEADER_CONTENT': 'Discount',
            'thClasses': ['text--center'],
            'tdClasses': ['text--center']
          },
          {
            'HEADER_CONTENT': '<span class="text--nowrap">Price After</span><br>Discount<br>(AED)',
            'thClasses': ['text--center'],
            'tdClasses': ['text--center']
          },
          {
            'TYPE': 'date',
            'HEADER_CONTENT': 'Offer Until',
            'thClasses': ['text--center'],
            'tdClasses': ['text--center']
          },
          {
            'HEADER_CONTENT': '<span class="text--nowrap">Bulk Pricing 1:</span><br>Quantity',
            'thClasses': ['text--center'],
            'tdClasses': ['text--center']
          },
          {
            'HEADER_CONTENT': '<span class="text--nowrap">Bulk Pricing 1:</span><br><span class="text--nowrap">Unit Price</span> (AED)',
            'thClasses': ['text--center'],
            'tdClasses': ['text--center']
          },
          {
            'HEADER_CONTENT': '<span class="text--nowrap">Bulk Pricing 2:</span><br>Quantity',
            'thClasses': ['text--center'],
            'tdClasses': ['text--center']
          },
          {
            'HEADER_CONTENT': '<span class="text--nowrap">Bulk Pricing 2:</span><br><span class="text--nowrap">Unit Price</span> (AED)',
            'thClasses': ['text--center'],
            'tdClasses': ['text--center']
          },
          {
            'HEADER_CONTENT': 'Set As',
            'thClasses': ['text--center'],
            'tdClasses': ['text--center']
          }
        ],
        'data': data.info
      }) }}
    {{ listingTable.listingFooter({
      'TABLE_ID': 'listingTable',
      'pagination': pagination
    }) }}
  </div>
{% endblock %}

{% block modals %}
  {{ parent() }}
  {% include '_modals/_multi-buy.twig' %}
{% endblock %}
