{% extends '_layouts/_default.twig' %}
{% import '_macros/__forms.twig' as forms %}
{% import '_macros/__uploader.twig' as uploader %}

{% block content %}
{{ forms.start({
  'ACTION': '/back_office/profile/save' ~ (debug ? '?debug=1'),
  'METHOD': 'post',
  'ENCTYPE': 'multipart/form-data',
  'AUTOCOMPLETE': 'off'
}) }}

<div class="container">
    <div class="panel panel--content-padding-big  [ margin-top--20 margin-bottom--30 ]">
        <div class="panel__header"><h3 class="panel__title">{{ seo.PAGE_TITLE|raw }}</h3></div>
        <div class="panel__content">
            <fieldset>
                <legend class="bg--white">Company Details</legend>
                <div class="[ edit-layout edit-layout--multi-column edit-layout--image ]  margin-top--20">
                    <div class="edit-layout__image-upload">
                        {{ uploader.createImageUploader({
                          'id': 'logo',
                          'IMG_PATH': data.info.logo,
                          'INPUT_NAME': 'logo',
                          'LABEL': 'Logo',
                          'PLACEHOLDER_LABEL': 'Supplier logo',
                          'BUTTON_LABEL': 'Upload logo',
                          'INSTRUCTIONS': 'The logo should be at least 200x200px, max. file weight 1MB. Allowed formats: JPG, PNG.'
                        }) }}
                    </div>
                    <div class="edit-layout__content">
                        <div class="row  [ width-lg--75 width-xl--65 ]">
                            <div class="col-xs-12">
                                <div class="horizontal-form-group has-required">
                                    <label class="horizontal-form-group__label">Trade Name:<br>
                                        <small>(as per licence)</small>
                                    </label>
                                    {{ forms.group({
                                      'TYPE': 'text',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'NAME': 'trading_name',
                                      'VALUE': data.info.trading_name
                                    }) }}
                                </div>
                                <div class="horizontal-form-group">
                                    <label class="horizontal-form-group__label">VAT / Tax No:</label>
                                    {{ forms.group({
                                      'TYPE': 'text',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'NAME': 'company_vat_tax_no',
                                      'VALUE': data.info.company_vat_tax_no
                                    }) }}
                                </div>
                                {% if data.info.trading_licence %}
                                <div class="horizontal-form-group horizontal-form-group--static">
                                    <label class="horizontal-form-group__label">License:</label>
                                    <div class="horizontal-form-group__item"><a
                                                href="{{ data.info.trading_licence_src }}"
                                                target="_blank">{{ data.info.trading_licence|raw }}</a></div>
                                </div>
                                {% endif %}
                                <div class="horizontal-form-group">
                                    <label class="horizontal-form-group__label">{{ data.info.trading_licence ? 'Replace License:<br><small>(max 1MB)</small>' : 'Upload License:<br><small>(max 1MB)</small>' }}</label>
                                    {{ uploader.createCombinedGroupUploader({
                                      'id': 'license',
                                      'INPUT_NAME': 'trading_licence',
                                      'BUTTON_LABEL': 'Upload file'
                                    }) }}
                                </div>
                                <hr class="edit-layout__hr">
                                <div class="horizontal-form-group has-required">
                                    <label class="horizontal-form-group__label">Business Address:</label>
                                    {{ forms.group({
                                      'TYPE': 'textarea',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'NAME': 'address_1',
                                      'VALUE': data.info.address_1
                                    }) }}
                                </div>
                                <div class="horizontal-form-group">
                                    <label class="horizontal-form-group__label">City:</label>
                                    {{ forms.group({
                                      'TYPE': 'text',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'NAME': 'city',
                                      'VALUE': data.info.city
                                    }) }}
                                </div>
                                <div class="horizontal-form-group has-required">
                                    <label class="horizontal-form-group__label">Country:</label>
                                    {{ forms.group({
                                      'TYPE': 'select',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'PLACEHOLDER': 'Select',
                                      'NAME': 'id_countries',
                                      'VALUE': data.id_countries,
                                      'options': data.countries
                                    }) }}
                                </div>
                                <div class="horizontal-form-group has-required">
                                    <label class="horizontal-form-group__label">Corporate Email:</label>
                                    {{ forms.group({
                                      'TYPE': 'email',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'NAME': 'company_email',
                                      'VALUE': data.info.company_email
                                    }) }}
                                </div>
                                <div class="horizontal-form-group has-required">
                                    <label class="horizontal-form-group__label">Company Phone:</label>
                                    {{ forms.group({
                                      'TYPE': 'phone',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'NAME': 'company_phone',
                                      'VALUE': data.info.company_phone
                                    }) }}
                                </div>
                                {#
                                <div class="horizontal-form-group has-required">
                                    <label class="horizontal-form-group__label">Share Location Map:</label>
                                    {{ forms.group({
                                      'TYPE': 'text',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'NAME': 'company_location_map',
                                      'VALUE': data.info.company_location_map
                                    }) }}
                                </div>
                                #}
                                {#
                                <div class="text--center  margin-bottom--20">
                                    <button class="[ btn btn--m btn--primary ]  [ text--uppercase text--bold ]"><span
                                                class="icon icon--white icon--o-plus"></span><span>Add Warehouse Address</span>
                                    </button>
                                </div>
                                #}
                            </div><!-- /.col- -->
                        </div><!-- /.row -->

                    </div><!-- /.edit-layout__content -->
                </div><!-- /.edit-layout -->
            </fieldset>
            <style>
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }
      #infowindow-content .title {
        font-weight: bold;
      }
      #infowindow-content {
        display: none;
      }
      #map #infowindow-content {
        display: inline;
      }
      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }
      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }
      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }
      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }
      #pac-input:focus {
        border-color: #4d90fe;
      }
    </style>
            <fieldset>
                <legend class="bg--white">Company Location will be displayed in your store</legend>

                <div class="[ edit-layout ]  margin-top--20">
                    <div class="edit-layout__content">

                        <div class="row  [ width-lg--90 width-xl--75 ]">
                            
                            <div class="horizontal-form-group">
                                    <input id="pac-input" class="controls" type="text" placeholder="Search Box" value="{{data.info.company_location_map}}">
                                    <div id="map" style="width:100%;height: 300px;margin: 0 0 0 30px;"></div>
                                    {{ forms.group({
                                         'TYPE': 'hidden',
                                         'SIZE': 'm',
                                         'id': 'lat',
                                         'GROUP_WRAPPER': 'div',
                                         'NAME': 'lat',
                                         'VALUE': data.info.lat
                                    }) }}

                                    {{ forms.group({
                                        'TYPE': 'hidden',
                                        'SIZE': 'm',
                                        'id':'lng',
                                        'GROUP_WRAPPER': 'div',
                                        'NAME': 'lng',
                                        'VALUE': data.info.lng
                                    }) }}

                                    {{ forms.group({
                                      'TYPE': 'hidden',
                                      'SIZE': 'm',
                                      'id':'company-location-map',
                                      'GROUP_WRAPPER': 'div',
                                      'NAME': 'company_location_map',
                                      'VALUE': data.info.company_location_map
                                    }) }}

                                {% raw %}
                                <script>
                                    // This example adds a search box to a map, using the Google Place Autocomplete
                                    // feature. People can enter geographical searches. The search box will return a
                                    // pick list containing a mix of places and predicted search terms.

                                    // This example requires the Places library. Include the libraries=places
                                    // parameter when you first load the API. For example:
                                    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

                                    function initAutocomplete() {
                                        var lat = document.getElementById("lat").value;
                                        var lng = document.getElementById("lng").value;
                                        
                                        if(lat){
                                            var lat = parseFloat(lat);
                                        } else {
                                            var lat = parseFloat("-33.8688");
                                        }
                                        
                                        if(lng){
                                            var lng = parseFloat(lng);
                                        } else {
                                            var lng = parseFloat("-33.8688");
                                        }
                                        
                                        var map = new google.maps.Map(document.getElementById('map'), {
                                            center: {lat: lat, lng: lng},
                                            zoom: 13,
                                            mapTypeId: 'roadmap'
                                        });

                                        // Create the search box and link it to the UI element.
                                        var input = document.getElementById('pac-input');
                                        var searchBox = new google.maps.places.SearchBox(input);
                                        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

                                        // Bias the SearchBox results towards current map's viewport.
                                        map.addListener('bounds_changed', function () {
                                            searchBox.setBounds(map.getBounds());
                                        });

                                        var markers = [];
                                        // Listen for the event fired when the user selects a prediction and retrieve
                                        // more details for that place.
                                        searchBox.addListener('places_changed', function () {
                                            var places = searchBox.getPlaces();

                                            if (places.length == 0) {
                                                return;
                                            }

                                            // Clear out the old markers.
                                            markers.forEach(function (marker) {
                                                marker.setMap(null);
                                            });
                                            markers = [];

                                            // For each place, get the icon, name and location.
                                            var bounds = new google.maps.LatLngBounds();
                                            places.forEach(function (place) {
                                                if (!place.geometry) {
                                                    console.log("Returned place contains no geometry");
                                                    return;
                                                }
                                                var icon = {
                                                    url: place.icon,
                                                    size: new google.maps.Size(71, 71),
                                                    origin: new google.maps.Point(0, 0),
                                                    anchor: new google.maps.Point(17, 34),
                                                    scaledSize: new google.maps.Size(25, 25)
                                                };
                                                
                                    			var lat = place.geometry.location.lat();
                                    			var lng = place.geometry.location.lng();

                                                // Create a marker for each place.
                                                markers.push(new google.maps.Marker({
                                                    map: map,
                                                    icon: icon,
                                                    title: place.name,
                                                    position: place.geometry.location,
                                                    draggable: false,
                                                    animation: google.maps.Animation.DROP
                                                }));
                                                
//var x = document.getElementById('pac-input');
//document.getElementById("company_location_map").value = place.name;

                                                if (place.geometry.viewport) {
                                                    // Only geocodes have viewport.
                                                    bounds.union(place.geometry.viewport);

                                                    document.getElementById("lat").value = lat;
				                                    document.getElementById("lng").value = lng;
				                                    document.getElementById("company-location-map").value = place.name;

                                                } else {
                                                    bounds.extend(place.geometry.location);
                                                }
                                            });
                                            map.fitBounds(bounds);
                                            alert("Your location was updated");
                                        });
                                    }
                                </script>
                                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7FDm2085e0le2q2RjL3y2ZDYwQ8HiKKk&libraries=places&callback=initAutocomplete"
                                        async defer></script>
                                {% endraw %}
                                
                        </div><!-- /.col- -->
                    </div><!-- /.row -->
                    </div>
                </div><!-- /.edit-layout__content -->
            </fieldset>

            <fieldset>
                <legend class="bg--white">Commercial Terms</legend>
    
                <div class="[ edit-layout ]  margin-top--20">
                    <div class="edit-layout__content">
    
                        <div class="row  [ width-lg--90 width-xl--75 ]">
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
    
                                <div class="horizontal-form-group has-required">
                                    <label class="horizontal-form-group__label">Shipping from:</label>
                                    {{ forms.group({
                                      'TYPE': 'select',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'PLACEHOLDER': 'Select',
                                      'NAME': 'delivery_shipping_from',
                                      'options': data.delivery_shipping_from_countries
                                    }) }}
                                </div>
    
                                <div class="standalone-form-group-label has-required">Delivery Time:</div>
                                <div class="form-combined-group  js-conditional-visibility" data-cv-id="deliverytime">
                                    {{ forms.group({
                                      'TYPE': 'select',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'inputClasses': [
                                        'js-conditional-visibility__condition-source'
                                      ],
                                      'PLACEHOLDER': 'Select',
                                      'NAME': 'delivery_time',
                                      'options': [
                                        {
                                          'VALUE': '1-3-days',
                                          'TEXT': '1 to 3 days',
                                          'IS_SELECTED' : data.info.delivery_time=='1-3-days'
                                        },
                                        {
                                          'VALUE': '3-5-weeks',
                                          'TEXT': '3 to 5 weeks',
                                          'IS_SELECTED' : data.info.delivery_time=='3-5-weeks'
                                        },
                                        {
                                          'VALUE': 'other',
                                          'TEXT': 'Other...',
                                          'IS_SELECTED' : data.info.delivery_time=='other',
                                          'data': {
                                            'cv-condition-group': 'g1'
                                          }
                                        }
                                      ]
                                    }) }}
                                    {{ forms.group({
                                      'TYPE': 'number',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'inputClasses': [
                                        'text--right'
                                      ],
                                      'groupClasses': [
                                        'conditional-visibility__conditioned-item',
                                        'js-conditional-visibility__conditioned-item'
                                      ],
                                      'groupData': {
                                        'cv-condition-group': 'g1'
                                      },
                                      'NAME': 'delivery_time_period',
                                      'VALUE': data.info.delivery_time_period
                                    }) }}
                                    {{ forms.group({
                                      'TYPE': 'select',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'groupClasses': [
                                        'conditional-visibility__conditioned-item',
                                        'js-conditional-visibility__conditioned-item'
                                      ],
                                      'groupData': {
                                        'cv-condition-group': 'g1'
                                      },
                                      'NAME': 'delivery_time_period_type',
                                      'options': [
                                        {
                                          'VALUE': 'days',
                                          'TEXT': 'day(s)',
                                          'IS_SELECTED' : data.info.delivery_time_period_type=='days'
                                        },
                                        {
                                          'VALUE': 'weeks',
                                          'TEXT': 'week(s)',
                                          'IS_SELECTED' : data.info.delivery_time_period_type=='weeks'
                                        }
                                      ]
                                    }) }}
                                </div>
    
                                <div class="standalone-form-group-label has-required">Delivery Fee:</div>
                                <div class="form-combined-group  js-conditional-visibility" data-cv-id="deliveryfee">
                                    {{ forms.group({
                                      'TYPE': 'select',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'inputClasses': [
                                        'js-conditional-visibility__condition-source'
                                      ],
                                      'PLACEHOLDER': 'Select',
                                      'NAME': 'delivery_fee',
                                      'options': [
                                        {
                                          'VALUE': 'free',
                                          'TEXT': 'Free',
                                          'IS_SELECTED' : data.info.delivery_fee=='free'
                                        },
                                        {
                                          'VALUE': 'free-on-bigger-orders',
                                          'TEXT': 'Free on orders >',
                                          'IS_SELECTED' : data.info.delivery_fee=='free-on-bigger-orders',
                                          'data': {
                                            'cv-condition-group': 'g1'
                                          }
                                        },
                                        {
                                          'VALUE': 'fixed-fee',
                                          'TEXT': 'Fixed fee:',
                                          'IS_SELECTED' : data.info.delivery_fee=='fixed-fee',
                                          'data': {
                                            'cv-condition-group': 'g1'
                                          }
                                        },
                                        {
                                          'VALUE': 'courier-price',
                                          'TEXT': 'As per the Courrier Rate',
                                          'IS_SELECTED' : data.info.delivery_fee=='courier-price'
                                        }
                                      ]
                                    }) }}
                                    {{ forms.group({
                                      'TYPE': 'number',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'inputClasses': [
                                        'text--right'
                                      ],
                                      'groupClasses': [
                                        'conditional-visibility__conditioned-item',
                                        'js-conditional-visibility__conditioned-item'
                                      ],
                                      'groupData': {
                                        'cv-condition-group': 'g1'
                                      },
                                      'NAME': 'delivery_fee_price',
                                      'VALUE': data.info.delivery_fee_price
                                    }) }}
                                    <div class="[ form-group-addon form-group-addon--m form-group-addon--right form-group-addon--stylized ]  conditional-visibility__conditioned-item  js-conditional-visibility__conditioned-item"
                                         data-cv-condition-group="g1">
                                        AED
                                    </div>
                                </div>

                                <div class="horizontal-form-group">
                                    <label class="horizontal-form-group__label">Note:</label>
                                    {{ forms.group({
                                        'TYPE': 'textarea',
                                        'SIZE': 'm',
                                        'id': 'cbname',
                                        'GROUP_WRAPPER': 'div',
                                        'NAME': 'note',
                                        'VALUE': data.info.note
                                    }) }}
                                </div>

                            </div><!-- /.col- -->
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
    
                                <div class="horizontal-form-group has-required">
                                    <label class="horizontal-form-group__label">Credit Terms:</label>
                                    {{ forms.group({
                                      'TYPE': 'select',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'PLACEHOLDER': 'Select',
                                      'NAME': 'credit_terms',
                                      'options': [
                                        {
                                          'VALUE': 'consult-with-supplier',
                                          'TEXT': 'Consult with Supplier',
                                          'IS_SELECTED' : data.info.credit_terms == 'consult-with-supplier'
                                        },
                                        {
                                          'VALUE': 'do-not-publish',
                                          'TEXT': 'Do not publish',
                                          'IS_SELECTED' : data.info.credit_terms == 'do-not-publish'
                                        }
                                      ]
                                    }) }}
                                </div>
    
                                <div class="horizontal-form-group has-required">
                                    <label class="horizontal-form-group__label">Payment Methods:</label>
                                    <div class="horizontal-form-group__item horizontal-form-group__item--checkboxes-radios" style="display:none">
                                        {{ forms.group({
                                          'TYPE': 'checkbox',
                                          'SIZE': 'm',
                                          'NAME': 'payment_methods[]',
                                          'VALUE': 'cheque-on-delivery',
                                          'PLACEHOLDER': 'Cheque on Delivery',
                                          'IS_CHECKED': 'cheque-on-delivery' in data.info.payment_methods
                                        }) }}
                                        {{ forms.group({
                                          'TYPE': 'checkbox',
                                          'SIZE': 'm',
                                          'NAME': 'payment_methods[]',
                                          'VALUE': 'cash-on-delivery',
                                          'PLACEHOLDER': 'Cash on Delivery',
                                          'IS_CHECKED': 'cash-on-delivery' in data.info.payment_methods
                                        }) }}
    
                                        {{ forms.group({
                                          'TYPE': 'checkbox',
                                          'SIZE': 'm',
                                          'NAME': 'payment_methods[]',
                                          'VALUE': 'Bank-transfer',
                                          'id': 'Bank-transfer',
                                          'PLACEHOLDER': 'Bank Transfer',
                                          'IS_CHECKED': 'Bank-transfer' in data.info.payment_methods
                                        }) }}
                                        {{ forms.group({
                                          'TYPE': 'checkbox',
                                          'SIZE': 'm',
                                          'NAME': 'payment_methods[]',
                                          'VALUE': 'later-payment',
                                          'PLACEHOLDER': 'Later Payment',
                                          'IS_CHECKED': 'later-payment' in data.info.payment_methods
                                        }) }}
                                        {#
    
                                        {{ forms.group({
                                          'TYPE': 'checkbox',
                                          'SIZE': 'm',
                                          'NAME': 'payment_methods[
                                          ]',
                                          'VALUE': 'credit-card-online',
                                          'PLACEHOLDER': 'Credit Card Online',
                                          'IS_CHECKED': 'credit-card-online' in data.info.payment_methods
                                        }) }}
                                        #}
                                        <div style="display:none;" onclick="myFunction()">
                                            <input type="checkbox" disabled/>&nbsp;&nbsp;Online Payment
                                        </div>
    
                                    </div>
                                    <div class="horizontal-form-group__item horizontal-form-group__item--checkboxes-radios">
                                        Check On Delivery - Cash On Delivery - Online Paymnet
                                    </div>
                                    <script type='text/javascript'>
                                        function myFunction() {
                                            alert('Soon you will be able to Add Online Payment option to your Terms.  T & C apply');
                                        }
                                    </script>
                                </div>
    
                            </div><!-- /.col- -->
                        </div><!-- /.row -->
    
                    </div>
                </div>
            </fieldset>
    
            <fieldset>
                <legend class="bg--white">Bank Details</legend>
    
                <div class="[ edit-layout ]  margin-top--20">
                    <div class="edit-layout__content">
    
                        <div class="row  [ width-lg--90 width-xl--75 ]">
                            <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                <div class="horizontal-form-group">
                                    <label class="horizontal-form-group__label">Company Bank Name:</label>
                                    {{ forms.group({
                                        'TYPE': 'text',
                                        'SIZE': 'm',
                                        'id': 'cbname',
                                        'GROUP_WRAPPER': 'div',
                                        'NAME': 'bank_name',
                                        'VALUE': data.info.company_bank_name
                                    }) }}
                                </div>
    
                                <div class="horizontal-form-group">
                                    <label class="horizontal-form-group__label">Bank Name:</label>
                                    {{ forms.group({
                                      'TYPE': 'text',
                                      'SIZE': 'm',
                                      'id': 'bname',
                                      'GROUP_WRAPPER': 'div',
                                      'NAME': 'company_bank_version_name',
                                      'VALUE': data.info.company_bank_version_name
                                    }) }}
                                </div>
    
                                <div class="horizontal-form-group">
                                    <label class="horizontal-form-group__label">Branch:</label>
                                    {{ forms.group({
                                      'TYPE': 'text',
                                      'SIZE': 'm',
                                      'id': 'Branch',
                                      'GROUP_WRAPPER': 'div',
                                      'NAME': 'company_bank_branch_name',
                                      'VALUE': data.info.company_bank_branch_name
                                    }) }}
                                </div>
    
                                <div class="horizontal-form-group">
                                    <label class="horizontal-form-group__label">Account No:</label>
                                    {{ forms.group({
                                        'TYPE': 'phone',
                                        'SIZE': 'm',
                                        'id': 'Account',
                                        'GROUP_WRAPPER': 'div',
                                        'NAME': 'bank_account',
                                        'VALUE': data.info.company_bank_account_no
                                    }) }}
                                </div>
    
                                <div class="horizontal-form-group">
                                    <label class="horizontal-form-group__label">IBAN:</label>
                                    {{ forms.group({
                                      'TYPE': 'text',
                                      'SIZE': 'm',
                                        'id': 'iban',
                                      'GROUP_WRAPPER': 'div',
                                      'NAME': 'company_bank_ban',
                                      'VALUE': data.info.company_bank_ban
                                    }) }}
                                </div>
                            </div>
                        </div><!-- /.row -->
                    </div>
                </div>
            </fieldset>
    
            <fieldset>
                <legend class="bg--white">User Details</legend>
    
                <div class="[ edit-layout edit-layout--multi-column edit-layout--image ]  margin-top--20">
                    <div class="edit-layout__image-upload">
                        {{ uploader.createImageUploader({
                          'id': 'photo',
                          'INPUT_NAME': 'photo',
                          'LABEL': 'Photo',
                          'IMG_PATH': data.info.photo,
                          'PLACEHOLDER_LABEL': 'User photo',
                          'BUTTON_LABEL': 'Upload photo',
                          'INSTRUCTIONS': 'The photo should be at least 200x200px, max. file weight 1MB. Allowed formats: JPG, PNG.'
                        }) }}
                    </div>
                    <div class="edit-layout__content">
    
                        <div class="row  width-lg--75">
                            <div class="col-xl-6">
    
                                <div class="horizontal-form-group has-required">
                                    <label class="horizontal-form-group__label">First Name:</label>
                                    {{ forms.group({
                                      'TYPE': 'text',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'NAME': 'first_name',
                                      'VALUE': data.info.first_name
                                    }) }}
                                </div>
    
                                <div class="horizontal-form-group has-required">
                                    <label class="horizontal-form-group__label">Family Name:</label>
                                    {{ forms.group({
                                      'TYPE': 'text',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'NAME': 'last_name',
                                      'VALUE': data.info.last_name
                                    }) }}
                                </div>
    
                                <div class="horizontal-form-group">
                                    <label class="horizontal-form-group__label">Job Title:</label>
                                    {{ forms.group({
                                      'TYPE': 'text',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'NAME': 'position',
                                      'VALUE': data.info.position
                                    }) }}
                                </div>
    
                                <div class="horizontal-form-group has-required">
                                    <label class="horizontal-form-group__label">Phone:</label>
                                    {{ forms.group({
                                      'TYPE': 'phone',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'NAME': 'phone',
                                      'VALUE': data.info.phone
                                    }) }}
                                </div>
    
                                <div class="horizontal-form-group has-required">
                                    <label class="horizontal-form-group__label">Email:</label>
                                    {{ forms.group({
                                      'TYPE': 'email',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'NAME': 'email',
                                      'VALUE': data.info.email
                                    }) }}
                                </div>
    
                            </div><!-- /.col- -->
                            <div class="col-xl-6">
    
                                <div class="horizontal-form-group">
                                    <label class="horizontal-form-group__label">Mobile No.:</label>
                                    {{ forms.group({
                                      'TYPE': 'phone',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'NAME': 'mobile',
                                      'VALUE': data.info.mobile
                                    }) }}
                                </div>
    
                                <div class="horizontal-form-group">
                                    <label class="horizontal-form-group__label">Direct Phone:</label>
                                    {{ forms.group({
                                      'TYPE': 'phone',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'NAME': 'direct_phone',
                                      'VALUE': data.info.direct_phone
                                    }) }}
                                </div>
    
                                <div class="horizontal-form-group">
                                    <label class="horizontal-form-group__label">Extension:</label>
                                    {{ forms.group({
                                      'TYPE': 'text',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'NAME': 'phone_extension',
                                      'VALUE': data.info.phone_extension
                                    }) }}
                                </div>
    
                                <div class="horizontal-form-group">
                                    <label class="horizontal-form-group__label">WhatsApp:</label>
                                    {{ forms.group({
                                      'TYPE': 'text',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'NAME': 'whatsapp',
                                      'VALUE': data.info.whatsapp
                                    }) }}
                                </div>
    
                            </div><!-- /.col- -->
                        </div><!-- /.row -->
    
                    </div><!-- /.edit-layout__content -->
                </div><!-- /.edit-layout -->
            </fieldset>
    
            <fieldset>
                <legend class="bg--white">Change Password</legend>
    
                <div class="[ edit-layout ]  margin-top--20">
                    <div class="edit-layout__content">
    
                        <div class="row  [ width-sm--65 width-md--65 width-lg--50 width-xl--50 ]">
                            <div class="col-xs-12">
    
                                <div class="horizontal-form-group">
                                    <label class="horizontal-form-group__label">Old Password:</label>
                                    {{ forms.group({
                                      'TYPE': 'password',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'NAME': 'oldpassword',
                                      'VALUE': ''
                                    }) }}
                                </div>
    
                                <div class="horizontal-form-group">
                                    <label class="horizontal-form-group__label">New Password:</label>
                                    {{ forms.group({
                                      'TYPE': 'password',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'NAME': 'newpassword',
                                      'VALUE': ''
                                    }) }}
                                </div>
    
                                <div class="horizontal-form-group">
                                    <label class="horizontal-form-group__label">Repeat New Password:</label>
                                    {{ forms.group({
                                      'TYPE': 'password',
                                      'SIZE': 'm',
                                      'GROUP_WRAPPER': 'div',
                                      'NAME': 'repeatnewpassword',
                                      'VALUE': ''
                                    }) }}
                                </div>
    
                            </div><!-- /.col- -->
                        </div><!-- /.row -->
    
                    </div>
                </div>
            </fieldset>
    
            <div class="edit-actions">
                <div class="btn-group">
                    <button class="[ btn btn--l btn--primary ]  [ text--uppercase text--bold ]  js-unload-prevention-whitelisted"
                            type="submit"><span class="icon icon--white icon--tick"></span><span>Save changes</span>
                    </button>
                    <a class="[ btn btn--l btn--secondary ]  [ text--uppercase text--bold ]"
                       href="{{ links.dashboard.URL }}"><span
                                class="icon icon--white icon--x"></span><span>Cancel</span></a>
                </div>
            </div>
    </div>
</div>

</div>

{{ forms.end({}) }}
{% endblock %}
