{% extends '_layouts/_default.twig' %}
{% import '_macros/__forms.twig' as forms %}
{% import '_macros/__uploader.twig' as uploader %}

{% block content %}

{{ forms.start({
'ACTION': '/back_office/promocode/save' ~ (debug ? '?debug=1'),
'METHOD': 'post',
'ENCTYPE': 'multipart/form-data',
'AUTOCOMPLETE': 'off'
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'id_user',
'VALUE': data.id_user
}) }}

{{ forms.group({
  'TYPE': 'hidden',
  'SIZE': 'm',
  'GROUP_WRAPPER': 'div',
  'NAME': 'id_promo_code',
  'VALUE': data.id_promo_code
}) }}

<div class="container">

    <div class="panel panel--content-padding-big [ margin-top--20 margin-bottom--30 ]">
        <div class="panel__header">
            <h3 class="panel__title">{{ seo.PAGE_TITLE|raw }}</h3>
            <div class="panel__header-actions">
                <a class="[ btn btn--m btn--slate-light ]  [ text--uppercase text--bold ]"
                   href="{{ links.promocodeListing.URL }}"><span>Go to Promocode List</span><span
                            class="icon icon--white icon--wedge icon--cw-90"></span></a>
            </div>
        </div>
        <div class="panel__content">
            <fieldset>
                <legend class="bg--white">Promocode Details</legend>

                <div class="[ edit-layout edit-layout--multi-column edit-layout--image ]  margin-top--20">
                    <div class="edit-layout__content">

                        <div class="row  [ width-lg--75 width-xl--65 ]">
                            <div class="col-xs-12">
                                
                                <div class="horizontal-form-group has-required">
                                    <label class="horizontal-form-group__label">Code:</label>
                                    {{ forms.group({
                                    'TYPE': 'text',
                                    'SIZE': 'm',
                                    'GROUP_WRAPPER': 'div',
                                    'NAME': 'code',
                                    'VALUE': data.info.code
                                    }) }}
                                </div>
                                
                                <div class="horizontal-form-group has-required">
                                    <label class="horizontal-form-group__label">Discount (%):</label>
                                    {{ forms.group({
                                    'TYPE': 'text',
                                    'SIZE': 'm',
                                    'GROUP_WRAPPER': 'div',
                                    'NAME': 'amount',
                                    'VALUE': data.info.amount
                                    }) }}
                                </div>

                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                                {% if(data.revisesection == "" ) %}
                                <div class="horizontal-form-group has-required">
                                    <label class="horizontal-form-group__label">Brand:</label>
                                    {{ forms.group({
                                    'TYPE': 'select',
                                    'SIZE': 'm',
                                    'GROUP_WRAPPER': 'div',
                                    'PLACEHOLDER': 'Select Brand',
                                    'NAME': 'id_brands1',
                                    'options': data.id_brands
                                    }) }}
                                        <p id="addBrand1">+</p>
                                </div>

                                <script>
                                    var k = 1;
                                    $(document).ready(function(){
                                        $("#brand_amount").val(k);
                                    });
                                </script>
                                
                                {% for i in 2..data.id_count %}
                                <div class="horizontal-form-group" id="otherBrand{{i}}" style="display:none;">
                                    <label class="horizontal-form-group__label"></label>
                                    {% set id_brands = 'id_brands' ~ i %}
                                    {{ forms.group({
                                    'TYPE': 'select',
                                    'SIZE': 'm',
                                    'GROUP_WRAPPER': 'div',
                                    'PLACEHOLDER': 'Select Brand',
                                    'NAME': id_brands,
                                    'options': data.id_brands
                                    }) }}
                                    <p id="addBrand{{i}}">+</p>
                                </div>

                                <script>
                                $(document).ready(function(){
                                  $("#addBrand{{i - 1}}").click(function(){
                                      if({{i}} != {{data.id_count + 1}}){
                                    $("#otherBrand{{i}}").show();
                                    k = k + 1;
                                    $("#brand_amount").val(k);
                                      }
                                  });
                                });
                                </script>
                                {% endfor %}
                                
                                <style>
                                    #addBrand{{data.id_count}} {
                                        display: none !important;
                                    }
                                    .horizontal-form-group p {
                                        border: 1px solid #edeef2;
                                        height: 30px;
                                        padding: 6px 10px;
                                        margin: 0 0 0 10px;
                                        color: #7e7e82;
                                        cursor: pointer;
                                    }
                                </style>
                                {% else %}
                                <div class="horizontal-form-group has-required">
                                    <label class="horizontal-form-group__label">Brand:</label>
                                    {{ forms.group({
                                    'TYPE': 'select',
                                    'SIZE': 'm',
                                    'GROUP_WRAPPER': 'div',
                                    'PLACEHOLDER': 'Select Brand',
                                    'NAME': 'id_brands',
                                    'options': data.id_brands
                                    }) }}
                                </div>
                                
                                {% endif %}
                                
                                {{ forms.group({
                                'TYPE': 'hidden',
                                'SIZE': 'm',
                                'id': 'brand_amount',
                                'GROUP_WRAPPER': 'div',
                                'NAME': 'brand_amount',
                                'VALUE': k
                                }) }}
                                
                                <div class="horizontal-form-group has-required">
                                    <label class="horizontal-form-group__label">Expiry Date:</label>
                                    {{ forms.group({
                                    'TYPE': 'date',
                                    'SIZE': 'm',
                                    'GROUP_WRAPPER': 'div',
                                    'NAME': 'expire_date',
                                    'VALUE': data.info.expire_date
                                    }) }}
                                </div>

                            </div><!-- /.col- -->
                        </div><!-- /.row -->

                    </div><!-- /.edit-layout__content -->
                </div><!-- /.edit-layout -->
            </fieldset>

            <div class="edit-actions">
                <div class="btn-group">
                    <button class="[ btn btn--l btn--primary ]  [ text--uppercase text--bold ]  js-unload-prevention-whitelisted"
                            type="submit"><span class="icon icon--white icon--tick"></span><span>{{ MODE == 'add' ? 'Add Promo Code' : 'Save changes' }}</span>
                    </button>

                    <a class="[ btn btn--l btn--secondary ]  [ text--uppercase text--bold ]"
                       href="{{ links.promocodeListing.URL }}"><span class="icon icon--white icon--x"></span><span>Cancel</span></a>
                </div>
            </div>

        </div>
    </div>

</div>

{{ forms.end({}) }}
{% endblock %}