<!-- ########################
# 
# #Launching / switching / closing modals
#
######################### -->
<a name="modalsActions" id="modalsActions" class="test-anchor"></a>
<p class="text--h3">Launching / switching / closing modals</p>
<p class="margin-top--10">To open any modal present in the DOM & instantiated, add to any element: <code class="text--nowrap">js-md-open</code> class & <code class="text--nowrap">data-md-id</code> attribute with <code>id</code> of the modal you want to open:</p>

<pre class="test-code-container"><code class="twig">
&lt;button class="[ btn btn--l btn--primary ]  js-md-open" data-md-id="exampleActions1"&gt;Open this example&lt;/button&gt;

</code></pre>

<p>This also works when you need to switch to another modal.</p>

<p class="margin-top--20">To close any and all modals, add <code class="text--nowrap">js-md-close</code> class to any element:</p>

<pre class="test-code-container"><code class="twig">
&lt;button class="[ btn btn--l btn--primary ]  js-md-close"&gt;Close all modals&lt;/button&gt;

</code></pre>

<p class="margin-bottom--20"><strong>Try an example below:</strong></p>

<button class="[ btn btn--l btn--primary ]  js-md-open" data-md-id="exampleActions1">Open actions example modal #1</button>
