<!-- ########################
# 
# #Automatic modal instantiation
#
######################### -->
<a name="modalsAuto" id="modalsAuto" class="test-anchor"></a>
<p class="text--h3">Automatic modal instantiation</p>
<p class="margin-top--10">To automatically instantiate modal's scripts, just add <code class="text--nowrap">js-md</code> class and set the modal's id via <code class="text--nowrap">data-md-id</code> attribute:</p>

<pre class="test-code-container"><code class="twig">
&lt;div class="modal  js-md" data-md-id="someUniqueModalId"&gt;
  Hello world!
&lt;/div&gt;

</code></pre>

<div class="alert alert--warning">Modal's id has to be unique, i.e. two modals cannot have the same id.</div>

<div class="alert alert--warning">Automatic instantiation works only for these modals, which HTML was present in the DOM on window.onload event. All modals added to the DOM afterwards need to be instantiated manually.</div>
