<!-- ########################
# 
# #Creating a modal
#
######################### -->
<a name="modalsCreate" id="modalsCreate" class="test-anchor"></a>
<p class="text--h3">Creating HTML for a modal</p>
<p class="margin-top--10">Creating HTML for modal is as simple as placing such code in a separate <code class="text--nowrap">.twig</code> file (below an automatic scripts init is made via adding a <code>js-md</code> class):</p>

<pre class="test-code-container"><code class="twig">
&lt;div class="modal  js-md"&gt;
  Hello world!
&lt;/div&gt;

</code></pre>

<p>... and including it in <code>modals</code> block in a particular module:</p>

<pre class="test-code-container"><code class="twig">
{{ '{% block modals %}' }}
  {{ '{{ parent() }}' }}
  {{ "{% include 'modals/_modal-template.twig' %}" }}
{{ '{% endblock %}' }}

</code></pre>

<button class="[ btn btn--l btn--primary ]  js-md-open" data-md-id="exampleSimple">Open this example</button>

<p class="margin-top--20">Examples for these guidelines are placed in <code class="text--nowrap">templates/testPage/modals/modals/</code> directory. They are included in a <code class="text--nowrap">modals</code> block in <code>templates/test/styles.twig</code> file.</p>


<!--
# #Making a modal visible on page load
-->
<p class="text--h4 margin-top--30">Making a modal visible on page load</p>

<p class="margin-top--10">To make a modal visible on page load, add <code class="text--nowrap">is-visible-on-init</code> class:</p>
<pre class="test-code-container"><code class="twig">
&lt;div class="modal  js-md  is-visible-on-init"&gt;
  Hello world!
&lt;/div&gt;

</code></pre>

<div class="alert alert--warning">Remember that only one modal can be visible at any given moment.</div>


<!--
# #Add some default padding based on <code>@common-margin</code>
-->
<p class="text--h4 margin-top--30">Add some default padding based on <code class="text--nowrap">@common-margin</code> variable</p>

<p class="margin-top--10">By default, modal has no internal padding set. To add 4-side padding equal to <code class="text--nowrap">@common-margin</code> variable (set in <code>_variables.less</code> file), add the <code class="text--nowrap">modal--common-padding</code> class:</p>
<pre class="test-code-container"><code class="twig">
&lt;div class="[ modal modal--common-padding ]  js-md"&gt;
  Lorem ipsum dolor sit amet (…)
&lt;/div&gt;

</code></pre>

<button class="[ btn btn--l btn--primary ]  js-md-open" data-md-id="exampleCommonPadding">Open this example</button>


<!--
# #Adding a closing button
-->
<p class="text--h4 margin-top--30">Adding a closing button</p>

<p class="margin-top--10">You can add a closing button to a modal. It requires a <code>ModalView</code> script initialization to work (below an automatic init is made via adding a <code>js-md</code> class):</p>
<pre class="test-code-container"><code class="twig">
&lt;div class="[ modal modal--common-padding ]  js-md"&gt;
  {{ '{#' }} Closing button {{ '#}' }}
  &lt;button class="modal__closing-button  js-md-close"&gt;
    &lt;span class="icon icon--10 icon--x icon--primary"&gt;&lt;/span&gt;
  &lt;/button&gt;

  Hello world!
&lt;/div&gt;

</code></pre>

<button class="[ btn btn--l btn--primary ]  js-md-open" data-md-id="exampleClosingButton">Open this example</button>

<div class="[ alert alert--info ]  margin-top--20">Every modal closes after pressing <code>ESC</code> key on the keyboard.</div>

<div class="alert alert--warning">Use only with <code class="text--nowrap">modal--common-padding</code> class.</div>


<!--
# #Non-scrolling modals
-->
<p class="text--h4 margin-top--30">Non-scrolling modals</p>

<p class="margin-top--10">By default, modal's content will scroll on <code>xs</code> breakpoint when viewport's height is smaller than modal's height & above <code>xs</code> breakpoint when the modal's content is higher than <code>@modal-max-height</code> specified in <code>_variables.less</code> file.<br>To prevent this behaviour add <code class="text--nowrap">modal--no-scroll</code> class:</p>
<pre class="test-code-container"><code class="twig">
&lt;div class="[ modal modal--no-scroll ]  js-md"&gt;
  Lorem ipsum dolor sit amet (…)
&lt;/div&gt;

</code></pre>

<button class="[ btn btn--l btn--primary ]  js-md-open" data-md-id="exampleNonScrolling">Open this example</button>


<!--
# #Allow modal's content overflow
-->
<p class="text--h4 margin-top--30">Allow modal's content overflow</p>

<p class="margin-top--10">To allow any content to overflow outside modal's contianer (such as external checkboxes on "register" modal), set the <code class="text--nowrap">modal--allow-overflow</code> class:</p>
<pre class="test-code-container"><code class="twig">
&lt;div class="[ modal modal--allow-overflow ]  js-md"&gt;
  Hello world!
&lt;/div&gt;

</code></pre>
