<!-- ########################
# 
# #Manual modal instantiation
#
######################### -->
<a name="modalsManual" id="modalsManual" class="test-anchor"></a>
<p class="text--h3">Manual modal instantiation</p>
<p class="margin-top--10">When you need more control over modal's scripts instance, you can instantiate it manually. To do so, first add <code class="text--nowrap">js-md-manual-init</code> class to the modal's HTML (this prevents the autoinitializer from instantiating this modal's scripts automatically):</p>

<pre class="test-code-container"><code class="twig">
&lt;div class="modal  [ js-md js-md-manual-init ]" data-md-id="someUniqueModalId"&gt;
  Hello world!
&lt;/div&gt;

</code></pre>

<p>Then you need to instantiate a <code>ModelView</code>. There are at least two ways of doing that:</p> 


<p class="text--h4 margin-top--30">Option #1: Extend <code>ModalView</code></p>
<p class="margin-top--10">You can extend <code>ModalView</code> and use it as a module injected into other modules itself - as an instantiated <code>Singleton</code> or as an object. Useful when you need to extend <code>ModalView</code>'s functionality.</p>

<pre class="test-code-container"><code class="js">
define('ModalExampleView', [
  'modules/modal/ModalView'
], function modalExampleView(
  _,
  ModalView
) {
  class ModalExampleView extends ModalView {
    constructor() {
      super({
        el: '.js-md[data-md-id="example"]'
      });
    }
  }

  return ModalExampleView;
});

</code></pre>

<div class="alert alert--info">Convention is that you place all modules extending <code>ModalView</code> in <code class="text--nowrap">js/app/modules/modals/</code> directory.</div>

<p class="text--h4 margin-top--30">Option #2: Inject and instantiate a <code>ModalView</code> in other module</p>
<pre class="test-code-container"><code class="js">
define('myView', [
  'jquery',
  'modules/modal/ModalView'
], function myView(
  $,
  ModalView
) {
  class MyView {
    constructor() {
      this.$modal = $('.js-md[data-md-id="someUniqueModalId"]');

      // You can additionally pass some options to the ModalView,
      // e.g. id or events. ModalView is a Backbone.View instance.
      this.modal = new ModalView({ el: this.$modal });
    }
  }

  return new MyView();
});

</code></pre>
