{% import '_macros/__forms.twig' as forms %}

{{ listingFilters.start({
  'FORM_ACTION':  links.ordersListing.URL ~ (debug ? '?debug=1')
}) }}

  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'text',
      'SIZE': 'm',
      'PLACEHOLDER': 'Search by Order ID',
      'LABEL': 'Order ID',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true,
      'NAME': 'Search[id]',
      'VALUE': data.filters.current.id
    }) }}
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'text',
      'SIZE': 'm',
      'PLACEHOLDER': 'Search by Buyer Name',
      'LABEL': 'Buyer Name',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true,
      'NAME': 'Search[buyer_name]',
      'VALUE': data.filters.current.buyer_name
    }) }}
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'text',
      'SIZE': 'm',
      'PLACEHOLDER': 'Search by City',
      'LABEL': 'City',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true,
      'NAME': 'Search[buyer_city]',
      'VALUE': data.filters.current.buyer_city
    }) }}
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'select',
      'SIZE': 'm',
      'PLACEHOLDER': 'Filter by Country',
      'LABEL': 'Country',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true,
      'NAME': 'Search[buyer_country]',
      'options': data.filters.possible.buyer_country
    }) }}
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'select',
      'SIZE': 'm',
      'PLACEHOLDER': 'Filter by Order Status',
      'LABEL': 'Order Status',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true,
      'NAME': 'Search[status]',
      'options': data.filters.possible.status
    }) }}
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'select',
      'SIZE': 'm',
      'PLACEHOLDER': 'Filter by Payment Status',
      'LABEL': 'Payment Status',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true,
      'NAME': 'Search[payment_status]',
      'options': data.filters.possible.payment_status
    }) }}
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'text',
      'SIZE': 'm',
      'ICON_RIGHT': 'icon--calendar icon--slate-light',
      'PLACEHOLDER': 'Order created from',
      'LABEL': 'Created from',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true,
      'inputClasses': [
        'js-datepicker'
      ],
      'data': {
        'datepicker-id': 'orderCreatedFrom'
      },
      'NAME': 'Search[date_from]',
      'VALUE': data.filters.current.date_from
    }) }}
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'text',
      'SIZE': 'm',
      'ICON_RIGHT': 'icon--calendar icon--slate-light',
      'PLACEHOLDER': 'Order created to',
      'LABEL': 'Created to',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true,
      'inputClasses': [
        'js-datepicker'
      ],
      'data': {
        'datepicker-id': 'orderCreatedTo'
      },
      'NAME': 'Search[date_to]',
      'VALUE': data.filters.current.date_to
    }) }}
  </div>

{{ listingFilters.end({
  'actions': {
    'FILTER_BUTTON': true,
    'RESET_HREF': links.ordersListing.URL ~ '?resetFilters=1',
    'EXPORT_BUTTON': true
  }
}) }}
