{% extends '_layouts/_default.twig' %}
{% import '_macros/__listing-filters.twig' as listingFilters %}
{% import '_macros/__listing-table.twig' as listingTable %}

{% block content %}
  <div class="container  [ margin-top--20 margin-bottom--30 ]">
    {% include 'ordersListingPage/_filters.twig' %}
  </div>

  <div class="container  margin-top--20">
    {{ listingTable.listingHeader({
      'TABLE_ID': 'listingTable',
      'TITLE': seo.PAGE_TITLE,
      'pagination': pagination
    }) }}
      {{ listingTable.table({
        'TABLE_ID': 'listingTable',
        'structure': [
          {
            'HEADER_CONTENT': 'Order ID',
            'thClasses': [
              'text--center',
              'text--nowrap'
            ],
            'tdClasses': [
              'text--center',
              'text--nowrap'
            ]
          },
          {
            'TYPE': 'datetime',
            'HEADER_CONTENT': 'Date/Time Created',
            'thClasses': ['text--center'],
            'tdClasses': ['text--center']
          },
          { 'HEADER_CONTENT': 'Trade Name' },
          {
            'TYPE': 'money',
            'HEADER_CONTENT': 'Amount'
          },
          {
            'HEADER_CONTENT': 'Payment Method',
            'thClasses': ['text--center'],
            'tdClasses': ['text--center']
          },
          {
            'TYPE': 'status-order',
            'HEADER_CONTENT': 'Order Status'
          },
          {
            'TYPE': 'status-payment',
            'HEADER_CONTENT': 'Payment Status'
          },
          {
            'TYPE': 'icon-actions',
            'HEADER_CONTENT': 'Actions',
            'actions': [
              {
                'classes': [],
                'HREF': links.orderView.URL ~ '/${rowId}',
                'LABEL': 'View',
                'iconClasses': [
                  'icon--white',
                  'icon--eye'
                ]
              }
            ]
          }
        ],
        'data': data.info
      }) }}
    {{ listingTable.listingFooter({
      'TABLE_ID': 'listingTable',
      'pagination': pagination
    }) }}


    {# delete icon
    {
    'classes': [],
    'HREF': links.orderDelete.URL ~ '/${rowId}',
    'LABEL': 'Delete',
    'iconClasses': [
    'icon--white',
    'icon--x',
    'icon--10'
    ],
    'CONFIRM_MSG': 'Are you sure you want to delete this order? This cannot be undone.'
    }
    #}

  </div>
{% endblock %}
