{% from '_macros/__test-icon-container.twig' import iconContainer as iconContainer %}
<!-- ########################
# 
# #Form controls icons
#
######################### -->
<a name="iconsFormControls" id="iconsFormControls" class="test-anchor"></a>
<p class="text--h3">Form controls icons</p>
<p class="margin-top--10">Order: alphabetical</p>

<div class="clearfix margin-top--10">
	{{ iconContainer({
		'ICON': 'icon--checkbox-off-danger'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--checkbox-off'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--checkbox-on'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--radio-off-danger'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--radio-off'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--radio-on'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--select-wedge'
	}) }}
</div>
