{% from '_macros/__test-icon-container.twig' import iconContainer as iconContainer %}
<!-- ########################
# 
# #Website logo as SVG
#
######################### -->
<a name="iconsLogo" id="iconsLogo" class="test-anchor"></a>
<p class="text--h3">Website logo as SVG</p>
<div class="clearfix margin-top--10">
	{{ iconContainer({
		'ICON': 'icon--website-logo',
		'ICON_SIZE': 'icon--50'
	}) }}
</div>

<div class="alert alert--warning">
As long as SVGO does not release this feature: <a href="https://github.com/svg/svgo/pull/454" target="_blank">https://github.com/svg/svgo/pull/454</a>, the logo svg file has to be manually optimised so that all styles set in <code>&lt;style&gt;</code> tag are moved to <code>style</code> attribute for each of the elements that these CSS classes describe. This is due to a weird, unexpected behaviour of IE11 on Windows 10, where more complicated SVGs using <code>&lt;style&gt;</code> display incorrectly. See also notice in <code>optimize-svgs</code> task in gulpfile.</div>
