{% from '_macros/__test-icon-container.twig' import iconContainer as iconContainer %}
<!-- ########################
# 
# #Other icons
#
######################### -->
<a name="iconsOther" id="iconsOther" class="test-anchor"></a>
<p class="text--h3">Other icons</p>
<p class="margin-top--10">Order: alphabetical</p>

<div class="clearfix margin-top--10">
	{{ iconContainer({
		'ICON': 'icon--bell',
		'ICON_PRESENTED_MODIFIER': 'icon--slate-light',
		'VARIANTS': 'slate-light'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--calendar',
		'ICON_PRESENTED_MODIFIER': 'icon--slate-light',
		'VARIANTS': 'slate-light'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--chat',
		'ICON_PRESENTED_MODIFIER': 'icon--slate-light',
		'VARIANTS': 'slate-light'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--clone',
		'ICON_PRESENTED_MODIFIER': 'icon--white',
		'VARIANTS': 'white'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--envelope',
		'ICON_PRESENTED_MODIFIER': 'icon--slate-light',
		'VARIANTS': 'slate-light, white'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--envelope-open',
		'ICON_PRESENTED_MODIFIER': 'icon--white',
		'VARIANTS': 'white'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--eye',
		'ICON_PRESENTED_MODIFIER': 'icon--white',
		'VARIANTS': 'white'
	}) }}

	{{ iconContainer({
		'ICON': 'icon--exclamation',
		'ICON_PRESENTED_MODIFIER': 'icon--quinary',
		'VARIANTS': 'quinary'
	}) }}

	{{ iconContainer({
		'ICON': 'icon--globe',
		'ICON_PRESENTED_MODIFIER': 'icon--slate-light',
		'VARIANTS': 'slate-light'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--hamburger',
		'ICON_PRESENTED_MODIFIER': 'icon--slate-light',
		'VARIANTS': 'slate-light'
	}) }}

	{{ iconContainer({
		'ICON': 'icon--i',
		'ICON_PRESENTED_MODIFIER': 'icon--senary',
		'VARIANTS': 'senary'
	}) }}

	{{ iconContainer({
		'ICON': 'icon--indent',
		'ICON_PRESENTED_MODIFIER': 'icon--slate-light',
		'VARIANTS': 'slate-light'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--list-completed',
		'ICON_PRESENTED_MODIFIER': 'icon--white',
		'VARIANTS': 'white'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--loupe',
		'ICON_PRESENTED_MODIFIER': 'icon--slate-light',
		'VARIANTS': 'slate-light'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--o-filter',
		'ICON_PRESENTED_MODIFIER': 'icon--white',
		'VARIANTS': 'white'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--o-logout',
		'ICON_PRESENTED_MODIFIER': 'icon--white',
		'VARIANTS': 'slate-light, white'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--o-plus',
		'ICON_PRESENTED_MODIFIER': 'icon--white',
		'VARIANTS': 'primary, white'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--out-i',
		'ICON_PRESENTED_MODIFIER': 'icon--slate-light',
		'VARIANTS': 'primary-dark, secondary, slate-light'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--out-question-mark',
		'ICON_PRESENTED_MODIFIER': 'icon--slate-light',
		'VARIANTS': 'slate-light'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--outdent',
		'ICON_PRESENTED_MODIFIER': 'icon--slate-light',
		'VARIANTS': 'slate, slate-light'
	}) }}

	{{ iconContainer({
		'ICON': 'icon--pencil',
		'ICON_PRESENTED_MODIFIER': 'icon--white',
		'VARIANTS': 'slate-light, white'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--phone',
		'ICON_PRESENTED_MODIFIER': 'icon--slate-light',
		'VARIANTS': 'slate-light'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--refresh',
		'ICON_PRESENTED_MODIFIER': 'icon--primary',
		'VARIANTS': 'primary, white'
	}) }}

	{{ iconContainer({
		'ICON': 'icon--test',
		'ICON_PRESENTED_MODIFIER': 'icon--primary',
		'VARIANTS': 'gray, primary, white'
	}) }}

	{{ iconContainer({
		'ICON': 'icon--tick',
		'ICON_PRESENTED_MODIFIER': 'icon--white',
		'VARIANTS': 'quaternary, white'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--triangle',
		'ICON_PRESENTED_MODIFIER': 'icon--slate-light',
		'VARIANTS': 'primary-light, slate-light, slate'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--unlock',
		'ICON_PRESENTED_MODIFIER': 'icon--slate-light',
		'VARIANTS': 'slate-light'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--user',
		'ICON_PRESENTED_MODIFIER': 'icon--slate-light',
		'VARIANTS': 'slate-light, white'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--wedge',
		'ICON_PRESENTED_MODIFIER': 'icon--slate-light',
		'VARIANTS': 'slate-light, white'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--x',
		'ICON_PRESENTED_MODIFIER': 'icon--white',
		'VARIANTS': 'slate-light, secondary, white'
	}) }}
</div>
