<!-- ########################
# 
# #Icons rotation
#
######################### -->
<a name="iconsRotation" id="iconsRotation" class="test-anchor"></a>
<p class="text--h3">Icons rotation</p>
<p class="margin-top--10">Some icons can be rotated to give them a new meaning, e.g. <code class="text--nowrap">icon--wedge</code>. You can rotate each icon in the following way:</p>

<blockquote class="test-code-example">
	<p><span class="icon icon--wedge icon--slate-light"></span> - original icon</p>
	<p class="margin-top--10"><span class="icon icon--wedge icon--slate-light icon--cw-0"></span> - reset rotated icon to default</p>
	<p class="margin-top--10"><span class="icon icon--wedge icon--slate-light icon--cw-45"></span> - rotated 45° CW</p>
	<p class="margin-top--10"><span class="icon icon--wedge icon--slate-light icon--cw-90"></span> - rotated 90° CW</p>
	<p class="margin-top--10"><span class="icon icon--wedge icon--slate-light icon--cw-135"></span> - rotated 135° CW</p>
	<p class="margin-top--10"><span class="icon icon--wedge icon--slate-light icon--cw-180"></span> - rotated 180° CW</p>
	<p class="margin-top--10"><span class="icon icon--wedge icon--slate-light icon--cw-225"></span> - rotated 225° CW</p>
	<p class="margin-top--10"><span class="icon icon--wedge icon--slate-light icon--cw-270"></span> - rotated 270° CW</p>
	<p class="margin-top--10"><span class="icon icon--wedge icon--slate-light icon--cw-315"></span> - rotated 315° CW</p>
</blockquote>

<pre class="test-code-container"><code class="html">
&lt;p&gt;&lt;span class="icon icon--wedge icon--slate-light"&gt;&lt;/span&gt; - original icon&lt;/p&gt;

&lt;p&gt;&lt;span class="icon icon--wedge icon--slate-light icon--cw-0"&gt;&lt;/span&gt; - reset rotated icon to default&lt;/p&gt;

&lt;p&gt;&lt;span class="icon icon--wedge icon--slate-light icon--cw-45"&gt;&lt;/span&gt; - rotated 45° CW&lt;/p&gt;

&lt;p&gt;&lt;span class="icon icon--wedge icon--slate-light icon--cw-90"&gt;&lt;/span&gt; - rotated 90° CW&lt;/p&gt;

&lt;p&gt;&lt;span class="icon icon--wedge icon--slate-light icon--cw-135"&gt;&lt;/span&gt; - rotated 135° CW&lt;/p&gt;

&lt;p&gt;&lt;span class="icon icon--wedge icon--slate-light icon--cw-180"&gt;&lt;/span&gt; - rotated 180° CW&lt;/p&gt;

&lt;p&gt;&lt;span class="icon icon--wedge icon--slate-light icon--cw-225"&gt;&lt;/span&gt; - rotated 225° CW&lt;/p&gt;

&lt;p&gt;&lt;span class="icon icon--wedge icon--slate-light icon--cw-270"&gt;&lt;/span&gt; - rotated 270° CW&lt;/p&gt;

&lt;p&gt;&lt;span class="icon icon--wedge icon--slate-light icon--cw-315"&gt;&lt;/span&gt; - rotated 315° CW&lt;/p&gt;

</code></pre>

<div class="alert alert--info"><strong>Important note:</strong> rotation uses CSS <code class="text--nowrap">transform</code> property. If you overwrite it for an icon in your custom stylesheet, then the icon won't be rotated. Also check the <strong>bia/icons.less</strong> file to find out how to rotate your icons in your custom stylesheets.</div>
