<!-- ########################
# 
# #Predefined icon sizes
#
######################### -->
<a name="iconsSizes" id="iconsSizes" class="test-anchor"></a>
<p class="text--h3">Predefined icon sizes</p>
<p class="margin-top--10">Predefined icon sizes are:</p>
<ul class="margin-top--10">
	<li><code>.icon--10</code></li>
	<li><code>.icon--16</code></li>
	<li><code>.icon--20</code></li>
	<li><code>.icon--25</code></li>
	<li><code>.icon--30</code></li>
	<li><code>.icon--40</code></li>
	<li><code>.icon--50</code></li>
	<li><code>.icon--70</code></li>
	<li><code>.icon--100</code></li>
</ul>
