{% from '_macros/__test-icon-container.twig' import iconContainer as iconContainer %}
<!-- ########################
# 
# #Social network icons
#
######################### -->
<a name="iconsSocial" id="iconsSocial" class="test-anchor"></a>
<p class="text--h3">Social network icons</p>
<p class="margin-top--10">Order: alphabetical</p>

<div class="clearfix margin-top--10">
	{{ iconContainer({
		'ICON': 'icon--facebook',
		'ICON_PRESENTED_MODIFIER': 'icon--white',
		'VARIANTS': 'white',
		'TILE_MODIFIER': 'bg--gray-light'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--googleplus',
		'ICON_PRESENTED_MODIFIER': 'icon--white',
		'VARIANTS': 'white',
		'TILE_MODIFIER': 'bg--gray-light'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--linkedin',
		'ICON_PRESENTED_MODIFIER': 'icon--white',
		'VARIANTS': 'white',
		'TILE_MODIFIER': 'bg--gray-light'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--twitter',
		'ICON_PRESENTED_MODIFIER': 'icon--white',
		'VARIANTS': 'white',
		'TILE_MODIFIER': 'bg--gray-light'
	}) }}
</div>
