{% from '_macros/__test-icon-container.twig' import iconContainer as iconContainer %}
<!-- ########################
# 
# #State icons
#
######################### -->
<a name="iconsState" id="iconsState" class="test-anchor"></a>
<p class="text--h3">State icons</p>
<p class="margin-top--10">These are also defined in the "other icons" section under their regular names, but you can use these helpers everywhere that "state" context matters semantically.
<p class="margin-top--10">Order: alphabetical</p>

<div class="clearfix margin-top--10">
	{{ iconContainer({
		'ICON': 'icon--state-danger'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--state-info'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--state-success'
	}) }}
	{{ iconContainer({
		'ICON': 'icon--state-warning'
	}) }}
</div>
