<!-- ########################
# 
# #Usage
#
######################### -->
<a name="iconsUsage" id="iconsUsage" class="test-anchor"></a>
<p class="text--h3">Usage</p>
<p class="margin-top--10">For usage of each icon, you can use the following pattern:</p>

<pre class="test-code-container"><code class="html">
&lt;span class="icon icon--{ icon name } icon--{ icon color variant } icon--{ icon size }"&gt;&lt;/span&gt;

</code></pre>

<p><strong>Icon size</strong> is optional, and its default is set to <code class="text--nowrap">icon--16</code>, which represents an icon which is contained within 16px bounding box.</p>
<p class="margin-top--10"><strong>Icon color variant</strong> has no effect on multi-colored icons with only `default` state, e.g. the website logo.</p>
<div class="alert alert--warning margin-top--15">Size of the element containing an icon is bigger than size of the icon itself - margins are applied because of clipping the icons by browsers. For more information on this topic check code documentation in <strong>bia/icons.less</strong> file.</div>
<div class="alert alert--info">In a situation where you need to use an icon in your stylesheet, you can use `helper icon classes`, prefixed with an underscore (`_`). For more information, see code documentation in <strong>bia/icons.less</strong> file.</div>
