<div class="margin-top--20">
  <h3 class="text--h3 text--slate">Buyer details</h3>

  <div class="row">
    <div class="col-sm-6">
      <h4 class="tt-label  margin-top--20 margin-bottom--5">Last Updated</h4>
      <p class="tt-paragraph">
        {{ data.entry.updated_date |date('F j, Y h:i A') }}
      </p>

      <h4 class="tt-label  margin-top--20 margin-bottom--5">Trade Name</h4>
      <p class="tt-paragraph">{{ data.user.trading_name }}</p>

      <h4 class="tt-label  margin-top--20 margin-bottom--5">Country</h4>
      <p class="tt-paragraph">{{ data.user_country }}</p>

      <h4 class="tt-label  margin-top--20 margin-bottom--5">City</h4>
      <p class="tt-paragraph">{{ data.user.city }}</p>
    </div>
    <div class="col-sm-6">
      <h4 class="tt-label  margin-top--20 margin-bottom--5">Contact Person</h4>
      <p class="tt-paragraph">{{ data.user.name }}</p>

      <h4 class="tt-label  margin-top--20 margin-bottom--5">Phone</h4>
      <p class="tt-paragraph"><a href="tel:{{ data.user.phone }}">{{ data.user.phone }}</a></p>

      <h4 class="tt-label  margin-top--20 margin-bottom--5">Email</h4>
      <p class="tt-paragraph"><a href="mailto:{{ data.user.email }}" target="_blank">{{ data.user.email }}</a></p>
    </div>
  </div>

</div>

<div class="text--center  margin-top--30">
  <button class="[ btn btn--m btn--secondary btn--outline ]  [ text--bold text--uppercase ]  js-md-close"><span class="icon icon--secondary icon--x icon--10"></span><span>Close</span></button>
</div>
