<div class="margin-top--20">
  <h3 class="text--h3 text--slate">Message details</h3>

  <div class="row">
    <div class="col-sm-6">
      <h4 class="tt-label  margin-top--20 margin-bottom--5">Date/Time Created</h4>
      <p class="tt-paragraph">
        {{ data.message.created_date|date('F j, Y h:i A') }}
      </p>

      <h4 class="tt-label  margin-top--20 margin-bottom--5">Trade Name</h4>
      <p class="tt-paragraph">{{ data.user.trading_name }}</p>

      <h4 class="tt-label  margin-top--20 margin-bottom--5">Brand Name</h4>
      <p class="tt-paragraph">{{ data.brand.title }}</p>
    </div>
    <div class="col-sm-6">
      <h4 class="tt-label  margin-top--20 margin-bottom--5">Contact Person</h4>
      <p class="tt-paragraph">{{ data.message.name }}</p>

      <h4 class="tt-label  margin-top--20 margin-bottom--5">Phone</h4>
      <p class="tt-paragraph"><a href="tel:{{ data.message.phone }}">{{ data.message.phone }}</a></p>

      <h4 class="tt-label  margin-top--20 margin-bottom--5">Email</h4>
      <p class="tt-paragraph"><a href="mailto:{{ data.message.email }}" target="_blank">{{ data.message.email }}</a></p>
    </div>
  </div>

  <h4 class="tt-label  margin-top--20 margin-bottom--5">Message</h4>
  <p class="tt-paragraph">{{ data.message.message|nl2br }}</p>
</div>

<div class="text--center  margin-top--30">
  <button class="[ btn btn--m btn--secondary btn--outline ]  [ text--bold text--uppercase ]  js-md-close"><span class="icon icon--secondary icon--x icon--10"></span><span>Close</span></button>
</div>
