{% import '_macros/__forms.twig' as forms %}
{% import '_macros/__listing-table.twig' as listingTable %}
{{ forms.start({
  'AUTOCOMPLETE': 'off',
  'classes': [
    'js-form',
    'js-form-show-error-backend',
    'js-form-show-success-always',
    'js-form-hide-success',
    'js-form-hide-error'
  ],
  'data': {
    'method': 'post',
    'action': '/back_office/products/editBulkPricing/' ~ data.id_products ~ (debug ? '?debug=1'),
  }
}) }}
  <div class="margin-top--20">
    {{ listingTable.listingHeader({
      'IS_INLINE': true,
      'TABLE_ID': 'multiBuy',
      'TITLE': 'Bulk Pricing Management<br><span class="text--small text--bolder">' ~ data.title ~ '</span>'
    }) }}

      <div class="[ alert alert--success ]  margin-bottom--20  soft-hide  [ js-form-show-onsuccess js-form-hide-onerror ]">Changes saved successfully</div>
      <div class="[ alert alert--danger ]  margin-bottom--20  soft-hide  [ js-form-error-msg js-form-show-onerror js-form-hide-onsuccess ]"></div>

      {{ listingTable.table({
        'TABLE_ID': 'multiBuy',
        'structure': [
          {
            'TYPE': 'numberinput-short',
            'HEADER_CONTENT': 'Quantity'
          },
          {
            'TYPE': 'numberinput-medium',
            'HEADER_CONTENT': 'Unit Price (AED)'
          },
          {
            'TYPE': 'icon-actions',
            'HEADER_CONTENT': 'Actions',
            'actions': [
              {
                'classes': [
                  'js-clear__trigger'
                ],
                'HREF': '#',
                'LABEL': 'Clear fields in this row',
                'iconClasses': [
                  'icon--white',
                  'icon--x',
                  'icon--10'
                ]
              }
            ]
          }
        ],
        'data': [
          {
            'rowId': 1,
            'classes': [
              'js-clear'
            ],
            'data': {
              'clear-id': 'multiBuy${rowId}'
            },
            'columns': [
              {
                'NAME': 'bulk[0][min_qty]',
                'VALUE': data.bulk.0.min_qty,
                'inputClasses': ['js-clear__thing-to-clear']
              },
              {
                'NAME': 'bulk[0][price]',
                'VALUE': data.bulk.0.price,
                'inputClasses': ['js-clear__thing-to-clear']
              }
            ]
          },
          {
            'rowId': 2,
            'classes': [
              'js-clear'
            ],
            'data': {
              'clear-id': 'multiBuy2'
            },
            'columns': [
              {
                'NAME': 'bulk[1][min_qty]',
                'VALUE': data.bulk.1.min_qty,
                'inputClasses': ['js-clear__thing-to-clear']
              },
              {
                'NAME': 'bulk[1][price]',
                'VALUE': data.bulk.1.price,
                'inputClasses': ['js-clear__thing-to-clear']
              }
            ]
          }
        ]
      }) }}
    {{ listingTable.listingFooter({
      'IS_INLINE': true,
      'TABLE_ID': 'multiBuy'
    }) }}
  </div>

  <div class="text--center">
    <button class="[ btn btn--m btn--secondary btn--outline ]  [ text--bold text--uppercase ]  js-md-close"><span class="icon icon--secondary icon--x icon--10"></span><span>Close</span></button>
    <button class="[ btn btn--m btn--primary ]  [ text--bold text--uppercase ]  margin-left--15  js-form-submit"><span class="icon icon--white icon--tick"></span><span>Save changes</span></button>
  </div>
{{ forms.end({}) }}
