{% import '_macros/__forms.twig' as forms %}
{{ forms.start({
  'AUTOCOMPLETE': 'off',
  'classes': [
    'js-form',
    'js-form-show-error-backend',
    'js-form-show-success-always',
    'js-form-hide-success',
    'js-form-hide-error',
    'js-discount',
    'js-clear'
  ],
  'data': {
    'method': 'post',
    'action': '/back_office/products/editDiscount/' ~ data.id_products ~ (debug ? '?debug=1'),
    'discount-id': 'productDiscount',
    'clear-id': 'productDiscount'
  }
}) }}
  <div class="margin-top--20">
    <h3 class="[ text--h3 text--slate ]  margin-bottom--20">
      Product Discount Management<br><span class="text--small text--bolder">{{ data.title }}</span>
    </h3>

    <div class="[ alert alert--success ]  margin-bottom--20  soft-hide  [ js-form-show-onsuccess js-form-hide-onerror ]">Changes saved successfully</div>
    <div class="[ alert alert--danger ]  margin-bottom--20  soft-hide  [ js-form-error-msg js-form-show-onerror js-form-hide-onsuccess ]"></div>

    <div class="horizontal-form-group  [ width-xs--75 width-sm--75 width-md--75 width-lg--75 width-xl--75 ]  [ margin-left--auto margin-right--auto ]">
      <label class="horizontal-form-group__label">Regular Price:</label>
      <div class="form-combined-group">
        {{ forms.group({
          'TYPE': 'number',
          'SIZE': 'm',
          'GROUP_WRAPPER': 'div',
          'inputClasses': [
            'text--right',
            'js-discount__original-price'
          ],
          'IS_DISABLED': true,
          'VALUE': data.list_price
        }) }}
        <div class="form-group-addon form-group-addon--m form-group-addon--right form-group-addon--stylized">
          AED
        </div>
      </div>
    </div>

    {# <div class="horizontal-form-group  [ width-xs--75 width-sm--75 width-md--75 width-lg--75 width-xl--75 ]  [ margin-left--auto margin-right--auto ]">
      <label class="horizontal-form-group__label">Discount:</label>
      <div class="form-combined-group">
        {{ forms.group({
          'TYPE': 'number',
          'SIZE': 'm',
          'GROUP_WRAPPER': 'div',
          'inputClasses': [
            'text--right'
          ],
          'NAME': '',
          'VALUE': ''
        }) }}
        {{ forms.group({
          'TYPE': 'select',
          'SIZE': 'm',
          'GROUP_WRAPPER': 'div',
          'NAME': '',
          'options': [
            {
              'TEXT': 'AED',
              'VALUE': 'aed'
            },
            {
              'TEXT': '%',
              'VALUE': 'percent'
            }
          ]
        }) }}
      </div>
    </div> #}

    <div class="horizontal-form-group  [ width-xs--75 width-sm--75 width-md--75 width-lg--75 width-xl--75 ]  [ margin-left--auto margin-right--auto ]">
      <label class="horizontal-form-group__label">Discount:</label>
      <div class="form-combined-group">
        {{ forms.group({
          'TYPE': 'number',
          'SIZE': 'm',
          'GROUP_WRAPPER': 'div',
          'inputClasses': [
            'text--right',
            'js-discount__discount-percent',
            'js-clear__thing-to-clear'
          ],
          'NAME': 'discount',
          'VALUE': data.discount
        }) }}
        <div class="form-group-addon form-group-addon--m form-group-addon--right form-group-addon--stylized">
          %
        </div>
      </div>
    </div>

    <div class="horizontal-form-group  [ width-xs--75 width-sm--75 width-md--75 width-lg--75 width-xl--75 ]  [ margin-left--auto margin-right--auto ]">
      <label class="horizontal-form-group__label">Price After Discount:</label>
      <div class="form-combined-group">
        {{ forms.group({
          'TYPE': 'number',
          'SIZE': 'm',
          'GROUP_WRAPPER': 'div',
          'inputClasses': [
            'text--right',
            'js-discount__reduced-price'
          ],
          'IS_DISABLED': true,
          'VALUE': ''
        }) }}
        <div class="form-group-addon form-group-addon--m form-group-addon--right form-group-addon--stylized">
          AED
        </div>
      </div>
    </div>

    <div class="horizontal-form-group  [ width-xs--75 width-sm--75 width-md--75 width-lg--75 width-xl--75 ]  [ margin-left--auto margin-right--auto ]">
      <label class="horizontal-form-group__label">Discount Expiration:</label>
      {{ forms.group({
        'TYPE': 'text',
        'SIZE': 'm',
        'GROUP_WRAPPER': 'div',
        'ICON_RIGHT': 'icon--calendar icon--slate-light',
        'inputClasses': [
          'js-datepicker',
          'js-clear__thing-to-clear'
        ],
        'data': {
          'datepicker-id': 'discountExpiration',
          'datepicker-min': 'now'|date('r')
        },
        'NAME': 'discount_expiration',
        'VALUE': data.discount_expiration ? data.discount_expiration|date('d/m/Y') : ''
      }) }}
    </div>
  </div>

  <div class="text--center  margin-top--5">
    <button class="[ btn btn--m btn--slate-light ]  [ text--bold text--uppercase ]  [ js-clear__trigger js-discount__recalculate-trigger ]"><span class="icon icon--white icon--o-plus icon--cw-45"></span><span>Clear discount</span></button>
  </div>

  <div class="text--center  margin-top--25">
    <button class="[ btn btn--m btn--secondary btn--outline ]  [ text--bold text--uppercase ]  js-md-close"><span class="icon icon--secondary icon--x icon--10"></span><span>Close</span></button>
    <button class="[ btn btn--m btn--primary ]  [ text--bold text--uppercase ]  margin-left--15  js-form-submit"><span class="icon icon--white icon--tick"></span><span>Save changes</span></button>
  </div>
{{ forms.end({}) }}
