{% import '_macros/__forms.twig' as forms %}
{{ forms.start({
  'AUTOCOMPLETE': 'off',
  'classes': [
    'js-form',
    'js-form-show-error-backend',
    'js-form-show-success-always',
    'js-form-hide-success',
    'js-form-hide-error'
  ],
  'data': {
    'method': 'post',
    'action': '/back_office/products/editStockStatus/' ~ data.id_products ~ (debug ? '?debug=1'),
  }
}) }}
  <div class="margin-top--20">
    <h3 class="[ text--h3 text--slate ]  margin-bottom--20">
      Product Stock<br>
    </h3>

    <div class="[ alert alert--success ]  margin-bottom--20  soft-hide  [ js-form-show-onsuccess js-form-hide-onerror ]">Changes saved successfully</div>
    <div class="[ alert alert--danger ]  margin-bottom--20  soft-hide  [ js-form-error-msg js-form-show-onerror js-form-hide-onsuccess ]"></div>

    <div class="horizontal-form-group  [ width-xs--75 width-sm--75 width-md--75 width-lg--75 width-xl--75 ]  [ margin-left--auto margin-right--auto ]">
    {{ forms.group({
      'TYPE': 'radio',
      'SIZE': 'm',
      'PLACEHOLDER': 'In Stock',
      'NAME': 'stock_status',
      'VALUE': '1',
      'IS_CHECKED': data.stock_status == 1
    }) }}
    {{ forms.group({
      'TYPE': 'radio',
      'SIZE': 'm',
      'PLACEHOLDER': 'Out of Stock',
      'NAME': 'stock_status',
      'VALUE': '0',
      'IS_CHECKED': data.stock_status == 0
    }) }}
  </div>
  </div>

  <div class="text--center  margin-top--20">
    <button class="[ btn btn--m btn--secondary btn--outline ]  [ text--bold text--uppercase ]  js-md-close"><span class="icon icon--secondary icon--x icon--10"></span><span>Close</span></button>
    <button class="[ btn btn--m btn--primary ]  [ text--bold text--uppercase ]  margin-left--15  js-form-submit"><span class="icon icon--white icon--tick"></span><span>Save changes</span></button>
  </div>
{{ forms.end({}) }}