{% import '_macros/__forms.twig' as forms %}
{{ forms.start({
  'AUTOCOMPLETE': 'off',
  'classes': [
    'js-form',
    'js-form-show-error-backend',
    'js-form-show-success-always',
    'js-form-hide-success',
    'js-form-hide-error'
  ],
  'data': {
    'method': 'post',
    'action': '/back_office/products/editProperties/' ~ data.id_products ~ (debug ? '?debug=1'),
  }
}) }}
  <div class="margin-top--20">
    <h3 class="[ text--h3 text--slate ]  margin-bottom--20">
      Product Properties Management<br><span class="text--small text--bolder">{{ data.title }}</span>
    </h3>

    <div class="[ alert alert--success ]  margin-bottom--20  soft-hide  [ js-form-show-onsuccess js-form-hide-onerror ]">Changes saved successfully</div>
    <div class="[ alert alert--danger ]  margin-bottom--20  soft-hide  [ js-form-error-msg js-form-show-onerror js-form-hide-onsuccess ]"></div>

    {{ forms.group({
      'TYPE': 'radio',
      'SIZE': 'm',
      'PLACEHOLDER': 'Not Set',
      'NAME': 'setas',
      'VALUE': '',
      'IS_CHECKED': data.set_as_new==0 and data.set_as_special==0 and data.set_as_clearance==0 and data.set_as_soon==0
    }) }}
    {{ forms.group({
      'TYPE': 'radio',
      'SIZE': 'm',
      'PLACEHOLDER': 'Set as New Arrival',
      'NAME': 'setas',
      'VALUE': 'set_as_new',
      'IS_CHECKED': data.set_as_new == 1
    }) }}
    {{ forms.group({
      'TYPE': 'radio',
      'SIZE': 'm',
      'PLACEHOLDER': 'Set as Offer',
      'NAME': 'setas',
      'VALUE': 'set_as_special',
      'IS_CHECKED': data.set_as_special == 1
    }) }}
    {{ forms.group({
      'TYPE': 'radio',
      'SIZE': 'm',
      'PLACEHOLDER': 'Set as Clearance',
      'NAME': 'setas',
      'VALUE': 'set_as_clearance',
      'IS_CHECKED': data.set_as_clearance == 1
    }) }}
    {{ forms.group({
      'TYPE': 'radio',
      'SIZE': 'm',
      'PLACEHOLDER': 'Set as Soon',
      'NAME': 'setas',
      'VALUE': 'set_as_soon',
      'IS_CHECKED': data.set_as_soon == 1
    }) }}
    {{ forms.group({
      'TYPE': 'radio',
      'SIZE': 'm',
      'PLACEHOLDER': 'Set as Online Exclusive Deals',
      'NAME': 'setas',
      'VALUE': 'set_as_oed',
      'IS_CHECKED': data.set_as_oed == 1
    }) }}
  </div>

  <div class="text--center  margin-top--20">
    <button class="[ btn btn--m btn--secondary btn--outline ]  [ text--bold text--uppercase ]  js-md-close"><span class="icon icon--secondary icon--x icon--10"></span><span>Close</span></button>
    <button class="[ btn btn--m btn--primary ]  [ text--bold text--uppercase ]  margin-left--15  js-form-submit"><span class="icon icon--white icon--tick"></span><span>Save changes</span></button>
  </div>
{{ forms.end({}) }}
