{% extends '_layouts/_default.twig' %}
{% import '_macros/__listing-table.twig' as listingTable %}

{% block content %}
  <div class="container  margin-top--20">
    {{ listingTable.listingHeader({
      'TABLE_ID': 'listingTable',
      'TITLE': seo.PAGE_TITLE,
      'pagination': pagination
    }) }}
      {{ listingTable.table({
        'TABLE_ID': 'listingTable',
        'structure': [
          {
            'HEADER_CONTENT': 'Brand Name',
            'thClasses': ['text--center'],
            'tdClasses': ['text--center'] 
          },
          {
            'HEADER_CONTENT': 'code',
            'thClasses': ['text--center'],
            'tdClasses': ['text--center'] 
          },
          {
            'TYPE': 'status-brand',
            'HEADER_CONTENT': 'Status'
          },
          {
            'TYPE': 'icon-actions',
            'HEADER_CONTENT': 'Actions',
            'actions': [
              {
                'classes': [],
                'HREF': links.promocodeEdit.URL ~ '/${rowId}',
                'LABEL': 'Edit',
                'iconClasses': [
                  'icon--white',
                  'icon--pencil',
                  'icon--10'
                ]
              }
            ]
          }
        ],
        'data': data.promocode
      }) }}

{#
    block deleting for now
              {
                'classes': [],
                'HREF': links.promocodeDelete.URL ~ '/${rowId}',
                'LABEL': 'delete',
                'iconClasses': [
                  'icon--white',
                  'icon--x',
                  'icon--10'
                ],
                'CONFIRM_MSG': 'Are you sure you want to delete this brand? This cannot be undone.'
              }
    #}
  </div>
{% endblock %}
