.form-search .button{
	background-color:#808080;
	color:white;
	border:1px solid #969696;
	border-radius:2px;
	}
	
.form-search .button:hover{
	background-color:#969696;
	color:white;}	
	
.form-search .button a{
	color:white;
	font-size:11px;}
	
.featured_brands_home_logo .supplier_img{
		height:auto;}
		
.smily-face-m{
	display:none !important;}
	
	
		
.featured_brands_home_logo .supplier{
			position:absolute;
			z-index:-1;
			opacity:0;
			
			visibility:hidden;
	-ms-transform: translate(0px,100px); /* IE 9 */
    -webkit-transform: translate(0px,100px); /* Chrome, Safari, Opera */
    transform: translate(0px,100px);
			
			bottom:100%;}
			
			
.featured_brands_home_logo:hover .supplier{
	visibility:visible;
	opacity:1;
	transition-delay: 0s;
	transition-duration: 1s;
	transition-property: all;
	transition-timing-function: ease;
	-ms-transform: translate(0px,0px); /* IE 9 */
    -webkit-transform: translate(0px,0px); /* Chrome, Safari, Opera */
    transform: translate(0px,0px);
	
	}
	
.featured_brand_logo_bg{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
	background-color:white;}				
			
.featured_brands_home_logos .slick-list{
	overflow:inherit;
				}
				
.featured_brands_home_logos{
	position:relative;
	z-index:1000;}
	
.earned{
	display:none !important;}					
				
.featured_brands_home_logos .supplier_blk, .featured_brands_home_logos .supplier_name, .featured_brands_home_logos .inner_supplier label, .featured_brands_home_logos .featured_brands_home_logo a img, .featured_brands_home_logos .brand_logo_bx{
	min-height:inherit;
	height:auto !important;
					}
					
.featured_brands_home_logos .supplier_blk{
	background:white;
						}
						
.featured_brands_home_logos .inner_supplier label, .supplier_blk .btn{
							font-size:10px;}
						
.featured_brands_home_logos .supplier_name{
							font-size:12px;}
	
.slick-list .item{
	cursor:default;}	
	
.form-search-txt input{
	padding:8px 10px;
	border-radius:2px;
	border:1px solid #969696;
	margin-right:45px;}
.header-top{
	float:left;
	width:100%;
	margin-top:10px;
	margin-bottom:10px;}
.header-top .logo { padding: 22px 0 0;}	
.ul-header-top li a{
	color:black;}
.currency_bx{
 margin-top: -5px;}	
.ul-header-top li{
	padding: 7px 10px;
	vertical-align:top;
	text-align:center;}
	
/*.ul-header-top .sub-dropdown{

	padding-top:5px;
	top:102% !important;
	border:none;
	-webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.75);
box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.75);
		}*/
#dropdown-3{
	position:static !important;}	
	
#dropdown-3 .brand_dropdown_ads{
	margin-top:20px;
	}		
#sub-dropdown-3{
	
	/*	-webkit-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);*/
	top:35px !important;
	border:none;
	left: -15px;
	}		
		
	#sub-dropdown-3{
		padding-top:0;}	
		
.ul-header-top .sub-dropdown li{
	padding:5px 0;}	
	
.ul-header-top li.li-header-top-mod{
	padding:0 10px;
		}	

.brand-section{
	float:left;
	width:100%;
	text-align:center;}
	
	
.inner-brand-section{
	display:inline-block;
	width:100%;
	text-align:left;
	max-width:965px;}	
		
.ul-header-top .dropdown:hover{
	background-color:#e8e8e8;}	
.menu-categories{
	float:left;
	width:100%;
	margin-bottom:15px;}	
.ul-menu-categories{
    display: table;
	background-color:white;
    table-layout: fixed;
	position:relative;
 width: 100%;
    padding-left: 0;}
	

	
.ul-menu-categories > li.dropdown, .ul-menu-categories > li .dropdown{
	padding:0 15px;}	
	
.ul-menu-categories > li{
    list-style: none;
    text-align: center;
    word-wrap: break-word;
	
    display: table-cell;
    border-left: 1px solid #FFF;
    border-top: none;	
	text-align:center;
	}	
	
.border-tp-btm{
	border-top:1px solid #8a8a8a;
	padding-top:15px;
	padding-bottom:15px;
	border-bottom:1px solid #8a8a8a;}	
	
.ul_featured_brands li a, .featured_brand_bx a{
	height:auto;
	
	line-height:15px;
	color:#333333;}
	
.featured_brand_bx a:hover{
	color:black;
	/*font-size:13px;*/
	text-decoration:underline;}		
	
.ul-menu-categories > li > a{
	font-size:12px;
	display:inline-block;
	padding:10px 0;
	position:relative;
	/*text-transform:uppercase;*/
	color: #333333;}
	
.ul-menu-categories > li:hover > a{
	/*background-color:white;*/
	color:black;}	
/*	
.ul-menu-categories > li > a:hover{
	color:#d11e4d;}*/
	
.ul_featured_brands{
	width:12.5%;}		
	
.ul-header-top .sub-dropdown li{
	text-align:left;}
	
.ul-header-top .sub-dropdown li a{
	margin-left:15px;}	
	
.brand_dropdown_cont{
	width:1198px;}

.ul_featured_brands li {
	text-align:left;
	margin-top:5px;
	margin-bottom:5px;}
		
.ul_featured_brands li a{
	display:inline-block;
	text-align:center;
	margin-left:10px !important;}	
	
.featured_brands{
 padding: 10px 0;}	
 
/*.ul-menu-categories .dropdown:hover > a{
	color:#d11e4d;} */
	

.featured_brands{
	width:100%;}	
	
.brand_dropdown_ads{
	float:right;
	margin-right:1%;
	margin-left:1%;
	margin-top:20px;
	
	width: 20%;}
	
	
/*.category-sub-dropdown .brand_dropdown_ads{
	margin-top:10px;
	}	*/
.featured_brands{
	height:380px;
	}	
	
.category-sub-dropdown .categories-menu-list{
	/* height:388px;*/
	height:375px;}	
	
.form-search-txt.loader_input:after {

    top: 0px;
    right: 45px;
   }	
	 
.categories-menu-list ul{
	display:inline-block;
	margin-top:15px;
	width:100%;
	margin-bottom:15px;}
	
	 
	
.brand_dropdown_ads img{
	max-height:280px;}	
	
.dropdown.category-dropdown-menu, .category-dropdown-menu .dropdown{
	position:static;}
	
.category-dropdown-menu .dropdown{
	width:100%;
	display:inline-block;}		
.ul-menu-categories .category-dropdown-menu .dropdown > a, .ul-menu-categories > li > a{
	line-height:26px;
	white-space: nowrap;}
	
.ul-menu-categories .dropdown:hover > a{
	/*font-weight:bold;*/
	/*font-size:13px;*/
	text-decoration:underline;
	color:inherit;}		
.category-dropdown-menu > ul{
	display:inline-block;
	padding:0;
	list-style:none;
	margin:0;}	
.ul-menu-categories .dropdown .sub-dropdown{
	background:white;
	}	
.dropdown .sub-dropdown.category-sub-dropdown{
	background-color:white;
	/*border:none;*/
	text-align:left;
	
/*	-webkit-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);*/
border-bottom:1px solid #e8e8e8;
	padding:0;
	padding-top:5px;
	top:35px;}	
	
.category-dropdown-menu  ul li{
	display:inline-block;
	 width:14.3%;
	 margin:0px 1%;
	 /*margin-top:5px;*/
	 vertical-align:top;
	 padding-top:10px;
	 padding-bottom:10px;
	 margin-top:4px;
   }
	
		
.category-menu-img img{
	max-height:70px;}
	
.category-menu-img{
	float:left;
	width:100%;
	height:70px;}	
	
.category-menu-title{
	float:left;
	width:100%;
	margin-top:5px;
	text-align:center;}
	
.categories-menu-list.full-row{
	width:100%;}
	
.categories-menu-list.full-row ul li{
	width:10%;
	}	
/*.ul-menu-categories > li:hover > a:after{
	display:block;}	*/
.ul-menu-categories > li > a:after{
	position:absolute;
	bottom:0;
	left:0;
	display:none;
	width:100%;
	background:url(../img/menudropdown-arrow.png) no-repeat center center;
	height:10px;
	content:"";}
	
.new_banner{
	float:left;
	width:100%;
	}	
	
.banImg{
	float:left;
	width:100%;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;}	
	
.banMeeting{
	float:right;
	position:relative;

	z-index:1000;
	width:18%;}
	
.n-brand .banImg{
	width:100%;}	
	
.menu-categories-bottom{
	margin-top:5px;}	
.menu-categories-bottom ul{
    display: table;
	background-color:#fafafa;
    table-layout: fixed;
	position:relative;
 width: 100%;
    padding-left: 0;}
	
.menu-categories-bottom  li{
    list-style: none;
    text-align: center;
    word-wrap: break-word;

	height:68px;
	position:relative;
    display: table-cell;
    border-left: 1px solid #FFF;
 	border-top: none;	
	text-align:left;
	}
	
.inner-menu-categories-btm{
	position:absolute;
	top:0;
	left:1%;
	
	width:99%;
	height:100%;
	background-color:white;
	background-size:cover;
	background-position:center center;
-webkit-box-shadow: 0px 0px 3px 0.1px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 0px 3px 0.1px rgba(0,0,0,0.39);
box-shadow: 0px 0px 3px 0.1px rgba(0,0,0,0.39);}

.menu-categories-btm-content{
	position:absolute;
	bottom:0;
	/*width:98%;*/
	width:100%;
	height:100%;
	left:0;
	padding:0 1%;
	font-size:14px;
	font-weight:600;
	text-transform:uppercase;
	background-color:rgba(255,255,255,0.8);
}	
	
.featured_brands_home_logo .brand-logo{
	position:relative;
	z-index:100;
	}
	
.featured_brands_home_logo .brand-logo:after{
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	visibility:hidden;
	width:100%;
	height:100%;
	content:"";
	background-color:rgba(255,255,255,1);}
	

	
/*	
.featured_brands_home_logo .brand-logo:hover img{
opacity:0.5;	}*/	
	
.slider_exceed_width{
	float:left;
	margin-left:-10px;
    width: -webkit-calc(100% + 20px);
    width: -moz-calc(100% + 20px);
    width: calc(100% + 20px);}			
.menu-categories-btm-content, .featured_brands_home_logo .brand-logo img, .category-menu-img img, .addImgEffect img{
	/*transform: scale(1, 1); */
	
	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: ease;
	
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease;
	
	-moz-transition-delay: 0s;
	-moz-transition-duration: 0.4s;
	-moz-transition-property: all;
	-moz-transition-timing-function: ease;
	
	-ms-transition-delay: 0s;
	-ms-transition-duration: 0.4s;
	-ms-transition-property: all;
	-ms-transition-timing-function: ease;	
	
	-o-transition-delay: 0s;
	-o-transition-duration: 0.4s;
	-o-transition-property: all;
	-o-transition-timing-function: ease;
}	
	
.inner-menu-categories-btm:hover .menu-categories-btm-content{
	height:20px;
	font-size:13px;
	color:black;
	}	
	
.ads_step{
	float:left;
	width:100%;
	/*background-image:url(../img/ads-step.jpg) ;*/
	background-repeat:no-repeat; 
	background-position:center center;
	margin-top:25px;
	height:305px;}

.footer-blk #NewsLetterForm .form-item.small-margin {
	margin-bottom: 2px;
}

.footer-blk #NewsLetterForm .form-item.bordered  {
	position:relative;
	border: 1px solid #afafb6;
	border-radius: 5px;
    overflow: hidden;

}

.footer-blk #NewsLetterForm .textbox {
	color:#969696;
	border:none;
	margin-bottom:0;
	font-size:12px;
	padding:8px 7px;
	}	
	
.footer-blk #NewsLetterForm .btn {
	font-size:11px;
	font-weight:600;
	background-color:#969696;
	color:white;
	border:none;
	width: 100%;
}
	
.footer-blk .buttons-set{
		margin-bottom:0;}	
	
.footer-blk #NewsLetterForm .btn:hover{
	background:#333;}		
	
.instagram-widgets{
	float:left;
	width:22%;}			

.footer .middleSide{
	margin-left:0;
	width:100%;}
	
.addImgEffect:hover img, .category-dropdown-menu  ul li:hover{
    /*-webkit-transform: scale(1.2,1.2) rotate(5deg);
    -moz-transform: scale(1.2,1.2) rotate(5deg);
    -ms-transform: scale(1.2,1.2) rotate(5deg);
    -o-transform: scale(1.2,1.2) rotate(5deg);
    transform: scale(1.2,1.2) rotate(5deg);*/
	-webkit-transform: scale(1.05,1.05);
    -moz-transform: scale(1.05,1.05);
    -ms-transform: scale(1.05,1.05);
    -o-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
	position:relative;
	z-index:100;
}	

.category-dropdown-menu  ul li:hover a{
	/*font-weight:600;*/
	color:black;}

.supplier{
	float:left;
	width:100%;
	}
	
.supplier_cont{
	width:100%;
	float:right;
	max-width:215px;}	
	
.advertsiement-slider{
	float:left;
	max-height:290px;
	overflow:hidden;
	width: -webkit-calc(82% - 252px);
    width: -moz-calc(82%  - 252px);
    width: calc(82%  - 252px);}
	
.s-brand-section .advertsiement-slider {
    width: -webkit-calc(100% - 252px);
    width: -moz-calc(100% - 252px);
    width: calc(100% - 456px);
    margin-left: 228px;
}

.page_brands{
	overflow-x:hidden;}
		
.advertsiement-slider.mod{
		width: -webkit-calc(100%);
    width: -moz-calc(100%);
    width: calc(100%);}	
	.supplier_blk{
		min-height:290px;}
		
	.supplier_video{
		margin-top:10px;}	
		

		
.innerContent.account-register-mod{
	width:80%;
	margin:0 10%;}	
	
.account-register-mod .opc-step .new-users{
	    padding: 15px 0;
	}	
	
.ads_step .innerItem{
	height:305px;
	float:left;
	width:100%;
	}	
.new-header-ul .dropdown{
	position:relative;
	z-index:5000;}	
.new-header-ul .dropdown .sub-dropdown{
	background-color:#d11e4d;
	padding-top:10px;
	}	
	
.new-header-ul .dropdown .sub-dropdown li a{
	color:white;}	
	
.new-header-ul .dropdown .sub-dropdown li a:hover, .new-header-ul .dropdown .sub-dropdown li a.active{
	color:black;}
.booking-home-ul-li{
	 width: 22%;
	 	transition-delay: 0s;
	transition-duration: 1s;
	
	transition-property: all;
	transition-timing-function: ease;
	text-align:center;}	
.booking-home-ul-li .booking-head{
	background-color:#2ba6df;
	height:128px;
	width:128px;
	display:inline-block;
	border-radius:100%;
	font-weight:bold;
	}	
	
.dropdown_mod .featured_brands{
	width:100%;}	
	
.dropdown_mod .ul_featured_brands{
		width:16.5%;}
	
.booking-head .booking_num{
	color:#1a2c41;
	font-size:36px;
}

.booking-head h4{
	color:#fafafa;}
	
.booking-home-content {
    font-size: 20px;
    color: #1a2c41;
	font-weight:600;
	margin-top:5px;
	font-family: 'Roboto', sans-serif;
}

.booking_arrow{
	width:16%;
	height:100px;
	background-position:top center;
	background-repeat:no-repeat;
	background-image:url(../img/arrow_booking.png);
	display:inline-block;}	
	
				
.booking-home-ul .booking_arrow.bottom{
	     transform: rotateX(-173deg);
	}
	
.booking-home-ul-li:hover{
	transform: scale(1.1, 1.1);}
	
/*//////////SUPPLIERS///////////*/
.suppliers{
	float:left;
	width:100%;
	margin-top:15px;}
	
	
.supplier_bx{
	display:inline-block;
	width:18.1%;
	margin:0 1%;
	vertical-align:top;
	margin-bottom:30px;
	}
	
.suppliers .supplier_bx:nth-of-type(5n+1){
	margin-left:0;}
	
.suppliers .supplier_bx:nth-of-type(5n+5){
	margin-right:0;}	
	
.inner_supplier_bx{
	display:inline-block;
	width:100%;
	border:1px solid #cccccc;}
	
.supplier_brands{
	display:inline-block;
	min-height:135px;
	overflow:hidden;
	width:100%;}
.supplier_brands.auto_height{
	height:auto;}	
.supplier_brands > ul{
	display:inline-block;
	margin:0;
	padding:0;
	width:100%;}
	

.supplier_brands > ul > li.hide_brand{
	opacity:0;
	display:none;
	visibility:hidden;}
	
.supplier_brands.auto_height > ul > li.hide_brand{
	opacity:1;
		display:inline-block;
	visibility:visible;}		
.supplier_brands > ul > li{
	display:inline-block;
	border-top:1px solid #cccccc;
	
	
	text-align:center;
	width:100%;}
	
.supplier_brands > ul > li.hide{
	opacity:0;
	visibility:hidden;}	
	
.supplier_bx.mod .supplier_brands > ul > li:last-child{
	border-bottom:1px solid #cccccc;}	
	
	
.supplier_brands > ul > li > a{
	display:inline-block;
	color:#929292;
	width:100%;
	padding:8px 0;
	font-size:14px;}
	
.supplier_brands > ul > li.show_more > a{
	color:#d11e4d;}
	
.supplier_brands ul > li.show_more > a:hover{
	font-weight:600;}	
	
.supplier_brands > ul > li:hover > a{
	background-color:#d11e4d;;
	color:white;}	
.supplier_brands > ul > li.hide_brand.show_more{
	display: block;
    opacity: 1;
    visibility: visible;
	}
.supplier_brands.auto_height > ul > li.show_more{
	display:none;}
li.show_more.show_less{
	display:none;}
.supplier_brands.auto_height > ul > li.show_more.show_less{
	display:block;}	
	
.supplier_logo{
	display:inline-block;
	width:100%;
	overflow:hidden;
	height:160px;
	}
	
.supplier_logo img{
	max-height:160px;
	max-width:100%;}
	
.sub_categories_brand{
	float:left;
	width:100%;
	display:none;
	text-align:center;}
	
.sub_categories_brand{
	display:none;
	padding:0;
	text-align:center;
	list-style:none;
	margin:0;
	padding:5px 0;
	width:100%;}
	
.sub_categories_brand ul li{
	display:inline-block;
	width:100%;}	
	
.sub_categories_brand  li a{
	color:#333333;
	display:inline-block;
	padding:2px 0;
	font-size:12px;}
	
.sub_categories_brand  li a:hover{
	color:#d11e4d;}
	
.inner-brand-section{
	max-width:100%;}
	
.inner-brand-section .supplier_bx{
	float:left;
	margin-left:0;}
	
.inner-brand-section .supplier_logo{
	    height: 146px;	}
		
		.supplier_blk .btn{
			width:100%;
			border:none;
			padding:6px 0 !important;
			display:inline-block;
			margin-top: 2px;
			color:white;
			font-size:14px;
			position:relative;
			/*background-color:#d11e4d;*/
			background-color:#d11e4d;
			border-top:1px solid #d11e4d;
			border-bottom:1px solid #d11e4d;
			vertical-align:bottom;
			padding:0;}
.supplier_blk .btn:hover{
			background-color:#e37894;
			border-top:1px solid #e37894;
			border-bottom:1px solid #e37894;
}
.brand_logo_bx{
	margin-bottom:5px;}			
			
.supplier_blk .btn.supplier_phone{
			background-color:white;
			color:#d11e4d;

			overflow:hidden;}	
			
	.supplier_phone.phone_show .call_supplier{
		transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: ease;
		 transform: translateY(-102%);}			
.supplier_blk .supplier_phone.phone_show{
		border-top:1px solid #d3d3d3;
			border-bottom:1px solid #d3d3d3;}	
		.supplier_blk{
			padding-left:0;
			padding-right:0;
			padding-bottom:0;}
			
		.call_supplier{
			position:absolute;
			top:0;
			border:1px solid #d11e4d; 
			width:100%;
			height:100%;
			padding:6px 0 !important;
			/*background-color:#d11e4d;*/
			background-color:#d11e4d;
			color:white;
			left:0;}
.call_supplier:hover{
			background-color:#e37894;
			border-top:1px solid #e37894;
			border-bottom:1px solid #e37894;
}
.close_meeting{
	margin-top:7px;}
	
.login_register{
	border:1px solid #b7b7b7;
	background-color:white;
	padding:10px 20px;
	padding-bottom:30px;
	text-align:left;}
	
.login_register .users-lbl, .login_register .forget_pass, .login_register .btn, .login_register .form-item label{
	font-style:normal;
		}
		
.login_register .forget_pass{
	margin-top:10px;
	display:inline-block;}		
.login_register .form-item label{
	text-align:left;}
	
.login_register .textbox{
	text-align:left;}
	
.login_register .close{
	 margin-top: -50px;}
	 
.featured_brands_home_logo .supplier_blk .btn, .featured_brands_home_logo .call_supplier{
	padding:3px 0 !important;
    margin-right:-30px;
}	
	
.featured_brands_home_logos .supplier_name{
	font-size:12px;
	color:#a1a1a4;
	margin-bottom:5px;}
	
.item-no .lbl_t, .item-no span{
	font-size:14px;
	color:#363636;
	margin-bottom:5px;
	}
.products_details_2 label{
	color:#363636;
	font-family: 'Roboto', sans-serif;
	font-size:18px;
	font-weight:600;}
	
.products_details_2 .price{
		font-size:20px;
		display:inline-block;
		margin-top:-2px;}
.retail_price_details{
    float: left;
    font-size: 14px;
    color: #ababab;
    margin-top: 0px;
    margin-bottom: 14px;
	}
	
.content_details_left{
	float:left;
	width:45%;}
	
.product_details_btns{
	float:right;
	width: -webkit-calc(100% - 70px);
    width: -moz-calc(100% - 70px);
    width: calc(100% - 70px);}
	
ul.tabs{ margin-top: 25px;}

			
	
		
	
.products_details_1 label{
	color:#353535;
	font-size:20px;
	margin-bottom:5px;}
	
.action-products-details .btn-cart{
width:100%;

	text-align:center;
	padding:7px 0;
	font-size:18px;
	margin:0;
	float:right;
	text-transform:uppercase;
	}				 																						
	
	
.product_details_btns .stock_list{
	margin-top:5px;
	width:100%;}
	
.product_details_btns .add_to_cart_btn{
	background-color:#d11e4d;
	color:white;
	border:1px solid #d11e4d;
		width: -webkit-calc(100% - 2px);
    width: -moz-calc(100% - 2px);
    width: calc(100% - 2px);
		}
		
.product_details_btns .btn-cart:hover{
			color:white;}
		
.product_details_btns .add_to_cart_btn:hover{
	background-color:white;
	color:#d11e4d;}	
	
.content_details_left .textbox.qty-txt, .content_details_left .textbox.qty{
	line-height:29px;
	width: 60px !important;
    height: 36px!important;
	font-size: 18px;}
	
	
.supplier_product_bx.supplier_blk{
	float:right;
	min-height:auto;
	max-width:230px;
	width:40%;}
	
.supplier_product_bx .supplier_product_img{
	padding:0;}
	
.inner_supplier .supplier_blk .btn.supplier_phone {
	border-bottom:none;
		}	
.supplier_cont .supplier_blk .row{
    margin-left: 0;
}
.supplier_product_bx.supplier_blk{
	padding-top:0;
		}
		
.supplier_product_bx .supplier_product_img img{
	max-height:190px;
	max-width: 100%;
}
	
.deliver_day{
	margin-top:11px;}
	
.delivery_cart .supplier_info ul li{
	line-height:1.1;
	margin:0;
		font-size:12px;}	
		
.delivery_cart img, .phone_cart img{
	max-width:90%;}		
	
.supplier_product_bx .meeting_request{
	 width: -webkit-calc(100% + 2px);
    width: -moz-calc(100% + 2px);
    width: calc(100% + 2px);
	left:-1px;}	
	
.supplier_product_img{
	float:left;
	width:100%;
	overflow:hidden;
	padding:20px 0;
	text-align:center;}
.supplier_info{
	padding:0 10px;}	
.supplier_info ul{
	padding:0;
	margin:0;
	margin-bottom:15px;
	list-style:none;
	display:inline-block;}
	
.supplier_info ul li{
	display:inline-block;
	width:100%;
	margin:1px 0;
	list-style:none;}
	
.supplier_product_bx .btn{
	text-align:center;}
	
.cart_deliver_by{
	border-radius:0;
	padding:2px 20px;
	font-size:18px;
	
	text-align:left;}
		
.supplier_support{
	float: right;
    top: 4px;
    position: relative;
	}
	
.cart_deliver_by label{
	line-height:43px;
	display:inline-block;}	
	
.phone_cart{
	display:inline-block;
	vertical-align:top;}
	
.phone_cart img{
	top: -11px;
    position: relative;
   }
.delivery_cart{
	padding-left:30px;
	display:inline-block;
	position:relative;
	z-index:100;
	vertical-align:top;}
	
.delivery_cart_options .supplier_info ul li{
	color:#aaaaaa;
	cursor:default;}	
	
.btn.send_all{
	background-color:#d11e4d;
	color:white;
	padding:9px 10px;
	padding-left:38px;
	font-weight:600;
	background-image:url(../img/icons/checkout_icon.png);
	background-repeat:no-repeat;
	background-position:10px center;
}

.btn.send_all:hover{
	background-color:#CCC;
	border:1px solid #CCC; }
	
.total_supplier_price{
	float:right;
	font-size:16px;
	padding-top:10px;
	padding-bottom:5px;
	color:#433e3e;
	text-transform:uppercase;}
	
.phone_cart_num{
    display: inline-block;
    color: white;
    /*background-color: white;*/
  
    margin-left: 6px;
   top: -3px;
	width:0;
	visibility:hidden;
	overflow:hidden;
		transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: ease;
	text-align:center;

    position: relative;}
	
.phone_cart_num a{
	display:inline-block;
	 padding: 4px 0;
	 cursor:default;
	 color:white;
	
	 text-align:left;
	 float:left;
		white-space: nowrap;}
	
.phone_cart:hover .phone_cart_num{
   
	visibility:visible;
	width:180px;
}

.delivery_cart_options{
      position: absolute;
    top: 42px;
    right: -21px;
    border: 1px solid #d11e4d;
    min-width: 300px;
    padding: 5px 20px;
    background-color: white;
	opacity:0;
	visibility:hidden;
			transition-delay: 0s;
	transition-duration: 1s;
	transition-property: all;
	transition-timing-function: ease;
	transform: translateY(30px);
	}

.delivery_cart:hover .delivery_cart_options{
	transform: translateY(0px);
	opacity:1;
	visibility:visible;}

.delivery_cart_options:after{
    position: absolute;
    top: -13px;
    right: 19px;
    width: 55px;
    height: 50px;
    content: "";
    background: url(../img/arrow_delivery_top.png) no-repeat top center;}	
	
	
.supplier_cont .supplier_blk .btn, .supplier_cont .call_supplier{
	padding:3px 0 !important;
	}
	
.supplier_cont .supplier_img{
		    height: 114px;}
	
.supplier_cont .supplier_blk{
	padding-top:10px;}	
		
.g-recaptcha div {
	margin: auto auto;
}

								