@import url(https://fonts.googleapis.com/css?family=Roboto);
ul{
	 padding:0;} 
  
body{
	width      : 100%;  
	margin     : 0px; 
	padding    : 0px;
	color:#000000;
	font-size:12px;
	font-family: 'Roboto', sans-serif;
}
img{
	max-width:100%;
	}

ul, ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}	
a{ 
   text-decoration:none; 
   color       :#333333;
   cursor:pointer;
}

.			
/*///////////////////////////////////////////////DROPDOWN///////////////////////////////*/
.dropdown{
	position:relative;}	
	
.no-pointer{
	cursor:default !important;}	
	
.mainMenu .sub-dropdown{
    display: none;
    left: 0;
    padding: 0;
    position: absolute;
    top: 35px;
    /*width: 240px;*/
	width:99%;
	min-width: 125px;
    z-index: 1000;
	background:#404040;
}

.mainMenu .sub-dropdown#sub-dropdown-3{
	top:36px;
	}
.mainMenu .sub-dropdown li{
	margin:0;
	}

.mainMenu .sub-dropdown#sub-dropdown-3{
	width:auto;}		
.mainMenu .sub-dropdown li.dropdown-li a{
	margin-left:0 !important;
	/*padding-left:0 !important;*/
	color:#404040 !important;
	padding:6px 10px !important;
	
	width:100%;
	}	
	
.mainMenu .sub-dropdown li.dropdown-li a.active{
/*	color:#484848 !important;
	background:#e8e8e8;*/

	background:#D8D8D8;
	color:white !important;}	
	
.ul_mainMenu.mod .sub-dropdown li.dropdown-li:first-child{

	margin-left:0;
	}	
.mainMenu .sub-dropdown li.dropdown-li a:hover{
	/*color:#a0d9f4 !important;*/
	/*color:#404040 ;*/
	color:white !important;
	/*background:#e8e8e8;*/
	background:#D8D8D8;}	
	
.mainMenu .sub-dropdown li.dropdown-li{
	padding:0;
	}	
.dropdown-li{
	flaot:left;
	width:100%;
	}
	
.ul_mainMenu li .dropdown-li a, .ul_mainMenu li .dropdown-li:first-child a{
	float:left;
	padding:6px 10px;
	
	color:white;
	border-bottom:none;
	}
	
.border-dropdown-top{
	position:absolute;
	top:0;
	left:0;
	height:1px;
	background:red;
	width:100%;}	
	
	
	
#loader-bx, .loader-bx{

	float:right;
	width:100%;
	text-align:center;
}
	
	
.loader {
	width:50px;
	height:30px;
	margin:5px 0;
	margin:0 5px;
	display:inline-block;
	background:url(../img/482.GIF) no-repeat center center
}

.loader{
	float:left;
	width:100%;
	height:30px;
	display:inline-block;
	background:url(../img/482.GIF) no-repeat center center
	}

.loader-miles{
	background-image:url(../img/ajax-loader.gif);
	background-position:center center;
	background-repeat:no-repeat;
}
.mainMenu .mainMenu-li-a{
	/*border: 1px solid white;*/
	padding: 0 10px;
	line-height: 31px;
	height: 31px;
	margin-left:0;
	position:relative;
	margin: 0 0 -1px 0;
	padding:0 23px;
	/*background:white;*/
	/*color:#7a7a7a;*/
	color:#afafb6;
	/*border-bottom:none !important;*/
	

	}
	
.dropdown:hover .mainMenu-li-a{
	z-index:1500;
	/*border: 1px solid #81dbfc;*/
    float: left;
	overflow: hidden;
    position: relative;
	color:#404040 ;
	/*background:#f6f6f6;*/
	background:#e8e8e8;
}
	
.dropdown .sub-dropdown{
	 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    /*background: #fff none repeat scroll 0 0;*/
	
/*    border-color: #81dbfc #81dbfc #81dbfc;
    border-image: none;
    border-style: solid solid solid;
    border-width: 1px 1px 1px;*/
	/*background:#f6f6f6;*/
	background:#e8e8e8;
    clear: both;
    float: left;
	width:100%;
	/*padding:4px 0;*/
 }
 
 .featured_brands{
	 background:#e8e8e8;
	 }
 

 
/*//////////////////////////////////////////////////MESSAGES\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.messages {
    margin: 0 0 10px;
    overflow: hidden;
	float:left;
	width:100%;

}
.messages, .messages ul {
    list-style: outside none none !important;
    margin: 0;
    padding: 0;
}

.success-msg {
    background-color: #e9ffca;
    background-image: url("../img/i_msg-success.png");
    border-color: #296a23;
    color: #296a23;
}

.error-msg {
    background-color: #f5dad3;
    background-image: url("../img/i_msg-error.png");
    border-color: #c02230;
    color: #c02230;
}

.error-msg, .success-msg, .note-msg, .notice-msg {
    background-position: 25px center !important;
    background-repeat: no-repeat !important;
    font-size: 12px !important;
    padding: 25px 25px 25px 80px !important;
	margin:15px 0;
	text-align:left;
}

.note-msg, .notice-msg {
    background-color: #fdeda4;
    background-image: url("../img/i_msg-note.png");
    border-color: #7c622a;
    color: #7c622a;
}



<!--//////////////////////////////////////////HEADER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
.header{
	float      : left;
	width      : 100%;
}

.featured_brands{
	float:left;
	padding:5px 10px;
	width:100%;}	
.brand_dropdown_slick .item{
	text-align:center;}	
.brand_dropdown_slick .item  .border{
	height:50px;
	width:2px;
	display:none;
	background:#404040;
	float:left;
	margin-top:5px;
	}
	
		
	
.innerFeaturedBrands{
	float:left;
	width:100%;
	padding:2px 0;
	/*border-bottom:2px solid #e4e4e4;*/
	}	
	
.innerFeaturedBrands .featured_brand_bx{
	width:12.5%;
	display:inline-block;
	text-align:center;
	vertical-align:top;
	}	
.ul_featured_brands{
	float:left;
	width:12.4%;
	padding:0;
	margin:0;
	width:16.6%;
	/*border-right:1px solid #e1e1e1;*/}
	
.featured_brands  .ul_featured_brands:last-child{
	border-right:0;}
.featured_brands a{
	width:100%;
	padding:5px 0;
	}	
.ul_mainMenu .featured_brands li {
	padding:2px 0;
	}	
.ul_mainMenu .featured_brands li a{
	font-size:12px;
	text-align:left;
	padding-left:5px;
	}	
.featured_brands a:hover{
	/*background:#e8e8e8 !important;color:#404040 !important;*/
	background:#D8D8D8 !important;color:white !important;}	
#sub-dropdown-3{
	padding-bottom:0;}		
#sub-dropdown-3 .brand_dropdown_cont{
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
	padding-top:0;
	}	
	

.ul_featured_brands li{
	float:left;
	width:100%;
	/*padding-left:8px !important;*/
	text-align:center;
	/*border-top:1px solid #e1e1e1;*/ }	
	
.ul_featured_brands li a{
	margin-left:0 !important;}	

.logo{
	float:left;}
	
.header-top-right{
	float:right;
	margin-top:20px;}
	
.innerContent{
	float:left;
	/*padding:15px 0;*/
	width:100%;}		
	
.ul-header-top{
	display:block;
	list-style:none;}	
.ul-header-top li:hover ,.ul-header-top li a:hover{
	color:#a0d9f4}	
.ul-header-top li{
	padding:2px 10px;
	color:#7a7a7a;
	font-size:14px;
	display:inline-block;}
.ul-header-top li a{
	color:#7a7a7a;
	position:relative;
	}

.currency_bx:hover .currency_arrow_dwn,.currency_bx.active_currencies .currency_arrow_dwn {
	 border-color: #a0d9f4 transparent transparent;}
	
.currency_bx:hover .lbl_shdw, .currency_bx.active_currencies .lbl_shdw{
	/*border:1px solid #a0d9f4;*/
	/*border-bottom:none;*/
	background:#f6f6f6;
	color:#404040;
}

.currency_bx:hover .lbl_shdw a, .currency_bx.active_currencie .lbl_shdw a{
	color:#404040;}		
	
.currency_bx {
    float: right;

	margin-bottom: -13px;
    position: relative;
}

.currency_bx:hover .currencies, .currency_bx.active_currencies .currencies{
	display:block;}
	
/*.currency_bx:hover .lbl_shdw_bx, .currency_bx:hover .lbl_shdw, .currency_bx:hover .current_currency{
	background:white;}	*/

	
		

.lbl_shdw_bx {
    box-sizing: border-box;
    float: left;
    overflow: hidden;
	/*width:70px;*/
 	position: relative;
    z-index: 4003;
}

.lbl_shdw {
    float: left;
    padding: 4px 10px;
    z-index: 4003;
	position:relative;
	background:white;
	border:1px solid white;
	border-bottom:none;
	
}
.currency_lbl {
    float: left;
    margin-right: 5px;
    margin-top: 2px;
}

.currency_txt{
	    display:inline-block;
	    top: -5px;
		font-size:11px;
		position:relative;}
	
.current_currency {
    float: left;
    padding: 3px 0 3px 2px;
    position: relative;
}
.currency_arrow_dwn {
    border-color: #888 transparent transparent;
    border-style: solid solid none;
    border-width: 4px 4px 0;
    display: inline-block;
    height: 0;
    margin-bottom: 2px;
    vertical-align: middle;
    width: 0;
}
.currencies {
  /*background-color: #fff;*/
    /*border: 1px solid #81dbfc;*/
	background-color: #f6f6f6;
    /*box-shadow: 0 0 3px -2px rgba(0, 0, 0, 0.75);*/
    display: none;
    line-height: 1.5em;
    list-style: outside none none;
    /*min-width: 40px;*/
	width:100%;
    /*padding: 10px 20px;*/
    position: absolute;
    right: 0;
    text-align: center;;
    top: 31px;
    z-index: 4002;
}

.ul_currency {
  /*float: left;*/
  display:inline-block;
    list-style: outside none none;
}	

.ul-header-top .ul_currency_li {
    margin: 3px 0;
    padding: 2px 0 2px 2px;
    white-space: nowrap;
	display:block;
}

.ul-header-top .ul_currency_li.active a{
	color:#a0d9f4;
	}

.ias-trigger-next a {
    background-color: #84ddfd;
    border: 0 none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    line-height: 26px;
		
    margin: 0;
	margin-top:10px;
    overflow: visible;
    padding: 5px 12px;
    text-align: center;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s;
    vertical-align: middle;
    white-space: nowrap;
}	

.ias-trigger-next a:hover{
	color:black;
	background:#929292;}
.glossary_section{
	float:left;
	width:100%;
	text-align:center;
	}	
	
.mainMenu  .letter_block{
	width: 85px;
	padding:1px 5px;
	display:inline-block;
	vertical-align:top;
	margin-bottom:2px;
	}	
	
.mainMenu  .letter_title{
	float:left;
	width:100%;
	text-align:center;
	background-color: #81dbfc;
	color:white;
	padding:2px 0;
	margin-bottom:5px;
	}	
.mainMenu  .ul_letters{
	position:relative;
	background:white;
	width:100%;
	float:left;
	padding:0;}	
	

.brand_dropdown_slick_cont .slick-prev, .brand_dropdown_slick_cont .slick-next {
    height: 35px;
    top: -35px;
    width: 35px;
	background-color:#999;
	background-repeat:no-repeat;
	background-position:center center;
}	

.brand_dropdown_slick_cont .slick-prev:hover, .brand_dropdown_slick_cont .slick-next:hover {
		background-color:#404040;}

.brand_dropdown_slick_cont .slick-prev {
    background-image:url("../img/arrow_slick_pages_left.png");
    right: 35px;
}

.brand_dropdown_slick_cont .slick-next {
    background-image: url("../img/arrow_slick_pages_right.png");
    right:0;

}		
	
.mainMenu  .ul_letters li{
	float:left;
	width:100%;
	text-align:center;
	padding:0;
	 line-height: 7px;
	padding:2px 0;}	
.mainMenu  .ul_letters li a{
	float:none;
	display:inline-block;
	margin-left:0;
	font-size:11px;
	color:#404040;}	
	
.mainMenu  .brand_dropdown_cont{
	/*background:white;*/
	float:left;
	width:845px;
/*-webkit-box-shadow: 0px 0px 7px 0px rgba(132,221,253,1);
-moz-box-shadow: 0px 0px 7px 0px rgba(132,221,253,1);
box-shadow: 0px 0px 7px 0px rgba(132,221,253,1);*/
	padding:15px 20px;}			
.icon{
	vertical-align:middle;
	display:inline-block;}	
.miles .product-img{
	background:#F5F5F5;
	}	
.miles_title{
	float:left;
	width:100%;
	background:#84ddfd;
	color:white;
	text-align:center;

	font-size:18px;
	display:none;

	padding:5px 0;
	}	
	
	
.currency-label{
	float:left;
	width:100%;}
.form-search-txt input {
    background: white none repeat scroll 0 0;
    border: 1px solid #e4e4e4;
    color: #b7b7b7;
    padding: 5px 35px 5px 7px;
    transition: all 0.4s ease 0s;
    width: 230px;
	font-size:12px;
}
.form-search-txt:focus input{
		background:red !important;}
.btn_voucher.active{
	pointer-events: none;
	opacity:0.7;}
.miles .product .product-title{
	font-size:18px;
	color:#25b0e5;
	}
	
.ul_mainMenu .brand_dropdown_slick a{
	display:inline-block;
	/*min-height:50px;*/
	padding:3px 2px;
	border:1px solid white;
	/*border:1px solid #f6f6f6;*/
	}	
	
.brand_dropdown_slick a:hover{
	/*border:1px solid #25b0e5 ;*/}	
	
.miles .product-description.mod{
	color:#bdbdbd !important;
		}
.miles .btn-cart{
	font-size: 18px;
    padding: 3px 8px;}
	
.miles .btn-cart .fa{
		margin-left:-3px;}
		
		
.form-search {
	display:inline-block;
	vertical-align:middle;
}	
.form-search-txt {
    position: relative;
}
.keywords::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: #CCC;
}

.keywords:-moz-placeholder { /* Firefox 18- */
  color:#CCC;
}

.keywords::-moz-placeholder { /* Firefox 19+ */
  color: #CCC;
}

.keywords:-ms-input-placeholder { /* IE 10+ */
  color: #CCC;
}

.keywords::-ms-input-placeholder { /* Edge */
  color: #CCC;
}

.keywords:placeholder-shown { /* Standard one last! */
  color:#CCC;
}			

.miles .box a{
	margin-top:5px;
	display: inline-block;
	color:#84ddfd;}
.miles .box a:hover{
	color:black;}
.form-search .button {
    background-color: #e4e4e4;
    color: white;
    font-size: 13px;
    padding: 2px 0;
    position: absolute;
    right: 0;
    top: 0;
	height:100%;
    width: 40px;
}	

.banner{
	float:left;
	width:100%;}
	
.bannerDots{
	margin-left:720px;}
	
/*.bannerDotsContent{
	float:left;
	width:25%;
}
*/
.bannerDotsContent ul{
	display:inline-block;
	padding:0;
	width:100%;
	list-style:none;}	
.bannerDotsContent ul li:first-child{
	border-top:1px solid #b9b9b9;}
.bannerDotsContent ul li{
	float:left;
	width:100%;
	text-align:center;
	border-bottom:1px solid #b9b9b9;
	border-top:1px solid #f0f0f0;}
	
.bannerDotsContent ul li a{
	float: left;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
     color: #7a7a7a;

	padding:11.4px 0 12px 40px;
	text-align:left;
	text-transform:capitalize;
    position: relative;
    width: 100%;}
	
.bannerDotsContent ul li a.active, .bannerDotsContent ul li a:hover{
	color:#a0d9f4;
	}	
	
.arrow_active_dot {
    left: -28px;
	display:none;
    position: absolute;
    top: -1px;
}

.bannerDotsContent ul li a.active .arrow_active_dot{
	display:block;}
.banner_cont{
float:left;
	width:100%;}
/*.slick_pages{
	float:left;
	width:100%;}*/	
.bannerSlickContent{
	margin-right:25%;}

.banner_cont .slick-dots{
	display:none !important;}	
	
.bannerSlickContent #banner_slick{
	width:720px;
	float:left;
	}		
.brand_dropdown_slick_cont{
	float:left;
	width:100%;
	padding:5px;
	text-align:center;
	/*background:white;*/
	border:4px solid #f6f6f6;
	border-top:none;
	background:#f6f6f6 ;
	padding-top:10px;
	/*margin-bottom:10px;*/}	
	
	
.ul_mainMenu .brand_dropdown_slick_cont  a{
	float:none !important;
	display:table-cell !important;
	border:1px solid white;
	
	}
	
.brand_dropdown_slick {
	background:white;}	
	
.ul_mainMenu .brand_dropdown_slick_cont  a:hover{
	border:1px solid #84ddfd;}		
	
.ul_mainMenu .brand_dropdown_slick_cont  a{
	opacity:0.8;}	
.brand_dropdown_slick_cont .slick-prev, .brand_dropdown_slick_cont .slick-next{
	border-radius:150px;
	width:25px;
	height:25px;
	}	
.banner_slick{
	float:left;
	width:100%;}			
.button {
    background-color: #e4e4e4;
    border: 0 none;
    color: #ffffff;
	font-size:13px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    overflow: visible;
    padding: 0 12px;
    text-align: center;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s;
    vertical-align: middle;
    white-space: nowrap;
}

#PopupContainer .centered{
	width:60%;
	}
.innerItem{
	float:left;
	width:100%;}
	
.item .innerItem{
	cursor:default;}
	
.brand_dropdown_slick .item .innerItem{
	/*border-left:2px solid #e4e4e4;*/
	border-left:3px solid #f6f6f6;
	height:92px;
	background:white;
	}
	
.brand_dropdown_slick .item:first-child .innerItem{
	border-left:none;}	
		
.box-sizing, .footer-blk, .figure, .figure_content, .products_thumb .item, .related_product .item, .step-title, .opc-step .new-users, .textarea, .textbox, .dropdown dd ul, .ul_mainMenu li .dropdown-li a, .success-result, .supplier_blk, .productsAttribuesOptions, .opc .step, .addresses-list .addresses-primary .item, .addresses-additional .item, .box-title, .inner-box-content, .letter_block, .bannerDotsContent ul li a, .brand_dropdown_slick_cont, .r-PriceSegments, .r-PriceSegments ul, .ul_featured_brands li, .dropdown-li, .testimonials_description, .inner_testimonials_description, .tab_head, .menuMobCont, .innerContent, .breadcrumbs, .featured_brands, .btn_download, .mainMenu .sub-dropdown li.dropdown-li a, .sub_category, .ul_categories li a, .ul_mainMenu .featured_brands li a, .consultants_cont .innerItem, .consultant_details, .btn-wishlist{
	 -webkit-box-sizing: border-box; / Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x /
 -moz-box-sizing: border-box;    / Firefox 1 - 28 /
 -o-box-sizing: border-box;
 box-sizing: border-box;
 }
 
 

.header_bottom{
	 margin-left: 229px;
	}
.opener{
	display:none;}	
.opener .minus {
    display: none;
    margin-top: 11px;
}

.opener .plus {
    margin-top: 11px;
}


.menuMobCont .ul_mainMenu .ul_featured_brands  li a{
	color:#6e6e6e !important;}

/*.opener:hover{
	 background-color: rgba(0, 0, 0, 0.05);}*/

	.opener {
    cursor: pointer;
    display: none;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 100%;
    max-height: 45px;
    padding: 0 15px;
	color:white;
    position: absolute;
    right: 0;
    text-transform: none;
    top: 0;
}	
.mainMenu{
	float:left;
	margin: 6px 0;
	width:100%;}	
	
.ul_mainMenu{
float:left;
    padding-left: 0;
}	

.ul_mainMenu.mod{
	float:left;
	margin-left:20px;}
	
.ul_mainMenu li{
	float:left;
	color:#404040;
	cursor:default;
	font-size:14px;
	margin:2px 4px;
	position:relative;
	 padding: 5px 0;
	 text-transform:capitalize;
	display:inline-block;
	/*margin:2px 5px;*/}	
	
.zoom-image {
    max-width: 424px;
    width: 100%;
}	
	
/*.ul_mainMenu.mod li:first-child a{
	padding-left:23px;}*/
	
/*.ul_mainMenu.mod .sub-dropdown li:first-child a{
	padding-left:10px;
	}		*/
	
.ul_mainMenu li a{
color:#404040;
display:inline-block;
margin-left:8px;
font-size:14px;
cursor:pointer;
/*border-bottom:2px solid white;*/

	}	
.ul_mainMenu li a:hover, #menuMobCont .ul_mainMenu li.active a{
	color:#a0d9f4;}	

.ul_mainMenu li a.active{
	/*color: #a0d9f4; */
	color:#404040 ;
	/*background:#f6f6f6;*/
	background:#D8D8D8;}	
.ul_mainMenu li:last-child{
	margin-right:0;}
.ul_mainMenu li:first-child a{
	margin-left:0;
	/*padding-left:10px;*/}
.ul_mainMenu.mod li:first-child {
    margin-left: 18px;
}	

.ul_mainMenu li:first-child{
	padding-left:0;
	margin-left:0;}	
	
.ul_mainMenu li.dropdown:first-child{
	margin-left:-22px;
	}	
/*.ul_mainMenu li:first-child a{
		margin-left:0;}*/
.ul_mainMenu_border_left{
	display:inline-block;
	background:#9ce1fc;
	width:1px;
	border:1px solid #bfecfd;
	position:absolute;
	top:0;
	left: -10px;
	height:100%;
	display:none;
}


.count {
 background-color: red;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    height: 18px;
    left: 10px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: -8px;
    width: 18px;
}
.checkout-h  .fa{
	color:#a0d9f4;
	font-size: 20px;}
	
	
/*//////////////////////////////////////////FOOTER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/	
.footer{
	float:left;
	width:100%;
	padding-top:20px;
	background:#efefef;
	padding-bottom:20px;}
	
#Copyright {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin-top: 55px;
    font-size: 13px;
    color: #444444;
  
    border-top: 1px solid #444444;
}	
.footerContent{
	float:left;
	width:100%;}	
.footer-blk{
	padding:2px 15px;
	display:inline-block;
	float:left;
	color:#aaaaaa;
	width:24.5%;}	
.footer-ul{
	float:left;
	width:100%;
	padding:0;
	list-style:none;
	color:#767676;
	margin:0;}	
	
.footer-ul li{
	color:#767676;
	float:left;
	margin:1px 0;
	width:100%;}	

.footer-ul li a{
	color:#aaaaaa;
	font-size:13px;
	display:inline-block;}
.footer-ul li a:hover{
	color:#a0d9f4;}	
	
.footer-blk-title{
	color:#767676;
	float:left;
	font-size:19px;
	margin-bottom:5px;
	width:100%;}

.footer-blk.first{
	padding-left:0;}	
.google-plus{
	width:1.28571em;
	height:12px;
	background:url(../img/icons/google_plus.png) no-repeat center center;}
	
.footer-ul li a:hover .google-plus{
	background:url(../img/icons/google_plus_hvr.png) no-repeat center center;
	}			
	
/*.footer-blk .fa-fw{
	text-align:left;
	}*/
/*//////////////////////////////////////////BREADCRUMBS\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.breadcrumbs{
	float:left;
	width:100%;
	margin-bottom:10px;
	}
.breadcrumbs ul{
	list-style:none;
	display:inline-block;}	
.breadcrumbs ul li{
	color:#84ddfd;
	display:inline-block;}
.breadcrumbs ul li.divider{
	margin:0 4px;}	
.breadcrumbs ul li a{
	font-size:14px;
	color:#84ddfd;
	}	
	
.breadcrumbs ul li a:hover{
	color:#404040;}
	
		
	
/*//////////////////////////////////////////////////MESSAGES\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.messages {
    margin: 0 0 10px;
    overflow: hidden;
	float:left;
	width:100%;

}
.messages, .messages ul {
    list-style: outside none none !important;
    margin: 0;
    padding: 0;
}

.success-msg {
    background-color: #e9ffca;
    background-image: url("../img/i_msg-success.png");
    border-color: #296a23;
    color: #296a23;
}

.error-msg {
    background-color: #f5dad3;
    background-image: url("../img/i_msg-error.png");
    border-color: #c02230;
    color: #c02230;
}

.error-msg, .success-msg, .note-msg, .notice-msg {
    background-position: 25px center !important;
    background-repeat: no-repeat !important;
    font-size: 12px !important;
    padding: 25px 25px 25px 80px !important;
	margin:15px 0;
}

.note-msg, .notice-msg {
    background-color: #fdeda4;
    background-image: url("../img/i_msg-note.png");
    border-color: #7c622a;
    color: #7c622a;
}


.success-result{
	float:left;
	width:100%;
	background-size:15px;
	text-align:left;
	color:#090;
	padding:8px 0;
}
.success-result img{
	max-width:15px;
	margin-right:5px;}		

/*//////////////////////////////////////////LEFT SIDE BAR\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/


/*.innerQuarterLefttSideBar{
	float:left;
	width:100%;}*/
/*.quarterLeftSideBar{
	float:left;
	width:14%;}*/
	
.innerQuarterLeftSideBar{
	width:200px;
	float:left;
	}	
	

	
.newsletter_cont{
	display:none;
	margin-top:15px;}	
	
#PopupLoader .newsletter_cont{
	display:block;}	
	
.newsletter_cont .success-result{
		margin-top:-10px;}
	
.newsletter_cont .textbox{
	font-size:11px;
	}
	
.newsletter_cont .form-item label{
		font-size:12px;}
		
.newsletter_cont .btn{
	font-size:12px;
	padding:1px 9px;}		
	
.ul_categories{
	float:left;
	width:100%;
	list-style:none;}	
	
.ul_categories li{
	width:100%;
	font-size:15px;
	float:left;
	/*margin-bottom:3px;*/
	/*border-bottom: 1px dashed;*/

	display:inline-block;
	color:#7a7a7a;}
	

	
.category-li.category-li-1{
}	

.category_title a{
padding-top:3px;
float:left;
padding-bottom:3px;
padding-left:12px;
	}

.ul_categories li a{
	float:left;
	width:100%;
	
}
	
.category_title_2 a{
		padding-top:4px;
	padding-bottom:4px;
	padding-left:15px;
	padding-right:15px;
	float:left;
	width:100%;
	}	
	
#updateChecklist .n-table{
	min-width:600px;}	

.category-li.a_active .category_title a{
	/*background:#e8e8e8;
	color:#404040;*/}
	

/*.category-li .category_title a.a_active{
	background:#e8e8e8;
	color:#404040;}	*/
	
.category-li .sub_category_2 a:hover{
/*    background: #e8e8e8;
    color: #404040;*/
	/*background:#999;*/
    color: #81dbfc;
	}		
	
.sub_category .category-li.a_active .category_title_2:first-child  a{
	/*	background:#e8e8e8;
	color:#404040;*/
	background:none;
	color:#84ddfd !important;}	
	
.ul_categories .sub_category.sub_category_2 li a{
	padding-top:6px;
	padding-bottom:5px;
	width:100%;}	
		
/*.category-li.a_active .category_title{
	background:#e8e8e8;}*/
	
.ul_categories .sub_category.sub_category_2 li:hover{
	}	
	
.sub_category .category-li.a_active .category_title_2:first-child{
	background:#e8e8e8;}			
	
.category-li.a_active{
	/*background:#f6f6f6 ;*/
	/*background:#d2d2d2;*/}	
	
.ul_categories  .sub_category li{
	border:none;
	padding:0;
	margin-bottom:0;
	/*margin:1px 0;*/}		
.ul_categories li a{
	/*color:#7a7a7a;*/
	color:#afafb6;
	text-transform:capitalize;}
	
	
.ul_categories li a:hover, .ul_categories li a.a_active, .ul_categories li a.a_active_2{
	/*color:#a0d9f4;*/
/*	background:#e8e8e8;
	color:#404040;*/
	color:#84ddfd;
	/*padding-left:10px;*/}


.ul_categories li .a_active .category-a:hover, .ul_categories li .a_active .category-a{
color:#404040 !important;
		}	
	
.ul_leftSideBar{
	float:left;
	margin-top: 45px;
	margin-bottom:20px;
	width:100%;
	list-style:none;}
	
.zoom_icon{
	position:absolute;
	top:0;
	left:0;
	font-size:40px;
	opacity:0.8;
	color:white;
	width:100%;
	background:rgba(255, 255, 255, 1);
	cursor:pointer;
	height:100%;
	display:none;
	cursor:pointer;
	color:rgba(129, 220, 253,1);}
	
.products_gallery .item .innerItem:hover .zoom_icon{
display:block;}	
	
.zoom-lbl{
	font-size:30px;}			
	
.ul_leftSideBar li{
	float:left;
	border-top:1px solid #bdbdbd;
	border-bottom:1px solid #f2f2f2;
	width:100%;
	padding:5px 0;}
	
.ul-header-top li.active a{
	color:#a0d9f4;}	
	
.ul_leftSideBar li a{
	font-size:13px;
	color: #7a7a7a;}
	
.ul_leftSideBar li a.active{
	color:#a0d9f4;}	
	
.ul_leftSideBar .icon{
	margin:0 3px;
	width:15px;}	
	
.ul_leftSideBar li a:hover{
	color:#a0d9f4;}	
	
.ul_leftSideBar li:last-child{
	border-bottom:1px solid #bdbdbd;}
	
.sub_category{
	float:left;
	min-width:160px;
	max-width:250px;
	position:relative;
	/*height:auto !important;*/
	/*margin-top:5px;*/
	/*padding:5px;*/
	display:none;
	/*background:#f6f6f6;*/
	
	background:#e8e8e8;
	
	position:absolute;
	top:0;
	z-index:1000;
	left:95%;}	
	
.category_title a{
	padding-right:32px;}	
	
.main-fa{
	float:right;
	position:absolute;
	top:20%;
	right:5px;
	color:#84ddfd;
	font-size:18px;
	display:none;
	}	
	
.a_active .main-fa{
	display:block;}	
.sub_category .fa{
	display:none;}	
	
.sub_category.active, .sub_category.active_2{
	/*display:block;*/}	
	



.category_title.active a{
	vertical-align:middle;
	color:#84ddfd;}	
.sub_category a{
	font-size:14px;}
.sub_category .sub_category_2{
	position:absolute !important;
	top:0;
	z-index:1000;
	margin-top:0;
	
	left:100%;
	/*background:#d2d2d2;*/}
	
.ul_categories .sub_category.sub_category_2 li a{
	color:#404040 ;}	
	
.ul_categories .sub_category.sub_category_2 li a:hover{
	color:#84ddfd;}	
	
.sub_category .sub_category_2:hover{
	display:block;}		
.sub_category .sub_category_2 a{
	font-size:12px;
	padding-left:15px;
	
	}
	
	
	
.category_title .category_toggle .fa{
	vertical-align:top;}	
.category_title_2 .fa{
	font-size:11px;
	margin-top:3px;
		}
.category_title_2 .category_toggle .fa{
	vertical-align:top;}	

.category_title_2.active a{
	color:#84ddfd;}	
.category_toggle{
	float:left;
	width:100%;}	
	
.category_toggle .fa.mod{
	float:right;
	}
	
.sub_category .category_toggle  .fa.mod{
	margin-right: 3px;}			
	
.sideBarbox{
	display:inline-block;
	width:100%;
	position:relative;
	text-align:center;
	margin:10px 0;}
	
.newsletter a{
	font-size:19px;
	color:#b2e3f6;}	
	
.newsletter a:hover{
	color:#b0b0b0;}	
	
.newsletter_cont{
	width:96%;
	padding:0 2%;}
	
.newsletter_cont .form-item{
	max-width:350px;}	
	
.iframe_video{
	float:left;
	width:100%;}
	
.iframe_video iframe{
	display:inline-block;
	width:100%;
	border:none;}		
/*//////////////////////////////////////////BREADCRUMBS\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/	
/*.middleSide{
	float:right;
	width:80%;}	*/

.middleSide{
	margin-left:230px;}
.innerMiddleSide{
	float:right;
	width:100%;}	
	
	

.page-title{
	float:left;
	width:100%;
	padding-bottom:5px;
	}
.page-title.border{
border-bottom:1px solid #d0d0d0;
margin-bottom:15px;	}	
h1{
	display:inline-block;
	/*color:#636363;*/
	/*font-size:22px;*/
	color:#afafb6;
	font-size:18px;
	font-weight:normal;
	font-style: initial;
}
.branch-cont{
	float:left;
	width:100%;
	padding-bottom:15px;}	
	
.edit_branch{
	float:right;
	color:white;
	margin-left:15px;
	}	
.category-branch-title{
	display:inline-block;
	font-size:18px;
	float:left;
	color:#383838;
	width:100%;
	text-align:center;
	font-weight:normal;
	font-style: initial;
	text-transform:capitalize;}	
	
h1, h2, h3{
	text-transform:capitalize;}	
	
.overview{
		display:inline-block;
	color:#636363;
	margin-top:10px;
	margin-bottom:2px;
	font-size:18px;}	
		
.product-grid-content{
	display:block;
	margin-left:230px;
	margin-right:245px;}	
.miles .product-grid-content{
		margin-right:0;}
		
	.miles .product{
		width:215px;}	
.product-grid-header{
	display:inline-block;
	width:100%;}
.product-grid-header .title{
		float:left;}
.inner-product-grid-img{
	width:210px;

	float:left;}
.title, .title a{
	font-size:17px;
	color:#6e6e6e;}
	
.title a:hover, .title-related-product a:hover{
	color:#25b0e5;
	}	
.description{
	float:left;
	width:100%;
	    word-break: break-all;
	color:#929292;}

.description.mod{
	color:#404040;}
.date{
	float:right;
	font-size:16px;
	color:#80c6e1;}
	


.textbox::-webkit-input-placeholder, .textarea::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: #404040;
}

.textbox:-moz-placeholder, .textarea::-webkit-input-placeholder { /* Firefox 18- */
 color: #404040;
}

.textbox::-moz-placeholder, .textareatextarea::-webkit-input-placeholder { /* Firefox 19+ */
 color: #404040;
}

.textbox:-ms-input-placeholder, .textarea::-webkit-input-placeholder { /* IE 10+ */
  color: #404040;
}

.textbox::-ms-input-placeholder, .textarea::-webkit-input-placeholder { /* Edge */
 color: #404040;
}





.textbox.email_register{
	background:#CCC;
	}
	

#keywords::-webkit-input-placeholder{ /* Safari, Chrome and Opera */
  color: #b7b7b7;
}

#keywords:-moz-placeholder{ /* Firefox 18- */
 color: #b7b7b7;
}

#keywords::-moz-placeholder{ /* Firefox 19+ */
 color: #b7b7b7;
}

#keywords:-ms-input-placeholder{ /* IE 10+ */
  color: #b7b7b7;
}

#keywords::-ms-input-placeholder{ /* Edge */
 color: #b7b7b7;
}	

.textarea{
    background-color: white;
    border: 1px solid #6c6c73;
    color: #404040;
	min-height:100px;
    float: left;
    font-size: 14px;
    margin-bottom: 3px;
    padding: 6px 6px;
	resize: none;
	font-family: 'Roboto', sans-serif;
    width: 100%;}

.form-item em{
	color:red;}
.form-item label {
    color: #404040;
    float: left;
    font-size: 16px;
    margin-bottom: 6px;
    width: 100%;
}
.form-error {
    color: red;
    float: left;
    font-size: 13px;
    width: 100%;
}

.form-error.mod{
	display:none;}	

.new-users{
	float:left;
	width:40%;}	
	
.content{
	float:left;
	width:100%;
	font-style:italic;
	font-size:16px;
	margin-bottom:15px;
	color: #afafb6;}

	
.content a{
	color:#25b0e5;}		

	
.back-link{
	float:right;
	font-size:16px;
	color:black;}
	
.my_vouchers .back-link{
	margin-bottom:20px;
	}	
	
.back-link .fa-fw{
	width: 0.6em;}
	
	
	

.row {
	width:100%;
	float:left;
}



/*--HEADER--*/
.mainMenu_mob{
	float:left;
	width:100%;

	background:#EBEBEB;
	padding:8px 0;}
	
.mainMenu_mob ul{
	padding:0;
	display: table;
	 width: 100%;}
	
.mainMenu_mob ul li{
	display: table-cell;
	text-align: center;
    word-wrap: break-word;
	}	
.mainMenu_mob ul li a{
	position:relative;
	font-size:12px;}	
	
.mainMenu_mob ul li .bar{
	font-size:16px;}
	
.menuMobCont{
	float:left;
	width:100%;
	padding:0 15px;
	display:none;
	/*background:#4D4D4D;*/
	background:#D8D8D8;
	
	text-align:center;}
	
.mainMenu_mob{
	display:none;}	
	
.menuMobCont .ul_mainMenu li.dropdown:first-child{
	margin-left:0;
	margin-right:0;}
	
.menuMobCont .ul_mainMenu li.dropdown{
	width:100%;}
	
.menuMobCont a{
	color:white !important;}	
/*.menuMobCont .brand_dropdown_slick_cont{
	display:none;
	}	*/
	
.menuMobCont .dropdown .sub-dropdown{
		background:#e8e8e8 ;
		border:none;
	
		width:100%;}
		
.menuMobCont .dropdown .sub-dropdown .dropdown-li a{
		color:#6e6e6e !important;
		padding:3px 0 !important;}	
		
.menuMobCont .dropdown .sub-dropdown .dropdown-li a:hover{
		color:#a0d9f4 !important;}	
		
.menu-toggle.active{
	color:#a0d9f4;}
		
.menuMobCont .menu, .menuMobCont .account, .menuMobCont .form-search, .menuMobCont .navigation{
	display:none;}		
		
.menuMobCont .dropdown-toggle{
			display:inline-block;
			float:none !important;
			}
		
.menuMobCont .ul_featured_brands{
			width:25%;
			border-right:none;}
			
.menuMobCont .ul_mainMenu li a, .menuMobCont .ul_mainMenu li{
	border:none;
	padding:0;
	position:relative;
	margin-left:0;}
.menuMobCont .ul_featured_brands li{
		border-bottom:none;
		padding:0 !important;}

.menuMobCont .ul_mainMenu li .dropdown-li a, .menuMobCont .ul_mainMenu li .dropdown-li:first-child a{
	margin:0;
	padding:0;
	}	
	


.menuMobCont .dropdown:hover .mainMenu-li-a{
	border:none;
	border-bottom:1px solid #333;}
	
.menuMobCont .ul_mainMenu li .mainMenu-li-a{
float:left;
width:100%;
padding:10px 0;
cursor:pointer !important;
border-bottom:1px solid #333;
}	

.menuMobCont .ul_mainMenu li .mainMenu-li-a:hover, .menuMobCont .ul_mainMenu li.dropdown.active .mainMenu-li-a{
	background:#a0d9f4 !important;
	color:white !important;
	}
.menuMobCont .ul_mainMenu_border_left{
	display:none;
	}
	
.menuMobCont .ul_mainMenu{
	width:100%;}
.menuMobCont .ul_mainMenu li{
	margin:0;
	width:100%;
	}		

	
.menuMobCont .sub-dropdown{
display:none;}	

.menuMobCont .ul_mainMenu li a:hover{
	background:none !important;
	color:#a0d9f4 !important;}

.menuMobCont .dropdown-li .dropdown-toggle{
	font-size:14px;}
	
.menuMobCont .ul_mainMenu.mod li:first-child{
	margin-left:0;}	
.menuMobCont .form-search {
	margin:0;}	
.menuMobCont .form-search form{
	max-width:275px;
	display:inline-block;
	margin:15px 0;
}

.menuMobCont .category_title_2 .fa{
	display:none;}
	
.menuMobCont .ul_categories{
	margin-top:20px;
		}
		
.menuMobCont .category_title_2 a{
			font-size:12px;}
		
.menuMobCont .newsletter_cont{
			text-align:center;}
.menuMobCont .newsletter_cont form, .newsletter_cont .form-item{
	float:none;
	width:100%;
	display:inline-block;}
				
.menuMobCont .newsletter_cont .form-item label{
color:white;}


.menuMobCont  .ul_categories li a:hover, .menuMobCont .ul_categories li a.a_active{
	color:#a0d9f4 !important;	}

/* Large screens ----------- */
@media (max-width : 1824px) {
/* Styles */

}




@media (max-width: 1300px) {

}

/* Desktops and laptops ----------- */
@media (max-width : 1224px) {
	.centered{
		width:96%;
		padding:0 2%;
		}
		
.bannerDotsContent ul li a{
		padding:12px 0 12px 15px;}
		
.featured .title-h2{
	text-align:center;}	
.products-container .product:nth-of-type(4n+1), .products-container .product:nth-of-type(4n+4), .products-container .product:nth-of-type(4n+1), .products-container .product:nth-of-type(4n+4){
	margin-right:auto;
	margin-left:auto;}
	
.featured{
	text-align:center;}
	
.featured .product{
	margin:8px 3px !important;}

.products-container{
	text-align:center;}
	
.products-container .product{
	margin:7px 5px !important;}	
	
.arrow_active_dot img{
	width:20px;}

.arrow_active_dot{
	top: 3px;}	
	
.mainMenu .brand_dropdown_cont{
	width:600px;
	}	
	
.account-login .new-users{
	width:100%;
	max-width:450px;}


.mainMenu .mainMenu-li-a{
	padding: 0 6px;}

		
			
}

@media (max-width: 1160px) {


	
.ul_mainMenu .brand_dropdown_slick a img{
	width:100%;}	
		
	}

@media (max-width: 1060px) {
	}

@media (max-width: 960px) {
.btn {
		margin:2px;}

.menuMobCont{
	display:block;}	

	
.ul_mainMenu li a.active{
	background:none;
	}
	
.form-search{
	display:none;}		
	
.ul_mainMenu.mod{
	margin-left:0;}	
.header_bottom{
	display:none;}
	.quarterLeftSideBar{
		float:right;
		width:100%;
		display:none;}
		

.home-bxs{width:96%;padding:0 2%;}
	
.mainMenu_mob{display:block;}

.breadcrumbs{
	margin-top:15px;
	}	
	
.innerContent.mod2 .breadcrumbs{ 
padding:0;}	
.footer .centered, .breadcrumbs{
	/*width:100%;*/
	}
	
	
		
.web{
	display:none !important ;}	
		
	.middleSide{
		width:100%;
		margin-left:0;}	
	.innerQuarterLeftSideBar{
		width:100%;}
	.ul_categories li{
		width:33%;
		float:left;
		margin-bottom:5px;}	
		
	.ul_categories .sub_category li{
		width:100%;}
	.sideBarbox{
		text-align:center;}			
	
.innerContent {
	padding:10px 15px;}

.sub_category .fa{
	display:none;}
.mainMenu_mob ul li a{
	font-size:14px;}	
	
	
#PopupContainer .centered{
	width:90%;
	padding:0;}
	
.page-title.border{
	margin-bottom:10px;}
	
.form-item label{
	font-size:14px;}
							
	}
		
@media (max-width: 800px) {
	.brands-n-header .sort_order{
	margin-top:0;}
.products_details{
	width:100%;}
	
.products_gallery{
	width:100%;
	margin-bottom:45px;}
	

.menuMobCont .ul_featured_brands{
			width:50%;
			border-right:none;}
	
.figure{
	margin-bottom:15px;}	
	
.events_list .figure.featured_figure .figureDetails{
	width:100%;}
	
.figure_img{
	float:left;
	width:100%;
	text-align:center;}	
	
.figure .figure_img{
	float:none;
	width:auto;
	}	

	
.events_list .figure_img span{
    width: 250px;
    display: inline-block;
    float: none;
	}
	
.product-grid-content{
	margin-right:0;}
	
.date{
	float:left;
	margin:5px 0;}	
	
.product-grid-related{
	float:left;
	margin-top:15px;
	text-align:center;	width:100%;}	
	
			
	

.spa_section.mod label{
	width:32%;
	margin-right:1%;}
	
.option_select{
	display:none;}	
	
.options_list{
	margin-right:0;}		
	
}	
		
@media (max-width: 680px) {
	#spaForm .form-item.col-3{
width:100%;	}
.row_form .form-item.col-3:nth-of-type(3n+2), .row_form .form-item.col-3{
	margin:0;
	}
	.opc-step .new-users, .account-create .form-item.gutter-right{
	width:100%;}
	.ul_categories li{
		width:49%;
		}

	
	
		
		
	}
@media (max-width: 600px) {
	.header-top-right {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
}
.error-msg, .success-msg, .note-msg, .notice-msg{
	background-position:10px center !important;
	   padding: 25px 25px 25px 50px !important;
	}

.logo{
	width:100%;
	margin-top:15px;
	text-align:center;}
	
.mainMenu_mob ul li a .lbl{
	display:none;}	
	

	
.menuMobCont .ul_featured_brands{
			width:100%;
			border-right:none;}	

	
.btn-wishlist{

	margin-top:15px;
	}
	
	
			
}


/* Smartphones (portrait and landscape) ----------- */
@media (max-width : 480px) {
.related_product .title-h2 h2{
	font-size:18px;}	
.spa_section.mod label{
	width:100%;
	margin-right:0;}
	
.footer-blk{
	width:100%;
	margin:0;
	padding-bottom:5px;
	border-bottom:1px solid #999;
	margin-bottom:5px;
	}
.ul_categories li{
	width:100%;}	
	
		}


/* Smartphones (portrait) ----------- */
@media  (max-width : 320px) {
/* Styles */
.category-asc{
	display:none;}
.header_top{
	width:100%;
	margin-top:5px;
	margin-bottom:-10px;
	text-align:center;}
	
.currency_bx{
	float:none;
	margin-right:0;
	display:inline-block;}
	
.currencies{
	position:relative;
	top:0;
	float:left;
	width:100%;
	right:0;
	margin-bottom:10px;
-webkit-box-sizing: border-box; / Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x /
 -moz-box-sizing: border-box;    / Firefox 1 - 28 /
 -o-box-sizing: border-box;
 box-sizing: border-box;}	
.logo{
	float:none;
	display:inline-block;}	
	
.lbl_shdw_bx{
	float:right;
	display:inline-block;}	
	
.lbl_shdw_bx{
	padding:3px;}	
	
.currency_bx:hover .lbl_shdw{
background:white;
-webkit-box-shadow: 0px 0px 3px -1px  rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 3px -1px  rgba(0,0,0,0.75);
box-shadow: 0px 0px 3px -1px  rgba(0,0,0,0.75);
	}	
.currency_bx.active_currencies .lbl_shdw_bx	{
	padding:3px;}
	
	
	
.currency_bx.active_currencies .lbl_shdw{
background:white;
-webkit-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
	}			
}



@media (max-width: 700px) {
.pp_pic_holder.pp_default { width: 90%!important; left: 5%!important; overflow: hidden; }
div.pp_default .pp_content_container .pp_left { padding-left: 0!important; }
div.pp_default .pp_content_container .pp_right { padding-right: 0!important; }
.pp_content { width: 100%!important; height: auto!important; }
.pp_fade { width: 100%!important; height: 100%!important; }
a.pp_expand, a.pp_contract, .pp_hoverContainer, .pp_gallery, .pp_top, .pp_bottom { display: none!important; }
#pp_full_res img { width: 100%!important; height: auto!important; }
#pp_full_res iframe {width: 100%!important; height: 250px!important; }
.pp_details { width: 100%!important; padding-left: 3%; padding-right: 4%; padding-top: 10px; padding-bottom: 10px; background-color: #fff; margin-top: -2px!important; }
a.pp_close {right: 50px!important; top: 0px!important;}
.talent_box2{width:100%}
.project_back{float:right !important;position:relative !important;top:0 !important;margin-bottom:20px;}
.enquiry_close{display:block;}}
	



	
			