@media print {
	table {
		font-size: 13px;
		color: #000;
		font-family:Arial;
	}
	table {
		/*border:1px solid #ffffff;*/
	}
	table tbody {
		/*border:1px solid #ffffff;*/
	}
	table tr td.m {
		padding:10px;
	}
	table tr td,
	table tr th {
		font-size: 13px;
		color: #000;
		font-family:Arial;
	}
	table table tr th {
		 background: #656565 none repeat scroll 0 0 !important;
		
		color: #fff;
		font-size: 16px;
		font-weight: normal;
		padding: 15px;
		text-align: left;
		text-transform: uppercase;
	}
	table table tr td {
		
		padding:15px;
		vertical-align:top
	}
	table table table tr td {
		padding:3px 0;
	}
	table table,
	table table table,
	table table table tbody {
		border:none;
	}
	table table table tr th,
	table table table tr td {
		border:none;
	}
	table table table tr td {
		/*border-bottom:1px solid #ffffff;*/
	}
	.logo-p {
		height:138px;
	}
}
body table {
	font-size: 13px;
	color: black;
	font-family:Arial;
}
body table {
	/*border:1px solid #ffffff;*/
}
body table tbody {
	background:white;
	/*border:1px solid #ffffff;*/
}
body table tr td.m {
	padding:10px;
}
body table tr td,
body table tr th {
	font-size: 13px;
	color: black;
	font-family:Arial;
}
body table table tr th {
	/* background: #656565 none repeat scroll 0 0;*/
	background:white;
	color:black;
	font-weight:600;
   /* border: 1px solid #ffffff;*/
    
    font-size: 16px;

    padding: 15px;
    text-align: left;
    text-transform: uppercase;
}
body table table tr td {
	
	padding:10px;
	vertical-align:top
}
body table table table tr td {
	padding:0 5px;
}
body table table,
body table table table,
body table table table tbody {
	border:none;
}
body table table table tr th,
body table table table tr td {
	border:none;
}
body table table table tr td {
	border-bottom:1px solid #ffffff;
}
.logo-p {
	height:138px;
}