.half-side.left, .row {
    float: left
}

.row {
    width: 100%;
    margin: 0
}

.quarter-side {
    width: 24.5%;
    float: left
}

.half-side {
    width: 48%
}

.half-side.right {
    float: right
}

.third-side {
    width: 32%;
    float: left
}

.third-side.right {
    float: right
}

.third-side.middle {
    margin: 0 2%
}

.third-quarter-side {
    width: 64%;
    float: left
}

.third-quarter-side.right {
    float: right
}

.slicknav_menu {
    display: none
}

.menuMobCont .dropdown.active .sub-dropdown {
    opacity: 1;
    display: block;
    visibility: visible
}

.menu-sub-level-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    border-radius: 2px;
    z-index: 1000;
    width: 100%;
    cursor: pointer;
    height: 40px;
    text-align: left;
    margin: 0
}

.menuMobCont, .menuMobCont .categories-menu-list {
    text-align: center
}

.menu-sub-level-btn:after {
    position: absolute;
    top: -2px;
    left: 0;
    z-index: 10;
    color: #fff;
    width: 100%;
    height: 100%;
    content: "+";
    display: none;
    font-size: 20px
}

.dropdown.active .menu-sub-level-btn:after {
    content: "-";
    font-size: 30px;
    top: -10px
}

.menuMobCont .menu-sub-level-btn {
    display: block
}

.menuMobCont .category-sub-dropdown .categories-menu-list, .menuMobCont .featured_brands {
    max-height: 200px
}

.menuMobCont .category-dropdown-menu li {
    width: 50% !important
}

.menuMobCont .category-dropdown-menu li .category-menu-title a {
    color: #000 !important;
    font-size: 13px !important
}

.menuMobCont .brand_dropdown_ads {
    display: none
}

.menuMobCont .categories-menu-list ul {
    float: none;
    display: inline-block;
    width: 90%
}

.menuMobCont .brand_dropdown_cont, .menuMobCont .categories-menu-list, .menuMobCont .featured_brands {
    width: 100%
}

.mainMenu .sub-dropdown, .menuMobCont #dropdown-3, .menuMobCont .dropdown, .menuMobCont .sub-dropdown {
    position: relative !important
}

.menuMobCont #sub-dropdown-3, .menuMobCont .dropdown .sub-dropdown.category-sub-dropdown {
    margin: 5px 0;
    left: 0
}

.menuMobCont .ul-menu-categories > li .dropdown {
    padding: 0
}

.menuMobCont .ul_featured_brands li.featured_brand_bx a {
    color: #000 !important
}

.menuMobCont .mCSB_inside > .mCSB_container {
    margin-right: 0
}

.menuMobCont .dropdown .sub-dropdown {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: relative !important
}

.mainMenu_mob {
    float: left;
    width: 50%;
    padding: 8px 0
}

.mainMenu_mob ul {
    padding: 0;
    display: table;
    width: 100%
}

.mainMenu_mob ul li {
    display: table-cell;
    text-align: center;
    word-wrap: break-word
}

.mainMenu_mob ul li a {
    position: relative;
    font-size: 12px
}

.mainMenu_mob ul li .bar {
    font-size: 22px
}

.menuMobCont {
    float: left;
    width: 100%;
    padding: 0;
    display: none;
    background: #D8D8D8;
    position: fixed;
    z-index: 9999;
    top: 36px
}

.menuMobCont #sub-dropdown-6 {
    position: relative;
    top: 0;
    visibility: visible;
    opacity: 100;
    padding-top: 5px;
    background: inherit !important;
    left: 0;
    display: block !important
}

.menuMobCont #dropdown-6 > a {
    font-weight: 600
}

.header .menuMobCont .web-menu, .menuMobCont .welcome-user {
    display: none !important
}

.mainMenu_mob {
    display: none
}

.menuMobCont .ul_mainMenu li.dropdown:first-child {
    margin-left: 0;
    margin-right: 0
}

.menuMobCont #dropdown-3, .menuMobCont #dropdown-3 .mainMenu-li-a {
    height: auto;
    padding: 8px 0 !important;
    border-bottom: 1px solid #e8e8e8
}

.menuMobCont .ul_mainMenu li.dropdown {
    width: 100%
}

.menuMobCont a {
    color: #fff !important
}

.menuMobCont .dropdown .sub-dropdown {
    background: #e8e8e8;
    border: none;
    width: 100%
}

.menuMobCont .featured_brand_bx {
    width: 20%
}

.menuMobCont .my-list-menu, .menuMobCont .new-header-ul, .menuMobCont .ul-menu-categories {
    margin-top: 0;
    float: right;
    table-layout: inherit;
    padding: 0 !important;
    width: 50%;
    background: #fff;
    height: 100vh;
    position: fixed;
    top: 40px
}

.menuMobCont .my-list-menu li, .menuMobCont .new-header-ul li, .menuMobCont .ul-menu-categories li {
    width: 100%;
    text-align: left;
    display: inline-block;
    float: none;
    margin: 0 !important;
    border: none;
    padding: 8px 0 !important;
    border-bottom: 1px solid #e8e8e8
}

.menuMobCont .my-list-menu li a, .menuMobCont .new-header-ul li a, .menuMobCont .ul-menu-categories li a {
    color: #414141 !important;
    padding: 2px 6% !important;
    font-size: 12px !important;
    display: table !important;
    line-height: inherit !important;
    text-align: left;
    width: 100%;
    margin: auto
}

.menuMobCont .account, .menuMobCont .form-search, .menuMobCont .menu, .menuMobCont .menu-categories, .menuMobCont .my-list-menu, .menuMobCont .navigation, .menuMobCont .new-header-ul, .menuMobCont .new-header-ul li:after, .menuMobCont .ul-menu-categories {
    display: none
}

.menuMobCont .dropdown .sub-dropdown .dropdown-li a:hover {
    color: #a0d9f4 !important
}

.menu-toggle.active {
    color: #cc3569
}

.menuMobCont .activeMenu {
    display: block !important
}

.menuMobCont .dropdown-toggle {
    display: inline-block;
    float: none !important
}

.menuMobCont .sub-dropdown, .menuMobCont .ul_mainMenu_border_left {
    display: none
}

.menuMobCont .ul_featured_brands {
    width: 25%;
    border-right: none
}

.menuMobCont .my-list-menu li, .menuMobCont .ul_mainMenu li, .menuMobCont .ul_mainMenu li a {
    border: none;
    padding: 0;
    position: relative;
    margin-left: 0
}

.menuMobCont .ul_featured_brands li {
    border-bottom: none;
    padding: 0 !important
}

.menuMobCont .ul_mainMenu li .dropdown-li a, .menuMobCont .ul_mainMenu li .dropdown-li:first-child a {
    margin: 0;
    padding: 0
}

.menuMobCont .dropdown:hover .mainMenu-li-a {
    border: none;
    border-bottom: 1px solid #333
}

.menuMobCont .ul_mainMenu li .mainMenu-li-a {
    float: left;
    width: 100%;
    padding: 10px 0;
    cursor: pointer !important;
    border-bottom: 1px solid #333
}

.menuMobCont .ul_mainMenu li .mainMenu-li-a:hover, .menuMobCont .ul_mainMenu li.dropdown.active .mainMenu-li-a {
    background: #a0d9f4 !important;
    color: #fff !important
}

.menuMobCont .ul_mainMenu {
    width: 100%
}

.menuMobCont .ul_mainMenu li {
    margin: 0;
    width: 100%
}

.menuMobCont .form-search form, .menuMobCont .form-search-txt input {
    max-width: 285px;
    display: inline-block;
    width: 100%
}

.menuMobCont .ul_mainMenu li a:hover {
    background: 0 0 !important;
    color: #a0d9f4 !important
}

.menuMobCont .dropdown-li .dropdown-toggle {
    font-size: 14px
}

.menuMobCont .ul_mainMenu.mod li:first-child {
    margin-left: 0
}

.menuMobCont .form-search {
    margin: 0
}

.menuMobCont .form-search form {
    margin: 15px 0
}

.menuMobCont .category_title_2 .fa {
    display: none
}

.menuMobCont .ul_categories {
    margin-top: 20px
}

.menuMobCont .category_title_2 a {
    font-size: 12px
}

.menuMobCont .newsletter_cont {
    text-align: center
}

.menuMobCont .newsletter_cont form, .newsletter_cont .form-item {
    float: none;
    width: 100%;
    display: inline-block
}

.menuMobCont .newsletter_cont .form-item label {
    color: #fff
}

.menuMobCont .ul_categories li a.a_active, .menuMobCont .ul_categories li a:hover {
    color: #a0d9f4 !important
}

@media (max-width: 1224px) {
    .featured_brands_home_logo .supplier {
        z-index: 99999;
        display: none;
    }

    .row-breadcrumb-mrgn.brand-details-breadcrumb {
        display: none
    }

    .featured, .featured .title-h2, .footer-blk.first, .products-container {
        text-align: center
    }

    .centered {
        width: 100%;
        padding: 0
    }

    .footer-blk.first {
        width: 96%;
        margin-right: 0;
    }

    .footer-blk {
        width: 24%;
        margin: 5px .4%
    }

    .brand_dropdown_cont, .featured_brands {
        width: 100% !important
    }

    .brand_dropdown_ads {
        display: none
    }

    #NewsLetterForm {
        max-width: 420px;
        width: 100%;
        display: inline-block
    }

    #NewsLetterForm .btn {
        margin: 0
    }

    .bannerDotsContent ul li a {
        padding: 12px 0 12px 15px
    }

    .products-container .product:nth-of-type(4n+1), .products-container .product:nth-of-type(4n+4) {
        margin-right: auto;
        margin-left: auto
    }

    .featured .product {
        margin: 8px 3px !important
    }

    .products-container .product {
        margin: 7px 5px !important
    }

    .arrow_active_dot img {
        width: 20px
    }

    .arrow_active_dot {
        top: 3px
    }

    .mainMenu .brand_dropdown_cont {
        width: 600px
    }

    .account-login .new-users {
        width: 100%;
        max-width: 450px
    }

    ul.tabs {
        display: none
    }

    .products_details ul.tabs {
        display: block
    }

    .tabs_cont.mod .tab_container {
        border: none
    }

    .tabs_cont.mod {
        margin-top: 15px;
        float: left;
        width: 100%
    }

    .tab_content {
        padding: 0 20px
    }

    .tab_content .innerContent {
        padding: 0
    }

    .mainMenu .mainMenu-li-a {
        padding: 0 6px
    }

    .shopping_cart_cont .table-b {
        overflow-x: scroll
    }
}

@media (max-width: 1160px) {
    .s-brand-section .advertsiement-slider {
        margin-left: 0
    }

    .bannerDotsContent ul li a {
        padding: 8.6px 0 8.6px 15px
    }

    .bannerSlickContent #banner_slick {
        width: 620px
    }

    .bannerDots {
        margin-left: 620px
    }

    .page_brands .row {
        margin: 0 !important
    }

    .products-category-section.mod2 {
        margin-top: 0;
        width: 100% !important;
    }

    .advertsiement-slider {
        text-align: center;
        width: 100% !important
    }

    .inner-brand-section {
        text-align: center !important
    }

    .supplier_cont, .supplier_video {
        margin-top: 20px;
        float: none !important;
        display: inline-block;
        max-width: 100%
    }

    .supplier_video {
        width: 100%
    }

    .banMeeting .inner_supplier {
        margin-top: 0
    }

    .bannerItem .banImg {
        min-height: 290px;
        width: -webkit-calc(100%);
        width: -moz-calc(100%);
        width: calc(100%);
        background-size: 100%
    }

    .banMeeting {
        min-width: 215px
    }

    .arrow_active_dot {
        top: 3px;
        left: -10px
    }

    .events_list .figure {
        width: 49%
    }

    .events_list .figure.featured_figure {
        width: 100%;
        padding-right: 0
    }

    .ul_mainMenu .brand_dropdown_slick a img {
        width: 100%
    }
}

@media (max-width: 1060px) {
    .mainMenu .brand_dropdown_cont {
        width: 100%
    }

    .mainMenu #sub-dropdown-3.sub-dropdown {
        width: 675px
    }

    .bannerSlickContent #banner_slick {
        flaot: left;
        width: 100%
    }

    .bannerDots {
        display: none
    }

    .bannerSlickContent {
        margin-right: 0
    }

    .banner_cont {
        margin-bottom: 20px
    }

    .banner_cont .slick-dots {
        display: block !important
    }

    .contactlist .figure {
        width: 33%
    }

    .figure.featured_figure {
        width: 66%
    }
    .new-header-ul li a{
        font-size:12px
    }
}

@media (max-width: 960px) {
    .delivery-call, .footerContent, .inner-search-bx, .sideBarbox, .sub_categories_list {
        text-align: center
    }

    .sub_categories_list ul li {
        width: auto
    }

    .new-header-ul li {
    float: left;
    }

    .new-header-ul li:last-child {
        display: block !important
    }

    .btn {
        margin: 2px
    }

    #sub-dropdown-3 {
        top: 0 !important;
        right: 0
    }

    .supplier_bx {
        width: 100%;
        margin: 20px 0 0
    }

    .page_OurBrands .supplier_bx{
        width: 49%;
        float: left;
    }

    .brandCaract{
        float: none;
        width: 100%;
        height: 30px;
        margin-bottom: 6px;
    }

    .brandCaract h3{
        line-height: 30px;
        font-size: 30px;
    }

    .map-supliers {
        width: 100%
    }

    .banner {
        overflow: hidden
    }

    .search_by {
        width: 100%;
        margin-left: 10px;
        margin-bottom: 10px
    }

    .sub_category_select_img {
        width: 100%;
        position: relative
    }

    .selected_category_h2 {
        display: none
    }

    .sub_categories_list_bx, .sub_categories_list_bx.mod {
        padding-left: 0
    }

    .inner-refine-search {
        float: none;
        margin: 0;
        display: inline-block
    }

    .footer-blk {
        float: none;
        margin: 5px;
        vertical-align: top;
        display: inline-block;
        width: 200px;
        padding: 2px 5px
    }

    .header_bottom, .middleSide, .ul_mainMenu.mod {
        margin-left: 0
    }

    .opener {
        display: block
    }

    .footer .middleSide {
        width: 100%;
        margin-left: 0
    }

    .form-search {
        display: none
    }

    .menuMobCont {
        display: block;
        width: 70%;
        float: right;
        left: 0
    }

    .brand_dropdown_slick_cont {
        margin-top: 30px
    }

    .consultants_cont .innerItem {
        padding-right: 8px;
        padding-left: 8px
    }

    .ul_mainMenu li a.active {
        background: 0 0
    }

    .header_bottom {
        display: none
    }

    .quarterLeftSideBar {
        float: right;
        width: 100%;
        display: none
    }

    .home-bxs {
        width: 96%;
        padding: 0 2%
    }

    .mainMenu_mob {
        display: block;
        padding: 0;
        border-bottom: 1px solid #808284;
        position: fixed;
        background: #fff;
        z-index: 999999
    }

    #dropdown-7, .menu-categories {
        display: none
    }

    .product {
        -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75);
        -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75);
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75)
    }

    .innerFeaturedBrands {
        border-top: none
    }

    .innerContent.mod2 .breadcrumbs {
        padding: 0
    }

    .web {
        display: none !important
    }

    .lbl, .sub_category .fa {
        display: none
    }

    .innerQuarterLeftSideBar, .middleSide {
        width: 100%
    }

    .ul_categories li {
        width: 33%;
        float: left;
        margin-bottom: 5px
    }

    .my_credits .col-md-3, .my_credits .col-md-9, .ul_categories .sub_category li {
        width: 100%
    }

    .innerContent {
        padding: 10px 15px
    }

    .table-b {
        overflow-x: scroll
    }

    .my_credits .shopping_cart_cont .n-table {
        min-width: 600px
    }

    .available_balance {
        float: left;
        width: 100%;
        margin-bottom: 15px
    }

    .mainMenu_mob ul li a {
        float: left;
        margin-left: 10px;
        margin-top: 8px;
        font-size: 18px;
        margin-bottom: 6px
    }
#mob_ul-menu-categories .fa-times {
    display: none;
}
    #PopupContainer .centered {
        width: 90%;
        padding: 0
    }

    .video iframe {
        max-height: 300px
    }

    .brands_details {
        width: 100%;
        margin-right: 0
    }

    .inner_supplier {
        width: 100%
    }

    .supplier_video {
        float: none;
        display: inline-block;
        max-width: 350px
    }

    .contactlist .figure {
        width: 49.5%
    }

    .figure.featured_figure {
        width: 100%;
        padding-right: 0
    }

    .page-title.border {
        margin-bottom: 10px
    }

    .form-item label {
        font-size: 14px
    }

    .text-mouseover, .zoomContainer {
        display: none !important
    }

    .wishlist_cont button {
        font-size: 12px;
        min-width: 112px;
        padding: 2px !important
    }

    .wishlist_cont button > span {
        width: 100%;
        display: inline-block
    }

    .qty-month {
        min-width: 125px
    }

    .product-name {
        font-size: 13px
    }

    .f-cart-title {
        display: inline-block;
        min-width: 260px
    }
}

@media (max-width: 800px) {
    .brands-n-header .sort_order, .header-top {
        margin-top: 0
    }

    #CheckoutForm .col-md-3, #CheckoutForm .col-md-9{
        width: 100%;
        padding: 0;
    }

    #CheckoutForm .shopping_cart_cont .col-md-3{
        width: calc(30% - 1px);
        float: left;
        padding: 3px;
    }

    #CheckoutForm .shopping_cart_cont .col-md-9{
        width: 70%;
        float: left;
        text-align: left;
    }

    #shopping-cart-cont .col-md-12{
        min-height: 94px;
    }

    #CheckoutForm .shopping_cart_cont .col-md-9.cart-right-column p label{
        font-size:14px !important
    }

    .cart .totals tfoot td strong, .cart .totals tfoot th strong{
        font-size: 14px;
    }

    #checkoutSteps .addressBox{
        width: 32%;
        min-width: 32%;
        min-height: 260px;
    }
    
    .n-table{
        min-width: 700px;
    }

    .delivery_cart_options{
        right: 0;
    }

    .delivery_cart_options:after{
        right: 0;
    }

    .featured_brands_home_logo .call_supplier, .featured_brands_home_logo .supplier_blk .btn, .product-grid-content {
        margin-right: 0
    }

    .consultants_cont, .figure_img {
        text-align: center
    }

    #loginAndRegistrationPage .col-sm-6, #loginAndRegistrationPage .col-xs-12 {
        padding: 0 10px !important;
    }

    .new-header-ul {
        border-bottom: 1px solid #808284;
        position: fixed;
        width: 58%;
        padding: 7px 0 5px;
        background: #fff;
    }

    .left-border-realted {
        border: none
    }

    .supplier_brands {
        min-height: 0
    }

    .booking-home-ul-li {
        margin-bottom: 0
    }

    .booking-home-ul-li:nth-child(3n) {
        margin-bottom: 0;
        width: calc(31.3% - 8px);
        padding: 10px 1%;
    }

    .article_content, .article_img, .col2-set .col-1, .col2-set .col-2, .products_details, .products_gallery {
        width: 100%
    }

    .menu-categories-bottom li {
        float: left;
        width: 100%
    }

    .products_gallery {
        margin-bottom: 45px
    }

    .article_img {
        max-width: 150px;
        margin-bottom: 10px
    }

    #PopupContainer .content {
        padding: 0;
        margin: 0;
        width: 96%
    }

    #PopupContainer .content .inner {
        border: 2px solid #b2e3f6
    }

    .events_list .figure {
        width: 100%;
        padding-right: 0
    }

    .events_list .description {
        min-height: inherit
    }

    .menuMobCont .ul_featured_brands {
        width: 50%;
        border-right: none
    }

    .figure {
        margin-bottom: 15px
    }

    .events_list .figure.featured_figure .figureDetails {
        width: 100%
    }

    .figure_img {
        float: left;
        width: 100%
    }

    .figure .figure_img {
        float: none;
        width: auto
    }

    .events_list .figure_img span {
        width: 250px;
        display: inline-block;
        float: none
    }

    .date {
        float: left;
        margin: 5px 0
    }

    .product-grid-related {
        float: left;
        margin-top: 15px;
        text-align: center;
        width: 100%
    }

    .inner-product-grid-related {
        float: none;
        display: inline-block
    }

    .cart .brand_dropdown_slick_cont, .option_select {
        display: none
    }

    .jconfirm .jconfirm-box {
        width: 82% !important;
        padding: 15px 1% !important;
        margin-left: 2% !important;
        margin-right: 2% !important
    }

    .spa_section.mod label {
        width: 32%;
        margin-right: 1%
    }

    .options_list {
        margin-right: 0
    }

    .booking-home h2 {
        font-size: 12px;
    }

    .booking-home-content {
        font-size: 12px;
        margin: 0;
    }

    .booking-head h4 {
        font-size: 20px;
        font-weight: 400
    }

    .booking-head .booking_num {
        font-size: 18px
    }

    .col-register-2 {
        width: 100%
    }

    .register-ads .innerItem {
        height: auto
    }
}

@media (max-width: 680px) {
    #spaForm .form-item.col-3, .account-create .form-item.gutter-right, .opc-step .new-users {
        width: 100%
    }

    .inner-refine-search {
        text-align: center
    }

    .inner-refine-search .form-item {
        float: none
    }

    .reset_btn {
        position: relative !important
    }

    .refine-search .form-item {
        margin-left: 0
    }

    .refine-search .form-item.autofomplete-form-item {
        width: 100%;
        max-width: 250px
    }

    .reset-search .inner-refine-search {
        padding-right: 0
    }

    .products-category-cont {
        margin-top: 0;
        width: 100% !important;
    }

    .row_form .form-item.col-3, .row_form .form-item.col-3:nth-of-type(3n+2) {
        margin: 0
    }

    .ul_categories li {
        width: 49%
    }

    .opc .step-title h2 {
        font-size: 12px;
        line-height: 1.1;
        margin: 9px 0
    }

    .cart .cart-right-column {
        width: 100%
    }

    .product-grid-content, .product-grid-img {
        float: left;
        width: 100%;
        margin-left: 0
    }

    .product-grid-content {
        margin-left: 0
    }

    .welcome-message {
        display: none
    }

    .page_brands .products-category-cont .product, .page_products .products-category-cont .product {
        width: 100%;
        margin: 0 2%;
        max-width: 500px;
    }

    .product-img{
        height:300px;
    }

    .content_details_left, .supplier_product_bx.supplier_blk {
        width: 100%;
        float: left;
        margin-bottom: 10px
    }
}

@media (max-width: 600px) {
    #loginAndRegistrationPage .col-sm-6, #loginAndRegistrationPage .col-xs-12 {
        padding: 0 !important
    }
    .booking-banner {
        height: auto;
        padding: 40px 0
    }

    .booking-success .img {
        display: none
    }

    .booking-banner-txt {
        font-size: 22px
    }

    .error-msg, .note-msg, .notice-msg, .success-msg {
        background-position: 10px center !important;
        padding: 25px 25px 25px 50px !important
    }

    .innerContent.account-register-mod {
        width: 100% !important;
        margin: 0 !important
    }

    .booking-home-ul-li {
        padding: 10px 0;
        height: 116px;
    }

    .bannerItem .banImg {
        min-height: inherit;
        width: -webkit-calc(100%);
        width: -moz-calc(100%);
        width: calc(100%);
        height: 200px !important;
        background-size: 100% !important
    }

    .banMeeting {
        width: 100% !important;
        min-width: 215px
    }

    .header-new-txt {
        display: none !important
    }

    .spa_section.mod label {
        width: 48%;
        margin-right: 1%
    }

    .innerFeaturedBrands .featured_brand_bx {
        width: 32.5%
    }

    .page_user #loginAndRegistrationPage h1{
        line-height: 1;
        font-size: 24px;
        margin-bottom: 6px;
    }

    .page_user #loginAndRegistrationPage p.lead{
        font-size: 13px !important;
        margin-bottom: 6px !important;
    }

    .page_user #loginAndRegistrationPage p{
        font-size: 13px !important;
        margin: 0 0 6px !important;
    }

    .page_user #loginAndRegistrationPage h3{
        line-height: 1;
        padding: 14px 0 0;
        margin: 0 !important;
    }

    .page_user .mrg-top-25{
        margin: 4px 0 !important;
    }

    .page_user #loginAndRegistrationPage form .form-error{
        height: 5px;
    }

    .page_user #Copyright{
        margin: 0;
    }

    .header-top-right {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 0
    }

    .logo {
        width: 100%;
        margin-top: 15px;
        text-align: center
    }

    .header-top .logo {
        margin: 0 0 30px
    }

    .inner-header-new {
        width: 50%
    }

    .delivery-call {
        font-size: 12px;
        margin-top: 40px
    }

    .mainMenu_mob ul li a .lbl, .table-categories tr td:first-child {
        display: none
    }

    .table-categories tr td:last-child {
        width: 15px
    }

    .home-ads-bottom {
        width: 100%;
        margin: 10px 0
    }

    .menuMobCont .ul_featured_brands {
        width: 100%;
        border-right: none
    }

    .figure.featured_figure .figureDetails {
        margin-right: 0
    }

    .figure .figure_img {
        float: left;
        width: 100%;
        margin-top: 8px;
        text-align: center
    }

    .figure_img span {
        float: none;
        display: inline-block
    }

    .contactlist .figure {
        width: 100%;
        padding-bottom: 15px;
        border-bottom: 1px solid #CCC
    }

    .btn-wishlist {
        margin-top: 15px
    }

    .related_products_slick_cont {
        margin-top: 25px
    }

    .related_product button {
        top: -40px !important
    }

    .related_product .title-h2 h2 {
        font-size: 20px
    }

    .featured_brands_home_logos, .page_home .products-category-cont {
        margin-top: 35px
    }

    .n-table{
        min-width: 1px;
    }

    .cart_deliver_by label{
        font-size: 12px;
    }

    .checkout_label, .data-table th{
        font-size: 12px;
    }

    #shopping-cart-cont .data-table td{
        display:block;
    }
    #shopping-cart-cont .data-table tr.last-result td:nth-of-type(1), #shopping-cart-cont .data-table tr.last-result td:nth-of-type(4){
        display:none
    }
	table.shopping-cart-table tr.first.last{
	    display:none
	}
    table.shopping-cart-table.data-table{
        width:350px
    }
   	table.shopping-cart-table tr.first td:nth-of-type(1) {
        width: 100px;
        float: left;
    }
	table.shopping-cart-table tr.first td:nth-of-type(2) {
        width: 250px;
        float: left;
    }
	#shopping-cart-cont .data-table tr.first td:nth-of-type(3) {
        display: none;
    }
	#shopping-cart-cont .data-table tr.first td:nth-of-type(4) {
        display: none;
    }
	table.shopping-cart-table tr.first td:nth-of-type(5) {
        float: left;
        margin: 10px 0 0;
    }
	table.shopping-cart-table tr.first td:nth-of-type(6) {
        float: right;
        width: 100px;
        margin: 12px 0 0;
    }
	table.shopping-cart-table tr.first td:nth-of-type(7) {
        width: 100%;
        float: right;
        text-align: right;
        padding: 4px 0 2px;
    }
	table.shopping-cart-table tr.first td:nth-of-type(7) a {font-size: 10px;padding: 0 10px;color: #d82262;}
	.shopping-cart-table tr.first.odd, .shopping-cart-table tr.first.even{
	    height:100px;
	    clear:both;
	    border-top: none;
	    border-bottom: 1px solid #efefef;
	}
	.cart_deliver_by{
	    width:100%;
	    float:left;
	}

	.shopping-cart-table.mod .col-delete, .col-total{
	    width: 100%;
	    padding: 15px 0 10px;
	}

	table.shopping-cart-table tr.last-result td:nth-of-type(1), tr.last-result td:nth-of-type(4){
	    display: none;
	}

	table.shopping-cart-table tr.last-result td{
	    width: 50%;
	    float: left;
	    padding: 6px !important;
	    clear: none;
	    text-align: center !important;
	}

	table#shopping-cart-totals-table td{
	    width: 50%;
	    text-align: center !important;
	    padding: 0;
	}

	.cart .totals-inner p label{
	    width: 50%
	}

	.cart .totals-inner{
	    padding: 0;
	    text-align: center !important;
	}

	.delivery_cart .delivery_cart_options{
	    right: 0;
	}

	.delivery_cart .delivery_cart_options table{
	    width:100%;
	}

	.delivery_cart_options:after{
	    right: -14px;
	}
}

@media (max-width: 480px) {
    .footer-blk, .innerFeaturedBrands .featured_brand_bx, .ul_categories li {
        width: 100%
    }

    .related_product .title-h2 h2 {
        font-size: 18px
    }

    .spa_section.mod label {
        width: 100%;
        margin-right: 0
    }

    .footer-blk {
        margin: 0 0 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #999
    }

    .footerContent .footer-blk:last-child {
        border-bottom: none
    }

    .product-grid-related-brand {
        display: none
    }

    .phone_3 {
        width: 100px !important
    }

    .phone_1, .phone_2 {
        width: 40px !important
    }

    .form-search-txt input {
        font-size: 10px
    }
}

@media (max-width: 320px) {
    .category-asc {
        display: none
    }

    .lbl_shdw_bx, .logo {
        display: inline-block
    }

    .header_top {
        width: 100%;
        margin-top: 5px;
        margin-bottom: -10px;
        text-align: center
    }

    .logo {
        float: none
    }

    .lbl_shdw_bx {
        float: right
    }

    .currency_bx.active_currencies .lbl_shdw, .currency_bx:hover .lbl_shdw {
        -webkit-box-shadow: 0 0 3px -1px rgba(0, 0, 0, .75);
        -moz-box-shadow: 0 0 3px -1px rgba(0, 0, 0, .75);
        box-shadow: 0 0 3px -1px rgba(0, 0, 0, .75)
    }
}

@media (max-width: 700px) {
    .booking_arrow, .pp_bottom, .pp_gallery, .pp_hoverContainer, .pp_top, a.pp_contract, a.pp_expand {
        display: none !important
    }

    .booking-home-ul-li .booking-head {
        background: 0 0 !important;
        max-height: 88px;
        width: auto;
        border-radius: 100%;
        font-weight: 700;
    }

    .pp_pic_holder.pp_default {
        width: 90% !important;
        left: 5% !important;
        overflow: hidden
    }

    #pp_full_res iframe, #pp_full_res img, .pp_content, .pp_details, .pp_fade {
        width: 100% !important
    }

    div.pp_default .pp_content_container .pp_left {
        padding-left: 0 !important
    }

    div.pp_default .pp_content_container .pp_right {
        padding-right: 0 !important
    }

    .pp_content {
        height: auto !important
    }

    .pp_fade {
        height: 100% !important
    }

    #mob_ul-menu-categories .fa-bars, #mob_ul-menu-categories.active .fa-times, .enquiry_close {
        display: block
    }

    #pp_full_res img {
        height: auto !important
    }

    #pp_full_res iframe {
        height: 250px !important
    }

    .pp_details {
        background-color: #fff;
        margin-top: -2px !important;
        padding: 10px 4% 10px 3%
    }

    a.pp_close {
        right: 50px !important;
        top: 0 !important
    }

    .talent_box2 {
        width: 100%
    }

    .project_back {
        float: right !important;
        position: relative !important;
        top: 0 !important;
        margin-bottom: 20px
    }

    #mob_ul-menu-categories i {
        font-size: 22px;
        padding: 2px 2px 1px
    }

    #mob_ul-menu-categories .fa-times, #mob_ul-menu-categories.active .fa-bars {
        display: none
    }

    .mainMenu_mob ul li a:hover {
        text-decoration: none
    }
}

@media (max-width: 600px) {
    .header-top {
        margin-top: 40px
    }

    #new_banner_slick .slick-dots {
        display: none !important
    }

    .products_home, .products_home_oed {
        display: none
    }

    .featured_brands_home .slick-slider .slick-track {
        max-width: 100%;
        transform: none !important
    }

    .featured_brands_home .slick-list .item {
        float: left;
        width: 50% !important
    }

    .featured_brands_home .arrows_slider_on .slick-next, .featured_brands_home .arrows_slider_on .slick-prev {
        display: none !important;
    }

    .menu-categories-bottom li {
        height: 50px;
    }

    .dropdown .sub-dropdown.category-sub-dropdown {
        top: 0;
    }

    .menuMobCont .ul-menu-categories li li {
        display: block;
        padding: 0 !important;
        border: none;
        width: 100% !important;
    }

    .menuMobCont .ul-menu-categories li .category-menu-img {
        display: none !important;
    }

    .page_suppliers .supplier_bx{
        width: 50%
    }


    #checkoutSteps .addressBox{
        width: 48%;
        min-width: 48%;
        min-height: 260px;
    }

    .related_product{
        width:90%;
        margin: 0 5%;
    }

    .page_products .arrows_slider_on .product{
        width: 100% !important;
        margin-left: 9px!important;
    }

    .page_products .slick-slider .slick-track{
        width: 332px !important;
        transform: translate3d(0, 0px, 0px) !important;
    }
    
    .page_products .related_product .slick-next, .page_products .related_product .slick-prev{display: none !important;}

    #Copyright{
        margin: 0;
    }

    .action-products-details .col-sm-3{
        width: 20%;
        float: left;
    }

    .action-products-details .col-sm-9{
        float: left;
        width: 80%;
    }

    .product_details_btns{
        width: 100%;
    }
    
    .desktop-version{
        display:none;
    }
    
    .mobile-version{
        display:block !important;
    }
}

@media (min-width: 1200px) {
    .menu-categories-bottom {
        display: none;
    }
}

@media (max-width: 960px) {
    .page_products .col-sm-6, .page_products .col-sm-1 {
        padding: 0;
    }

    .page_products ul.tabs {
        display: block;
    }

    .page_products .col-sm-1 {
        border: none;
    }
}
/* Landing Page */
@media (max-width: 600px) {
    .main-top h1{
        font-size: 20px;
        margin: 0 5% 18px;
        width: 90%;
        color: #414141;
    }
    .main-top p{
        text-shadow: none;
        color: #414141;
        font-size: 14px;
    }
    .landing-top p:last-child{
        margin:0 10%;
        padding:0
    }
    .page_Landing .col-md-3{
        width: 100%;
    }
    .partners-section .col-md-1{
        width: 49%;
        float:left;
    }
    .additional-services-section .col-md-2{
        width:100%
    }
    .landing-top{
        height: auto;
        background-repeat: no-repeat;
        background-position: left bottom;
        background: none;
    }
    .application-steps{
        display: none !important;
    }
    .mobileVersion{
        display:block !important;
        background: #fff;
    }
    .desktopVersion{
        display:none;
    }
    .page_Landing{
        background: #ebecf0;
    }
    .mobile-button{
        border: none;
        width:100%;
    }
    .brand-section #bundle-details p.bundle-price-year{
        font-size: 4rem;
    }
    table.pricingTable tbody tr td:last-child{text-align:center}
    .backToBrand{display:none !important}
    .brand-section #bundle-details h4 {
        text-transform: capitalize;
        font-weight: bold;
        width: 33.3%;
        float: left;
        padding-left: .625rem;
        padding-right: .625rem;
        margin: 0 0 30px;
        background: #fff;
        color: #414141;
        border: 1px solid #414141;
    }
    .brand-section .panel-heading{
        padding:0;
    }
    .supplier-application #bundle-details .panel-body h3{
        font-size: 24px;
        font-weight: normal;
        margin: 0;
    }
    .panel-body{
        text-align: left
    }
    .brand-section #bundle-details p{
        font-size: 13px;
        padding: 2px 0;
    }
    table.pricingTable tbody td:first-child{
        width: 80%;
    }
    .brand-section #bundle-details p i{
        font-size: 14px;
    }
    .panel-group .panel+.panel{
        box-shadow:none;
    }
    .maintext{
        margin:0 0 10px;
    }
    .brand-section #bundle-details p.price-mobile{
        width:80%;
        padding:20px 0;
        clear:both;
        float:left
    }
    #bundle-details .radio-group{
        margin: 0 0 20px;
    }
    .brand-section #bundle-details p.price-mobile select{
        margin:10px 0 0;
    }
    .main-img{
        margin: 0;
    }
    .main-top{
        position: relative;
        width: 100%;
        color: #000;
        top: 0;
        padding: 20px;
    }
    .landing-top .landing-img{
        padding: 18px;
    }
    .landing-top .landing-img img{
        width:80%;
    }
    .partner-section{
        border-top: 1px solid #414141;
    }
}