
.row {
	width:100%;
	float:left;
}
.quarter-side {
	width:24.5%;
	float:left;
}
.half-side {
	width:48%;
}
.half-side.left {
	float:left;
}
.half-side.right {
	float:right;
}
.third-side {
	width:32%;
	float:left;
}
.third-side.right {
	float:right;
}
.third-side.middle {
	margin:0 2%;
}
.third-quarter-side {
	width:64%;
	float:left;
}


.third-quarter-side.right {
	float:right;
}
/* responsive */
.slicknav_menu {
	display:none;
}

.menuMobCont .dropdown.active .sub-dropdown{
	opacity:1;
	display:block;
	visibility:visible;
	}

.menu-sub-level-btn{
	position:absolute;
	top:0;
	right:0;
	display:none;
	background-color:#333333;
	border-radius:2px;
	
	z-index:1000;
	width:20px;
	cursor:pointer;
	height:20px;}
	
.menu-sub-level-btn:after{
    position: absolute;
    top: -2px;
    left: 0;
	z-index:10;
	
	color:white;
    width: 100%;
    height: 100%;
    content: "+";
    font-size: 20px;}
	
.dropdown.active .menu-sub-level-btn:after{
	content:"-";
	font-size: 30px;
	top: -10px;}		
	
.menuMobCont .menu-sub-level-btn{
	display:block;
		}
		
.menuMobCont .featured_brands, .menuMobCont .category-sub-dropdown .categories-menu-list{
	max-height:200px;
			}
			
.menuMobCont .form-search-txt input{
	width:100%;
	max-width:230px;
	}			
		
.menuMobCont .category-dropdown-menu li{
			width:50% !important;}
			
.menuMobCont .category-dropdown-menu li .category-menu-title a{
	color:black !important;
	font-size:13px !important;}			
.menuMobCont .categories-menu-list{
	text-align:center;}	
	
.menuMobCont .brand_dropdown_ads{
	display:none;}		
.menuMobCont .categories-menu-list ul{
	float:none;
	display:inline-block;
		width:90%;}	
	
.menuMobCont .dropdown,  .mainMenu .sub-dropdown, .menuMobCont .sub-dropdown, .menuMobCont #dropdown-3{
	position:relative !important;}	
.menuMobCont .dropdown .sub-dropdown.category-sub-dropdown, .menuMobCont #sub-dropdown-3{
	margin:5px 0;
		top:0;}
		
.menuMobCont .brand_dropdown_cont{
	width:100%;
		}
		
.menuMobCont .ul-menu-categories > li .dropdown{
		padding:0;}	
		
.menuMobCont .ul_featured_brands li.featured_brand_bx  a{
	color:black !important;}		
		
.menuMobCont .featured_brands{
	width:100%;
			}	
		
/*	.menuMobCont .category-sub-dropdown .categories-menu-list{
		height:auto !important;}	*/
		
.menuMobCont .categories-menu-list{
	width:100%;
		}	
		
.menuMobCont .mCSB_inside > .mCSB_container{
		margin-right:0;}	
.menuMobCont .dropdown .sub-dropdown{
	display:none;
	opacity:0;
	visibility:hidden;
	position:relative !important;}	

/*--HEADER--*/
.mainMenu_mob{
	float:left;
	width:100%;

	background:#EBEBEB;
	padding:8px 0;}
	

	
.mainMenu_mob ul{
	padding:0;
	display: table;
	 width: 100%;}
	
.mainMenu_mob ul li{
	display: table-cell;
	text-align: center;
    word-wrap: break-word;
	}	
.mainMenu_mob ul li a{
	position:relative;
	font-size:12px;}	
	
.mainMenu_mob ul li .bar{
	font-size:16px;}
	
.menuMobCont{
	float:left;
	width:100%;
	padding:0 15px;
	display:none;
	/*background:#4D4D4D;*/
	background:#D8D8D8;
	
	text-align:center;}
	
	
	
.menuMobCont #sub-dropdown-6{
	position:relative;
	top:0;
	visibility:visible;
	opacity:100;
	padding-top:5px;
	background:inherit !important;
	left:0;
	display:block !important;}
	
.menuMobCont #dropdown-6 > a{
	font-weight:600;}	
.menuMobCont .mob-menu{
	display:block !important;}
	
.header .menuMobCont .web-menu, .menuMobCont .welcome-user{
	display:none !important;}		
.mainMenu_mob{
	display:none;}	
	
.menuMobCont .ul_mainMenu li.dropdown:first-child{
	margin-left:0;
	margin-right:0;}
	
.menuMobCont #dropdown-3, .menuMobCont #dropdown-3 .mainMenu-li-a{
	height:auto;
	}	
	
/*.menuMobCont #sub-dropdown-3 .brand_dropdown_cont{
		overflow-y:scroll;
		max-height:255px;
		}*/
	
.menuMobCont .ul_mainMenu li.dropdown{
	width:100%;}
	
.menuMobCont a{
	color:white !important;}	
/*.menuMobCont .brand_dropdown_slick_cont{
	display:none;
	}	*/
	
.menuMobCont .dropdown .sub-dropdown{
		background:#e8e8e8 ;
		border:none;
	
		width:100%;}
		
.menuMobCont .featured_brand_bx{
	width:20%;
			}
			
.menuMobCont .new-header-ul, .menuMobCont .my-list-menu, .menuMobCont .ul-menu-categories{
	background-color:#D8D8D8;
	margin-top:0;}			
.menuMobCont .ul-menu-categories, .menuMobCont .new-header-ul, .menuMobCont .my-list-menu{
	float:left;
	table-layout:inherit;
	display:inline-block;
	padding:15px 0 !important;
	width:100%;}
			
.menuMobCont .ul-menu-categories li, .menuMobCont .new-header-ul li, .menuMobCont .my-list-menu li{
	width:100%;
	text-align:center;
	display:inline-block;
	float:left;
	padding:0 !important;
	margin:0 !important;
	border:none;
			}
			
.menuMobCont .ul-menu-categories li a, .menuMobCont .new-header-ul li a, .menuMobCont .my-list-menu li a{
	color:white !important;
	padding:2px 0 !important;
	font-size:14px !important;
	display:inline-block !important;
	line-height:inherit !important;
	margin:0 !important;}				
		
/*.menuMobCont .dropdown .sub-dropdown .dropdown-li a{
		color:#6e6e6e !important;
		padding:3px 0 !important;}*/
		
.menuMobCont .new-header-ul li:after{
	display:none;}			
		
		

		
		
		
.menuMobCont .dropdown .sub-dropdown .dropdown-li a:hover{
		color:#a0d9f4 !important;}	
		
.menu-toggle.active{
	color:#a0d9f4;}
		
.menuMobCont .my-list-menu, .menuMobCont .menu-categories, .menuMobCont .ul-menu-categories, .menuMobCont .new-header-ul, .menuMobCont .menu, .menuMobCont .account, .menuMobCont .form-search, .menuMobCont .navigation{
	display:none;}
	
.menuMobCont .activeMenu{
	display:block !important;}			
		
.menuMobCont .dropdown-toggle{
			display:inline-block;
			float:none !important;
			}
		
.menuMobCont .ul_featured_brands{
			width:25%;
			border-right:none;}
			
.menuMobCont .ul_mainMenu li a, .menuMobCont .ul_mainMenu li, .menuMobCont .my-list-menu li{
	border:none;
	padding:0;
	position:relative;
	margin-left:0;}
.menuMobCont .ul_featured_brands li{
		border-bottom:none;
		padding:0 !important;}

.menuMobCont .ul_mainMenu li .dropdown-li a, .menuMobCont .ul_mainMenu li .dropdown-li:first-child a{
	margin:0;
	padding:0;
	}	
	


.menuMobCont .dropdown:hover .mainMenu-li-a{
	border:none;
	border-bottom:1px solid #333;}
	
.menuMobCont .ul_mainMenu li .mainMenu-li-a{
float:left;
width:100%;
padding:10px 0;
cursor:pointer !important;
border-bottom:1px solid #333;
}	

.menuMobCont .ul_mainMenu li .mainMenu-li-a:hover, .menuMobCont .ul_mainMenu li.dropdown.active .mainMenu-li-a{
	background:#a0d9f4 !important;
	color:white !important;
	}
.menuMobCont .ul_mainMenu_border_left{
	display:none;
	}
	
.menuMobCont .ul_mainMenu{
	width:100%;}
.menuMobCont .ul_mainMenu li{
	margin:0;
	width:100%;
	}		

	
.menuMobCont .sub-dropdown{
display:none;}	

.menuMobCont .ul_mainMenu li a:hover{
	background:none !important;
	color:#a0d9f4 !important;}

.menuMobCont .dropdown-li .dropdown-toggle{
	font-size:14px;}
	
.menuMobCont .ul_mainMenu.mod li:first-child{
	margin-left:0;}	
.menuMobCont .form-search {
	margin:0;}	
.menuMobCont .form-search form{
    max-width: 285px;
    display: inline-block;
    margin: 15px 0;
    width: 100%;
}

.menuMobCont .form-search-txt input{
	max-width: 285px;
    display: inline-block;
	width: 100%;}

.menuMobCont .category_title_2 .fa{
	display:none;}
	
.menuMobCont .ul_categories{
	margin-top:20px;
		}
		
.menuMobCont .category_title_2 a{
			font-size:12px;}
		
.menuMobCont .newsletter_cont{
			text-align:center;}
.menuMobCont .newsletter_cont form, .newsletter_cont .form-item{
	float:none;
	width:100%;
	display:inline-block;}
				
.menuMobCont .newsletter_cont .form-item label{
color:white;}


.menuMobCont  .ul_categories li a:hover, .menuMobCont .ul_categories li a.a_active{
	color:#a0d9f4 !important;	}

/* Large screens ----------- */
@media (max-width : 1824px) {
/* Styles */

}




@media (max-width: 1300px) {

}

/* Desktops and laptops ----------- */
@media (max-width : 1224px) {
	.centered{
		width:96%;
		padding:0 2%;
		}
.footer-blk.first{
	width:100%;
	margin-right:0;
	text-align:center;}
.footer-blk{
	width:24%;
	margin:5px 0.4%;}	
	
.brand_dropdown_cont, .featured_brands{
	width:100% !important;}	
	
.brand_dropdown_ads{
	display:none;}		
	
#NewsLetterForm{
	max-width:420px;
	width: 100%;
	display:inline-block;}		
	
#NewsLetterForm .btn{
	margin:0;}	
.bannerDotsContent ul li a{
		padding:12px 0 12px 15px;}
		
		
.featured .title-h2{
	text-align:center;}	
.products-container .product:nth-of-type(4n+1), .products-container .product:nth-of-type(4n+4), .products-container .product:nth-of-type(4n+1), .products-container .product:nth-of-type(4n+4){
	margin-right:auto;
	margin-left:auto;}
	
.featured{
	text-align:center;}
	
.featured .product{
	margin:8px 3px !important;}

.products-container{
	text-align:center;}
	
.products-container .product{
	margin:7px 5px !important;}	
	
.arrow_active_dot img{
	width:20px;}

.arrow_active_dot{
	top: 3px;}	
	
.mainMenu .brand_dropdown_cont{
	width:600px;
	}	
	
.account-login .new-users{
	width:100%;
	max-width:450px;}
	
ul.tabs{
	display:none;}	
	
.products_details ul.tabs{
	display:block;}	
	
.tabs_cont.mod .tab_container{
	border:none;}
.tabs_cont.mod{
	margin-top:15px;
	float:left;
	width:100%;}	
.tab_content{
	padding:0 20px;}
	
.tab_content .innerContent{
	padding:0;}	

.mainMenu .mainMenu-li-a{
	padding: 0 6px;}

	.shopping_cart_cont .table-b{
	overflow-x:scroll;}		
			
}

@media (max-width: 1160px) {
	.bannerDotsContent ul li a{
		padding:8.6px 0 8.6px 15px;}		
	.bannerSlickContent #banner_slick{
		width:620px;}
	.bannerDots {
    margin-left: 620px;
}
.products-category-section.mod2{
	margin-top:0;}
.advertsiement-slider{
	text-align:center;
	width:100% !important;}

.inner-brand-section{
	text-align:center !important;}
	
.supplier_cont, .supplier_video{
	margin-top:20px;
	float:none !important;
	display:inline-block;}
	
	
.supplier_video{
	width:100%;}		

.banner{
	margin-top:10px;}
.banMeeting .inner_supplier{
	margin-top:0;}

.bannerItem .banImg{
	min-height: 290px;
    width: -webkit-calc(100% - 225px);
    width: -moz-calc(100% - 225px);
    width: calc(100% - 225px);}
	
.banMeeting{
min-width:215px;}	


.arrow_active_dot{
	top: 3px;
	left: -10px;}	
	
.events_list .figure{
	width:49%;}
	
.events_list .figure.featured_figure{
	width:100%;
	padding-right:0;}	
	
.ul_mainMenu .brand_dropdown_slick a img{
	width:100%;}
	

		
	}

@media (max-width: 1060px) {
	.mainMenu .brand_dropdown_cont{
		width:100%;}
	.mainMenu #sub-dropdown-3.sub-dropdown{
		width:675px;}
	.bannerSlickContent #banner_slick{
		flaot:left;
		width:100%;}
	.bannerDots {
		display:none;
}	.bannerSlickContent{
	margin-right:0;}	

.banner_cont{
	margin-bottom:20px;}
	
.banner_cont .slick-dots{
	display:block !important;}
	
.contactlist .figure{
	width:33%;}	
	
.figure.featured_figure{
	width:66%;}		
		
	}

@media (max-width: 960px) {
	.sub_categories_list ul li{
		width:auto;}
	.btn {
		margin:2px;}
	.footerContent{
		text-align:center;}
		
.search_by{
	width:100%;
	    margin-left: 10px;
	margin-bottom:10px;}
	
.sub_category_select_img{
	width:100%;
	position:relative;}	
.sub_categories_list{
	text-align:center;}
.selected_category_h2{
	display:none;}	
.inner-search-bx{
	text-align:center;}	
.sub_categories_list_bx.mod, .sub_categories_list_bx{
	padding-left:0;}	
	
.inner-refine-search{
    float: none;
	margin:0;
    display: inline-block;}		

	
	.footer-blk{
		float:none;
		margin:5px;
		vertical-align:top;
		display:inline-block;
		width:200px;}
.header_bottom {
	margin-left:0;
	}
.opener{
	display:block;}	
.footer-blk{
	    padding: 2px 5px;}	
.footer .middleSide{
	width:100%;
	margin-left:0;
	}
.form-search{
	display:none;}
.menuMobCont{
	display:block;}	
	
.brand_dropdown_slick_cont{
	margin-top:30px;}	
	
.consultants_cont .innerItem{
	padding-right:8px;
	padding-left:8px;}	
	
.ul_mainMenu li a.active{
	background:none;
	}	
	
.ul_mainMenu.mod{
	margin-left:0;}	
.header_bottom{
	display:none;}
	.quarterLeftSideBar{
		float:right;
		width:100%;
		display:none;}
		

.home-bxs{width:96%;padding:0 2%;}
	
.mainMenu_mob{display:block;
	}
	
#dropdown-7{
	display:none;}	
	
.menu-categories, .new-header-ul{
	display:none;}	

.product{
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	}		
	
.innerFeaturedBrands{
	border-top:none;}	

.breadcrumbs{
	/*margin-top:15px;*/
	}	
	
.innerContent.mod2 .breadcrumbs{ 
padding:0;}	
.footer .centered, .breadcrumbs{
	/*width:100%;*/
	}
	
	
		
.web{
	display:none !important ;}
.delivery-call{
	text-align:center;}		
		
	.middleSide{
		width:100%;
		margin-left:0;}	
	.innerQuarterLeftSideBar{
		width:100%;}
	.ul_categories li{
		width:33%;
		float:left;
		margin-bottom:5px;}	
		
	.ul_categories .sub_category li{
		width:100%;}
	.sideBarbox{
		text-align:center;}			
	
.innerContent {
	padding:10px 15px;}
	
.shopping_cart_cont{
	}	
	
.table-b{
	overflow-x:scroll;}	

.my_credits .shopping_cart_cont .n-table{
	min-width:600px;
}	
.my_credits .col-md-3, .my_credits .col-md-9{
	width:100%;}	
.available_balance{
	float:left;
	width:100%;
	margin-bottom:15px;}	
.sub_category .fa{
	display:none;}
.mainMenu_mob ul li a{
	font-size:14px;}	
	
	
#PopupContainer .centered{
	width:90%;
	padding:0;}
.video iframe{
	    max-height: 300px;}
		
	.brands_details{
		width:100%;
		margin-right:0;}
	.inner_supplier{
	
		width:100%;}	
	.supplier_video{
		float:none;
		display:inline-block;
		    max-width: 350px;}
			
	.contactlist .figure{
	width:49.5%;}	
	
.figure.featured_figure{
	width:100%;
	padding-right:0;
	}	
	
.page-title.border{
	margin-bottom:10px;}
	
.form-item label{
	font-size:14px;}
	
.zoomContainer, .text-mouseover{
	display:none !important;}	
	
.wishlist_cont button{
	font-size:12px;
	   min-width: 112px;
	padding: 2px !important;}
	
.wishlist_cont button > span{
	width:100%;

	display:inline-block;
	}
	
.qty-month{
	min-width: 125px;}
	
.product-name{
	font-size:13px;}
	
.f-cart-title{
	display:inline-block;
	min-width:260px;}											
	}
		
@media (max-width: 800px) {
	.booking-home-ul-li{
		margin-bottom:20px;}
.menu-categories-bottom  li{
	float:left;
	width:100%;}		
	.brands-n-header .sort_order{
	margin-top:0;}
.products_details{
	width:100%;}
	
.products_gallery{
	width:100%;
	margin-bottom:45px;}
.article_content, .article_img{
	width:100%;
}

.article_img{
	max-width:150px;
	margin-bottom:10px;}	
			
.col2-set .col-1, .col2-set .col-2{
		width:100%;}
#PopupContainer .content{
		    padding: 0;
			margin:0;
			width:96%;}	
#PopupContainer .content .inner{
			border:2px solid #b2e3f6;}	
.events_list .figure{
	width:100%;}			

.events_list .description{
	min-height:inherit;}	
	
.events_list .figure{
	    padding-right: 0;
	}
.menuMobCont .ul_featured_brands{
			width:50%;
			border-right:none;}
	
.figure{
	margin-bottom:15px;}	
	
.events_list .figure.featured_figure .figureDetails{
	width:100%;}
	
.figure_img{
	float:left;
	width:100%;
	text-align:center;}	
	
.figure .figure_img{
	float:none;
	width:auto;
	}	

	
.events_list .figure_img span{
    width: 250px;
    display: inline-block;
    float: none;
	}
	
.product-grid-content{
	margin-right:0;}
	
.date{
	float:left;
	margin:5px 0;}	
	
.product-grid-related{
	float:left;
	margin-top:15px;
	text-align:center;	width:100%;}	
	
.inner-product-grid-related{
	float:none;
	display:inline-block;}			
	
.jconfirm .jconfirm-box{
	width:82% !important;
	padding:15px 1% !important;
	margin-left:2% !important;
	margin-right:2% !important;}
	
.cart .brand_dropdown_slick_cont{
	display:none;}	
.spa_section.mod label{
	width:32%;
	margin-right:1%;}
	
.option_select{
	display:none;}	
	
.options_list{
	margin-right:0;}		

.consultants_cont{
	text-align:center;
	}	
	
.booking-home h2{
	font-size:22px;}	
	
.booking-home-content{
	font-size:16px;}

.col-register-2{
	width:100%;}
.register-ads .innerItem {
    height: auto;
}
}	
		
@media (max-width: 680px) {
.inner-refine-search{
	text-align:center;}
	
.inner-refine-search .form-item{
	float:none;}	
	
.reset_btn{
	position:relative !important;}
	
.refine-search .form-item{
	margin-left:0;}	
	
.refine-search .form-item.autofomplete-form-item{
	width:100%;
	max-width:250px;}	
	
.reset-search .inner-refine-search{
padding-right: 0;}		
	.products-category-cont{
		margin-top:0;}
		
		
	#spaForm .form-item.col-3{
width:100%;	}
.row_form .form-item.col-3:nth-of-type(3n+2), .row_form .form-item.col-3{
	margin:0;
	}
	.opc-step .new-users, .account-create .form-item.gutter-right{
	width:100%;}
	.ul_categories li{
		width:49%;
		}
/*	.opc .step-title .number{
	 padding: 3px 9px;}	
	.opc .step-title h2{
		font-size:1em;}	*/
	.opc .step-title h2{
	font-size: 12px;
    line-height: 1.1;
    margin: 9px 0;}
	.cart .cart-right-column{
		width:100%;}	
		
	.product-grid-img, .product-grid-content{
		float:left;
		width:100%;
		margin-left:0;
	}
	
	 .product-grid-content{
		 margin-left:0;}
	
	
.welcome-message{
	display:none;}
	
.page_brands .products-category-cont .product, .page_products .products-category-cont .product{
	width:96%;
	margin:0 2%;
	max-width:226px;}				
		
	}
@media (max-width: 600px) {
	
.booking-banner{
	height:auto;
	padding:40px 0;}	
	
.booking-success .img{
	display:none;}	
	
.booking-banner-txt{
	font-size:22px;}	
.error-msg, .success-msg, .note-msg, .notice-msg{
	background-position:10px center !important;
	   padding: 25px 25px 25px 50px !important;
	}
.innerContent.account-register-mod{
	width:100% !important;
	margin:0 !important;}
.booking-home-ul-li{
	width:100%;}

.bannerItem .banImg{
	min-height:inherit;
    width: -webkit-calc(100%);
    width: -moz-calc(100%);
    width: calc(100%);}
	
.banMeeting{
	width:100% !important;
min-width:215px;}
	
.header-new-txt{

	display:none !important;
}	
	
.spa_section.mod label{
	width:48%;
	margin-right:1%;}		
.innerFeaturedBrands .featured_brand_bx{
	width:32.5%;}			
.header-top-right{
	position:absolute;
	top:0;
	right:0;
	margin-top:0;
	}
.logo{
	width:100%;
	margin-top:15px;
	text-align:center;}
	
.delivery-call{
	font-size:12px;
	margin-top:40px;}	
	
	
	
.mainMenu_mob ul li a .lbl{
	display:none;}	
	
.table-categories tr td:first-child{
		display:none;}
		
.table-categories tr td:last-child{
	width:15px;}				

.home-ads-bottom{
	width:100%;
	margin:10px 0;}
	
.menuMobCont .ul_featured_brands{
			width:100%;
			border-right:none;}	
			
.figure.featured_figure .figureDetails{
	margin-right:0;}				
	
.figure .figure_img{
	float:left;
	width:100%;
	margin-top:8px;
	text-align:center;
	}	
	
.figure_img span{
	float:none;
	display:inline-block;}	
	
.contactlist .figure {
	width:100%;
	padding-bottom:15px;
	border-bottom:1px solid #CCC;}
	
.btn-wishlist{

	margin-top:15px;
	}
	
.related_products_slick_cont{
	margin-top:25px;}	
	
.related_product button{
	top:-40px !important;}	
	
.related_product .title-h2 h2{
	font-size:20px;}		
			
}


/* Smartphones (portrait and landscape) ----------- */
@media (max-width : 480px) {
.related_product .title-h2 h2{
	font-size:18px;}	
.spa_section.mod label{
	width:100%;
	margin-right:0;}
	
.footer-blk{
	width:100%;
	margin:0;
	padding-bottom:5px;
	border-bottom:1px solid #999;
	margin-bottom:5px;
	}
	
.footerContent .footer-blk:last-child{
		border-bottom:none;}
.ul_categories li{
	width:100%;}	

.product-grid-related-brand{
	display:none;}
	
.innerFeaturedBrands .featured_brand_bx{
	width:100%;}	
	.phone_3{
		width:100px !important;
		}	
		
	.phone_1, .phone_2{
		width:40px !important;
		}
		
.form-search-txt input{
	font-size:10px;
	}							
		}


/* Smartphones (portrait) ----------- */
@media  (max-width : 320px) {
/* Styles */
.category-asc{
	display:none;}
.header_top{
	width:100%;
	margin-top:5px;
	margin-bottom:-10px;
	text-align:center;}
	
/*.currency_bx{
	float:none;
	margin-right:0;
	display:inline-block;}*/
	
/*.currencies{
	position:relative;
	top:0;
	float:left;
	width:100%;
	right:0;
	margin-bottom:10px;
-webkit-box-sizing: border-box; / Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x /
 -moz-box-sizing: border-box;    / Firefox 1 - 28 /
 -o-box-sizing: border-box;
 box-sizing: border-box;}	*/
.logo{
	float:none;
	display:inline-block;}	
	
.lbl_shdw_bx{
	float:right;
	display:inline-block;}	
	
/*.lbl_shdw_bx{
	padding:3px;}*/	
	
.currency_bx:hover .lbl_shdw, .currency_bx.active_currencies .lbl_shdw{

-webkit-box-shadow: 0px 0px 3px -1px  rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 3px -1px  rgba(0,0,0,0.75);
box-shadow: 0px 0px 3px -1px  rgba(0,0,0,0.75);
	}	
/*.currency_bx.active_currencies .lbl_shdw_bx	{
	padding:3px;}*/
	
	
	
/*.currency_bx.active_currencies .lbl_shdw{
background:white;
-webkit-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
	}	*/		
}



@media (max-width: 700px) {
.pp_pic_holder.pp_default { width: 90%!important; left: 5%!important; overflow: hidden; }
div.pp_default .pp_content_container .pp_left { padding-left: 0!important; }
div.pp_default .pp_content_container .pp_right { padding-right: 0!important; }
.pp_content { width: 100%!important; height: auto!important; }
.pp_fade { width: 100%!important; height: 100%!important; }
a.pp_expand, a.pp_contract, .pp_hoverContainer, .pp_gallery, .pp_top, .pp_bottom { display: none!important; }
#pp_full_res img { width: 100%!important; height: auto!important; }
#pp_full_res iframe {width: 100%!important; height: 250px!important; }
.pp_details { width: 100%!important; padding-left: 3%; padding-right: 4%; padding-top: 10px; padding-bottom: 10px; background-color: #fff; margin-top: -2px!important; }
a.pp_close {right: 50px!important; top: 0px!important;}
.talent_box2{width:100%}
.project_back{float:right !important;position:relative !important;top:0 !important;margin-bottom:20px;}
.enquiry_close{display:block;}}
