.page-title h1, .page-title h2 {
    margin: 0;
    min-height: 1.3125em;
}
#size-chart > ul, #size-chart ul.content {
    list-style-type: none;
}

.page-title {
    margin-bottom: 20px;
}

.size-conversion-body #size_conversion {
    margin-top: 40px;
}


#size-chart h1 {
    background: #f2f2f2 none repeat scroll 0 0;
    box-shadow: 3px 3px 0 0 #d1d1d1;
    display: inline-block;
    font-size: 16px;
    margin: 0 0 15px;
    padding: 10px;
}

#size-chart .size-conversion-body table {
    margin: 20px 0 30px;
    width: 100%;
}
#size-chart table {
    border-right: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
    width: 100%;
}
#size-chart table tr:nth-child(2n+1) {
    background-color: #ebebeb;
}


#size-chart table tr td {
    border-bottom: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    font-size: 0.9em;
    padding: 5px 6px;
    text-align: center;
}

.size-conversion-body #size_conversion table tr th {
    background-color: #ebebeb;
    border-bottom: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    padding: 5px 6px;
    text-align: center;
    text-transform: uppercase;
}

.page_size_guide{
	width:auto;
    background: #fff none repeat scroll 0 0;
    padding: 20px;
    text-align: left;
}