@import url(https://fonts.googleapis.com/css?family=Roboto);
ul{
	 padding:0;} 
  
body{
	width      : 100%;  
	margin     : 0px; 
	padding    : 0px;
	color:#000000;
	font-size:12px;
	font-family: 'Roboto', sans-serif;
}
img{
	max-width:100%;
	}

ul, ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}	
a{ 
   text-decoration:none; 
   color       :#333333;
   cursor:pointer;
}

.img_container{
    width: 100%
}
.image1{
    min-width: 100%;
    display: block;
    max-width: 100%;
    height: auto;
}

.contact-form{
	float:left;
	width:100%;}
	
.contact-form .third{
	width:33%;}
	
.contact-form .third:nth-of-type(3n+2){
	margin:0 0.5%;}			

.products_details_3.product_details_descrioption{
	margin-bottom:0;
	max-height:45px;
	overflow:hidden;
	}
	
.products_details  .read_more{
	display:none;
	float:left;
	margin-bottom:5px;}	

.brands-n-header .page-title{
	border-bottom:1px solid #CCC; 
	}
	
.brands-n-header .sort_order{
	margin-top:-37px;}	
.account-miles{
	float:left;
	width:100%;
	font-size:15px;
	color:#afafb6;}

.zoomWindowContainer .zoomWindow{
	border:2px solid #CCC !important;
	left:103% !important;
	display:none;
	}
.zoomContainer .zoomLens{
	cursor:crosshair !important;}
.non-exportable-img{
    position: absolute;
    top: -2px;
    z-index: 50;
	display:block;
    left: -2px;}
	

	
.stock-status{
	float:left;
/*	font-size:16px;
	text-shadow: 1px 2px 2px rgba(150, 150, 150, 1);*/
	margin-bottom:5px;
	margin-top:5px;
	color:#666;
	}
	
.stock-status{
	float:right;
	color:#F00;
	font-size:13px;}	
		
	
.product .stock-status{
	height:28px;}			
	
#NewsLetterForm .error-msg, #NewsLetterForm .success-msg{
	padding:8px !important;
	background-image:none;
	margin:4px 0;}	
	
.text-mouseover{
	float:left;
	width:100%;
	text-align:center;
	color:#afafb6;
	margin:2px 0;
	font-size:12px;}
	
.click-to-enlarge{
	float:left;
	width:100%;
	font-size:13px;
	margin-bottom:5px;
	text-align:center;
	color:#84ddfd;}	

h2.legend{
	
	padding-bottom:8px;}	
	
/*.category-li .category_title a.a_active{
	padding-left:10px;}	*/

a:hover {
    color:#a0d9f4;
}
.centered{
	width:1200px;
	margin:0 auto;}
	
.ul_mainMenu li.dropdown{
	width:auto;}	
.captchaImage{
	float:left;
	width:100%;}	
#captcha{
	max-width:400px;}	
.qty {
		float:none !important;
		display:inline-block !important;
		min-width:30px;
		width:45px !important;
		text-align:center;}
		

		
.retail_price{
	margin-top:8px;
	height:25px;
	font-style: italic;}		
		
.data-table .item-options.mod{
	margin-left:0;
	margin-top:10px;}	
.table-b{
	float:left;
	width:100%;
}	
.n-table{
	min-width: 950px;
	float:left;
	width:100%;
	}	
	
.wishlist_cont .product-image{
		width:65px;
		display:inline-block;
		}
		
			
/*///////////////////////////////////////////////QUESTION & ANSWER//////////////////////*/
	.question_form{
		float:right;
		width:100%;}	
		
.form-item.col-3{
		width:32%;}
.row_form .form-item.col-3:nth-of-type(3n+2){
	margin:0 2%;
		}
	
.question_answer{
 border-bottom: 1px dashed #999;
    float: left;
    margin-bottom: 15px;
    padding-bottom: 10px;
    width: 100%;}	
.question_head{
		float:left;
		width:100%;}
.question_head h3{
	float:left;
	color:#84ddfd;
	margin-right:10px;
	font-size:18px;
	font-weight:600;
	line-height:20px;}
	
.question_form h2{
		float:left;
	color:#636363;
	margin-right:10px;
	font-size:18px;
	font-weight:600;
	line-height:20px;
	text-transform:none;
	font-weight:normal;
	margin-bottom:10px;
	}		
	
.question_head date{
	float:left;
	line-height:20px;
	font-size:14px;
	color:#CCC;}	
	
.question_content{
	float:left;
	font-size:14px;
	color:#636363;
	width:100%;}	
	
.answer{
    color: #636363;
    font-size: 14px;
    padding-left: 35px;
    padding-top: 3px;
}	

.answer p, .question_content p{
	padding:0;
	margin:0;}
	
.inner_ques_ans{
    background: #e4e4e4 none repeat scroll 0 0;
    border-radius: 150px;
    color: white;
    float: left;
    font-size: 20px;
    padding: 2px 0;
    text-align: center;
    width: 29px;
}	
	
.question{
	padding-left:35px;}				
/*///////////////////////////////////////////////DROPDOWN///////////////////////////////*/
.dropdown{
	position:relative;}	
	
.no-pointer{
	cursor:default !important;}	
	
.mainMenu .sub-dropdown{
    display: none;
    left: 0;
    padding: 0;
    position: absolute;
    top: 35px;
    /*width: 240px;*/
	width:99%;
	min-width: 125px;
    z-index: 1000;
	background:#404040;
}

.mainMenu .sub-dropdown#sub-dropdown-3{
	top:36px;
	}
.mainMenu .sub-dropdown li{
	margin:0;
	}

.mainMenu .sub-dropdown#sub-dropdown-3{
	width:auto;}		
.mainMenu .sub-dropdown li.dropdown-li a{
	margin-left:0 !important;
	/*padding-left:0 !important;*/
	color:#404040 !important;
	padding:6px 10px !important;
	
	width:100%;
	}	
	
.mainMenu .sub-dropdown li.dropdown-li a.active{
/*	color:#484848 !important;
	background:#e8e8e8;*/

	background:#D8D8D8;
	color:white !important;}	
	
.ul_mainMenu.mod .sub-dropdown li.dropdown-li:first-child{

	margin-left:0;
	}	
.mainMenu .sub-dropdown li.dropdown-li a:hover{
	/*color:#a0d9f4 !important;*/
	/*color:#404040 ;*/
	color:white !important;
	/*background:#e8e8e8;*/
	background:#D8D8D8;}	
	
.mainMenu .sub-dropdown li.dropdown-li{
	padding:0;
	}	
.dropdown-li{
	flaot:left;
	width:100%;
	}
	
.ul_mainMenu li .dropdown-li a, .ul_mainMenu li .dropdown-li:first-child a{
	float:left;
	padding:6px 10px;
	
	color:white;
	border-bottom:none;
	}
	
.border-dropdown-top{
	position:absolute;
	top:0;
	left:0;
	height:1px;
	background:red;
	width:100%;}	
	
	
	
#loader-bx, .loader-bx{

	float:right;
	width:100%;
	text-align:center;
}
	
	
.loader {
	width:50px;
	height:30px;
	margin:5px 0;
	margin:0 5px;
	display:inline-block;
	background:url(../img/482.GIF) no-repeat center center
}

.loader{
	float:left;
	width:100%;
	height:30px;
	display:inline-block;
	background:url(../img/482.GIF) no-repeat center center
	}

.loader-miles{
	background-image:url(../img/ajax-loader.gif);
	background-position:center center;
	background-repeat:no-repeat;
}
.mainMenu .mainMenu-li-a{
	/*border: 1px solid white;*/
	padding: 0 10px;
	line-height: 31px;
	height: 31px;
	margin-left:0;
	position:relative;
	margin: 0 0 -1px 0;
	padding:0 23px;
	/*background:white;*/
	/*color:#7a7a7a;*/
	color:#afafb6;
	/*border-bottom:none !important;*/
	

	}
	
.dropdown:hover .mainMenu-li-a{
	z-index:1500;
	/*border: 1px solid #81dbfc;*/
    float: left;
	overflow: hidden;
    position: relative;
	color:#404040 ;
	/*background:#f6f6f6;*/
	background:#e8e8e8;
}
	
.dropdown .sub-dropdown{
	 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    /*background: #fff none repeat scroll 0 0;*/
	
/*    border-color: #81dbfc #81dbfc #81dbfc;
    border-image: none;
    border-style: solid solid solid;
    border-width: 1px 1px 1px;*/
	/*background:#f6f6f6;*/
	background:#e8e8e8;
    clear: both;
    float: left;
	width:100%;
	/*padding:4px 0;*/
 }
 
 .featured_brands{
	 background:#e8e8e8;
	 }
 

 
/*//////////////////////////////////////////////////MESSAGES\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.messages {
    margin: 0 0 10px;
    overflow: hidden;
	float:left;
	width:100%;

}
.messages, .messages ul {
    list-style: outside none none !important;
    margin: 0;
    padding: 0;
}

.success-msg {
    background-color: #e9ffca;
    background-image: url("../img/i_msg-success.png");
    border-color: #296a23;
    color: #296a23;
}

.error-msg {
    background-color: #f5dad3;
    background-image: url("../img/i_msg-error.png");
    border-color: #c02230;
    color: #c02230;
}

.error-msg, .success-msg, .note-msg, .notice-msg {
    background-position: 25px center !important;
    background-repeat: no-repeat !important;
    font-size: 12px !important;
    padding: 25px 25px 25px 80px !important;
	margin:15px 0;
	text-align:left;
}

.note-msg, .notice-msg {
    background-color: #fdeda4;
    background-image: url("../img/i_msg-note.png");
    border-color: #7c622a;
    color: #7c622a;
}



<!--//////////////////////////////////////////HEADER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
.header{
	float      : left;
	width      : 100%;
}

.featured_brands{
	float:left;
	padding:5px 10px;
	width:100%;}	
.brand_dropdown_slick .item{
	text-align:center;}	
.brand_dropdown_slick .item  .border{
	height:50px;
	width:2px;
	display:none;
	background:#404040;
	float:left;
	margin-top:5px;
	}
	
		
	
.innerFeaturedBrands{
	float:left;
	width:100%;
	padding:2px 0;
	/*border-bottom:2px solid #e4e4e4;*/
	}	
	
.innerFeaturedBrands .featured_brand_bx{
	width:12.5%;
	display:inline-block;
	text-align:center;
	vertical-align:top;
	}	
.ul_featured_brands{
	float:left;
	width:12.4%;
	padding:0;
	margin:0;
	width:16.6%;
	/*border-right:1px solid #e1e1e1;*/}
	
.featured_brands  .ul_featured_brands:last-child{
	border-right:0;}
.featured_brands a{
	width:100%;
	padding:5px 0;
	}	
.ul_mainMenu .featured_brands li {
	padding:2px 0;
	}	
.ul_mainMenu .featured_brands li a{
	font-size:12px;
	text-align:left;
	padding-left:5px;
	}	
.featured_brands a:hover{
	/*background:#e8e8e8 !important;color:#404040 !important;*/
	background:#D8D8D8 !important;color:white !important;}	
#sub-dropdown-3{
	padding-bottom:0;}		
#sub-dropdown-3 .brand_dropdown_cont{
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
	padding-top:0;
	}	
	

.ul_featured_brands li{
	float:left;
	width:100%;
	/*padding-left:8px !important;*/
	text-align:center;
	/*border-top:1px solid #e1e1e1;*/ }	
	
.ul_featured_brands li a{
	margin-left:0 !important;}	

.logo{
	float:left;}
	
.header-top-right{
	float:right;
	margin-top:20px;}
	
.innerContent{
	float:left;
	/*padding:15px 0;*/
	width:100%;}		
	
.ul-header-top{
	display:block;
	list-style:none;}	
.ul-header-top li:hover ,.ul-header-top li a:hover{
	color:#a0d9f4}	
.ul-header-top li{
	padding:2px 10px;
	color:#7a7a7a;
	font-size:14px;
	display:inline-block;}
.ul-header-top li a{
	color:#7a7a7a;
	position:relative;
	}

.currency_bx:hover .currency_arrow_dwn,.currency_bx.active_currencies .currency_arrow_dwn {
	 border-color: #a0d9f4 transparent transparent;}
	
.currency_bx:hover .lbl_shdw, .currency_bx.active_currencies .lbl_shdw{
	/*border:1px solid #a0d9f4;*/
	/*border-bottom:none;*/
	background:#f6f6f6;
	color:#404040;
}

.currency_bx:hover .lbl_shdw a, .currency_bx.active_currencie .lbl_shdw a{
	color:#404040;}		
	
.currency_bx {
    float: right;

	margin-bottom: -13px;
    position: relative;
}

.currency_bx:hover .currencies, .currency_bx.active_currencies .currencies{
	display:block;}
	
/*.currency_bx:hover .lbl_shdw_bx, .currency_bx:hover .lbl_shdw, .currency_bx:hover .current_currency{
	background:white;}	*/

	
		

.lbl_shdw_bx {
    box-sizing: border-box;
    float: left;
    overflow: hidden;
	/*width:70px;*/
 	position: relative;
    z-index: 4003;
}

.lbl_shdw {
    float: left;
    padding: 4px 10px;
    z-index: 4003;
	position:relative;
	background:white;
	border:1px solid white;
	border-bottom:none;
	
}
.currency_lbl {
    float: left;
    margin-right: 5px;
    margin-top: 2px;
}

.currency_txt{
	    display:inline-block;
	    top: -5px;
		font-size:11px;
		position:relative;}
	
.current_currency {
    float: left;
    padding: 3px 0 3px 2px;
    position: relative;
}
.currency_arrow_dwn {
    border-color: #888 transparent transparent;
    border-style: solid solid none;
    border-width: 4px 4px 0;
    display: inline-block;
    height: 0;
    margin-bottom: 2px;
    vertical-align: middle;
    width: 0;
}
.currencies {
  /*background-color: #fff;*/
    /*border: 1px solid #81dbfc;*/
	background-color: #f6f6f6;
    /*box-shadow: 0 0 3px -2px rgba(0, 0, 0, 0.75);*/
    display: none;
    line-height: 1.5em;
    list-style: outside none none;
    /*min-width: 40px;*/
	width:100%;
    /*padding: 10px 20px;*/
    position: absolute;
    right: 0;
    text-align: center;;
    top: 31px;
    z-index: 4002;
}

.ul_currency {
  /*float: left;*/
  display:inline-block;
    list-style: outside none none;
}	

.ul-header-top .ul_currency_li {
    margin: 3px 0;
    padding: 2px 0 2px 2px;
    white-space: nowrap;
	display:block;
}

.ul-header-top .ul_currency_li.active a{
	color:#a0d9f4;
	}

.ias-trigger-next a {
    background-color: #84ddfd;
    border: 0 none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    line-height: 26px;
		
    margin: 0;
	margin-top:10px;
    overflow: visible;
    padding: 5px 12px;
    text-align: center;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s;
    vertical-align: middle;
    white-space: nowrap;
}	

.ias-trigger-next a:hover{
	color:black;
	background:#929292;}
.glossary_section{
	float:left;
	width:100%;
	text-align:center;
	}	
	
.mainMenu  .letter_block{
	width: 85px;
	padding:1px 5px;
	display:inline-block;
	vertical-align:top;
	margin-bottom:2px;
	}	
	
.mainMenu  .letter_title{
	float:left;
	width:100%;
	text-align:center;
	background-color: #81dbfc;
	color:white;
	padding:2px 0;
	margin-bottom:5px;
	}	
.mainMenu  .ul_letters{
	position:relative;
	background:white;
	width:100%;
	float:left;
	padding:0;}	
	

.brand_dropdown_slick_cont .slick-prev, .brand_dropdown_slick_cont .slick-next {
    height: 35px;
    top: -35px;
    width: 35px;
	background-color:#999;
	background-repeat:no-repeat;
	background-position:center center;
}	

.brand_dropdown_slick_cont .slick-prev:hover, .brand_dropdown_slick_cont .slick-next:hover {
		background-color:#404040;}

.brand_dropdown_slick_cont .slick-prev {
    background-image:url("../img/arrow_slick_pages_left.png");
    right: 35px;
}

.brand_dropdown_slick_cont .slick-next {
    background-image: url("../img/arrow_slick_pages_right.png");
    right:0;

}		
	
.mainMenu  .ul_letters li{
	float:left;
	width:100%;
	text-align:center;
	padding:0;
	 line-height: 7px;
	padding:2px 0;}	
.mainMenu  .ul_letters li a{
	float:none;
	display:inline-block;
	margin-left:0;
	font-size:11px;
	color:#404040;}	
	
.mainMenu  .brand_dropdown_cont{
	/*background:white;*/
	float:left;
	width:845px;
/*-webkit-box-shadow: 0px 0px 7px 0px rgba(132,221,253,1);
-moz-box-shadow: 0px 0px 7px 0px rgba(132,221,253,1);
box-shadow: 0px 0px 7px 0px rgba(132,221,253,1);*/
	padding:15px 20px;}			
.icon{
	vertical-align:middle;
	display:inline-block;}	
.miles .product-img{
	background:#F5F5F5;
	}	
.miles_title{
	float:left;
	width:100%;
	background:#84ddfd;
	color:white;
	text-align:center;

	font-size:18px;
	display:none;

	padding:5px 0;
	}	
	
	
.currency-label{
	float:left;
	width:100%;}
.form-search-txt input {
    background: white none repeat scroll 0 0;
    border: 1px solid #e4e4e4;
    color: #b7b7b7;
    padding: 5px 35px 5px 7px;
    transition: all 0.4s ease 0s;
    width: 230px;
	font-size:12px;
}
.form-search-txt:focus input{
		background:red !important;}
.btn_voucher.active{
	pointer-events: none;
	opacity:0.7;}
.miles .product .product-title{
	font-size:18px;
	color:#25b0e5;
	}
	
.ul_mainMenu .brand_dropdown_slick a{
	display:inline-block;
	/*min-height:50px;*/
	padding:3px 2px;
	border:1px solid white;
	/*border:1px solid #f6f6f6;*/
	}	
	
.brand_dropdown_slick a:hover{
	/*border:1px solid #25b0e5 ;*/}	
	
.miles .product-description.mod{
	color:#bdbdbd !important;
		}
.miles .btn-cart{
	font-size: 18px;
    padding: 3px 8px;}
	
.miles .btn-cart .fa{
		margin-left:-3px;}
		
		
.form-search {
	display:inline-block;
	vertical-align:middle;
}	
.form-search-txt {
    position: relative;
}
.keywords::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: #CCC;
}

.keywords:-moz-placeholder { /* Firefox 18- */
  color:#CCC;
}

.keywords::-moz-placeholder { /* Firefox 19+ */
  color: #CCC;
}

.keywords:-ms-input-placeholder { /* IE 10+ */
  color: #CCC;
}

.keywords::-ms-input-placeholder { /* Edge */
  color: #CCC;
}

.keywords:placeholder-shown { /* Standard one last! */
  color:#CCC;
}			

.miles .box a{
	margin-top:5px;
	display: inline-block;
	color:#84ddfd;}
.miles .box a:hover{
	color:black;}
.form-search .button {
    background-color: #e4e4e4;
    color: white;
    font-size: 13px;
    padding: 2px 0;
    position: absolute;
    right: 0;
    top: 0;
	height:100%;
    width: 40px;
}	

.banner{
	float:left;
	width:100%;}
	
.bannerDots{
	margin-left:720px;}
	
/*.bannerDotsContent{
	float:left;
	width:25%;
}
*/
.bannerDotsContent ul{
	display:inline-block;
	padding:0;
	width:100%;
	list-style:none;}	
.bannerDotsContent ul li:first-child{
	border-top:1px solid #b9b9b9;}
.bannerDotsContent ul li{
	float:left;
	width:100%;
	text-align:center;
	border-bottom:1px solid #b9b9b9;
	border-top:1px solid #f0f0f0;}
	
.bannerDotsContent ul li a{
	float: left;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
     color: #7a7a7a;

	padding:11.4px 0 12px 40px;
	text-align:left;
	text-transform:capitalize;
    position: relative;
    width: 100%;}
	
.bannerDotsContent ul li a.active, .bannerDotsContent ul li a:hover{
	color:#a0d9f4;
	}	
	
.arrow_active_dot {
    left: -28px;
	display:none;
    position: absolute;
    top: -1px;
}

.bannerDotsContent ul li a.active .arrow_active_dot{
	display:block;}
.banner_cont{
float:left;
	width:100%;}
/*.slick_pages{
	float:left;
	width:100%;}*/	
.bannerSlickContent{
	margin-right:25%;}

.banner_cont .slick-dots{
	display:none !important;}	
	
.bannerSlickContent #banner_slick{
	width:720px;
	float:left;
	}		
.brand_dropdown_slick_cont{
	float:left;
	width:100%;
	padding:5px;
	text-align:center;
	/*background:white;*/
	border:4px solid #f6f6f6;
	border-top:none;
	background:#f6f6f6 ;
	padding-top:10px;
	/*margin-bottom:10px;*/}	
	
	
.ul_mainMenu .brand_dropdown_slick_cont  a{
	float:none !important;
	display:table-cell !important;
	border:1px solid white;
	
	}
	
.brand_dropdown_slick {
	background:white;}	
	
.ul_mainMenu .brand_dropdown_slick_cont  a:hover{
	border:1px solid #84ddfd;}		
	
.ul_mainMenu .brand_dropdown_slick_cont  a{
	opacity:0.8;}	
.brand_dropdown_slick_cont .slick-prev, .brand_dropdown_slick_cont .slick-next{
	border-radius:150px;
	width:25px;
	height:25px;
	}	
.banner_slick{
	float:left;
	width:100%;}			
.button {
    background-color: #e4e4e4;
    border: 0 none;
    color: #ffffff;
	font-size:13px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    overflow: visible;
    padding: 0 12px;
    text-align: center;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s;
    vertical-align: middle;
    white-space: nowrap;
}

#PopupContainer .centered{
	width:60%;
	}
.innerItem{
	float:left;
	width:100%;}
	
.item .innerItem{
	cursor:default;}
	
.brand_dropdown_slick .item .innerItem{
	/*border-left:2px solid #e4e4e4;*/
	border-left:3px solid #f6f6f6;
	height:92px;
	background:white;
	}
	
.brand_dropdown_slick .item:first-child .innerItem{
	border-left:none;}	
		
.box-sizing, .footer-blk, .figure, .figure_content, .products_thumb .item, .related_product .item, .step-title, .opc-step .new-users, .textarea, .textbox, .dropdown dd ul, .ul_mainMenu li .dropdown-li a, .success-result, .supplier_blk, .productsAttribuesOptions, .opc .step, .addresses-list .addresses-primary .item, .addresses-additional .item, .box-title, .inner-box-content, .letter_block, .bannerDotsContent ul li a, .brand_dropdown_slick_cont, .r-PriceSegments, .r-PriceSegments ul, .ul_featured_brands li, .dropdown-li, .testimonials_description, .inner_testimonials_description, .tab_head, .menuMobCont, .innerContent, .breadcrumbs, .featured_brands, .btn_download, .mainMenu .sub-dropdown li.dropdown-li a, .sub_category, .ul_categories li a, .ul_mainMenu .featured_brands li a, .consultants_cont .innerItem, .consultant_details, .btn-wishlist{
	 -webkit-box-sizing: border-box; / Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x /
 -moz-box-sizing: border-box;    / Firefox 1 - 28 /
 -o-box-sizing: border-box;
 box-sizing: border-box;
 }
 
 

.header_bottom{
	 margin-left: 229px;
	}
.opener{
	display:none;}	
.opener .minus {
    display: none;
    margin-top: 11px;
}

.opener .plus {
    margin-top: 11px;
}


.menuMobCont .ul_mainMenu .ul_featured_brands  li a{
	color:#6e6e6e !important;}

/*.opener:hover{
	 background-color: rgba(0, 0, 0, 0.05);}*/

	.opener {
    cursor: pointer;
    display: none;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 100%;
    max-height: 45px;
    padding: 0 15px;
	color:white;
    position: absolute;
    right: 0;
    text-transform: none;
    top: 0;
}	
.mainMenu{
	float:left;
	margin: 6px 0;
	width:100%;}	
	
.ul_mainMenu{
float:left;
    padding-left: 0;
}	

.ul_mainMenu.mod{
	float:left;
	margin-left:20px;}
	
.ul_mainMenu li{
	float:left;
	color:#404040;
	cursor:default;
	font-size:14px;
	margin:2px 4px;
	position:relative;
	 padding: 5px 0;
	 text-transform:capitalize;
	display:inline-block;
	/*margin:2px 5px;*/}	
	
.zoom-image {
    max-width: 424px;
    width: 100%;
}	
	
/*.ul_mainMenu.mod li:first-child a{
	padding-left:23px;}*/
	
/*.ul_mainMenu.mod .sub-dropdown li:first-child a{
	padding-left:10px;
	}		*/
	
.ul_mainMenu li a{
color:#404040;
display:inline-block;
margin-left:8px;
font-size:14px;
cursor:pointer;
/*border-bottom:2px solid white;*/

	}	
.ul_mainMenu li a:hover, #menuMobCont .ul_mainMenu li.active a{
	color:#a0d9f4;}	

.ul_mainMenu li a.active{
	/*color: #a0d9f4; */
	color:#404040 ;
	/*background:#f6f6f6;*/
	background:#D8D8D8;}	
.ul_mainMenu li:last-child{
	margin-right:0;}
.ul_mainMenu li:first-child a{
	margin-left:0;
	/*padding-left:10px;*/}
.ul_mainMenu.mod li:first-child {
    margin-left: 18px;
}	

.ul_mainMenu li:first-child{
	padding-left:0;
	margin-left:0;}	
	
.ul_mainMenu li.dropdown:first-child{
	margin-left:-22px;
	}	
/*.ul_mainMenu li:first-child a{
		margin-left:0;}*/
.ul_mainMenu_border_left{
	display:inline-block;
	background:#9ce1fc;
	width:1px;
	border:1px solid #bfecfd;
	position:absolute;
	top:0;
	left: -10px;
	height:100%;
	display:none;
}


.count {
 background-color: red;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    height: 18px;
    left: 10px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: -8px;
    width: 18px;
}
.checkout-h  .fa{
	color:#a0d9f4;
	font-size: 20px;}
	
	
/*//////////////////////////////////////////FOOTER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/	
.footer{
	float:left;
	width:100%;
	padding-top:20px;
	background:#efefef;
	padding-bottom:20px;}
	
#Copyright {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin-top: 55px;
    font-size: 13px;
    color: #444444;
  
    border-top: 1px solid #444444;
}	
.footerContent{
	float:left;
	width:100%;}	
.footer-blk{
	padding:2px 15px;
	display:inline-block;
	float:left;
	color:#aaaaaa;
	width:24.5%;}	
.footer-ul{
	float:left;
	width:100%;
	padding:0;
	list-style:none;
	color:#767676;
	margin:0;}	
	
.footer-ul li{
	color:#767676;
	float:left;
	margin:1px 0;
	width:100%;}	

.footer-ul li a{
	color:#aaaaaa;
	font-size:13px;
	display:inline-block;}
.footer-ul li a:hover{
	color:#a0d9f4;}	
	
.footer-blk-title{
	color:#767676;
	float:left;
	font-size:19px;
	margin-bottom:5px;
	width:100%;}

.footer-blk.first{
	padding-left:0;}	
.google-plus{
	width:1.28571em;
	height:12px;
	background:url(../img/icons/google_plus.png) no-repeat center center;}
	
.footer-ul li a:hover .google-plus{
	background:url(../img/icons/google_plus_hvr.png) no-repeat center center;
	}			
	
/*.footer-blk .fa-fw{
	text-align:left;
	}*/
/*//////////////////////////////////////////BREADCRUMBS\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.breadcrumbs{
	float:left;
	width:100%;
	margin-bottom:10px;
	}
.breadcrumbs ul{
	list-style:none;
	display:inline-block;}	
.breadcrumbs ul li{
	color:#84ddfd;
	display:inline-block;}
.breadcrumbs ul li.divider{
	margin:0 4px;}	
.breadcrumbs ul li a{
	font-size:14px;
	color:#84ddfd;
	}	
	
.breadcrumbs ul li a:hover{
	color:#404040;}
	
		
	
/*//////////////////////////////////////////////////MESSAGES\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.messages {
    margin: 0 0 10px;
    overflow: hidden;
	float:left;
	width:100%;

}
.messages, .messages ul {
    list-style: outside none none !important;
    margin: 0;
    padding: 0;
}

.success-msg {
    background-color: #e9ffca;
    background-image: url("../img/i_msg-success.png");
    border-color: #296a23;
    color: #296a23;
}

.error-msg {
    background-color: #f5dad3;
    background-image: url("../img/i_msg-error.png");
    border-color: #c02230;
    color: #c02230;
}

.error-msg, .success-msg, .note-msg, .notice-msg {
    background-position: 25px center !important;
    background-repeat: no-repeat !important;
    font-size: 12px !important;
    padding: 25px 25px 25px 80px !important;
	margin:15px 0;
}

.note-msg, .notice-msg {
    background-color: #fdeda4;
    background-image: url("../img/i_msg-note.png");
    border-color: #7c622a;
    color: #7c622a;
}


.success-result{
	float:left;
	width:100%;
	background-size:15px;
	text-align:left;
	color:#090;
	padding:8px 0;
}
.success-result img{
	max-width:15px;
	margin-right:5px;}		

/*//////////////////////////////////////////LEFT SIDE BAR\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/


/*.innerQuarterLefttSideBar{
	float:left;
	width:100%;}*/
/*.quarterLeftSideBar{
	float:left;
	width:14%;}*/
	
.innerQuarterLeftSideBar{
	width:200px;
	float:left;
	}	
	

	
.newsletter_cont{
	display:none;
	margin-top:15px;}	
	
#PopupLoader .newsletter_cont{
	display:block;}	
	
.newsletter_cont .success-result{
		margin-top:-10px;}
	
.newsletter_cont .textbox{
	font-size:11px;
	}
	
.newsletter_cont .form-item label{
		font-size:12px;}
		
.newsletter_cont .btn{
	font-size:12px;
	padding:1px 9px;}		
	
.ul_categories{
	float:left;
	width:100%;
	list-style:none;}	
	
.ul_categories li{
	width:100%;
	font-size:15px;
	float:left;
	/*margin-bottom:3px;*/
	/*border-bottom: 1px dashed;*/

	display:inline-block;
	color:#7a7a7a;}
	

	
.category-li.category-li-1{
}	

.category_title a{
padding-top:3px;
float:left;
padding-bottom:3px;
padding-left:12px;
	}

.ul_categories li a{
	float:left;
	width:100%;
	
}
	
.category_title_2 a{
		padding-top:4px;
	padding-bottom:4px;
	padding-left:15px;
	padding-right:15px;
	float:left;
	width:100%;
	}	
	
#updateChecklist .n-table{
	min-width:600px;}	

.category-li.a_active .category_title a{
	/*background:#e8e8e8;
	color:#404040;*/}
	

/*.category-li .category_title a.a_active{
	background:#e8e8e8;
	color:#404040;}	*/
	
.category-li .sub_category_2 a:hover{
/*    background: #e8e8e8;
    color: #404040;*/
	/*background:#999;*/
    color: #81dbfc;
	}		
	
.sub_category .category-li.a_active .category_title_2:first-child  a{
	/*	background:#e8e8e8;
	color:#404040;*/
	background:none;
	color:#84ddfd !important;}	
	
.ul_categories .sub_category.sub_category_2 li a{
	padding-top:6px;
	padding-bottom:5px;
	width:100%;}	
		
/*.category-li.a_active .category_title{
	background:#e8e8e8;}*/
	
.ul_categories .sub_category.sub_category_2 li:hover{
	}	
	
.sub_category .category-li.a_active .category_title_2:first-child{
	background:#e8e8e8;}			
	
.category-li.a_active{
	/*background:#f6f6f6 ;*/
	/*background:#d2d2d2;*/}	
	
.ul_categories  .sub_category li{
	border:none;
	padding:0;
	margin-bottom:0;
	/*margin:1px 0;*/}		
.ul_categories li a{
	/*color:#7a7a7a;*/
	color:#afafb6;
	text-transform:capitalize;}
	
	
.ul_categories li a:hover, .ul_categories li a.a_active, .ul_categories li a.a_active_2{
	/*color:#a0d9f4;*/
/*	background:#e8e8e8;
	color:#404040;*/
	color:#84ddfd;
	/*padding-left:10px;*/}


.ul_categories li .a_active .category-a:hover, .ul_categories li .a_active .category-a{
color:#404040 !important;
		}	
	
.ul_leftSideBar{
	float:left;
	margin-top: 45px;
	margin-bottom:20px;
	width:100%;
	list-style:none;}
	
.zoom_icon{
	position:absolute;
	top:0;
	left:0;
	font-size:40px;
	opacity:0.8;
	color:white;
	width:100%;
	background:rgba(255, 255, 255, 1);
	cursor:pointer;
	height:100%;
	display:none;
	cursor:pointer;
	color:rgba(129, 220, 253,1);}
	
.products_gallery .item .innerItem:hover .zoom_icon{
display:block;}	
	
.zoom-lbl{
	font-size:30px;}			
	
.ul_leftSideBar li{
	float:left;
	border-top:1px solid #bdbdbd;
	border-bottom:1px solid #f2f2f2;
	width:100%;
	padding:5px 0;}
	
.ul-header-top li.active a{
	color:#a0d9f4;}	
	
.ul_leftSideBar li a{
	font-size:13px;
	color: #7a7a7a;}
	
.ul_leftSideBar li a.active{
	color:#a0d9f4;}	
	
.ul_leftSideBar .icon{
	margin:0 3px;
	width:15px;}	
	
.ul_leftSideBar li a:hover{
	color:#a0d9f4;}	
	
.ul_leftSideBar li:last-child{
	border-bottom:1px solid #bdbdbd;}
	
.sub_category{
	float:left;
	min-width:160px;
	max-width:250px;
	position:relative;
	/*height:auto !important;*/
	/*margin-top:5px;*/
	/*padding:5px;*/
	display:none;
	/*background:#f6f6f6;*/
	
	background:#e8e8e8;
	
	position:absolute;
	top:0;
	z-index:1000;
	left:95%;}	
	
.category_title a{
	padding-right:32px;}	
	
.main-fa{
	float:right;
	position:absolute;
	top:20%;
	right:5px;
	color:#84ddfd;
	font-size:18px;
	display:none;
	}	
	
.a_active .main-fa{
	display:block;}	
.sub_category .fa{
	display:none;}	
	
.sub_category.active, .sub_category.active_2{
	/*display:block;*/}	
	



.category_title.active a{
	vertical-align:middle;
	color:#84ddfd;}	
.sub_category a{
	font-size:14px;}
.sub_category .sub_category_2{
	position:absolute !important;
	top:0;
	z-index:1000;
	margin-top:0;
	
	left:100%;
	/*background:#d2d2d2;*/}
	
.ul_categories .sub_category.sub_category_2 li a{
	color:#404040 ;}	
	
.ul_categories .sub_category.sub_category_2 li a:hover{
	color:#84ddfd;}	
	
.sub_category .sub_category_2:hover{
	display:block;}		
.sub_category .sub_category_2 a{
	font-size:12px;
	padding-left:15px;
	
	}
	
	
	
.category_title .category_toggle .fa{
	vertical-align:top;}	
.category_title_2 .fa{
	font-size:11px;
	margin-top:3px;
		}
.category_title_2 .category_toggle .fa{
	vertical-align:top;}	

.category_title_2.active a{
	color:#84ddfd;}	
.category_toggle{
	float:left;
	width:100%;}	
	
.category_toggle .fa.mod{
	float:right;
	}
	
.sub_category .category_toggle  .fa.mod{
	margin-right: 3px;}			
	
.sideBarbox{
	display:inline-block;
	width:100%;
	position:relative;
	text-align:center;
	margin:10px 0;}
	
.newsletter a{
	font-size:19px;
	color:#b2e3f6;}	
	
.newsletter a:hover{
	color:#b0b0b0;}	
	
.newsletter_cont{
	width:96%;
	padding:0 2%;}
	
.newsletter_cont .form-item{
	max-width:350px;}	
	
.iframe_video{
	float:left;
	width:100%;}
	
.iframe_video iframe{
	display:inline-block;
	width:100%;
	border:none;}		
/*//////////////////////////////////////////BREADCRUMBS\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/	
/*.middleSide{
	float:right;
	width:80%;}	*/

.middleSide{
	margin-left:230px;}
.innerMiddleSide{
	float:right;
	width:100%;}	
	
	

.page-title{
	float:left;
	width:100%;
	padding-bottom:5px;
	}
.page-title.border{
border-bottom:1px solid #d0d0d0;
margin-bottom:15px;	}	
h1{
	display:inline-block;
	/*color:#636363;*/
	/*font-size:22px;*/
	color:#afafb6;
	font-size:18px;
	font-weight:normal;
	font-style: initial;
}
.branch-cont{
	float:left;
	width:100%;
	padding-bottom:15px;}	
	
.edit_branch{
	float:right;
	color:white;
	margin-left:15px;
	}	
.category-branch-title{
	display:inline-block;
	font-size:18px;
	float:left;
	color:#383838;
	width:100%;
	text-align:center;
	font-weight:normal;
	font-style: initial;
	text-transform:capitalize;}	
	
h1, h2, h3{
	text-transform:capitalize;}	
	
.overview{
		display:inline-block;
	color:#636363;
	margin-top:10px;
	margin-bottom:2px;
	font-size:18px;}	
		
.product-grid-content{
	display:block;
	margin-left:230px;
	margin-right:245px;}	
.miles .product-grid-content{
		margin-right:0;}
		
	.miles .product{
		width:215px;}	
.product-grid-header{
	display:inline-block;
	width:100%;}
.product-grid-header .title{
		float:left;}
.inner-product-grid-img{
	width:210px;

	float:left;}
.title, .title a{
	font-size:17px;
	color:#6e6e6e;}
	
.title a:hover, .title-related-product a:hover{
	color:#25b0e5;
	}	
.description{
	float:left;
	width:100%;
	    word-break: break-all;
	color:#929292;}

.description.mod{
	color:#404040;}
.date{
	float:right;
	font-size:16px;
	color:#80c6e1;}
	
/*//////////////////////////////////////////PRODUCTS\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.product-grid{
	float:left;
	padding:22px 0;
	border-bottom:1px solid #d0d0d0;
	width:100%;}	
.product-grid-related-img{
	float:left;
	position:relative;
	border:1px solid #e1e1e1;
	width:100%;}	
	
.inner-product-grid-related{
	float:right;
	position:relative;
	width:175px;}
	
.title-related-product{
	float:left;
	width:100%;
	color:#80c6e1;
	font-size:16px;
	text-align:center;
	margin-top:0;
	}
.title-related-product a{
	color:#80c6e1}	
	
.product-grid-related-brand{
	position:absolute;
	bottom:0;
	width:60px;
	left:-62px;}
.inner_brands_details{
	float:left;
	width:100%;}	
.brands_details{
	margin-right:240px;}	
.inner_supplier{
	float:right;
	text-align:center;
	width:215px;}
	
.supplier_blk{
	border:1px solid #d3d3d3;
	float:left;
	padding:15px 10px;
	position:relative;
	width:100%;}	
	
.supplier_blk .btn{
	padding: 2px 10px; font-size:14px;}	
	
.supplier_name{
	float:left;
	font-size:15px;
	color:#5e5e5e;
	    height: 18px;

	width:100%;}	
.close_meeting{
	float:right;
	border:1px solid #404040;
	color:#404040;
	cursor:pointer;
	border-radius:150px;
	padding:3px 3px;
	width: 15px;
	height: 14px;
	margin-bottom:10px;
}

.close_meeting:hover{
	border:1px solid #81dbfc;
	
	color:#81dbfc;}	
.meeting_request{
	float:left;
	display:none;
	margin-top:20px;
	text-align:left;
	width:100%;}	
.brand_logo{
	float:left;
	width:100%;
	margin:8px 0;

	text-align:center;}	
.pdf-icon{
	line-height:0.8;
	padding-right: 4px;
	float:left;}
	
.brand_logo img{
	max-width:90px;
	max-height: 50px;}		
.supplier_img{
	float:left;
	width:100%;
	height: 115px;
	text-align:center;
	margin-bottom:5px;}
	
.supplier_img img{
	max-height:115px;}	
	
.brand_logo_bx{
	height:66px;
	float:left;
	width:100%;}	
	
.supplier_video_player{
	position:absolute;
	top:0;
	left:0;
	font-size:50px;
	color:white;
	width:100%;
	height:100%;}
	
.video{
	float:left;
	text-align:center;
	
	width:100%;}
	
.video iframe{
	border:none;
	width:100%;
	display:inline-block;
	/*max-width:600px;*/
	
	height:450px;
	float:left;
	}
	
.close{
	float:left;
	width:100%;}	
	
.close a{
    border: 2px solid #b2e3f6;
    border-radius: 150px;
    color: #b2e3f6;
    cursor: pointer;
    float: right;
    height: 20px;
    margin-bottom: 10px;
    padding: 3px 3px;
    width: 20px;
    margin-right: -15px;
	}	
	
.close a:hover{
	border: 2px solid #0CF;
	color: #0CF;
	}					
	
.supplier_video{
	float:left;
	width:100%;
	position:relative;
	margin:20px 0;}	
.inner_supplier label{
	float:left;
	font-size:13px;
	color:#757575;
	height:14px;
	width:100%;}		
	
.category-img{
	float:left;
	width:100%;
	margin-bottom:10px;
	margin-top:5px;}	
	
.products-category-section{
	padding-top:20px;
	border-top:1px solid #89ddfc;
	margin-top:30px;
	float:left;
	width:100%;}	
	
.products-category-section.mod{
	border-top:0;
	margin-top:5px;
	padding-top:5px;}	

.products-category-section.mod2{
		border-top:0;
	margin-top:-10px;
	padding-top:5px;}
	
.products-category-section.mod2 .sort_order{
	margin-top:-30px;}	
	
.products-category-section.mod2 .title-h2 h2{
	display:none;}	
	
.title-h2{
	float:left;
	width:100%;
	margin-bottom:10px;
	padding-bottom:10px;

}
	
.title-h2 h2{
	display:inline-block;
	font-size:22px;
	font-weight:normal;
	color:#8a8a8a;
	}	
	
.sort_order{
	font-size:13px;
	float:right;
	
	color:#8a8a8a;}
	
.sort_order select{
	margin-left:5px;
	min-width:90px;
	color:#8a8a8a;}	

.sort_order select.textbox{
	width:150px;
	float:right;
	padding:2px 5px;
	width:auto;}
	
.sort_order label{
	float: left;
    margin-top: 2px;}	
	
.products-category-cont{
	float:left;
	width:100%;}
	
.categories-section .product{
border:2px solid #f0f0f0;	}	

.categories-section .product:hover{
	box-shadow:none;}

/*.categories-section .product:hover{
border:2px solid #84ddfd;	}	*/


.product{
	/*float:left;*/
	display:inline-block;
	vertical-align:top;
	width:226px;
	margin:7px 5px;
	position:relative;
	
	transition-delay: 0s;
	transition-duration: 1s;
	transition-property: all;
	transition-timing-function: ease;
	
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 1s;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease;
	
	-moz-transition-delay: 0s;
	-moz-transition-duration: 1s;
	-moz-transition-property: all;
	-moz-transition-timing-function: ease;
	
	-ms-transition-delay: 0s;
	-ms-transition-duration: 1s;
	-ms-transition-property: all;
	-ms-transition-timing-function: ease;	
	
	-o-transition-delay: 0s;
	-o-transition-duration: 1s;
	-o-transition-property: all;
	-o-transition-timing-function: ease;
	
	
	/*border:2px solid #f0f0f0;*/}
	
.product:hover{
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	}	

.products_thumb .innerItem{
	cursor:pointer;}
	
.products_thumb .innerItem img{
	display:inline-block;
	
	float:left;}	
	
.product .btn-cart{
	margin-right:12px;
	margin-bottom:12px;}	
	
.product-title, .product-description {
/*	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/}	
	
.product-description {
	height:43px;
	/*text-overflow: ellipsis;*/
	overflow:hidden;
	/*white-space: nowrap;*/
	}	
	
.related_product .product-description{
	font-size:13px;
	margin-bottom:5px;
		}
	
.price_selected_option{
	font-size:13px;}
	
.productsAttribuesOptions{
	flaot:left;
	width:100%;
	padding:15px 20px;}	
.productsAttribuesOptions .product-options-dl{
	 margin-bottom: 0;
   /* margin-right: 15px;*/
    /*width: auto;*/}
.productsAttribuesOptions .btn{
	margin-top:10px;
	float:left;}
	
.productsAttribuesOptions .note{
	margin-bottom:10px;}		
.product-img{
	float:left;
	overflow:hidden;
	text-align:center;
	height:200px;
	width:100%;}
	.mainMenu_mob ul li a .count{
		display:none;}
.product-content{
	float:left;
	width:100%;
	/*min-height:152px;*/
    padding:12px;
	padding-bottom:5px;}	
	
.product-title{
	float:left;
	font-size: 12px;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width:100%;
	margin-bottom: 2px;
       }
	 
.product-title a{
	 font-size: 12px;
     color: #7a7a7a;
} 
		
.product-title a:hover{
		color:#a0d9f4;}	
	
.product-price{
	float:left;
	width:100%;
	margin:10px 0;}
	
		
.note{
	display:block;
	color:#F00;
	font-size:12px;}	
.btn-cart{
	display:inline-block;
	background-color:#81dbfc;
	font-size:12px;
	border:1px solid #81dbfc;
	color:white;
	cursor:pointer;
	padding:0 8px;
	margin:0 8px;
	line-height:19px;
	}
	
.inner-product  .btn{
	font-size:13px;
	padding:2px 12px 2px 7px;}	
.btn.login-btn{
	font-size:13px;}	
.btn-cart:hover{
	background:white;
	color:#81dbfc;
	}
	
.btn{
	display:inline-block;
	background-color:#81dbfc;
	font-size:16px;
	border:1px solid #81dbfc;
	color:white;
	cursor:pointer;
	padding:4px 15px;
	line-height:18px;
	}
.btn:hover{
	background:white;
	color:#81dbfc;
	}	
	
.lbl_required{
		float:right;
		margin-left:10px;
		color:red;}
	
/*.products-container .product:nth-of-type(n){
	margin-left:0;}*/

.products-container .product:nth-of-type(4n+1){
	margin-left:0;}	
	
.products-container .product:nth-of-type(4n+4){
	margin-right:0;
	clear:both;}
	
/*//////////////////////////////////////////HOME\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.featured{
	float:left;
	width:100%;
	margin-top:25px;
	margin-bottom:25px;
	}
	
.featured .title-h2{
		padding-bottom:0;}	

.featured .product{
	 margin: 7px 7px;
	 font-size:13px;
	 color:#999999;
	 width:225px;
	 border:1px solid #b2b2b2;
	 font-family: 'Roboto', sans-serif;}
	 
.featured .product:hover{
	box-shadow:none;}	 
	 
.featured .product  .product-title{
		 color:#656565;}		
.home-bxs{
		float:left;
		width:100%;
		margin-bottom:25px;}	
		
.home-ads-bottom{
		float:left;
		width:49%;
		font-size:13px;
		color:white;
	    resize: none;
		border:none;
		box-sizing: border-box;
		}	
	
.home-ads-bottom.right{
	float:right;}		

		
.home-textarea::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: white;
}

.home-textarea:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.home-textarea::-moz-placeholder { /* Firefox 19+ */
  color: white;
}

.home-textarea:-ms-input-placeholder { /* IE 10+ */
  color: white;
}

.home-textarea::-ms-input-placeholder { /* Edge */
  color: white
}

.home-textarea:placeholder-shown { /* Standard one last! */
  color: white;
}													
	
.home-bxs .home-textarea:nth-of-type(2n+2){
	float:right;}
	
/*//////////////////////////////////////////CONTACTLIST\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.innerFigureContent{
	float:left;
	width:100%;
	}
.figures{
	float:left;
	width:100%;}
.figure_content{
	float:left;
	padding:15px 0;
width:100%;}	
	

	
.figure{
	font-size:13px;
	color:#454545;
	padding-right:15px;
	margin-bottom:40px;
	vertical-align:top;
	display:inline-block;
	width:24.6%;}	
	
.figure.featured_figure{
	width:49.2%;
	}	
	
.figure.featured_figure .figure_content{
		/*background:#ebffff;*/
		padding:15px 15px;
		background:#F8F8F8;	}
		
		
		
.figure.featured_figure .figureDetails{
	margin-right:118px;}		
	
.figure a{
	color:#454545;
	}	
	
.figure a:hover{
	color:#84ddfd;}		
	
.figure label{
	display:inline-block;
	width:100%;
	margin:1px 0;}
.figures h3{
	float:left;
	margin-bottom:10px;
	width:100%;
	color:#a0d9f4;
	padding-bottom:2px;
	 border-bottom: 1px dashed;
	font-size:18px;
	font-weight:normal;}	
.figure span{
	color:#454545;
	font-weight:600;}		
	
.figure .figure_wesbite{
	margin-top:10px;
	font-size:14px;
	color:#454545;
	/*font-weight:600;*/
	display:inline-block;}
	
.figure_title{
	float:left;
	font-size:16px;
	
	margin-bottom:15px;
	width:100%;}	
	
.figure_img span{
	float:right;
	width:105px;}	
	

/*//////////////////////////////////////////EVENTS\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/	


.events_list .figure{
	width:33%;
	padding-right:35px;
	}	
	
.events_list .figure.featured_figure{
	width:66.66%;
	}	
	
.events_list .figure.featured_figure .figureDetails{
	margin-right:260px;
	}	
	
.events_list .figure_img span{
	width:250px;
		}
		
.events_list .description{
	color: #454545;
	margin-top:10px;
	}	
	
.events_list .figure_title{
	margin-bottom:3px;
	}
	
.events_list .figure_title a{
	font-weight:600;}			
		
.events_list .description{
	min-height:105px;
	}
	
.events_list .figure_img img{
	/*border:1px solid #37383a;*/}		
	
.n-link{
	cursor:default;}
a.n-link:hover{
	color:inherit !important;}			
		
/*//////////////////////////////////////////TABS\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/		
		
.tabs_cont {width: 100%; margin: 10px auto;}

.tabs_cont.mod{
	margin:0;}
ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #c9c9c9;
    border-left: 1px solid #c9c9c9;
    width: 100%;
}
ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    height: 31px;
    line-height: 31px;
    border: 1px solid #c9c9c9;
margin-right:6px;

    margin-bottom: -1px;

    overflow: hidden;
    position: relative;
}

ul.tabs li:first-child{
	border-left:none;}
ul.tabs li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 1.2em;
    padding: 0 10px;
    border: 1px solid #fff;
    outline: none;
	color:#636363;
}
 
html ul.tabs li.active, html ul.tabs li.active a:hover  {
    background: #fff;
    border-bottom: 1px solid #fff;
	
}

html ul.tabs li.active a, html ul.tabs li.active a:hover{
	color:#84ddfd;}

.tab_container {
    border: 1px solid #c9c9c9;
    border-top: none;
    clear: both;
    float: left; 
    width: 100%;
    background: #fff;
    -moz-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -khtml-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.tab_container.dashboard .tab_content{
	display:block !important;}
.tab_content {
    padding: 20px;
    font-size: 1.2em;
}
h2 {
	display:block}
.tab_content .description{
	float:none;}
.tab_content h2 {
    font-weight: normal;
	float:left;
	width:100%;
	margin-bottom:15px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #ddd;
    font-size: 1.5em;
	color:#404040;
}

.form-item label {
    float: left;
    font-weight: normal;
    margin: 0 0 2px;
    position: relative;
    width: 100%;
    z-index: 0;
}

.form-item.mod label {
    float: none;
    width: auto;
}
.tab_content h3 a{
    color: #254588;
}


/*//////////////////////////////////////////PRODUCTS DETAILS\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/	

.products_gallery{
	float:left;
	width:44%;}
	
.products_details{
	float:right;
	width:54%;}	
	
.option_select .product-options-dt{
	font-size:13px;}	
	
.option_select dl{
	width:175px;
	float:right;

	text-align:center;
	}	
.option_select .product-options-dd{
	border:1px solid #999;
	/*padding:2%;*/
	display:inline-block;
	/*width:96%;*/
	min-width: 65px;
	max-width:90px;	}
	.selected_option{
		display:block;
	height:45px;
	position:relative;
	border:2px solid #000;	}
	
.options_list{
	margin-right:180px;}	
	
.products_gallery .item .innerItem{
	text-align:center;
	position:relative;
	}	
	

	
/*.products_gallery .item .innerItem img{
	float:left;}*/	
.products_thumb{
	float:left;
	margin-top:5px;
	width:100%;}	
.inner_products_gallery{
	float:left;
	width:100%;}	
	
.products_thumb .inner_products_thumb{
	float:left;
	margin-left:-5px;
    width: -webkit-calc(100% + 5px);
    width: -moz-calc(100% + 5px);
    width: calc(100% + 5px);}	
	
.products_thumb .item{

	padding-left:5px;}	
.products_thumb .innerItem{	
border:1px solid #e1e1e1;
    width: -webkit-calc(100% - 4px);
    width: -moz-calc(100% - 4px);
    width: calc(100% - 4px);
}

.cart-empty{
	float:left;
	width:96%;
	text-align:center;
	padding:30px 2%;
	background:#e8e8e8;
	}
	
	
	

.products_thumb .innerItem:hover, .products_thumb .innerItem.active{
	border:1px solid #81dbfc;}

.products_gallery_slick{
	border:1px solid #e1e1e1;
	}
	
.products_thumb .slick-prev, .products_thumb .slick-next {
    height: 35px;
    top: auto;
	bottom:-45px;
    width: 35px;
	background-color:#999;
	background-repeat:no-repeat;
	background-position:center center;
}	

.products_thumb .slick-prev:hover, .products_thumb .slick-next:hover {
		background-color:#404040;}

.products_thumb .slick-prev {
    background-image:url("../img/arrow_slick_pages_left.png");
    right: 40px;
}

.products_thumb .slick-next {
    background-image: url("../img/arrow_slick_pages_right.png");
    right:1px;
	left:auto;
}	

.products_details_1{
	float:left;
	width:100%;}
	
.products_details_1 label{
	float:left;
	width:100%;
	font-size:17px;
	font-weight:600;
	margin-bottom:2px;
	color:#8e8e8e;}

.products_details_1 .description{
	font-size:16px;
	margin-bottom:2px;
	color:#000000;

	}		
	
.products_details_2{
	float:left;
	margin-top:8px;
	margin-bottom:4px;
	width:100%;
	min-height:35px;}
	
.products_details_2 label{

	width:100%;
	margin:5px 0;}	
	
.products_details_2 label{
	float:left;
	font-size:15px;
	color:#000000;
	}
	
.products_details_2 .lbl_t{
	font-weight:600;
	font-size:15px;
	display:none;
		}
		
.products_details_3{
	float:left;
	width:100%;
	font-size:13px;
	margin-bottom:2px;
	color:#454545;
	margin-bottom:15px;
		}	
		
.product-options-dl{
		float:left;
		/*margin-bottom:10px;*/
		width:100%;}

.product-options-dt{
	float:left;
	color:#454545;
	font-size:15px;
	margin-bottom:2px;
	width:100%;}
	
.op {
    border-color: #bfbfbf;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 1px;
    min-width: 24px;
    padding: 0 4px;
    text-align: center;
}

.option_container{
	float:left;
	margin-bottom:10px;
	padding-top:10px;
	width:100%;}

.container_attributes  .option_container {
	border-top:1px solid #454545;}

.container_attributes .option_container:first-child{
	border-top:none;}	
	


.selected_option_color{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;}
.op.active_op{
	border-color:#25b0e5;
	}	

.op.op_size{
	height: 24px;
	line-height:24px;
	min-width: 18px;}	
	
.btn-items{
	display:inline-block;
	font-size:12px;
	background:none;
	margin:2px 5px;

	color:#b0b0b0;
	cursor:pointer;
	line-height:18px;
	}				
	
		
.btn-wishlist{
	display:inline-block;
	font-size:13px;
	/*border:1px solid #81dbfc;*/
	color:white;
	cursor:pointer;
	padding:0 8px;
	line-height:18px;
	background:white;
	color:#81dbfc;
	float:right;
	}
	
.retail_price_details{
	float:right;
	font-style:italic;
	color:#8C8C8C;}	
	
.products_details_2 .retail_price_details .lbl_t, .products_details_2 .retail_price_details .currency_txt, .products_details_2 .retail_price_details{
		font-size:13px;}

.btn-wishlist:hover{
/*border:1px solid #7e7e7e;*/
color:#7e7e7e;
	}
	
.item-no{
	float:left;}	
	

.action-products-details{
	float:left;
	margin:20px 0;
	width:100%;}	
	
.selectbox
{
 -moz-appearance: none;
  -webkit-appearance: none;
 background:url(../img/curselect.png) no-repeat right center;

 background-color:white;
 border:1px solid #898989;
 color:#898989;
}
select.select-style::-ms-expand {
    display: none;
}

.action-products-details .btn-cart{
	padding:0 22px;
	padding-top:2px;
	display:inline-block;
	}

.action-products-details .selectbox{
	min-width:35px;
	margin-right:10px;}
.earned{
	font-size:15px;
	float:left;
	width:100%;
	margin-top:10px;
	margin-bottom:25px;}	
	
.earned .icon{
	margin-right:5px;}	
.earned span{
	color:#00bbff;}	
	
.wishlist_cont fieldset{
	border:none;
	}	
	
.wishlist_cont{
	float:left;
	width:96%;
	padding:2%;}	
	
.print_btn{
	float:right;
	color:#7e7e7e;
	vertical-align:middle;
	line-height:30px;
	font-size:14px;}	
	
.print_btn i{
	font-size:20px;}	
.related_product{
		float:left;
	border-bottom: 1px solid #CCC;
		/*margin-top:70px;*/
    margin-bottom: 20px;
    padding-bottom: 25px;
		width:100%;}
.products_gallery, .products_details {
	margin-bottom:70px;}		
		
.related_product .item{
	padding-left:8px;}
		
.related_product .inner-product{
	float:left;
	/*border:1px solid #b2b2b2;*/
	transition-delay: 0s;
	transition-duration: 1s;
	transition-property: all;
	transition-timing-function: ease;
	
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 1s;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease;
	
	-moz-transition-delay: 0s;
	-moz-transition-duration: 1s;
	-moz-transition-property: all;
	-moz-transition-timing-function: ease;
	
	-ms-transition-delay: 0s;
	-ms-transition-duration: 1s;
	-ms-transition-property: all;
	-ms-transition-timing-function: ease;	
	
	-o-transition-delay: 0s;
	-o-transition-duration: 1s;
	-o-transition-property: all;
	-o-transition-timing-function: ease;
	 width: -webkit-calc(100% - 3px);
    width: -moz-calc(100% - 3px);
    width: calc(100% - 3px);
		margin:15px 0;}
	
.related_product .inner-product:hover{

-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);	}	
	
.related_product .title-h2{
	margin-bottom:0;
}	
	
.related_product .title-h2 h2{
	color:#8e8e8e;}
	
.related_product .slick-prev, .related_product .slick-next {
    height: 35px;
    top: -40px;
	bottom:auto;
    width: 35px;
	background-color:#999;
	background-repeat:no-repeat;
	background-position:center center;
}	

.related_product .slick-prev:hover, .related_product .slick-next:hover {
		background-color:#404040;}

.related_product .slick-prev {
    background-image:url("../img/arrow_slick_pages_left.png");
    right: 40px;
}

.related_product .slick-next {
    background-image: url("../img/arrow_slick_pages_right.png");
    right:1px;
	left:auto;
}		
	
.related_products_slick_cont{
	float:left;
	margin-left:-8px;
    width: -webkit-calc(100% + 8px);
    width: -moz-calc(100% + 8px);
    width: calc(100% + 8px);
	}	
/*///////////////////////////////////////////////Search Results///////////////////////*/	
.search-result{
	float:left;
	padding:10px 0;
	border-bottom:1px  dashed #81dbfc;
	width:100%;}
	
.search-result h3{
	color:#7a7a7a;
	font-size:16px;
	font-weight:normal;
	margin-bottom:8px;
	}	
	
.pagination{
	padding-top: 15px;
	width:100%;
	margin-top: 15px;
	text-align:center;}	

.pagination ul{
	display:inline-block;
	float:none;}	
	
.search-result .description{
	margin-bottom:15px;}	
	
	
	
	
/*//////////////////////////////////////////ACCOUNT\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/	
.form-item {
    float: left;
    margin-bottom: 12px;
    width: 100%;
}

.textbox {
    background-color: white;
    border: 1px solid #6c6c73;
    box-sizing: border-box;
    color: #404040;
    float: left;
    font-size: 14px;
    margin-bottom: 3px;
    padding: 6px 6px;
    width: 100%;
}

.dropdown .textbox.selectbox{
	padding:7px 6px;}

.textbox.qty-txt, .textbox.qty{
	width:40px !important;
	text-align:center;
	padding:2px 3px}

.textbox.input-file{
	font-size:13px;
	padding:2px 6px;}
	
.quantity_popup{
	float:left;
	width:100%;}	
.quantity_popup .lbl_t{
	color:#666;
	}	

.textbox::-webkit-input-placeholder, .textarea::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: #404040;
}

.textbox:-moz-placeholder, .textarea::-webkit-input-placeholder { /* Firefox 18- */
 color: #404040;
}

.textbox::-moz-placeholder, .textareatextarea::-webkit-input-placeholder { /* Firefox 19+ */
 color: #404040;
}

.textbox:-ms-input-placeholder, .textarea::-webkit-input-placeholder { /* IE 10+ */
  color: #404040;
}

.textbox::-ms-input-placeholder, .textarea::-webkit-input-placeholder { /* Edge */
 color: #404040;
}





.textbox.email_register{
	background:#CCC;
	}
	

#keywords::-webkit-input-placeholder{ /* Safari, Chrome and Opera */
  color: #b7b7b7;
}

#keywords:-moz-placeholder{ /* Firefox 18- */
 color: #b7b7b7;
}

#keywords::-moz-placeholder{ /* Firefox 19+ */
 color: #b7b7b7;
}

#keywords:-ms-input-placeholder{ /* IE 10+ */
  color: #b7b7b7;
}

#keywords::-ms-input-placeholder{ /* Edge */
 color: #b7b7b7;
}	

.textarea{
    background-color: white;
    border: 1px solid #6c6c73;
    color: #404040;
	min-height:100px;
    float: left;
    font-size: 14px;
    margin-bottom: 3px;
    padding: 6px 6px;
	resize: none;
	font-family: 'Roboto', sans-serif;
    width: 100%;}

.form-item em{
	color:red;}
.form-item label {
    color: #404040;
    float: left;
    font-size: 16px;
    margin-bottom: 6px;
    width: 100%;
}
.form-error {
    color: red;
    float: left;
    font-size: 13px;
    width: 100%;
}

.form-error.mod{
	display:none;}	

.new-users{
	float:left;
	width:40%;}	
	
.content{
	float:left;
	width:100%;
	font-style:italic;
	font-size:16px;
	margin-bottom:15px;
	color: #afafb6;}

	
.content a{
	color:#25b0e5;}		

	
.back-link{
	float:right;
	font-size:16px;
	color:black;}
	
.my_vouchers .back-link{
	margin-bottom:20px;
	}	
	
.back-link .fa-fw{
	width: 0.6em;}

.opc{
	float:left;
	width:100%;
	padding:0;
	list-style:none;}	
.opc-step{
	float:left;
	width:100%;
	margin-bottom:10px;}	
	
.opc .step-title .number {
    float: left;
    background: #25b0e5;
	color:white;
    padding: 8px 12px;
    margin: 0 8px 0 0;
    font-size: 1.3333em;
}	
.opc-step .new-users{
	padding:15px 10px;
	}
	
#opc-register .new-users{
	width:100%;}	

.register_form{
	float:left;
	width:100%;}
	
.innerUserForm{
	float:left;
	width:100%;
	display:block;
	/*display:none;*/}
	
.brand_dropdown_slick .item{
	display:inline-block;}	
	
.brand_dropdown_slick .item img{
	max-width:96%;
	max-width:90px;
	max-height:80px;}			
.opc .step-title h2 {
    float: left;
	font-weight:normal;
    margin: 0;
    color: #25b0e5;
    font-size: 1.3333em;
    line-height: 2.125em;
}	

.roles_item{
	float:left;
	width:100%;
	 font-size: 18px;}
.roles_item input{
	cursor:pointer;
	margin-right:2px;
	margin-left:15px;}
.label-status{
    border-radius: 3px;
	    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;}	
.label-success{
	    background-color: #468847;}		
.label-important{
		    background-color: #b94a48;}
			
.label-pending{
		    background-color:#F60;}
			
.roles_item input:first-child{
	margin-left:0;}	 

.account-create .form-item.gutter-right{
	width:49%;}
	
.list_brands .shopping_cart_table td:first-child{
	text-align:left;}	

.footer{
	margin-top:25px;}
	
.dashboard .col-1, .dashboard .col-2 {
    margin-bottom: 1.5em;
}
.col2-set .col-1 {
    float: left;
    width: 49%;
}

.dashboard .box .box-title h3, .dashboard .box .box-title h4 {
    float: left;
    margin: 0;
	font-weight:normal;
}

.my_credits .tab_content h2{
	border-bottom:none;
	margin-bottom: 0;
	text-align:left;
	padding:4px 0;
	}
.shopping_cart_cont{
	position:relative;
	float:left;
	width:100%;}
	
.shopping_cart_cont .tr-category-title td{
	border-top:3px solid white;
	border-bottom:3px solid white;}	
	

	
.my_credits .shopping_cart_cont .n-table{
	min-width:auto;
	width:100%;}
	
.shopping_cart_table .tr-prdocust-category   td{
	border-bottom:2px solid #white;
	font-weight:600;}			
	
.my_credits .ias-trigger{
		position:absolute;
		width:100%;
		bottom:0;
		left:0;}	
.my_credits .ias-trigger-next a{
	position:absolute;
	bottom:0;
	left:0;
	line-height:inherit;
	width:100%;
	padding:5px 0;
		}
.dashboard .box .box-title {
    border-bottom: 1px solid black;
    color: white;
    line-height: 15px;
    padding-bottom: 5px;
    text-align: right;
	margin-bottom:10px;
}

.box-title a{
	color:white;}
	
.box-title a:hover{
	color:#25b0e5;}	

.col2-set .col-2 {
    float: right;
    width: 49%;
}

.col2-set {
    float: left;
    width: 100%;
}

.add_new_address{
	text-align:right;
	margin-bottom:15px;}
	
.add_address .add_new_address{
	margin-bottom:0;
	}	
	
.add_new_address h2{
	float:left;
	color:#25b0e5;
	width:auto;
	border-bottom:0;}	
.dashboard .col-1, .dashboard .col-2 {
    margin-bottom: 1.5em;
}
	
.row_form .form-item.gutter-right:first-child{
	margin-right:2%;}	
	
.rol{
	display:none;}
.step-title{
	float:left;
	width:100%;
	padding: 8px 10px;
	background-color: #e4e4e4;}
	
.buttons-set{
	float:left;
	width:100%;
	margin-bottom:20px;}
	
.row_form_hr{
	float:left;
	width:100%;
	border:none;
	margin-bottom: 15px;
	background:none;
	border-bottom:1px dashed #ddd;}	
	
.review_reg{
	float:left;
	width:100%;}	
	
.row_form{
	float:left;
	width:100%;}
	
.edit_register{
	float:right;
	color:#404040;
	display:none;
	 font-size: 1.3333em;
    font-weight: normal;
    line-height: 2.125em;}		
	
.addresses-list .addresses-primary .item, .addresses-additional .item {

    margin: 0 0 10px;
    padding: 15px;
	background:#D9FFFF;
	display:inline-block;
	width:100%;
}

#opc-register .new-users{
	display:none;}
	
.shopping_cart_cont {
    margin-top: 15px;
}
.data-table {
    width: 100%;
}
.nobr {
    white-space: nowrap !important;
}	

.data-table th, .data-table td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}

.data-table tr.odd td{
	font-size:16px;}
.cart-table .product-image {
    display: block;
    width: 80px;
	float:left;
	}
	
.ta-c{
	text-align:center;}
	
	
	
.data-table  .ta-c{
	text-align:center !important; }		
.product-image-td{
	width:85px;
	border-right:none !important;}	
	
.cart-table .textbox.qty{
	float:none;
	display:inline-block;
		}
	
.cart-table .product-image {
    max-width: 80px;
}

.cart-table .product-name {

    font-weight: normal;
    line-height: 1.2em;
    margin: 0 0 10px;
}
.product-name {
    font-size: 17px;
    font-weight: normal;
    line-height: 1.25em;
    margin: 15px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*text-transform: uppercase;*/
	text-transform:capitalize;
    white-space: nowrap;
}

.data-table tr.odd td, .data-table tr.odd th {
    border-right: 1px solid #f5f5f5;
}
.data-table .item-options {
    line-height: 18px;
    margin: 0 0 0 10px;
}

#PopupContainer .data-table td{
	vertical-align:top;}
	
#PopupContainer .data-table .product-name{
	margin-top:0;}	
.qty-label{
	float:left;
	width:100%;
	text-align:center;
	color:#a0d9f4;
	font-size:11px;
	margin-top:5px;}
.price {
    white-space: nowrap !important;
}
.old_price{
	color:#F00;
	margin-left:10px;
	text-decoration:line-through;}
.wishlist_cont .old_price{
	margin-left:0;}	
	
.wishlist_cont  .last a{
	color:#81dbfc;}	
.wishlist_cont  .last a:hover{
	color:#929292;}	
	
.wishlist_cont .data-table tr td.last{
	border-right:none;}	
	
.wishlist_cont button{
	width:auto !important;
	padding-left:10px;
	margin-right:5px;}	

.data-table .cell-label {
    display: none;
}

.r-PriceSegments{
	float:left;
	width:100%;
	text-align:center;
	}
	

.related_product.products_viewed{
	border-bottom:none;
/*	border-top:1px solid #CCC;
	margin-top:20px;
	padding-top:25px;*/}	
	
	
.login_form_f{
	display:none;}	
	
.r-PriceSegments ul{
margin:5px 0;	
float:left;
width:100%;
-webkit-box-shadow: inset 0px 1px 7px -1px rgba(37,176,229,1);
-moz-box-shadow: inset 0px 1px 7px -1px rgba(37,176,229,1);
box-shadow: inset 0px 1px 7px -1px rgba(37,176,229,1);
padding:15px 20px;}	
	
.r-PriceSegments ul li{
	float:left;
	width:100%;
	font-size:14px;
	padding:1px 0;
	color:#404040;}	
.lbl_t{
	float:left;
	margin-right:8px;}
.p-price{
	font-size:15px;
	float:left;}	
input.input-text {
    height: 28px;
}
.cart-table td.last {
    border-bottom: 1px solid #eee;
    padding: 15px 0 0;
	padding-bottom:10px;
	text-align:center;
}
.data-table .btn-remove .fa {
    font-size: 18px;
}
.btn-remove{
	font-size:14px;
	color:#81dbfc;
	}

.data-table .item-options {
    line-height: 18px;
    margin: 0 0 0 10px;
}



.item-options dt {
    clear: left;
    float: left;
}

.data-table tr.even {
    background-color: #fbfbfb;
}	

.cart .cart-right-column {
    float: right;
}
.grid12-4 {
    width: 31.33%;
}

.total-price-table tr td:first-child {
    text-align: right;
}
.total-price-table {
    float: right;
	border-top:1px dashed #383838;
	border-collapse:separate;
}


.additional-bg-color, .block-layered-nav .currently, .cart .totals, .checkout-agreements li {
    background: #fff none repeat scroll 0 0 !important;
}
.cart-left-column .grid-full, .cart-right-column .grid-full {
    width: 100%;
}


.cart .totals-inner {
    padding: 20px 0 20px 20px;
}
.cart .totals table {
    width: 100%;
}
.cart .totals tfoot td {
    padding-bottom: 5px;
}
.cart .totals td {
    padding: 1px 0 1px 7px;
}
.cart .totals td {
    padding: 1px 0 1px 7px;
}
.cart .totals tfoot th strong, .cart .totals tfoot td strong {
    font-size: 16px;
}
.a-right {
    text-align: right !important;
}
.cart-table td .divider{
	color:#25b0e5;
	font-size: 16px;}
.btn-edit{
	 font-size: 18px;}

.data-table th{
	font-weight:normal;
	color:#25b0e5;
	font-size:16px;}
	
.opc .step {
    display: none;
    margin-top: 10px;
    padding: 10px 20px;
    position: relative;
	float:left;
	width:100%;
	height:auto !important;
}	

.opc .section {
	float:left;
	width:100%;
    margin: 0 0 10px;
    padding: 0;
}

.checkout_label{
	float: left;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
    width: 100%;
	color:#25b0e5;}
	

	
.btn_miles{
	cursor:pointer;}	

#billing_form, #delivery_form {
    display: none;
}

.opc .section:first-child .step {
    display: block;
}

.shopping_cart_cont {
    margin-top: 15px;
}


.shopping_cart_table {
    float: left;
    width: 100%;
}
table {
    border: 0 none;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: 100%;
}

.cart-empty, .empty{
	display:inline-block;
	width:100%;
	font-size:14px;
	color: #333333;}
	
.cart-empty a, .empty a{
	color:#25b0e5 !important;}	

.shopping_cart_table th {
    background: #383838 none repeat scroll 0 0;
    border: medium none;
    color: white;
    font-size: 14px;
    font-weight: normal;
    padding: 8px 12px;
}

.shopping_cart_table tr th:last-child {
    border-right: 1px solid white;
}


.shopping_cart_table td {
    background: #383838 none repeat scroll 0 0;
    border: 1px solid white;
    color: white;
    padding: 5px 12px;
    text-align: center;
}

.link-print{
	float:right;}
	
.tabs_cont.mod .tab_container{
	float:left;
	width:100%;
	padding-bottom:20px;
	}	
	

.order-info {
    display: inline-block;
    width: 100%;
}	

.order-info dt, .order-info dd, .order-info li, .order-info li a {
    float: left;
}
.order-info dt {
    font-weight: bold;
}

.order_details .order-info dt {
    padding-left: 0;
}

.category-li{
	width:100%;
	position:relative;
	float:left;}
	

.download_product_info{/*margin-top:25px;*/}
.btn_download{
	
	display:inline-block;
	width:100%;
	line-height: 32px;
	color:#7a7a7a;
	margin-top:10px;
	font-size: 14px;
	text-transform:capitalize;
}
	
.btn_download img{
	max-width:30px;}	
/*.btn_download:hover{
	background:#2cb7e4;
	color:white;}*/	
	
.product_info_video{
	display:block;
	clear:both;
	text-align:center;}	
	
.product_info_video iframe{
	display:inline-block;
	border:none;
	margin-top:15px;
width:100%;
	min-height:300px;}	
.order-info dt, .order-info li.current, .order-info li a {
    padding: 10px;
}

.order-info dt, .order-info dd, .order-info li, .order-info li a {
    float: left;
}
.order-info dt, .order-info li.current, .order-info li a {
    padding: 10px;
}
.order-info li a:hover, .order-info li.current {
    background-color: #e5e5e5;
}
.order-info li {
    margin-right: 1px;
}
.order-info dt, .order-info dd, .order-info li, .order-info li a {
    float: left;
}


.order-date {
    clear: both;
    color: #ee001c;
    margin: 10px 0;
}

.order-info-box {
    box-sizing: border-box;
    margin: 0 0 10px;
    padding: 20px 0;
}

.dashboard .col-1, .dashboard .col-2 {
    margin-bottom: 1.5em;
}
.dashboard .order-info-box .box .box-title {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: black;
    margin: 0;
    padding: 0;
    text-align: left;
}

.dashboard .box .box-title {
    background: #404040;
    border-bottom: 0 none;
    color: #fff;
    line-height: 15px;
    margin: 0 0 10px;
    padding: 5px;
    text-align: right;
}
.category-title, .my-account .page-title, .box-account .box-head, .dashboard .box .box-title {
    border-color: #e5e5e5;
}
address {
    font-style: normal;
}	
.dashboard h4{
	color: #404040;}
.col2-set .col-2 {
    float: right;
    width: 49%;
}
.dashboard .col-1, .dashboard .col-2 {
    margin-bottom: 1.5em;
}

.order_details .shopping_cart_table th {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color white;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
	
    text-align: center;
	
	}

.order_details .shopping_cart_table td {
    border: medium none;
}

.shopping_cart_table td {
    background: #EAFFFF none repeat scroll 0 0;
    border: 1px solid white;
    color: #636363;
    padding: 5px 12px;
    text-align: center;
}

.data-table .item-options dd {
    color: #aaa;
    float: left;
    font-style: italic;
    margin: 0 0 2px;
    padding-left: 7px;
}
.dashboard .box .box-title{
	 display: inline-block;
    padding: 5px 15px;
    width: 100%;}
.order_details .product_name{
	color:#636363;
}
.col-md-3{
	display:inline-block;
	width:30%;
	vertical-align:top;
	}
.col-md-9{
	vertical-align:top;
	display:inline-block;
	width:65%}

.my_credits	.shopping_cart_cont{
	margin-top:0;}

.my_credits .col-md-9{
	float:right;} 	
.inner-box-content{
	float:left;
	width:100%;
	padding:0 15px;}
.available_balance h3{
	float:left;
	width:100%;
	color:#25b0e4;
	font-size:22px;
	margin-bottom: 5px;
	}
	
.available_balance label{
	float:left;
	width:100%;
	font-size:18px;
	color:#636363;}
	
.from_credits .amount_credits{
	color:#0C3;}
	
.from_orders .amount_credits{
	color:#F00;}
	
.my_credits .shopping_cart_table tr td:first-child, .shopping_cart_table tr th:first-child{
	text-align:left;}	
	
.advertisements-cont{
	float:left;
	width:100%;
	overflow:hidden;
	max-height:290px;
	}	
	
.advertisements-cont .slick-list{
	overflow:hidden;
	}	
	
.slick-advertisements{
	flaot:left;
	width:100%;}	
	
.ads-pages-top-cont{
	float:left;
	width:100%;}	
	
.ads-pages-top{
	float:left;
	width:100%;
	margin-bottom:15px;}
	
/*//////////////////////////////////////////CHECKLIST\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/	
.checklist_tabs{
	float:left;
	list-style:none;
	padding:0;
	width:100%;
	text-align:right;
	margin-bottom:20px;
	 }
	 
.btn_manage_checklist{
	display:inline-block;
	margin:0 5px;}	 
	
.checklist_tabs li{
	display:inline-block;}
	
.checklist_tabs li a{
display:inline-block;
background:#7a7a7a;
color:white;
font-size:16px;
margin:5px;
padding:5px 15px;
text-shadow: 0px 0px 6px rgba(150, 144, 146, 1);
}	

.checklist_tabs li a:hover{
	background:#999;
	color:#333;
}	
	
.add-to-cart-alt .btn{
	font-weight:normal;}	

.regular-price{
	font-size:16px;
	margin-bottom:15px;}
	

		
.wishlist_cont .buttons-set{
	padding-top:15px;
	margin-top:15px;
	border-top:1px solid #81dbfc;}
	
.add_branch h2 {
    border-bottom: 1px dashed #ddd;
    color: #404040;
    float: left;
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 15px;
    padding-bottom: 5px;
    width: 100%;
}

.empty{
	float:left;
	width:100%;
	text-align:center;}

	
.table-categories{
width:100%;

text-align:center;
-webkit-box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
margin-bottom:20px;}

.table-categories .form-item{
	max-width:450px;}



.table-categories tr td{
	border-left:1px solid #999;
	margin-bottom:5px;
	padding:6px 8px;
	border-bottom:1px solid #999;
	}
	
.add_more{
	float:right;
	color:#81dbfc;
	font-size:16px;}	
	
.categories-section{
	float:left;
	width:100%;}	
	
.selected_products{
	float:right;
	margin-top: 10px;}	
	
.table-categories tr td:first-child{
	border-left:0;}	
	
.table-categories tr:last-child td{
	border-bottom:0;}	

.table-categories tr:nth-child(2n+1) td, .table-categories tr:nth-child(2n+1) th{
	 background-color: #f9f9f9;
	}

.table-categories .form-item{
	margin-bottom:0;}



.textbox:disabled {
    background: #dddddd;
}	

.aramex .inner-form-error{
	  background-position: 25px center !important;
    background-repeat: no-repeat !important;
    font-size: 12px !important;
    margin: 15px 0;
    padding: 25px 25px 25px 80px !important;
	 background-color: #f5dad3;
    background-image: url("../img/i_msg-error.png");
    border-color: #c02230;
    color: #c02230;
	width: 100%;
		 -webkit-box-sizing: border-box; / Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x /
 -moz-box-sizing: border-box;    / Firefox 1 - 28 /
 -o-box-sizing: border-box;
 box-sizing: border-box;
	float:left;}	
	
<!--////////////////////////////////////Opening a new spa\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
.spa_form{
	float:left;
	width:100%;}
	
.spa_form h2{
 color: #84ddfd;
    float: left;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;}	
	
.spa_section{
	float:left;
	width:100%;
	margin-bottom:15px;}
	
.spa_form .description{
	font-size:16px;
	margin-bottom:15px;}
	
.consultants_cont{
	float:left;
	width:100%;
	margin-top:-20px;}
	
.consultants_cont .supplier_blk{
	margin-bottom:5px;}		
	

	
.remove_consultant{
    position: absolute;
    top: -12px;
    background-color: #84ddfd;
    color: white;
    border-radius: 150px;
    right: -10px;
    padding: 3px 2px;}	
	
.remove_consultant:hover{
	background-color:#F00;
	color:white;}	
.consultants_cont .supplier_blk.active{
	border:1px solid #84ddfd;}	
.btn.remove:hover{
	background-color:white;
	color:#b94a48;
	 border: 1px solid #b94a48;}		
	
.spa_section label{
	float:left;
	color:#929292;
	font-size:14px;
}
.consultants_cont .innerItem{
	padding-top:20px;
	float:left;
	width:100%;
	padding-right:18px;
	}
	

	
.hide{
	display:none;}	
.consultants_cont .supplier{
	float:left;
	width:100%;
	}
.consultants_cont .brand_logo_bx{
	margin-top:5px;} 	
.brand_logo_bx img{
	max-height:60px;}	
	
.consultant_details .inner_supplier{
	float:left;}	
	
.consultant_content{
	margin-left:230px;
	}	
.consultant_content	p{
	padding:0;
	margin:0;}
	.consultants_cont .slick-prev, .consultants_cont .slick-next {
    height: 35px;
    top: -20px;
    width: 35px;
	background-color:#999;
	background-repeat:no-repeat;
	background-position:center center;
}	

.active_consultant .consultants_btn{
	display:none;}
.consultants_cont .btn, .consultant_details .btn{
	width:120px;
	margin-top:5px;}
	
	.consultant_details{
		float:left;
		width:100%;
		padding:15px 20px;}
	
	.read_more{
		display:inline-block;
		color:#84ddfd;
		font-size:14px;}


.consultants_cont .slick-prev:hover, .consultants_cont .slick-next:hover {
		background-color:#404040;}

.consultants_cont .slick-prev {
    background-image:url("../img/arrow_slick_pages_left.png");
    right: 58px;
}

.consultants_cont .slick-next {
    background-image: url("../img/arrow_slick_pages_right.png");
    right:17px;

}	

	
	
.consultants_cont .inner_supplier{
	width:100%;
		}
	
.spa_section .salutation label{
	float:left;
	width:auto;
	margin-bottom:0;
	
	margin-right:15px;}	
	
.spa_section.mod label{
margin-right:25px;
	width:22%;
	margin-bottom:8px;}	

.spa_section.mod{
	margin:15px 0;}
	
.spa_section input{
	display:inline-block;
	vertical-align:middle;
	margin-right:3px;}				
	
/*//////////////////////////////////////////Testimonials\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.testimonials_cont .testigmonials_fig:nth-of-type(2n+2){
	float:right;
	}
.testigmonials_fig{
	display:inline-block;
	vertical-align:top;
	width:100%;
	float:left;
	max-width:450px;
	margin-bottom:50px;}
	

	
.page-title.blue{
	border-bottom:1px solid #9ce3f9;}	
.page-title.blue h1{
	color:#9ce3f9;}	
	
.testimonials .page-title{
	border-bottom:3px solid #9ce3f9;
	margin-bottom:20px;
	}		
	
.testimonials_tp{
	float:left;
	width:100%;
	position:relative;
	z-index:50;}	
.inner_testimonials_img{
	float: left;
	width:122px;}
	
.testimonials_content{
	margin-left:135px;}

.inner_testimonials_content{
	float:left;
	width:100%;
	margin-bottom:60px;}	
	
.testimonials_name{
	float:left;
	width:100%;
	color:#757575;
	font-size:22px;
	font-weight:600;}
	
.testimonials_title{
	float:left;
	width:100%;
	color:#7a7a7a;
	font-size:18px;
}		

.testimonials_description{
	float:left;
	width:100%;
	padding-left:50px;
	margin-top:-45px;
	}
	
.inner_testimonials_description{
	flaot:left;
	width:100%;
	color:#5e6d74;
	font-size:16px;
	background:#e7f8ff;
	padding:58px 35px 35px;
	font-style:italic;
	}	
	
.inner_testimonials_description .first_c{
	margin-left:30px;}	

.testigmonials_fig.mod .testimonials_content{
	margin-left:0;}
	
.testigmonials_fig.mod .testimonials_description{
		padding-left:0;}
		
.testigmonials_fig.mod .inner_testimonials_description{
	padding:35px;}		
	
.cls_des_lst{position:relative;
	}	
.cls_des_lst i{
	left: 4px;
    position: absolute;
    top: 4px;}
	
	
/*//////////////////////////////////////////FAQ\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
	
.std {
    float: left;
    width: 100%;
}	
.widget {
    display: inline;
}
.faq_wrapper {
    float: left;
    width: 100%;
}

#faq_wrapper .tab_head.active {
    background: #84ddfd ;
	color:#d9ffff;

}

#faq_wrapper .tab_head.active .tab_icon{
	font-size:12px;}
#faq_wrapper .tab_head {
   background: #d9ffff none repeat scroll 0 0;
    color: #767575;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 3px;
    padding: 7px 14px;
}
#faq_wrapper .tab_body {
    display: none;
    margin: 10px 0;
}
#faq_wrapper .tab_body{
	color:#7a7a7a;
	font-size:14px;}
.tab_icon{
	float:right;
	font-size: 18px;}

.ui-autocomplete{
	z-index:10000;}
@media (max-width: 700px) {
.pp_pic_holder.pp_default { width: 90%!important; left: 5%!important; overflow: hidden; }
div.pp_default .pp_content_container .pp_left { padding-left: 0!important; }
div.pp_default .pp_content_container .pp_right { padding-right: 0!important; }
.pp_content { width: 100%!important; height: auto!important; }
.pp_fade { width: 100%!important; height: 100%!important; }
a.pp_expand, a.pp_contract, .pp_hoverContainer, .pp_gallery, .pp_top, .pp_bottom { display: none!important; }
#pp_full_res img { width: 100%!important; height: auto!important; }
#pp_full_res iframe {width: 100%!important; height: 250px!important; }
.pp_details { width: 100%!important; padding-left: 3%; padding-right: 4%; padding-top: 10px; padding-bottom: 10px; background-color: #fff; margin-top: -2px!important; 

}
a.pp_close { right: 35px!important; top: 10px!important; }
.talent_box2{width:100%}
.project_back{float:right !important;position:relative !important;top:0 !important;margin-bottom:20px;}
.enquiry_close{display:block;}}	


	
			