.form-search .button{
	background-color:#24aee5;
	color:white;
	border:1px solid #969696;
	border-radius:2px;
	}
	
.form-search .button:hover{
	background-color:#969696;
	color:white;}	
	
.form-search .button a{
	color:white;
	font-size:11px;}
	
.featured_brands_home_logo .supplier_img{
		height:auto;}
		
.featured_brands_home_logo .supplier{
			position:absolute;
			z-index:10000;
			display:none;
			bottom:100%;}
			
.inner_featured_brands_home_logo:hover .supplier{
	display:block;}			
			
.featured_brands_home_logos .slick-list{
	overflow:inherit;
				}
				
.featured_brands_home_logos{
	position:relative;
	z-index:1000;}				
				
.featured_brands_home_logos .supplier_blk, .featured_brands_home_logos .supplier_name, .featured_brands_home_logos .inner_supplier label, .featured_brands_home_logos .featured_brands_home_logo a img, .featured_brands_home_logos .brand_logo_bx{
	min-height:inherit;
	height:auto !important;
					}
					
.featured_brands_home_logos .supplier_blk{
	background:white;
						}
						
.featured_brands_home_logos .inner_supplier label, .supplier_blk .btn{
							font-size:10px;}
						
.featured_brands_home_logos .supplier_name{
							font-size:12px;}
	
.slick-list .item{
	cursor:default;}	
	
.form-search-txt input{
	padding:8px 10px;
	border-radius:2px;
	border:1px solid #969696;
	margin-right:45px;}
.header-top{
	float:left;
	width:100%;
	margin-top:10px;
	margin-bottom:10px;}	
.ul-header-top li a{
	color:black;}
.currency_bx{
 margin-top: -5px;}	
.ul-header-top li{
	padding: 7px 10px;
	vertical-align:top;
	text-align:center;}
	
/*.ul-header-top .sub-dropdown{

	padding-top:5px;
	top:102% !important;
	border:none;
	-webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.75);
box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.75);
		}*/
#dropdown-3{
	position:static !important;}	
	
#dropdown-3 .brand_dropdown_ads{
	margin-top:20px;
	}		
#sub-dropdown-3{
	
	/*	-webkit-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);*/
	top:35px !important;
	border:none;
	}		
		
	#sub-dropdown-3{
		padding-top:0;}	
		
.ul-header-top .sub-dropdown li{
	padding:5px 0;}	
	
.ul-header-top li.li-header-top-mod{
	padding:0 10px;
		}	

.brand-section{
	float:left;
	width:100%;
	text-align:center;}
	
	
.inner-brand-section{
	display:inline-block;
	width:100%;
	text-align:left;
	max-width:965px;}	
		
.ul-header-top .dropdown:hover{
	background-color:#e8e8e8;}	
.menu-categories{
	float:left;
	width:100%;
	margin-bottom:15px;}	
.ul-menu-categories{
    display: table;
	background-color:white;
    table-layout: fixed;
	position:relative;
 width: 100%;
    padding-left: 0;}
	

	
.ul-menu-categories > li.dropdown, .ul-menu-categories > li .dropdown{
	padding:0 15px;}	
	
.ul-menu-categories > li{
    list-style: none;
    text-align: center;
    word-wrap: break-word;
	
    display: table-cell;
    border-left: 1px solid #FFF;
    border-top: none;	
	text-align:center;
	}	
	
.border-tp-btm{
	border-top:1px solid #8a8a8a;
	padding-top:15px;
	padding-bottom:15px;
	border-bottom:1px solid #8a8a8a;}	
	
.ul_featured_brands li a, .featured_brand_bx a{
	height:auto;
	
	line-height:15px;
	color:#333333;}
	
.featured_brand_bx a:hover{
	color:black;
	/*font-size:13px;*/
	text-decoration:underline;}		
	
.ul-menu-categories > li > a{
	font-size:12px;
	display:inline-block;
	padding:10px 0;
	position:relative;
	/*text-transform:uppercase;*/
	color: #333333;}
	
.ul-menu-categories > li:hover > a{
	/*background-color:white;*/
	color:black;}	
/*	
.ul-menu-categories > li > a:hover{
	color:#24aee5;}*/
	
.ul_featured_brands{
	width:15.5%;}		
	
.ul-header-top .sub-dropdown li{
	text-align:left;}
	
.ul-header-top .sub-dropdown li a{
	margin-left:15px;}	
	
.brand_dropdown_cont{
	width:1198px;}

.ul_featured_brands li {
	text-align:left;
	margin-top:5px;
	margin-bottom:5px;}
		
.ul_featured_brands li a{
	display:inline-block;
	
	margin-left:10px !important;}	
	
.featured_brands{
 padding: 10px 0;}	
 
/*.ul-menu-categories .dropdown:hover > a{
	color:#84ddfd;} */
	

.featured_brands{
	width:78%;}	
	
.brand_dropdown_ads{
	float:right;
	margin-right:1%;
	margin-left:1%;
	margin-top:20px;
	
	width: 20%;}
	
	
/*.category-sub-dropdown .brand_dropdown_ads{
	margin-top:10px;
	}	*/
.featured_brands{
	height:317px;
	}	
	
.category-sub-dropdown .categories-menu-list{
	/* height:388px;*/
	height:375px;}	
	
.form-search-txt.loader_input:after {

    top: 0px;
    right: 45px;
   }	
	 
.categories-menu-list ul{
	display:inline-block;
	margin-top:15px;
	width:100%;
	margin-bottom:15px;}
	
	 
	
.brand_dropdown_ads img{
	max-height:280px;}	
	
.dropdown.category-dropdown-menu, .category-dropdown-menu .dropdown{
	position:static;}
	
.category-dropdown-menu .dropdown{
	width:100%;
	display:inline-block;}		
.ul-menu-categories .category-dropdown-menu .dropdown > a, .ul-menu-categories > li > a{
	line-height:26px;
	white-space: nowrap;}
	
.ul-menu-categories .dropdown:hover > a{
	/*font-weight:bold;*/
	/*font-size:13px;*/
	text-decoration:underline;
	color:inherit;}		
.category-dropdown-menu > ul{
	display:inline-block;
	padding:0;
	list-style:none;
	margin:0;}	
.ul-menu-categories .dropdown .sub-dropdown{
	background:white;
	}	
.dropdown .sub-dropdown.category-sub-dropdown{
	background-color:white;
	/*border:none;*/
	text-align:left;
	
/*	-webkit-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);*/
border-bottom:1px solid #e8e8e8;
	padding:0;
	padding-top:5px;
	top:35px;}	
	
.category-dropdown-menu  ul li{
	display:inline-block;
	 width:14.3%;
	 margin:0px 1%;
	 /*margin-top:5px;*/
	 vertical-align:top;
	 padding-top:10px;
	 padding-bottom:10px;
	 margin-top:4px;
   }
	
		
.category-menu-img img{
	max-height:70px;}
	
.category-menu-img{
	float:left;
	width:100%;
	height:70px;}	
	
.category-menu-title{
	float:left;
	width:100%;
	margin-top:5px;
	text-align:center;}
	
.categories-menu-list.full-row{
	width:100%;}
	
.categories-menu-list.full-row ul li{
	width:10%;
	}	
/*.ul-menu-categories > li:hover > a:after{
	display:block;}	*/
.ul-menu-categories > li > a:after{
	position:absolute;
	bottom:0;
	left:0;
	display:none;
	width:100%;
	background:url(../img/menudropdown-arrow.png) no-repeat center center;
	height:10px;
	content:"";}
	
.new_banner{
	float:left;
	width:100%;
	}	
	
.banImg{
	float:left;
	width:100%;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;}	
	
.banMeeting{
	float:right;
	position:relative;

	z-index:1000;
	width:18%;}
	
.n-brand .banImg{
	width:100%;}	
	
.menu-categories-bottom{
	margin-top:5px;}	
.menu-categories-bottom ul{
    display: table;
	background-color:#fafafa;
    table-layout: fixed;
	position:relative;
 width: 100%;
    padding-left: 0;}
	
.menu-categories-bottom  li{
    list-style: none;
    text-align: center;
    word-wrap: break-word;

	height:68px;
	position:relative;
    display: table-cell;
    border-left: 1px solid #FFF;
 	border-top: none;	
	text-align:left;
	}
	
.inner-menu-categories-btm{
	position:absolute;
	top:0;
	left:1%;
	
	width:99%;
	height:100%;
	background-color:white;
	background-size:cover;
	background-position:center center;
-webkit-box-shadow: 0px 0px 3px 0.1px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 0px 3px 0.1px rgba(0,0,0,0.39);
box-shadow: 0px 0px 3px 0.1px rgba(0,0,0,0.39);}

.menu-categories-btm-content{
	position:absolute;
	bottom:0;
	width:98%;
	height:100%;
	left:0;
	padding:0 1%;
	font-size:14px;
	font-weight:600;
	text-transform:uppercase;
	background-color:rgba(255,255,255,0.8);
}	
	
.featured_brands_home_logo .brand-logo{
	position:relative;}
	
.featured_brands_home_logo .brand-logo:after{
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	visibility:hidden;
	width:100%;
	height:100%;
	content:"";
	background-color:rgba(255,255,255,0.7);}
	

	
/*	
.featured_brands_home_logo .brand-logo:hover img{
opacity:0.5;	}*/	
	
.slider_exceed_width{
	float:left;
	margin-left:-10px;
    width: -webkit-calc(100% + 20px);
    width: -moz-calc(100% + 20px);
    width: calc(100% + 20px);}			
.menu-categories-btm-content, .featured_brands_home_logo .brand-logo img, .category-menu-img img, .addImgEffect img{
	/*transform: scale(1, 1); */
	
	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: ease;
	
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease;
	
	-moz-transition-delay: 0s;
	-moz-transition-duration: 0.4s;
	-moz-transition-property: all;
	-moz-transition-timing-function: ease;
	
	-ms-transition-delay: 0s;
	-ms-transition-duration: 0.4s;
	-ms-transition-property: all;
	-ms-transition-timing-function: ease;	
	
	-o-transition-delay: 0s;
	-o-transition-duration: 0.4s;
	-o-transition-property: all;
	-o-transition-timing-function: ease;
}	
	
.inner-menu-categories-btm:hover .menu-categories-btm-content{
	height:20px;
	font-size:13px;
	color:black;
	}	
	
.ads_step{
	float:left;
	width:100%;
	/*background-image:url(../img/ads-step.jpg) ;*/
	background-repeat:no-repeat; 
	background-position:center center;
	margin-top:25px;
	height:305px;}
.footer-blk #NewsLetterForm .form-item{
	position:relative;
	border: 1px solid #afafb6;
	border-radius: 5px;

    overflow: hidden;}	
.footer-blk #NewsLetterForm .textbox{
	color:#969696;
	border:none;
	margin-bottom:0;
	font-size:12px;
	padding:8px 7px;
	}	
	
.footer-blk #NewsLetterForm .btn{
	position:absolute;
	top:0;
	height:100%;
	font-size:11px;
	font-weight:600;
	right:0;
	background-color:#969696;
	color:white;
	border:none;
	}
	
.footer-blk .buttons-set{
		margin-bottom:0;}	
	
.footer-blk #NewsLetterForm .btn:hover{
	background:#333;}		
	
.instagram-widgets{
	float:left;
	width:22%;}			

.footer .middleSide{
	margin-left:0;
	width:100%;}
	
.addImgEffect:hover img, .category-dropdown-menu  ul li:hover, .inner_featured_brands_home_logo:hover{
    /*-webkit-transform: scale(1.2,1.2) rotate(5deg);
    -moz-transform: scale(1.2,1.2) rotate(5deg);
    -ms-transform: scale(1.2,1.2) rotate(5deg);
    -o-transform: scale(1.2,1.2) rotate(5deg);
    transform: scale(1.2,1.2) rotate(5deg);*/
	-webkit-transform: scale(1.05,1.05);
    -moz-transform: scale(1.05,1.05);
    -ms-transform: scale(1.05,1.05);
    -o-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
	position:relative;
	z-index:100;
}	

.category-dropdown-menu  ul li:hover a{
	/*font-weight:600;*/
	color:black;}

.supplier{
	float:left;
	width:100%;
	}
	
.supplier_cont{
	width:100%;
	float:right;
	max-width:215px;}	
	
.advertsiement-slider{
	float:left;
	max-height:290px;
	overflow:hidden;
	width: -webkit-calc(100% - 230px);
    width: -moz-calc(100%  - 230px);
    width: calc(100%  - 230px);}	
.advertsiement-slider.mod{
		width: -webkit-calc(100%);
    width: -moz-calc(100%);
    width: calc(100%);}	
	.supplier_blk{
		min-height:290px;}
		
	.supplier_video{
		margin-top:10px;}	
		

		
.innerContent.account-register-mod{
	width:80%;
	margin:0 10%;}	
	
.account-register-mod .opc-step .new-users{
	    padding: 15px 0;
	}	
	
.ads_step .innerItem{
	height:305px;
	float:left;
	width:100%;
	}	
.new-header-ul .dropdown{
	position:relative;
	z-index:5000;}	
.new-header-ul .dropdown .sub-dropdown{
	background-color:#24aee5;
	padding-top:10px;
	}	
	
.new-header-ul .dropdown .sub-dropdown li a{
	color:white;}	
	
.new-header-ul .dropdown .sub-dropdown li a:hover, .new-header-ul .dropdown .sub-dropdown li a.active{
	color:black;}		

	
	

								