
.u-account-billinginformation {
}
.u-account-billinginformation .actionlist {
    padding: 0 0 10px;
}
.u-account-billinginformation .actionlist .action {
    float: left;
    margin: 0 15px 0 0;
}
.u-account-billinginformation .actionlist .action-secondary {
    margin: 0;
    padding: 6px 0 0;
}
.u-account-billinginformation .actionlist-addmethod .button, .u-account-billinginformation .actionlist-savemethod .button {
    background: rgba(0, 0, 0, 0) url("../images/buttons/sprite_buttons-account.png") repeat scroll 0 0;
    display: block;
    float: left;
    height: 24px;
    overflow: hidden;
    text-indent: -999em;
    width: 228px;
}
.u-account-billinginformation .actionlist-addmethod .button {
    background-position: 0 -330px;
}
.u-account-billinginformation .actionlist-savemethod .button {
    background-position: 0 -300px;
}
.u-account-createform {
}
.u-account-customeraddressform {
}
.u-account-customeraddressform .pairinglist {
}
.u-account-customeraddressform .pairinglist-basics {
}
.u-account-customeraddressform .pairinglist-options {
}
.u-account-customeraddressform .u-miscellaneous-addressform {
}
.u-account-customeraddressform .u-miscellaneous-addressform .pairings .pairing-emailaddress, .u-account-customeraddressform .u-miscellaneous-addressform .pairings .pairing-state {
}
.u-account-customeraddressselector {
    padding: 10px 0;
}
.u-account-customeraddressselector .advanced-selector {
}
.u-account-customeraddressselector .actionlist-submitadr {
    background: #f7f6f4 none repeat scroll 0 0;
    border: 1px solid #e3e3e3;
    padding: 9px;
}
.u-account-customeraddressselector .actionlist-submitadr .actions {
    margin: 0 auto;
    width: 236px;
}
.u-account-customeraddressselector .actionlist-submitadr .action {
}
.u-account-customeraddressselector .actionlist-submitadr .button {
    background: rgba(0, 0, 0, 0) url("../images/buttons/ship-to-this-address_u.png") repeat scroll 0 0;
    display: block;
    height: 24px;
    overflow: hidden;
    text-indent: -999em;
    width: 236px;
}
.u-account-customertenderform {
}
.u-account-customertenderform .basics {
    border-bottom: 1px solid #efe8de;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}
.u-account-customertenderform .basics .input-text {
    width: 210px;
}
.u-account-customertenderform .options {
    border-top: 1px solid #efe8de;
    margin-top: 0.5em;
    padding-top: 1em;
}
.u-account-customertenderform .options .pairing-content {
    margin-left: 1em;
}
.u-account-customertenderselector {
}
#ctl00_ctl00_ctl00_BodyContent_BodyContent_BodyContent_ctl00_ctsCustomerTenderSelector_rptSavedTender_ctl01_fvSecurityCode {
    display: none;
}
.u-account-customertenderselector .selector {
    list-style: outside none none;
    margin: 0;
}
.u-account-customertenderselector .item {
    background: #f7f6f4 none repeat scroll 0 0;
    border: 1px solid #e2e2e2;
    float: left;
    margin: 10px 14px 10px 0;
    min-height: 250px;
    padding: 10px;
    width: 190px;
}
.u-account-customertenderselector .info {
}
.u-account-customertenderselector .select {
}
.u-account-customertenderselector .select a {
    background: rgba(0, 0, 0, 0) url("../images/buttons/sprite_buttons.png") repeat scroll 0 -250px;
    display: block;
    height: 24px;
    overflow: hidden;
    text-indent: -999em;
    width: 190px;
}
.u-account-customertenderselector h3 {
    display: none;
}
.u-account-customertenderselector .properties {
    list-style: outside none none;
    margin: 0;
    padding: 10px 0 0;
}
.u-account-customertenderselector .properties li {
    margin: 0;
    padding: 3px 0;
}
.u-account-customertenderselector .properties address {
    margin: 2px 0 0;
}
.u-account-customertenderselector .properties .input-text {
    width: 50px;
}
.u-account-customertenderselector .card {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
.u-account-customertenderselector .actionlist {
    padding: 10px 0 0;
}
.u-account-customertenderselector .action {
    float: left;
    margin: 0 10px 0 0;
}
.u-account-customertenderselector .button {
    background: rgba(0, 0, 0, 0) url("../images/buttons/sprite_buttons.png") repeat scroll 0 0;
    float: left;
    height: 17px;
    overflow: hidden;
    text-indent: -999em;
}
.u-account-customertenderselector .action-edit .button {
    background-position: -80px -170px;
    width: 32px;
}
.u-account-customertenderselector .action-delete .button {
    background-position: -210px -170px;
    width: 46px;
}
.u-account-loginform {
}
.u-account-settingsform {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0.5em;
}
.u-account-settingsform .input-text {
    width: 230px;
}
.u-account-settingsform li.pairing-password span.pairing-note {
    display: block;
}
.u-account-settingsform .pairing-username .input-text, .u-account-settingsform .pairing-password .input-password {
    width: 170px;
}
.u-account-universal-accountfoundconfirmation {
}
.u-account-universal-accountlookup {
}
.u-account-universal-accountlookup .button {
    float: left;
    height: 30px;
    width: 216px;
}
.u-account-universal-accountselector {
}
.u-account-universal-accountselector a {
    cursor: pointer;
}
.u-account-universal-accountselector .add {
    float: left;
    margin: 0 30px 0 0;
}
.u-account-universal-accountselector .actionlist {
}
.u-account-universal-accountselector .actionlist a {
    background: rgba(0, 0, 0, 0) url("../images/buttons/sprite_buttons-account.png") repeat scroll 0 -120px;
    float: left;
    height: 21px;
    overflow: hidden;
    text-indent: -999em;
    width: 146px;
}
.u-account-universal-accountselector .added {
    float: left;
}
.u-account-universal-accountselector .added ul {
    list-style: outside none none;
    margin: 0;
}
.u-account-universal-branchdetails {
    border: 1px solid #e2e2e2;
    padding: 15px 15px 8px;
}
.u-account-universal-branchdetails .basicinfo {
}
.u-account-universal-branchdetails .basicinfo .bizname {
    margin: 0 0 10px;
}
.u-account-universal-branchdetails .basicinfo .address {
    margin: 0 0 10px;
}
.u-account-universal-branchdetails .basicinfo .address p {
    margin: 0;
}
.u-account-universal-branchdetails .basicinfo .address address {
    margin: 0;
}
.u-account-universal-branchdetails .properties {
    margin: 0 0 10px;
}
.u-account-universal-branchdetails .property {
    margin: 0 0 2px;
}
.u-account-universal-branchdetails .edit {
}
.u-account-universal-branchdetails .action a {
    background: rgba(0, 0, 0, 0) url("../images/buttons/sprite_buttons.png") repeat scroll -80px -170px;
    float: left;
    height: 17px;
    overflow: hidden;
    text-indent: -999em;
    width: 32px;
}
.u-account-universal-businesstypeforms-dayspa {
}
.u-account-universal-businesstypeforms-independentpractitioner {
}
.u-account-universal-businesstypeforms-medicalspa {
}
.u-account-universal-businesstypeforms-privateclubcommunity {
}
.u-account-universal-businesstypeforms-resorthotel {
}
.u-account-universal-businesstypeforms-school {
}
.u-account-universal-businesstypeforms-student {
}
.u-account-universal-businesstypeforms-wellnessholisticcenter {
}
.u-account-universal-accountsfoundlist {
}
.u-account-universal-accountsfoundlist table.base {
}
.u-account-universal-accountsfoundlist table.base td {
    padding: 8px 3px;
}
.u-account-universal-accountsfoundlist .newaccount {
    font-weight: bold;
}
.u-account-universal-mailingaddressform {
}
.u-account-universal-mailingaddressform .pairing-hidelabel label.primary {
    visibility: hidden;
}
.u-account-universal-newaccountselecttype {
}
.u-account-universal-newaccountselecttype .accounttype {
    list-style: outside none none;
    margin: 0;
}
.u-account-universal-newaccountselecttype .accounttype li {
    float: left;
    margin: 0 10px 0 0;
}
.u-account-universal-newaccountselecttype .accounttype .button {
    background: rgba(0, 0, 0, 0) url("../images/buttons/sprite_buttons.png") repeat scroll 0 0;
    float: left;
    height: 30px;
    overflow: hidden;
    text-indent: -999em;
}
.u-account-universal-newaccountselecttype .accounttype .professional .button {
    background-position: -70px 0;
    width: 157px;
}
.u-account-universal-newaccountselecttype .accounttype .student .button {
    background-position: 0 -130px;
    width: 119px;
}
.u-account-universal-newaccountselecttype .accounttype .consumer .button {
    background-position: -130px -130px;
    width: 133px;
}
.u-account-universal-ordersearchform {
}
.u-account-universal-ordersearchform .pairinglist {
}
.u-account-universal-ordersearchform .pairing {
    margin: 0;
    padding: 5px 0;
}
.u-account-universal-ordersearchform .pairing .secondary {
    margin: 0 6px 0 0;
}
.u-account-universal-ordersearchform .actionlist-submitsearch {
    padding: 0 0 10px;
}
.u-account-universal-ordersearchform .actionlist-submitsearch .button {
    background: rgba(0, 0, 0, 0) url("../images/buttons/sprite_buttons.png") repeat scroll 0 0;
    display: block;
    height: 21px;
    overflow: hidden;
    text-indent: -999em;
    width: 63px;
}
.u-account-universal-registrationform {
}
.u-account-universal-registrationform .privacy {
    padding: 0 0 0 50px;
}
.u-account-universal-registrationform .privacy p {
    margin: 0;
    padding: 3px 0 20px;
}
.u-account-universal-registrationform li.pairing-desiredpassword .input-password, .u-account-universal-registrationform .password-str-output {
    float: left;
    margin-right: 5px;
}
.u-account-universal-registrationform .password-str-output {
    font-size: 0.89em;
    font-weight: bold;
    margin-top: 2px;
}
.u-account-universal-registrationform .password-str-output b {
    color: #666 !important;
    font-weight: normal;
}
.u-account-universal-registrationform .password-str-weak .password-str-output {
    color: #ff0000;
}
.u-account-universal-registrationform .password-str-medium .password-str-output {
    color: #ffcc33;
}
.u-account-universal-registrationform .password-str-strong .password-str-output {
    color: #789d10;
}
.u-account-universal-registrationform .password-message {
    color: #666;
    font-size: 0.89em;
    margin: 0;
    padding: 4px 0 0;
    white-space: normal;
    width: 330px;
}
.u-account-universal-registrationform .actionlist {
}
.u-account-universal-registrationform .button {
    background: rgba(0, 0, 0, 0) url("../images/buttons/sprite_buttons.png") repeat scroll 0 -90px;
    direction: ltr;
    float: left;
    height: 30px;
    overflow: hidden;
    text-indent: -999em;
    width: 204px;
}
.u-account-universal-registrationform .cancel {
    background: rgba(0, 0, 0, 0) url("../images/buttons/sprite_buttons-account.png") repeat scroll -121px -541px;
    direction: ltr;
    float: left;
    height: 28px;
    margin-left: 5px;
    margin-top: 3px;
    overflow: hidden;
    text-indent: -999em;
    width: 84px;
}
.u-miscellaneous-universalcompanies-addressverification .pairing-actionmessage {
    color: #789d10;
    font-size: 1.3em;
}
.u-miscellaneous-universalcompanies-addressverification .action .button {
    background: rgba(0, 0, 0, 0) url("../images/buttons/sprite_buttons-account.png") no-repeat scroll 0 0;
    direction: ltr;
    text-indent: -9999em;
}
.u-miscellaneous-universalcompanies-addressverification .action-update-refinement .button {
    background-position: 0 -598px;
    display: block;
    float: none;
    height: 21px;
    width: 136px;
}
.u-miscellaneous-universalcompanies-addressverification .action-use-recommended .button {
    background-position: 0 -569px;
    display: block;
    float: none;
    height: 25px;
    width: 268px;
}
.u-miscellaneous-universalcompanies-addressverification .action-use-current .button {
    background-position: 0 -650px;
    display: inline-block;
    float: left;
    height: 24px;
    width: 190px;
}
.u-miscellaneous-universalcompanies-addressverification .action-edit-current .button {
    background-position: 0 -679px;
    display: inline-block;
    float: left;
    height: 24px;
    margin: 2px 0 0 3px;
    width: 108px;
}
.u-cart-dropdown {
}
.u-cart-dropdown .products {
    border-top: 1px solid #ccc;
    margin-bottom: 5px;
}
.u-cart-dropdown .product {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.u-cart-dropdown .products .remove, .u-cart-dropdown .products .image, .u-cart-dropdown .products .info, .u-cart-dropdown .products .price {
    float: left;
    min-height: 38px;
}
.u-cart-dropdown .products .remove {
    width: 24px;
}
.u-cart-dropdown .products .remove span {
    display: block;
}
.u-cart-dropdown .products .remove .txt {
    text-indent: -9999em;
}
.u-cart-dropdown .products .remove .ico {
    background: rgba(0, 0, 0, 0) url("../images/layout/sprite_globals.png") repeat scroll 0 -20px;
    height: 13px;
    margin-top: 5px;
    overflow: hidden;
    width: 13px;
}
.u-cart-dropdown .products .image {
    width: 35px;
}
.u-cart-dropdown .products .image img {
    border: 1px solid #e6e6e6;
    float: left;
    height: 25px;
    margin: 0 10px 5px 0;
    overflow: hidden;
    width: 25px;
}
.u-cart-dropdown .products .info {
    width: 100px;
}
.u-cart-dropdown .info .fsid-product {
    display: none;
}
.u-cart-dropdown .products .price {
    float: right;
}
.u-cart-dropdown .meta {
    margin-bottom: 10px;
}
.u-cart-dropdown .meta .viewall {
    display: block;
}
.u-cart-dropdown .meta .total {
    float: right;
}
.u-cart-dropdown .action-cart {
    float: left;
}
.u-cart-dropdown .action-checkout {
    float: right;
}
.u-cart-summary {
    padding: 0 0 9px;
}
.u-cart-summary .summary {
    padding: 2px 5px;
}
.u-cart-summary .col-product {
    width: 100px;
}
.u-cart-summary .col-product .product-name {
    color: #369;
}
.u-cart-summary .u-miscellaneous-totalstable {
    padding: 5px 0 10px;
}
.u-cart-summary .u-miscellaneous-totalstable table {
    border-collapse: collapse;
    width: 100%;
}
.u-cart-summary .u-miscellaneous-totalstable th, .u-cart-summary .u-miscellaneous-totalstable td {
    padding: 4px 5px;
    text-align: right;
}
.u-cart-summary .u-miscellaneous-totalstable th {
    font-weight: normal;
    width: 62%;
}
.u-cart-summary .u-miscellaneous-totalstable td {
    font-weight: bold;
}
.u-cart-summary .u-miscellaneous-totalstable .total th, .u-cart-summary .u-miscellaneous-totalstable .total td {
    background: #f7f6f4 none repeat scroll 0 0;
    color: #65850b;
    font-size: 1.364em;
    padding: 8px 5px;
}
.u-cart-summary .u-miscellaneous-totalstable .estimated {
    display: inline;
}
.u-cart-summary .u-miscellaneous-trapcodemanager {
    background: #f7f6f4 none repeat scroll 0 0;
    border: 1px solid #e3e3e3;
    margin: 0 9px 5px;
}
.u-cart-summary .u-miscellaneous-trapcodemanager table {
    margin: 0 auto;
}
.u-cart-summary .u-miscellaneous-trapcodemanager caption {
    padding: 2px 0 0;
}
.u-cart-summary .u-miscellaneous-trapcodemanager table.base td {
    border: 0 none;
    padding: 1px 3px;
}
.u-cart-interimoverlay {
    background-color: #fff;
    border: 3px solid #ccc;
    padding: 10px;
}
.u-cart-interimoverlay .product-detail {
    float: left;
    margin-right: 1em;
    width: 300px;
}
.u-cart-interimoverlay .related-products {
    float: left;
    width: 300px;
}
.u-cart-interimoverlay .related-products .u-products-relatedproducts li {
    float: left;
}
.u-cart-interimoverlay .related-products .u-products-relatedproducts .info {
    display: none;
}
.u-cart-interimoverlay .recentlyviewed-products {
    clear: left;
    float: left;
}
.u-cart-interimoverlay .continue-shopping {
    float: left;
}
.u-cart-quickadd {
    width: 310px;
}
.u-cart-quickadd table {
}
.u-cart-quickadd caption {
    font-weight: bold;
    padding: 0 0 3px;
    text-align: left;
}
.u-cart-quickadd tbody {
}
.u-cart-quickadd tbody td {
    border: medium none;
    padding-bottom: 10px;
}
.u-cart-quickadd tbody td:first-child {
    width: 200px;
}
.u-cart-quickadd .input-text {
    font-size: 0.9em;
    width: 177px;
}
.u-cart-quickadd .input-quantity {
    width: 60px;
}
.u-cart-quickadd .actionlist {
}
.u-cart-quickadd .actions {
    float: left;
}
.u-cart-quickadd .action {
    float: left;
    margin: 0 10px 0 0;
}
.u-cart-quickadd .button {
    float: left;
}
.u-cart-freeshippingmessage {
}
.u-cart-freeshippingmessage h2 {
    font-size: 1.818em;
    margin: 0;
}
.u-cart-freeshippingmessage p {
    font-size: 1.091em;
}
.u-cart-freeshippingmessage p.qualifier {
    font-size: 1.818em;
    margin: 0 0 0.5em;
}
.u-checkout-orderreviewdetailed {
}
.u-checkout-orderreviewdetailed .intro {
}
.u-checkout-orderreviewdetailed .approvalmessage {
    font-size: 1.1em;
    font-weight: bold;
}
.u-checkout-orderreviewdetailed .review {
}
.u-checkout-orderreviewdetailed .actionlist-order-top {
    background-color: #f7f6f4;
    border: 1px solid #e3e3e3;
    margin: 0 0 10px;
    padding: 8px;
}
.u-checkout-orderreviewdetailed .actionlist-order-top .actions {
    float: right;
}
.u-checkout-orderreviewdetailed .actionlist-order-top .action {
    float: right;
}
.u-checkout-orderreviewdetailed .actionlist-order-top .button {
    float: right;
}
.u-checkout-orderreviewdetailed .orderdata {
}
.u-checkout-orderreviewdetailed .placeorder {
}
.u-checkout-orderreviewdetailed .placeorder .u-miscellaneous-totalstable {
    clear: right;
    float: right;
    padding: 0 0 10px;
}
.u-checkout-orderreviewdetailed .placeorder .actionlist-order-btm {
    clear: right;
    float: right;
}
.u-checkout-orderreviewdetailed .placeorder .actionlist-order-btm .actions {
    float: right;
}
.u-checkout-orderreviewdetailed .placeorder .actionlist-order-btm .action {
    float: right;
}
.u-checkout-orderreviewdetailed .placeorder .actionlist-order-btm .button {
    float: right;
}
.u-checkout-selectionsummary-shippingaddress {
}
.u-checkout-selectionsummary-shippingaddress ol {
    list-style: outside none none;
    margin: 0;
}
.u-checkout-shippingaddressform {
}
.u-checkout-shippingaddressform .ctbox {
}
.u-checkout-shippingaddressform .ctbox-body {
}
.u-checkout-shippingaddressform .address-saved {
    margin: 0 0 10px;
}
.u-checkout-shippingaddressform .address-new {
}
.u-checkout-shippingaddressform .requiredfields {
    font-style: italic;
}
.u-checkout-shippingaddressform .requiredfields .required {
    color: #789d10;
}
.u-checkout-shippingaddressform .u-account-customeraddressform {
}
.u-checkout-shippingaddressform .u-miscellaneous-addressform {
}
.u-checkout-shippingaddressform .actionlist-submit-adr-new {
}
.u-checkout-shippingaddressform .actionlist-submit-adr {
}
.u-customerorder-detail {
}
.u-customerorder-detail .orderstatus {
    font-weight: bold;
    padding: 15px 0;
}
.u-customerorder-detail .orderstatus p {
    background: #f7f6f4 none repeat scroll 0 0;
    border: 1px solid #e3e3e3;
    margin: 0;
    padding: 4px 8px;
}
.u-customerorder-detail .orderstatus span {
    float: left;
}
.u-customerorder-detail .orderstatus .print {
    float: right;
}
.u-customerorder-detail .poNumber {
    padding: 0 0 15px 15px;
}
.u-customerorder-detail .shipments {
}
.u-customerorder-detail .shipment {
    padding: 0 0 20px;
}
.u-customerorder-detail .shiptrack {
    padding: 0 0 20px;
}
.u-customerorder-detail .shiptrack h2 {
}
.u-customerorder-detail .shiptrack .section {
    border-left: 1px solid #e1e1e1;
    float: left;
    min-height: 120px;
    padding: 0 2%;
    width: 29%;
}
.u-customerorder-detail .shiptrack .first {
    border: medium none;
}
.u-customerorder-detail .shiptrack .section h3 {
    margin: 0 0 10px;
}
.u-customerorder-detail .shiptrack .section address {
    margin: 0;
}
.u-customerorder-detail .shiptrack .section p {
    margin: 0;
}
.u-customerorder-detail .shiptrack .section ul {
    list-style: outside none none;
    margin: 0;
}
.u-customerorder-detail .shiptrack .section li {
    margin: 0;
}
.u-customerorder-detail .products {
}
.u-customerorder-detail .tenders {
    padding: 0 0 30px;
}
.u-customerorder-detail .tenders h2 {
}
.u-customerorder-detail .tenders table.base {
}
.u-customerorder-detail .tenders table.base th {
    padding: 10px 8px 8px;
}
.u-customerorder-detail .tenders table.base td {
    padding: 8px;
    vertical-align: top;
}
.u-customerorder-detail .totals {
}
.u-customerorder-detail .u-miscellaneous-totalstable {
}
.u-customerorder-detail .u-miscellaneous-totalstable table {
    float: right;
}
.u-customerorder-detail .actionlist-productactions {
    padding: 0 0 10px;
}
.u-customerorder-detail .action-addtowishlist .button {
    background: rgba(0, 0, 0, 0) url("../images/buttons/sprite_buttons-account.png") repeat scroll 0 -450px;
    display: block;
    height: 24px;
    overflow: hidden;
    text-indent: -999em;
    width: 236px;
}
.u-customerorder-orderhistorygrid {
}
.u-customerorder-orderhistorygrid .actionlist-export {
}
.u-customerorder-orderhistorygrid .actionlist-export .actions {
    float: right;
}
.u-customerorder-orderhistorygrid .actionlist-export .action {
    float: right;
    margin: 0;
}
.u-customerorder-orderhistorygrid .action-export .button {
    background: rgba(0, 0, 0, 0) url("../images/buttons/sprite_buttons-account.png") repeat scroll -140px -360px;
    float: right;
    height: 21px;
    margin: 10px 0 4px;
    overflow: hidden;
    text-indent: -999em;
    width: 154px;
}
.u-customerorder-orderhistorygrid table.base {
    margin: 0 0 10px;
}
.u-customerorder-orderhistorygrid table.base th {
    padding: 10px 8px 8px;
}
.u-customerorder-orderhistorygrid table.base th a {
    color: #fff;
}
.u-customerorder-orderhistorygrid table.base td {
    padding: 8px;
    vertical-align: top;
}
.u-customerorder-publicsearchform {
}
.u-customerorder-publicsearchform .actionlist-submitsearch .button {
    background: rgba(0, 0, 0, 0) url("../images/buttons/sprite_buttons.png") repeat scroll 0 -90px;
    display: block;
    float: left;
    height: 30px;
    overflow: hidden;
    text-indent: -999em;
    width: 204px;
}
.u-emaillist-emaillistform {
}
.u-emaillist-emaillistselector {
}
.u-emaillist-emaillistsubscriptions {
}
.u-inquiry-productinquiryform {
    display: none;
}
.u-miscellaneous-address-form {
}
.u-miscellaneous-pagetitle {
}
.u-miscellaneous-pagetitle h1 {
}
.u-miscellaneous-pagetitle span {
    display: block;
}
.u-miscellaneous-pagesharer {
}
.u-miscellaneous-pagesharer span.txt {
    color: #1165d0;
    float: left;
    font-size: 1.091em;
    margin: 0 5px;
}
.u-miscellaneous-pagesharer span.ico {
    background: rgba(0, 0, 0, 0) url("../images/layout/sprite_social-icons.png") no-repeat scroll -120px -30px;
    float: left;
    height: 16px;
    overflow: hidden;
    text-indent: -9999em;
    width: 16px;
}
.u-miscellaneous-pagesharer ul {
    float: left;
    list-style: outside none none;
    margin: 0;
}
.u-miscellaneous-pagesharer li {
    float: left;
    margin: 0 0 0 5px;
}
.u-miscellaneous-pagesharer li a {
    background: rgba(0, 0, 0, 0) url("../images/layout/sprite_social-icons.png") no-repeat scroll 9999px 9999px;
    float: left;
    height: 16px;
    overflow: hidden;
    padding: 0;
    text-indent: -9999em;
    width: 16px;
}
.u-miscellaneous-pagesharer .twitter a {
    background-position: -30px -30px;
}
.u-miscellaneous-pagesharer .facebook a {
    background-position: 0 -30px;
}
.u-miscellaneous-pagesharer .linkedin a {
    background-position: -60px -30px;
}
.u-miscellaneous-pricing {
}
.u-miscellaneous-recentlyviewed {
}
.u-miscellaneous-recentlyviewed .products {
}
.u-miscellaneous-recentlyviewed .categories {
}
.u-miscellaneous-recentlyviewed .searches {
}
.u-miscellaneous-recentlyviewed .u-miscellaneous-recentlyviewedblock {
}
.u-miscellaneous-recentlyviewed .products .u-miscellaneous-recentlyviewedblock {
}
.u-miscellaneous-recentlyviewed .products .u-miscellaneous-recentlyviewedblock .txt {
    width: 113px;
}
.u-miscellaneous-recentlyviewedblock {
    margin: 0 0 10px;
}
.u-miscellaneous-recentlyviewedblock h3 {
    font-size: 1em;
}
.u-miscellaneous-recentlyviewedblock ul {
    list-style: outside none none;
    margin: 0;
}
.u-miscellaneous-recentlyviewedblock li {
    border-top: 1px dashed #e2e2e2;
    float: left;
    margin: 0;
    width: 100%;
}
.u-miscellaneous-recentlyviewedblock li:first-child {
    border: medium none;
}
.u-miscellaneous-recentlyviewedblock a {
    float: left;
    padding: 10px 0;
    width: 100%;
}
.u-miscellaneous-recentlyviewedblock span {
    float: left;
}
.u-miscellaneous-recentlyviewedblock .img {
    border: 1px solid #e2e2e2;
    height: 50px;
    margin: 0 10px 0 0;
    overflow: hidden;
    width: 50px;
}
.u-miscellaneous-recentlyviewedblock img {
    float: left;
}
.u-miscellaneous-recentlyviewedblock .txt {
}
.u-miscellaneous-syndicationfeedrepeater {
}
.u-miscellaneous-syndicationfeedrepeater .posts {
    list-style: outside none none;
    margin: 0;
}
.u-miscellaneous-syndicationfeedrepeater .post h3 {
    margin-bottom: 0.25em;
}
.u-miscellaneous-syndicationfeedrepeater .post h3 a {
    text-decoration: none;
}
.u-miscellaneous-syndicationfeedrepeater .post h4 {
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    margin-top: 0;
}
.u-miscellaneous-tenderform {
}
.u-miscellaneous-tenderform .pairing {
    clear: left;
    float: left;
    margin-right: 20px;
}
.u-miscellaneous-tenderform .pairing-tendertype {
    display: none;
}
.u-miscellaneous-tenderform .pairing-tendersubtype {
}
.u-miscellaneous-tenderform .pairing-tendernumber {
}
.u-miscellaneous-tenderform .pairing-securitycode, .u-miscellaneous-tenderform .pairing-expiration {
    clear: none;
}
.u-miscellaneous-tenderform .pairing-securitycode .input-text {
    width: 100px;
}
.u-miscellaneous-totalstable {
}
.u-miscellaneous-totalstable table {
}
.u-miscellaneous-totalstable th, .u-miscellaneous-totalstable td {
    padding: 2px 0 2px 10px;
    text-align: right;
}
.u-miscellaneous-totalstable th {
    font-weight: normal;
}
.u-miscellaneous-totalstable td {
    font-weight: bold;
}
.u-miscellaneous-totalstable .total th, .u-miscellaneous-totalstable .total td {
    color: #65850b;
    font-size: 1.636em;
}
.u-miscellaneous-totalstable .estimated {
    display: none;
}
.u-miscellaneous-trapcodemanager {
}
.u-miscellaneous-trapcodemanager table.base {
    margin-bottom: 0;
    width: auto;
}
.u-miscellaneous-trapcodemanager table caption {
    font-weight: bold;
    text-align: left;
}
.u-miscellaneous-trapcodemanager table thead {
    display: none;
}
.u-miscellaneous-trapcodemanager table.base td, .u-miscellaneous-trapcodemanager table.base tr.alt td {
    border: 0 none;
    padding: 5px 8px 5px 0;
}
.u-miscellaneous-trapcodemanager table td input.input-text {
    font-size: 0.9em;
    width: 85px;
}
.u-miscellaneous-trapcodemanager table td.col-trapcode {
    font-size: 1.2em;
    font-weight: bold;
}
.u-miscellaneous-trapcodemanager table td.col-action {
    font-size: 0.917em;
}
.u-miscellaneous-universalcompanies-omniturecategories {
    background: #f7f6f4 none repeat scroll 0 0;
    border-top: 1px dashed #e0e0e0;
    margin: 0 0 20px;
    padding: 0 10px;
}
.u-miscellaneous-universalcompanies-omniturecategories .nav {
}
.u-miscellaneous-universalcompanies-omniturecategories .nav-categories {
}
.u-miscellaneous-universalcompanies-omniturecategories .nav-filters {
}
.u-miscellaneous-universalcompanies-omniturecategories .section {
    border-bottom: 1px dashed #e0e0e0;
    padding: 7px 0 5px;
}
.u-miscellaneous-universalcompanies-omniturecategories .section h3 {
    color: #5d1e59;
    margin: 0;
    padding: 3px 0;
    width: 180px;
}
.js .u-miscellaneous-universalcompanies-omniturecategories .section h3 {
    padding: 0;
}
.u-miscellaneous-universalcompanies-omniturecategories .nav-refinements .section h3 {
    color: #789d10;
}
.u-miscellaneous-universalcompanies-omniturecategories .section h3 a {
    color: #5d1e59;
    display: block;
    overflow: hidden;
    padding: 3px 0;
}
.u-miscellaneous-universalcompanies-omniturecategories .section h3 a:hover {
    text-decoration: none;
}
.u-miscellaneous-universalcompanies-omniturecategories .section h3 span {
    float: left;
}
.u-miscellaneous-universalcompanies-omniturecategories .section h3 .ico-1 {
    display: none;
}
.u-miscellaneous-universalcompanies-omniturecategories .section h3 .ico-2 {
    background: rgba(0, 0, 0, 0) url("../images/layout/sprite_globals.png") repeat scroll -60px -20px;
    height: 11px;
    margin: 3px 0 0;
    text-indent: -999em;
    width: 10px;
}
.u-miscellaneous-universalcompanies-omniturecategories .details-open h3 .ico-2 {
    background-position: -80px -20px;
}
.u-miscellaneous-universalcompanies-omniturecategories .section h3 .txt {
    float: right;
    width: 166px;
}
.u-miscellaneous-universalcompanies-omniturecategories .nav-content {
}
.u-miscellaneous-universalcompanies-omniturecategories .scrollable {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #b8b8b8;
    max-height: 97px;
    overflow: auto;
    padding: 3px 0;
}
.u-miscellaneous-universalcompanies-omniturecategories .nav-content ul {
    list-style: outside none none;
    margin: 0;
}
.u-miscellaneous-universalcompanies-omniturecategories .nav-content li {
    float: left;
    margin: 0;
    width: 100%;
}
.u-miscellaneous-universalcompanies-omniturecategories .nav-refinements .nav-content li {
    padding: 4px 0;
}
.u-miscellaneous-universalcompanies-omniturecategories .nav-content a {
    color: #666;
    display: block;
    padding: 2px 0;
}
.u-miscellaneous-universalcompanies-omniturecategories .nav-refinements .nav-content a {
    color: #336699;
    display: block;
    padding: 2px 0;
}
.u-miscellaneous-universalcompanies-omniturecategories .nav-categories a {
    float: right;
    width: 170px;
}
.u-miscellaneous-universalcompanies-omniturecategories .nav-categories a.ico {
    background: rgba(0, 0, 0, 0) url("../images/layout/ico_arrow-right.png") repeat scroll 0 0;
    float: left;
    height: 8px;
    margin: 5px 0 0;
    outline: medium none;
    overflow: hidden;
    padding: 0;
    text-indent: -999em;
    width: 5px;
}
.u-miscellaneous-universalcompanies-omniturecategories .nav-categories a.ico-open {
    background-position: 0 -10px;
    height: 5px;
    margin: 7px 0 0;
    width: 8px;
}
.u-miscellaneous-universalcompanies-omniturecategories .nav-filters a {
    padding-left: 15px;
}
.u-miscellaneous-universalcompanies-omniturecategories .nav-content ul ul {
    float: left;
    width: 100%;
}
.js .u-miscellaneous-universalcompanies-omniturecategories .nav-categories ul ul {
    display: none;
}
.u-miscellaneous-universalcompanies-omniturecategories .nav-content ul ul li {
}
.u-miscellaneous-universalcompanies-omniturecategories .nav-content ul ul a {
}
.u-miscellaneous-universalcompanies-omniturecategories .nav-categories ul ul a {
    width: 165px;
}
.u-miscellaneous-universalcompanies-omniturecategories .nav-filters .pairinglist-price-range input {
    border-color: #b8b8b8;
    border-style: solid;
    border-width: 1px;
    color: #999999;
    width: 60px;
}
.u-miscellaneous-universalcompanies-omniturecategories .nav-filters .pairinglist-price-range .focused {
    color: #666666;
}
.u-miscellaneous-universalcompanies-omniturecategories .nav-filters .pairinglist-price-range label {
    margin-bottom: 10px;
    width: 40px;
}
.u-miscellaneous-universalcompanies-omniturecategories .nav-filters .actionlist-price-range a {
    background: rgba(0, 0, 0, 0) url("../images/buttons/sprite_buttons.png") repeat scroll 0 -330px;
    display: block;
    float: left;
    height: 16px;
    margin: 0 0 0 46px;
    overflow: hidden;
    padding: 0;
    text-indent: -99999em;
    width: 56px;
}
.u-miscellaneous-universalcompanies-omnitureproductlist {
}
.u-miscellaneous-universalcompanies-omnitureproductlist .products {
    margin: 0 auto;
    width: 100px;
}
.u-miscellaneous-universalcompanies-omnitureproductlist .product {
    border-top: 1px dashed #e0e0e0;
    padding: 10px 0;
    position: relative;
}
.u-miscellaneous-universalcompanies-omnitureproductlist .product:first-child {
    border: medium none;
}
.u-miscellaneous-universalcompanies-omnitureproductlist .product .img {
    float: left;
    width: 100%;
}
.u-miscellaneous-universalcompanies-omnitureproductlist .product .img a {
    float: left;
    height: 100px;
    overflow: hidden;
    width: 100%;
}
.u-miscellaneous-universalcompanies-omnitureproductlist .product .img img {
    float: left;
}
.u-miscellaneous-universalcompanies-omnitureproductlist .product .quickview {
    display: none;
    height: 29px;
    left: 50%;
    margin: 0 0 0 -56px;
    position: absolute;
    top: 72px;
    width: 114px;
}
.u-miscellaneous-universalcompanies-omnitureproductlist .hover .quickview {
    display: block;
}
.u-miscellaneous-universalcompanies-omnitureproductlist .product .quickview .button {
    background: rgba(0, 0, 0, 0) url("../images/buttons/sprite_quickview-transparent.png") repeat scroll 0 0;
    display: block;
    height: 100%;
    overflow: hidden;
    text-indent: -999em;
    width: 100%;
}
.u-miscellaneous-universalcompanies-omnitureproductlist .product .quickview .button:hover {
    background-position: 0 -30px;
}
.u-miscellaneous-universalcompanies-omnitureproductlist .product .inf {
    float: left;
    width: 100%;
}
.u-miscellaneous-universalcompanies-omnitureproductlist .product .name {
    font-size: 1em;
    font-weight: normal;
    margin: 6px 0 3px;
}
.u-miscellaneous-universalcompanies-omnitureproductlist .product .name a {
    display: block;
}
.u-miscellaneous-universalcompanies-omnitureproductlist .product .price {
    font-weight: bold;
    margin: 0;
}
.u-miscellaneous-universalcompanies-omnitureproductlist .product .fsid {
    display: none;
}
.u-miscellaneous-universalcompanies-omnitureresults {
}
.u-miscellaneous-universalcompanies-omnitureresults .controls {
    background: #eff5f9 none repeat scroll 0 0;
    border-color: #e0e0e0;
    border-style: solid;
    border-width: 1px 0;
    padding: 5px 0;
}
.u-miscellaneous-universalcompanies-omnitureresults .controls-top {
}
.u-miscellaneous-universalcompanies-omnitureresults .controls-btm {
    margin: 0 0 20px;
}
.u-miscellaneous-universalcompanies-omnitureresults .controls .pairinglist {
    float: left;
    margin: 0;
    padding: 0 6px;
}
.u-miscellaneous-universalcompanies-omnitureresults .controls .pairings {
    float: left;
}
.u-miscellaneous-universalcompanies-omnitureresults .controls .pairing {
    clear: none;
    margin: 0;
}
.u-miscellaneous-universalcompanies-omnitureresults .controls .pairing-sort {
    min-width: 161px;
}
.u-miscellaneous-universalcompanies-omnitureresults .controls .pairing-show {
    min-width: 89px;
}
.u-miscellaneous-universalcompanies-omnitureresults .controls label.primary {
    margin: 3px 3px 0 0;
    padding: 0;
    width: auto;
}
.u-miscellaneous-universalcompanies-omnitureresults .controls .pairing .pairing-label {
    font-weight: normal;
}
.u-miscellaneous-universalcompanies-omnitureresults .controls .pairing .optional {
    display: none;
}
.u-miscellaneous-universalcompanies-omnitureresults .controls .pairing-content, .u-miscellaneous-universalcompanies-omnitureresults .controls .pairing-controls {
}
.u-miscellaneous-universalcompanies-omnitureresults .controls select {
    float: left;
    margin: 0;
}
.u-miscellaneous-universalcompanies-omnitureresults .controls .pairinglist-show {
}
.u-miscellaneous-universalcompanies-omnitureresults .controls .pairinglist-sort {
}
.u-miscellaneous-universalcompanies-omnitureresults .controls .view {
    border-left: 1px dashed #e0e0e0;
    float: left;
    margin: 3px 0 0;
    padding: 0 7px;
}
.u-miscellaneous-universalcompanies-omnitureresults .controls .view .txt {
    float: left;
    margin: 0 4px 0 0;
}
.u-miscellaneous-universalcompanies-omnitureresults .controls .view .ico {
    display: inline;
    float: left;
}
.u-miscellaneous-universalcompanies-omnitureresults .controls .view .ico-sep {
    border-color: red #e0e0e0 red #edf2f6;
    border-style: solid;
    border-width: 0 1px;
    height: 14px;
    margin: 0 4px 0 3px;
    overflow: hidden;
    width: 0;
}
.u-miscellaneous-universalcompanies-omnitureresults .controls .view .selected {
    color: #666;
    cursor: text;
}
.u-miscellaneous-universalcompanies-omnitureresults .controls .view .selected:hover {
    text-decoration: none;
}
.u-miscellaneous-universalcompanies-omnitureresults .controls .pagination {
    border-color: #e0e0e0;
    border-style: dashed;
    border-width: 0 1px;
    float: left;
    margin: 3px 0 0;
    padding: 0 7px;
}
.u-miscellaneous-universalcompanies-omnitureresults .controls .pagination .txt {
    float: left;
}
.u-miscellaneous-universalcompanies-omnitureresults .controls .pagination .ico {
    background: rgba(0, 0, 0, 0) url("../images/layout/sprite_globals.png") repeat scroll 0 0;
    display: inline;
    float: left;
    height: 10px;
    overflow: hidden;
    text-indent: -999em;
    width: 11px;
}
.u-miscellaneous-universalcompanies-omnitureresults .controls .pagination .ico-prev {
    background-position: -40px -40px;
    margin: 2px 5px 0 0;
}
.u-miscellaneous-universalcompanies-omnitureresults .controls .pagination .ico-next {
    background-position: -40px -20px;
    margin: 2px 0 0 5px;
}
.u-miscellaneous-universalcompanies-omnitureresults .products {
}
.u-miscellaneous-universalcompanies-omnitureresults .products .row {
    border-top: 1px dashed #e0e0e0;
    padding: 20px 0;
}
.u-miscellaneous-universalcompanies-omnitureresults .products h2 + .row {
    border: medium none;
}
.u-miscellaneous-universalcompanies-omnitureresults .view-list .row {
    border: medium none;
    padding: 0;
}
.u-miscellaneous-universalcompanies-omnitureresults .products .col {
    float: left;
    width: 33.3%;
}
.u-miscellaneous-universalcompanies-omnitureresults .view-list .col {
    float: none;
    width: auto;
}
.u-miscellaneous-universalcompanies-omnitureresults .product {
    margin: 0 auto;
    position: relative;
    width: 120px;
}
.u-miscellaneous-universalcompanies-omnitureresults .view-list .product {
    border-top: 1px dashed #e0e0e0;
    margin: 0;
    padding: 20px 0;
    width: auto;
}
.u-miscellaneous-universalcompanies-omnitureresults .view-list h2 + .row .col:first-child .product {
    border: medium none;
}
.u-miscellaneous-universalcompanies-omnitureresults .product .img {
    display: inline;
    float: left;
    margin: 0;
    width: 100%;
}
.u-miscellaneous-universalcompanies-omnitureresults .view-list .product .img {
    margin: 0 20px;
    width: 120px;
}
.u-miscellaneous-universalcompanies-omnitureresults .product .img a {
    float: left;
    height: 120px;
    overflow: hidden;
    width: 100%;
}
.u-miscellaneous-universalcompanies-omnitureresults .product .img img {
    float: left;
}
.u-miscellaneous-universalcompanies-omnitureresults .product .quickview {
    display: none;
    height: 29px;
    left: 50%;
    margin: 0 0 0 -56px;
    position: absolute;
    top: 72px;
    width: 114px;
}
.u-miscellaneous-universalcompanies-omnitureresults .hover .quickview {
    display: block;
}
.u-miscellaneous-universalcompanies-omnitureresults .product .quickview .button {
    background: rgba(0, 0, 0, 0) url("../images/buttons/sprite_quickview-transparent.png") repeat scroll 0 0;
    display: block;
    height: 100%;
    overflow: hidden;
    text-indent: -999em;
    width: 100%;
}
.u-miscellaneous-universalcompanies-omnitureresults .product .quickview .button:hover {
    background-position: 0 -30px;
}
.u-miscellaneous-universalcompanies-omnitureresults .product .inf {
    float: left;
    width: 100%;
}
.u-miscellaneous-universalcompanies-omnitureresults .view-list .product .inf {
    width: 350px;
}
.u-miscellaneous-universalcompanies-omnitureresults .product .name {
    font-size: 1em;
    font-weight: normal;
    margin: 6px 0 3px;
}
.u-miscellaneous-universalcompanies-omnitureresults .view-list .product .name {
    margin: 0 0 2px;
}
.u-miscellaneous-universalcompanies-omnitureresults .product .name a {
    display: block;
    height: 49px;
    overflow: hidden;
}
.u-miscellaneous-universalcompanies-omnitureresults .view-list .product .name a {
    display: inline;
    height: auto;
    overflow: visible;
}
.u-miscellaneous-universalcompanies-omnitureresults .product .desc-long {
    display: none;
}
.u-miscellaneous-universalcompanies-omnitureresults .view-list .product .desc-long {
    display: block;
}
.u-miscellaneous-universalcompanies-omnitureresults .product .desc-long p {
    margin: 0 0 6px;
}
.u-miscellaneous-universalcompanies-omnitureresults .product .price {
    font-weight: bold;
    margin: 3px 0;
}
.u-miscellaneous-universalcompanies-omnitureresults .product .fsid {
    display: none;
}
.u-miscellaneous-universalcompanies-stayconnectedlinks {
}
.u-miscellaneous-universalcompanies-stayconnectedlinks .ctbox {
}
.u-miscellaneous-universalcompanies-stayconnectedlinks .stayconnected {
    background: rgba(0, 0, 0, 0) url("../images/layout/bg_email-signup-wide.png") repeat scroll 0 0;
    height: 152px;
    width: 234px;
}
.u-miscellaneous-universalcompanies-stayconnectedlinks h2, .u-miscellaneous-universalcompanies-stayconnectedlinks h3 {
    left: -999em;
    position: absolute;
}
.u-miscellaneous-universalcompanies-stayconnectedlinks .emailsignup {
    margin: 0 auto;
    padding: 69px 0 0;
    width: 208px;
}
.u-miscellaneous-universalcompanies-stayconnectedlinks .emailsignup .emailsignup-input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #98bdb8;
    float: left;
    height: 19px;
    margin: 0 2px 0 0;
    overflow: hidden;
}
.u-miscellaneous-universalcompanies-stayconnectedlinks .emailsignup-input .input-text {
    border: medium none;
    float: left;
    padding: 1px 3px 0;
    width: 130px;
}
.u-miscellaneous-universalcompanies-stayconnectedlinks .emailsignup .input-image {
    float: left;
}
.u-miscellaneous-universalcompanies-stayconnectedlinks .socialicons {
    list-style: outside none none;
    margin: 0 auto;
    padding: 37px 0 0;
    width: 84px;
}
.u-miscellaneous-universalcompanies-stayconnectedlinks .socialicons li {
    display: inline;
    float: left;
    margin: 0 2px 0 3px;
}
.u-miscellaneous-universalcompanies-stayconnectedlinks .socialicons a {
    background: rgba(0, 0, 0, 0) url("../images/layout/sprite_social-icons.png") repeat scroll 0 0;
    float: left;
    height: 16px;
    overflow: hidden;
    text-indent: -999em;
    width: 16px;
}
.u-miscellaneous-universalcompanies-stayconnectedlinks .socialicons .facebook a {
    background-position: 0 -30px;
}
.u-miscellaneous-universalcompanies-stayconnectedlinks .socialicons .twitter a {
    background-position: -30px -30px;
}
.u-miscellaneous-universalcompanies-stayconnectedlinks .socialicons .linkedin a {
    background-position: -60px -30px;
}
.u-miscellaneous-universalcompanies-stayconnectedlinks .socialicons .blogger a {
    background-position: -90px -30px;
}
.u-products-comparisonselections {
}
.u-products-customizationselector {
}
.u-products-detail-productnotificationform {
    display: none;
}
.u-products-detailbasicinformation {
}
.u-products-detailbasicinformation .subcol {
}
.u-products-detailbasicinformation .subcol-1 {
    float: left;
    min-height: 230px;
    width: 355px;
}
.u-products-detailbasicinformation .subcol-2 {
    float: right;
    width: 157px;
}
.u-products-detailbasicinformation .subcol-2 .u-miscellaneous-pagesharer {
    margin: 10px 0 28px 5px;
}
.u-products-detailbasicinformation .subcol-2 .product-flags {
    list-style: outside none none;
    margin: 20px 0 20px 5px;
}
.u-products-detailbasicinformation .subcol-2 .product-flags li {
    background: transparent url("../images/layout/sprite_product-flags.png") no-repeat scroll -999px -999px;
    float: left;
    height: 30px;
    margin: 0 15px 6px 0;
    text-indent: -9999em;
    width: 60px;
}
.u-products-detailbasicinformation .subcol-2 .product-flags li.new {
    background-position: 0 0;
}
.u-products-detailbasicinformation .subcol-2 .product-flags li.retail {
    background-position: -60px 0;
}
.u-products-detailbasicinformation .subcol-2 .product-flags li.earthfriendly {
    background-position: 0 -30px;
}
.u-products-detailbasicinformation .subcol-2 .product-flags li.hazmat {
    background-position: -60px -30px;
}
.u-products-detailbasicinformation .u-miscellaneous-pricing {
    background-color: #f7f6f4;
    float: left;
    margin: 20px 0 30px;
    padding: 10px;
}
.u-products-detailbasicinformation .basicinformation {
    padding: 0 0 20px;
}
.u-products-detailbasicinformation .productrating {
    margin-bottom: 10px;
}
.u-products-detailbasicinformation .productrating .label {
    float: left;
    font-weight: bold;
    margin-right: 5px;
}
.u-products-detailbasicinformation .productrating .u-products-productreviewrating {
    float: left;
}
.u-products-detailbasicinformation .productrating .skip {
    display: none;
}
.u-products-detailbasicinformation .briefdescription {
}
.u-products-detailbasicinformation .actionlist-favorites {
}
.u-products-detailbasicinformation .actionlist-favorites .actions {
}
.u-products-detailbasicinformation .actionlist-favorites .action {
    float: left;
    margin: 0;
    padding: 20px 0 0;
}
.u-products-detailbasicinformation .actionlist-favorites .action-add a {
    padding: 0 8px 0 13px;
    position: relative;
}
.u-products-detailbasicinformation .actionlist-favorites .action-remove span {
    padding: 0 2px 0 13px;
    position: relative;
}
.u-products-detailbasicinformation .actionlist-favorites .action-remove a {
    padding-left: 0;
    text-decoration: underline;
}
.u-products-detailbasicinformation .actionlist-favorites .action-add i {
    background: transparent url("../images/layout/sprite_globals.png") no-repeat scroll -100px -20px;
    height: 11px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 10px;
}
.u-products-detailbasicinformation .actionlist-favorites .action-remove i {
    background: transparent url("../images/layout/sprite_globals.png") no-repeat scroll -120px -20px;
    height: 11px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 10px;
}
.u-products-detailcontenttabs {
}
.u-products-detailcontenttabs .tabs-basic .tabs-nav {
    height: 44px;
}
.u-products-detailcontenttabs .tabs-panel-content {
    max-height: 428px;
    overflow: auto;
}
.u-products-detailformaction {
}
.u-products-detailformaction .quantity {
    float: left;
    margin-right: 20px;
}
.u-products-detailformaction .quantity label {
    font-weight: bold;
}
.u-products-detailformaction .quantity .input-text {
    font-size: 1em;
    padding: 3px;
    width: 30px;
}
.u-products-detailformaction li.action-secondary {
    float: left;
    margin-bottom: 0;
}
.u-products-detailformaction li.action-secondary a, .u-products-detailformaction li.action-remove span {
    padding: 0 8px 0 13px;
    position: relative;
}
.u-products-detailformaction li.action-remove span {
    padding-right: 2px;
}
.u-products-detailformaction li.action-remove a {
    padding-left: 0;
    text-decoration: underline;
}
.u-products-detailformaction li.action-secondary i {
    background: transparent url("../images/layout/sprite_globals.png") no-repeat scroll -100px -20px;
    height: 11px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 10px;
}
.u-products-detailformaction li.action-remove i {
    background: transparent url("../images/layout/sprite_globals.png") no-repeat scroll -120px -20px;
    top: 2px;
}
.u-products-detailformaction li.action-preferredlist {
    border-left: 1px solid #d1d0d0;
    padding-left: 8px;
}
.u-products-detailmedia {
}
.u-products-detailmedia .primary {
}
.u-products-detailmedia .primary .ctbox-img {
    padding: 0;
}
.u-products-detailmedia .primary .ctbox-img .img {
    border: 1px solid #e0e0e0;
    display: block;
    height: 330px;
    margin: 0 auto;
    width: 330px;
}
.u-products-detailmedia .primary .zoom-link {
    margin: 10px 0 0;
    position: relative;
    text-align: center;
}
.u-products-detailmedia .primary .zoom-link .txt {
    display: block;
}
.u-products-detailmedia .primary .hoverzoom-preview {
    border: 1px solid #e0e0e0;
    display: none;
    height: 400px;
    left: 355px;
    position: absolute;
    top: 0;
    width: 400px;
    z-index: 10;
}
.u-products-detailmedia .primary a span {
    background: #437aa4 none repeat scroll 0 0;
    cursor: crosshair;
    opacity: 0.5;
    z-index: 3;
}
.u-products-detailmedia .secondary {
}
.u-products-detailmedia .secondary .tabs {
}
.u-products-detailmedia .secondary .tabs-nav {
}
.u-products-detailmedia .secondary .tabs-basic .tabs-nav a {
    height: auto;
    padding: 5px;
}
.u-products-detailmedia .secondary .tabs-basic .tabs-nav .ui-tabs-selected a {
    padding: 8px 5px 7px;
}
.u-products-detailmedia .secondary .tabs .tabs-panel {
    min-height: 45px;
    padding: 5px 5px 0;
}
.u-products-detailmedia .tabs-panel-images .alternates {
    list-style: outside none none;
    margin: 0;
}
.u-products-detailmedia .tabs-panel-images .alternates li {
    float: left;
    margin: 0 5px 5px 0;
}
.u-products-detailmedia .tabs-panel-images .alternates a {
    float: left;
}
.u-products-detailmedia .tabs-panel-images .alternates img {
    float: left;
}
.u-products-detailmedia .tabs-panel-videos .videos {
}
#ctl00_ctl00_ctl00_BodyContent_BodyContent_BodyContent_ctl00_pdmProductDetailMedia_upVideos {
    float: left;
}
.u-products-detailmedia .tabs-panel-videos .video {
    float: left;
    margin: 0 5px 5px 0;
}
.u-products-detailmedia .tabs-panel-videos .video a {
    float: left;
}
.u-products-detailmedia .tabs-panel-videos .video img {
    float: left;
}
.u-products-emailfriend {
    border: 1px solid #dadada;
    clear: both;
    margin: 1em 0;
    padding: 0.833em 8px 1em;
}
.u-products-emailfriend h3 {
    border-bottom: 1px dotted #ccc;
    margin-top: 0;
    padding-bottom: 0.5em;
}
.u-products-emailfriend li.pairing span.required {
    display: none;
}
.u-products-emailfriend input.input-text {
    width: 160px;
}
.u-products-emailfriend li.sender-name {
    float: left;
    margin-right: 8px;
    padding-left: 12px;
}
.u-products-emailfriend li.sender-email {
    float: left;
}
.u-products-emailfriend li.recipients {
    background-color: #f4f4f4;
    clear: both;
    padding: 8px;
}
.u-products-emailfriend li.recipients table {
    margin-bottom: 0;
}
.u-products-emailfriend li.recipients th {
    border-bottom: 1px solid #bfbfbf;
    color: #666;
    padding: 0 0 2px 4px;
}
.u-products-emailfriend li.recipients td {
    background-color: #e5e5e5;
    padding: 5px 4px;
}
.u-products-emailfriend li.recipients label.primary {
    margin-bottom: 1em;
}
.u-products-emailfriend li.recipients label.primary span.pairing-label {
    display: block;
    margin-bottom: 0.3em;
    padding-left: 4px;
}
.u-products-emailfriend li.recipients label.primary span.pairing-note {
    color: #666;
    display: block;
    padding-left: 4px;
}
.u-products-emailfriend li.message {
    margin: 0;
}
.u-products-emailfriend li.message label.primary {
    padding-left: 12px;
}
.u-products-emailfriend li.message textarea {
    height: 100px;
    width: 362px;
}
.u-products-pager {
    color: #666;
}
.u-products-pager ul {
    list-style: outside none none;
    margin: 0;
}
.u-products-pager li {
    margin: 0;
}
.u-products-pager li.pairing label {
    padding-top: 2px;
}
.u-products-pager li.pairing label.primary span.optional {
    display: none;
}
.u-products-pager .paging {
    padding-bottom: 0.5em;
}
.u-products-pager .paging, .u-products-pager .paging .info, .u-products-pager .paging ul, .u-products-pager .paging li {
    float: left;
    margin-right: 10px;
}
.u-products-pager .paging .info {
    padding-top: 2px;
}
.u-products-pager .paging .info span {
    font-weight: bold;
}
.u-products-pager .paging li.jump {
    margin-right: 8px;
}
.u-products-pager .paging li.jump select {
    width: 45px;
}
.u-products-pager .paging li.jump option {
    padding: 0 2px 0 4px;
}
.u-products-pager .paging li.previous, .u-products-pager .paging li.next {
    margin-right: 8px;
    padding-top: 2px;
}
.u-products-pager .paging li.previous a {
    background: transparent url("../images/layout/bullet_arrow-left.gif") no-repeat scroll left 5px;
    font-size: 0.917em;
    padding-left: 10px;
}
.u-products-pager .paging li.next a {
    background: transparent url("../images/layout/bullet_arrow-right.gif") no-repeat scroll right 5px;
    font-size: 0.917em;
    padding-right: 10px;
}
.u-products-pager .pairinglist-options, .u-products-pager .pairinglist-options ul.pairings {
    float: right;
}
.u-products-pager .pairinglist-options li {
    float: left;
    margin-right: 10px;
}
.u-products-pager .pairinglist-options li.pairing {
    clear: none;
    margin-bottom: 0;
    margin-right: 15px;
}
.u-products-pager .pairinglist-options li.sort {
    margin-right: 0;
}
.u-products-pager .pairinglist-options li.sort select {
    width: 120px;
}
.u-products-productattributes {
}
.u-products-productbonusselector {
}
.u-products-productbonusselector ul.productbonuslist {
    list-style: outside none none;
    margin-left: 0;
}
.u-products-productlistbrowsepager {
}
.u-products-productlistbrowsepager .pairinglist {
    float: left;
    margin: 0 20px 0 0;
}
.u-products-productlistbrowsepager .pairings {
    float: left;
}
.u-products-productlistbrowsepager .pairinglist label.primary {
    width: auto;
}
.u-products-productlistbrowsepager .pagination {
    float: left;
    margin: 0;
}
.u-products-productoptions {
}
.u-products-productoptions ul {
    list-style: outside none none;
    margin: 0;
}
.u-products-productoptions li {
}
.u-products-productoptions dl {
    display: inline;
    margin: 0;
}
.u-products-productoptions dt {
    display: inline;
    margin: 0;
}
.u-products-productoptions dd {
    display: inline;
    margin: 0;
}
.u-products-productoptionselector {
}
.u-products-productoptionselector .productoptions {
    list-style: outside none none;
    margin: 0;
}
.u-products-productoptionselectordynamic {
}
.u-products-productoptionselectordynamic .loading {
    display: none;
}
.u-products-productoptionselectordynamic .options-static {
}
.u-products-productoptionselectordynamic .options-static ol {
    list-style: outside none none;
    margin: 0;
}
.u-products-productoptionselectordynamic .options-static li {
    margin: 0;
    padding: 0 0 6px;
}
.u-products-productoptionselectordynamic .options-static option.unavailable, .u-products-productoptionselectordynamic .options-static option:disabled, .u-products-productoptionselectordynamic .options-static option[disabled="disabled"] {
    background-color: #eeeeee;
}
.u-products-productoptionselectordynamic .options-static .reset {
    display: none;
}
.u-products-productoptionselectordynamic .options-ui {
}
.u-products-productoptionselectordynamic .options-ui .option {
    margin: 0 0 5px;
}
.u-products-productoptionselectordynamic .options-ui ul {
    float: left;
    list-style: outside none none;
    margin: 0;
    text-align: center;
    width: 100%;
}
.u-products-productoptionselectordynamic .options-ui li {
    float: left;
    margin: 0 5px 5px 0;
}
.u-products-productoptionselectordynamic .options-ui a {
    border: 2px dotted #d1cfc7;
    float: left;
    line-height: 25px;
    min-height: 25px;
    padding: 3px;
    white-space: nowrap;
}
.u-products-productoptionselectordynamic .options-ui a:hover {
    text-decoration: none;
}
.u-products-productoptionselectordynamic .options-ui .backordered a {
}
.u-products-productoptionselectordynamic .options-ui .selected a {
    border-color: #682d64;
    border-style: solid;
}
.u-products-productoptionselectordynamic .options-ui .unavailable a {
    cursor: text;
    opacity: 0.25;
}
.u-products-productoptionselectordynamic .options-ui img {
    float: left;
}
.u-products-productpublication {
}
.u-products-productpublication .publications {
    list-style: outside none none;
    margin: 0;
}
.u-products-productpublication .publication {
    margin: 0 0 15px;
}
.u-products-productpublication .img {
    float: left;
    margin: 0 8px 0 0;
}
.u-products-productpublication .img img {
    float: left;
}
.u-products-productpublication .inf {
    float: left;
}
.u-products-productpublication .name {
    margin: 0;
}
.u-products-productpublication .audience {
    margin: 0;
}
.u-products-productpublication .download {
    margin: 0;
}
.u-products-productreviews {
}
.u-products-productreviews p.first-reviewer {
    background-color: #fffcd3;
    padding: 2px 10px;
}
.u-reviews-objectreviewform {
}
.u-reviews-objectreviewform .pairinglist {
}
.u-reviews-objectreviewform .pairings {
}
.u-reviews-objectreviewform .pairing {
    margin: 0;
    padding: 0 0 15px;
}
.u-reviews-objectreviewform .pairing-horizontal label {
    padding: 0;
    width: 50px;
}
.u-reviews-objectreviewform .pairing .optional, .u-reviews-objectreviewform .pairing .required {
    display: none;
}
.u-reviews-objectreviewform .pairing .input-text {
    width: 290px;
}
.u-reviews-objectreviewform .pairing textarea {
    height: 150px;
    width: 95%;
}
.u-reviews-objectreviewform .actionlist {
}
.u-reviews-objectreviewform .actions {
}
.u-reviews-objectreviewform .action {
    float: left;
    margin: 0 10px 0 0;
}
.u-reviews-objectreviewform .action-primary {
}
.u-reviews-objectreviewform .action-secondary {
    padding: 2px 0 0;
}
.u-reviews-objectreviewform .reviewpropertyvalues {
    float: left;
    width: 150px;
}
.u-reviews-objectreviewform .reviewpropertyvaluelist {
    float: left;
    list-style: outside none none;
    margin: 0;
}
.u-reviews-objectreviewform .reviewpropertyvalue {
    float: left;
    margin: 0;
}
.u-reviews-objectreviewform .reviewpropertyvalue span {
    float: left;
    height: 14px;
    overflow: hidden;
    position: relative;
    width: 14px;
}
.u-reviews-objectreviewform .reviewpropertyvalue input {
    margin: 0;
    padding: 0;
}
.u-reviews-objectreviewform .reviewpropertyvalue label {
    background: rgba(0, 0, 0, 0) url("../images/layout/sprite_ratings.png") repeat scroll 0 -14px;
    cursor: pointer;
    height: 14px;
    left: 0;
    outline: medium none;
    overflow: hidden;
    position: absolute;
    text-indent: -999em;
    top: 0;
    width: 14px;
}
.u-reviews-objectreviewform .reviewpropertyvalue .hover label, .u-reviews-objectreviewform .reviewpropertyvalue .checked label {
    background-position: 0 -42px;
}
.u-products-productreviewlisting {
}
.u-products-productreviewlisting ol.reviewlist {
    list-style: outside none none;
    margin: 1em 0;
}
.u-products-productreviewlisting ol.reviewlist li.review {
    border-bottom: 1px solid #e5e5e5;
    padding: 0;
}
.u-products-productreviewlisting ol.reviewlist li.review .heading {
    margin-bottom: 1em;
}
.u-products-productreviewlisting ol.reviewlist li.review .heading h5 {
    margin: 0.5em 0;
}
.u-products-productreviewlisting ol.reviewlist li.review .heading .review-rating, .u-products-productreviewlisting ol.reviewlist li.review .heading .reviewername, .u-products-productreviewlisting ol.reviewlist li.review .heading .timestamp {
    float: left;
    margin-right: 3px;
}
.u-products-productreviewlisting ol.reviewlist li.review .heading .review-rating {
    margin-right: 20px;
}
.u-products-productreviewlisting ul.reviewpropertylist, .u-products-productreviewlisting ul.reviewfieldlist {
    list-style: outside none none;
    margin-left: 0;
}
.u-products-productreviewlisting ul.reviewpropertylist li.reviewproperty, .u-products-productreviewlisting ul.reviewfieldlist li.reviewfield {
    color: #7a7a7a;
}
.u-products-productreviewlisting ul.reviewpropertylist li.reviewproperty-stars {
    display: none;
}
.u-products-productreviewlisting ul.reviewpropertylist li.reviewproperty h6, .u-products-productreviewlisting ul.reviewfieldlist li.reviewfield h6 {
    display: none;
}
.u-products-productreviewrating {
}
.u-products-productreviewrating .rating-none {
}
.u-products-productreviewrating .rating {
    background: transparent url("../images/layout/sprite_ratings.png") no-repeat scroll 0 -14px;
    font-size: 1px;
    height: 14px;
    text-indent: -9999px;
    width: 74px;
}
.u-products-productreviewrating .rating-10 {
    background-position: 0 -28px;
}
.u-products-productreviewrating .rating-20 {
    background-position: 0 -42px;
}
.u-products-productreviewrating .rating-30 {
    background-position: 0 -56px;
}
.u-products-productreviewrating .rating-40 {
    background-position: 0 -70px;
}
.u-products-productreviewrating .rating-50 {
    background-position: 0 -84px;
}
.u-products-productreviewrating .rating-60 {
    background-position: 0 -98px;
}
.u-products-productreviewrating .rating-70 {
    background-position: 0 -112px;
}
.u-products-productreviewrating .rating-80 {
    background-position: 0 -126px;
}
.u-products-productreviewrating .rating-90 {
    background-position: 0 -140px;
}
.u-products-productreviewrating .rating-100 {
    background-position: 0 -154px;
}
.u-products-productreviewstatistics {
}
.u-products-productreviewstatistics ol.reviewpropertylist {
    list-style: outside none none;
    margin-left: 0;
}
.u-products-productreviewstatistics ol.reviewpropertylist li.reviewproperty {
    clear: both;
}
.u-products-productreviewstatistics ol.reviewpropertylist li.reviewproperty h5 {
    margin-bottom: 2px;
}
.u-products-productreviewstatistics ol.reviewpropertylist li.reviewproperty .propertyratings {
    border-top: 1px solid #ccc;
    float: left;
    padding-top: 5px;
}
.u-products-productreviewstatistics table {
    border-collapse: collapse;
}
.u-products-productreviewstatistics table th {
    display: none;
}
.u-products-productreviewstatistics table td.col-property {
    padding-right: 5px;
}
.u-products-productreviewstatistics .rating-bar {
    position: relative;
}
.u-products-productreviewstatistics .rating-bar .placeholder {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: block;
    height: 4px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 5px;
    width: 60px;
}
.u-products-productreviewstatistics .rating-bar .placeholder span.bar {
    background-color: transparent;
    background-image: url("../images/layout/sprite_ratings.png");
    background-repeat: no-repeat;
    display: block;
    height: 4px;
    left: -100%;
    position: absolute;
    top: 0;
    width: 60px;
}
.u-products-productreviewstatistics .rating-bar .rating {
    margin-left: 68px;
}
.u-products-productoptionselector {
}
.u-products-productwishlistbrowse {
}
.u-products-productwishlistbrowse .u-products-productlistbrowsepager {
    padding: 0 0 20px;
}
.u-products-productwishlistbrowse .products {
}
.u-products-productwishlistbrowse .product {
    padding: 0 0 20px;
}
.u-products-productwishlistbrowse .product .img {
    float: left;
    margin: 0 20px 0 0;
}
.u-products-productwishlistbrowse .product .img a {
    border: 1px solid #e3e3e3;
    float: left;
    height: 120px;
    overflow: hidden;
    width: 120px;
}
.u-products-productwishlistbrowse .product .img img {
    float: left;
}
.u-products-productwishlistbrowse .product .col {
    float: left;
}
.u-products-productwishlistbrowse .product .inf {
}
.u-products-productwishlistbrowse .product .inf h3 {
    margin-top: 0;
}
.u-products-productwishlistbrowse .product .inf p {
    margin: 0;
}
.u-products-productwishlistbrowse .product .remove {
}
.u-wishlist-itemselector {
}
.u-wishlist-itemselector table.lineitems {
}
.u-wishlist-itemselector table.lineitems .col-select {
    text-align: center;
}
.u-wishlist-itemselector table.lineitems th input {
    margin: 0;
}
.u-products-productcarousel {
    padding: 0 0 10px;
}
.u-products-productdetailblock {
}
.u-products-productdetailblock .packageoption {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #cbc9c9;
    margin-bottom: 10px;
    padding: 10px;
}
.u-products-productdetailblock .details {
}
.u-products-productdetailblock .img {
    float: left;
    margin: 0 15px 0 0;
}
.u-products-productdetailblock .inf {
    float: left;
    margin-right: 15px;
    width: 370px;
}
.u-products-productdetailblock .name {
    margin: 0;
}
.u-products-productdetailblock .name a {
}
.u-products-productdetailblock .fsid {
    margin-top: 0;
}
.u-products-productdetailblock .briefdescription {
}
.u-products-productdetailblock .prices {
    float: right;
    width: 50px;
}
.u-products-productdetailblock .price {
    background-color: #fcfbf9;
    margin: 0 0 10px;
    padding: 4px;
    width: 42px;
}
.u-products-productdetailblock .options {
    background-color: #fcfbf9;
    border: 1px solid #e3e3e3;
    padding: 4px 12px;
}
.u-products-productdetailblock .pairinglist {
}
.u-products-productdetailblock .pairing-qty .input-text {
    font-size: 1em;
    padding: 3px;
    width: 30px;
}
.u-products-productdetailblock .u-products-productoptionselectordynamic {
}
.u-products-quantitypricinggrid {
    border: 1px solid #ccc;
    margin: 0 0 16px;
    padding: 0 0 4px;
    width: 100%;
}
.u-products-quantitypricinggrid .header {
    background: #76a6c7 none repeat scroll 0 0;
    margin: 0 0 4px;
}
.u-products-quantitypricinggrid .header h3 {
    color: #fff;
    font-size: 1em;
    margin: 0;
    text-align: center;
}
.u-products-quantitypricinggrid table {
    border-collapse: collapse;
    margin: 0;
    width: 100%;
}
.u-products-quantitypricinggrid th, .u-products-quantitypricinggrid td {
    padding: 2px 6px;
    text-align: left;
    vertical-align: top;
}
.u-products-quantitypricinggrid .price-original {
    display: none;
}
#ctl00_ctl00_ctl00_upQuickView {
    width: 672px;
}
.u-products-quickview {
    padding: 24px 12px 12px;
    width: 648px;
}
.u-products-quickview .col-1 {
    float: left;
    width: 160px;
}
.u-products-quickview .col-1 .primary {
    float: left;
    height: 160px;
    margin: 0 0 10px;
    overflow: hidden;
    width: 160px;
}
.u-products-quickview .col-1 .primary img {
    float: left;
}
.u-products-quickview .col-1 .secondary {
    float: left;
    width: 160px;
}
.u-products-quickview .col-1 .secondary .tabs {
}
.u-products-quickview .col-1 .secondary .tabs-nav {
}
.u-products-quickview .col-1 .secondary .tabs-basic .tabs-nav a {
    height: auto;
    padding: 5px;
}
.u-products-quickview .col-1 .secondary .tabs-basic .tabs-nav .ui-tabs-selected a {
    padding: 8px 5px 7px;
}
.u-products-quickview .col-1 .secondary .tabs .tabs-panel {
    min-height: 45px;
    padding: 5px 5px 0;
}
.u-products-quickview .col-1 .tabs-panel-images .alternates {
    list-style: outside none none;
    margin: 0;
}
.u-products-quickview .col-1 .tabs-panel-images .alternates li {
    float: left;
    margin: 0 5px 5px 0;
}
.u-products-quickview .col-1 .tabs-panel-images .alternates a {
    float: left;
}
.u-products-quickview .col-1 .tabs-panel-images .alternates img {
    float: left;
}
.u-products-quickview .col-1 .tabs-panel-videos .videos {
}
.u-products-quickview .col-1 .tabs-panel-videos .video {
    float: left;
    margin: 0 5px 5px 0;
}
.u-products-quickview .col-1 .tabs-panel-videos .video a {
    float: left;
}
.u-products-quickview .col-1 .tabs-panel-videos .video img {
    float: left;
}
.u-products-quickview .col-2 {
    float: right;
    width: 458px;
}
.u-products-quickview .detailbasicinformation {
    margin: 0 0 18px;
}
.u-products-quickview .detailbasicinformation .subcol-1 {
    float: left;
    width: 271px;
}
.u-products-quickview .subcol-1 .pagetitle {
}
.u-products-quickview .subcol-1 .pagetitle h1 {
    margin: 0;
}
.u-products-quickview .subcol-1 .basicinformation {
}
.u-products-quickview .subcol-1 .fulfillmentsystemid {
}
.u-products-quickview .subcol-1 .brand {
}
.u-products-quickview .subcol-1 .pricing {
    margin: 20px 0 25px;
}
.u-products-quickview .subcol-1 .u-products-productreviewrating {
    margin: 0 0 3px;
}
.u-products-quickview .subcol-1 .briefdescription {
}
.u-products-quickview .subcol-1 .briefdescription .more-info {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}
.u-products-quickview .detailbasicinformation .subcol-2 {
    float: right;
    width: 157px;
}
.u-products-quickview .subcol-2 .u-miscellaneous-pagesharer {
    margin: 10px 0 28px 5px;
}
.u-products-quickview .subcol-2 .chat {
    margin: 0 0 24px;
}
.u-products-quickview .subcol-2 .product-flags {
    list-style: outside none none;
    margin: 0 0 0 6px;
}
.u-products-quickview .subcol-2 .product-flags li {
    background: rgba(0, 0, 0, 0) url("../images/layout/sprite_product-flags.png") no-repeat scroll -999px -999px;
    float: left;
    height: 30px;
    margin: 0 15px 6px 0;
    overflow: hidden;
    text-indent: -999em;
    width: 60px;
}
.u-products-quickview .subcol-2 .product-flags .new {
    background-position: 0 0;
}
.u-products-quickview .subcol-2 .product-flags .retail {
    background-position: -60px 0;
}
.u-products-quickview .subcol-2 .product-flags .earthfriendly {
    background-position: 0 -30px;
}
.u-products-quickview .subcol-2 .product-flags .hazmat {
    background-position: -60px -30px;
}
.u-products-quickview .functions {
    background: #eeedea none repeat scroll 0 0;
    border: 1px solid #cbc9c9;
    padding: 10px 20px;
}
.u-products-quickview .functions .productform-heading {
    color: #666;
    font-size: 1em;
    margin: 0 0 10px;
}
.u-products-quickview .functions .u-products-productoptionselector {
}
.u-products-quickview .functions .detailformaction {
    padding: 4px 0 0;
    width: 300px;
}
.u-products-quickview .functions .pairinglist-quantity {
    float: left;
}
.u-products-quickview .functions .pairinglist-quantity label.primary {
    width: 72px;
}
.u-products-quickview .functions .pairinglist-quantity .pairing-content input {
    width: 30px;
}
.u-products-quickview .functions .actionlist-addtocart {
    float: right;
    padding: 1px 0 0;
}
.u-products-quickview .functions .actionlist-addtocart .actions {
    float: right;
}
.u-products-quickview .functions .actionlist-addtocart .action {
    float: right;
    margin: 0;
}
.u-products-quickview .functions .actionlist-addtocart input {
    float: right;
}
.u-products-relatedproducts {
    padding: 0 0 20px;
    width: 330px;
}
.u-products-relatedproducts .ctbox-header {
}
.u-products-relatedproducts .ctbox-header h3 {
    font-size: 1.2em;
}
.u-products-relatedproducts .wl-carousel {
}
.u-products-relatedproducts .product {
}
.u-products-relatedproducts .image {
}
.u-products-relatedproducts .image a {
    display: block;
}
.u-products-relatedproducts .image img {
    display: block;
}
.u-products-relatedproducts .info {
}
.u-products-relatedproducts .name {
    font-weight: normal;
    margin: 0;
    padding: 6px 0;
}
.u-products-relatedproducts .fsid {
    display: none;
}
.u-products-relatedproducts .u-miscellaneous-pricing {
    font-weight: bold;
}
.u-products-relatedproducts .u-miscellaneous-pricing .price-retail {
}
.u-products-relatedproducts .desc {
    display: none;
}
.u-products-relatedproducts .u-products-productreviewrating {
    display: none;
}
.u-products-skuselector {
}
.u-products-skuselector .skus {
}
.u-products-skuselector .sku {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #cbc9c9;
    margin: 0 0 10px;
    padding: 10px;
}
.u-products-skuselector .details {
    padding: 0 0 8px;
}
.u-products-skuselector .img {
    float: left;
    height: 100px;
    margin: 0 15px 0 0;
    overflow: hidden;
    width: 100px;
}
.u-products-skuselector .img img {
    float: left;
}
.u-products-skuselector .inf {
    float: left;
    width: 168px;
}
.u-products-skuselector .inf .name {
    margin: 0;
}
.u-products-skuselector .inf .fsid {
    margin: 0;
}
.u-products-skuselector .inf .u-products-productoptions {
    padding: 10px 0 0;
}
.u-products-skuselector .inf .u-products-productoptions .productoption {
    margin: 0;
}
.u-products-skuselector .prices {
    float: right;
    width: 206px;
}
.u-products-skuselector .u-miscellaneous-pricing {
}
.u-products-skuselector .u-miscellaneous-pricing .price {
    background: #fcfbf9 none repeat scroll 0 0;
    margin: 0 0 10px;
    padding: 4px;
    width: 120px;
}
.u-products-skuselector .u-products-detailformaction {
    background: #fcfbf9 none repeat scroll 0 0;
    border: 1px solid #e3e3e3;
    padding: 4px 12px;
}
.u-products-thumbnailpage {
}
.u-products-thumbnailpage ul {
    list-style: outside none none;
    margin: 0;
}
.u-products-thumbnailpage ul li.product .image {
    position: relative;
}
.u-products-thumbnailpage ul li.product .image .quickview {
    bottom: 8px;
    left: 40px;
    position: absolute;
}
.u-products-thumbnailpage ul li.product .info h4 {
    margin-bottom: 0;
}
.u-products-thumbnailpage ul li.product .info h4 a {
    text-decoration: none;
}
.u-products-thumbnailpage ul li.product .prices {
    text-transform: lowercase;
}
.u-products-thumbnailpage ul li.product .fsid {
    color: #999;
    font-size: 0.833em;
    margin-bottom: 1.8em;
}
.u-products-thumbnailpage .products-grid .row {
    border-bottom: 1px solid #e5e5e5;
    padding: 12px 0 12px 5px;
}
.u-products-thumbnailpage .products-grid .row li.product {
    border-right: 1px solid #e5e5e5;
    float: left;
    min-height: 252px;
    padding: 16px 10px 4.167em;
    position: relative;
    width: 155px;
}
.u-products-thumbnailpage .products-grid .row li.product-last {
    border: medium none;
}
.u-products-thumbnailpage .products-grid .row li.product .image {
    margin-bottom: 10px;
    text-align: center;
}
.u-products-thumbnailpage .products-grid li.product .row .info .prices {
    bottom: 16px;
    left: 10px;
    position: absolute;
    width: 155px;
}
.u-products-thumbnailpage .products-list li.product {
    border-bottom: 1px solid #e5e5e5;
    clear: both;
    padding: 1.333em 10px;
}
* html .u-products-thumbnailpage .products-list li.product {
    height: 1%;
}
.u-products-thumbnailpage .products-list li.product .image {
    float: left;
    margin-right: 20px;
}
.u-products-thumbnailpage .products-list li.product .info {
    float: left;
    width: 470px;
}
.u-products-thumbnailpage2 {
}
.u-products-thumbnailpage2 .mask {
    border-top: 1px solid #e1e1e1;
    padding: 10px 0;
    position: relative;
}
.u-products-thumbnailpage2 .product {
    position: relative;
}
.u-products-thumbnailpage2 .image {
}
.u-products-thumbnailpage2 .image a {
    display: block;
}
.u-products-thumbnailpage2 .image img {
    display: block;
}
.u-products-thumbnailpage2 .quickview {
    display: none;
    height: 29px;
    left: 50%;
    margin: 0 0 0 -57px;
    position: absolute;
    top: 105px;
    width: 114px;
}
.u-products-thumbnailpage2 .hover .quickview {
    display: block;
}
.u-products-thumbnailpage2 .quickview a {
    background: rgba(0, 0, 0, 0) url("../images/buttons/sprite_quickview-transparent.png") repeat scroll 0 0;
    display: block;
    height: 100%;
    overflow: hidden;
    text-indent: -999em;
    width: 100%;
}
.u-products-thumbnailpage2 .quickview a:hover {
    background-position: 0 -30px;
}
.u-products-thumbnailpage2 .info {
}
.u-products-thumbnailpage2 .name {
    font-weight: normal;
    margin: 0;
    padding: 2px 0;
}
.u-products-thumbnailpage2 .u-miscellaneous-pricing {
    font-weight: bold;
}
.u-products-thumbnailpage2 .u-products-productreviewrating {
    display: none;
}
.u-search-categorypager {
    color: #666;
}
.u-search-categorypager ul {
    list-style: outside none none;
    margin: 0;
}
.u-search-categorypager li {
    margin: 0;
}
.u-search-categorypager li.pairing label {
    padding-top: 2px;
}
.u-search-categorypager li.pairing label.primary span.optional {
    display: none;
}
.u-search-categorypager .paging {
    padding-bottom: 0.5em;
}
.u-search-categorypager .paging, .u-search-categorypager .paging .info, .u-search-categorypager .paging ul, .u-search-categorypager .paging li {
    float: left;
    margin-right: 10px;
}
.u-search-categorypager .paging .info {
    padding-top: 2px;
}
.u-search-categorypager .paging .info span {
    font-weight: bold;
}
.u-search-categorypager .paging li.jump {
    margin-right: 8px;
}
.u-search-categorypager .paging li.jump select {
    width: 45px;
}
.u-search-categorypager .paging li.jump option {
    padding: 0 2px 0 4px;
}
.u-search-categorypager .paging li.previous, .u-search-categorypager .paging li.next {
    margin-right: 8px;
    padding-top: 2px;
}
.u-search-categorypager .paging li.previous a {
    background: transparent url("../images/layout/bullet_arrow-left.gif") no-repeat scroll left 5px;
    font-size: 0.917em;
    padding-left: 10px;
}
.u-search-categorypager .paging li.next a {
    background: transparent url("../images/layout/bullet_arrow-right.gif") no-repeat scroll right 5px;
    font-size: 0.917em;
    padding-right: 10px;
}
.u-search-categorypager .pairinglist-options, .u-search-categorypager .pairinglist-options ul.pairings {
    float: right;
}
.u-search-categorypager .pairinglist-options li {
    float: left;
    margin-right: 10px;
}
.u-search-categorypager .pairinglist-options li.pairing {
    clear: none;
    margin-bottom: 0;
    margin-right: 15px;
}
.u-search-categorypager .pairinglist-options li.sort {
    margin-right: 0;
}
.u-search-categorypager .pairinglist-options li.sort select {
    width: 120px;
}
.u-search-pagepager {
    color: #666;
}
.u-search-pagepager ul {
    list-style: outside none none;
    margin: 0;
}
.u-search-pagepager li {
    margin: 0;
}
.u-search-pagepager li.pairing label {
    padding-top: 2px;
}
.u-search-pagepager li.pairing label.primary span.optional {
    display: none;
}
.u-search-pagepager .paging {
    padding-bottom: 0.5em;
}
.u-search-pagepager .paging, .u-search-pagepager .paging .info, .u-search-pagepager .paging ul, .u-search-pagepager .paging li {
    float: left;
    margin-right: 10px;
}
.u-search-pagepager .paging .info {
    padding-top: 2px;
}
.u-search-pagepager .paging .info span {
    font-weight: bold;
}
.u-search-pagepager .paging li.jump {
    margin-right: 8px;
}
.u-search-pagepager .paging li.jump select {
    width: 45px;
}
.u-search-pagepager .paging li.jump option {
    padding: 0 2px 0 4px;
}
.u-search-pagepager .paging li.previous, .u-search-pagepager .paging li.next {
    margin-right: 8px;
    padding-top: 2px;
}
.u-search-pagepager .paging li.previous a {
    background: transparent url("../images/layout/bullet_arrow-left.gif") no-repeat scroll left 5px;
    font-size: 0.917em;
    padding-left: 10px;
}
.u-search-pagepager .paging li.next a {
    background: transparent url("../images/layout/bullet_arrow-right.gif") no-repeat scroll right 5px;
    font-size: 0.917em;
    padding-right: 10px;
}
.u-search-pagepager .pairinglist-options, .u-search-pagepager .pairinglist-options ul.pairings {
    float: right;
}
.u-search-pagepager .pairinglist-options li {
    float: left;
    margin-right: 10px;
}
.u-search-pagepager .pairinglist-options li.pairing {
    clear: none;
    margin-bottom: 0;
    margin-right: 15px;
}
.u-search-pagepager .pairinglist-options li.sort {
    margin-right: 0;
}
.u-search-pagepager .pairinglist-options li.sort select {
    width: 120px;
}
.u-shipment-items {
}
.u-shipment-items table.lineitems {
    margin: 0 0 10px;
}
.u-shipment-shippingmethodselector {
    padding: 8px 0 0;
}
.u-shipment-shippingestimateselector {
}
.u-shipment-shippingestimateselector h5 {
    color: #666;
    margin: 0;
    padding: 0 0 6px;
}
.u-shipment-shippingestimateselector .pairinglist-estimate {
    padding: 0 0 3px;
}
.u-shipment-shippingestimateselector .pairinglist-estimate .pairing {
    margin: 0;
    padding: 0 0 6px;
    width: 100%;
}
.u-shipment-shippingestimateselector .pairinglist-estimate .pairing-horizontal .primary {
    width: 65px;
}
.u-shipment-shippingestimateselector .pairinglist-estimate .pairing-vertical .primary {
    display: block;
    padding: 0 0 2px;
}
.u-shipment-shippingestimateselector .pairinglist-estimate .input-text {
    width: 80px;
}
.u-shipment-shippingestimateselector .actionlist-estimate {
    float: none;
    padding: 0 0 0 71px;
}
.u-shipment-shippingestimateselector .actionlist-estimate .actions .action, .u-shipment-shippingestimateselector .actionlist-estimate input {
    float: left;
    margin: 0;
}
.u-strategiccontent-classlist {
}
.u-strategiccontent-classlist .section {
    padding: 15px 0;
}
.u-strategiccontent-classlist h2 {
    background-color: #f1ede7;
    border: 1px solid #b8b8b8;
    margin: 0;
    padding: 9px;
}
.js .u-strategiccontent-classlist h2 {
    padding: 0;
}
.u-strategiccontent-classlist h2 a {
    color: #789d10;
    display: block;
    overflow: hidden;
    padding: 9px;
}
.u-strategiccontent-classlist h2 a:hover {
    text-decoration: none;
}
.u-strategiccontent-classlist h2 span {
    float: right;
}
.u-strategiccontent-classlist h2 .ico-1 {
    border-color: #5c85ad #f1ede7;
    border-style: solid;
    border-width: 7px 6px 0;
    height: 0;
    margin: 4px 0 0;
    overflow: hidden;
    width: 0;
}
.u-strategiccontent-classlist .details-open h2 .ico-1 {
    border-width: 0 6px 7px;
}
.u-strategiccontent-classlist h2 .ico-2 {
    border-bottom: 1px solid;
    color: #5c85ad;
    display: inline;
    font-size: 0.733em;
    margin: 0 5px 0 0;
}
.u-strategiccontent-classlist h2 .txt {
    float: left;
    width: 380px;
}
.u-strategiccontent-classlist .section-content {
}
.u-strategiccontent-classlist table {
    border-collapse: collapse;
    margin: 10px 0 0;
    text-align: left;
}
.u-strategiccontent-classlist table th, .u-strategiccontent-classlist table td {
    border: 1px solid #b8b8b8;
    padding: 5px 8px;
}
.u-strategiccontent-classlist table th {
    color: #682d64;
    font-weight: bold;
}
.u-strategiccontent-classlist .description td {
}
.u-strategiccontent-classlist .spacer td {
    border: medium none;
    height: 3px;
}
.u-strategiccontent-classlist tr.viewalltopics td {
    text-align: center;
}
.u-strategiccontent-classlist .view-webinar a {
    display: block;
    padding: 4px 0 2px;
}
.u-strategiccontent-classlist table tr.description td span.ico, .u-strategiccontent-classlist tr.viewalltopics td span.ico {
    background: transparent url("../images/layout/sprite_globals.png") repeat scroll -20px -20px;
    display: inline-block;
    height: 10px;
    margin: 3px 4px 0 0;
    overflow: hidden;
    position: relative;
    width: 11px;
}
.u-strategiccontent-latesttipsandarticles {
    margin-bottom: 10px;
}
.u-strategiccontent-latesttipsandarticles ul {
    list-style: outside none none;
    margin: 0 14px;
}
.u-strategiccontent-latesttipsandarticles li {
    border-bottom: 1px dashed #e0e0e0;
    display: block;
    line-height: 1.6;
    margin: 0;
    overflow: auto;
    padding: 15px 0;
}
.u-strategiccontent-latesttipsandarticles li.last {
    border-bottom: medium none;
}
.u-strategiccontent-latesttipsandarticles img {
    border: 1px solid #e4e4e4;
    float: left;
    margin: 0 10px 10px 0;
    padding: 5px;
}
.u-strategiccontent-latesttipsandarticles h3 {
    margin: 0;
}
.u-strategiccontent-latesttipsandarticles .timestamp {
    display: block;
    font-style: italic;
}
.u-strategiccontent-strategiccontent {
    margin-bottom: 10px;
}
.u-strategiccontent-strategiccontent ul {
    list-style: outside none none;
    margin: 0 14px;
}
.u-strategiccontent-strategiccontent li {
    border-bottom: 1px dashed #e0e0e0;
    display: block;
    line-height: 1.6;
    margin: 0;
    overflow: auto;
    padding: 15px 0;
}
.u-strategiccontent-strategiccontent li.last {
    border-bottom: medium none;
}
.u-strategiccontent-strategiccontent img {
    border: 1px solid #e4e4e4;
    float: left;
    margin: 0 10px 10px 0;
    padding: 5px;
}
.u-strategiccontent-strategiccontent h3 {
    margin: 0;
}
.u-strategiccontent-strategiccontent .timestamp {
    display: block;
    font-style: italic;
}
.u-tender-tendermanager {
}
.u-tender-tendermanager table {
}
.u-tender-tendermanager th {
    white-space: nowrap;
}
.u-wishlist-form {
}
.u-wishlist-form li.pairing-name label.primary span.required {
    display: none;
}
.u-wishlist-form li.pairing-name .input-text {
    width: 210px;
}
.u-wishlist-selector {
}
.u-wishlist-selector p.create {
    border-bottom: 1px solid #d7d7d7;
    padding: 0 10px 0.5em;
}
.u-wishlist-selector .pairinglist {
    padding: 0 10px;
}
.u-wishlist-selector li.pairing label.primary {
    font-weight: bold;
}
.u-wishlist-selector li.pairing label.primary span.optional, .u-wishlist-selector li.pairing label.primary span.required {
    display: none;
}
