<!DOCTYPE html>
<!--[if lte IE 9]>     <html lang="{{ BIACONFIG.app.LANGUAGE }}" class="old-ie"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="{{ BIACONFIG.app.LANGUAGE }}"> <!--<![endif]-->
  <head>
    {% block head %}
      <meta charset="utf-8">

      {% block fonts %}
        <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">
      {% endblock %}

      <title>{{ seo.PAGE_TITLE|raw ~ seo.PAGE_TITLE_SUFFIX|raw }}</title>

      <meta name="viewport" content="width=device-width, initial-scale=1">
      {# Neat mobile IE hack for overriding 320px "ideal" viewport to real ideal viewport #}
      <style>@-ms-viewport{ width: device-width; }</style>
      <meta name="robots" content="{{ seo.ROBOTS }}">

      {% block styles %}
        <link rel="stylesheet" href="{{ attribute(BIACONFIG.build.css, 'codebase.css') }}">
      {% endblock %}
    {% endblock %}
  </head>
  <body>
    <div class="site-wrapper">
      {% block sidebar %}
        {% include '_partials/_site-sidebar.twig' %}
      {% endblock %}

      <main role="main" class="site-wrapper__main-column">
        {% block header %}
          {% include '_partials/_site-header.twig' %}
        {% endblock %}

        <div class="site-wrapper__content">
          {% block message %}
            {% include '_partials/_message.twig' %}
          {% endblock %}

          {% block content %}
          {% endblock %}
        </div>
      </main>
    </div>

    {% block partials %}
      {# Place for all HTML fragments that need to be outside .site-wrapper container #}
    {% endblock %}

    {# Global overlay #}
    {% block overlay %}
      {% include '_partials/_overlay.twig' %}
    {% endblock %}

    {# Modals #}
    {% block modals %}
      {# Remember to add new modals` scripts to runtime if they are
         supposed to be manually initialized #}
      {% include '_modals/_soon-info-brands.twig' %}
    {% endblock %}

    {% include '_partials/_browser-warning.twig' %}
    {% include '_partials/_noscript-warning.twig' %}

    {% block scriptsBodyBottom %}
      {% include '_partials/_scripts-body-bottom.twig' %}
    {% endblock %}
  </body>
</html>
