{% extends '_layouts/_default.twig' %}
{% import '_macros/__forms.twig' as forms %}
{% import '_macros/__uploader.twig' as uploader %}

{% block content %}

{{ forms.start({
'ACTION': '/back_office/supplier/save' ~ (debug ? '?debug=1'),
'METHOD': 'post',
'ENCTYPE': 'multipart/form-data',
'AUTOCOMPLETE': 'off'
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'id_user',
'VALUE': data.info.id_user
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'name',
'VALUE': data.maininfo.name
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'company_name',
'VALUE': data.maininfo.company_name
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'position',
'VALUE': 'Employee'
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'phone',
'VALUE': data.maininfo.phone
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'company_email',
'VALUE': data.maininfo.company_email
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'address_1',
'VALUE': data.maininfo.address_1
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'company_phone',
'VALUE': data.maininfo.company_phone
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'id_roles',
'VALUE': '5'
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'id_countries',
'VALUE': data.maininfo.id_countries
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'city',
'VALUE': data.maininfo.city
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'trading_name',
'VALUE': data.maininfo.trading_name
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'website',
'VALUE': data.maininfo.website
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'photo',
'VALUE': data.maininfo.photo
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'correlation_id',
'VALUE': data.maininfo.correlation_id
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'business_type',
'VALUE': data.maininfo.business_type
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'token',
'VALUE': data.maininfo.token
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'logo',
'VALUE': data.maininfo.logo
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'delivery_shipping_from',
'VALUE': data.maininfo.delivery_shipping_from
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'delivery_time',
'VALUE': data.maininfo.delivery_time
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'delivery_fee',
'VALUE': data.maininfo.delivery_fee
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'lat',
'VALUE': data.maininfo.lat
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'lng',
'VALUE': data.maininfo.lng
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'company_location_map',
'VALUE': data.maininfo.company_location_map
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'credit_terms',
'VALUE': data.maininfo.credit_terms
}) }}

{{ forms.group({
'TYPE': 'hidden',
'SIZE': 'm',
'GROUP_WRAPPER': 'div',
'NAME': 'payment_methods',
'VALUE': data.maininfo.payment_methods
}) }}

<div class="container">
    <div class="panel panel--content-padding-big [ margin-top--20 margin-bottom--30 ]">
        <div class="panel__header">
            <h3 class="panel__title">{{ seo.PAGE_TITLE|raw }}</h3>
            <div class="panel__header-actions">
                <a class="[ btn btn--m btn--slate-light ]  [ text--uppercase text--bold ]"
                   href="{{ links.supplierListing.URL }}"><span>Go to User List</span><span
                            class="icon icon--white icon--wedge icon--cw-90"></span></a>
            </div>
        </div>
        <div class="panel__content">
            <fieldset>
                <legend class="bg--white">Personal information</legend>

                <div class="[ edit-layout edit-layout--multi-column edit-layout--image ]  margin-top--20">
                    <div class="edit-layout__content">

                        <div class="row  [ width-lg--75 width-xl--65 ]">
                            <div class="col-xs-12">

                                <div class="horizontal-form-group has-required">
                                    <label class="horizontal-form-group__label">First Name:</label>
                                    {{ forms.group({
                                    'TYPE': 'text',
                                    'SIZE': 'm',
                                    'GROUP_WRAPPER': 'div',
                                    'NAME': 'first_name',
                                    'VALUE': data.info.first_name
                                    }) }}
                                </div>
                                
                                <div class="horizontal-form-group has-required">
                                    <label class="horizontal-form-group__label">Last Name:</label>
                                    {{ forms.group({
                                    'TYPE': 'text',
                                    'SIZE': 'm',
                                    'GROUP_WRAPPER': 'div',
                                    'NAME': 'last_name',
                                    'VALUE': data.info.last_name
                                    }) }}
                                </div>
                                
                                <div class="horizontal-form-group has-required">
                                    <label class="horizontal-form-group__label">Email:</label>
                                    {{ forms.group({
                                    'TYPE': 'email',
                                    'SIZE': 'm',
                                    'GROUP_WRAPPER': 'div',
                                    'NAME': 'email',
                                    'VALUE': data.info.email
                                    }) }}
                                </div>

                            </div><!-- /.col- -->
                        </div><!-- /.row -->

                    </div><!-- /.edit-layout__content -->
                </div><!-- /.edit-layout -->
            </fieldset>

            <fieldset>
                <legend class="bg--white">Password</legend>

                <div class="[ edit-layout edit-layout--multi-column edit-layout--image ]  margin-top--20">
                    <div class="edit-layout__content">

                        <div class="row  [ width-lg--75 width-xl--65 ]">
                            <div class="col-xs-12">
                                
                                <div class="horizontal-form-group has-required">
                                    <label class="horizontal-form-group__label">Password:</label>
                                    {{ forms.group({
                                    'TYPE': 'password',
                                    'SIZE': 'm',
                                    'GROUP_WRAPPER': 'div',
                                    'NAME': 'password',
                                    'VALUE': data.info.password
                                    }) }}
                                </div>
                                
                                <div class="horizontal-form-group has-required">
                                    <label class="horizontal-form-group__label">Confirm Password:</label>
                                    {{ forms.group({
                                    'TYPE': 'password',
                                    'SIZE': 'm',
                                    'GROUP_WRAPPER': 'div',
                                    'NAME': 'confirm_password',
                                    'VALUE': data.info.confirm_password
                                    }) }}
                                </div>
                                
                            </div><!-- /.col- -->
                        </div><!-- /.row -->

                    </div><!-- /.edit-layout__content -->
                </div><!-- /.edit-layout -->
            </fieldset>

            <div class="edit-actions">
                <div class="btn-group">
                    <button class="[ btn btn--l btn--primary ]  [ text--uppercase text--bold ]  js-unload-prevention-whitelisted"
                            type="submit"><span class="icon icon--white icon--tick"></span><span>{{ MODE == 'add' ? 'Add User' : 'Save changes' }}</span>
                    </button>
                    <a class="[ btn btn--l btn--secondary ]  [ text--uppercase text--bold ]"
                       href="{{ links.userListing.URL }}"><span class="icon icon--white icon--x"></span><span>Cancel</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

{{ forms.end({}) }}
{% endblock %}