<div class="container  margin-top--5">
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-lg-2">
      <div class="stats-box  [ margin-bottom--20 ]">
        <h3 class="stats-box__header"><a href="{{ links.ordersListing.URL }}">Orders</a></h3>
        {% if data.type == 1 or data.type == 3 %}<p class="stats-box__value">{{ data.counters.orders|number_format(0, '', ' ') }}</p>{% endif %}
        <p class="stats-box__info">
          {# <span class="text--tertiary">4%</span> from last week #}
        </p>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-2">
      <div class="stats-box  [ margin-bottom--20 ]">
        <h3 class="stats-box__header"><a href="{{ links.productsListingLiveOnSite.URL }}">Products</a></h3>
        {% if data.type == 1 or data.type == 3 %}<p class="stats-box__value">{{ data.counters.products|number_format(0, '', ' ') }}</p>{% endif %}
        <p class="stats-box__info">
          {# <span class="text--tertiary">1,000</span> total inventory #}
        </p>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-2">
      <div class="stats-box  [ margin-bottom--20 ]">
        <h3 class="stats-box__header"><a href="{{ links.productsListingSpecials.URL }}">Specials</a></h3>
        {% if data.type == 1 or data.type == 3 %}<p class="stats-box__value">{{ data.counters.specials|number_format(0, '', ' ') }}</p>{% endif %}
        <p class="stats-box__info">
          {# <span class="text--tertiary">20</span> <abbr class="js-tp" data-tp-addClass="tp-white" data-tp-animation="move" data-tp-maxWidth="300" data-tp-content="C explanation">C</abbr> | <span class="text--tertiary">30</span> <abbr class="js-tp" data-tp-addClass="tp-white" data-tp-animation="move" data-tp-maxWidth="300" data-tp-content="O explanation">O</abbr> | <span class="text--tertiary">10</span> <abbr class="js-tp" data-tp-addClass="tp-white" data-tp-animation="move" data-tp-maxWidth="300" data-tp-content="B explanation">B</abbr> | <span class="text--tertiary">12</span> <abbr class="js-tp" data-tp-addClass="tp-white" data-tp-animation="move" data-tp-maxWidth="300" data-tp-content="S explanation">S</abbr> #}
        </p>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-2">
      <div class="stats-box  [ margin-bottom--20 ]">
        <h3 class="stats-box__header">Clicks on Brands</h3>
        {% if data.type == 1 or data.type == 3 %}<p class="stats-box__value">{{ data.counters.clicks_on_brands|number_format(0, '', ' ') }}</p>{% endif %}
        <p class="stats-box__info">
          {# <span class="text--tertiary">4%</span> from last week #}
        </p>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-2">
      <div class="stats-box  [ margin-bottom--20 ]">
        <h3 class="stats-box__header">Clicks on Products</h3>
        {% if data.type == 1 or data.type == 3 %}<p class="stats-box__value">{{ data.counters.clicks_on_products|number_format(0, '', ' ') }}</p>{% endif %}
        <p class="stats-box__info">
          {# <span class="text--tertiary">4%</span> from last week #}
        </p>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-2">
      <div class="stats-box  [ margin-bottom--20 ]">
        <h3 class="stats-box__header">Total Clicks</h3>
        {% if data.type == 1 or data.type == 3 %}<p class="stats-box__value">{{ (data.counters.clicks_on_brands+data.counters.clicks_on_products)|number_format(0, '', ' ') }}</p>{% endif %}
        <p class="stats-box__info">
          {# <span class="text--tertiary">4%</span> from last week #}
        </p>
      </div>
    </div>
  </div>
</div>
