<div class="container  margin-top--20">
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-lg-2">
      <div class="stats-tile  [ bg--secondary-dark text--white margin-bottom--20 ]">
        <span class="stats-tile__icon  [ icon icon--user icon--white ]"></span>
        <h3 class="stats-tile__header"><a href="{{ links.buyersListing.URL }}">Buyers</a></h3>
        {% if data.type == 1 or data.type == 3 %}<p class="stats-tile__value">{{ data.counters.buyers|number_format(0, '', ' ') }}</p>{% endif %}
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-2">
      <div class="stats-tile  [ bg--tertiary text--white margin-bottom--20 ]">
        <span class="stats-tile__icon  [ icon icon--envelope icon--white ]"></span>
        <h3 class="stats-tile__header"><a href="{{ links.messagesListing.URL }}">Messages</a></h3>
        {% if data.type == 1 or data.type == 3 %}<p class="stats-tile__value">{{ data.counters.messages|number_format(0, '', ' ') }}</p>{% endif %}
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-2">
      <div class="[ stats-tile stats-tile--is-disabled ]  [ bg--facebook text--white margin-bottom--20 ]  js-md-open" data-md-id="soonInfoAnalytics">
        <span class="stats-tile__icon  [ icon icon--facebook icon--white ]"></span>
        <h3 class="stats-tile__header">Facebook</h3>
        {% if data.type == 1 or data.type == 3 %}<p class="stats-tile__value">---</p>{% endif %}
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-2">
      <div class="[ stats-tile stats-tile--is-disabled ]  [ bg--googleplus text--white margin-bottom--20 ]  js-md-open" data-md-id="soonInfoAnalytics">
        <span class="stats-tile__icon  [ icon icon--googleplus icon--white ]"></span>
        <h3 class="stats-tile__header">Google Plus</h3>
        {% if data.type == 1 or data.type == 3 %}<p class="stats-tile__value">---</p>{% endif %}
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-2">
      <div class="[ stats-tile stats-tile--is-disabled ]  [ bg--linkedin text--white margin-bottom--20 ]  js-md-open" data-md-id="soonInfoAnalytics">
        <span class="stats-tile__icon  [ icon icon--linkedin icon--white ]"></span>
        <h3 class="stats-tile__header">Linkedin</h3>
        {% if data.type == 1 or data.type == 3 %}<p class="stats-tile__value">---</p>{% endif %}
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-lg-2">
      <div class="[ stats-tile stats-tile--is-disabled ]  [ bg--twitter text--white margin-bottom--20 ]  js-md-open" data-md-id="soonInfoAnalytics">
        <span class="stats-tile__icon  [ icon icon--twitter icon--white ]"></span>
        <h3 class="stats-tile__header">Twitter</h3>
        {% if data.type == 1 or data.type == 3 %}<p class="stats-tile__value">---</p>{% endif %}
      </div>
    </div>
  </div>
</div>