{% extends '_layouts/_default.twig' %}
{% import '_macros/__forms.twig' as forms %}

{% block content %}
{% if data.type == 1 or data.type == 3 %}
{% include 'dashboardPage/_stats-tiles.twig' %}
{% include 'dashboardPage/_stats-boxes.twig' %}
{% endif %}

<div class="container  [ margin-top--5 margin-bottom--30 ]">
    <div class="row">
        <div class="col-xs-12 col-xl-6">
            <div class="panel  [ dashboard-panel dashboard-panel--persons ]  margin-bottom--15">
                <div class="panel__header"><h3 class="panel__title"><a href="{{ links.buyersListing.URL }}">Buyers</a>
                    </h3></div>
                <div class="panel__content" style="height: 400px;overflow-x: hidden;overflow-y: auto;background:#fff">
                    {% if data.type == 1 or data.type == 3 %}
                    {% for i in data.lists.buyers %}
                    <div class="panel__row  [ fx-row-xs fx-row-xs--align-center fx-row-xs--justify-between fx-row-sm fx-row-md fx-row-lg fx-row-xl ]">
                        <div class="[ panel__row panel__col ]  dashboard-panel__col--first-column  [ fx-row-xs fx-row-xs--align-center fx-row-xs--justify-start fx-row-sm fx-row-md fx-row-lg fx-row-xl ]">
                            <div class="panel__col  dashboard-panel__col--image  [ fx-col fx-col--noshrink ]">
                                <img class="dashboard-panel__image" src="{{ i.photo_thumb }}" alt="">
                            </div>
                            <div class="panel__col  dashboard-panel__col--person-data  [ fx-col ]">
                                <h3 class="dashboard-panel__person-name  text--bold">{{ i.first_name ~ ' ' ~ i.last_name
                                    }}</h3>
                                <p class="dashboard-panel__person-contact-data">
                                    <a class="dashboard-panel__person-email" href="mailto:{{  i.email }}">{{ i.email
                                        }}</a>,
                                    <a class="dashboard-panel__person-phone" href="tel:{{  i.phone }}">{{ i.phone }}</a>
                                </p>
                            </div>
                        </div>
                        <div class="panel__col  dashboard-panel__col--actions  [ text--nowrap text--right ]  [ fx-col ]">
                            <a class="[ btn btn--icon btn--s btn--transparent ]  js-tp" data-tp-addClass="tp-white"
                               data-tp-animation="move" data-tp-maxWidth="300" data-tp-content="E-mail this buyer"
                               href="mailto:{{ i.email }}"><span
                                        class="icon icon--slate-light icon--envelope icon--20"></span></a>
                            <a class="[ btn btn--icon btn--s btn--transparent ]  js-tp" data-tp-addClass="tp-white"
                               data-tp-animation="move" data-tp-maxWidth="300" data-tp-content="Call this buyer"
                               href="tel:{{ i.phone }}"><span class="icon icon--slate-light icon--phone"></span></a>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-xl-6">
            <div class="panel  [ dashboard-panel dashboard-panel--orders ]  margin-bottom--15">
                <div class="panel__header"><h3 class="panel__title"><a href="{{ links.ordersListing.URL }}">Orders</a>
                    </h3></div>
                <div class="panel__content" style="height: 400px;overflow-x: hidden;overflow-y: auto;background:#fff">
                    {% if data.type == 1 or data.type == 3 %}
                    {% for i in data.lists.orders %}
                    <a class="[ panel__row panel__row--link ]  [ fx-row-sm fx-row-sm--align-center fx-row-sm--justify-between fx-row-md fx-row-lg fx-row-xl ]"
                       href="{{ links.orderView.URL ~ '/' ~ i.id_orders }}">
                        <div class="[ panel__row panel__col ]  dashboard-panel__col--first-column  clearfix-xs  fx-col  [ fx-row-sm fx-row-sm--align-center fx-row-sm--justify-start fx-row-md fx-row-lg fx-row-xl ]">
                            <div class="panel__col  dashboard-panel__col--buyer-name  text--bold  [ fx-col ]">
                                {{ i.name }}
                            </div>
                            <div class="panel__col  dashboard-panel__col--order-date  [ margin-left--15 margin-left-xs--0 margin-top-xs--5 ]  text--bolder  [ fx-col ]">
                                <span class="text--nowrap">{{ i.created_date|date('F j, Y') }}</span> • <span
                                        class="text--nowrap">{{ i.created_date|date('h:i A') }}</span>
                            </div>
                        </div>
                        <div class="[ panel__row panel__col ]  [ fx-col fx-row-xs fx-row-xs--align-center fx-row-xs--justify-start fx-row-sm--justify-end fx-row-sm fx-row-md fx-row-lg fx-row-xl ]  [ margin-left--15 margin-left-xs--0 margin-top-xs--5 ]">
                            <div class="panel__col  dashboard-panel__col--order-id  [ text--nowrap text--bolder ]  [ fx-col ]">
                                <span class="visible-xs-inline">#</span>{{ i.id_orders }}
                            </div>
                            <div class="panel__col  dashboard-panel__col--status  [ fx-col ]">
                                <span class="[ label label--m ]  bg--primary  text--uppercase">{{ i.status_readable }}</span>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-xl-6">
            <div class="panel  [ dashboard-panel dashboard-panel--items ]  margin-bottom--15">
                <div class="panel__header"><h3 class="panel__title"><a href="{{ links.productsListingLiveOnSite.URL }}">Products</a>
                    </h3></div>
                <div class="panel__content" style="height: 400px;overflow-x: hidden;overflow-y: auto;background:#fff;">
                    {% if data.type == 1 or data.type == 3 %}
                    {% for i in data.lists.products %}
                    <div class="panel__row  [ fx-row-sm fx-row-sm--align-center fx-row-sm--justify-between fx-row-md fx-row-lg fx-row-xl ]">
                        <div class="[ panel__row panel__col ]  dashboard-panel__col--first-column  clearfix-xs  fx-col  [ fx-row-sm fx-row-sm--align-center fx-row-sm--justify-start fx-row-md fx-row-lg fx-row-xl ]">
                            <div class="panel__col  dashboard-panel__col--image  [ fx-col fx-col--noshrink ]">
                                <img class="dashboard-panel__image"
                                     src="/uploads/products/gallery/{{  i.gallery.0.image }}" alt="">
                            </div>
                            <div class="panel__col  dashboard-panel__col--manufacturer  [ fx-col ]">
                                <h3 class="dashboard-panel__manufacturer  text--bold">{{ i.brand.title }}</h3>
                                <p class="dashboard-panel__item-id">{{ i.sku }}</p>
                            </div>
                            <div class="panel__col  dashboard-panel__col--item-name  [ margin-left--15 margin-left-xs--0 ]  [ fx-col ]">
                                {{ i.title }}
                            </div>
                        </div>
                        <div class="[ panel__row panel__col ]  [ fx-col fx-row-xs fx-row-xs--align-center fx-row-xs--justify-start fx-row-sm--justify-end fx-row-sm fx-row-md fx-row-lg fx-row-xl ]  [ margin-left--15 margin-left-xs--0 margin-top-xs--10 ]">
                            <div class="panel__col  dashboard-panel__col--price  [ text--slate text--nowrap text--bolder ]  [ fx-col ]">
                                AED {{ i.price }}
                            </div>
                            {#
                            <div class="panel__col  dashboard-panel__col--qty  [ fx-col ]">
                                <div class="form-combined-group">
                                    {{ forms.group({
                                    'TYPE': 'number',
                                    'MIN': 1,
                                    'MAX': 999999,
                                    'STEP': 1,
                                    'VALUE': '50',
                                    'SIZE': 's',
                                    'inputClasses': [
                                    'text--right'
                                    ],
                                    'VARIANT': 2,
                                    'STATE': 'normal'
                                    }) }}
                                    <div class="form-group-addon form-group-addon--s form-group-addon--right">qty</div>
                                </div>

                            </div>
                            #}
                            <div class="panel__col  dashboard-panel__col--actions  text--nowrap  [ fx-col ]">
                                <a class="[ btn btn--s btn--slate-light btn--circle ]  js-tp"
                                   data-tp-addClass="tp-white" data-tp-animation="move" data-tp-maxWidth="300"
                                   data-tp-content="Edit" href="{{ links.productEdit.URL ~ '/' ~ i.id_products }}"><span
                                            class="icon icon--white icon--pencil icon--10"></span></a>
                                <a class="[ btn btn--s btn--slate-light btn--circle ]  js-tp"
                                   data-tp-addClass="tp-white" data-tp-animation="move" data-tp-maxWidth="300"
                                   data-tp-content="View"
                                   href="{{ links.externalProductView.URL ~ '/' ~ i.id_products }}"
                                   target="_blank"><span class="icon icon--white icon--eye"></span></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-xl-6">
            <div class="panel  [ dashboard-panel dashboard-panel--specials ]  margin-bottom--15">
                <div class="panel__header"><h3 class="panel__title"><a href="{{ links.productsListingSpecials.URL }}">Specials</a>
                    </h3></div>
                <div class="panel__content" style="height: 400px;overflow-x: hidden;overflow-y: auto;background:#fff;">
                    {% if data.type == 1 or data.type == 3 %}
                    {% for i in data.lists.specials %}
                    <div class="panel__row  [ fx-row-sm fx-row-sm--align-center fx-row-sm--justify-between fx-row-md fx-row-lg fx-row-xl ]">
                        <div class="[ panel__row panel__col ]  dashboard-panel__col--first-column  clearfix-xs  fx-col  [ fx-row-sm fx-row-sm--align-center fx-row-sm--justify-start fx-row-md fx-row-lg fx-row-xl ]">
                            <div class="panel__col  dashboard-panel__col--image  [ fx-col fx-col--noshrink ]">
                                <img class="dashboard-panel__image"
                                     src="/uploads/products/gallery/{{  i.gallery.0.image }}" alt="">
                            </div>
                            <div class="panel__col  dashboard-panel__col--manufacturer  [ fx-col ]">
                                <h3 class="dashboard-panel__manufacturer  text--bold">{{ i.brand.title }}</h3>
                                <p class="dashboard-panel__item-id">{{ i.sku }}{# <span
                                            class="[ label label--s ]  bg--primary  text--uppercase">Clearance</span> #}
                                </p>
                            </div>
                            <div class="panel__col  dashboard-panel__col--item-name  [ margin-left--15 margin-left-xs--0 ]  [ fx-col ]">
                                {{ i.title }}
                            </div>
                        </div>
                        {# data-discount-id & data-easy-edit-id have to be the same to make the easy-edit work with
                        discount mechanism. #}
                        <div class="[ panel__row panel__col ] [ fx-col fx-row-xs fx-row-xs--align-center fx-row-xs--justify-start fx-row-sm--justify-end fx-row-sm fx-row-md fx-row-lg fx-row-xl ]
                  [ margin-left--15 margin-left-xs--0 margin-top-xs--10 ]  [ js-discount ]" data-discount-id="dashboardDiscount-{{ i.id_products }}" >
                            <div class="panel__col  dashboard-panel__col--price  [ text--slate text--nowrap text--bolder ]  [ fx-col ]">
                                AED <span class="js-discount__original-price">{{ i.list_price }}</span>
                            </div>
                            <div class="panel__col  dashboard-panel__col--discount-percent  [ fx-col ]">
                                <div class="form-combined-group">
                                    {{ forms.group({
                                    'TYPE': 'number',
                                    'MIN': 0,
                                    'MAX': 99.5,
                                    'STEP': 0.5,
                                    'VALUE': i.discount,
                                    'SIZE': 's',
                                    'NAME': 'discount',
                                    'HAS_LOADER': true,
                                    'groupClasses': [
                                    'js-easy-edit'
                                    ],
                                    'groupData': {
                                    'easy-edit-id': 'dashboardDiscount-' ~ i.id_products,
                                    'easy-edit-url': '/back_office/products/easyedit/' ~ i.id_products
                                    },
                                    'inputClasses': [
                                    'text--right',
                                    'js-discount__discount-percent',
                                    'js-easy-edit__form-control'
                                    ],
                                    'data': {
                                    'bind-id': 'discount' ~ i.id_products
                                    }
                                    }) }}
                                    <div class="form-group-addon form-group-addon--s form-group-addon--right">%</div>
                                </div>
                            </div>
                            <div class="panel__col  dashboard-panel__col--discount-value  [ fx-col ]">
                                <span class="[ label label--l ]  bg--gray-lighter  [ border--1 border--slate-light ]  [ text--uppercase text--normal text--center ]">AED <span
                                            class="js-discount__reduced-price">{{ i.discount }}</span></span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block modals %}
{{ parent() }}
{% include '_modals/_soon-info-analytics.twig' %}
{% endblock %}