{% extends '_layouts/_default.twig' %}
{% import '_macros/__listing-table.twig' as listingTable %}

{% block content %}
  <div class="container  margin-top--20  [ width-lg--75 width-xl--65 ]">
    {{ listingTable.listingHeader({
      'TABLE_ID': 'listingTable',
      'TITLE': seo.PAGE_TITLE,
      'buttons': [{
        'HREF': links.brandAdd.URL,
        'LABEL': 'Add brand',
        'buttonClasses': ['btn--primary'],
        'iconClasses': [
          'icon--o-plus',
          'icon--white'
        ]
      }]
    }) }}
      {{ listingTable.table({
        'TABLE_ID': 'listingTable',
        'structure': [
          {
            'TYPE': 'logo',
            'HEADER_CONTENT': 'Logo'
          },
          {
            'HEADER_CONTENT': 'Brand ID',
            'thClasses': ['text--center'],
            'tdClasses': ['text--center'] 
          },
          {
            'HEADER_CONTENT': 'Brand name',
            'thClasses': ['text--center'],
            'tdClasses': ['text--center'] 
          },
          {
            'TYPE': 'status-brand',
            'HEADER_CONTENT': 'Status'
          },
          {
            'TYPE': 'icon-actions',
            'HEADER_CONTENT': 'Actions',
            'actions': [
              {
                'classes': [],
                'HREF': links.brandEdit.URL ~ '/${rowId}',
                'LABEL': 'Edit',
                'iconClasses': [
                  'icon--white',
                  'icon--pencil',
                  'icon--10'
                ]
              },
              {
                'classes': [],
                'HREF': links.externalBrandView.URL ~ '/${rowId}',
                'LABEL': 'Preview',
                'iconClasses': [
                  'icon--white',
                  'icon--eye'
                ],
                'TARGET': '_blank'
              }
            ]
          }
        ],
        'data': data.brands
      }) }}
    {#
    block deleting for now

              {
                'classes': [],
                'HREF': links.brandDelete.URL ~ '/${rowId}',
                'LABEL': 'Delete',
                'iconClasses': [
                  'icon--white',
                  'icon--x',
                  'icon--10'
                ],
                'CONFIRM_MSG': 'Are you sure you want to delete this brand? This cannot be undone.'
              },
    #}
    {{ listingTable.listingFooter({
      'TABLE_ID': 'listingTable',
      'pagination': pagination
    }) }}
  </div>
{% endblock %}
