{# 
	BI Architects standard forms macros
	v2.0 (with form start & end)
#}

{##
 # Macro: start
 #
 # Prints form opening
 #
 # @param	{array} 	params					Associative array of options for <form> element
 # 			{boolean}	params.RENDER_UNESCAPED	Whether all attribute values should be rendered unescaped or not
 #			{string}	params.TAG				Tag name to be used in element creation
 #			{string}	params.id				Unique id that will be set on the created element
 #			{array}		params.classes			Array of CSS classes that will be added to the created element
 #			{array}		params.data					Defaults to empty array
 #													Assoc array with custom data- attributes to be set for form element:
 #													{
 #														"key1":		"value1",
 #														"key2":		"value2"
 #													}
 #													Converts to: <form data-key1="value1" data-key2="value2">
 #			{string}	params.ACTION			Value of `action` attribute that will be set on the created element
 #			{string}	params.METHOD			Value of `method` attribute that will be set on the created element
 #			{string}	params.ENCTYPE			Value of `enctype` attribute that will be set on the created element
 #			{string}	params.TARGET			Value of `target` attribute that will be set on the created element
 #			{string}	params.AUTOCOMPLETE		Value of `autocomplete` attribute that will be set on the created element
#}
{% macro start(params) %}
	{% spaceless %}
		{% import _self as forms %}

		{% if params.RENDER_UNESCAPED is not defined %}
			{% set params = params|merge({'RENDER_UNESCAPED': false}) %}
		{% endif %}

		{% if params.TAG is not defined %}
			{% set params = params|merge({'TAG': 'form'}) %}
		{% endif %}
		
		{% if params.id is not defined %}
			{% set params = params|merge({'id': ''}) %}
		{% endif %}

		{% if params.classes is not defined %}
			{% set params = params|merge({'classes': []}) %}
		{% endif %}

		{% set dataAttributes = [] %}
		{% if params.data is defined %}
			{% for k,v in params.data %}
				{% set dataAttributes = dataAttributes|merge(['data-' ~ k ~ '="' ~ (params.RENDER_UNESCAPED ? v|raw : v|e) ~ '"']) %}
			{% endfor %}
		{% endif %}
	{% endspaceless %}
	<{{ params.TAG }} {{ params.ACTION is defined ? ('action="'~params.ACTION~'"')|raw }} {{ params.METHOD is defined ? ('method="'~params.METHOD~'"')|raw }} {{ params.ENCTYPE is defined ? ('enctype="'~params.ENCTYPE~'"')|raw }} {{ params.TARGET is defined ? ('target="'~params.TARGET~'"')|raw }} {{ params.AUTOCOMPLETE is defined ? ('autocomplete="'~params.AUTOCOMPLETE~'"')|raw }} id="{{ params.RENDER_UNESCAPED ? params.id|raw : params.id|e }}" class="{{ params.RENDER_UNESCAPED ? params.classes|join(' ')|raw : params.classes|join(' ')|e }}" {{ dataAttributes|join(' ')|raw }} novalidate>
		{% if (params.AUTOCOMPLETE == 'off') %}
			{#
				A REALLY ugly fix for Chrome ignoring autocomplete="off":
				https://code.google.com/p/chromium/issues/detail?id=468153#c14
			#}
			{{ forms.input({
				'TYPE': 'text',
				'NAME': 'preventChromeAutocomplete',
				'id': 'preventChromeAutocomplete',
				'AUTOCOMPLETE': 'chromeSucksWithThisOne',
				'inputClasses': ['soft-hide']
			}) }}
		{% endif %}
{% endmacro %}

{##
 # Macro: end
 #
 # Prints form ending
 #
 # @param {String} tag	Tag name to be closed
#}
{% macro end(params) %}
	{% if params.TAG is not defined or params.TAG is empty %}
		{% set params = params|merge({'TAG': 'form'}) %}
	{% endif %}
	</{{ params.TAG }}><!-- Form end -->
{% endmacro %}

 {##
 # Macro: input
 #
 # Prints an text-input-enabled and hidden <input> element.
 # Important: Use this macro only for <input hidden> - for others use 'group' macro
 #
 # @param	{array} 	params						Associative array of options for <input> element
 # 			{boolean}	params.RENDER_UNESCAPED		Whether all attribute values should be rendered unescaped or not
 #													Defaults to false. Note: Use this feature carefully!
 #			{boolean}	params.IS_DISABLED			Defaults to false
 #													Makes the input disabled
 #			{boolean}	params.IS_READONLY			Defaults to false
 #													Makes the input readonly
 #			{string}	params.TYPE					Defaults to 'text'
 #													Input type: text/password/email/search/url/tel/number/hidden
 #			{string}	params.MAXLENGTH			Defaults to `0`
 #													Input type: text/password/email/search/url/tel/number/hidden/textarea
 #			{string}	params.NAME					Defaults to empty string
 #													Input name
 #			{string}	params.VALUE				Defaults to empty string
 #													Input value
 #			{string}	params.PLACEHOLDER			Defaults to empty string
 #													Placeholder for input, invalid for <input hidden>
 #			{array}		params.inputClasses			Defaults to empty array
 #													Custom CSS classes to be set for input
 #			{string}	params.id					Defaults to empty string
 #													Unique id to be set for element
 #			{string}	params.AUTOFOCUS			Defaults to false
 #													Should input has autofocus on page load (use only with one input on one screen!)
 #			{string}	params.AUTOCOMPLETE			Defaults to empty string
 #													Value of `autocomplete` attribute that will be set on the input
 #			{float}		params.MIN					Defaults to 0.
 #													For input[type="number"] only, value of `min` attribute.
 #			{float}		params.MAX					Defaults to undefined.
 #													For input[type="number"] only, value of `max` attribute.
 #			{float}		params.STEP					Defaults to undefined.
 #													For input[type="number"] only, value of `step` attribute.
 #			{bool}		params.IS_HOVERED			Helper for rendering input in "hover" state.
 #			{bool}		params.HAS_FOCUS			Helper for rendering input in "focus" state.
 #			{int}     params.TABINDEX				Tabindex to be set on form control element
 #}
{% macro input(params) %}
	{% spaceless %}
		{% if params.RENDER_UNESCAPED is not defined %}
			{% set params = params|merge({'RENDER_UNESCAPED': false}) %}
		{% endif %}
		{% if params.TYPE is not defined %}
			{% set params = params|merge({'TYPE': 'text'}) %}
		{% endif %}
		{% if params.MAXLENGTH is not defined %}
			{% set params = params|merge({'MAXLENGTH': 0}) %}
		{% endif %}
		{% if params.NAME is not defined %}
			{% set params = params|merge({'NAME': ''}) %}
		{% endif %}
		{% if params.VALUE is not defined %}
			{% set params = params|merge({'VALUE': ''}) %}
		{% endif %}
		{% if params.PLACEHOLDER is not defined %}
			{% set params = params|merge({'PLACEHOLDER': ''}) %}
		{% endif %}
		{% if params.inputClasses is not defined %}
			{% set params = params|merge({'inputClasses': []}) %}
		{% endif %}
		{% if params.IS_DISABLED is not defined %}
			{% set params = params|merge({'IS_DISABLED': false}) %}
		{% endif %}
		{% if params.IS_READONLY is not defined %}
			{% set params = params|merge({'IS_READONLY': false}) %}
		{% endif %}
		{% if params.id is not defined %}
			{% set params = params|merge({'id': ''}) %}
		{% endif %}
		{% if params.AUTOCOMPLETE is not defined %}
			{% set params = params|merge({'AUTOCOMPLETE': ''}) %}
		{% endif %}
		{% if params.AUTOFOCUS is not defined %}
			{% set params = params|merge({'AUTOFOCUS': false}) %}
		{% endif %}
		{% if params.MIN is not defined %}
			{% set params = params|merge({'MIN': 0}) %}
		{% endif %}
		{% if params.MAX is not defined %}
			{% set params = params|merge({'MAX': ''}) %}
		{% endif %}
		{% if params.STEP is not defined %}
			{% set params = params|merge({'STEP': ''}) %}
		{% endif %}
		{% if params.data is not defined %}
			{% set params = params|merge({'data': []}) %}
		{% endif %}

		{% set inputClasses = params.inputClasses %}

		{% if params.IS_HOVERED %}
			{% set inputClasses = inputClasses|merge(['is-hovered']) %}
		{% endif %}
		{% if params.HAS_FOCUS %}
			{% set inputClasses = inputClasses|merge(['has-focus']) %}
		{% endif %}

		{% set PLACEHOLDER = 'placeholder="' ~ (params.RENDER_UNESCAPED ? params.PLACEHOLDER|raw : params.PLACEHOLDER|e) ~ '"' %}
		{% if params.TYPE == 'hidden' %}
			{% set PLACEHOLDER = '' %}
		{% endif %}
	{% endspaceless %}
	<input type="{{ params.RENDER_UNESCAPED ? params.TYPE|raw : params.TYPE|e }}" name="{{ params.RENDER_UNESCAPED ? params.NAME|raw : params.NAME|e }}" id="{{ params.RENDER_UNESCAPED ? params.id|raw : params.id|e }}" value="{{ params.RENDER_UNESCAPED ? params.VALUE|raw : params.VALUE|e }}" {{ PLACEHOLDER|raw }} {{ params.MAXLENGTH > 0 ? ('maxlength="'~ params.MAXLENGTH ~ '"')|raw : '' }} class="{{ params.RENDER_UNESCAPED ? inputClasses|join(' ')|raw : inputClasses|join(' ')|e }}" {{ params.IS_DISABLED ? 'disabled' : '' }} {{ params.IS_READONLY ? 'readonly' : '' }} {{ params.AUTOCOMPLETE != '' ? ('autocomplete="'~params.AUTOCOMPLETE~'"')|raw }} {{ params.TYPE == 'number' ? ('min="'~params.MIN~'"')|raw }} {{ params.MAX != '' ? ('max="'~params.MAX~'"')|raw }} {{ params.STEP != '' ? ('step="'~params.STEP~'"')|raw }} {{ params.AUTOFOCUS ? 'autofocus' : '' }} {{ params.TABINDEX is defined ? ('tabindex="'~params.TABINDEX~'"')|raw }} {{ params.data|join(' ')|raw }}>
{% endmacro %}


 {##
 # Macro: textarea
 #
 # Prints a <textarea> element.
 # Do not use this macro directly - use 'group' macro instead.
 # List of params is listed in 'group' macro documentation.
 #}
{% macro textarea(params) %}
	<textarea name="{{ params.RENDER_UNESCAPED ? params.NAME|raw : params.NAME|e }}" id="{{ params.RENDER_UNESCAPED ? params.id|raw : params.id|e }}" placeholder="{{ params.RENDER_UNESCAPED ? params.PLACEHOLDER|raw : params.PLACEHOLDER|e }}" class="{{ params.RENDER_UNESCAPED ? params.inputClasses|join(' ')|raw : params.inputClasses|join(' ')|e }}" {{ params.MAXLENGTH > 0 ? ('maxlength="'~ params.MAXLENGTH ~ '"')|raw : '' }} {{ params.IS_DISABLED ? 'disabled' : '' }} {{ params.IS_READONLY ? 'readonly' : '' }} {{ params.AUTOFOCUS ? 'autofocus' : '' }} {{ params.TABINDEX is defined ? ('tabindex="'~params.TABINDEX~'"')|raw }} {{ params.data|join(' ')|raw }}>{{ params.VALUE|raw }}</textarea>
{% endmacro %}


 {##
 # Macro: radio
 #
 # Prints an <input radio> element.
 # Do not use this macro directly - use 'group' macro instead.
 # List of params is listed in 'group' macro documentation.
 #}
{% macro radio(params) %}
	<input type="radio" name="{{ params.RENDER_UNESCAPED ? params.NAME|raw : params.NAME|e }}" id="{{ params.RENDER_UNESCAPED ? params.id|raw : params.id|e }}" value="{{ params.RENDER_UNESCAPED ? params.VALUE|raw : params.VALUE|e }}" class="{{ params.RENDER_UNESCAPED ? params.inputClasses|join(' ')|raw : params.inputClasses|join(' ')|e }}" {{ params.IS_DISABLED ? 'disabled' : '' }} {{ params.IS_READONLY ? 'readonly' : '' }} {{ params.IS_CHECKED ? 'checked' : '' }} {{ params.AUTOFOCUS ? 'autofocus' : '' }} {{ params.TABINDEX is defined ? ('tabindex="'~params.TABINDEX~'"')|raw }} {{ params.data|join(' ')|raw }}>
	{% if params.PLACEHOLDER %}<div class="form-group__radio__placeholder {{ params.PLACEHOLDER_NOWRAP ? 'form-group__radio__placeholder--nowrap' }}">{{ params.PLACEHOLDER|raw }}</div>{% endif %}
{% endmacro %}


 {##
 # Macro: checkbox
 #
 # Prints an <input checkbox> element.
 # Do not use this macro directly - use 'group' macro instead.
 # List of params is listed in 'group' macro documentation.
 #}
{% macro checkbox(params) %}
	<input type="checkbox" name="{{ params.RENDER_UNESCAPED ? params.NAME|raw : params.NAME|e }}" id="{{ params.RENDER_UNESCAPED ? params.id|raw : params.id|e }}" value="{{ params.RENDER_UNESCAPED ? params.VALUE|raw : params.VALUE|e }}" class="{{ params.RENDER_UNESCAPED ? params.inputClasses|join(' ')|raw : params.inputClasses|join(' ')|e }}" {{ params.IS_DISABLED ? 'disabled' : '' }} {{ params.IS_READONLY ? 'readonly' : '' }} {{ params.IS_CHECKED ? 'checked' : '' }} {{ params.AUTOFOCUS ? 'autofocus' : '' }} {{ params.TABINDEX is defined ? ('tabindex="'~params.TABINDEX~'"')|raw }} {{ params.data|join(' ')|raw }}>
	{% if params.PLACEHOLDER %}<div class="form-group__checkbox__placeholder {{ params.PLACEHOLDER_NOWRAP ? 'form-group__checkbox__placeholder--nowrap' }}">{{ params.PLACEHOLDER|raw }}</div>{% endif %}
{% endmacro %}


 {##
 # Macro: select
 #
 # Prints a <select> element.
 # Do not use this macro directly - use 'group' macro instead.
 # List of params is listed in 'group' macro documentation.
 #}
{% macro select(params) %}
	{% spaceless %}
	<select name="{{ params.RENDER_UNESCAPED ? params.NAME|raw : params.NAME|e }}" id="{{ params.RENDER_UNESCAPED ? params.id|raw : params.id|e }}" class="{{ params.RENDER_UNESCAPED ? params.inputClasses|join(' ')|raw : params.inputClasses|join(' ')|e }}" {{ params.IS_DISABLED ? 'disabled' : ''}} {{ params.IS_READONLY ? 'readonly' : '' }} {{ params.AUTOFOCUS ? 'autofocus' : '' }} {{ params.TABINDEX is defined ? ('tabindex="'~params.TABINDEX~'"')|raw }} {{ params.data|join(' ')|raw }}>
		{% if (params.PLACEHOLDER != '' and params.GENERATE_OPTION_FROM_PLACEHOLDER) %}
			<option value="">{{ params.PLACEHOLDER|raw }}</option>
		{% endif %}
		
		{% for option in params.options %}
			{% if option.data is not defined %}
				{% set option = option|merge({'data': []}) %}
			{% endif %}

			{% set dataAttributes = [] %}
			{% if option.data is defined %}
				{% for k,v in option.data %}
					{% set dataAttributes = dataAttributes|merge(['data-' ~ k ~ '="' ~ (params.RENDER_UNESCAPED ? v|raw : v|e) ~ '"']) %}
				{% endfor %}
			{% endif %}

			<option value="{{ params.RENDER_UNESCAPED ? option.VALUE|raw : option.VALUE|e }}" {{ option.IS_SELECTED ? 'selected' : '' }} {{ dataAttributes|join(' ')|raw }}>{{ option.TEXT|raw }}</option>
		{% endfor %}
	</select>
	<div class="form-group__control__control-wrapper__placeholder js-form-select-value">
		{% set anyOptionSelected = false %}
		{% for option in params.options %}
			{% if option.IS_SELECTED %}
				{% set anyOptionSelected = true %}
				{{ option.TEXT|raw }}
			{% endif %}
		{% endfor %}
		{% if (anyOptionSelected == false and params.PLACEHOLDER != '') %}
			{{ params.PLACEHOLDER|raw }}
		{% endif %}
	</div>
	{% endspaceless %}
{% endmacro %}


 {##
 # Macro: icon
 #
 # Prints an icon element.
 # Do not use this macro directly - use 'group' macro instead.
 # List of params is listed in 'group' macro documentation.
 #}
{% macro icon(RENDER_UNESCAPED, ICON_CLASS, PLACEMENT) %}
	<span class="[ form-group__control__control-wrapper__icon form-group__control__control-wrapper__icon--{{ PLACEMENT }} ]  [ icon {{ RENDER_UNESCAPED ? ICON_CLASS|raw : ICON_CLASS|e }} ]  [ js-form-group__icon js-form-group__icon--{{ PLACEMENT }} ]"></span>
{% endmacro %}


 {##
 # Macro: label
 #
 # Prints a label element.
 # Do not use this macro directly - use 'group' macro instead.
 # List of params is listed in 'group' macro documentation.
 #}
{% macro label(RENDER_UNESCAPED, LABEL_TEXT, LABEL_TYPE, INPUT_NAME) %}
	{% spaceless %}
		{% if type == 'label' %}
			<label class="form-group__label" for="{{ RENDER_UNESCAPED ? INPUT_NAME|default('')|raw : INPUT_NAME|default('')|e }}">{{ LABEL_TEXT|raw }}</label>
		{% else %}
			<span class="form-group__label">{{ LABEL_TEXT|raw }}</span>
		{% endif %}
	{% endspaceless %}
{% endmacro %}


 {##
 # Macro: msg
 #
 # Prints a msg element.
 # Do not use this macro directly - use 'group' macro instead.
 # List of params is listed in 'group' macro documentation.
 #}
{% macro msg(RENDER_UNESCAPED, MSG) %}
	{{ {'WRAPPER': true, 'CONTENT': true, 'MESSAGE': MSG, 'RENDER_UNESCAPED': RENDER_UNESCAPED}|mustache('_mustache/form-control-message.mustache')|raw }}
{% endmacro %}


{##
 # Macro: group
 #
 # Prints a .form-group element.
 # Important: Do not use this macro for <input hidden> - use the 'input' macro directly instead
 #
 # @param	{array} 	params						Associative array of options for .form-group element
 # 			{boolean}	params.RENDER_UNESCAPED		Whether all attribute values should be rendered unescaped or not
 # 			{boolean}	params.IS_INLINE			Should .form-group has display:inline-block
 #													Defaults to false. Note: Use this feature carefully!
 # 			{boolean}	params.IS_REQUIRED			All, defaults to false
 #													Based on this the input gets a "IS_REQUIRED" styling
 #			{boolean}	params.IS_CHECKED			<input radio>/<input checkbox>, defaults to false
 #													Marks the input as checked
 #			{boolean}	params.IS_DISABLED			<input>/<select>/<textarea>, defaults to false
 #													Makes the input disabled
 #			{boolean}	params.IS_READONLY			<input>/<select>/<textarea>, defaults to false
 #													Makes the input readonly
 #			{string}	params.ICON_LEFT			All except <input radio>/<input checkbox>, defaults to empty string
 #													Class of the icon to be added to the left of the input
 #			{string}	params.ICON_RIGHT			<input>/<textarea> except <input radio>/<input checkbox>, defaults to empty string
 #													Class of the icon to be added to the right of the input
 #			{string}	params.STATE				All, defaults to empty string
 #													One of the colored states: danger/info/success/success-faded/warning
 #			{string}	params.SIZE					All, defaults to 'l'
 #													Set group size: l/m/s
 #			{string}	params.TYPE					All, defaults to 'text'
 #													Input type: text/password/email/search/url/tel/number/radio/checkbox/select/textarea/checkboxAlt (fallbacks to 'checkbox')
 #			{int}		params.VARIANT				All, defaults to 1 (which means default CSS variant). Input visual variant as styled in CSS.
 #			{int}		params.MAXLENGTH			Input type: text/password/email/search/url/tel/number
 #			{string}	params.NAME					All, defaults to empty string
 #													Input name
 #			{string}	params.VALUE				All, defaults to empty string
 #													Input value
 #			{string}	params.PLACEHOLDER			<input>/<textarea>/<select>, defaults to empty string
 #													Placeholder for <input>/<textarea>, default text for <select> and text representation for <input radio>/<input checkbox>
 #			{bool}		params.GENERATE_OPTION_FROM_PLACEHOLDER
 #													Select exclusively. Defaults to `true`. If true, macro will generate
 #													an option with empty value and text given in `placeholder`.
 #													If false, placeholder text will be set only initially and chosing any
 #													option will replace it. No <option> will be generated.
 #			{array}		params.options				<select>, defaults to empty array []
 #													Assoc array with <select>'s options:
 #													[
 #														{
 #															"text":			"Option text representation",
 #															"value":		"option_value",
 #															"isSelected":	false							// Is option selected
 #														}
 #													]
 #			{string}	params.LABEL				All, defaults to empty string
 #													Label shown before (above) the input
 #			{string}	params.GROUP_WRAPPER		All, defaults to 'label'
 #													Sets the tag name that the group will be wrapped with: label/div.
 #													If you'd like to set the input's label outside the group, set GROUP_WRAPPER to 'div'
 #			{string}	params.MSG					All, defaults to empty string, only used when params.state has one of valid values
 #													Sets the message text displayed below the input
 #			{string}	params.IS_MSG_FLOATING Should input's message be floating (position: absolute instead of static).
 #			{array}		params.inputClasses			All, defaults to empty array []
 #													Custom CSS classes to be set for input
 #			{string}	params.id					Defaults to empty string
 #													Unique id to be set for element
 #			{string}	params.AUTOFOCUS			Defaults to false
 #													Should input has autofocus on page load (use only with one input on one screen!)
 #			{string}	params.AUTOCOMPLETE			Value of `autocomplete` attribute that will be set on the created element
 #			{bool}		params.HAS_LOADER		Sets optional control loader. Defaults to `false`.
 #			{array}		params.data					Defaults to empty array
 #													Assoc array with custom data- attributes to be set for form element:
 #													{
 #														"key1":		"value1",
 #														"key2":		"value2"
 #													}
 #													Converts to: <input data-key1="value1" data-key2="value2">
 #			{array}		params.groupData				See @params.data. Attributes set to form group element.
 #			{array}		params.groupClasses			All, defaults to empty array []
 #													Custom CSS classes to be set for form-group
 #			{float}		params.MIN					input[type="number"] only, defaults to 0.
 #			{float}		params.MAX					input[type="number"] only, defaults to undefined.
 #			{float}		params.STEP					input[type="number"] only, defaults to undefined.
 #      {bool}    params.IS_AUTOSIZED		textarea only - should textarea be autosized as user types. Defaults to false.
 #			{bool}		params.IS_HOVERED			Helper for rendering input in "hover" state.
 #			{bool}		params.HAS_FOCUS			Helper for rendering input in "focus" state.
 #			{int}     params.TABINDEX				Tabindex to be set on form control element
 #			{bool}		params.PLACEHOLDER_NOWRAP	Radio & checkbox only, defaults to `false`
 #													If `true`, checkbox & radio placeholders will not wrap to new lines.
 #			{bool}		params.CONTROL_MANUAL_INIT  If `true`, the JS for the particular form control will not be initialized onload.
 #}
{% macro group(params) %}
	{% spaceless %}
		{% import _self as forms %}
		{% import '_macros/__loader.twig' as loader %}
	
		{##
		 # Set defaults
		 # ------------------------------------------------- #}
		
		{% if params.RENDER_UNESCAPED is not defined %}
			{% set params = params|merge({'RENDER_UNESCAPED': false}) %}
		{% endif %}
		{% if params.IS_INLINE is not defined %}
			{% set params = params|merge({'IS_INLINE': false}) %}
		{% endif %}
		{% if params.IS_REQUIRED is not defined %}
			{% set params = params|merge({'IS_REQUIRED': false}) %}
		{% endif %}
		{% if params.IS_CHECKED is not defined %}
			{% set params = params|merge({'IS_CHECKED': false}) %}
		{% endif %}
		{% if params.IS_DISABLED is not defined %}
			{% set params = params|merge({'IS_DISABLED': false}) %}
		{% endif %}
		{% if params.IS_READONLY is not defined %}
			{% set params = params|merge({'IS_READONLY': false}) %}
		{% endif %}
		{% if params.ICON_LEFT is not defined %}
			{% set params = params|merge({'ICON_LEFT': ''}) %}
		{% endif %}
		{% if params.ICON_RIGHT is not defined %}
			{% set params = params|merge({'ICON_RIGHT': ''}) %}
		{% endif %}
		{% if params.STATE is not defined %}
			{% set params = params|merge({'STATE': ''}) %}
		{% endif %}
		{% if params.SIZE is not defined %}
			{% set params = params|merge({'SIZE': 'l'}) %}
		{% endif %}
		{% if params.TYPE is not defined %}
			{% set params = params|merge({'TYPE': 'text'}) %}
		{% endif %}
		{% if params.VARIANT is not defined %}
			{% set params = params|merge({'VARIANT': 1}) %}
		{% endif %}
		{% if params.MAXLENGTH is not defined %}
			{% set params = params|merge({'MAXLENGTH': 0}) %}
		{% endif %}
		{% if params.NAME is not defined %}
			{% set params = params|merge({'NAME': ''}) %}
		{% endif %}
		{% if params.VALUE is not defined %}
			{% set params = params|merge({'VALUE': ''}) %}
		{% endif %}
		{% if params.PLACEHOLDER is not defined %}
			{% set params = params|merge({'PLACEHOLDER': ''}) %}
		{% endif %}
		{% if params.GENERATE_OPTION_FROM_PLACEHOLDER is not defined %}
			{% set params = params|merge({'GENERATE_OPTION_FROM_PLACEHOLDER': true}) %}
		{% endif %}
		{% if params.options is not defined %}
			{% set params = params|merge({'options': [] }) %}
		{% endif %}
		{% if params.LABEL is not defined %}
			{% set params = params|merge({'LABEL': '' }) %}
		{% endif %}
		{% if params.GROUP_WRAPPER is not defined %}
			{% set params = params|merge({'GROUP_WRAPPER': 'label' }) %}
		{% endif %}
		{% if params.MSG is not defined %}
			{% set params = params|merge({'MSG': '' }) %}
		{% endif %}
		{% if params.IS_MSG_FLOATING is not defined %}
			{% set params = params|merge({'IS_MSG_FLOATING': false }) %}
		{% endif %}
		{% if params.inputClasses is not defined %}
			{% set params = params|merge({'inputClasses': []}) %}
		{% endif %}
		{% if params.id is not defined %}
			{% set params = params|merge({'id': ''}) %}
		{% endif %}
		{% if params.AUTOCOMPLETE is not defined %}
			{% set params = params|merge({'AUTOCOMPLETE': ''}) %}
		{% endif %}
		{% if params.AUTOFOCUS is not defined %}
			{% set params = params|merge({'AUTOFOCUS': false}) %}
		{% endif %}
		{% if params.HAS_LOADER is not defined %}
			{% set params = params|merge({'HAS_LOADER': false}) %}
		{% endif %}
		{% if params.MIN is not defined %}
			{% set params = params|merge({'MIN': 0}) %}
		{% endif %}
		{% if params.MAX is not defined %}
			{% set params = params|merge({'MAX': ''}) %}
		{% endif %}
		{% if params.STEP is not defined %}
			{% set params = params|merge({'STEP': ''}) %}
		{% endif %}
		{% if params.IS_AUTOSIZED is not defined %}
			{% set params = params|merge({'IS_AUTOSIZED': false}) %}
		{% endif %}
		{% if params.IS_HOVERED is not defined %}
			{% set params = params|merge({'IS_HOVERED': false}) %}
		{% endif %}
		{% if params.HAS_FOCUS is not defined %}
			{% set params = params|merge({'HAS_FOCUS': false}) %}
		{% endif %}
		{% if params.PLACEHOLDER_NOWRAP is not defined %}
			{% set params = params|merge({'PLACEHOLDER_NOWRAP': false}) %}
		{% endif %}
		{% if params.CONTROL_MANUAL_INIT is not defined %}
			{% set params = params|merge({'CONTROL_MANUAL_INIT': false}) %}
		{% endif %}
		{% if params.data is not defined %}
			{% set params = params|merge({'data': []}) %}
		{% endif %}
		{% if params.groupData is not defined %}
			{% set params = params|merge({'groupData': []}) %}
		{% endif %}

		{% set dataAttributes = [] %}
		{% if params.data is defined %}
			{% for k,v in params.data %}
				{% set dataAttributes = dataAttributes|merge(['data-' ~ k ~ '="' ~ (params.RENDER_UNESCAPED ? v|raw : v|e) ~ '"']) %}
			{% endfor %}
		{% endif %}

		{% set groupDataAttributes = [] %}
		{% if params.groupData is defined %}
			{% for k,v in params.groupData %}
				{% set groupDataAttributes = groupDataAttributes|merge(['data-' ~ k ~ '="' ~ (params.RENDER_UNESCAPED ? v|raw : v|e) ~ '"']) %}
			{% endfor %}
		{% endif %}

	
		{##
		 # Set .form-group classes
		 # ------------------------------------------------- #}
		{% if params.groupClasses is not defined %}
			{% set groupClasses = [] %}
		{% else %}
			{% set groupClasses = params.groupClasses %}
		{% endif %}
		
		{% if params.IS_INLINE == true %}
			{% set groupClasses = groupClasses|merge(['form-group--inline']) %}
		{% endif %}
		{% if params.IS_REQUIRED == true %}
			{% set groupClasses = groupClasses|merge(['has-required']) %}
		{% endif %}
		{% if params.IS_CHECKED == true %}
			{% set groupClasses = groupClasses|merge(['has-checked']) %}
		{% endif %}
		{% if params.IS_DISABLED == true %}
			{% set groupClasses = groupClasses|merge(['has-disabled']) %}
		{% endif %}
		{% if params.IS_READONLY == true %}
			{% set groupClasses = groupClasses|merge(['has-readonly']) %}
		{% endif %}
		{% if params.ICON_LEFT != '' %}
			{% set groupClasses = groupClasses|merge(['form-group--has-icon-left']) %}
		{% endif %}
		{% if params.ICON_RIGHT != '' %}
			{% set groupClasses = groupClasses|merge(['form-group--has-icon-right']) %}
		{% endif %}
		{% if params.IS_MSG_FLOATING == true %}
			{% set groupClasses = groupClasses|merge(['form-group--is-msg-floating']) %}
		{% endif %}
		{% if params.HAS_LOADER == true %}
			{% set groupClasses = groupClasses|merge(['is-loaded']) %}
		{% endif %}
		
		{% if params.STATE == 'danger' %}
			{% set groupClasses = groupClasses|merge(['has-danger']) %}
		{% elseif params.STATE == 'info' %}
			{% set groupClasses = groupClasses|merge(['has-info']) %}
		{% elseif params.STATE == 'success' %}
			{% set groupClasses = groupClasses|merge(['has-success']) %}
		{% elseif params.STATE == 'success-faded' %}
			{% set groupClasses = groupClasses|merge(['has-success-faded']) %}
		{% elseif params.STATE == 'warning' %}
			{% set groupClasses = groupClasses|merge(['has-warning']) %}
		{% endif %}

		{% if (params.SIZE == 'l') %}
			{% set groupClasses = groupClasses|merge(['form-group--l']) %}		
		{% elseif (params.SIZE == 'm') %}
			{% set groupClasses = groupClasses|merge(['form-group--m']) %}
		{% elseif (params.SIZE == 's') %}
			{% set groupClasses = groupClasses|merge(['form-group--s']) %}
		{% endif %}
	
	
		{##
		 # Set .form-group__control classes: input type & input variant
		 # ------------------------------------------------- #}
		{% set controlClasses = [] %}
		{% set jsControlClasses = ['js-form-control'] %}

		{% if params.IS_AUTOSIZED %}
			{% set jsControlClasses = jsControlClasses|merge(['js-form-control-is-autosized']) %}		
			{% set jsControlClasses = jsControlClasses|merge(['is-autosized']) %}		
		{% endif %}

		{% if params.CONTROL_MANUAL_INIT %}
			{% set jsControlClasses = jsControlClasses|merge(['js-form-control-manual-init']) %}
		{% endif %}

		{% if params.TYPE == 'select' or params.TYPE == 'radio' or params.TYPE == 'checkbox' or params.TYPE == 'textarea' %}
			{% set controlClasses = controlClasses|merge(['form-group__'~ (params.RENDER_UNESCAPED ? params.TYPE|raw : params.TYPE|e)]) %}
			{% set jsControlClasses = jsControlClasses|merge(['js-form-control-'~ (params.RENDER_UNESCAPED ? params.TYPE|raw : params.TYPE|e)]) %}

			{% if params.VARIANT != '' %}
				{% set controlClasses = controlClasses|merge(['form-group__'~ (params.RENDER_UNESCAPED ? params.TYPE|raw : params.TYPE|e) ~'--variant-'~ (params.RENDER_UNESCAPED ? params.VARIANT|raw : params.VARIANT|e)]) %}
			{% endif %}
		{% else %}
			{% set controlClasses = controlClasses|merge(['form-group__text-input']) %}
			{% set jsControlClasses = jsControlClasses|merge(['js-form-control-text-input']) %}

			{% if params.VARIANT != '' %}
				{% set controlClasses = controlClasses|merge(['form-group__text-input--variant-'~ (params.RENDER_UNESCAPED ? params.VARIANT|raw : params.VARIANT|e)]) %}
			{% endif %}
		{% endif %}
	
	
		{##
		 # Set input data
		 # ------------------------------------------------- #}
		{% set inputData = {
			'RENDER_UNESCAPED':                 params.RENDER_UNESCAPED,
			'TYPE':                             params.TYPE,
			'NAME':                             params.NAME,
			'VALUE':                            params.VALUE,
			'PLACEHOLDER':                      params.PLACEHOLDER,
			'MAXLENGTH':                        params.MAXLENGTH,
			'GENERATE_OPTION_FROM_PLACEHOLDER': params.GENERATE_OPTION_FROM_PLACEHOLDER,
			'IS_DISABLED':                      params.IS_DISABLED,
			'IS_READONLY':                      params.IS_READONLY,
			'IS_CHECKED':                       params.IS_CHECKED,
			'options':                          params.options,
			'inputClasses':                     params.inputClasses,
			'id':                               params.id,
			'AUTOCOMPLETE':                     params.AUTOCOMPLETE,
			'AUTOFOCUS':                        params.AUTOFOCUS,
			'MIN':                              params.MIN,
			'MAX':                              params.MAX,
			'STEP':                             params.STEP,
			'IS_HOVERED':                       params.IS_HOVERED,
			'HAS_FOCUS':                        params.HAS_FOCUS,
			'PLACEHOLDER_NOWRAP':               params.PLACEHOLDER_NOWRAP,
			'data':                             dataAttributes
		} %}
		{% if params.TABINDEX is defined %}
			{% set inputData = inputData|merge({'TABINDEX': params.TABINDEX}) %}
		{% endif %}
	
	
		{##
		 # Decide on group wrapper and label wrapper
		 # ------------------------------------------------- #}
		
		{% if params.GROUP_WRAPPER == 'div' %}
			{% set WRAPPER_TAG = 'div' %}
			{% set LABEL_TYPE = 'label' %}
		{% else %}
			{% set WRAPPER_TAG = 'label' %}
			{% set LABEL_TYPE = 'span' %}
		{% endif %}


	{% endspaceless %}

	<{{ WRAPPER_TAG }} class="[ form-group {{ params.RENDER_UNESCAPED ? groupClasses|join(' ')|raw : groupClasses|join(' ')|e }} ] js-form-group" {{ groupDataAttributes|join(' ')|raw }}>
		{{ params.LABEL != '' ? forms.label(params.RENDER_UNESCAPED, params.LABEL, LABEL_TYPE, params.NAME) }}
		<div class="[ form-group__control {{ params.RENDER_UNESCAPED ? controlClasses|join(' ')|raw : controlClasses|join(' ')|e }} ]  [ {{ params.RENDER_UNESCAPED ? jsControlClasses|join(' ')|raw : jsControlClasses|join(' ')|e }} ]">
			{% spaceless %}
				<div class="form-group__control__control-wrapper">
				{% if params.HAS_LOADER %}
					<div class="form-control-loader has-loader">
						{{ loader.create({
							'COLOR': 'primary',
							'SIZE': 16,
							'CONTAINER': 'div'
						}) }}
					</div>
				{% endif %}

					{{ params.ICON_LEFT != '' ? forms.icon(params.RENDER_UNESCAPED, params.ICON_LEFT, 'left') }}
					
					{% if params.TYPE == 'select' %}
						{{ forms.select(inputData) }}
					{% elseif params.TYPE == 'radio' %}
						{{ forms.radio(inputData) }}
					{% elseif (params.TYPE == 'checkbox') %}
						{{ forms.checkbox(inputData) }}
					{% elseif params.TYPE == 'textarea' %}
						{{ forms.textarea(inputData) }}
					{% else %}
						{{ forms.input(inputData) }}
					{% endif %}

					{% if params.TYPE != 'select' %}
						{# Do not render right icon for select #}
						{{ params.ICON_RIGHT != '' ? forms.icon(params.RENDER_UNESCAPED, params.ICON_RIGHT, 'right') }}
					{% endif %}

				</div>

				{{ (params.MSG != '' and params.STATE != '') ? forms.msg(params.RENDER_UNESCAPED, params.MSG) }}
			{% endspaceless %}

		</div>
	</{{ WRAPPER_TAG }}>
{% endmacro %}
