{% macro listingHeader(params) %}
  {% import '_macros/__pagination.twig' as pagination %}
  <div class="listing-table-header {{ params.IS_INLINE ? 'listing-table-header--inline' }}">
  {% if params.tabs %}
    <div class="listing-table-header__title-tabs-container">
  {% endif %}
      <div class="listing-table-header__title">{{ params.TITLE|raw }}</div>
  {% if params.tabs %}
      <div class="listing-table-header__tabs">
      {% for tab in params.tabs %}
        <a class="listing-table-header__tab  {{ tab.IS_ACTIVE ? 'is-active' }}" href="{{ tab.HREF }}">{{ tab.LABEL|raw }}</a>
      {% endfor %}
      </div>
    </div>
  {% endif %}
    <div class="listing-table-header__addons">
      {% for button in params.buttons %}
        <a class="listing-table-header__addon  [ btn btn--l ]  [ text--bold text--uppercase ]  {{ button.buttonClasses|join(' ')|raw }}" href="{{ button.HREF }}">{% if button.iconClasses %}<span class="icon {{ button.iconClasses|join(' ')|raw }}"></span>{% endif %}<span>{{ button.LABEL }}</span></a>
      {% endfor %}

      {% if params.pagination is defined %}
        <div class="hidden-xs">
          {{ pagination.create(params.pagination) }}
        </div>
      {% endif %}
    </div>
  </div>
{% endmacro %}


{% macro listingFooter(params) %}
  {% import '_macros/__forms.twig' as forms %}
  {% import '_macros/__pagination.twig' as pagination %}
  <div class="
    listing-table-footer
    {{ params.IS_INLINE ? 'listing-table-footer--inline' }}
    {{ params.bulkActions is defined ? 'listing-table-footer--has-bulk-actions' }}
    {{ params.pagination is defined ? 'listing-table-footer--has-pagination' }}
    margin-bottom--30
  ">
    {% if params.bulkActions %}
      <div class="listing-table-footer__bulk-actions">
        {{ forms.group({
          'TYPE': 'checkbox',
          'SIZE': 'm',
          'IS_INLINE': true,
          'groupClasses': [
            'hidden-xs'
          ],
          'inputClasses': [
            'js-check-all-bulk-checkbox'
          ],
          'data': {
            'ca-id': params.TABLE_ID
          }
        }) }}
        {{ forms.group({
          'TYPE': 'select',
          'SIZE': 'm',
          'PLACEHOLDER': 'Bulk Actions',
          'options': params.bulkActions
        }) }}
        <button class="[ btn btn--m btn--slate-light ]  [ text--bold text--uppercase ]"><span class="icon icon--white icon--tick"></span><span>Perform</span></button>
      </div>
    {% endif %}
    {% if params.pagination is defined %}  
      <div class="listing-table-footer__pagination">
        {{ pagination.create(params.pagination) }}
      </div>
    {% endif %}
  </div>
{% endmacro %}


{% macro table(params) %}
  {% import _self as listingTable %}
  {% import '_macros/__forms.twig' as forms %}
  <div class="table-responsive">
    <table class="[ table table-striped table-hover ]  listing-table  {{ params.structure[0].TYPE == 'checkbox' ? 'js-check-all' }}" {{ params.structure[0].TYPE == 'checkbox' ? 'data-ca-id="listingTable"' }}>
      <thead>
        <tr>
          {% for column in params.structure %}
            <th class="{{ column.TYPE ? 'listing-table__cell--' ~ column.TYPE }} {{ column.HAS_SORTING ? 'listing-table__cell--has-sorting' }}  {{ column.thClasses|join(' ')|raw }}">
              {% if column.TYPE == 'checkbox' %}
                {{ forms.group({
                  'TYPE': 'checkbox',
                  'SIZE': 'l',
                  'IS_INLINE': true,
                  'inputClasses': [
                    'js-check-all-bulk-checkbox'
                  ],
                  'data': {
                    'ca-id': params.TABLE_ID
                  }
                }) }}
              {% else %}
                {{ column.HEADER_CONTENT|raw }}

                {% if column.HAS_SORTING %}
                  <span class="listing-table__sorting">
                    <span class="listing-table__sorting-controls">
                      <span class="listing-table__sorting-control  [ icon icon--10 ]  {# is-active #}"></span>
                      <span class="listing-table__sorting-control  [ icon icon--10 icon--cw-180 ]"></span>
                    </span>
                  </span>
                {% endif %}
              {% endif %}
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in params.data %}
          {% set dataAttributes = [] %}
          {% if row.data is defined %}
            {% for k,v in row.data %}
              {% set dataAttributes = dataAttributes|merge(['data-' ~ k ~ '="' ~ v|replace({'${rowId}': row.rowId})|e ~ '"']) %}
            {% endfor %}
          {% endif %}
          <tr class="{{ row.classes|join(' ')|raw }}" {{ dataAttributes|join(' ')|raw }}>
            {% if params.structure[0].TYPE == 'checkbox' %}
              {{ listingTable.cell({
                'TABLE_ID': params.TABLE_ID,
                'lookedUpStructureItem': params.structure[0],
                'rowId': row.rowId
              }) }}
            {% endif %}

            {% for column in row.columns %}
              {% if params.structure[0].TYPE == 'checkbox' %}
                {# Column's index0 is de facto 2nd column's content #}
                {% set lookedUpStructureItem = params.structure[loop.index] %}
              {% else %}
                {# Column's index0 is de facto 1st column's content #}
                {% set lookedUpStructureItem = params.structure[loop.index0] %}
              {% endif %}

              {{ listingTable.cell({
                'TABLE_ID': params.TABLE_ID,
                'lookedUpStructureItem': lookedUpStructureItem,
                'rowId': row.rowId,
                'column': column
              }) }}
            {% endfor %}

            {% if (params.structure|last).TYPE == 'icon-actions' %}
              {{ listingTable.cell({
                'TABLE_ID': params.TABLE_ID,
                'lookedUpStructureItem': params.structure|last,
                'rowId': row.rowId
              }) }}
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endmacro %}


{% macro cell(params) %}
  {% import '_macros/__forms.twig' as forms %}
  {% import '_macros/__status-label.twig' as statusLabel %}
  <td class="
    {{ params.lookedUpStructureItem.TYPE ? 'listing-table__cell--' ~ params.lookedUpStructureItem.TYPE }}
    {{ params.lookedUpStructureItem.TYPE == 'icon-actions' ? 'listing-table__cell--icon-actions-' ~ params.lookedUpStructureItem.actions|length }}
    {{ params.lookedUpStructureItem.tdClasses|join(' ')|raw }}
  ">
    {% if params.lookedUpStructureItem.TYPE == 'checkbox' %}
      {{ forms.group({
        'TYPE': 'checkbox',
        'SIZE': 'l',
        'IS_INLINE': true,
        'inputClasses': [
          'js-check-all-single-checkbox'
        ],
        'data': {
          'ca-id': params.TABLE_ID
        },
        'NAME': 'massEdit[]',
        'VALUE': params.rowId
      }) }}
    {% elseif params.lookedUpStructureItem.TYPE == 'icon-actions' %}
      {% for action in params.lookedUpStructureItem.actions %}
        {% set dataAttributes = [] %}
        {% if action.data is defined %}
          {% for k,v in action.data %}
            {% set dataAttributes = dataAttributes|merge(['data-' ~ k ~ '="' ~ v|replace({'${rowId}': params.rowId})|e ~ '"']) %}
          {% endfor %}
        {% endif %}
        {% set action = action|merge({'HREF': action.HREF|replace({'${rowId}': params.rowId}) }) %}
        <a
          class="
            [ btn btn--s {{ action.IS_EMPHASIZED ? 'btn--primary' : 'btn--slate-light' }} btn--circle ]
            [ {{ action.LABEL ? 'js-tp' }} ]
            [ {{ action.CONFIRM_MSG ? 'js-confirm' }} ]
            [ {{ action.classes|join(' ')|raw }} ]
          "
          data-tp-addClass="tp-white"
          data-tp-animation="move"
          data-tp-maxWidth="300"
          data-tp-content="{{ action.LABEL }}"
          data-confirm-msg="{{ action.CONFIRM_MSG }}"
          href="{{ action.HREF }}"
          {{ action.TARGET ? 'target="' ~ action.TARGET ~ '"' }}
          {{ dataAttributes|join(' ')|raw }}
        ><span class="icon {{ action.iconClasses|join(' ')|raw }}"></span></a>
      {% endfor %}
    {% elseif params.lookedUpStructureItem.TYPE == 'email' %}
      {% set email = params.column|split('@') %}
      <span class="text--nowrap">{{ email|first|raw }}@</span>{{ email|last|raw }}
    {% elseif params.lookedUpStructureItem.TYPE == 'datetime' and params.column %}
      <span class="text--nowrap">{{ params.column|date('F j, Y') }}</span><br><span class="text--nowrap">{{ params.column|date('h:i A') }}</span>
    {% elseif params.lookedUpStructureItem.TYPE == 'date' and params.column %}
        <span class="text--nowrap">{{ params.column|date('F j, Y') }}</span>
    {% elseif params.lookedUpStructureItem.TYPE == 'datetime-precise' %}
      <span class="text--nowrap">{{ params.column|date('F j, Y') }}</span><br><span class="text--nowrap">{{ params.column|date('h:i:s A') }}</span>
    {% elseif
      params.lookedUpStructureItem.TYPE == 'logo'
      or params.lookedUpStructureItem.TYPE == 'thumbnail'
    %}
      <img class="listing-table__{{ params.lookedUpStructureItem.TYPE }}-image" src="{{ params.column|raw }}" alt="">
    {% elseif params.lookedUpStructureItem.TYPE == 'status-brand' %}
      {{ statusLabel.brand({
        'STATUS_CODE': params.column
      }) }}
    {% elseif params.lookedUpStructureItem.TYPE == 'status-product' %}
      {{ statusLabel.product({
        'STATUS_CODE': params.column
      }) }}
    {% elseif params.lookedUpStructureItem.TYPE == 'status-order' %}
      {{ statusLabel.order({
        'STATUS_CODE': params.column
      }) }}
    {% elseif params.lookedUpStructureItem.TYPE == 'status-payment' %}
      {{ statusLabel.payment({
        'STATUS_CODE': params.column
      }) }}
    {% elseif params.lookedUpStructureItem.TYPE == 'status-message' %}
      {{ statusLabel.message() }}
    {% elseif
      params.lookedUpStructureItem.TYPE == 'numberinput-short'
      or params.lookedUpStructureItem.TYPE == 'numberinput-medium'
      or params.lookedUpStructureItem.TYPE == 'numberinput-medium-disabled'
    %}
      {% if params.column.inputClasses is defined %}
        {% set inputClasses = params.column.inputClasses %}
      {% else %}
        {% set inputClasses = [] %}
      {% endif %}
      {{ forms.group({
        'TYPE': 'number',
        'SIZE': 'm',
        'IS_MSG_FLOATING': true,
        'IS_INLINE': true,
        'IS_DISABLED': params.lookedUpStructureItem.TYPE == 'numberinput-medium-disabled',
        'NAME': params.column.NAME,
        'VALUE': params.column.VALUE,
        'HAS_LOADER': true,
        'groupClasses': [
          'js-easy-edit'
        ],
        'groupData': {
          'easy-edit-id': params.column.NAME ~ '-' ~ params.rowId,
          'easy-edit-url': params.column.EASY_EDIT_URL
        },
        'inputClasses': inputClasses|merge(['js-easy-edit__form-control']),
        'data': {
          'bind-id': params.column.NAME
        }
      }) }}
    {% elseif params.lookedUpStructureItem.TYPE == 'textinput-long' %}
      {% if params.column.inputClasses is defined %}
        {% set inputClasses = params.column.inputClasses %}
      {% else %}
        {% set inputClasses = [] %}
      {% endif %}
      {{ forms.group({
        'TYPE': 'text',
        'SIZE': 'm',
        'IS_MSG_FLOATING': true,
        'IS_INLINE': true,
        'NAME': params.column.NAME,
        'VALUE': params.column.VALUE,
        'HAS_LOADER': true,
        'groupClasses': [
          'js-easy-edit'
        ],
        'groupData': {
          'easy-edit-id': params.column.NAME ~ '-' ~ params.rowId,
          'easy-edit-url': params.column.EASY_EDIT_URL
        },
        'inputClasses': inputClasses|merge(['js-easy-edit__form-control']),
        'data': {
          'bind-id': params.column.NAME
        }
      }) }}
    {% elseif params.lookedUpStructureItem.TYPE == 'button' %}
      {% if params.column.VARIANT is defined %}
        {% set VARIANT = params.column.VARIANT %}
      {% else %}
        {% set VARIANT = 'btn--primary' %}
      {% endif %}
      {% set dataAttributes = [] %}
      {% if params.column.data is defined %}
        {% for k,v in params.column.data %}
          {% set dataAttributes = dataAttributes|merge(['data-' ~ k ~ '="' ~ v|replace({'${rowId}': params.rowId})|e ~ '"']) %}
        {% endfor %}
      {% endif %}
      <button class="[ btn btn--m btn--small-padding {{ VARIANT }} ]  [ text--uppercase text--bold ]  [ {{ params.column.classes|join(' ')|e }} ]" {{ dataAttributes|join(' ')|raw }}>{{ params.column.LABEL|raw }}</button>
    {% elseif params.lookedUpStructureItem.TYPE == 'select' %}
      {{ forms.group({
        'TYPE': 'select',
        'SIZE': 'm',
        'IS_MSG_FLOATING': true,
        'PLACEHOLDER': 'Select',
        'NAME': params.column.NAME,
        'options': params.column.options,
        'inputClasses': params.column.inputClasses
      }) }}
    {% elseif params.lookedUpStructureItem.TYPE == 'combinedinput-number' %}
      <div class="listing-table__cell--combinedinput-number__group-container">
        <div class="form-combined-group">
          {{ forms.group({
            'TYPE': 'number',
            'SIZE': 'm',
            'IS_MSG_FLOATING': true,
            'groupClasses': [
              'listing-table__cell--combinedinput-number__value'
            ],
            'NAME': params.column.value.NAME,
            'VALUE': params.column.value.VALUE,
            'inputClasses': params.column.value.inputClasses
          }) }}
          {{ forms.group({
            'TYPE': 'select',
            'SIZE': 'm',
            'IS_MSG_FLOATING': true,
            'groupClasses': [
              'listing-table__cell--combinedinput-number__unit'
            ],
            'NAME': params.column.unit.NAME,
            'options': params.column.unit.options,
            'inputClasses': params.column.unit.inputClasses
          }) }}
        </div>
      </div>
    {% elseif params.lookedUpStructureItem.TYPE == 'dateinput' %}
      {{ forms.group({
        'TYPE': 'text',
        'SIZE': 'm',
        'IS_MSG_FLOATING': true,
        'ICON_RIGHT': 'icon--calendar icon--slate-light',
        'inputClasses': [
          'js-datepicker'
        ],
        'data': {
          'datepicker-id': 'specialsEditXXX'
        },
        'NAME': params.column.NAME,
        'VALUE': params.column.VALUE,
        'inputClasses': params.column.inputClasses
      }) }}
    {% else %}
      {{ params.column }}
    {% endif %}
  </td>
{% endmacro %}
