{% macro start(params) %}
  {% import '_macros/__forms.twig' as forms %}

  {{ forms.start({
    'ACTION': params.FORM_ACTION,
    'METHOD': 'post',
    'AUTOCOMPLETE': 'off'
  }) }}

  <div class="listing-filters  js-filters-toggle">
    <div class="listing-filters__header">
      <h3 class="listing-filters__title">Filter by</h3>
      <button class="listing-filters__toggle  [ btn btn--icon btn--transparent btn--m ]  js-vtg-toggle"><span class="icon icon--slate icon--wedge icon--cw-180"></span></button>
    </div>
    <div class="listing-filters__filters  row  margin-top--10  js-vtg-content">
{% endmacro %}

{% macro end(params) %}
  {% import '_macros/__forms.twig' as forms %}

  {% if not params.ONE_LINE_WITH_FILTERS %}
    </div>
  {% endif %}
    <div class="listing-filters__actions  {{ params.ONE_LINE_WITH_FILTERS ? 'listing-filters__actions--one-line-with-filters' }}  js-vtg-content  {{ params.containerClasses|join(' ')|raw }}">
      {% if params.actions.FILTER_BUTTON %}<button type="submit" name="filtersRequestType" value="filter" class="[ btn btn--m btn--primary ]  [ text--uppercase text--bold ]"><span class="icon icon--white icon--o-filter"></span><span>Filter</span></button>{% endif %}
      {% if params.actions.RESET_HREF %}<a href="{{ params.actions.RESET_HREF|raw }}" class="[ btn btn--m btn--slate-light ]  [ text--uppercase text--bold ]"><span class="icon icon--white icon--o-plus icon--cw-45"></span><span>Reset</span></a>{% endif %}
      {% if params.actions.EXPORT_BUTTON %}<button style="display:none;" type="submit" name="filtersRequestType" value="export" class="[ btn btn--m btn--secondary ]  [ text--uppercase text--bold ]"><span class="icon icon--white icon--o-logout icon--cw-270"></span><span>Export</span></button>{% endif %}
        {% if params.actions.IMPORT_BUTTON %}<a href="https://www.ebeautytrade.com/back_office/supplier_import" name="filtersRequestType" value="import" class="[ btn btn--m btn--secondary ]  [ text--uppercase text--bold ]"><span class="icon icon--white icon--o-logout icon--cw-270"></span><span>Import</span></a>{% endif %}
    </div>
  {% if params.ONE_LINE_WITH_FILTERS %}
    </div>
  {% endif %}
  </div>

  {{ forms.end({}) }}
{% endmacro %}
