{% macro create(params) %}{% spaceless %}
	{% if params.COLOR is not defined %}
		{% set params = params|merge({'COLOR': 'primary'}) %}
	{% endif %}
	{% if params.SIZE is not defined %}
		{% set params = params|merge({'SIZE': 'size-default'}) %}
	{% endif %}
	{% if params.CONTAINER is not defined %}
		{% set params = params|merge({'CONTAINER': 'span'}) %}
	{% endif %}
	{% if params.IS_LOADED is not defined %}
		{% set params = params|merge({'IS_LOADED': false}) %}
	{% endif %}

	<{{ params.CONTAINER }} class="loader loader--{{ params.COLOR }} loader--{{ params.SIZE }} {{ params.IS_LOADED ? 'is-loaded' }}"><{{ params.CONTAINER }} class="loader__spinner"></{{ params.CONTAINER }}></{{ params.CONTAINER }}>
{% endspaceless %}{% endmacro %}
