{% macro create(TYPE, parentContext) %}
  <nav class="menu menu--{{ TYPE }}">
    {# The following code was removed from the below anchor tag and replaced with live link
    {{ parentContext.links.dashboard.URL }}
    #}
    <a class="menu__item {{ parentContext.BIACONFIG.context.id == parentContext.BIACONFIG.context.contexts.DASHBOARD ? 'is-active' }}" href="https://www.ebeautytrade.com/back_office/dashboard">Dashboard</a>
    <a class="menu__item {{ parentContext.BIACONFIG.context.id == parentContext.BIACONFIG.context.contexts.PROFILE_MANAGE ? 'is-active' }}" href="{{ parentContext.links.profileManage.URL }}">Profile</a>

    <p class="menu__header">Brands</p>
    <a class="menu__subitem {{ parentContext.BIACONFIG.context.id == parentContext.BIACONFIG.context.contexts.BRANDS_LISTING ? 'is-active' }}" href="{{ parentContext.links.brandsListing.URL }}"><span class="icon icon--10 icon--cw-90"></span>List all</a>
    <a class="menu__subitem {{ parentContext.BIACONFIG.context.id == parentContext.BIACONFIG.context.contexts.BRAND_ADD ? 'is-active' }}" href="{{ parentContext.links.brandAdd.URL }}"><span class="icon icon--10 icon--cw-90"></span>Add new</a>
    
    <p class="menu__header">Products</p>
    <a class="menu__subitem {{ parentContext.BIACONFIG.context.id == parentContext.BIACONFIG.context.contexts.PRODUCTS_LISTING_LIVE_ON_SITE ? 'is-active' }}" href="{{ parentContext.links.productsListingLiveOnSite.URL }}"><span class="icon icon--10 icon--cw-90"></span>Live on site</a>
    <a class="menu__subitem {{ parentContext.BIACONFIG.context.id == parentContext.BIACONFIG.context.contexts.PRODUCTS_LISTING_UNPUBLISHED ? 'is-active' }}" href="{{ parentContext.links.productsListingUnpublished.URL }}"><span class="icon icon--10 icon--cw-90"></span>Unpublished</a>
    <a class="menu__subitem {{ parentContext.BIACONFIG.context.id == parentContext.BIACONFIG.context.contexts.PRODUCTS_LISTING_SPECIALS ? 'is-active' }}" href="{{ parentContext.links.productsListingSpecials.URL }}"><span class="icon icon--10 icon--cw-90"></span>Specials</a>
    <a class="menu__subitem {{ parentContext.BIACONFIG.context.id == parentContext.BIACONFIG.context.contexts.PRODUCT_ADD ? 'is-active' }}" href="{{ parentContext.links.productAdd.URL }}"><span class="icon icon--10 icon--cw-90"></span>Add new</a>
    
    <p class="menu__header">Orders</p>
    <a class="menu__subitem {{ parentContext.BIACONFIG.context.id == parentContext.BIACONFIG.context.contexts.BUYERS_LISTING ? 'is-active' }}" href="{{ parentContext.links.buyersListing.URL }}"><span class="icon icon--10 icon--cw-90"></span>Buyers list</a>
    <a class="menu__subitem {{ parentContext.BIACONFIG.context.id == parentContext.BIACONFIG.context.contexts.ORDERS_LISTING ? 'is-active' }}" href="{{ parentContext.links.ordersListing.URL }}"><span class="icon icon--10 icon--cw-90"></span>Orders list</a>
    
    {# 
    <div style="">
        <p class="menu__header">Users</p>
        <a class="menu__subitem {{ parentContext.BIACONFIG.context.id == parentContext.BIACONFIG.context.contexts.SUPPLIER_LISTING ? 'is-active' }}" href="{{ parentContext.links.supplierListing.URL }}"><span class="icon icon--10 icon--cw-90"></span>List All</a>
        <a class="menu__subitem {{ parentContext.BIACONFIG.context.id == parentContext.BIACONFIG.context.contexts.SUPPLIER_ADD ? 'is-active' }}" href="{{ parentContext.links.supplierAdd.URL }}"><span class="icon icon--10 icon--cw-90"></span>Add new</a>
    </div>
    
    <p class="menu__header">Brand training</p>
    <a class="menu__subitem" href="#"><span class="icon icon--10 icon--cw-90"></span>List all</a>
    <a class="menu__subitem" href="#"><span class="icon icon--10 icon--cw-90"></span>Add new</a> #}

    {# <p class="menu__header menu__header--intense">Upgrades</p>
    <a class="menu__subitem" href="#"><span class="icon icon--10 icon--cw-90"></span>Add live chat</a>
    <a class="menu__subitem" href="#"><span class="icon icon--10 icon--cw-90"></span>Add users</a>
    <a class="menu__subitem" href="#"><span class="icon icon--10 icon--cw-90"></span>Add priority search</a>
    <a class="menu__subitem" href="#"><span class="icon icon--10 icon--cw-90"></span>Add online payment</a> #}
  </nav>
{% endmacro %}