{% macro create(params) %}
  {% import '_macros/__forms.twig' as forms %}
  <div class="pagination">
    <div class="pagination__fx">
      <div class="pagination__results-per-page">
        <span class="pagination__results-label">Results per page</span>
        {{ forms.group({
          'TYPE': 'select',
          'SIZE': 'm',
          'IS_INLINE': true,
          'options': params.options,
          'groupClasses': [
            'pagination__results-select'
          ],
          'IS_DISABLED': false
        }) }}
      </div>
      <div class="pagination__navigation">
        <span class="pagination__nav-info">{{ params.RESULTS_START|raw }} - {{ params.RESULTS_END|raw }} of {{ params.RESULTS_TOTAL|raw }}</span>
        <div class="pagination__nav-buttons">
          <a class="btn btn--m btn--slate-light btn--icon {{ params.PREV_HREF ? '' : 'is-disabled' }}" href="{{ params.PREV_HREF }}"><span class="icon icon--white icon--wedge icon--cw-270"></span></a>
          <a class="btn btn--m btn--slate-light btn--icon {{ params.NEXT_HREF ? '' : 'is-disabled' }}" href="{{ params.NEXT_HREF }}"><span class="icon icon--white icon--wedge icon--cw-90"></span></a>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
