{% macro create(params) %}
  {% import '_macros/__forms.twig' as forms %}
  {% import '_macros/__uploader.twig' as uploader %}
  <div class="product-tabs__tab  js-list__item" data-list-item-id="{{ params.TYPE == 'template' ? '<%= id %>' : params.id }}">
    <div class="js-calc-length" data-cl-id="tabTitle{{ params.TYPE == 'template' ? '<%= id %>' : params.id }}" data-cl-limit="100" data-cl-limit-decorator="text--secondary text--bolder">
      <div class="horizontal-form-group">
        <label class="horizontal-form-group__label">Tab Title:</label>
        {{ forms.group({
          'TYPE': 'text',
          'SIZE': 'm',
          'GROUP_WRAPPER': 'div',
          'inputClasses': [
            'js-calc-length__source'
          ],
          'MAXLENGTH': 100,
          'NAME': params.TYPE == 'template' ? 'tabs[new][][title]' : 'tabs[' ~ params.id ~ '][title]',
          'VALUE': params.TYPE == 'template' ? '<%= tab_title %>' : params.TAB_TITLE,
          'RENDER_UNESCAPED': params.TYPE == 'template'
        }) }}
      </div>
      <div class="[ form-group-info form-group-info--horizontal ]  text--right">
        <span class="js-calc-length__counter">0</span> / 100 characters
      </div>
    </div>

    {{ forms.group({
      'TYPE': 'textarea',
      'SIZE': 'm',
      'LABEL': 'Tab Description:',
      'NAME': params.TYPE == 'template' ? 'tabs[new][][description]' : 'tabs[' ~ params.id ~ '][description]',
      'VALUE': params.TYPE == 'template' ? '<%= tab_description %>' : params.TAB_DESCRIPTION,
      'groupClasses': [
        'js-wysiwyg'
      ],
      'inputClasses': [
        'js-wysiwyg__textarea'
      ],
      data: {
        'ww-id': 'tabDescription' ~ (params.TYPE == 'template' ? '<%= id %>' : params.id)
      },
      'RENDER_UNESCAPED': params.TYPE == 'template'
    }) }}

    <p class="edit-layout__info">Upload up to two files for this tab:</p>

    {% if params.TYPE != 'template' and params.tabFile1.FILE_NAME %}
      <div class="horizontal-form-group horizontal-form-group--static">
        <label class="horizontal-form-group__label">File 1:</label>
        <div class="horizontal-form-group__item"><a href="{{ params.tabFile1.FILE_DOWNLOAD_URL }}" target="_blank">{{ params.tabFile1.FILE_NAME|raw }}</a></div>
      </div>
    {% endif %}

    <div class="horizontal-form-group">
      <div class="horizontal-form-group__label">{{ params.TYPE != 'template' and params.tabFile1 ? 'Replace File 1:<br><small>(max 1MB)</small>' : 'File 1:<br><small>(max 1MB)</small>' }}</div>
      {{ uploader.createCombinedGroupUploader({
        'id': 'tabFile1-' ~ (params.TYPE == 'template' ? '<%= id %>' : params.id),
        'INPUT_NAME': params.TYPE == 'template' ? 'tabFile1[]' : 'tab' ~ params.id ~ 'File1',
        'BUTTON_LABEL': 'Upload file',
        'RENDER_UNESCAPED': params.TYPE == 'template'
      }) }}
    </div>

    {% if params.TYPE != 'template' and params.tabFile2.FILE_NAME %}
      <div class="horizontal-form-group horizontal-form-group--static">
        <label class="horizontal-form-group__label">File 2:</label>
        <div class="horizontal-form-group__item"><a href="{{ params.tabFile2.FILE_DOWNLOAD_URL }}" target="_blank">{{ params.tabFile2.FILE_NAME|raw }}</a></div>
      </div>
    {% endif %}

    <div class="horizontal-form-group">
      <div class="horizontal-form-group__label">{{ params.TYPE != 'template' and params.tabFile2 ? 'Replace File 2:<br><small>(max 1MB)</small>' : 'File 2:<br><small>(max 1MB)</small>' }}</div>
      {{ uploader.createCombinedGroupUploader({
        'id': 'tabFile2-' ~ (params.TYPE == 'template' ? '<%= id %>' : params.id),
        'INPUT_NAME': params.TYPE == 'template' ? 'tabFile2[]' : 'tab' ~ params.id ~ 'File2',
        'BUTTON_LABEL': 'Upload file',
        'RENDER_UNESCAPED': params.TYPE == 'template'
      }) }}
    </div>

    <div class="product-tabs__tab-actions">
      <button class="[ btn btn--s btn--secondary btn--outline btn--outline ]  [ text--bold text--uppercase ]  js-list__remove-item" data-item-remove-confirmation="Are you sure you want to remove this tab?"><span class="icon icon--secondary icon--x icon--10"></span><span>Remove This Tab</span></button>
    </div>
  </div>
{% endmacro %}
