{% macro brand(params) %}
  {% spaceless %}
    {% set statusCodesMap = {
      '0': {
        'COLOR_MODIFIER': 'unpublished',
        'LABEL': 'Unpublished'
      },
      '1': {
        'COLOR_MODIFIER': 'published',
        'LABEL': 'Published'
      },
      '2': {
        'COLOR_MODIFIER': 'under-review',
        'LABEL': 'Under review'
      }
    } %}
    {% set COLOR_MODIFIER = statusCodesMap[params.STATUS_CODE].COLOR_MODIFIER %}
    {% set LABEL = statusCodesMap[params.STATUS_CODE].LABEL %}
  {% endspaceless %}
  <span class="label label--l  bg--status-{{ COLOR_MODIFIER }}  text--uppercase">{{ LABEL }}</span>
{% endmacro %}


{% macro product(params) %}
  {% spaceless %}
    {% set statusCodesMap = {

      '0': {
        'COLOR_MODIFIER': 'published',
        'LABEL': 'Published'
      },
      '1': {
        'COLOR_MODIFIER': 'unpublished',
        'LABEL': 'Unpublished'
      },
      '2': {
        'COLOR_MODIFIER': 'under-review',
        'LABEL': 'Under review'
      },
      '3': {
        'COLOR_MODIFIER': 'under-review',
        'LABEL': 'Draft'
      }
    } %}
    {% set COLOR_MODIFIER = statusCodesMap[params.STATUS_CODE].COLOR_MODIFIER %}
    {% set LABEL = statusCodesMap[params.STATUS_CODE].LABEL %}
  {% endspaceless %}
  <span class="label label--l  bg--status-{{ COLOR_MODIFIER }}  text--uppercase">{{ LABEL }}</span>
{% endmacro %}


{% macro order(params) %}
  {% spaceless %}
    {% set statusCodesMap = {
      'unread': {
        'COLOR_MODIFIER': 'order-unread',
        'LABEL': 'Unread'
      },
      'pending': {
        'COLOR_MODIFIER': 'pending',
        'LABEL': 'Pending'
      },
      'prepared': {
        'COLOR_MODIFIER': 'prepared',
        'LABEL': 'Prepared'
      },
      'completed': {
        'COLOR_MODIFIER': 'completed',
        'LABEL': 'Completed'
      },
      'canceled': {
        'COLOR_MODIFIER': 'cancelled',
        'LABEL': 'Cancelled'
      }
    } %}
    {% set COLOR_MODIFIER = statusCodesMap[params.STATUS_CODE].COLOR_MODIFIER %}
    {% set LABEL = statusCodesMap[params.STATUS_CODE].LABEL %}
  {% endspaceless %}
  <span class="label label--l  bg--status-{{ COLOR_MODIFIER }}  text--uppercase">{{ LABEL }}</span>
{% endmacro %}


{% macro payment(params) %}
  {% spaceless %}
    {% set statusCodesMap = {
      'unpaid': {
        'COLOR_MODIFIER': 'unpaid',
        'LABEL': 'Unpaid'
      },
      'paid': {
        'COLOR_MODIFIER': 'paid',
        'LABEL': 'Paid'
      }
    } %}
    {% set COLOR_MODIFIER = statusCodesMap[params.STATUS_CODE].COLOR_MODIFIER %}
    {% set LABEL = statusCodesMap[params.STATUS_CODE].LABEL %}
  {% endspaceless %}
  <span class="label label--l  bg--status-{{ COLOR_MODIFIER }}  text--uppercase">{{ LABEL }}</span>
{% endmacro %}


{% macro message() %}
  <span class="label label--l  bg--status-read  text--uppercase  soft-hide  js-mark__read">Read</span>
  <span class="label label--l  bg--status-unread  text--uppercase  soft-hide  js-mark__unread">Unread</span>
{% endmacro %}
