{% macro iconContainer(params) %}
	{% spaceless %}
		{% if params.VARIANTS is not defined %}
			{% set params = params|merge({'VARIANTS': '-'}) %}
		{% endif %}
		{% if params.ICON_PRESENTED_MODIFIER is not defined %}
			{% set params = params|merge({'ICON_PRESENTED_MODIFIER': ''}) %}
		{% endif %}
		{% if params.ICON_SIZE is not defined %}
			{% set params = params|merge({'ICON_SIZE': 'icon--16'}) %}
		{% endif %}
		{% if params.TILE_MODIFIER is not defined %}
			{% set params = params|merge({'TILE_MODIFIER': 'test-icon-tile--bordered'}) %}
		{% endif %}
	{% endspaceless %}

	<div class="test-icon-tile {{ params.TILE_MODIFIER }}">
		<span class="icon {{ params.ICON }} {{ params.ICON_PRESENTED_MODIFIER }} {{ params.ICON_SIZE }}"></span>
		<p class="margin-top--10">.{{ params.ICON }}</p>
		<p class="margin-top--10">
			<u>Variants:</u><br>
			{{ params.VARIANTS }}
		</p>
	</div>
{% endmacro %}
