{% macro createCombinedGroupUploader(params) %}
  {% import '_macros/__forms.twig' as forms %}
  {% if params.RENDER_UNESCAPED is not defined %}
    {% set params = params|merge({'RENDER_UNESCAPED': false}) %}
  {% endif %}
  <div class="form-combined-group  [ uploader uploader--m ]  js-uploader" data-uploader-id="{{ params.id }}">
    {{ forms.group({
      'TYPE': 'text',
      'SIZE': 'm',
      'GROUP_WRAPPER': 'div',
      'PLACEHOLDER': 'No file selected',
      'VALUE': '',
      'TABINDEX': -1,
      'inputClasses': [
        'js-uploader__fakeinput'
      ],
      'RENDER_UNESCAPED': params.RENDER_UNESCAPED
    }) }}
    <input {{ params.IS_MULTIPLE ? 'multiple' }} class="uploader__fileinput  js-uploader__fileinput" type="file" name="{{ params.INPUT_NAME }}" {{ params.ACCEPTED_FORMATS ? ('accept="'~params.ACCEPTED_FORMATS~'"')|raw }}>
    <button tabindex="-1" class="[ btn btn--m btn--primary ]  [ text--uppercase text--bold ]  uploader__button  js-uploader__button"><span class="icon icon--white icon--o-logout icon--cw-270"></span><span>{{ params.BUTTON_LABEL|raw }}</span></button>
  </div>
{% endmacro %}

{% macro createImageUploader(params) %}
  {% import '_macros/__forms.twig' as forms %}
  {% if params.ACCEPTED_FORMATS is not defined %}
    {% set params = params|merge({'ACCEPTED_FORMATS': '.jpg, .jpeg, .png'}) %}
  {% endif %}
  {% if params.RENDER_UNESCAPED is not defined %}
    {% set params = params|merge({'RENDER_UNESCAPED': false}) %}
  {% endif %}

  <div class="image-upload">
    <p class="image-upload__label">{{ params.LABEL|raw }}:</p>
    {% if params.IMG_PATH %}
      <img class="image-upload__img" src="{{ params.IMG_PATH }}" alt="">
    {% elseif params.PLACEHOLDER_LABEL %}
      <div class="image-upload__img-placeholder">
        <div class="image-upload__img-placeholder-label">{{ params.PLACEHOLDER_LABEL|raw }}</div>
      </div>
    {% endif %}

    <div class="image-upload__uploader  [ uploader uploader--vertical ]  js-uploader" data-uploader-id="{{ params.id }}">
      {{ forms.group({
        'TYPE': 'text',
        'SIZE': 'm',
        'GROUP_WRAPPER': 'div',
        'PLACEHOLDER': 'No file selected',
        'VALUE': '',
        'TABINDEX': -1,
        'inputClasses': [
          'js-uploader__fakeinput'
        ],
        'groupClasses': [
          'uploader__fakeinput-form-group'
        ],
        'RENDER_UNESCAPED': params.RENDER_UNESCAPED
      }) }}
      <input {{ params.IS_MULTIPLE ? 'multiple' }} class="uploader__fileinput  js-uploader__fileinput" type="file" name="{{ params.INPUT_NAME }}" {{ ACCEPTED_FORMATS ? ('accept="'~ACCEPTED_FORMATS~'"')|raw }}>
      <button tabindex="-1" class="[ btn btn--primary btn--m btn--block ]  [ text--uppercase text--bold ]  uploader__button  js-uploader__button"><span class="icon icon--white icon--o-logout icon--cw-270"></span><span>{{ params.BUTTON_LABEL|raw }}</span></button>
    </div>
    <p class="image-upload__instructions">{{ params.INSTRUCTIONS|raw }}</p>
  </div>
{% endmacro %}
