<div class="listing-info">
  <h3 class="listing-info__header">Total Summary</h3>
  <div class="listing-info__item">
    Total SKU: <span class="listing-info__value">{{ data.totalSKU }}</span>
  </div>
</div>
