{% extends '_layouts/_default.twig' %}

{% block content %}

<script type='text/javascript'>
window.onload = function(e){ 
   alert('Please complete your profile in order to be able to access the entire menu'); 
   }
</script>
  <div class="container">

    <div class="panel panel--content-padding-big  [ margin-top--20 margin-bottom--30 ]">
      <div class="panel__content panel__content--static">
        <h1 class="text--h1" style="text-align:center;margin-bottom: 40px">WELCOME TO YOUR DASHBOARD</h1>
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-2" style="text-align:center">
            <h2 class="text--h3">
              <span style="color: #27a9e1; font-size: 2em; margin-left: -24px;">1.</span><br><br> Complete your Company
              Profile
            </h2>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3" style="text-align:center">
            <h2 class="text--h3">
              <span style="color: #27a9e1; font-size: 2em; margin-left: -24px;">2.</span><br><br> Complete your Brand Details
            </h2>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3" style="text-align:center">
            <h2 class="text--h3">
              <span style="color: #27a9e1; font-size: 2em; margin-left: -28px;">3.</span><br><br> Start Listing your Products
            </h2>
          </div>
          <div><p><br><br><br><br><br><br><br><br><br><br></p></div>
        </div>
<div style="display:none">
        <h3 class="text--h3" style="text-align:center;margin: 60px 0 20px 0">This dashboard will allow you:</h3>
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-2">
            <p style="line-height:1.8em">
              &#10003; manage your brands<br>
              &#10003; manage multi-buys<br>
              &#10003; orders monitoring<br>
            </p>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <p style="line-height:1.8em">
              &#10003; upload and update product visuals<br>
              &#10003; offer temporary discounts<br>
              &#10003; track your brand page traffic<br>
            </p>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <p style="line-height:1.8em">
              &#10003; insert youtube links<br>
              &#10003; receive enquiries<br>
              &#10003; and more features<br>
            </p>
          </div>
        </div>
        </div>
        {#
        <p>This is where we should explain to the supplier what he needs to do, to have full dashboard access (complete profile and add at least one brand) - please send us texts for this page</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus, lorem ut tincidunt posuere, arcu nulla ullamcorper magna, ac tempor neque ligula sed magna. Suspendisse vestibulum purus nulla, vitae vestibulum odio faucibus in. Sed pulvinar urna id ligula cursus dapibus. Sed molestie lacus non nisl aliquam, nec congue quam aliquam. Sed vel augue auctor, imperdiet felis in, faucibus nisl. Donec tincidunt dui id tristique feugiat.</p>

        <ul>
          <li>Aliquam gravida tortor at nunc ultrices rhoncus. Phasellus quis aliquet lectus, quis lobortis mauris. Suspendisse nec varius nulla, a dictum ipsum. Suspendisse potenti.</li>
          <li>Maecenas semper, mi eu venenatis convallis, risus tellus rutrum risus, et consectetur felis felis convallis mi. Pellentesque eleifend augue quis lacus porttitor, vitae varius sapien elementum. Aenean eget magna orci. Fusce mollis venenatis leo, eu convallis nisi efficitur vel.</li>
          <li>Nullam venenatis nibh quis nisi vestibulum, malesuada semper urna aliquam. Suspendisse eget sem sit amet lacus euismod tincidunt ut ac nunc. Vestibulum semper ligula imperdiet nunc consequat, nec lacinia massa tincidunt. Vestibulum nulla ante, egestas eu elit at, porta rhoncus libero.</li>
        </ul>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus, lorem ut tincidunt posuere, arcu nulla ullamcorper magna, ac tempor neque ligula sed magna. Suspendisse vestibulum purus nulla, vitae vestibulum odio faucibus in. Sed pulvinar urna id ligula cursus dapibus. Sed molestie lacus non nisl aliquam, nec congue quam aliquam. Sed vel augue auctor, imperdiet felis in, faucibus nisl. Donec tincidunt dui id tristique feugiat.</p>

        <h2 class="text--h2">Lorem ipsum</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus, lorem ut tincidunt posuere, arcu nulla ullamcorper magna, ac tempor neque ligula sed magna. Suspendisse vestibulum purus nulla, vitae vestibulum odio faucibus in. Sed pulvinar urna id ligula cursus dapibus. Sed molestie lacus non nisl aliquam, nec congue quam aliquam. Sed vel augue auctor, imperdiet felis in, faucibus nisl. Donec tincidunt dui id tristique feugiat.</p>

        <div class="margin-top--20">
          <a class="[ btn btn--m btn--primary ]  [ text--bold text--uppercase ]" href="#">Lorem ipsum</a>
          <a class="[ btn btn--m btn--secondary btn--outline ]  [ text--bold text--uppercase ]" href="#">Lorem ipsum</a>
        </div>

        <a class="margin-top--20  [ btn btn--m btn--slate-light ]  [ text--bold text--uppercase ]" href="#">Lorem ipsum</a>
        #}
      </div>
    </div>
  </div>
{% endblock %}
