{% extends '_layouts/_default.twig' %}
{% import '_macros/__forms.twig' as forms %}
{% import '_macros/__uploader.twig' as uploader %}

{% block content %}

    {{ forms.start({
      'ACTION': '/back_office/brands/save' ~ (debug ? '?debug=1'),
      'METHOD': 'post',
      'ENCTYPE': 'multipart/form-data',
      'AUTOCOMPLETE': 'off'
    }) }}
  
    {{ forms.group({
      'TYPE': 'hidden',
      'SIZE': 'm',
      'GROUP_WRAPPER': 'div',
      'NAME': 'id_user',
      'VALUE': data.id_user
    }) }}
    
    {{ forms.group({
      'TYPE': 'hidden',
      'SIZE': 'm',
      'GROUP_WRAPPER': 'div',
      'NAME': 'id_brands',
      'VALUE': data.info.id_brands
    }) }}

  <div class="container">

    <div class="panel panel--content-padding-big  [ margin-top--20 margin-bottom--30 ]">
      <div class="panel__header">
        <h3 class="panel__title">{{ seo.PAGE_TITLE|raw }}</h3>
        <div class="panel__header-actions">
          <a class="[ btn btn--m btn--slate-light ]  [ text--uppercase text--bold ]" href="{{ links.brandsListing.URL }}"><span>Go to brands list</span><span class="icon icon--white icon--wedge icon--cw-90"></span></a>
        </div>
      </div>
      <div class="panel__content">
        <fieldset>
          <legend class="bg--white">Brand Details</legend>

          <div class="[ edit-layout edit-layout--multi-column edit-layout--image ]  margin-top--20">
            <div class="edit-layout__image-upload">
              {{ uploader.createImageUploader({
                'id': 'logo',
                'INPUT_NAME': 'logo',
                'LABEL': 'Logo',
                'IMG_PATH': data.info.logo ? '/uploads/brands/' ~ data.info.logo : '',
                'PLACEHOLDER_LABEL': 'Brand logo',
                'BUTTON_LABEL': 'Upload logo',
                'INSTRUCTIONS': 'The logo should be at least 200x200px, max. file weight 1MB. Allowed formats: JPG, PNG.'
              }) }}
            </div>
            <div class="edit-layout__content">

              <div class="row  [ width-lg--75 width-xl--65 ]">
                <div class="col-xs-12">

                  <div class="horizontal-form-group has-required">
                    <label class="horizontal-form-group__label">Brand Name:</label>
                    {{ forms.group({
                      'TYPE': 'text',
                      'SIZE': 'm',
                      'GROUP_WRAPPER': 'div',
                      'NAME': 'title',
                      'VALUE': data.info.title
                    }) }}
                  </div>

                  <div class="horizontal-form-group">
                    <label class="horizontal-form-group__label">Website:</label>
                    {{ forms.group({
                      'TYPE': 'text',
                      'SIZE': 'm',
                      'GROUP_WRAPPER': 'div',
                      'NAME': 'url',
                      'VALUE': data.info.url
                    }) }}
                  </div>

                  {# <div class="horizontal-form-group">
                    <label class="horizontal-form-group__label">Brand Category:</label>
                    <div class="horizontal-form-group__item horizontal-form-group__item--checkboxes-radios">
                      <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                          {{ forms.group({
                            'TYPE': 'checkbox',
                            'SIZE': 'm',
                            'NAME': 'cat1',
                            'PLACEHOLDER': 'Skincare'
                          }) }}
                          {{ forms.group({
                            'TYPE': 'checkbox',
                            'SIZE': 'm',
                            'NAME': 'cat2',
                            'PLACEHOLDER': 'Body'
                          }) }}
                          {{ forms.group({
                            'TYPE': 'checkbox',
                            'SIZE': 'm',
                            'NAME': 'cat3',
                            'PLACEHOLDER': 'Depilatory'
                          }) }}
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                          {{ forms.group({
                            'TYPE': 'checkbox',
                            'SIZE': 'm',
                            'NAME': 'cat4',
                            'PLACEHOLDER': 'Lashes & brows'
                          }) }}
                          {{ forms.group({
                            'TYPE': 'checkbox',
                            'SIZE': 'm',
                            'NAME': 'cat5',
                            'PLACEHOLDER': 'Supply room'
                          }) }}
                          {{ forms.group({
                            'TYPE': 'checkbox',
                            'SIZE': 'm',
                            'NAME': 'cat6',
                            'PLACEHOLDER': 'Disposables'
                          }) }}
                        </div>
                      </div>
                    </div>
                  </div> #}

                  {# <div class="horizontal-form-group">
                    <label class="horizontal-form-group__label">Status:</label>
                    {{ forms.group({
                      'TYPE': 'select',
                      'SIZE': 'm',
                      'GROUP_WRAPPER': 'div',
                      'NAME': 'status',
                      'options': [
                        {
                          'TEXT': 'New',
                          'VALUE': data.info.status
                        }
                      ]
                    }) }}
                  </div> #}

                {% if data.info.catalog %}
                  <div class="horizontal-form-group horizontal-form-group--static">
                    <label class="horizontal-form-group__label">Downloadable Catalog:</label>
                    <div class="horizontal-form-group__item"><a href="{{ '/uploads/brands/' ~ data.info.catalog }}" target="_blank">{{ data.info.catalog|raw }}</a></div>
                  </div>
                {% endif %}

                  <div class="horizontal-form-group">
                    <div class="horizontal-form-group__label">{{ data.info.catalog ? 'Replace Downloadable Catalog:<br><small>(max 1MB)</small>' : 'Downloadable Catalog:<br><small>(max 1MB)</small>' }}</div>
                    {{ uploader.createCombinedGroupUploader({
                      'id': 'catalog',
                      'INPUT_NAME': 'catalog',
                      'BUTTON_LABEL': 'Upload file'
                    }) }}
                  </div>

                  <div class="horizontal-form-group">
                    <label class="horizontal-form-group__label">YouTube Link:</label>
                    {{ forms.group({
                      'TYPE': 'text',
                      'SIZE': 'm',
                      'GROUP_WRAPPER': 'div',
                      'NAME': 'video',
                      'VALUE': data.info.video
                    }) }}
                  </div>

                  <div class="horizontal-form-group">
                    <label class="horizontal-form-group__label">Access Code:</label>
                    <div class="horizontal-form-group__form-group-holder  [ form-group-tooltip form-group-tooltip--m form-group-tooltip--right ]">
                      {{ forms.group({
                        'TYPE': 'text',
                        'SIZE': 'm',
                        'GROUP_WRAPPER': 'div',
                        'ICON_RIGHT': 'icon--slate-light icon--out-question-mark',
                        'NAME': 'access_code',
                        'VALUE': data.info.access_code,
                      }) }}
                      <div class="form-group-tooltip__tp-placeholder  js-tp"
                        data-tp-maxWidth="300"
                        data-tp-addClass="tp-white"
                        data-tp-animation="move"
                        data-tp-content="This will force the users to apply the code before adding products of this brand to the cart"
                      ></div>
                    </div>
                  </div>

                  <div class="horizontal-form-group">
                    <label class="horizontal-form-group__label">Brand Overview:</label>
                    <div class="horizontal-form-group__form-group-holder  [ form-group-tooltip form-group-tooltip--m form-group-tooltip--right ]">
                      {{ forms.group({
                        'TYPE': 'textarea',
                        'SIZE': 'l',
                        'GROUP_WRAPPER': 'div',
                        'NAME': 'overview',
                        'VALUE': data.info.overview,
                      }) }}
                      <div class="form-group-tooltip__tp-placeholder  js-tp"
                        data-tp-maxWidth="300"
                        data-tp-addClass="tp-white"
                        data-tp-animation="move"
                      ></div>
                    </div>
                  </div>

                </div><!-- /.col- -->
              </div><!-- /.row -->

            </div><!-- /.edit-layout__content -->
          </div><!-- /.edit-layout -->
        </fieldset>

        {# <fieldset>
          <div class="row  [ width-sm--65 width-md--65 width-lg--50 width-xl--50 ]  margin-top--20">
            <div class="col-xs-12">
              <div class="horizontal-form-group">
                <div class="horizontal-form-group__label">Downloadable Catalog:</div>
                {{ uploader.createCombinedGroupUploader({
                  'id': 'catalog',
                  'INPUT_NAME': 'catalog',
                  'BUTTON_LABEL': 'Upload file'
                }) }}
              </div>

              <div class="horizontal-form-group">
                <label class="horizontal-form-group__label">YouTube Link:</label>
                {{ forms.group({
                  'TYPE': 'text',
                  'SIZE': 'm',
                  'GROUP_WRAPPER': 'div',
                  'NAME': 'video',
                  'VALUE': data.info.video
                }) }}
              </div>

              <div class="horizontal-form-group">
                <label class="horizontal-form-group__label">Access Code:</label>
                <div class="horizontal-form-group__form-group-holder  [ form-group-tooltip form-group-tooltip--m form-group-tooltip--right ]">
                  {{ forms.group({
                    'TYPE': 'text',
                    'SIZE': 'm',
                    'GROUP_WRAPPER': 'div',
                    'ICON_RIGHT': 'icon--slate-light icon--out-question-mark',
                    'NAME': 'access_code',
                    'VALUE': data.info.access_code,
                  }) }}
                  <div class="form-group-tooltip__tp-placeholder  js-tp"
                    data-tp-maxWidth="300"
                    data-tp-addClass="tp-white"
                    data-tp-animation="move"
                    data-tp-content="This will force the users to apply the code before adding products of this brand to the cart"
                  ></div>
                </div>
              </div>

            </div><!-- /.col- -->
          </div><!-- /.row -->
        </fieldset> #}


        <fieldset>
          <legend class="bg--white">Sliders</legend>

          <div class="row  [ width-sm--65 width-md--65 width-lg--50 width-xl--50 ]  margin-top--20">
            <div class="col-xs-12">

            {% if data.info.slide_1 %}
              <div class="horizontal-form-group horizontal-form-group--static">
                <label class="horizontal-form-group__label">Slide 1:</label>
                <div class="horizontal-form-group__item"><a href="{{ '/uploads/brands/' ~ data.info.slide_1 }}" target="_blank">{{ data.info.slide_1|raw }}</a></div>
              </div>
            {% endif %}

              <div class="horizontal-form-group">
                <div class="horizontal-form-group__label">{{ data.info.slide_1 ? 'Replace Slide 1:<br><small>(max 1MB)</small>' : 'Slide 1:<br><small>(max 1MB)</small>' }}</div>
                {{ uploader.createCombinedGroupUploader({
                  'id': 'slide1',
                  'INPUT_NAME': 'slide_1',
                  'BUTTON_LABEL': 'Upload file'
                }) }}
              </div>

            {% if data.info.slide_2 %}
              <div class="horizontal-form-group horizontal-form-group--static">
                <label class="horizontal-form-group__label">Slide 2:</label>
                <div class="horizontal-form-group__item"><a href="{{ '/uploads/brands/' ~ data.info.slide_2 }}" target="_blank">{{ data.info.slide_2|raw }}</a></div>
              </div>
            {% endif %}

              <div class="horizontal-form-group">
                <div class="horizontal-form-group__label">{{ data.info.slide_2 ? 'Replace Slide 2:<br><small>(max 1MB)</small>' : 'Slide 2:<br><small>(max 1MB)</small>' }}</div>
                {{ uploader.createCombinedGroupUploader({
                  'id': 'slide2',
                  'INPUT_NAME': 'slide_2',
                  'BUTTON_LABEL': 'Upload file'
                }) }}
              </div>

            {% if data.info.slide_3 %}
              <div class="horizontal-form-group horizontal-form-group--static">
                <label class="horizontal-form-group__label">Slide 3:</label>
                <div class="horizontal-form-group__item"><a href="{{ '/uploads/brands/' ~ data.info.slide_3 }}" target="_blank">{{ data.info.slide_3|raw }}</a></div>
              </div>
            {% endif %}

              <div class="horizontal-form-group">
                <div class="horizontal-form-group__label">{{ data.info.slide_3 ? 'Replace Slide 3:<br><small>(max 1MB)</small>' : 'Slide 3:<br><small>(max 1MB)</small>' }}</div>
                {{ uploader.createCombinedGroupUploader({
                  'id': 'slide3',
                  'INPUT_NAME': 'slide_3',
                  'BUTTON_LABEL': 'Upload file'
                }) }}
              </div>

            {% if data.info.slide_4 %}
              <div class="horizontal-form-group horizontal-form-group--static">
                <label class="horizontal-form-group__label">Slide 4:</label>
                <div class="horizontal-form-group__item"><a href="{{ '/uploads/brands/' ~ data.info.slide_4 }}" target="_blank">{{ data.info.slide_4|raw }}</a></div>
              </div>
            {% endif %}

              <div class="horizontal-form-group">
                <div class="horizontal-form-group__label">{{ data.info.slide_4 ? 'Replace Slide 4:<br><small>(max 1MB)</small>' : 'Slide 4:<br><small>(max 1MB)</small>' }}</div>
                {{ uploader.createCombinedGroupUploader({
                  'id': 'slide4',
                  'INPUT_NAME': 'slide_4',
                  'BUTTON_LABEL': 'Upload file'
                }) }}
              </div>

            </div><!-- /.col- -->
          </div><!-- /.row -->

        </fieldset>

        <fieldset>
          <legend class="bg--white">Brand Contact Person</legend>

          <div class="[ edit-layout edit-layout--multi-column edit-layout--image ]  margin-top--20">
            <div class="edit-layout__image-upload">
              {{ uploader.createImageUploader({
                'id': 'photo',
                'INPUT_NAME': 'photo',
                'LABEL': 'Photo',
                'IMG_PATH': data.info.photo ? '/uploads/brands/' ~ data.info.photo : '',
                'PLACEHOLDER_LABEL': 'Contact person photo',
                'BUTTON_LABEL': 'Upload photo',
                'INSTRUCTIONS': 'The photo should be at least 200x200px, max. file weight 1MB. Allowed formats: JPG, PNG.'
              }) }}
            </div>
            <div class="edit-layout__content">

              <div class="row  [ width-lg--75 width-xl--65 ]">
                <div class="col-xs-12">

                  <div class="horizontal-form-group has-required">
                    <label class="horizontal-form-group__label">First Name:</label>
                    {{ forms.group({
                      'TYPE': 'text',
                      'SIZE': 'm',
                      'GROUP_WRAPPER': 'div',
                      'NAME': 'name',
                      'VALUE': data.info.name
                    }) }}
                  </div>

                  <div class="horizontal-form-group has-required">
                    <label class="horizontal-form-group__label">Family Name:</label>
                    {{ forms.group({
                      'TYPE': 'text',
                      'SIZE': 'm',
                      'GROUP_WRAPPER': 'div',
                      'NAME': 'last_name',
                      'VALUE': data.info.last_name
                    }) }}
                  </div>

                  <div class="horizontal-form-group has-required">
                    <label class="horizontal-form-group__label">Job Title:</label>
                    {{ forms.group({
                      'TYPE': 'text',
                      'SIZE': 'm',
                      'GROUP_WRAPPER': 'div',
                      'NAME': 'position',
                      'VALUE': data.info.position
                    }) }}
                  </div>

                  <div class="horizontal-form-group has-required">
                    <label class="horizontal-form-group__label">Phone:<br><small>(to be displayed in the "Call Supplier" button)</small></label>
                    {{ forms.group({
                      'TYPE': 'phone',
                      'SIZE': 'm',
                      'GROUP_WRAPPER': 'div',
                      'NAME': 'phone',
                      'VALUE': data.info.phone
                    }) }}
                  </div>

                  <div class="horizontal-form-group has-required">
                    <label class="horizontal-form-group__label">Email:<br><small>(related to the "Send Enquiry" button)</small></label>
                    {{ forms.group({
                      'TYPE': 'email',
                      'SIZE': 'm',
                      'GROUP_WRAPPER': 'div',
                      'NAME': 'email',
                      'VALUE': data.info.email
                    }) }}
                  </div>

                </div><!-- /.col- -->
              </div><!-- /.row -->

            </div><!-- /.edit-layout__content -->
          </div><!-- /.edit-layout -->
        </fieldset>

        <div class="edit-actions">
          <div class="btn-group">
            <button class="[ btn btn--l btn--primary ]  [ text--uppercase text--bold ]  js-unload-prevention-whitelisted" type="submit"><span class="icon icon--white icon--tick"></span><span>{{ MODE == 'add' ? 'Add brand' : 'Save changes' }}</span></button>
            <a class="[ btn btn--l btn--secondary ]  [ text--uppercase text--bold ]" href="{{ links.brandListing.URL }}"><span class="icon icon--white icon--x"></span><span>Cancel</span></a>
          </div>
        </div>

      </div>
    </div>

  </div>

  {{ forms.end({}) }}
{% endblock %}
