{% extends '_layouts/_default.twig' %}
{% import '_macros/__listing-table.twig' as listingTable %}

{% block content %}
  <div class="container  margin-top--20  [ width-lg--75 width-xl--65 ]">
    {{ listingTable.listingHeader({
      'TABLE_ID': 'listingTable',
      'TITLE': seo.PAGE_TITLE,
      'buttons': [{
        'HREF': links.supplierAdd.URL,
        'LABEL': 'Add User',
        'buttonClasses': ['btn--primary'],
        'iconClasses': [
          'icon--o-plus',
          'icon--white'
        ]
      }]
    }) }}
      {{ listingTable.table({
        'TABLE_ID': 'listingTable',
        'structure': [
          {
            'HEADER_CONTENT': 'First Name',
            'thClasses': ['text--center'],
            'tdClasses': ['text--center'] 
          },
          {
            'HEADER_CONTENT': 'Last Name',
            'thClasses': ['text--center'],
            'tdClasses': ['text--center'] 
          },
          {
            'HEADER_CONTENT': 'Email',
            'thClasses': ['text--center'],
            'tdClasses': ['text--center'] 
          },
          {
            'TYPE': 'icon-actions',
            'HEADER_CONTENT': 'Actions',
            'actions': [
              {
                'classes': [],
                'HREF': links.supplierEdit.URL ~ '/${rowId}',
                'LABEL': 'Edit',
                'iconClasses': [
                  'icon--white',
                  'icon--pencil',
                  'icon--10'
                ]
              },
                {
                'classes': [],
                'HREF': links.supplierDelete.URL ~ '/${rowId}',
                'LABEL': 'Delete',
                'iconClasses': [
                  'icon--white',
                  'icon--x',
                  'icon--10'
                ],
                'CONFIRM_MSG': 'Are you sure you want to delete this attribute? This cannot be undone.'
              },
            ]
          }
        ],
        'data': data.supplier
      }) }}

  </div>
{% endblock %}
