<!-- ########################
# 
# #Modals
#
######################### -->
<a name="jboxModals" id="jboxModals" class="test-anchor"></a>
<p class="text--h3">Small modals</p>
<p class="margin-top--10">There are various parameters that can be used to customize initialized modals. See examples below and <a href="http://stephanwagner.me/jBox/options" target="_blank">library documentation</a> for more info.</p>

<blockquote class="test-code-example">
	<button
		class="[ btn btn--l btn--primary ]  js-tp"
		data-tp-type="Modal"
		data-tp-content="Lorem ipsum dolor sit amet"
		data-tp-addClass="tp-primary"
	>
		Click me
	</button>

	<br><br>

	<button
		class="[ btn btn--l btn--primary ]  js-tp"
		data-tp-type="Modal"
		data-tp-content="Lorem ipsum dolor sit amet"
		data-tp-addClass="tp-dark"
	>
		Click me
	</button>

	<br><br>

	<button
		class="[ btn btn--l btn--primary ]  js-tp"
		data-tp-type="Modal"
		data-tp-content="Lorem ipsum dolor sit amet"
		data-tp-addClass="tp-white"
	>
		Click me
	</button>

	<br><br>

	<button
		class="[ btn btn--l btn--primary ]  js-tp"
		data-tp-type="Modal"
		data-tp-title="<strong>Sit amet lorem ipsum</strong>"
		data-tp-content="Lorem ipsum dolor sit amet"
		data-tp-animation="zoomIn"
		data-tp-draggable="title"
		data-tp-overlay="false"
		data-tp-addClass="tp-primary"
	>
		Click me
	</button>

	<br><br>

	<button
		class="[ btn btn--l btn--primary ]  js-tp"
		data-tp-type="Modal"
		data-tp-title="<strong>Sit amet lorem ipsum</strong>"
		data-tp-content="Lorem ipsum dolor sit amet"
		data-tp-animation="zoomIn"
		data-tp-draggable="title"
		data-tp-overlay="false"
		data-tp-addClass="tp-dark"
	>
		Click me
	</button>

	<br><br>

	<button
		class="[ btn btn--l btn--primary ]  js-tp"
		data-tp-type="Modal"
		data-tp-title="<strong>Sit amet lorem ipsum</strong>"
		data-tp-content="Lorem ipsum dolor sit amet"
		data-tp-animation="zoomIn"
		data-tp-draggable="title"
		data-tp-overlay="false"
		data-tp-addClass="tp-white"
	>
		Click me
	</button>
</blockquote>

<pre class="test-code-container"><code class="twig">
&lt;button
  class="[ btn btn--l btn--primary ]  js-tp"
  data-tp-type="Modal"
  data-tp-content="Lorem ipsum dolor sit amet"
  data-tp-addClass="tp-primary"
&gt;
  Click me
&lt;/button&gt;

&lt;button
  class="[ btn btn--l btn--primary ]  js-tp"
  data-tp-type="Modal"
  data-tp-content="Lorem ipsum dolor sit amet"
  data-tp-addClass="tp-dark"
&gt;
  Click me
&lt;/button&gt;

&lt;button
  class="[ btn btn--l btn--primary ]  js-tp"
  data-tp-type="Modal"
  data-tp-content="Lorem ipsum dolor sit amet"
  data-tp-addClass="tp-white"
&gt;
  Click me
&lt;/button&gt;

&lt;button
  class="[ btn btn--l btn--primary ]  js-tp"
  data-tp-type="Modal"
  data-tp-title="&amp;lt;strong&amp;gt;Sit amet lorem ipsum&amp;lt;/strong&amp;gt;"
  data-tp-content="Lorem ipsum dolor sit amet"
  data-tp-animation="zoomIn"
  data-tp-draggable="title"
  data-tp-overlay="false"
  data-tp-addClass="tp-primary"
&gt;
  Click me
&lt;/button&gt;

&lt;button
  class="[ btn btn--l btn--primary ]  js-tp"
  data-tp-type="Modal"
  data-tp-title="&amp;lt;strong&amp;gt;Sit amet lorem ipsum&amp;lt;/strong&amp;gt;"
  data-tp-content="Lorem ipsum dolor sit amet"
  data-tp-animation="zoomIn"
  data-tp-draggable="title"
  data-tp-overlay="false"
  data-tp-addClass="tp-dark"
&gt;
  Click me
&lt;/button&gt;

&lt;button
  class="[ btn btn--l btn--primary ]  js-tp"
  data-tp-type="Modal"
  data-tp-title="&amp;lt;strong&amp;gt;Sit amet lorem ipsum&amp;lt;/strong&amp;gt;"
  data-tp-content="Lorem ipsum dolor sit amet"
  data-tp-animation="zoomIn"
  data-tp-draggable="title"
  data-tp-overlay="false"
  data-tp-addClass="tp-white"
&gt;
  Click me
&lt;/button&gt;

</code></pre>
