<!-- ########################
# 
# #Notices
#
######################### -->
<a name="jboxNotices" id="jboxNotices" class="test-anchor"></a>
<p class="text--h3">Notices</p>
<p class="margin-top--10">There are various parameters that can be used to customize initialized notices. See examples below and <a href="http://stephanwagner.me/jBox/options" target="_blank">library documentation</a> for more info.</p>

<blockquote class="test-code-example">
	<button
		class="[ btn btn--l btn--primary ]  js-tp"
		data-tp-type="Notice"
		data-tp-addClass="tp-white"
		data-tp-content="Lorem ipsum dolor sit amet"
		data-tp-attributes="left bottom"
		data-tp-animation="flip"
		data-tp-audio="{{ BIACONFIG.app.BOWER_COMPONENTS_PATH }}/jbox/Source/audio/bling2"
		data-tp-title="Dolor ipsum lorem sit amet"
	>
		Click me
	</button>

	<br><br>

	<button
		class="[ btn btn--l btn--primary ]  js-tp"
		data-tp-type="Notice"
		data-tp-addClass="tp-dark"
		data-tp-content="Lorem ipsum dolor sit amet"
		data-tp-attributes="right bottom"
		data-tp-animation="flip"
		data-tp-audio="{{ BIACONFIG.app.BOWER_COMPONENTS_PATH }}/jbox/Source/audio/bling2"
		data-tp-title="Dolor ipsum lorem sit amet"
	>
		Click me
	</button>

	<br><br>

	<button
		class="[ btn btn--l btn--primary ]  js-tp"
		data-tp-type="Notice"
		data-tp-addClass="tp-primary"
		data-tp-content="Lorem ipsum dolor sit amet"
		data-tp-attributes="left top"
		data-tp-animation="flip"
		data-tp-audio="{{ BIACONFIG.app.BOWER_COMPONENTS_PATH }}/jbox/Source/audio/bling2"
		data-tp-title="Dolor ipsum lorem sit amet"
	>
		Click me
	</button>

	<br><br>

	<button
		class="[ btn btn--l btn--primary ]  js-tp"
		data-tp-type="Notice"
		data-tp-addClass="tp-warning"
		data-tp-content="Lorem ipsum dolor sit amet"
		data-tp-attributes="right top"
		data-tp-animation="flip"
		data-tp-audio="{{ BIACONFIG.app.BOWER_COMPONENTS_PATH }}/jbox/Source/audio/bling2"
	>
		Click me
	</button>

	<br><br>

	<button
		class="[ btn btn--l btn--primary ]  js-tp"
		data-tp-type="Notice"
		data-tp-addClass="tp-danger"
		data-tp-content="Lorem ipsum dolor sit amet"
		data-tp-attributes="left bottom"
		data-tp-animation="flip"
		data-tp-title="Dolor ipsum lorem sit amet"
		data-tp-audio="{{ BIACONFIG.app.BOWER_COMPONENTS_PATH }}/jbox/Source/audio/bling2"
	>
		Click me
	</button>

	<br><br>

	<button
		class="[ btn btn--l btn--primary ]  js-tp"
		data-tp-type="Notice"
		data-tp-addClass="tp-success"
		data-tp-content="Lorem ipsum dolor sit amet"
		data-tp-attributes="left bottom"
		data-tp-animation="flip"
		data-tp-audio="{{ BIACONFIG.app.BOWER_COMPONENTS_PATH }}/jbox/Source/audio/bling2"
	>
		Click me
	</button>

	<br><br>

	<button
		class="[ btn btn--l btn--primary ]  js-tp"
		data-tp-type="Notice"
		data-tp-addClass="tp-info"
		data-tp-content="Lorem ipsum dolor sit amet"
		data-tp-attributes="left bottom"
		data-tp-animation="flip"
		data-tp-audio="{{ BIACONFIG.app.BOWER_COMPONENTS_PATH }}/jbox/Source/audio/bling2"
	>
		Click me
	</button>
</blockquote>

<pre class="test-code-container"><code class="twig">
&lt;button
  class="[ btn btn--l btn--primary ]  js-tp"
  data-tp-type="Notice"
  data-tp-addClass="tp-white"
  data-tp-content="Lorem ipsum dolor sit amet"
  data-tp-attributes="left bottom"
  data-tp-animation="flip"
  data-tp-audio="{{ '{{' }} BIACONFIG.app.BOWER_COMPONENTS_PATH {{ '}}' }}/jbox/Source/audio/bling2"
  data-tp-title="Dolor ipsum lorem sit amet"
&gt;
  Click me
&lt;/button&gt;

&lt;button
  class="[ btn btn--l btn--primary ]  js-tp"
  data-tp-type="Notice"
  data-tp-addClass="tp-dark"
  data-tp-content="Lorem ipsum dolor sit amet"
  data-tp-attributes="right bottom"
  data-tp-animation="flip"
  data-tp-audio="{{ '{{' }} BIACONFIG.app.BOWER_COMPONENTS_PATH {{ '}}' }}/jbox/Source/audio/bling2"
  data-tp-title="Dolor ipsum lorem sit amet"
&gt;
  Click me
&lt;/button&gt;

&lt;button
  class="[ btn btn--l btn--primary ]  js-tp"
  data-tp-type="Notice"
  data-tp-addClass="tp-primary"
  data-tp-content="Lorem ipsum dolor sit amet"
  data-tp-attributes="left top"
  data-tp-animation="flip"
  data-tp-audio="{{ '{{' }} BIACONFIG.app.BOWER_COMPONENTS_PATH {{ '}}' }}/jbox/Source/audio/bling2"
  data-tp-title="Dolor ipsum lorem sit amet"
&gt;
  Click me
&lt;/button&gt;

&lt;button
  class="[ btn btn--l btn--primary ]  js-tp"
  data-tp-type="Notice"
  data-tp-addClass="tp-warning"
  data-tp-content="Lorem ipsum dolor sit amet"
  data-tp-attributes="right top"
  data-tp-animation="flip"
  data-tp-audio="{{ '{{' }} BIACONFIG.app.BOWER_COMPONENTS_PATH {{ '}}' }}/jbox/Source/audio/bling2"
&gt;
  Click me
&lt;/button&gt;

&lt;button
  class="[ btn btn--l btn--primary ]  js-tp"
  data-tp-type="Notice"
  data-tp-addClass="tp-danger"
  data-tp-content="Lorem ipsum dolor sit amet"
  data-tp-attributes="left bottom"
  data-tp-animation="flip"
  data-tp-title="Dolor ipsum lorem sit amet"
  data-tp-audio="{{ '{{' }} BIACONFIG.app.BOWER_COMPONENTS_PATH {{ '}}' }}/jbox/Source/audio/bling2"
&gt;
  Click me
&lt;/button&gt;

&lt;button
  class="[ btn btn--l btn--primary ]  js-tp"
  data-tp-type="Notice"
  data-tp-addClass="tp-success"
  data-tp-content="Lorem ipsum dolor sit amet"
  data-tp-attributes="left bottom"
  data-tp-animation="flip"
  data-tp-audio="{{ '{{' }} BIACONFIG.app.BOWER_COMPONENTS_PATH {{ '}}' }}/jbox/Source/audio/bling2"
&gt;
  Click me
&lt;/button&gt;

&lt;button
  class="[ btn btn--l btn--primary ]  js-tp"
  data-tp-type="Notice"
  data-tp-addClass="tp-info"
  data-tp-content="Lorem ipsum dolor sit amet"
  data-tp-attributes="left bottom"
  data-tp-animation="flip"
  data-tp-audio="{{ '{{' }} BIACONFIG.app.BOWER_COMPONENTS_PATH {{ '}}' }}/jbox/Source/audio/bling2"
&gt;
  Click me
&lt;/button&gt;

</code></pre>
