<!-- ########################
# 
# #Tooltips
#
######################### -->
<a name="jboxTooltips" id="jboxTooltips" class="test-anchor"></a>
<p class="text--h3">Tooltips</p>
<p class="margin-top--10">There are various parameters that can be used to customize initialized tooltips. See examples below and <a href="http://stephanwagner.me/jBox/options" target="_blank">library documentation</a> for more info.</p>

<blockquote class="test-code-example">
	<button
		class="[ btn btn--l btn--primary ]  js-tp"
		data-tp-content="Lorem ipsum dolor sit amet"
		data-tp-addClass="tp-primary"
	>
		Hover me
	</button>

	<br><br>

	<button
		class="[ btn btn--l btn--primary ]  js-tp"
		data-tp-content="Lorem ipsum dolor sit amet"
		data-tp-addClass="tp-white"
	>
		Hover me
	</button>

	<br><br>

	<button
		class="[ btn btn--l btn--primary ]  js-tp"
		data-tp-content="Lorem ipsum &lt;strong&gt;dolor sit&lt;/strong&gt; amet orci eros, rutrum eget blandit vitae, auctor semper ex."
		data-tp-maxWidth="200"
		data-tp-position="center bottom"
		data-tp-animation="move flip"
		data-tp-addClass="tp-dark"
	>
		Hover me
	</button>
	
	<br><br>

	<button
		class="[ btn btn--l btn--primary ]  js-tp"
		data-tp-content="Lorem ipsum dolor sit amet"
		data-tp-delayOpen="1000"
		data-tp-delayClose="500"
		data-tp-addClass="tp-primary"
	>
		Hover me for more than 1 second
	</button>
	
	<br><br>

	<button
		class="[ btn btn--l btn--primary ]  js-tp"
		data-tp-type="Mouse"
		data-tp-content="Lorem ipsum dolor sit amet"
		data-tp-addClass="tp-danger"
	>
		Hover me
	</button>
	
	<br><br>

	<button
		class="[ btn btn--l btn--primary ]  js-tp"
		data-tp-content="Lorem ipsum dolor sit amet"
		data-tp-trigger="click"
		data-tp-closeOnClick="body"
		data-tp-closeOnEsc="true"
		data-tp-position="right center"
		data-tp-outside="x"
		data-tp-adjustTracker="true"
		data-tp-adjustDistance="55 5 5 5"
		data-tp-width="200"
		data-tp-height="600"
		data-tp-addClass="tp-info"
	>
		Click me
	</button>
</blockquote>

<pre class="test-code-container"><code class="twig">
&lt;button
  class="[ btn btn--l btn--primary ]  js-tp"
  data-tp-content="Lorem ipsum dolor sit amet"
  data-tp-addClass="tp-primary"
&gt;
  Hover me
&lt;/button&gt;

&lt;button
  class="[ btn btn--l btn--primary ]  js-tp"
  data-tp-content="Lorem ipsum dolor sit amet"
  data-tp-addClass="tp-white"
&gt;
  Hover me
&lt;/button&gt;

&lt;button
  class="[ btn btn--l btn--primary ]  js-tp"
  data-tp-content="Lorem ipsum &amp;lt;strong&amp;gt;dolro sit&amp;lt;/strong&amp;gt; amet orci eros, rutrum eget blandit vitae, auctor semper ex."
  data-tp-maxWidth="200"
  data-tp-position="center bottom"
  data-tp-animation="move flip"
  data-tp-addClass="tp-dark"
&gt;
  Hover me
&lt;/button&gt;

&lt;button
  class="[ btn btn--l btn--primary ]  js-tp"
  data-tp-content="Lorem ipsum dolor sit amet"
  data-tp-delayOpen="1000"
  data-tp-delayClose="500"
  data-tp-addClass="tp-primary"
&gt;
  Hover me for more than 1 second
&lt;/button&gt;

&lt;button
  class="[ btn btn--l btn--primary ]  js-tp"
  data-tp-type="Mouse"
  data-tp-content="Lorem ipsum dolor sit amet"
  data-tp-addClass="tp-danger"
&gt;
  Hover me
&lt;/button&gt;

&lt;button
  class="[ btn btn--l btn--primary ]  js-tp"
  data-tp-content="Lorem ipsum dolor sit amet"
  data-tp-trigger="click"
  data-tp-closeOnClick="body"
  data-tp-closeOnEsc="true"
  data-tp-position="right center"
  data-tp-outside="x"
  data-tp-adjustTracker="true"
  data-tp-adjustDistance="55 5 5 5"
  data-tp-width="200"
  data-tp-height="600"
  data-tp-addClass="tp-info"
&gt;
  Click me
&lt;/button&gt;

</code></pre>
