<!-- ########################
# 
# #Usage
#
######################### -->
<a name="jboxUsage" id="jboxUsage" class="test-anchor"></a>
<p class="text--h3">General usage</p>
<p class="margin-top--10">JBox provides tooltips, small simple modals & notices functionalities.</p>

<p class="margin-top--15">You can use JBox library in two ways:</p>
<ol>
	<li>By including <code>vendor/jBox</code> in your module and initializing it on any element using its parameters</li>
	<li>By using data-api provided by <code>tooltips/TooltipView</code> and initialized in <code>tooltips/tooltipsView</code> for all data-enabled elements available in DOM on page load.</li>
</ol>

<p class="margin-top--15">Check out <a href="http://stephanwagner.me/jBox/options" target="_blank">JBox homepage</a> for a list of all parameters available for (1) and <code>tooltips/TooltipView</code> for a list of parameters supported by data-api (2). For (1) you can also check out some code examples in the application source code (search js files for "JBox" keyword).</p>

<p class="margin-top--15"><strong>Setting appearance to JBox elements</strong> - there are several custom appearance classes, which added to JBox instance by providing <code>addClass</code> parameter in (1) or data-addClass in (2), will change its look:</p>
<ul>
	<li><code>tp-primary</code></li>
	<li><code>tp-white</code></li>
	<li><code>tp-dark</code></li>
	<li><code>tp-success</code></li>
	<li><code>tp-warning</code></li>
	<li><code>tp-danger</code></li>
	<li><code>tp-info</code></li>
</ul>

<div class="alert alert--info  margin-top--25">These custom styles are applied in <code>bia/tooltips.less</code> after <code>Custom BIA themes</code> comment.</div>
