<div class="[ modal modal--common-padding ]  js-md" data-md-id="exampleActions1">
	<button class="[ btn btn--l btn--primary ]  js-md-open" data-md-id="exampleActions2">Open actions example modal #2</button>
</div>
