<div class="[ modal modal--common-padding ]  js-md" data-md-id="exampleClosingButton">
	{# Closing button #}
	<button class="modal__closing-button  js-md-close">
		<span class="icon icon--10 icon--x icon--slate-light"></span>
	</button>

	Hello world!
</div>
