<!-- ########################
# 
# #Predefined loader colors
#
######################### -->
<a name="loadersColors" id="loadersColors" class="test-anchor"></a>
<p class="text--h3">Predefined loader colors</p>
<p class="margin-top--10">Predefined loader colors are:</p>
<ul class="margin-top--10">
	<li><code>primary</code></li>
	<li><code>white</code></li>
</ul>
