<!-- ########################
# 
# #Inline loader placement
#
######################### -->
<a name="loadersInline" id="loadersInline" class="test-anchor"></a>
<p class="text--h3">Inline loader placement</p>
<p class="margin-top--10">You can place a loader as an inline-block element:</p>

<blockquote class="test-code-example">
	<button class="btn btn--l btn--primary">
	{{ loader.create({
		'SIZE': 16,
		'COLOR': 'white'
	}) }}<span>Submit</span></button>

	<br><br>

	<p>Lorem ipsum dolor sit amet {{ loader.create({ 'SIZE': 16 }) }} dolor sit amet.</p>
</blockquote>

<pre class="test-code-container"><code class="twig">
&lt;button class="btn btn--l btn--primary"&gt;
  {{ '{{' }} loader.create({
    'SIZE': 16,
    'COLOR': 'white'
  }) {{ '}}' }}
  ←&lt;span&gt;Submit&lt;/span&gt;
&lt;/button&gt;
</code></pre>

<div class="alert alert--warning">The part with arrow signs (← - line join indicator) <strong>is crucial</strong> as long as you use <code class="text--nowrap">text-decoration:underline</code> property for any of the button's states. If you <strong>do not</strong> use <code class="text--nowrap">text-decoration:underline</code> in any of the button's states (excluding the .btn--link variant), you are safe to leave these lines separate.</div>
