<!-- ########################
# 
# #Loader inside a container
#
######################### -->
<a name="loadersInside" id="loadersInside" class="test-anchor"></a>
<p class="text--h3">Loader inside a container</p>
<p class="margin-top--10">You can place a loader inside a container and it will center-position itself inside it:</p>

<blockquote class="test-code-example">
	<div class="test-loader-container  bg--gray-lighter  has-loader">
		{{ loader.create({
			'SIZE': 100
		}) }}
	</div>
</blockquote>

<pre class="test-code-container"><code class="twig">
&lt;div class="test-loader-container  bg--gray-lighter  has-loader"&gt;
  {{ '{{' }} loader.create({
    'SIZE': 100
  }) {{ '}}' }}
&lt;/div&gt;

</code></pre>

<div class="alert alert--info">The <code>has-loader</code> class on the parent element can be omitted if you set parent's position to any other than <code>static</code>.</div>
