<!-- ########################
# 
# #Predefined loader sizes
#
######################### -->
<a name="loadersSizes" id="loadersSizes" class="test-anchor"></a>
<p class="text--h3">Predefined loader sizes</p>
<p class="margin-top--10">Predefined loader sizes are:</p>
<ul class="margin-top--10">
	<li><code>10</code></li>
	<li><code>16</code></li>
	<li><code>20</code></li>
	<li><code>25</code></li>
	<li><code>30</code></li>
	<li><code>40</code></li>
	<li><code>50</code></li>
	<li><code>70</code></li>
	<li><code>100</code></li>
</ul>
