<!-- ########################
# 
# #Usage
#
######################### -->
<a name="loadersUsage" id="loadersUsage" class="test-anchor"></a>
<p class="text--h3">Usage</p>
<p class="margin-top--10">In order to render a loader, you need to include the _macros/__loader.twig file and set its content to a variable:</p>

<pre class="test-code-container"><code class="twig">
{{ '{' }}% import '_macros/__loader.twig' as loader %{{ '}' }}

</code></pre>

<p>Then, for usage of each loader, you can use the following pattern:</p>

<pre class="test-code-container"><code class="html">
{{ '{{' }} loader.create({
  'SIZE': 100,
  'COLOR': 'gray',
  'CONTAINER': 'div',
  'IS_LOADED': false
}) {{ '}}' }}

</code></pre>

<p><strong>All parameters</strong> are optional, with the defaults set to:</p>
<ul>
	<li><code>SIZE: 30</code> - sets the loader's size</li>
	<li><code>COLOR: 'primary'</code> - sets the loader's foreground color</li>
	<li><code>CONTAINER: 'span'</code> - sets the loader container's tag</li>
	<li><code>IS_LOADED: false</code> - tells the macro in which state should the loader be initialized</li>
</ul>

<div class="alert alert--warning  margin-top--25">When rendering a default loader, remember to pass an empty object as a macro argument: <code>loader.create(<strong>{}</strong>)</code></div>

<div class="alert alert--danger"><strong>Remember to always hide or remove the loader after loading has finished!</strong> The loader uses transforms and CSS animation in an infinite loop. This is <strong>very</strong> expensive. After the loading has finished, either <strong>remove the loader from the DOM</strong> or hide it by setting the <code class="text--nowrap">is-loaded</code> class either on the loader itself, or on any of its parents (this essentially sets the <code class="text--nowrap">display:none</code> property on the <code>.loader</code> element). <strong>Covering the loader with another element will not work as the calculations will be constantly in progress!</strong></div>

<div class="alert alert--info  margin-top--25">Loaders do not work on Android 4.0, probably also on Android < 4.4. On default browsers they do not appear at all.</div>
