{% if globalMessages or globalSuccessMessages or globalErrorMessages %}
	<div class="container  margin-top--20">
	{% set TYPE = 'success' %}
	{% for msg in globalSuccessMessages %}
		<div class="alert alert--{{ TYPE }}">{{ msg|raw }}</div>
	{% endfor %}
	{% set TYPE = 'danger' %}
	{% for msg in globalMessages %}
		<div class="alert alert--{{ TYPE }}">{{ msg|raw }}</div>
	{% endfor %}
	{% for msg in globalErrorMessages %}
		<div class="alert alert--{{ TYPE }}">{{ msg|raw }}</div>
	{% endfor %}
	</div><!-- /.container -->
{% endif %}
