<div class="profile-widget">
  <img
    class="profile-widget__user-avatar"
    src="{{ BIACONFIG.context.user.USER_AVATAR_URL ? BIACONFIG.context.user.USER_AVATAR_URL : attribute(BIACONFIG.build.img, 'user-avatar.svg') }}"
    alt=""
  >
  <p class="profile-widget__username">{{ BIACONFIG.context.user.FIRST_NAME|raw ~ ' ' ~ BIACONFIG.context.user.LAST_NAME|raw }}</p>
  {# 200x150px max #}
  {% if BIACONFIG.context.user.COMPANY_LOGO_URL %}
    <img class="profile-widget__logo" src="{{ BIACONFIG.context.user.COMPANY_LOGO_URL }}" alt="">
  {% endif %}
  {% if BIACONFIG.context.user.PROFILE_COMPLETION_PERCENT < 100 %}
    <div class="progress-bar  profile-widget__progress-bar">
      <div class="progress-bar__bar" style="width: {{ BIACONFIG.context.user.PROFILE_COMPLETION_PERCENT }}%;"></div>
      <div class="progress-bar__border"></div>
    </div>
    <p class="profile-widget__progress-bar-caption">Profile Completion</p>
  {% endif %}
</div>
