<script>
	(function() {
		try {
			window.BIACONFIG = {{ BIACONFIG|json_encode(constant('JSON_NUMERIC_CHECK'))|raw }};
			console.log('%cJSON data set to window.BIACONFIG object is valid:', 'color: #090');
			console.log(window.BIACONFIG);
		} catch (error) {
			console.log('%cJSON data passed to window.BIACONFIG object is invalid:', 'color: #900');
			console.log(error);
		}
	})();
</script>

<script src="{{ attribute(BIACONFIG.build.js, 'codebase.js') }}" defer></script>
