{% if user.type == 1 or user.type == 3 or data.usertype == 1 or data.usertype == 3 %}
{% import '_macros/__menu.twig' as menu %}
<div class="site-wrapper__sidebar  js-site-sidebar  {{ BIACONFIG.state.IS_SITE_SIDEBAR_VISIBLE ? '' : 'is-hidden' }}">
  <div class="site-sidebar {# is-fixed #}">
    {% include '_partials/_profile-widget.twig' %}

    {{ menu.create('sidebar', _context) }}

    <img class="site-sidebar__logo" src="{{ attribute(BIACONFIG.build.img, 'spamiles-logo-primary.png') }}" alt="Ebeautytrade">
  </div>
</div>
{% endif %}

{% if user.type == 2 or user.type == 4 or data.usertype == 2 or data.usertype == 4 %}
{% import '_macros/__menu2.twig' as menu %}
<div class="site-wrapper__sidebar  js-site-sidebar  {{ BIACONFIG.state.IS_SITE_SIDEBAR_VISIBLE ? '' : 'is-hidden' }}">
  <div class="site-sidebar {# is-fixed #}">
    {% include '_partials/_profile-widget.twig' %}

    {{ menu.create('sidebar', _context) }}

    <img class="site-sidebar__logo" src="{{ attribute(BIACONFIG.build.img, 'spamiles-logo-primary.png') }}" alt="Ebeautytrade">
  </div>
</div>
{% endif %}