<!-- ########################
# 
# #Basic HTML structure
#
######################### -->
<a name="stickyBasic" id="stickyBasic" class="test-anchor"></a>
<p class="text--h3">Basic HTML structure</p>

<pre class="test-code-container"><code class="twig">
&lt;div class="sticky-wrapper"&gt;
  &lt;div class="sticky-wrapper__header  bg--gray-light"&gt;
    Sticky wrapper's header
  &lt;/div&gt;
  &lt;div class="sticky-wrapper__content-wrapper"&gt;
    &lt;div class="sticky-wrapper__content  bg--gray-lighter"&gt;
      Sticky wrapper's content
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="sticky-wrapper__footer  bg--gray-light"&gt;
    Sticky wrapper's footer
  &lt;/div&gt;
&lt;/div&gt;&lt;!-- /.sticky-wrapper --&gt;

</code></pre>

<blockquote class="test-code-example">
	<div class="sticky-wrapper  test-sticky-wrapper">
		<div class="sticky-wrapper__header  bg--gray-light">
			Sticky wrapper's header
		</div><!-- /.sticky-wrapper__header -->
		<div class="sticky-wrapper__content-wrapper">
			<div class="sticky-wrapper__content  bg--gray-lighter">
				Sticky wrapper's content
			</div><!-- /.sticky-wrapper__content -->
		</div><!-- /.sticky-wrapper__content-wrapper -->
		<div class="sticky-wrapper__footer  bg--gray-light">
			Sticky wrapper's footer
		</div><!-- /.sticky-wrapper__footer -->
	</div><!-- /.sticky-wrapper -->
</blockquote>

<div class="alert alert--info">Remember to set <code class="text--nowrap">sticky-wrapper</code>'s container height (either fixed or in %).</div>
