<!-- ########################
# 
# #Loader inside a sticky-wrapper
#
######################### -->
<a name="stickyLoader" id="stickyLoader" class="test-anchor"></a>
<p class="text--h3">Loader inside a <code class="text--nowrap">sticky-wrapper</code></p>
<p class="margin-top--10">When you need to place a loader inside this component, wrap it around <code class="text--nowrap">sticky-wrapper__loader</code> container:</p>

<pre class="test-code-container"><code class="twig">
&lt;div class="sticky-wrapper sticky-wrapper--centered-content"&gt;
  &lt;div class="sticky-wrapper__header  bg--gray-light"&gt;
    Sticky wrapper's header
  &lt;/div&gt;
  &lt;div class="sticky-wrapper__content-wrapper"&gt;
    &lt;div class="sticky-wrapper__content  bg--gray-lighter"&gt;
      &lt;div class="sticky-wrapper__loader  has-loader"&gt;
        {{ '{{' }} loader.create({
          'COLOR': 'gray-light',
          'BG_COLOR': 'gray-lighter',
          'SIZE': 50
        }) {{ '}}' }}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="sticky-wrapper__footer  bg--gray-light"&gt;
    Sticky wrapper's footer
  &lt;/div&gt;
&lt;/div&gt;&lt;!-- /.sticky-wrapper --&gt;

</code></pre>

<blockquote class="test-code-example">
	<div class="[ sticky-wrapper sticky-wrapper--centered-content ]  test-sticky-wrapper">
		<div class="sticky-wrapper__header  bg--gray-light">
			Sticky wrapper's header
		</div><!-- /.sticky-wrapper__header -->
		<div class="sticky-wrapper__content-wrapper">
			<div class="sticky-wrapper__content  bg--gray-lighter">
				<div class="sticky-wrapper__loader  has-loader">
					{{ loader.create({
						'COLOR': 'gray-light',
						'BG_COLOR': 'gray-lighter',
						'SIZE': 50
					}) }}
				</div>
			</div><!-- /.sticky-wrapper__content -->
		</div><!-- /.sticky-wrapper__content-wrapper -->
		<div class="sticky-wrapper__footer  bg--gray-light">
			Sticky wrapper's footer
		</div><!-- /.sticky-wrapper__footer -->
	</div><!-- /.sticky-wrapper -->
</blockquote>
