<!-- ########################
# 
# #Nested sticky wrappers
#
######################### -->
<a name="stickyNested" id="stickyNested" class="test-anchor"></a>
<p class="text--h3">Nested sticky wrappers</p>
<p class="margin-top--10">You can nest sticky wrapper inside another sticky wrapper if needed - add <code class="text--nowrap">sticky-wrapper</code> class to <code class="text--nowrap">sticky-wrapper__content</code> element:</p>

<pre class="test-code-container"><code class="twig">
&lt;div class="sticky-wrapper"&gt;
  &lt;div class="sticky-wrapper__header  bg--gray"&gt;
    Sticky wrapper's header
  &lt;/div&gt;
  &lt;div class="sticky-wrapper__content-wrapper"&gt;
    &lt;div class="[ sticky-wrapper__content sticky-wrapper__content--fixed-height ]  [ sticky-wrapper ]  bg--gray-lighter"&gt;
      &lt;div class="sticky-wrapper__header  bg--gray-light"&gt;
        Nested sticky wrapper's header
      &lt;/div&gt;
      &lt;div class="sticky-wrapper__content-wrapper"&gt;
        &lt;div class="[ sticky-wrapper__content sticky-wrapper__content--fixed-height ]  bg-gray-lighter"&gt;
          &lt;strong&gt;Nested sticky wrapper's content&lt;/strong&gt;: lorem ipsum dolor (…)
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;&lt;!-- /.sticky-wrapper__content, /.sticky-wrapper --&gt;
  &lt;/div&gt;
  &lt;div class="sticky-wrapper__footer  bg--gray"&gt;
    Sticky wrapper's footer
  &lt;/div&gt;
&lt;/div&gt;&lt;!-- /.sticky-wrapper --&gt;

</code></pre>

<blockquote class="test-code-example">
	<div class="sticky-wrapper  test-sticky-wrapper">
		<div class="sticky-wrapper__header  bg--gray">
			Sticky wrapper's header
		</div>
		<div class="sticky-wrapper__content-wrapper">
			<div class="[ sticky-wrapper__content sticky-wrapper__content--fixed-height ]  [ sticky-wrapper ]  bg--gray-lighter">
				<div class="sticky-wrapper__header  bg--gray-light">
					Nested sticky wrapper's header
				</div>
				<div class="sticky-wrapper__content-wrapper">
					<div class="[ sticky-wrapper__content sticky-wrapper__content--fixed-height ]  bg-gray-lighter">
						<strong>Nested sticky wrapper's content</strong>: lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel orci quis nunc consequat placerat sed sed ex. Nam laoreet sollicitudin ante, nec iaculis odio sagittis hendrerit. Donec venenatis tortor massa, quis euismod dolor feugiat ut. Proin sed erat dui. In sollicitudin sem velit, vel facilisis orci interdum eget. Pellentesque ultrices convallis justo porta consectetur. Suspendisse mi dolor, eleifend a nulla sed, facilisis varius est. Maecenas convallis maximus orci in feugiat. Fusce dapibus velit et ante ullamcorper, et pharetra turpis rhoncus. Proin libero risus, fringilla eget justo vel, sagittis rhoncus erat. Maecenas iaculis eleifend urna, sed tempor urna commodo sit amet. Phasellus dictum varius orci. Pellentesque dui ipsum, hendrerit ac ullamcorper ut, mattis nec felis. Sed euismod sollicitudin dui ut ornare. Aliquam erat volutpat. Vivamus euismod, leo a mollis convallis, libero ipsum hendrerit odio, in fermentum dolor enim id felis. Maecenas vel dolor sollicitudin, ultrices lacus vitae, facilisis augue. Praesent commodo id augue quis scelerisque. Mauris sodales neque nisi. Cras consequat sagittis placerat. Pellentesque viverra lectus nunc, nec convallis nisl sollicitudin sed. Aliquam non mollis nisl. Duis in ultrices felis. Nam vel nisl mattis, sollicitudin nunc eget, venenatis lorem. Curabitur tempus nisl id orci viverra pellentesque. Vestibulum eget consectetur lorem. Suspendisse commodo ultricies egestas. Praesent id ipsum maximus, condimentum tortor vitae, malesuada libero. Etiam vitae justo pulvinar, congue augue et, euismod lectus. Praesent sagittis consectetur rhoncus.
					</div>
				</div>
			</div><!-- /.sticky-wrapper__content, /.sticky-wrapper -->
		</div>
		<div class="sticky-wrapper__footer  bg--gray">
			Sticky wrapper's footer
		</div>
	</div><!-- /.sticky-wrapper -->
</blockquote>
