{% import '_macros/__forms.twig' as forms %}

{{ listingFilters.start({
  'FORM_ACTION':  '/back_office/loremipsum' ~ (debug ? '?debug=1')
}) }}

  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'text',
      'SIZE': 'm',
      'PLACEHOLDER': 'Search by Description',
      'LABEL': 'Description',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true
    }) }}
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'text',
      'SIZE': 'm',
      'PLACEHOLDER': 'Search by SKU',
      'LABEL': 'SKU',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true
    }) }}
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'text',
      'SIZE': 'm',
      'PLACEHOLDER': 'Search by Barcode',
      'LABEL': 'Barcode',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true
    }) }}
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'select',
      'SIZE': 'm',
      'PLACEHOLDER': 'Filter by Category',
      'LABEL': 'Category',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true
    }) }}
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'select',
      'SIZE': 'm',
      'PLACEHOLDER': 'Filter by Subcategory',
      'LABEL': 'Subcategory',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true
    }) }}
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'select',
      'SIZE': 'm',
      'PLACEHOLDER': 'New Arrival',
      'LABEL': 'New Arrival',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true
    }) }}
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'select',
      'SIZE': 'm',
      'PLACEHOLDER': 'Filter by Status',
      'LABEL': 'Status',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true
    }) }}
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-2">
    {{ forms.group({
      'TYPE': 'select',
      'SIZE': 'm',
      'PLACEHOLDER': 'Filter by Brand',
      'LABEL': 'Brand',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true
    }) }}
  </div>

{{ listingFilters.end({
  'actions': {
    'FILTER_BUTTON': true,
    'RESET_HREF': '#',
    'EXPORT_BUTTON': true
  }
}) }}
