{% extends '_layouts/_default.twig' %}
{% import '_macros/__listing-filters.twig' as listingFilters %}
{% import '_macros/__listing-table.twig' as listingTable %}

{% block content %}
  <div class="container  [ margin-top--20 margin-bottom--30 ]">
    {% include 'listingPage/_filters.twig' %}
  </div>

  <div class="container  margin-top--20">
    {{ listingTable.listingHeader({
      'TABLE_ID': 'listingTable',
      'TITLE': 'Listing title',
      'buttons': [{
        'HREF': '#',
        'LABEL': 'Add new',
        'buttonClasses': ['btn--primary'],
        'iconClasses': [
          'icon--o-plus',
          'icon--white'
        ]
      }]
    }) }}
      {{ listingTable.table({
        'TABLE_ID': 'listingTable',
        'structure': [
          {'TYPE': 'checkbox'},
          {'HEADER_CONTENT': 'Trade Name'},
          {'HEADER_CONTENT': 'Buyer Name'},
          {
            'TYPE': 'email',
            'HEADER_CONTENT': 'Trade Name',
            'HAS_SORTING': true
          },
          {'HEADER_CONTENT': 'Country'},
          {'HEADER_CONTENT': 'City'},
          {
            'TYPE': 'datetime',
            'HEADER_CONTENT': 'Date/Time Created'
          },
          {
            'TYPE': 'icon-actions',
            'HEADER_CONTENT': 'Actions',
            'actions': [
              {
                'classes': [],
                'HREF': '/mark/${rowId}',
                'LABEL': 'Mark as completed',
                'iconClasses': [
                  'icon--white',
                  'icon--list-completed'
                ],
                'data': {
                  'somehow-needed-id': '${rowId}'
                }
              },
              {
                'classes': [],
                'HREF': '/edit/${rowId}',
                'LABEL': 'Edit',
                'iconClasses': [
                  'icon--white',
                  'icon--pencil',
                  'icon--10'
                ]
              },
              {
                'classes': [],
                'HREF': '/delete/${rowId}',
                'LABEL': 'Delete',
                'iconClasses': [
                  'icon--white',
                  'icon--x',
                  'icon--10'
                ],
                'CONFIRM_MSG': 'Are you sure you want to delete this product? This cannot be undone.'
              },
              {
                'classes': [],
                'HREF': '/view/${rowId}',
                'LABEL': 'View',
                'iconClasses': [
                  'icon--white',
                  'icon--eye'
                ]
              }
            ]
          }
        ],
        'data': [
          {
            'rowId': 1,
            'columns': [
              'Versace Spa',
              'Chester Field',
              'matt.smith@rumail.hotmail.ro',
              'United Arab Emirates',
              'Abu Dhabi',
              'October 14, 2017 05:04 PM'
            ]
          },
          {
            'rowId': 2,
            'columns': [
              'Versace Spa 2',
              'Chester Field 2',
              'matt.smith@rumail.hotmail.ro',
              'United Arab Emirates 2',
              'Abu Dhabi 2',
              'October 15, 2017 05:04 PM'
            ]
          }
        ]
      }) }}
    {{ listingTable.listingFooter({
      'TABLE_ID': 'listingTable',
      'bulkActions': [
        {
          'TEXT': 'Action 1',
          'VALUE': 1
        },
        {
          'TEXT': 'Action 2',
          'VALUE': 2
        }
      ],
      'pagination': pagination
    }) }}
  </div>
{% endblock %}
