{% extends '_layouts/_default.twig' %}
{% import '_macros/__forms.twig' as forms %}
{% import '_macros/__status-label.twig' as statusLabel %}
{% import '_macros/__listing-table.twig' as listingTable %}

{% block content %}
  {{ forms.start({
    'ACTION': '/back_office/orders/save' ~ (debug ? '?debug=1'),
    'METHOD': 'post',
    'ENCTYPE': 'multipart/form-data',
    'AUTOCOMPLETE': 'off'
  }) }}

  {{ forms.group({
      'TYPE': 'hidden',
      'SIZE': 'm',
      'GROUP_WRAPPER': 'div',
      'NAME': 'id',
      'VALUE': data.order.id_orders
  }) }}

  <div class="container">
    <div class="panel panel--content-padding-big  [ margin-top--20 margin-bottom--30 ]">
      <div class="panel__header">
        <h3 class="panel__title">{{ seo.PAGE_TITLE|raw }}</h3>
        <div class="panel__header-actions">
          <a class="[ btn btn--m btn--slate-light ]  [ text--uppercase text--bold ]" href="{{ links.ordersListing.URL }}"><span>Go to orders list</span><span class="icon icon--white icon--wedge icon--cw-90"></span></a>
        </div>
      </div>
      <div class="panel__content">

        <fieldset>
          <legend class="bg--white">Order Details</legend>

          <div class="horizontal-form-group horizontal-form-group--static  margin-top--20">
            <label class="horizontal-form-group__label">Sales Order No:</label>
            <div class="horizontal-form-group__item">{{ data.order.id_orders }}</div>
          </div>

          <div class="horizontal-form-group horizontal-form-group--static">
            <label class="horizontal-form-group__label">Trade Name:</label>
            <div class="horizontal-form-group__item">{{ data.buyer.trading_name }}</div>
          </div>

          <div class="horizontal-form-group horizontal-form-group--static">
            <label class="horizontal-form-group__label">Buyer Name:</label>
            <div class="horizontal-form-group__item"><a href="#" class="js-md-open" data-md-id="buyerView" data-md-ac-url="{{ links.buyerModal.URL ~ '/' ~ data.buyer.id_user }}">{{ data.buyer.name }}</a></div>
          </div>
  
          <div class="horizontal-form-group horizontal-form-group--static">
            <label class="horizontal-form-group__label">Date/Time Created:</label>
            <div class="horizontal-form-group__item">
              <span class="text--nowrap">{{ data.order.created_date|date('F j, Y') }}</span> • <span class="text--nowrap">{{ data.order.created_date|date('h:i A') }}</span>
            </div>
          </div>

          <div class="horizontal-form-group horizontal-form-group--static">
            <label class="horizontal-form-group__label">Order Status:</label>
            <div class="horizontal-form-group__item">
              {{ statusLabel.order({
                'STATUS_CODE': data.order.status
              }) }}
            </div>
          </div>
  
          <div class="horizontal-form-group horizontal-form-group--static">
            <label class="horizontal-form-group__label">Payment Method:</label>
            <div class="horizontal-form-group__item">{{ data.order.payment_method_readable ? data.order.payment_method_readable : 'not specified' }}</div>
          </div>

          <div class="horizontal-form-group horizontal-form-group--static">
            <label class="horizontal-form-group__label">Payment Status:</label>
            <div class="horizontal-form-group__item">
              {{ statusLabel.payment({
                'STATUS_CODE': data.order.payment_status
              }) }}
            </div>
          </div>
        </fieldset>

        <fieldset class="margin-bottom--20">
          <legend class="bg--white">Ordered Items</legend>
        </fieldset>
        {{ listingTable.table({
          'TABLE_ID': 'listingTable',
          'structure': [
            {
              'HEADER_CONTENT': '#',
              'thClasses': ['text--center'],
              'tdClasses': ['text--center']
            },
            {
              'HEADER_CONTENT': 'SKU',
              'thClasses': ['text--center'],
              'tdClasses': ['text--center']
            },
            {
              'HEADER_CONTENT': 'Barcode',
              'thClasses': ['text--center'],
              'tdClasses': ['text--center']
            },
            {
              'TYPE': 'name',
              'HEADER_CONTENT': 'Product Name'
            },
            {
              'HEADER_CONTENT': 'Price<br>(AED)',
              'thClasses': ['text--center'],
              'tdClasses': ['text--center']
            },
            {
              'HEADER_CONTENT': 'Qty',
              'thClasses': ['text--center'],
              'tdClasses': ['text--center']
            },
            {
              'HEADER_CONTENT': 'Total<br>(AED)',
              'thClasses': ['text--center'],
              'tdClasses': ['text--center']
            },
            {
              'TYPE': 'icon-actions',
              'HEADER_CONTENT': 'Actions',
              'actions': [
                {
                  'classes': [],
                  'HREF': links.externalProductView.URL ~ '/${rowId}',
                  'LABEL': 'View',
                  'iconClasses': [
                    'icon--white',
                    'icon--eye'
                  ],
                  'TARGET': '_blank'
                }
              ]
            }
          ],
          'data': data.details
        }) }}

        {#
            //two columns hidden: subtotal and discount
            {
              'HEADER_CONTENT': 'Subtotal<br>(AED)',
              'thClasses': ['text--center'],
              'tdClasses': ['text--center']
            },
            {
              'HEADER_CONTENT': 'Discount',
              'thClasses': ['text--center'],
              'tdClasses': ['text--center']
            },
        #}
        <fieldset class="margin-top--20  js-math" data-math-id="shipping" data-math-type="money">
          <div class="horizontal-form-group horizontal-form-group--static">
            <label class="horizontal-form-group__label">Sub Total:</label>
            <div class="horizontal-form-group__item">{{ data.order.total_price_currency }} AED</div>
          </div>
  
          <div class="horizontal-form-group [ width-xs--50 width-sm--50 width-md--50 width-lg--35 width-xl--25 ]">
            <label class="horizontal-form-group__label">Discount:</label>
            <div class="form-combined-group">
              {{ forms.group({
                  'TYPE': 'number',
                  'SIZE': 'm',
                  'GROUP_WRAPPER': 'div',
                  'inputClasses': [
                    'text--right',
                    'js-math__subtract-value'
                  ],
                  'NAME': 'discount',
                  'VALUE': data.order.discount
              }) }}
              <div class="form-group-addon form-group-addon--m form-group-addon--right form-group-addon--stylized">
                AED
              </div>
            </div>
          </div>

          {{ forms.input({
            'TYPE': 'hidden',
            'inputClasses': 'js-math__original-value',
            'VALUE': data.order.total_price_currency
          }) }}

          <div class="horizontal-form-group  [ width-xs--50 width-sm--50 width-md--50 width-lg--35 width-xl--25 ]">
            <label class="horizontal-form-group__label">Shipping:</label>
            <div class="form-combined-group">
              {{ forms.group({
                'TYPE': 'number',
                'SIZE': 'm',
                'GROUP_WRAPPER': 'div',
                'inputClasses': [
                  'text--right',
                  'js-math__add-value'
                ],
                'NAME': 'shipping_charge_currency',
                'VALUE': data.order.shipping_charge_currency
              }) }}
              <div class="form-group-addon form-group-addon--m form-group-addon--right form-group-addon--stylized">
                AED
              </div>
            </div>
          </div>
  
          <div class="horizontal-form-group horizontal-form-group--static">
            <label class="horizontal-form-group__label">Amount:</label>
            <div class="horizontal-form-group__item"><span class="js-math__result-value">{{ data.order.amount_currency }}</span> AED</div>
          </div>
        </fieldset>


        <fieldset>
          <legend class="bg--white">Remarks & Status Change</legend>

          <div class="[ width-xs--100 width-sm--75 width-md--75 width-lg--50 width-xl--50 ]  margin-top--20  js-calc-length" data-cl-id="productBrief" data-cl-limit="300" data-cl-limit-decorator="text--secondary text--bolder">
            <div class="horizontal-form-group">
              <label class="horizontal-form-group__label">Remarks:</label>
              {{ forms.group({
                'TYPE': 'textarea',
                'SIZE': 'm',
                'GROUP_WRAPPER': 'div',
                'inputClasses': [
                  'js-calc-length__source'
                ],
                'IS_AUTOSIZED': true,
                'MAXLENGTH': 300,
                'NAME': 'comments',
                'VALUE': data.order.comments
              }) }}
            </div>
            <div class="[ form-group-info form-group-info--horizontal ]  text--right">
              <span class="js-calc-length__counter">0</span> / 300 characters
            </div>
          </div>

          <div class="horizontal-form-group  [ width-xs--100 width-sm--50 width-md--50 width-lg--35 width-xl--35 ]">
            <label class="horizontal-form-group__label">Set Payment Method:</label>
              {{ forms.group({
                  'TYPE': 'select',
                  'SIZE': 'm',
                  'GROUP_WRAPPER': 'div',
                  'PLACEHOLDER': 'Not specified',
                  'NAME': 'payment_method',
                  'options': data.dictionary.payment_method
              }) }}
          </div>

          <div class="horizontal-form-group  [ width-xs--100 width-sm--50 width-md--50 width-lg--35 width-xl--35 ]">
            <label class="horizontal-form-group__label">Set Order Status:</label>
            {{ forms.group({
              'TYPE': 'select',
              'SIZE': 'm',
              'GROUP_WRAPPER': 'div',
              'NAME': 'status',
              'options': data.dictionary.status
            }) }}
          </div>

          <div class="horizontal-form-group  [ width-xs--100 width-sm--50 width-md--50 width-lg--35 width-xl--35 ]">
            <label class="horizontal-form-group__label">Set Payment Status:</label>
            {{ forms.group({
              'TYPE': 'select',
              'SIZE': 'm',
              'GROUP_WRAPPER': 'div',
              'NAME': 'payment_status',
              'options':data.dictionary.payment_status
            }) }}
          </div>

        </fieldset>

        <div class="edit-actions">
          <div class="btn-group">
            <button class="[ btn btn--l btn--primary ]  [ text--uppercase text--bold ]  js-unload-prevention-whitelisted" type="submit"><span class="icon icon--white icon--tick"></span><span>Save changes</span></button>
            <a class="[ btn btn--l btn--secondary ]  [ text--uppercase text--bold ]" href="{{ links.ordersListing.URL }}"><span class="icon icon--white icon--x"></span><span>Cancel</span></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  {{ forms.end({}) }}
{% endblock %}

{% block modals %}
  {{ parent() }}
  {% include '_modals/_buyer-view.twig' %}
{% endblock %}
