{% extends '_layouts/_default.twig' %}
{% import '_macros/__forms.twig' as forms %}

{% block sidebar %}
{% endblock %}

{% block header %}
{% endblock %}

{% block message %}
{% endblock %}

{% block content %}
  <div class="container  logreg">
    <div class="logreg__logo">
      <img class="logreg__logo-image" style="width:auto;" src="{{ attribute(BIACONFIG.build.img, 'spamiles-logo-primary.png') }}" alt="Spamiles">
    </div>

    {% include '_partials/_message.twig' %}

    <div class="[ panel panel--content-padding ]  logreg-panel">
      <div class="panel__header"><h3 class="panel__title">Backoffice login</h3></div>
      <div class="panel__content">
        {{ forms.start({
          'METHOD': 'post',
          'ACTION': '/back_office/home/login_validate' ~ (debug ? '?debug=1')
        }) }}

          {{ forms.group({
            'TYPE': 'text',
            'SIZE': 'm',
            'ICON_LEFT': 'icon--user icon--slate-light',
            'PLACEHOLDER': 'Enter your username',
            'LABEL': 'Username',
            'NAME': 'username',
            'VALUE': data.username,
            'STATE': errors.username ? 'danger',
            'MSG': errors.username
          }) }}

          {{ forms.group({
            'TYPE': 'password',
            'SIZE': 'm',
            'ICON_LEFT': 'icon--unlock icon--slate-light',
            'PLACEHOLDER': 'Enter your password',
            'LABEL': 'Password',
            'NAME': 'pass',
            'STATE': errors.pass ? 'danger',
            'MSG': errors.pass
          }) }}

          <div class="text--center">
            <button style="background-color:#d11e4d;" class="[ btn btn--m btn--primary ]  [ text--uppercase text--bold ]" type="submit"><span class="icon icon--white icon--tick"></span><span>Login</span></button>
          </div>

          <div class="text--center  margin-top--20">
            <a style="color:#d11e4d;" href="{{ links.forgottenPasswordView.URL }}">Forgot your password?</a>
          </div>
        {{ forms.end({}) }}
      </div>
    </div>
  </div>
{% endblock %}
