<a name="alerts" id="alerts" class="test-anchor"></a>
<div class="container">
	<p class="text--h2">Alerts</p>
	
	<blockquote class="test-code-example">

		<div class="alert alert--success">Lorem ipsum dolor sit amet, <a href="#">this is a hyperlink</a> elit.</div>

		<div class="alert alert--warning">Lorem ipsum dolor sit amet, <a href="#">this is a hyperlink</a> elit.</div>

		<div class="alert alert--danger">Lorem ipsum dolor sit amet, <a href="#">this is a hyperlink</a> elit.</div>

		<div class="alert alert--info">Lorem ipsum dolor sit amet, <a href="#">this is a hyperlink</a> elit. Phasellus orci eros, rutrum eget blandit vitae, auctor semper ex. Suspendisse potenti. Aliquam erat volutpat. Donec mollis mattis nulla, ut semper urna rutrum vel.</div>

	</blockquote>

	<pre class="test-code-container"><code class="html">
&lt;div class="alert alert--success"&gt;Lorem ipsum dolor sit amet, &lt;a href="#"&gt;this is a hyperlink&lt;/a&gt; elit.&lt;/div&gt;

&lt;div class="alert alert--warning"&gt;Lorem ipsum dolor sit amet, &lt;a href="#"&gt;this is a hyperlink&lt;/a&gt; elit.&lt;/div&gt;

&lt;div class="alert alert--danger"&gt;Lorem ipsum dolor sit amet, &lt;a href="#"&gt;this is a hyperlink&lt;/a&gt; elit.&lt;/div&gt;

&lt;div class="alert alert--info"&gt;Lorem ipsum dolor sit amet, &lt;a href="#"&gt;this is a hyperlink&lt;/a&gt; elit. (…)&lt;/div&gt;
	</code></pre>
</div><!-- ./container -->
