<a name="buttons" id="buttons" class="test-anchor"></a>
<div class="container">
	<p class="text--h2">Buttons</p>

	<nav class="margin-top--15">
		<p><strong>Subsections:</strong></p>
		<ol>
			<li><a href="#buttonsTags">Available tags</a></li>
			<li><a href="#buttonsVariants">Button variants</a></li>
			<li><a href="#buttonsSizes">Button sizes</a></li>
			<li><a href="#buttonsBlock">Block buttons</a></li>
			<li><a href="#buttonsIcons">Icons on buttons</a></li>
			<li><a href="#buttonsLoaders">Loaders on buttons</a></li>
			<li><a href="#buttonsDisabled">Disabled buttons</a></li>
			<li><a href="#buttonsLoading">Buttons during loading time</a></li>
			<li><a href="#buttonsText">Text modifiers</a></li>
		</ol>
	</nav>

	<hr>

	{% include 'testPage/buttons/_tags.twig' %}

	<hr>

	{% include 'testPage/buttons/_variants.twig' %}

	<hr>

	{% include 'testPage/buttons/_sizes.twig' %}

	<hr>

	{% include 'testPage/buttons/_block.twig' %}

	<hr>

	{% include 'testPage/buttons/_icons.twig' %}

	<hr>

	{% include 'testPage/buttons/_loaders.twig' %}

	<hr>

	{% include 'testPage/buttons/_disabled.twig' %}

	<hr>

	{% include 'testPage/buttons/_loading.twig' %}

	<hr>

	{% include 'testPage/buttons/_text.twig' %}

</div><!-- ./container -->
