<a name="colors" id="colors" class="test-anchor"></a>
<div class="container">
	<p class="text--h2">Colors</p>

	<nav class="margin-top--15">
		<p><strong>Subsections:</strong></p>
		<ol>
			<li><a href="#colorsBackgrounds">Backgrounds</a></li>
			<li><a href="#colorsText">Text</a></li>
		</ol>
	</nav>

	<hr>

	<a name="colorsBackgrounds" id="colorsBackgrounds" class="test-anchor"></a>
	<p class="text--h3">Backgrounds</p>
	<div class="clearfix margin-top--10">
		<div class="test-color-tile bg--primary-dark">.bg--primary-dark, .bg--info</div>
		<div class="test-color-tile bg--primary">.bg--primary</div>
		<div class="test-color-tile bg--primary-light">.bg--primary-light</div>
		<div class="test-color-tile bg--secondary-dark">.bg--secondary-dark</div>
		<div class="test-color-tile bg--secondary">.bg--secondary, .bg--danger</div>
		<div class="test-color-tile bg--secondary-light">.bg--secondary-light</div>
		<div class="test-color-tile bg--tertiary-dark">.bg--tertiary-dark</div>
		<div class="test-color-tile bg--tertiary">.bg--tertiary</div>
		<div class="test-color-tile bg--quaternary">.bg--quaternary, .bg--success</div>
		<div class="test-color-tile bg--quinary">.bg--quinary, .bg--danger</div>
		<div class="test-color-tile bg--slate-darker">.bg--slate-darker</div>
		<div class="test-color-tile bg--slate-dark">.bg--slate-dark</div>
		<div class="test-color-tile bg--slate">.bg--slate</div>
		<div class="test-color-tile bg--slate-light">.bg--slate-light</div>
		<div class="test-color-tile bg--slate-lighter">.bg--slate-lighter</div>
		<div class="test-color-tile bg--black">.bg--black</div>
		<div class="test-color-tile bg--gray-darker">.bg--gray-darker</div>
		<div class="test-color-tile bg--gray-dark">.bg--gray-dark</div>
		<div class="test-color-tile bg--gray">.bg--gray</div>
		<div class="test-color-tile bg--gray-light">.bg--gray-light</div>
		<div class="test-color-tile bg--gray-lighter">.bg--gray-lighter</div>
		<div class="test-color-tile bg--white">.bg--white</div>
		<div class="test-color-tile bg--facebook">.bg--facebook</div>
		<div class="test-color-tile bg--googleplus">.bg--googleplus</div>
		<div class="test-color-tile bg--linkedin">.bg--linkedin</div>
		<div class="test-color-tile bg--twitter">.bg--twitter</div>
	</div>

	<hr>

	<a name="colorsText" id="colorsText" class="test-anchor"></a>
	<p class="text--h3">Text</p>
	<div class="clearfix margin-top--10">
		<div class="test-color-tile test-color-tile--bordered text--primary-dark">.text--primary-dark, .text--info</div>
		<div class="test-color-tile test-color-tile--bordered text--primary">.text--primary</div>
		<div class="test-color-tile test-color-tile--bordered text--primary-light">.text--primary-light</div>
		<div class="test-color-tile test-color-tile--bordered text--secondary-dark">.text--secondary-dark</div>
		<div class="test-color-tile test-color-tile--bordered text--secondary">.text--secondary, .text--danger</div>
		<div class="test-color-tile test-color-tile--bordered text--secondary-light">.text--secondary-light</div>
		<div class="test-color-tile test-color-tile--bordered text--tertiary-dark">.text--tertiary-dark</div>
		<div class="test-color-tile test-color-tile--bordered text--tertiary">.text--tertiary</div>
		<div class="test-color-tile test-color-tile--bordered text--quaternary">.text--quaternary, .text--success</div>
		<div class="test-color-tile test-color-tile--bordered text--quinary">.text--quinary, .text--danger</div>
		<div class="test-color-tile test-color-tile--bordered text--slate-darker">.text--slate-darker</div>
		<div class="test-color-tile test-color-tile--bordered text--slate-dark">.text--slate-dark</div>
		<div class="test-color-tile test-color-tile--bordered text--slate">.text--slate</div>
		<div class="test-color-tile test-color-tile--bordered text--slate-light">.text--slate-light</div>
		<div class="test-color-tile test-color-tile--bordered text--slate-lighter">.text--slate-lighter</div>
		<div class="test-color-tile test-color-tile--bordered text--black">.text--black</div>
		<div class="test-color-tile test-color-tile--bordered text--gray-darker">.text--gray-darker</div>
		<div class="test-color-tile test-color-tile--bordered text--gray-dark">.text--gray-dark</div>
		<div class="test-color-tile test-color-tile--bordered text--gray">.text--gray</div>
		<div class="test-color-tile test-color-tile--bordered text--gray-light">.text--gray-light</div>
		<div class="test-color-tile test-color-tile--bordered text--gray-lighter">.text--gray-lighter</div>
		<div class="test-color-tile test-color-tile--bordered text--white">.text--white</div>
		<div class="test-color-tile test-color-tile--bordered text--facebook">.text--facebook</div>
		<div class="test-color-tile test-color-tile--bordered text--googleplus">.text--googleplus</div>
		<div class="test-color-tile test-color-tile--bordered text--linkedin">.text--linkedin</div>
		<div class="test-color-tile test-color-tile--bordered text--twitter">.text--twitter</div>
	</div>
</div><!-- /.container -->
