{% import '_macros/__forms.twig' as forms %}

<a name="forms" id="forms" class="test-anchor"></a>
<div class="container">
	<p class="text--h2">Forms</p>
	
	<nav class="margin-top--15">
		<p><strong>Subsections:</strong></p>
		<ol>
			<li><a href="#formsUsage">Macros usage</a></li>
			<li><a href="#formsStart">Starting a form</a></li>
			<li><a href="#formsEnd">Ending a form</a></li>
			<li><a href="#formsInputTypes">Input types & variants</a></li>
			<li><a href="#formsInputHidden">Hidden input</a></li>
			<li><a href="#formsControlSizes">Control sizes</a></li>
			<li><a href="#formsControlStates">Control states</a></li>
			<li><a href="#formsValidationStates">Validation control states & messages</a></li>
			<li><a href="#formsValidationMessages">Rendered validation messages with links</a></li>
			<li><a href="#formsCombinedInputGroup">Combined input group</a></li>
			<li><a href="#formsVerticalAlign">Form group vertical align to buttons</a></li>
			<li><a href="#formsInlineGroup">Inline form group</a></li>
			<li><a href="#formsDarkBackground">Dark background</a></li>
			<li><a href="#formsIcons">Icons in form controls</a></li>
			<li><a href="#formsId">Setting form control's ID</a></li>
			<li><a href="#formsClasses">Setting additional control & form group classes</a></li>
			<li><a href="#formsAutocomplete">Setting text form control's <code>autocomplete</code> attribute</a></li>
			<li><a href="#formsAutofocus">Setting form control's <code>autofocus</code> attribute</a></li>
			<li><a href="#formsNumber">Setting `number`'s <code>min</code>, <code>max</code> & <code>step</code> attributes</a></li>
			<li><a href="#formsRenderUnescaped"><code>RENDER_UNESCAPED</code> flag</a></li>
			<li><a href="#formsDataAttributes">Usage of <code>data-</code> attributes in form controls</a></li>
			<li><a href="#formsJsTemplates">Usage of form controls in JS templates</a></li>
			<li><a href="#formsAlternativeContainer">Alternative form group container</a></li>
			<li><a href="#formsControlManualInit">Manual init of form control</a></li>
		</ol>
	</nav>

	<hr>

	{% include 'testPage/forms/_usage.twig' %}

	<hr>

	{% include 'testPage/forms/_form-start.twig' %}

	<hr>

	{% include 'testPage/forms/_form-end.twig' %}

	<hr>

	{% include 'testPage/forms/_input-types.twig' %}

	<hr>

	{% include 'testPage/forms/_hidden-input.twig' %}

	<hr>

	{% include 'testPage/forms/_control-sizes.twig' %}

	<hr>

	{% include 'testPage/forms/_control-states.twig' %}

	<hr>

	{% include 'testPage/forms/_validation-states.twig' %}

	<hr>

	{% include 'testPage/forms/_validation-msgs-links.twig' %}

	<hr>

	{% include 'testPage/forms/_combined-group.twig' %}

	<hr>

	{% include 'testPage/forms/_vertical-align.twig' %}

	<hr>

	{% include 'testPage/forms/_inline-group.twig' %}

	<hr>

	{% include 'testPage/forms/_dark-background.twig' %}

	<hr>

	{% include 'testPage/forms/_icons.twig' %}

	<hr>

	{% include 'testPage/forms/_id.twig' %}

	<hr>

	{% include 'testPage/forms/_classes.twig' %}

	<hr>

	{% include 'testPage/forms/_autocomplete.twig' %}

	<hr>

	{% include 'testPage/forms/_autofocus.twig' %}

	<hr>

	{% include 'testPage/forms/_number.twig' %}

	<hr>

	{% include 'testPage/forms/_render-unescaped.twig' %}

	<hr>

	{% include 'testPage/forms/_data-attributes.twig' %}

	<hr>

	{% include 'testPage/forms/_js-templates.twig' %}

	<hr>

	{% include 'testPage/forms/_alternative-container.twig' %}

	<hr>

	{% include 'testPage/forms/_manual-init.twig' %}

</div><!-- ./container -->
