<a name="grid" id="grid" class="test-anchor"></a>
<div class="container">
	<p class="text--h2">Grid system</p>
	<p class="margin-top--15">We use Bootstrap 3 grid with minor modifications. Use <a href="http://getbootstrap.com/css/#grid" target="_blank">Bootstrap guide</a> to learn how to use this grid (all features are supported).</p>
	<p class="margin-top--10">Below you'll find all Bootstrap examples to control any corrupted behaviour.</p>
	
	<div class="[ alert alert--info ]  margin-top--15">In addition to <code>xs</code>, <code>sm</code>, <code>md</code> and <code>lg</code> breakpoints, this codebase has been extended with <code>xl</code> breakpoint. It's usage is the same as with all the others.</div>

	<div class="test-box">Full-width container inside a .container div</div>

	<div class="row">
		<div class="col-xs-6">
			<div class="test-box">Full-width container inside a .col-xs-6 div</div>
		</div>
		<div class="col-xs-6">
			<div class="test-box">Full-width container inside a .col-xs-6 div</div>
		</div>
	</div>

	<div class="row test-show-grid">
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	</div>
	<div class="row test-show-grid">
	  <div class="col-md-8">.col-md-8</div>
	  <div class="col-md-4">.col-md-4</div>
	</div>
	<div class="row test-show-grid">
	  <div class="col-md-4">.col-md-4</div>
	  <div class="col-md-4">.col-md-4</div>
	  <div class="col-md-4">.col-md-4</div>
	</div>
	<div class="row test-show-grid">
	  <div class="col-md-6">.col-md-6</div>
	  <div class="col-md-6">.col-md-6</div>
	</div>

	<!-- Stack the columns on small screen by making one full-width and the other half-width -->
	<div class="row test-show-grid">
	  <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
	  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
	</div>

	<!-- Columns start at 50% wide on small screen and bump up to 33.3% wide on large screen -->
	<div class="row test-show-grid">
	  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
	  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
	  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
	</div>

	<!-- Columns are always 50% wide, on small screen and large screen -->
	<div class="row test-show-grid">
	  <div class="col-xs-6">.col-xs-6</div>
	  <div class="col-xs-6">.col-xs-6</div>
	</div>

	<div class="row test-show-grid">
	  <div class="col-xs-12 col-sm-6 col-md-8">.col-xs-12 .col-sm-6 .col-md-8</div>
	  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
	</div>
	<div class="row test-show-grid">
	  <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
	  <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
	  <!-- Optional: clear the XS cols if their content doesn't match in height -->
	  <div class="clearfix visible-xs-block"></div>
	  <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
	</div>

	<div class="row test-show-grid">
	  <div class="col-xs-9">.col-xs-9</div>
	  <div class="col-xs-4">.col-xs-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div>
	  <div class="col-xs-6">.col-xs-6<br>Subsequent columns continue along the new line.</div>
	</div>

	<div class="row test-show-grid">
	  <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
	  <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>

	  <!-- Add the extra clearfix for only the required viewport -->
	  <div class="clearfix visible-xs-block"></div>

	  <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
	  <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
	</div>

	<div class="row test-show-grid">
	  <div class="col-sm-5 col-md-6">.col-sm-5 .col-md-6</div>
	  <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0">.col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0</div>
	</div>

	<div class="row test-show-grid">
	  <div class="col-sm-6 col-md-5 col-lg-6">.col-sm-6 .col-md-5 .col-lg-6</div>
	  <div class="col-sm-6 col-md-5 col-md-offset-2 col-lg-6 col-lg-offset-0">.col-sm-6 .col-md-5 .col-md-offset-2 .col-lg-6 .col-lg-offset-0</div>
	</div>

	<div class="row test-show-grid">
	  <div class="col-md-4">.col-md-4</div>
	  <div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
	</div>
	<div class="row test-show-grid">
	  <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
	  <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
	</div>
	<div class="row test-show-grid">
	  <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
	</div>

	<div class="row test-show-grid">
	  <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
	  <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
	  <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0">.col-xs-6 .col-xs-offset-3 .col-sm-4 .col-sm-offset-0</div>
	</div>

	<div class="row test-show-grid">
	  <div class="col-sm-9">
	    Level 1: .col-sm-9
	    <div class="row test-show-grid">
	      <div class="col-xs-8 col-sm-6">
	        Level 2: .col-xs-8 .col-sm-6
	      </div>
	      <div class="col-xs-4 col-sm-6">
	        Level 2: .col-xs-4 .col-sm-6
	      </div>
	    </div>
	  </div>
	</div>

	<div class="row test-show-grid">
	  <div class="col-md-9 col-md-push-3">.col-md-9 .col-md-push-3</div>
	  <div class="col-md-3 col-md-pull-9">.col-md-3 .col-md-pull-9</div>
	</div>
</div><!-- /.container -->
