<a name="icons" id="icons" class="test-anchor"></a>
<div class="container">
	<p class="text--h2">Icons</p>

	<nav class="margin-top--15">
		<p><strong>Subsections:</strong></p>
		<ol>
			<li><a href="#iconsUsage">Usage</a></li>
			<li><a href="#iconsSizes">Predefined icon sizes</a></li>
			<li><a href="#iconsLogo">Website logo as SVG</a></li>
			<li><a href="#iconsSocial">Social network icons</a></li>
			<li><a href="#iconsState">State icons</a></li>
			<li><a href="#iconsFormControls">Form controls icons</a></li>
			<li><a href="#iconsOther">Other icons</a></li>
			<li><a href="#iconsRotation">Icons rotation</a></li>
		</ol>
	</nav>

	<hr>

	{% include 'testPage/icons/_usage.twig' %}

	<hr>

	{% include 'testPage/icons/_sizes.twig' %}

	<hr>

	{% include 'testPage/icons/_logo.twig' %}

	<hr>

	{% include 'testPage/icons/_social-networks.twig' %}

	<hr>

	{% include 'testPage/icons/_state.twig' %}

	<hr>

	{% include 'testPage/icons/_form-controls.twig' %}

	<hr>

	{% include 'testPage/icons/_other.twig' %}

	<hr>

	{% include 'testPage/icons/_rotation.twig' %}

</div><!-- ./container -->
