<a name="jbox" id="jbox" class="test-anchor"></a>
<div class="container">
	<p class="text--h2">JBox - tooltips, small modals & notices</p>

	<nav class="margin-top--15">
		<p><strong>Subsections:</strong></p>
		<ol>
			<li><a href="#jboxUsage">General usage info</a></li>
			<li><a href="#jboxTooltips">Tooltips</a></li>
			<li><a href="#jboxModals">Small modals</a></li>
			<li><a href="#jboxNotices">Notices</a></li>
		</ol>
	</nav>

	<hr>
	
	{% include 'testPage/jbox/_usage.twig' %}

	<hr>

	{% include 'testPage/jbox/_tooltips.twig' %}

	<hr>

	{% include 'testPage/jbox/_modals.twig' %}

	<hr>

	{% include 'testPage/jbox/_notices.twig' %}

</div><!-- ./container -->
