{% import '_macros/__forms.twig' as forms %}

<a name="jsforms" id="jsforms" class="test-anchor"></a>
<div class="container">
	<p class="text--h2">JS forms</p>
	
	<nav class="margin-top--15">
		<p><strong>Subsections:</strong></p>
		<ol>
			<li><a href="#jsformsControlsValidation">Single form controls validation</a></li>
			<li><a href="#jsformsFormsValidation">Forms validation</a></li>
			<li><a href="#jsformsFormsWithinForms">Forms within forms</a></li>
			<li><a href="#jsformsEverything">Putting it all together</a></li>
		</ol>
	</nav>

	<hr>


<!-- ########################
# 
# #Single form controls validation
#
######################### -->
	<a name="jsformsControlsValidation" id="jsformsControlsValidation" class="test-anchor"></a>
	<p class="text--h3">Single form controls validation</p>

	<hr>


<!-- ########################
# 
# #Forms validation
#
######################### -->
	<a name="jsformsFormsValidation" id="jsformsFormsValidation" class="test-anchor"></a>
	<p class="text--h3">Forms validation</p>

	<hr>

<!-- ########################
# 
# #Forms within forms
#
######################### -->
	<a name="jsformsFormsWithinForms" id="jsformsFormsWithinForms" class="test-anchor"></a>
	<p class="text--h3">Forms within forms</p>

	<hr>


<!-- ########################
# 
# #Putting it all together
#
######################### -->
	<a name="jsformsEverything" id="jsformsEverything" class="test-anchor"></a>
	<p class="text--h3">Putting it all together</p>


</div>
