{% import '_macros/__loader.twig' as loader %}
<a name="loaders" id="loaders" class="test-anchor"></a>
<div class="container">
	<p class="text--h2">Loaders</p>

	<nav class="margin-top--15">
		<p><strong>Subsections:</strong></p>
		<ol>
			<li><a href="#loadersUsage">Usage</a></li>
			<li><a href="#loadersSizes">Predefined loader sizes</a></li>
			<li><a href="#loadersColors">Predefined loader colors</a></li>
			<li><a href="#loadersInline">Inline loader placement</a></li>
			<li><a href="#loadersInside">Loader inside a container</a></li>
		</ol>
	</nav>

	<hr>
	
	{% include 'testPage/loaders/_usage.twig' %}

	<hr>

	{% include 'testPage/loaders/_sizes.twig' %}

	<hr>

	{% include 'testPage/loaders/_colors.twig' %}

	<hr>

	{% include 'testPage/loaders/_inline.twig' %}

	<hr>

	{% include 'testPage/loaders/_inside.twig' %}
	
</div><!-- ./container -->
