<a name="modals" id="modals" class="test-anchor"></a>
<div class="container">
	<p class="text--h2">Modals</p>
	<p class="margin-top--15">Modals are fully responsive and are able to self-position themselves in a page center when they are initialized. General modals' styles are set in <code class="text--overflow">less/product/modal.less</code> file.</p>

	<nav class="margin-top--15">
		<p><strong>Subsections:</strong></p>
		<ol>
			<li><a href="#modalsCreate">Creating HTML for a modal</a></li>
			<li><a href="#modalsAuto">Automatic modal instantiation</a></li>
			<li><a href="#modalsManual">Manual modal instantiation</a></li>
			<li><a href="#modalsActions">Launching / switching / closing modals</a></li>
		</ol>
	</nav>

	<hr>

	{% include 'testPage/modals/_create.twig' %}

	<hr>

	{% include 'testPage/modals/_auto.twig' %}

	<hr>

	{% include 'testPage/modals/_manual.twig' %}

	<hr>

	{% include 'testPage/modals/_actions.twig' %}
	
</div><!-- ./container -->
