{% import '_macros/__loader.twig' as loader %}

<a name="sticky" id="sticky" class="test-anchor"></a>
<div class="container">
	<p class="text--h2">Sticky wrapper</p>
	<p class="margin-top--15">Sticky wrapper is a CSS utility that allows you to create containers having sticky headers and/or footers, with content centered vertically or stretched to 100% height.</p>

	<nav class="margin-top--15">
		<p><strong>Subsections:</strong></p>
		<ol>
			<li><a href="#stickyBasic">Basic HTML structure</a></li>
			<li><a href="#stickyLong">Content higher than <code class="text--nowrap">sticky-wrapper</code></a></li>
			<li><a href="#stickyCentered">Vertically centered content</a></li>
			<li><a href="#stickyLoader">Loader inside a <code class="text--nowrap">sticky-wrapper</code></a></li>
			<li><a href="#stickyNested">Nested sticky wrappers</a></li>
		</ol>
	</nav>

	<div class="[ alert alert--warning ]  margin-top--20">Styles for Sticky wrapper utility are <strong>not</strong> included in CSS codebase. You need to include them manually wherever you need to use this utility (<code class="text--nowrap">@import product/sticky-wrapper</code>).</div>

	<hr>

	{% include 'testPage/sticky-wrapper/_basic.twig' %}

	<hr>

	{% include 'testPage/sticky-wrapper/_long.twig' %}

	<hr>

	{% include 'testPage/sticky-wrapper/_centered.twig' %}
	
	<hr>

	{% include 'testPage/sticky-wrapper/_loader.twig' %}
	
	<hr>

	{% include 'testPage/sticky-wrapper/_nested.twig' %}

</div><!-- ./container -->
