<a name="typography" id="typography" class="test-anchor"></a>
<div class="container">
	<p class="text--h2">Typography</p>
	<p class="margin-top--15">As a rule of thumb, the styles boilerplate of this website does not set any explicite styling on semantic HTML elements to spare the developer the need to overwrite the defaults when styling website's components - for example, see "Headers" part below. Therefore default typography styling is kept as raw as possible.</p>

	<nav class="margin-top--15">
		<p><strong>Subsections:</strong></p>
		<ol>
			<li><a href="#typographyFontStack">Font stack</a></li>
			<li><a href="#typographyHeaders">Headers</a></li>
			<li><a href="#typographyParagraphs">Paragraphs</a></li>
			<li><a href="#typographyTextModifiers">Text modifiers</a></li>
			<li><a href="#typographyLists">Lists</a></li>
			<li><a href="#typographyAbbreviations">Abbreviations</a></li>
			<li><a href="#typographyAddresses">Addresses</a></li>
		</ol>
	</nav>

	<hr>

	{% include 'testPage/typography/_font-stack.twig' %}

	<hr>

	{% include 'testPage/typography/_header.twig' %}
	
	<hr>

	{% include 'testPage/typography/_paragraphs.twig' %}

	<hr>

	{% include 'testPage/typography/_modifiers.twig' %}

	<hr>

	{% include 'testPage/typography/_lists.twig' %}

	<hr>

	{% include 'testPage/typography/_description.twig' %}

	<hr>

	{% include 'testPage/typography/_abbreviations.twig' %}

	<hr>

	{% include 'testPage/typography/_addresses.twig' %}

</div><!-- ./container -->
