{% extends '_layouts/_default.twig' %}

{% block styles %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ attribute(BIACONFIG.build.css, 'test.css') }}">
	<link rel="stylesheet" href="{{ BIACONFIG.app.VENDOR_PATH }}/highlight/styles/github.css">
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
	<div class="container">
		<p class="text--h1 margin-top--50">Visual styleguide</p>
	</div>
		
	<nav class="test-navigation">
		<div class="container">
			<ul class="list--inline">
				<li><strong>Sections:</strong></li>
				<li><a href="#colors">Colors</a></li>
				<li><a href="#typography">Typography</a></li>
				<li><a href="#tables">Tables</a></li>
				<li><a href="#icons">Icons</a></li>
				<li><a href="#alerts">Alerts</a></li>
				<li><a href="#buttons">Buttons</a></li>
				<li><a href="#forms">Forms</a></li>
				<li><a href="#jsforms">JS Forms</a></li>
				<li><a href="#jbox">JBox - tooltips, small modals & notices</a></li>
				<li><a href="#loaders">Loaders</a></li>
				<li><a href="#modals">Modals</a></li>
				<li><a href="#sticky">Sticky wrapper</a></li>
				<li><a href="#grid">Grid system</a></li>
			</ul>
		</div>
	</nav>

	<hr>

	{% include 'testPage/_colors.twig' %}

	<hr>

	{% include 'testPage/_typography.twig' %}

	<hr>

	{% include 'testPage/_tables.twig' %}

	<hr>

	{% include 'testPage/_icons.twig' %}

	<hr>

	{% include 'testPage/_alerts.twig' %}

	<hr>

	{% include 'testPage/_buttons.twig' %}

	<hr>
	
	{% include 'testPage/_forms.twig' %}

	<hr>

	{% include 'testPage/_js-forms.twig' %}

	<hr>

	{% include 'testPage/_jbox.twig' %}

	<hr>

	{% include 'testPage/_loaders.twig' %}

	<hr>

	{% include 'testPage/_modals.twig' %}
	
	<hr>

	{% include 'testPage/_sticky-wrapper.twig' %}

	<hr>

	{% include 'testPage/_grid.twig' %}

{% endblock %}

{% block modals %}
	{% include 'testPage/modals/modals/_example-simple.twig' %}
	{% include 'testPage/modals/modals/_example-common-padding.twig' %}
	{% include 'testPage/modals/modals/_example-closing-button.twig' %}
	{% include 'testPage/modals/modals/_example-non-scrolling.twig' %}
	{% include 'testPage/modals/modals/_example-actions-1.twig' %}
	{% include 'testPage/modals/modals/_example-actions-2.twig' %}
{% endblock %}

{% block scriptsBodyBottom %}
	{{ parent() }}
	<script src="{{ attribute(BIACONFIG.build.js, 'test.js') }}"></script>
	<script src="{{ BIACONFIG.app.VENDOR_PATH }}/highlight/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
