{% extends '_layouts/_default.twig' %}
{% import '_macros/__forms.twig' as forms %}
{% import '_macros/__uploader.twig' as uploader %}

{% block content %}

{{ forms.start({
'ACTION': '/back_office/financial/send' ~ (debug ? '?debug=1'),
'METHOD': 'post',
'ENCTYPE': 'multipart/form-data',
'AUTOCOMPLETE': 'off'
}) }}

<div class="container">
    <div class="panel panel--content-padding-big [ margin-top--20 margin-bottom--30 ]">
        <div class="panel__header">
            <h3 class="panel__title">{{ seo.PAGE_TITLE|raw }}</h3>
            <div class="panel__header-actions">
                <a class="[ btn btn--m btn--slate-light ]  [ text--uppercase text--bold ]"
                   href="{{ links.supplierListing.URL }}"><span>Go to User List</span><span
                            class="icon icon--white icon--wedge icon--cw-90"></span></a>
            </div>
        </div>
        <div class="panel__content">
            <fieldset>
                <legend class="bg--white">Request Form</legend>

                <div class="[ edit-layout edit-layout--multi-column edit-layout--image ]  margin-top--20">
                    <div class="edit-layout__content">

                        <div class="row  [ width-lg--75 width-xl--65 ]">
                            <div class="col-xs-12">
                                
                                <p>
                                    Click send if you want to receive your money<br/><br/><br/>
                                </p>

                                <div class="horizontal-form-group">
                                    <p>Amount:  {{ data.amount }}</p>
                                </div>
                                
                            </div><!-- /.col- -->
                        </div><!-- /.row -->

                    </div><!-- /.edit-layout__content -->
                </div><!-- /.edit-layout -->
            </fieldset>

            <div class="edit-actions">
                <div class="btn-group">
                    <button class="[ btn btn--l btn--primary ]  [ text--uppercase text--bold ]  js-unload-prevention-whitelisted"
                            type="submit"><span class="icon icon--white icon--tick"></span><span>{{ MODE == 'add' ? 'Add User' : 'Send Request' }}</span>
                    </button>
                    <a class="[ btn btn--l btn--secondary ]  [ text--uppercase text--bold ]"
                       href="/back_office/dashboard"><span class="icon icon--white icon--x"></span><span>Cancel</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

{{ forms.end({}) }}
{% endblock %}