{% import '_macros/__forms.twig' as forms %}

{{ listingFilters.start({
  'FORM_ACTION':  '/back_office/loremipsum' ~ (debug ? '?debug=1')
}) }}

  <div class="col-xs-12 col-sm-5">
    {{ forms.group({
      'TYPE': 'text',
      'SIZE': 'm',
      'PLACEHOLDER': 'Search by attribute name',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true
    }) }}
  </div>

{{ listingFilters.end({
  'actions': {
    'FILTER_BUTTON': true,
    'RESET_HREF': '#'
  },
  'ONE_LINE_WITH_FILTERS': true,
  'containerClasses': [
    'col-sm-7'
  ]
}) }}
