{% extends '_layouts/_default.twig' %}
{% import '_macros/__listing-filters.twig' as listingFilters %}
{% import '_macros/__listing-table.twig' as listingTable %}

{% block content %}
  <div class="container  [ margin-top--20 margin-bottom--30 ]  [ width-lg--75 width-xl--65 ]">
    {% include 'attributesListingPage/_filters.twig' %}
  </div>

  <div class="container  margin-top--20  [ width-lg--75 width-xl--65 ]">
    {{ listingTable.listingHeader({
      'TABLE_ID': 'listingTable',
      'TITLE': 'Attributes list',
      'buttons': [{
        'HREF': '#',
        'LABEL': 'Add Attribute',
        'buttonClasses': ['btn--primary'],
        'iconClasses': [
          'icon--o-plus',
          'icon--white'
        ]
      }]
    }) }}
      {{ listingTable.table({
        'TABLE_ID': 'listingTable',
        'structure': [
          { 'TYPE': 'checkbox' },
          { 'HEADER_CONTENT': 'Attribute title' },
          {
            'TYPE': 'icon-actions',
            'HEADER_CONTENT': 'Actions',
            'actions': [
              {
                'classes': [],
                'HREF': '/edit/${rowId}',
                'LABEL': 'Edit',
                'iconClasses': [
                  'icon--white',
                  'icon--pencil',
                  'icon--10'
                ]
              },
              {
                'classes': [],
                'HREF': '/delete/${rowId}',
                'LABEL': 'Delete',
                'iconClasses': [
                  'icon--white',
                  'icon--x',
                  'icon--10'
                ],
                'CONFIRM_MSG': 'Are you sure you want to delete this attribute? This cannot be undone.'
              },
              {
                'classes': [],
                'HREF': '/preview/${rowId}',
                'LABEL': 'Preview',
                'iconClasses': [
                  'icon--white',
                  'icon--eye'
                ]
              }
            ]
          }
        ],
        'data': [
          {
            'rowId': 1,
            'columns': [ 'Color' ]
          },
          {
            'rowId': 2,
            'columns': [ 'Shade' ]
          },
          {
            'rowId': 3,
            'columns': [ 'Sizes' ]
          },
          {
            'rowId': 4,
            'columns': [ 'Flavor' ]
          },
          {
            'rowId': 5,
            'columns': [ 'Stand' ]
          },
          {
            'rowId': 6,
            'columns': [ 'Thickness' ]
          }
        ]
      }) }}
    {{ listingTable.listingFooter({
      'TABLE_ID': 'listingTable',
      'bulkActions': [
        {
          'TEXT': 'Delete',
          'VALUE': 1
        }
      ],
      'pagination': pagination
    }) }}
  </div>
{% endblock %}
