{% import '_macros/__forms.twig' as forms %}

{{ listingFilters.start({
  'FORM_ACTION':  '/back_office/loremipsum' ~ (debug ? '?debug=1')
}) }}

  <div class="col-xs-12 col-sm-5">
    {{ forms.group({
      'TYPE': 'text',
      'SIZE': 'm',
      'PLACEHOLDER': 'Search by training name',
      'LABEL': 'Training name',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true
    }) }}
  </div>

  <div class="col-xs-12 col-sm-5">
    {{ forms.group({
      'TYPE': 'text',
      'SIZE': 'm',
      'PLACEHOLDER': 'Search by product name',
      'LABEL': 'Product name',
      'groupClasses': [
        'listing-filters__filter'
      ],
      'IS_MSG_FLOATING': true
    }) }}
  </div>

{{ listingFilters.end({
  'actions': {
    'FILTER_BUTTON': true,
    'RESET_HREF': '#'
  }
}) }}
